workflows/alteracaorepeticao-3TUiIm6bQRxYvTa9.json
{"updatedAt":"2026-05-15T03:07:46.386Z","createdAt":"2026-05-11T22:38:15.902Z","id":"3TUiIm6bQRxYvTa9","name":"alteracaoRepeticao","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0","mode":"list","cachedResultName":"Solicitação de Alterações de Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Carimbo de data/hora":"={{ $json['Carimbo de data/hora'] }}","Posto":"={{ $json.Posto }}","Qual Sistema do Posto":"={{ $json[\"Qual Sistena\"] }}","Data do Cadastro Original do Registro":"={{ $json[\"Data do Cadastro Original do Registro\"] }}","Endereço de e-mail":"={{ $json[\"Endereço de e-mail\"] }}","Nome do Solicitante":"={{ $json[\"Nome Solicitante\"] }}","Motivo da Solicitação de Inclusão/Exclusão":"=ALTERAR PARA POSTO REPETIÇÃO","Motivo da Solicitação da Alteração":"=ALTERAR PARA POSTO REPETIÇÃO O REGISTRO NOVO É {{ $json[\"Número do Registro Novo\"] }} E O ANTERIOR É {{ $json[\"Número do Registro Anterior\"] }}"},"matchingColumns":[],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Solicitante","displayName":"Nome do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistema do Posto","displayName":"Qual Sistema do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro","displayName":"Número do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA A SER INCLUIDA","displayName":"SIGLA A SER INCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA A SER EXCLUIDA","displayName":"SIGLA A SER EXCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Motivo da Solicitação de Inclusão/Exclusão","displayName":"Motivo da Solicitação de Inclusão/Exclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ATUAL","displayName":"NOME ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME NOVO","displayName":"NOME NOVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Motivo da Solicitação da Alteração","displayName":"Motivo da Solicitação da Alteração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sigla do Exame","displayName":"Sigla do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome do Exame","displayName":"Nome do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Em qual tabela lançar [TABELA]","displayName":"Em qual tabela lançar [TABELA]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR TABELA CLIENTE","displayName":"VALOR TABELA CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR TABELA REPASSE","displayName":"VALOR TABELA REPASSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA CORREÇÃO","displayName":"DATA CORREÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OK","displayName":"OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[688,16],"id":"c39818a9-511f-4855-9df0-49ae8fb32ffa","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edae9e5e-6b6b-47e5-96da-60e0d12806f8","leftValue":"={{ $json['Coluna 1'] }}","rightValue":"ok","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[432,0],"id":"e29d2d64-f144-43eb-bf24-792227593e35","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1p5rvgqBFK92byEgLsM5T2FXBN7g8Y-4D-RNkOmJQ90U","mode":"list","cachedResultName":"Formulário repetição (respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p5rvgqBFK92byEgLsM5T2FXBN7g8Y-4D-RNkOmJQ90U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1146200132,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p5rvgqBFK92byEgLsM5T2FXBN7g8Y-4D-RNkOmJQ90U/edit#gid=1146200132"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If').item.json.row_number }}","Coluna 1":"ok"},"matchingColumns":["row_number"],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Solicitante","displayName":"Nome Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistena","displayName":"Qual Sistena","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro Novo","displayName":"Número do Registro Novo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro Anterior","displayName":"Número do Registro Anterior","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Coluna 1","displayName":"Coluna 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,16],"id":"d14debe1-3cdd-4fb7-b417-8a8d82948f18","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"e4991789-3a93-48b6-843e-2f4d04e4512a","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1p5rvgqBFK92byEgLsM5T2FXBN7g8Y-4D-RNkOmJQ90U","mode":"list","cachedResultName":"Formulário repetição (respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p5rvgqBFK92byEgLsM5T2FXBN7g8Y-4D-RNkOmJQ90U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1146200132,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p5rvgqBFK92byEgLsM5T2FXBN7g8Y-4D-RNkOmJQ90U/edit#gid=1146200132"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,0],"id":"4f53676c-a38a-40f4-95e6-19b8a7b3fa1e","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"Google Sheets2":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Google Sheets2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"32f28f33-b8bb-4158-876a-7e8c7823913b","activeVersionId":"32f28f33-b8bb-4158-876a-7e8c7823913b","triggerCount":1,"shared":[{"updatedAt":"2026-05-11T22:38:15.905Z","createdAt":"2026-05-11T22:38:15.905Z","role":"workflow:owner","workflowId":"3TUiIm6bQRxYvTa9","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-11T22:40:22.000Z","createdAt":"2026-05-11T22:40:00.114Z","versionId":"32f28f33-b8bb-4158-876a-7e8c7823913b","workflowId":"3TUiIm6bQRxYvTa9","nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0","mode":"list","cachedResultName":"Solicitação de Alterações de Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Carimbo de data/hora":"={{ $json['Carimbo de data/hora'] }}","Posto":"={{ $json.Posto }}","Qual Sistema do Posto":"={{ $json[\"Qual Sistena\"] }}","Data do Cadastro Original do Registro":"={{ $json[\"Data do Cadastro Original do Registro\"] }}","Endereço de e-mail":"={{ $json[\"Endereço de e-mail\"] }}","Nome do Solicitante":"={{ $json[\"Nome Solicitante\"] }}","Motivo da Solicitação de Inclusão/Exclusão":"=ALTERAR PARA POSTO REPETIÇÃO","Motivo da Solicitação da Alteração":"=ALTERAR PARA POSTO REPETIÇÃO O REGISTRO NOVO É {{ $json[\"Número do Registro Novo\"] }} E O ANTERIOR É {{ $json[\"Número do Registro Anterior\"] }}"},"matchingColumns":[],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Solicitante","displayName":"Nome do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistema do Posto","displayName":"Qual Sistema do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro","displayName":"Número do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA A SER INCLUIDA","displayName":"SIGLA A SER INCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA A SER EXCLUIDA","displayName":"SIGLA A SER EXCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Motivo da Solicitação de Inclusão/Exclusão","displayName":"Motivo da Solicitação de Inclusão/Exclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ATUAL","displayName":"NOME ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME NOVO","displayName":"NOME NOVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Motivo da Solicitação da Alteração","displayName":"Motivo da Solicitação da Alteração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sigla do Exame","displayName":"Sigla do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome do Exame","displayName":"Nome do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Em qual tabela lançar [TABELA]","displayName":"Em qual tabela lançar [TABELA]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR TABELA CLIENTE","displayName":"VALOR TABELA CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR TABELA REPASSE","displayName":"VALOR TABELA REPASSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA CORREÇÃO","displayName":"DATA CORREÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OK","displayName":"OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[688,16],"id":"c39818a9-511f-4855-9df0-49ae8fb32ffa","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"edae9e5e-6b6b-47e5-96da-60e0d12806f8","leftValue":"={{ $json['Coluna 1'] }}","rightValue":"ok","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[432,0],"id":"e29d2d64-f144-43eb-bf24-792227593e35","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1p5rvgqBFK92byEgLsM5T2FXBN7g8Y-4D-RNkOmJQ90U","mode":"list","cachedResultName":"Formulário repetição (respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p5rvgqBFK92byEgLsM5T2FXBN7g8Y-4D-RNkOmJQ90U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1146200132,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p5rvgqBFK92byEgLsM5T2FXBN7g8Y-4D-RNkOmJQ90U/edit#gid=1146200132"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If').item.json.row_number }}","Coluna 1":"ok"},"matchingColumns":["row_number"],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Solicitante","displayName":"Nome Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistena","displayName":"Qual Sistena","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro Novo","displayName":"Número do Registro Novo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro Anterior","displayName":"Número do Registro Anterior","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Coluna 1","displayName":"Coluna 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,16],"id":"d14debe1-3cdd-4fb7-b417-8a8d82948f18","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"e4991789-3a93-48b6-843e-2f4d04e4512a","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1p5rvgqBFK92byEgLsM5T2FXBN7g8Y-4D-RNkOmJQ90U","mode":"list","cachedResultName":"Formulário repetição (respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p5rvgqBFK92byEgLsM5T2FXBN7g8Y-4D-RNkOmJQ90U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1146200132,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1p5rvgqBFK92byEgLsM5T2FXBN7g8Y-4D-RNkOmJQ90U/edit#gid=1146200132"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,0],"id":"4f53676c-a38a-40f4-95e6-19b8a7b3fa1e","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"Google Sheets2":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Google Sheets2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version 32f28f33","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}