workflows/alteração-SnH67WaH3n8xdbbd.json
{"updatedAt":"2026-05-27T19:44:13.315Z","createdAt":"2026-05-11T03:34:49.323Z","id":"SnH67WaH3n8xdbbd","name":"Alteração","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0","mode":"list","cachedResultName":"Solicitação de Alterações de Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Carimbo de data/hora":"={{ $json['Carimbo de data/hora'] }}","Endereço de e-mail":"={{ $json['Endereço de e-mail'] }}","Nome do Solicitante":"={{ $json['Nome do Solicitante'] }}","Posto":"={{ $json.Posto }}","Qual Sistema do Posto":"={{ $json['Qual Sistema do Posto'] }}","Data do Cadastro Original do Registro":"={{ $json['Data do Cadastro Original do Registro'] }}","Número do Registro":"={{ $json['Número do Registro'] }}","SIGLA A SER INCLUIDA":"={{ $json[\"SIGLA A SER INCLUIDA\"] }}","SIGLA A SER EXCLUIDA":"={{ $json[\"SIGLA A SER EXCLUIDA\"] }}","Motivo da Solicitação de Inclusão/Exclusão":"={{ $json[\"Motivo da Solicitação de Inclusão/Exclusão\"] }}","NOME ATUAL":"={{ $json[\"NOME ATUAL\"] }}","NOME NOVO":"={{ $json[\"NOME NOVO\"] }}","Motivo da Solicitação da Alteração":"={{ $json[\"Motivo da Solicitação da Alteração\"] }}","Sigla do Exame":"={{ $json[\"Sigla do Exame\"] }}","Nome do Exame":"={{ $json[\"Nome do Exame\"] }}","Em qual tabela lançar [TABELA]":"={{ $json[\"Em qual tabela lançar [TABELA]\"] }}","VALOR TABELA CLIENTE":"={{ $json[\"VALOR TABELA CLIENTE\"] }}","VALOR TABELA REPASSE":"={{ $json[\"VALOR TABELA REPASSE\"] }}"},"matchingColumns":["Carimbo de data/hora"],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Solicitante","displayName":"Nome do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistema do Posto","displayName":"Qual Sistema do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro","displayName":"Número do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER INCLUIDA","displayName":"SIGLA A SER INCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SIGLA A SER EXCLUIDA","displayName":"SIGLA A SER EXCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Motivo da Solicitação de Inclusão/Exclusão","displayName":"Motivo da Solicitação de Inclusão/Exclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ATUAL","displayName":"NOME ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME NOVO","displayName":"NOME NOVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Motivo da Solicitação da Alteração","displayName":"Motivo da Solicitação da Alteração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sigla do Exame","displayName":"Sigla do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Exame","displayName":"Nome do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Em qual tabela lançar [TABELA]","displayName":"Em qual tabela lançar [TABELA]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR TABELA CLIENTE","displayName":"VALOR TABELA CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR TABELA REPASSE","displayName":"VALOR TABELA REPASSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA CORREÇÃO","displayName":"DATA CORREÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"OK","displayName":"OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[560,-224],"id":"a7b7a771-8c3e-430e-989e-9c15f91f6763","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 6-18 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-112,-224],"id":"8a7dbf77-902e-4965-97ed-65c0593fc642","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E","mode":"list","cachedResultName":"Formulário Alterações(respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":967224090,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit#gid=967224090"},"filtersUI":{"values":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,-224],"id":"52eee6da-266d-4fc1-8188-a642e836ac50","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6fdf3e63-afe8-4f95-9c42-49b82d31d258","leftValue":"={{ String($json[\"Carimbo de data/hora\"]).slice(0, 10) === new Date().toLocaleDateString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" }) }}","rightValue":"={{ new Date().toLocaleDateString(\"sv-SE\", { timeZone: \"America/Sao_Paulo\" }) }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[304,-224],"id":"9d50d880-8284-43a7-a2ec-bdbc81a7f5f5","name":"If"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timezone":"America/Sao_Paulo"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E","sheetId":967224090,"lastIndexChecked":973},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fce90575-0626-4c7a-8d15-fe14a916e2d8","activeVersionId":"fce90575-0626-4c7a-8d15-fe14a916e2d8","triggerCount":1,"shared":[{"updatedAt":"2026-05-11T03:34:49.325Z","createdAt":"2026-05-11T03:34:49.325Z","role":"workflow:owner","workflowId":"SnH67WaH3n8xdbbd","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-27T19:44:22.000Z","createdAt":"2026-05-27T19:44:13.316Z","versionId":"fce90575-0626-4c7a-8d15-fe14a916e2d8","workflowId":"SnH67WaH3n8xdbbd","nodes":[{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0","mode":"list","cachedResultName":"Solicitação de Alterações de Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Carimbo de data/hora":"={{ $json['Carimbo de data/hora'] }}","Endereço de e-mail":"={{ $json['Endereço de e-mail'] }}","Nome do Solicitante":"={{ $json['Nome do Solicitante'] }}","Posto":"={{ $json.Posto }}","Qual Sistema do Posto":"={{ $json['Qual Sistema do Posto'] }}","Data do Cadastro Original do Registro":"={{ $json['Data do Cadastro Original do Registro'] }}","Número do Registro":"={{ $json['Número do Registro'] }}","SIGLA A SER INCLUIDA":"={{ $json[\"SIGLA A SER INCLUIDA\"] }}","SIGLA A SER EXCLUIDA":"={{ $json[\"SIGLA A SER EXCLUIDA\"] }}","Motivo da Solicitação de Inclusão/Exclusão":"={{ $json[\"Motivo da Solicitação de Inclusão/Exclusão\"] }}","NOME ATUAL":"={{ $json[\"NOME ATUAL\"] }}","NOME NOVO":"={{ $json[\"NOME NOVO\"] }}","Motivo da Solicitação da Alteração":"={{ $json[\"Motivo da Solicitação da Alteração\"] }}","Sigla do Exame":"={{ $json[\"Sigla do Exame\"] }}","Nome do Exame":"={{ $json[\"Nome do Exame\"] }}","Em qual tabela lançar [TABELA]":"={{ $json[\"Em qual tabela lançar [TABELA]\"] }}","VALOR TABELA CLIENTE":"={{ $json[\"VALOR TABELA CLIENTE\"] }}","VALOR TABELA REPASSE":"={{ $json[\"VALOR TABELA REPASSE\"] }}"},"matchingColumns":["Carimbo de data/hora"],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Solicitante","displayName":"Nome do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistema do Posto","displayName":"Qual Sistema do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro","displayName":"Número do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER INCLUIDA","displayName":"SIGLA A SER INCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SIGLA A SER EXCLUIDA","displayName":"SIGLA A SER EXCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Motivo da Solicitação de Inclusão/Exclusão","displayName":"Motivo da Solicitação de Inclusão/Exclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ATUAL","displayName":"NOME ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME NOVO","displayName":"NOME NOVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Motivo da Solicitação da Alteração","displayName":"Motivo da Solicitação da Alteração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Sigla do Exame","displayName":"Sigla do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome do Exame","displayName":"Nome do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Em qual tabela lançar [TABELA]","displayName":"Em qual tabela lançar [TABELA]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR TABELA CLIENTE","displayName":"VALOR TABELA CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR TABELA REPASSE","displayName":"VALOR TABELA REPASSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA CORREÇÃO","displayName":"DATA CORREÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"OK","displayName":"OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[560,-224],"id":"a7b7a771-8c3e-430e-989e-9c15f91f6763","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 6-18 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-112,-224],"id":"8a7dbf77-902e-4965-97ed-65c0593fc642","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E","mode":"list","cachedResultName":"Formulário Alterações(respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":967224090,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit#gid=967224090"},"filtersUI":{"values":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,-224],"id":"52eee6da-266d-4fc1-8188-a642e836ac50","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6fdf3e63-afe8-4f95-9c42-49b82d31d258","leftValue":"={{ String($json[\"Carimbo de data/hora\"]).slice(0, 10) === new Date().toLocaleDateString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" }) }}","rightValue":"={{ new Date().toLocaleDateString(\"sv-SE\", { timeZone: \"America/Sao_Paulo\" }) }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[304,-224],"id":"9d50d880-8284-43a7-a2ec-bdbc81a7f5f5","name":"If"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version fce90575","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}