workflows/at&tic_resultados-V1gQvHBHXFtTv4Sa.json
{"updatedAt":"2026-05-23T20:16:38.386Z","createdAt":"2026-05-12T00:11:32.361Z","id":"V1gQvHBHXFtTv4Sa","name":"At&tic_resultados","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1yd8mkdErRuDyMN5Q5p3myLym9XboFY7A' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,-416],"id":"f2070e54-02d1-4e3c-8379-23057e5ccd2a","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[688,-416],"id":"c10a62e0-9edf-42c1-9144-ad36d3dfba18","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[464,-432],"id":"5ef40553-dd88-4f17-a814-0f322a77aea2","name":"Loop Over Items"},{"parameters":{"jsCode":"// =======================================================\n// EXPLODIR PACIENTES POR EXAME\n// Entrada esperada:\n// {\n//   area,\n//   posto,\n//   dataCadastro,\n//   registroCadastro,\n//   nomePaciente,\n//   exame: {\n//     ex1: \"B12(LIB)\",\n//     ex2: \"T4L(LIB)\"\n//   },\n//   _idx,\n//   _totalRegistros\n// }\n//\n// Saída:\n// 1 item por exame, com:\n// exameUnico: \"B12\"\n// status: \"LIBERADO\"\n// =======================================================\n\nconst entrada = $input.all().map(item => item.json);\n\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .trim()\n    .replace(/\\s+/g, \" \");\n}\n\nfunction extrairStatus(exameOriginal) {\n  const texto = normalizarTexto(exameOriginal).toUpperCase();\n\n  const match = texto.match(/\\(([^)]*)\\)/);\n\n  const codigoStatus = match\n    ? String(match[1] || \"\").trim().toUpperCase()\n    : \"\";\n\n  if (codigoStatus === \"LIB\") {\n    return {\n      codigoStatus,\n      status: \"LIBERADO\"\n    };\n  }\n\n  if (codigoStatus === \"6\") {\n    return {\n      codigoStatus,\n      status: \"PENDENTE\"\n    };\n  }\n\n  return {\n    codigoStatus: \"\",\n    status: \"INDEFINIDO\"\n  };\n}\n\nfunction limparNomeExame(exameOriginal) {\n  return normalizarTexto(exameOriginal)\n    .replace(/\\([^)]*\\)/g, \"\")\n    .trim()\n    .toUpperCase();\n}\n\nfunction obterListaExames(exame) {\n  if (!exame) return [];\n\n  // Caso venha como array\n  if (Array.isArray(exame)) {\n    return exame.filter(Boolean);\n  }\n\n  // Caso venha como objeto: { ex1: \"...\", ex2: \"...\" }\n  if (typeof exame === \"object\") {\n    return Object.keys(exame)\n      .sort((a, b) => {\n        const numA = Number(String(a).replace(/\\D/g, \"\")) || 0;\n        const numB = Number(String(b).replace(/\\D/g, \"\")) || 0;\n        return numA - numB;\n      })\n      .map(chave => exame[chave])\n      .filter(Boolean);\n  }\n\n  // Caso venha como string\n  if (typeof exame === \"string\") {\n    return exame\n      .split(/,|;|\\n/)\n      .map(e => e.trim())\n      .filter(Boolean);\n  }\n\n  return [];\n}\n\nconst resultado = [];\n\nfor (const item of entrada) {\n  const exames = obterListaExames(item.exame);\n\n  // Se não tiver exame, retorna uma linha INDEFINIDA\n  if (exames.length === 0) {\n    resultado.push({\n      json: {\n        ...item,\n\n        exameOriginal: \"\",\n        exameUnico: \"\",\n        codigoStatus: \"\",\n        status: \"INDEFINIDO\",\n\n        _idxExame: 1,\n        _totalExamesPaciente: 0\n      }\n    });\n\n    continue;\n  }\n\n  exames.forEach((exameOriginal, index) => {\n    const { codigoStatus, status } = extrairStatus(exameOriginal);\n\n    resultado.push({\n      json: {\n        area: item.area,\n        posto: item.posto,\n        dataCadastro: item.dataCadastro,\n        registroCadastro: item.registroCadastro,\n        nomePaciente: item.nomePaciente,\n\n        exameOriginal: normalizarTexto(exameOriginal),\n        exameUnico: limparNomeExame(exameOriginal),\n\n        codigoStatus,\n        status,\n\n        _idxPaciente: item._idx,\n        _totalRegistros: item._totalRegistros,\n\n        _idxExame: index + 1,\n        _totalExamesPaciente: exames.length\n      }\n    });\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,-416],"id":"7acf9d7c-0291-4e11-a35a-ca1bd472687c","name":"Code2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"RESULTADO NO SISTEMA":"=AT&TIC - {{ $now.setZone('America/Recife').toFormat('dd/LL/yyyy HH:mm:ss') }}","row_number":"={{ $json.input2_row_number }}","STATUS DA AMOSTRA":"={{ $json.input1_status }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ALTERAÇÕES DE CADASTRO","displayName":"ALTERAÇÕES DE CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2080,-464],"id":"06b5afd3-9f0f-443e-b0b1-b55ee0f3f522","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/10 8-17 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-176,-304],"id":"b36f6976-b858-48a7-b9d9-634193be3d4e","name":"Schedule Trigger1"},{"parameters":{"jsCode":"// ======================================================\n// MATCH por 3 chaves\n// ✅ Retorna SOMENTE os itens do INPUT1 que NÃO deram match com INPUT2\n// ✅ Retorna todas as chaves do INPUT1\n// ✅ Retorna chaves do INPUT2 vazias quando não houver match\n// ======================================================\n\nconst norm = (v) =>\n  String(v ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toLowerCase();\n\nfunction extrairDataBR(valor) {\n  if (!valor) return \"\";\n\n  const texto = String(valor).trim();\n\n  // Pega data no formato DD/MM/AAAA\n  const m = texto.match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n\n  return m ? m[1] : texto;\n}\n\n// ======================================================\n// CHAVE INPUT 1\n// Campos esperados:\n// dataCadastro\n// registroCadastro\n// exameUnico\n// ======================================================\nfunction makeKeyFromInput1(row) {\n  const data = norm(extrairDataBR(row[\"dataCadastro\"]));\n  const codigo = norm(row[\"registroCadastro\"]);\n  const exame = norm(row[\"exameUnico\"]);\n\n  return {\n    data,\n    codigo,\n    exame,\n    chave: `${data}♦${codigo}♦${exame}`\n  };\n}\n\n// ======================================================\n// CHAVE INPUT 2\n// Campos esperados:\n// Data do Cadastro\n// Registro do Paciente\n// SIGLA\n// ======================================================\nfunction makeKeyFromInput2(row) {\n  const data = norm(extrairDataBR(row[\"Data do Cadastro\"]));\n  const codigo = norm(row[\"Registro do Paciente\"]);\n  const exame = norm(row[\"SIGLA\"]);\n\n  return {\n    data,\n    codigo,\n    exame,\n    chave: `${data}♦${codigo}♦${exame}`\n  };\n}\n\nconst input1 = $input.all(0);\nconst input2 = $input.all(1);\n\n// ======================================================\n// INDEXA INPUT2 PELA CHAVE\n// ======================================================\nconst indexInput2 = new Map();\n\nfor (const item of input2) {\n  const row2 = item.json || {};\n  const chave2 = makeKeyFromInput2(row2);\n\n  if (!chave2.chave || chave2.chave === \"♦♦\") continue;\n\n  if (!indexInput2.has(chave2.chave)) {\n    indexInput2.set(chave2.chave, []);\n  }\n\n  indexInput2.get(chave2.chave).push({\n    row: row2,\n    chaves: chave2\n  });\n}\n\nconst output = [];\n\n// ======================================================\n// PERCORRE INPUT1 E RETORNA SOMENTE OS QUE NÃO DERAM MATCH\n// ======================================================\nfor (const item of input1) {\n  const row1 = item.json || {};\n  const chave1 = makeKeyFromInput1(row1);\n\n  if (!chave1.chave || chave1.chave === \"♦♦\") continue;\n\n  const matchesInput2 = indexInput2.get(chave1.chave) || [];\n  const teveMatch = matchesInput2.length > 0;\n\n  if (!teveMatch) {\n    output.push({\n      json: {\n        teveMatch: false,\n        motivo: \"Registro existe no input1, mas não foi encontrado no input2\",\n\n        // Chave completa usada no match\n        chaveMatch: chave1.chave,\n\n        // Chaves separadas do input1\n        input1_chave_data: chave1.data,\n        input1_chave_codigo: chave1.codigo,\n        input1_chave_exame: chave1.exame,\n        input1_chave_completa: chave1.chave,\n\n        // Chaves do input2 vazias, pois não houve match\n        input2_chave_data: \"\",\n        input2_chave_codigo: \"\",\n        input2_chave_exame: \"\",\n        input2_chave_completa: \"\",\n\n        // Dados originais do input1 com prefixo\n        ...Object.fromEntries(\n          Object.entries(row1).map(([k, v]) => [`input1_${k}`, v])\n        )\n      }\n    });\n  }\n}\n\n// ======================================================\n// SE TODOS DO INPUT1 DERAM MATCH\n// ======================================================\nif (output.length === 0) {\n  return [\n    {\n      json: {\n        teveMatch: true,\n        mensagem: \"Todos os registros do input1 deram match com o input2\"\n      }\n    }\n  ];\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,-128],"id":"31465c43-8e05-4109-8a08-0fbe07fd2b7d","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1600,-288],"id":"32573665-359d-42cb-8eb8-f770d7bfe59c","name":"Merge"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('MOVER').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[464,-64],"id":"02239dca-6c8d-4680-be4d-aeee8eec821e","name":"Google Drive9","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2320,-464],"id":"48b344e9-c7ca-48e3-a9da-4873ce389e2e"},{"parameters":{"content":"# FLUXO AT&TIC RESULTADOS\n## PEGAR ARQUIVO NA PASTA E PREENCHE PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n","height":796,"width":4072},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,-624],"id":"5a5a833d-6597-46a9-adb0-e392693d4397","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[880,-416],"id":"b61c2c43-d3fa-4725-ace7-63c47b41a4f9","name":"Extract text1","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ALTERAÇÕES DE CADASTRO","lookupValue":"FALTA RESULTADO"},{"lookupColumn":"SISTEMA","lookupValue":"AT&TIC"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1280,-96],"id":"f656b1b1-8e98-4022-bbd1-63c9cce81f67","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"// =======================================================\n// LABOVIDA Pendências OCR -> JSON estruturado\n// Entrada aceita:\n// - $json.extractedText\n// - $json.pages[].markdown\n// - $json.markdown\n// - $json.text\n// - ou array vindo em $input\n// =======================================================\n\nconst itensEntrada = $input.all().map(item => item.json);\n\n// =======================================================\n// 1) Junta todo o texto OCR recebido\n// =======================================================\nfunction obterTextoOCR(json) {\n  if (!json) return \"\";\n\n  if (json.extractedText) {\n    return String(json.extractedText);\n  }\n\n  if (Array.isArray(json.pages)) {\n    return json.pages\n      .map(p => p.markdown || p.text || \"\")\n      .filter(Boolean)\n      .join(\"\\n\");\n  }\n\n  if (json.markdown) {\n    return String(json.markdown);\n  }\n\n  if (json.text) {\n    return String(json.text);\n  }\n\n  return \"\";\n}\n\nlet textoCompleto = \"\";\n\nfor (const item of itensEntrada) {\n  // Caso venha como array dentro do primeiro item\n  if (Array.isArray(item)) {\n    for (const sub of item) {\n      textoCompleto += \"\\n\" + obterTextoOCR(sub);\n    }\n  } else {\n    textoCompleto += \"\\n\" + obterTextoOCR(item);\n  }\n}\n\ntextoCompleto = String(textoCompleto || \"\")\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\\u00A0/g, \" \")\n  .replace(/[ \\t]+/g, \" \")\n  .trim();\n\n// =======================================================\n// 2) Funções auxiliares\n// =======================================================\nfunction limparCampo(valor) {\n  return String(valor || \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizarExame(exame) {\n  return String(exame || \"\")\n    .replace(/\\s+/g, \"\")\n    .replace(/\\(\\s+/g, \"(\")\n    .replace(/\\s+\\)/g, \")\")\n    .trim()\n    .toUpperCase();\n}\n\n// Captura exames no padrão:\n// B12(LIB), T4L(LIB), 25OHD(LIB), COAGU(6), HB1AC(6)\n// E também exames incompletos no final, como TGP\nfunction extrairExames(texto) {\n  const s = String(texto || \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n  const exames = [];\n\n  // Exames com parênteses\n  const regexComParen = /\\b[A-Z0-9]{1,12}\\s*\\(\\s*(?:LIB|6)\\s*\\)/gi;\n  let match;\n\n  while ((match = regexComParen.exec(s)) !== null) {\n    exames.push(normalizarExame(match[0]));\n  }\n\n  // Remove exames já encontrados para checar se sobrou exame sem parênteses\n  let restante = s.replace(regexComParen, \" \").replace(/\\s+/g, \" \").trim();\n\n  // Lista de exames conhecidos que às vezes vêm quebrados sem (LIB)\n  const examesConhecidosSemParen = [\n    \"TGP\", \"TGO\", \"GLIS\", \"HEMO\", \"CRE\", \"URE\", \"SU\", \"B12\",\n    \"T4L\", \"TSH\", \"PCR\", \"CA\", \"GGT\", \"IONO\", \"HP\", \"CTFT\",\n    \"HB1AC\", \"FE\", \"TAP\", \"BHCG\", \"URICU\", \"COAGU\", \"VSH\"\n  ];\n\n  for (const ex of examesConhecidosSemParen) {\n    const re = new RegExp(`\\\\b${ex}\\\\b`, \"i\");\n    if (re.test(restante) && !exames.includes(ex)) {\n      exames.push(ex);\n    }\n  }\n\n  return exames;\n}\n\nfunction montarObjetoExames(lista) {\n  const obj = {};\n\n  lista.forEach((exame, index) => {\n    obj[`ex${index + 1}`] = exame;\n  });\n\n  return obj;\n}\n\n// =======================================================\n// 3) Extrai linhas da tabela\n// =======================================================\nconst linhas = textoCompleto\n  .split(\"\\n\")\n  .map(l => limparCampo(l))\n  .filter(Boolean);\n\n// =======================================================\n// 4) Processa registros\n// =======================================================\nconst registros = [];\nconst chavesVistas = new Set();\n\nfor (const linhaOriginal of linhas) {\n  let linha = linhaOriginal;\n\n  // Ignora cabeçalhos e separadores\n  if (/^LABOVIDA$/i.test(linha)) continue;\n  if (/Bancada/i.test(linha)) continue;\n  if (/Relat[oó]rio de Pend[eê]ncias/i.test(linha)) continue;\n  if (/Data de impress[aã]o/i.test(linha)) continue;\n  if (/Usu[aá]rio/i.test(linha)) continue;\n  if (/^\\|\\s*-+/.test(linha)) continue;\n  if (/^\\|\\s*---/.test(linha)) continue;\n\n  // Só processa linhas que começam com tabela:\n  // | 3 | 115 | 07/04/2026 | 11540927 | ...\n  if (!/^\\|\\s*\\d+\\s*\\|\\s*\\d+\\s*\\|\\s*\\d{2}\\/\\d{2}\\/\\d{4}\\s*\\|\\s*\\d+/.test(linha)) {\n    continue;\n  }\n\n  // Remove primeira e última barra da tabela\n  linha = linha.replace(/^\\|/, \"\").replace(/\\|$/, \"\").trim();\n\n  const partes = linha\n    .split(\"|\")\n    .map(p => limparCampo(p));\n\n  if (partes.length < 5) continue;\n\n  const areaRaw = partes[0];\n  const postoRaw = partes[1];\n  const dataCadastro = partes[2];\n  const registroCadastro = String(partes[3] || \"\").replace(/\\D/g, \"\");\n\n  let nomePaciente = limparCampo(partes[4]);\n  let textoExames = limparCampo(partes.slice(5).join(\" \"));\n\n  // =====================================================\n  // Caso OCR coloque exames junto com o nome, exemplo:\n  // WILLIAM DOUGLAS PEREIRA DA SILVA CSURE(LIB) EXDIP(LIB)\n  // =====================================================\n  const posPrimeiroExameNoNome = nomePaciente.search(/\\b[A-Z0-9]{1,12}\\s*\\(\\s*(?:LIB|6)\\s*\\)/i);\n\n  if (posPrimeiroExameNoNome !== -1) {\n    const parteNome = nomePaciente.slice(0, posPrimeiroExameNoNome).trim();\n    const parteExames = nomePaciente.slice(posPrimeiroExameNoNome).trim();\n\n    nomePaciente = limparCampo(parteNome);\n    textoExames = limparCampo(`${parteExames} ${textoExames}`);\n  }\n\n  const examesLista = extrairExames(textoExames);\n\n  const area = Number(areaRaw);\n  const posto = Number(postoRaw);\n\n  if (!area || !posto || !dataCadastro || !registroCadastro || !nomePaciente) {\n    continue;\n  }\n\n  const chave = [\n    area,\n    posto,\n    dataCadastro,\n    registroCadastro,\n    nomePaciente\n  ].join(\"|\");\n\n  if (chavesVistas.has(chave)) {\n    continue;\n  }\n\n  chavesVistas.add(chave);\n\n  registros.push({\n    area,\n    posto,\n    dataCadastro,\n    registroCadastro,\n    nomePaciente,\n    exame: montarObjetoExames(examesLista)\n  });\n}\n\n// =======================================================\n// 5) Retorno final: um item por paciente\n// =======================================================\nreturn registros.map((registro, index) => ({\n  json: {\n    ...registro,\n    _idx: index + 1,\n    _totalRegistros: registros.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-416],"id":"872eb207-1d72-4366-bcfc-3db9634b8270","name":"Code3"},{"parameters":{"jsCode":"// ======================================================\n// MATCH por 3 chaves\n// ✅ Retorna SOMENTE os itens do INPUT1 que deram match com INPUT2\n// ✅ Retorna todas as chaves dos dois inputs\n// ======================================================\n\nconst norm = (v) =>\n  String(v ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toLowerCase();\n\nfunction extrairDataBR(valor) {\n  if (!valor) return \"\";\n\n  const texto = String(valor).trim();\n\n  // Pega data no formato DD/MM/AAAA\n  const m = texto.match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n\n  return m ? m[1] : texto;\n}\n\n// ======================================================\n// CHAVE INPUT 1\n// Campos esperados:\n// dataCadastro\n// registroCadastro\n// sigla\n// ======================================================\nfunction makeKeyFromInput1(row) {\n  const data = norm(extrairDataBR(row[\"dataCadastro\"]));\n  const codigo = norm(row[\"registroCadastro\"]);\n  const exame = norm(row[\"exameUnico\"]);\n\n  return {\n    data,\n    codigo,\n    exame,\n    chave: `${data}♦${codigo}♦${exame}`\n  };\n}\n\n// ======================================================\n// CHAVE INPUT 2\n// Campos esperados:\n// Data do Cadastro\n// Registro do Paciente\n// SIGLA\n// ======================================================\nfunction makeKeyFromInput2(row) {\n  const data = norm(extrairDataBR(row[\"Data do Cadastro\"]));\n  const codigo = norm(row[\"Registro do Paciente\"]);\n  const exame = norm(row[\"SIGLA\"]);\n\n  return {\n    data,\n    codigo,\n    exame,\n    chave: `${data}♦${codigo}♦${exame}`\n  };\n}\n\nconst input1 = $input.all(0);\nconst input2 = $input.all(1);\n\n// ======================================================\n// INDEXA INPUT2 PELA CHAVE\n// ======================================================\nconst indexInput2 = new Map();\n\nfor (const item of input2) {\n  const row2 = item.json || {};\n  const chave2 = makeKeyFromInput2(row2);\n\n  if (!chave2.chave || chave2.chave === \"♦♦\") continue;\n\n  if (!indexInput2.has(chave2.chave)) {\n    indexInput2.set(chave2.chave, []);\n  }\n\n  indexInput2.get(chave2.chave).push({\n    row: row2,\n    chaves: chave2\n  });\n}\n\nconst output = [];\n\n// ======================================================\n// PERCORRE INPUT1 E RETORNA SOMENTE OS QUE DERAM MATCH\n// ======================================================\nfor (const item of input1) {\n  const row1 = item.json || {};\n  const chave1 = makeKeyFromInput1(row1);\n\n  if (!chave1.chave || chave1.chave === \"♦♦\") continue;\n\n  const matchesInput2 = indexInput2.get(chave1.chave) || [];\n\n  if (matchesInput2.length > 0) {\n    for (const match of matchesInput2) {\n      output.push({\n        json: {\n          teveMatch: true,\n\n          // Chave completa usada no match\n          chaveMatch: chave1.chave,\n\n          // Chaves separadas do input1\n          input1_chave_data: chave1.data,\n          input1_chave_codigo: chave1.codigo,\n          input1_chave_exame: chave1.exame,\n          input1_chave_completa: chave1.chave,\n\n          // Chaves separadas do input2\n          input2_chave_data: match.chaves.data,\n          input2_chave_codigo: match.chaves.codigo,\n          input2_chave_exame: match.chaves.exame,\n          input2_chave_completa: match.chaves.chave,\n\n          // Dados originais do input1 com prefixo\n          ...Object.fromEntries(\n            Object.entries(row1).map(([k, v]) => [`input1_${k}`, v])\n          ),\n\n          // Dados originais do input2 com prefixo\n          ...Object.fromEntries(\n            Object.entries(match.row).map(([k, v]) => [`input2_${k}`, v])\n          )\n        }\n      });\n    }\n  }\n}\n\n// ======================================================\n// SE NÃO HOUVER MATCH\n// ======================================================\nif (output.length === 0) {\n  return [\n    {\n      json: {\n        teveMatch: false,\n        mensagem: \"Nenhum item do input1 deu match com o input2\"\n      }\n    }\n  ];\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,-464],"id":"832120d6-f2ec-4b52-bc4a-4a9911416050","name":"Code in JavaScript2"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'1yd8mkdErRuDyMN5Q5p3myLym9XboFY7A' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,-64],"id":"41c89fbc-6a89-456b-bc91-f2a7b4d5d153","name":"MOVER","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}}],"connections":{"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Drive1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0},{"node":"MOVER","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Google Sheets1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Google Drive9":{"main":[[],[]]},"Extract text1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code3":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"MOVER":{"main":[[{"node":"Google Drive9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dd43d896-653b-4ed5-b584-16a6f3016c95","activeVersionId":"dd43d896-653b-4ed5-b584-16a6f3016c95","triggerCount":1,"shared":[{"updatedAt":"2026-05-12T00:11:32.364Z","createdAt":"2026-05-12T00:11:32.364Z","role":"workflow:owner","workflowId":"V1gQvHBHXFtTv4Sa","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-23T20:16:41.000Z","createdAt":"2026-05-23T20:16:38.387Z","versionId":"dd43d896-653b-4ed5-b584-16a6f3016c95","workflowId":"V1gQvHBHXFtTv4Sa","nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1yd8mkdErRuDyMN5Q5p3myLym9XboFY7A' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,-416],"id":"f2070e54-02d1-4e3c-8379-23057e5ccd2a","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[688,-416],"id":"c10a62e0-9edf-42c1-9144-ad36d3dfba18","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[464,-432],"id":"5ef40553-dd88-4f17-a814-0f322a77aea2","name":"Loop Over Items"},{"parameters":{"jsCode":"// =======================================================\n// EXPLODIR PACIENTES POR EXAME\n// Entrada esperada:\n// {\n//   area,\n//   posto,\n//   dataCadastro,\n//   registroCadastro,\n//   nomePaciente,\n//   exame: {\n//     ex1: \"B12(LIB)\",\n//     ex2: \"T4L(LIB)\"\n//   },\n//   _idx,\n//   _totalRegistros\n// }\n//\n// Saída:\n// 1 item por exame, com:\n// exameUnico: \"B12\"\n// status: \"LIBERADO\"\n// =======================================================\n\nconst entrada = $input.all().map(item => item.json);\n\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .trim()\n    .replace(/\\s+/g, \" \");\n}\n\nfunction extrairStatus(exameOriginal) {\n  const texto = normalizarTexto(exameOriginal).toUpperCase();\n\n  const match = texto.match(/\\(([^)]*)\\)/);\n\n  const codigoStatus = match\n    ? String(match[1] || \"\").trim().toUpperCase()\n    : \"\";\n\n  if (codigoStatus === \"LIB\") {\n    return {\n      codigoStatus,\n      status: \"LIBERADO\"\n    };\n  }\n\n  if (codigoStatus === \"6\") {\n    return {\n      codigoStatus,\n      status: \"PENDENTE\"\n    };\n  }\n\n  return {\n    codigoStatus: \"\",\n    status: \"INDEFINIDO\"\n  };\n}\n\nfunction limparNomeExame(exameOriginal) {\n  return normalizarTexto(exameOriginal)\n    .replace(/\\([^)]*\\)/g, \"\")\n    .trim()\n    .toUpperCase();\n}\n\nfunction obterListaExames(exame) {\n  if (!exame) return [];\n\n  // Caso venha como array\n  if (Array.isArray(exame)) {\n    return exame.filter(Boolean);\n  }\n\n  // Caso venha como objeto: { ex1: \"...\", ex2: \"...\" }\n  if (typeof exame === \"object\") {\n    return Object.keys(exame)\n      .sort((a, b) => {\n        const numA = Number(String(a).replace(/\\D/g, \"\")) || 0;\n        const numB = Number(String(b).replace(/\\D/g, \"\")) || 0;\n        return numA - numB;\n      })\n      .map(chave => exame[chave])\n      .filter(Boolean);\n  }\n\n  // Caso venha como string\n  if (typeof exame === \"string\") {\n    return exame\n      .split(/,|;|\\n/)\n      .map(e => e.trim())\n      .filter(Boolean);\n  }\n\n  return [];\n}\n\nconst resultado = [];\n\nfor (const item of entrada) {\n  const exames = obterListaExames(item.exame);\n\n  // Se não tiver exame, retorna uma linha INDEFINIDA\n  if (exames.length === 0) {\n    resultado.push({\n      json: {\n        ...item,\n\n        exameOriginal: \"\",\n        exameUnico: \"\",\n        codigoStatus: \"\",\n        status: \"INDEFINIDO\",\n\n        _idxExame: 1,\n        _totalExamesPaciente: 0\n      }\n    });\n\n    continue;\n  }\n\n  exames.forEach((exameOriginal, index) => {\n    const { codigoStatus, status } = extrairStatus(exameOriginal);\n\n    resultado.push({\n      json: {\n        area: item.area,\n        posto: item.posto,\n        dataCadastro: item.dataCadastro,\n        registroCadastro: item.registroCadastro,\n        nomePaciente: item.nomePaciente,\n\n        exameOriginal: normalizarTexto(exameOriginal),\n        exameUnico: limparNomeExame(exameOriginal),\n\n        codigoStatus,\n        status,\n\n        _idxPaciente: item._idx,\n        _totalRegistros: item._totalRegistros,\n\n        _idxExame: index + 1,\n        _totalExamesPaciente: exames.length\n      }\n    });\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,-416],"id":"7acf9d7c-0291-4e11-a35a-ca1bd472687c","name":"Code2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"RESULTADO NO SISTEMA":"=AT&TIC - {{ $now.setZone('America/Recife').toFormat('dd/LL/yyyy HH:mm:ss') }}","row_number":"={{ $json.input2_row_number }}","STATUS DA AMOSTRA":"={{ $json.input1_status }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ALTERAÇÕES DE CADASTRO","displayName":"ALTERAÇÕES DE CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2080,-464],"id":"06b5afd3-9f0f-443e-b0b1-b55ee0f3f522","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/10 8-17 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-176,-304],"id":"b36f6976-b858-48a7-b9d9-634193be3d4e","name":"Schedule Trigger1"},{"parameters":{"jsCode":"// ======================================================\n// MATCH por 3 chaves\n// ✅ Retorna SOMENTE os itens do INPUT1 que NÃO deram match com INPUT2\n// ✅ Retorna todas as chaves do INPUT1\n// ✅ Retorna chaves do INPUT2 vazias quando não houver match\n// ======================================================\n\nconst norm = (v) =>\n  String(v ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toLowerCase();\n\nfunction extrairDataBR(valor) {\n  if (!valor) return \"\";\n\n  const texto = String(valor).trim();\n\n  // Pega data no formato DD/MM/AAAA\n  const m = texto.match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n\n  return m ? m[1] : texto;\n}\n\n// ======================================================\n// CHAVE INPUT 1\n// Campos esperados:\n// dataCadastro\n// registroCadastro\n// exameUnico\n// ======================================================\nfunction makeKeyFromInput1(row) {\n  const data = norm(extrairDataBR(row[\"dataCadastro\"]));\n  const codigo = norm(row[\"registroCadastro\"]);\n  const exame = norm(row[\"exameUnico\"]);\n\n  return {\n    data,\n    codigo,\n    exame,\n    chave: `${data}♦${codigo}♦${exame}`\n  };\n}\n\n// ======================================================\n// CHAVE INPUT 2\n// Campos esperados:\n// Data do Cadastro\n// Registro do Paciente\n// SIGLA\n// ======================================================\nfunction makeKeyFromInput2(row) {\n  const data = norm(extrairDataBR(row[\"Data do Cadastro\"]));\n  const codigo = norm(row[\"Registro do Paciente\"]);\n  const exame = norm(row[\"SIGLA\"]);\n\n  return {\n    data,\n    codigo,\n    exame,\n    chave: `${data}♦${codigo}♦${exame}`\n  };\n}\n\nconst input1 = $input.all(0);\nconst input2 = $input.all(1);\n\n// ======================================================\n// INDEXA INPUT2 PELA CHAVE\n// ======================================================\nconst indexInput2 = new Map();\n\nfor (const item of input2) {\n  const row2 = item.json || {};\n  const chave2 = makeKeyFromInput2(row2);\n\n  if (!chave2.chave || chave2.chave === \"♦♦\") continue;\n\n  if (!indexInput2.has(chave2.chave)) {\n    indexInput2.set(chave2.chave, []);\n  }\n\n  indexInput2.get(chave2.chave).push({\n    row: row2,\n    chaves: chave2\n  });\n}\n\nconst output = [];\n\n// ======================================================\n// PERCORRE INPUT1 E RETORNA SOMENTE OS QUE NÃO DERAM MATCH\n// ======================================================\nfor (const item of input1) {\n  const row1 = item.json || {};\n  const chave1 = makeKeyFromInput1(row1);\n\n  if (!chave1.chave || chave1.chave === \"♦♦\") continue;\n\n  const matchesInput2 = indexInput2.get(chave1.chave) || [];\n  const teveMatch = matchesInput2.length > 0;\n\n  if (!teveMatch) {\n    output.push({\n      json: {\n        teveMatch: false,\n        motivo: \"Registro existe no input1, mas não foi encontrado no input2\",\n\n        // Chave completa usada no match\n        chaveMatch: chave1.chave,\n\n        // Chaves separadas do input1\n        input1_chave_data: chave1.data,\n        input1_chave_codigo: chave1.codigo,\n        input1_chave_exame: chave1.exame,\n        input1_chave_completa: chave1.chave,\n\n        // Chaves do input2 vazias, pois não houve match\n        input2_chave_data: \"\",\n        input2_chave_codigo: \"\",\n        input2_chave_exame: \"\",\n        input2_chave_completa: \"\",\n\n        // Dados originais do input1 com prefixo\n        ...Object.fromEntries(\n          Object.entries(row1).map(([k, v]) => [`input1_${k}`, v])\n        )\n      }\n    });\n  }\n}\n\n// ======================================================\n// SE TODOS DO INPUT1 DERAM MATCH\n// ======================================================\nif (output.length === 0) {\n  return [\n    {\n      json: {\n        teveMatch: true,\n        mensagem: \"Todos os registros do input1 deram match com o input2\"\n      }\n    }\n  ];\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,-128],"id":"31465c43-8e05-4109-8a08-0fbe07fd2b7d","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1600,-288],"id":"32573665-359d-42cb-8eb8-f770d7bfe59c","name":"Merge"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('MOVER').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[464,-64],"id":"02239dca-6c8d-4680-be4d-aeee8eec821e","name":"Google Drive9","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2320,-464],"id":"48b344e9-c7ca-48e3-a9da-4873ce389e2e"},{"parameters":{"content":"# FLUXO AT&TIC RESULTADOS\n## PEGAR ARQUIVO NA PASTA E PREENCHE PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n","height":796,"width":4072},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,-624],"id":"5a5a833d-6597-46a9-adb0-e392693d4397","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[880,-416],"id":"b61c2c43-d3fa-4725-ace7-63c47b41a4f9","name":"Extract text1","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ALTERAÇÕES DE CADASTRO","lookupValue":"FALTA RESULTADO"},{"lookupColumn":"SISTEMA","lookupValue":"AT&TIC"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1280,-96],"id":"f656b1b1-8e98-4022-bbd1-63c9cce81f67","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"// =======================================================\n// LABOVIDA Pendências OCR -> JSON estruturado\n// Entrada aceita:\n// - $json.extractedText\n// - $json.pages[].markdown\n// - $json.markdown\n// - $json.text\n// - ou array vindo em $input\n// =======================================================\n\nconst itensEntrada = $input.all().map(item => item.json);\n\n// =======================================================\n// 1) Junta todo o texto OCR recebido\n// =======================================================\nfunction obterTextoOCR(json) {\n  if (!json) return \"\";\n\n  if (json.extractedText) {\n    return String(json.extractedText);\n  }\n\n  if (Array.isArray(json.pages)) {\n    return json.pages\n      .map(p => p.markdown || p.text || \"\")\n      .filter(Boolean)\n      .join(\"\\n\");\n  }\n\n  if (json.markdown) {\n    return String(json.markdown);\n  }\n\n  if (json.text) {\n    return String(json.text);\n  }\n\n  return \"\";\n}\n\nlet textoCompleto = \"\";\n\nfor (const item of itensEntrada) {\n  // Caso venha como array dentro do primeiro item\n  if (Array.isArray(item)) {\n    for (const sub of item) {\n      textoCompleto += \"\\n\" + obterTextoOCR(sub);\n    }\n  } else {\n    textoCompleto += \"\\n\" + obterTextoOCR(item);\n  }\n}\n\ntextoCompleto = String(textoCompleto || \"\")\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\\u00A0/g, \" \")\n  .replace(/[ \\t]+/g, \" \")\n  .trim();\n\n// =======================================================\n// 2) Funções auxiliares\n// =======================================================\nfunction limparCampo(valor) {\n  return String(valor || \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizarExame(exame) {\n  return String(exame || \"\")\n    .replace(/\\s+/g, \"\")\n    .replace(/\\(\\s+/g, \"(\")\n    .replace(/\\s+\\)/g, \")\")\n    .trim()\n    .toUpperCase();\n}\n\n// Captura exames no padrão:\n// B12(LIB), T4L(LIB), 25OHD(LIB), COAGU(6), HB1AC(6)\n// E também exames incompletos no final, como TGP\nfunction extrairExames(texto) {\n  const s = String(texto || \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n  const exames = [];\n\n  // Exames com parênteses\n  const regexComParen = /\\b[A-Z0-9]{1,12}\\s*\\(\\s*(?:LIB|6)\\s*\\)/gi;\n  let match;\n\n  while ((match = regexComParen.exec(s)) !== null) {\n    exames.push(normalizarExame(match[0]));\n  }\n\n  // Remove exames já encontrados para checar se sobrou exame sem parênteses\n  let restante = s.replace(regexComParen, \" \").replace(/\\s+/g, \" \").trim();\n\n  // Lista de exames conhecidos que às vezes vêm quebrados sem (LIB)\n  const examesConhecidosSemParen = [\n    \"TGP\", \"TGO\", \"GLIS\", \"HEMO\", \"CRE\", \"URE\", \"SU\", \"B12\",\n    \"T4L\", \"TSH\", \"PCR\", \"CA\", \"GGT\", \"IONO\", \"HP\", \"CTFT\",\n    \"HB1AC\", \"FE\", \"TAP\", \"BHCG\", \"URICU\", \"COAGU\", \"VSH\"\n  ];\n\n  for (const ex of examesConhecidosSemParen) {\n    const re = new RegExp(`\\\\b${ex}\\\\b`, \"i\");\n    if (re.test(restante) && !exames.includes(ex)) {\n      exames.push(ex);\n    }\n  }\n\n  return exames;\n}\n\nfunction montarObjetoExames(lista) {\n  const obj = {};\n\n  lista.forEach((exame, index) => {\n    obj[`ex${index + 1}`] = exame;\n  });\n\n  return obj;\n}\n\n// =======================================================\n// 3) Extrai linhas da tabela\n// =======================================================\nconst linhas = textoCompleto\n  .split(\"\\n\")\n  .map(l => limparCampo(l))\n  .filter(Boolean);\n\n// =======================================================\n// 4) Processa registros\n// =======================================================\nconst registros = [];\nconst chavesVistas = new Set();\n\nfor (const linhaOriginal of linhas) {\n  let linha = linhaOriginal;\n\n  // Ignora cabeçalhos e separadores\n  if (/^LABOVIDA$/i.test(linha)) continue;\n  if (/Bancada/i.test(linha)) continue;\n  if (/Relat[oó]rio de Pend[eê]ncias/i.test(linha)) continue;\n  if (/Data de impress[aã]o/i.test(linha)) continue;\n  if (/Usu[aá]rio/i.test(linha)) continue;\n  if (/^\\|\\s*-+/.test(linha)) continue;\n  if (/^\\|\\s*---/.test(linha)) continue;\n\n  // Só processa linhas que começam com tabela:\n  // | 3 | 115 | 07/04/2026 | 11540927 | ...\n  if (!/^\\|\\s*\\d+\\s*\\|\\s*\\d+\\s*\\|\\s*\\d{2}\\/\\d{2}\\/\\d{4}\\s*\\|\\s*\\d+/.test(linha)) {\n    continue;\n  }\n\n  // Remove primeira e última barra da tabela\n  linha = linha.replace(/^\\|/, \"\").replace(/\\|$/, \"\").trim();\n\n  const partes = linha\n    .split(\"|\")\n    .map(p => limparCampo(p));\n\n  if (partes.length < 5) continue;\n\n  const areaRaw = partes[0];\n  const postoRaw = partes[1];\n  const dataCadastro = partes[2];\n  const registroCadastro = String(partes[3] || \"\").replace(/\\D/g, \"\");\n\n  let nomePaciente = limparCampo(partes[4]);\n  let textoExames = limparCampo(partes.slice(5).join(\" \"));\n\n  // =====================================================\n  // Caso OCR coloque exames junto com o nome, exemplo:\n  // WILLIAM DOUGLAS PEREIRA DA SILVA CSURE(LIB) EXDIP(LIB)\n  // =====================================================\n  const posPrimeiroExameNoNome = nomePaciente.search(/\\b[A-Z0-9]{1,12}\\s*\\(\\s*(?:LIB|6)\\s*\\)/i);\n\n  if (posPrimeiroExameNoNome !== -1) {\n    const parteNome = nomePaciente.slice(0, posPrimeiroExameNoNome).trim();\n    const parteExames = nomePaciente.slice(posPrimeiroExameNoNome).trim();\n\n    nomePaciente = limparCampo(parteNome);\n    textoExames = limparCampo(`${parteExames} ${textoExames}`);\n  }\n\n  const examesLista = extrairExames(textoExames);\n\n  const area = Number(areaRaw);\n  const posto = Number(postoRaw);\n\n  if (!area || !posto || !dataCadastro || !registroCadastro || !nomePaciente) {\n    continue;\n  }\n\n  const chave = [\n    area,\n    posto,\n    dataCadastro,\n    registroCadastro,\n    nomePaciente\n  ].join(\"|\");\n\n  if (chavesVistas.has(chave)) {\n    continue;\n  }\n\n  chavesVistas.add(chave);\n\n  registros.push({\n    area,\n    posto,\n    dataCadastro,\n    registroCadastro,\n    nomePaciente,\n    exame: montarObjetoExames(examesLista)\n  });\n}\n\n// =======================================================\n// 5) Retorno final: um item por paciente\n// =======================================================\nreturn registros.map((registro, index) => ({\n  json: {\n    ...registro,\n    _idx: index + 1,\n    _totalRegistros: registros.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,-416],"id":"872eb207-1d72-4366-bcfc-3db9634b8270","name":"Code3"},{"parameters":{"jsCode":"// ======================================================\n// MATCH por 3 chaves\n// ✅ Retorna SOMENTE os itens do INPUT1 que deram match com INPUT2\n// ✅ Retorna todas as chaves dos dois inputs\n// ======================================================\n\nconst norm = (v) =>\n  String(v ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toLowerCase();\n\nfunction extrairDataBR(valor) {\n  if (!valor) return \"\";\n\n  const texto = String(valor).trim();\n\n  // Pega data no formato DD/MM/AAAA\n  const m = texto.match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n\n  return m ? m[1] : texto;\n}\n\n// ======================================================\n// CHAVE INPUT 1\n// Campos esperados:\n// dataCadastro\n// registroCadastro\n// sigla\n// ======================================================\nfunction makeKeyFromInput1(row) {\n  const data = norm(extrairDataBR(row[\"dataCadastro\"]));\n  const codigo = norm(row[\"registroCadastro\"]);\n  const exame = norm(row[\"exameUnico\"]);\n\n  return {\n    data,\n    codigo,\n    exame,\n    chave: `${data}♦${codigo}♦${exame}`\n  };\n}\n\n// ======================================================\n// CHAVE INPUT 2\n// Campos esperados:\n// Data do Cadastro\n// Registro do Paciente\n// SIGLA\n// ======================================================\nfunction makeKeyFromInput2(row) {\n  const data = norm(extrairDataBR(row[\"Data do Cadastro\"]));\n  const codigo = norm(row[\"Registro do Paciente\"]);\n  const exame = norm(row[\"SIGLA\"]);\n\n  return {\n    data,\n    codigo,\n    exame,\n    chave: `${data}♦${codigo}♦${exame}`\n  };\n}\n\nconst input1 = $input.all(0);\nconst input2 = $input.all(1);\n\n// ======================================================\n// INDEXA INPUT2 PELA CHAVE\n// ======================================================\nconst indexInput2 = new Map();\n\nfor (const item of input2) {\n  const row2 = item.json || {};\n  const chave2 = makeKeyFromInput2(row2);\n\n  if (!chave2.chave || chave2.chave === \"♦♦\") continue;\n\n  if (!indexInput2.has(chave2.chave)) {\n    indexInput2.set(chave2.chave, []);\n  }\n\n  indexInput2.get(chave2.chave).push({\n    row: row2,\n    chaves: chave2\n  });\n}\n\nconst output = [];\n\n// ======================================================\n// PERCORRE INPUT1 E RETORNA SOMENTE OS QUE DERAM MATCH\n// ======================================================\nfor (const item of input1) {\n  const row1 = item.json || {};\n  const chave1 = makeKeyFromInput1(row1);\n\n  if (!chave1.chave || chave1.chave === \"♦♦\") continue;\n\n  const matchesInput2 = indexInput2.get(chave1.chave) || [];\n\n  if (matchesInput2.length > 0) {\n    for (const match of matchesInput2) {\n      output.push({\n        json: {\n          teveMatch: true,\n\n          // Chave completa usada no match\n          chaveMatch: chave1.chave,\n\n          // Chaves separadas do input1\n          input1_chave_data: chave1.data,\n          input1_chave_codigo: chave1.codigo,\n          input1_chave_exame: chave1.exame,\n          input1_chave_completa: chave1.chave,\n\n          // Chaves separadas do input2\n          input2_chave_data: match.chaves.data,\n          input2_chave_codigo: match.chaves.codigo,\n          input2_chave_exame: match.chaves.exame,\n          input2_chave_completa: match.chaves.chave,\n\n          // Dados originais do input1 com prefixo\n          ...Object.fromEntries(\n            Object.entries(row1).map(([k, v]) => [`input1_${k}`, v])\n          ),\n\n          // Dados originais do input2 com prefixo\n          ...Object.fromEntries(\n            Object.entries(match.row).map(([k, v]) => [`input2_${k}`, v])\n          )\n        }\n      });\n    }\n  }\n}\n\n// ======================================================\n// SE NÃO HOUVER MATCH\n// ======================================================\nif (output.length === 0) {\n  return [\n    {\n      json: {\n        teveMatch: false,\n        mensagem: \"Nenhum item do input1 deu match com o input2\"\n      }\n    }\n  ];\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,-464],"id":"832120d6-f2ec-4b52-bc4a-4a9911416050","name":"Code in JavaScript2"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'1yd8mkdErRuDyMN5Q5p3myLym9XboFY7A' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,-64],"id":"41c89fbc-6a89-456b-bc91-f2a7b4d5d153","name":"MOVER","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}}],"connections":{"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Drive1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0},{"node":"MOVER","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Google Sheets1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Google Drive9":{"main":[[],[]]},"Extract text1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code3":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"MOVER":{"main":[[{"node":"Google Drive9","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version dd43d896","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}