workflows/at&tic_resultados-V1gQvHBHXFtTv4Sa.json
{"updatedAt":"2026-05-15T03:05:59.462Z","createdAt":"2026-05-12T00:11:32.361Z","id":"V1gQvHBHXFtTv4Sa","name":"At&tic_resultados","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://host.docker.internal:5004/ocr","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,240],"id":"927855a5-2b63-416b-9c8a-8320de5eb7d0","name":"TESSERACT","retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1yd8mkdErRuDyMN5Q5p3myLym9XboFY7A' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,-416],"id":"f2070e54-02d1-4e3c-8379-23057e5ccd2a","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[688,-416],"id":"c10a62e0-9edf-42c1-9144-ad36d3dfba18","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyBHkZ_G5V3aNEbJs5DqNdxCaAIArW1ZnzQ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini1","type":"n8n-nodes-base.httpRequest","position":[1344,224],"id":"b4c7f008-4401-4719-8708-e8bf75b6fd99","typeVersion":4.2,"retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Normaliza\nresposta = String(resposta).trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Extrai o array JSON pelo primeiro [ e último ]\nconst start = resposta.indexOf(\"[\");\nconst end = resposta.lastIndexOf(\"]\");\n\nif (start !== -1 && end !== -1 && end > start) {\n  const jsonBruto = resposta.substring(start, end + 1);\n\n  try {\n    const parsed = JSON.parse(jsonBruto);\n\n    // ✅ Se vier um array: retorna 1 item por registro\n    if (Array.isArray(parsed)) {\n      return parsed.map((registro, idx) => ({\n        json: {\n          ...registro,\n          _idx: idx + 1,     // opcional (ajuda debug)\n          _total: parsed.length\n        }\n      }));\n    }\n\n    // ✅ Se por algum motivo vier 1 objeto: retorna como 1 item\n    return [{ json: parsed }];\n\n  } catch (e) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ JSON encontrado, mas inválido\",\n        mensagem: e.message,\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta\n      }\n    }];\n  }\n}\n\n// Fallback: nenhum JSON detectado\nreturn [{\n  json: {\n    sucesso: false,\n    erro: \"❌ Nenhum array JSON encontrado na resposta\",\n    respostaBruta: resposta\n  }\n}];\n"},"id":"e2bb6317-f3bf-41e7-b60c-66c9f20ce79b","name":"converter resposta para json1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,208]},{"parameters":{"jsCode":"// =======================================================\n// Mistral OCR -> Prompt LABOVIDA Pendências\n// Adaptado para input com:\n// - pages[].markdown\n// - extractedText\n// - pageCount\n// =======================================================\n\nconst item = $input.first();\nconst json = item.json || {};\n\n// -------------------------\n// 1) Captura texto do novo input\n// -------------------------\nlet conteudoBruto = \"\";\n\nif (json.extractedText) {\n  conteudoBruto = json.extractedText;\n} else if (Array.isArray(json.pages)) {\n  conteudoBruto = json.pages\n    .map(p => p.markdown || \"\")\n    .filter(Boolean)\n    .join(\"\\n\\n\");\n} else if (json.markdown) {\n  conteudoBruto = json.markdown;\n} else if (json.text) {\n  conteudoBruto = json.text;\n}\n\n// -------------------------\n// 2) Normalização base\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\")\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n  .trim();\n\n// -------------------------\n// 3) Limpeza segura\n// -------------------------\nfunction limparTextoOCR(s) {\n  return String(s || \"\")\n    .replace(/^\\s*LABOVIDA\\s*$/gim, \"\")\n    .replace(/Bancada\\s*:\\s*/gi, \" \")\n    .replace(/Relat[oó]rio\\s+de\\s+Pend[eê]ncias/gi, \" \")\n    .replace(/Resumo\\s*:\\s*Pacientes\\s*atendidos\\s*:\\s*\\d+/gi, \" \")\n    .replace(/Pacientes\\s*atendidos\\s*:\\s*\\d+/gi, \" \")\n    .replace(/Data\\s*de\\s*impress[aã]o\\s*:\\s*\\d{2}\\/\\d{2}\\/\\d{4}/gi, \" \")\n    .replace(/Usu[aá]rio\\s*:\\s*[A-ZÀ-Ú\\s]+/gi, \" \")\n    .replace(/\\|\\s*-+\\s*/g, \" \")\n    .replace(/\\|\\s*/g, \" | \")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\nconst conteudoSemCabecalho = limparTextoOCR(texto);\n\n// -------------------------\n// 4) Nome do arquivo\n// -------------------------\nconst nomeArquivo =\n  json.arquivo ||\n  json.nome ||\n  json.fileName ||\n  json.filename ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// 5) Corpo final\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoSemCabecalho}\"\"\"`;\n\n// =======================================================\n// PROMPT\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: `\nVocê é um extrator de dados. Sua tarefa é transformar TEXTO OCR de \"LABOVIDA Bancada: Relatório de Pendências\" em JSON estruturado.\n\nREGRAS IMPORTANTES:\n1) Extraia CADA REGISTRO de paciente encontrado no texto.\n2) O texto pode vir em formato de tabela markdown com separador \"|\".\n3) Cada registro segue aproximadamente:\n   area | posto | dataCadastro | registroCadastro | nomePaciente | exames...\n4) Retorne APENAS JSON válido. Não use markdown. Não explique.\n\nFORMATO DE SAÍDA:\n[\n  {\n    \"area\": <number>,\n    \"posto\": <number>,\n    \"dataCadastro\": \"dd/mm/aaaa\",\n    \"registroCadastro\": \"<string_apenas_digitos>\",\n    \"nomePaciente\": \"<string>\",\n    \"exame\": {\n      \"ex1\": \"<sigla>(LIB)\",\n      \"ex2\": \"...\",\n      ...\n    }\n  }\n]\n\nCOMO EXTRAIR:\n- \"area\" = primeiro número da linha.\n- \"posto\" = segundo número da linha.\n- \"dataCadastro\" = data no formato dd/mm/aaaa.\n- \"registroCadastro\" = número após a data. Manter somente dígitos.\n- \"nomePaciente\" = texto após registroCadastro e antes do primeiro exame.\n- Exames = tokens como B12(LIB), T4L(LIB), 25OHD(LIB), HB1AC(LIB), GLIS(LIB), SU(LIB), etc.\n- Também aceite exames com \"(6)\", como B12(6), HTLV(6), GLI(6).\n- Se OCR separar o exame, normalize:\n  - \"GLIS (LIB)\" => \"GLIS(LIB)\"\n  - \"HP (LIB)\" => \"HP(LIB)\"\n  - \"TGP (LIB)\" => \"TGP(LIB)\"\n- Mantenha a ordem dos exames e enumere como ex1, ex2, ex3...\n- Se não houver exames, retorne \"exame\": {}.\n- Não duplique registros idênticos.\n\nSEGMENTAÇÃO:\n- Um novo registro começa quando aparecer:\n  area + posto + data + registro\n  Exemplo: 6 | 35 | 18/04/2026 | 3567833\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n            `.trim(),\n          },\n        ],\n      },\n    ],\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,208],"id":"a767bec0-813c-4394-ac22-c558f5c0ce33","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[464,-432],"id":"5ef40553-dd88-4f17-a814-0f322a77aea2","name":"Loop Over Items"},{"parameters":{"jsCode":"// Pega TODOS os itens de entrada (caso você já tenha vários pacientes) e separa um exame por item\nconst itens = $input.all();\n\nconst saida = [];\n\nfor (const it of itens) {\n  const j = it.json || {};\n\n  const base = {\n    area: j.area ?? null,\n    posto: j.posto ?? null,\n    dataCadastro: j.dataCadastro ?? \"\",\n    registroCadastro: j.registroCadastro ?? \"\",\n    nomePaciente: j.nomePaciente ?? \"\",\n    _idx: j._idx ?? null,\n    _total: j._total ?? null, // opcional (remova se não quiser)\n  };\n\n  const examesObj = j.exame && typeof j.exame === \"object\" ? j.exame : {};\n\n  // Ordena ex1, ex2, ex3... corretamente\n  const keysOrdenadas = Object.keys(examesObj).sort((a, b) => {\n    const na = parseInt(a.replace(/\\D/g, \"\"), 10) || 0;\n    const nb = parseInt(b.replace(/\\D/g, \"\"), 10) || 0;\n    return na - nb;\n  });\n\n  // Se não tiver exames, ainda retorna 1 item (opcional)\n  if (keysOrdenadas.length === 0) {\n    saida.push({\n      json: {\n        ...base,\n        exameKey: \"\",\n        exameValor: \"\",\n      },\n    });\n    continue;\n  }\n\n  // Cria 1 item por exame\n  for (const k of keysOrdenadas) {\n    saida.push({\n      json: {\n        ...base,\n        exameKey: k,                 // ex1, ex2...\n        exameValor: String(examesObj[k] ?? \"\").trim(), // \"B12(ENV)\"\n      },\n    });\n  }\n}\n\nreturn saida;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,208],"id":"46bb2edc-1a2b-472f-83da-bbeef7f0d873","name":"Code1"},{"parameters":{"jsCode":"// cria Status exame e sistema \n//Processa todos os itens (1 por exame)\nconst itens = $input.all();\n\n// Extrai sigla (antes do parêntese)\nfunction extrairSigla(exame) {\n  const txt = String(exame || \"\").trim();\n\n  // Pega tudo antes do primeiro \"(\"\n  const idx = txt.indexOf(\"(\");\n  if (idx === -1) return txt;\n\n  return txt.substring(0, idx).trim();\n}\n\n// Classifica status pelo código entre parênteses\nfunction classificarStatus(exame) {\n  const txt = String(exame || \"\").toUpperCase();\n\n  // Extrai o que está entre parênteses: (ENV), (PEN), (DIG), (9) etc\n  const match = txt.match(/\\(([^)]+)\\)/);\n  const codigo = match ? match[1] : \"\";\n\n  switch (codigo) {\n    case \"ENV\":\n      return \"EXAME ENVIADO\";\n    case \"PEN\":\n      return \"EXAME INTERNO\";\n    case \"DIG\":\n      return \"FALTA LIBERAR RESULTADO\";\n    case \"9\":\n      return \"ENVIO MANUAL\";\n    default:\n      return \"STATUS DESCONHECIDO\";\n  }\n}\n\nreturn itens.map(it => {\n  const j = it.json || {};\n  const exameValor = j.exameValor || \"\";\n\n  return {\n    json: {\n      ...j,\n      sigla: extrairSigla(exameValor),     // ✅ NOVA VARIÁVEL\n      statusExame: classificarStatus(exameValor),\n      sistema: \"AT&TIC\",\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,208],"id":"7acf9d7c-0291-4e11-a35a-ca1bd472687c","name":"Code2"},{"parameters":{"jsCode":"// =======================================================\n// Corrige padrões:\n// - 250HD    -> 25OHD\n// - 25O0HD   -> 25OHD\n// - HB1|AC   -> HB1AC\n// + adiciona dataHoraExecucao\n// =======================================================\n\nconst itens = $input.all();\n\nconst FIELDS = [\"sigla\", \"exameValor\", \"DESCRIÇÃO DO EXAME\"];\n\n// função de correção\nconst fix = (v) =>\n  String(v ?? \"\")\n    .replace(/25O0HD/gi, \"25OHD\")\n    .replace(/250HD/gi, \"25OHD\")\n    .replace(/HB1[\\|I\\-\\s_]*AC/gi, \"HB1AC\")\n    .replace(/\\bDAGSRH\\b/gi, \"GSRH\")\n    .replace(/\\bDOCREA\\b/gi, \"CRE\");\n\n// função data BR\nfunction dataHoraBR() {\n  const d = new Date();\n  const pad = (n) => String(n).padStart(2, \"0\");\n\n  return `${pad(d.getDate())}/${pad(d.getMonth() + 1)}/${d.getFullYear()} ${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n}\n\nreturn itens.map((item) => {\n  const json = { ...item.json };\n\n  // aplica correção nos campos\n  for (const f of FIELDS) {\n    if (json[f] !== undefined && json[f] !== null) {\n      json[f] = fix(json[f]);\n    }\n  }\n\n  // adiciona timestamp\n  json.dataHoraExecucao = dataHoraBR();\n\n  return { json };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,208],"id":"4048759e-acda-4e9b-9a7d-583cef152420","name":"Code in JavaScript3"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"RESULTADO NO SISTEMA":"={{ $json.input1_sistema }} - {{ $json.input1_dataHoraExecucao }}","row_number":"={{ $json.input2_row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2528,-208],"id":"06b5afd3-9f0f-443e-b0b1-b55ee0f3f522","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-176,-304],"id":"b36f6976-b858-48a7-b9d9-634193be3d4e","name":"Schedule Trigger1"},{"parameters":{"jsCode":"// ======================================================\n// MATCH por 3 chaves\n// ✅ Retorna SOMENTE matches\n// ❌ Se não houver nenhum match → retorna 1 item informando\n// ======================================================\n\nconst norm = (v) =>\n  String(v ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toLowerCase();\n\nfunction extrairDataBR(valor) {\n  if (!valor) return \"\";\n  const m = String(valor).match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n  return m ? m[1] : String(valor).trim();\n}\n\nfunction makeKeyFromInput1(row) {\n  const data = norm(extrairDataBR(row[\"dataCadastro\"]));\n  const codigo = norm(row[\"registroCadastro\"]);\n  const exame = norm(row[\"sigla\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nfunction makeKeyFromInput2(row) {\n  const data = norm(extrairDataBR(row[\"Data do Cadastro\"]));\n  const codigo = norm(row[\"Registro do Paciente\"]);\n  const exame = norm(row[\"SIGLA\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nconst input1 = $input.all(0);\nconst input2 = $input.all(1);\n\nconst index = new Map();\n\n// indexa input1\nfor (const item of input1) {\n  const row1 = item.json || {};\n  const key = makeKeyFromInput1(row1);\n\n  if (!key || key === \"♦♦\") continue;\n\n  if (!index.has(key)) index.set(key, []);\n  index.get(key).push(row1);\n}\n\nconst output = [];\n\n// busca matches\nfor (const item of input2) {\n  const row2 = item.json || {};\n  const key = makeKeyFromInput2(row2);\n\n  if (!key || key === \"♦♦\") continue;\n\n  const matches = index.get(key);\n  if (!matches) continue;\n\n  for (const row1 of matches) {\n    output.push({\n      json: {\n        teveMatch: true,\n        chaveMatch: key,\n\n        ...Object.fromEntries(\n          Object.entries(row1).map(([k, v]) => [`input1_${k}`, v])\n        ),\n\n        ...Object.fromEntries(\n          Object.entries(row2).map(([k, v]) => [`input2_${k}`, v])\n        ),\n      }\n    });\n  }\n}\n\n// 👉 regra final\nif (output.length === 0) {\n  return [\n    {\n      json: {\n        teveMatch: false,\n        mensagem: \"Nenhum match encontrado\"\n      }\n    }\n  ];\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,-128],"id":"31465c43-8e05-4109-8a08-0fbe07fd2b7d","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1696,-160],"id":"32573665-359d-42cb-8eb8-f770d7bfe59c","name":"Merge"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2800,-208],"id":"02239dca-6c8d-4680-be4d-aeee8eec821e","name":"Google Drive9","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyCRA_z9oBAYNZuuq1FfyIdwsvqmRw49CEc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"contents\": $json.contents } }}","options":{}},"name":"Analisar Gemini","type":"n8n-nodes-base.httpRequest","position":[1552,320],"id":"4c885945-b06c-4c46-9520-359e373f4c8f","typeVersion":4.2,"retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      sucesso: false,\n      fallbackUsado: true,\n      mensagem: \"Nenhum dos dois requests Gemini retornou com sucesso\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,416],"id":"4b3b2d87-972f-4a69-9907-2c589a967d42","name":"Code in JavaScript1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[3008,-208],"id":"48b344e9-c7ca-48e3-a9da-4873ce389e2e"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3904,544],"id":"9d057d6f-7985-4364-8fe6-373f6aba5ba7","name":"Wait","webhookId":"46fcfe85-b868-4b58-91c8-e78705a2a6f3"},{"parameters":{"content":"# FLUXO AT&TIC RESULTADOS\n## PEGAR ARQUIVO NA PASTA E PREENCHE PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n","height":796,"width":4072},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"5a5a833d-6597-46a9-adb0-e392693d4397","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[880,-416],"id":"b61c2c43-d3fa-4725-ace7-63c47b41a4f9","name":"Extract text1","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"documentId":{"__rl":true,"value":"=1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[448,752],"id":"d64e5036-e52a-44ee-8dd8-b2f639cbc163","name":"Google Sheets2"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ALTERAÇÕES DE CADASTRO","lookupValue":"FALTA RESULTADO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,-160],"id":"f656b1b1-8e98-4022-bbd1-63c9cce81f67","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt (limpeza segura de cabeçalho/rodapé LABOVIDA)\n// - Remove SOMENTE no INÍCIO/FIM do texto (head/tail):\n//   * \"LABOVIDA\"\n//   * \"Resumo: Pacientes atendidos: N\"\n//   * \"Data de impressão: dd/mm/aaaa Usuário: ...\"\n// - Não remove nada do \"miolo\" do OCR\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.extractedText || \"\";\n\n// -------------------------\n// 1) normalização base (sem apagar conteúdo útil)\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\") // se você não quiser trocar aspas, remova esta linha\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\") // remove controles\n  .trim();\n\n// -------------------------\n// 2) função: limpa cabeçalho/rodapé apenas em head/tail\n// -------------------------\nfunction limparCabecalhoRodape(s, headSize = 600, tailSize = 600) {\n  const len = s.length;\n\n  const head = s.slice(0, Math.min(headSize, len));\n  const mid = s.slice(Math.min(headSize, len), Math.max(len - tailSize, Math.min(headSize, len)));\n  const tail = s.slice(Math.max(len - tailSize, 0));\n\n  const limparBloco = (bloco) => {\n    let b = bloco;\n\n    // remove \"LABOVIDA\" quando aparece como linha isolada (mais seguro)\n    b = b.replace(/^\\s*LABOVIDA\\s*$/gim, \"\");\n\n    // remove \"LABOVIDA\" se estiver grudado no começo do bloco (cabeçalho)\n    b = b.replace(/^\\s*LABOVIDA\\s*/i, \"\");\n\n    // remove \"LABOVIDA\" se estiver grudado no fim do bloco (rodapé)\n    b = b.replace(/\\s*LABOVIDA\\s*$/i, \"\");\n\n    // remove \"Resumo: Pacientes atendidos: N\" (mesmo colado)\n    b = b.replace(/Resumo\\s*:\\s*Pacientes\\s*atendidos\\s*:\\s*\\d+\\s*/gi, \" \");\n\n    // remove \"Data de impressão: dd/mm/aaaa Usuário: XXXXX\" (mesmo colado)\n    // aqui removemos só o trecho de \"Data...\" até o final do nome do usuário\n    // limitando pelo próximo marcador comum (quebra/aspas/fim)\n    b = b.replace(\n      /Data\\s*de\\s*impress[aã]o\\s*:\\s*\\d{2}\\/\\d{2}\\/\\d{4}\\s*Usu[aá]rio\\s*:\\s*.*?(?=(\\n|'''|\"\"\"+|$))/gi,\n      \" \"\n    );\n\n    // limpa espaços\n    b = b.replace(/\\s{2,}/g, \" \").trim();\n\n    return b;\n  };\n\n  const head2 = limparBloco(head);\n  const tail2 = limparBloco(tail);\n\n  // remonta preservando o miolo intacto\n  const juntado = [head2, mid, tail2].join(\" \");\n\n  return juntado\n    .replace(/\\n+/g, \" \")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\n// aplica limpeza segura\nconst conteudoSemCabecalho = limparCabecalhoRodape(texto);\n\n// -------------------------\n// nome do arquivo\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// corpo final para o prompt\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoSemCabecalho}\"\"\"`;\n\n// =======================================================\n// PROMPT\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: `\nVocê é um extrator de dados. Sua tarefa é transformar TEXTO OCR de \"LABOVIDA Bancada: Relatório de Pendências\" em JSON estruturado.\n\nREGRAS IMPORTANTES (obrigatórias):\n1) Você receberá um ou mais blocos. Cada bloco começa com \"LABOVIDA\" e termina com \"LABOVIDA\".\n2) Extraia CADA REGISTRO (cada paciente/linha) encontrado no texto.\n3) Cada registro SEMPRE tem esta estrutura aproximada (OCR pode quebrar linhas):\n   <area> <posto> <dataCadastro dd/mm/aaaa> <registroCadastro> — <nomePaciente> <exames...>\n   - Por exemplo: \"\\n1\\n12\\n24/03/2026\\n12233269\\nMARIA ELIZIANE\\nCREA(ENV)\"\n   - O traço pode aparecer como \"—\" ou \"-\" ou pode ficar deslocado.\n   - O registroCadastro aparecer antes do traço (ex: \"12232024 — ADRIANA ...\").\n5) O posto é o bloco anterior que vem antes de \\n dd/mm/aaaa e depois \\n\n6) Retorne APENAS um JSON válido (nada de explicações, nada de markdown, nada de texto fora do JSON).\n\nFORMATO DE SAÍDA (obrigatório):\n[\n  {\n    \"area\": <number>,\n    \"posto\": <number>,\n    \"dataCadastro\": \"dd/mm/aaaa\",\n    \"registroCadastro\": \"<string_apenas_digitos>\",\n    \"nomePaciente\": \"<string>\",\n    \"exame\": {\n      \"ex1\": \"<sigla>(ENV)\",\n      \"ex2\": \"...\",\n      ...\n    }\n  },\n  ...\n]\n\nNORMALIZAÇÃO / LIMPEZA:\n- \"area\" = primeiro número do registro. \"posto\" = segundo número do registro.\n- \"registroCadastro\": manter SOMENTE dígitos (remover espaços, hífens, \"—\").\n- \"nomePaciente\": manter como aparece (pode ter acentos). Remover excesso de espaços. Não inventar nomes.\n- Exames: detectar tokens que pareçam exame, normalmente algo como \"B12(ENV)\", \"T4L(ENV)\", \"250HD(ENV)\", \"HB1AC(ENV)\" etc.\n  - Se OCR quebrar (ex: \"CRE (ENV)\" ou \"ERI (ENV)\" ou \"TRIENV)\" ), una e normalize para o padrão \"<TEXTO>(ENV)\" quando ficar claro.\n  - Aceite variações OCR como \"25O0HD(ENV)\" (com letra O) e mantenha exatamente como aparece.\n- Ordem: manter a ordem em que os exames aparecem no texto do registro e enumerar ex1..exN.\n\nSEGMENTAÇÃO (como achar onde começa/termina um registro):\n- Um novo registro começa quando aparecer um padrão com DOIS números seguidos + data:\n  Ex: /\\\\b(\\\\d+)\\\\s+(\\\\d+)\\\\s+(\\\\d{2}\\\\/\\\\d{2}\\\\/\\\\d{4})\\\\b/\n- O registro termina imediatamente antes do próximo início de registro OU fim do documento.\n\nTRATAMENTO DE FALTAS:\n- Se um registro não tiver exames, retorne \"exame\": {}.\n- Se não conseguir achar registroCadastro com segurança, ainda retorne o registro com \"registroCadastro\": \"\" (string vazia).\n- Não duplicar registros idênticos (mesmos: area, posto, dataCadastro, registroCadastro, nomePaciente).\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n            `.trim(),\n          },\n        ],\n      },\n    ],\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,48],"id":"872eb207-1d72-4366-bcfc-3db9634b8270","name":"Code3"},{"parameters":{"jsCode":"// ======================================================\n// MATCH por 3 chaves\n// ✅ Retorna SOMENTE os que NÃO deram match\n// ❌ Se todos deram match → retorna 1 item informando\n// ======================================================\n\nconst norm = (v) =>\n  String(v ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toLowerCase();\n\nfunction extrairDataBR(valor) {\n  if (!valor) return \"\";\n  const m = String(valor).match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n  return m ? m[1] : String(valor).trim();\n}\n\nfunction makeKeyFromInput1(row) {\n  const data = norm(extrairDataBR(row[\"dataCadastro\"]));\n  const codigo = norm(row[\"registroCadastro\"]);\n  const exame = norm(row[\"sigla\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nfunction makeKeyFromInput2(row) {\n  const data = norm(extrairDataBR(row[\"Data do Cadastro\"]));\n  const codigo = norm(row[\"Registro do Paciente\"]);\n  const exame = norm(row[\"SIGLA\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nconst input1 = $input.all(0);\nconst input2 = $input.all(1);\n\nconst index = new Set();\n\n// indexa input1\nfor (const item of input1) {\n  const row1 = item.json || {};\n  const key = makeKeyFromInput1(row1);\n\n  if (!key || key === \"♦♦\") continue;\n\n  index.add(key);\n}\n\nconst output = [];\n\n// retorna os que NÃO deram match no input2\nfor (const item of input2) {\n  const row2 = item.json || {};\n  const key = makeKeyFromInput2(row2);\n\n  if (!key || key === \"♦♦\") continue;\n\n  const teveMatch = index.has(key);\n\n  if (!teveMatch) {\n    output.push({\n      json: {\n        teveMatch: false,\n        chaveMatch: key,\n        motivo: \"Registro existe no input2, mas não foi encontrado no input1\",\n\n        ...Object.fromEntries(\n          Object.entries(row2).map(([k, v]) => [`input2_${k}`, v])\n        ),\n      }\n    });\n  }\n}\n\n// regra final\nif (output.length === 0) {\n  return [\n    {\n      json: {\n        teveMatch: true,\n        mensagem: \"Todos os registros do input2 deram match com o input1\"\n      }\n    }\n  ];\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2032,-400],"id":"832120d6-f2ec-4b52-bc4a-4a9911416050","name":"Code in JavaScript2"},{"parameters":{"promptType":"define","text":"=Você é um extrator de dados especializado em OCR de relatórios laboratoriais.\n\nSua tarefa é transformar o TEXTO OCR de \"LABOVIDA Bancada: Relatório de Pendências\" em um ARRAY JSON válido e estruturado.\n\nRetorne SOMENTE um ARRAY JSON válido.\n\nREGRAS ABSOLUTAS DE SAÍDA:\n- A resposta deve começar com [ e terminar com ].\n- Não use markdown.\n- Não use ```json.\n- Não explique nada.\n- Não coloque o JSON dentro de string.\n- Não retorne no campo text.\n- Não escape aspas com barra invertida.\n- Não escreva nenhum texto antes ou depois do JSON.\n- Não corte objetos pela metade.\n- Se a resposta ficar grande demais, retorne apenas os objetos completos que couberem.\n- Nunca finalize a resposta com JSON incompleto.\n- Todo objeto deve estar separado por vírgula.\n- Não deixe vírgula após o último objeto.\n\n==================================================\nFORMATO OBRIGATÓRIO DE CADA OBJETO\n==================================================\n\n{\n  \"area\": 1,\n  \"posto\": 12,\n  \"dataCadastro\": \"09/05/2026\",\n  \"registroCadastro\": \"12234239\",\n  \"nomePaciente\": \"FERNANDO ARRUDA DOS SANTOS\",\n  \"exameBloco\": {\n    \"ex1\": \"DDIME(LIB)\"\n  },\n  \"exame\": \"DDIME\",\n  \"_idx\": 1,\n  \"_total\": 1,\n  \"status\": \"LIBERADO\"\n}\n\n==================================================\nREGRA PRINCIPAL\n==================================================\n\nCada paciente pode ter um ou mais exames.\n\nPara CADA exame encontrado, retorne UM objeto separado.\n\nExemplo de registro:\n\n1 12 18/04/2026 12233828 JOELMA BATISTA DA SILVA GLIS(LIB) CTF(LIB)\n\nComo existem 2 exames, o retorno deve ter 2 objetos:\n\n[\n  {\n    \"area\": 1,\n    \"posto\": 12,\n    \"dataCadastro\": \"18/04/2026\",\n    \"registroCadastro\": \"12233828\",\n    \"nomePaciente\": \"JOELMA BATISTA DA SILVA\",\n    \"exameBloco\": {\n      \"ex1\": \"GLIS(LIB)\",\n      \"ex2\": \"CTF(LIB)\"\n    },\n    \"exame\": \"GLIS\",\n    \"_idx\": 1,\n    \"_total\": 2,\n    \"status\": \"LIBERADO\"\n  },\n  {\n    \"area\": 1,\n    \"posto\": 12,\n    \"dataCadastro\": \"18/04/2026\",\n    \"registroCadastro\": \"12233828\",\n    \"nomePaciente\": \"JOELMA BATISTA DA SILVA\",\n    \"exameBloco\": {\n      \"ex1\": \"GLIS(LIB)\",\n      \"ex2\": \"CTF(LIB)\"\n    },\n    \"exame\": \"CTF\",\n    \"_idx\": 2,\n    \"_total\": 2,\n    \"status\": \"LIBERADO\"\n  }\n]\n\n==================================================\nREGRAS DE EXTRAÇÃO\n==================================================\n\n1. Extraia cada paciente/registro encontrado no texto.\n\n2. Cada registro normalmente segue esta estrutura:\n\n<area> <posto> <dataCadastro> <registroCadastro> <nomePaciente> <exames>\n\nExemplo:\n1 12 24/03/2026 12233269 MARIA ELIZIANE CREA(LIB)\n\n3. O campo \"area\" é o primeiro número do registro.\n\n4. O campo \"posto\" é o segundo número do registro.\n\n5. O campo \"dataCadastro\" deve estar no formato DD/MM/AAAA.\n\n6. O campo \"registroCadastro\" deve conter somente dígitos.\n\n7. O campo \"nomePaciente\":\n- começa depois do registroCadastro.\n- termina antes do primeiro exame.\n- deve manter o nome como aparece no OCR.\n- deve remover excesso de espaços.\n- não invente nomes.\n\n8. O campo \"exameBloco\":\n- deve conter TODOS os exames do mesmo paciente.\n- deve manter os exames com status entre parênteses.\n- deve numerar como ex1, ex2, ex3...\n- deve preservar a ordem original.\n\nExemplo:\n\n\"exameBloco\": {\n  \"ex1\": \"HB1AC(LIB)\",\n  \"ex2\": \"HP(6)\"\n}\n\n9. O campo \"exame\":\n- deve conter somente a sigla do exame atual.\n- não deve conter \"(LIB)\".\n- não deve conter \"(6)\".\n\nExemplo:\nHB1AC(LIB)\n\nRetorne:\n\n\"exame\": \"HB1AC\"\n\n10. O campo \"status\":\n- deve ser gerado a partir do código dentro dos parênteses do exame atual.\n\nMapeamento obrigatório:\n\nLIB = \"LIBERADO\"\n6 = \"PENDENTE\"\n\nSe não conseguir identificar:\n\n\"STATUS DESCONHECIDO\"\n\n11. Se o OCR quebrar o exame, normalize quando for claro:\n\nTRILIB) deve virar TRI(LIB)\nCRE (LIB) deve virar CRE(LIB)\nB12 (6) deve virar B12(6)\n\n12. Não separe exames que tenham complemento dentro de parênteses.\n\nExemplo:\n\nIONOGRAMA (NA/K/CLORETO/RESERVA)\n\né UM ÚNICO exame.\n\nNesse caso:\n\n\"exameBloco\": {\n  \"ex1\": \"IONOGRAMA(NA/K/CLORETO/RESERVA)\"\n}\n\nE o campo exame deve ser:\n\n\"exame\": \"IONOGRAMA(NA/K/CLORETO/RESERVA)\"\n\n13. Se um registro não tiver exames, retorne um único objeto com:\n\n\"exameBloco\": {}\n\"exame\": \"\"\n\"status\": \"STATUS DESCONHECIDO\"\n\n14. Não duplique registros idênticos.\n\n15. Ignore cabeçalhos e rodapés, como:\n\nLABOVIDA\nResumo\nPacientes atendidos\nData de impressão\nUsuário\nBancada\nRelatório de Pendências\n\n==================================================\nINDEXAÇÃO\n==================================================\n\n- \"_idx\" começa em 1.\n- \"_idx\" deve seguir a posição do objeto no array final.\n- \"_total\" deve ser igual ao total de objetos retornados no array final.\n- Como deve retornar 1 objeto por exame, \"_total\" é o total de exames/objetos extraídos, não o total de pacientes.\n\nExemplo:\nSe o array final tiver 50 objetos:\n- primeiro objeto: \"_idx\": 1, \"_total\": 50\n- último objeto: \"_idx\": 50, \"_total\": 50\n\n==================================================\nSEGMENTAÇÃO\n==================================================\n\nUm novo registro começa quando aparecer:\n\nnúmero número data\n\nExemplo:\n\n1 12 24/03/2026\n\nO registro termina antes do próximo padrão:\n\nnúmero número data\n\nou no fim do documento.\n\n==================================================\nVALIDAÇÃO FINAL ANTES DE RESPONDER\n==================================================\n\nAntes de responder, confira obrigatoriamente:\n\n1. A resposta começa com [.\n2. A resposta termina com ].\n3. Todos os objetos estão separados por vírgula.\n4. Todos os objetos possuem as chaves:\n   \"area\",\n   \"posto\",\n   \"dataCadastro\",\n   \"registroCadastro\",\n   \"nomePaciente\",\n   \"exameBloco\",\n   \"exame\",\n   \"_idx\",\n   \"_total\",\n   \"status\".\n5. Não existe texto fora do JSON.\n6. Não existe objeto incompleto.\n7. Não existe string sem fechar.\n8. Não existe vírgula depois do último objeto.\n\n==================================================\nTEXTO OCR\n==================================================\n\n{{ $json.conteudo || $json.extractedText || $json.text || $json.markdown || $json.pages?.map(p => p.markdown).join(\"\\n\") }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[1120,-448],"id":"5c2a210b-d8c3-47c5-b7e4-aab5f9a185ed","name":"Basic LLM Chain"},{"parameters":{"jsCode":"let resposta =\n  $input.first().json.text ||\n  $input.first().json.output ||\n  $input.first().json.response ||\n  \"\";\n\nresposta = String(resposta)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nconst start = resposta.indexOf(\"[\");\nconst end = resposta.lastIndexOf(\"]\");\n\nif (start === -1 || end === -1 || end <= start) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"Nenhum array JSON encontrado na resposta da IA\",\n      respostaBruta: resposta\n    }\n  }];\n}\n\nconst jsonBruto = resposta.substring(start, end + 1);\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(jsonBruto);\n} catch (e) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"JSON encontrado, mas inválido\",\n      mensagem: e.message,\n      jsonExtraido: jsonBruto,\n      respostaBruta: resposta\n    }\n  }];\n}\n\nif (!Array.isArray(parsed)) {\n  parsed = [parsed];\n}\n\nreturn parsed.map((registro, idx) => ({\n  json: {\n    ...registro,\n    _idx: idx + 1,\n    _total: parsed.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,-448],"id":"14e6753f-d54f-452b-8884-b8708331add5","name":"Code in JavaScript4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[1072,-256],"id":"31d122a0-be54-4d82-84ee-c1057bab0a3c","name":"Mistral Cloud Chat Model","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}}],"connections":{"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text1","type":"main","index":0}]]},"Analisar Gemini1":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}],[{"node":"Analisar Gemini","type":"main","index":0}]]},"Code":{"main":[[{"node":"Analisar Gemini1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Drive1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[]]},"converter resposta para json1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Google Sheets1":{"main":[[]]},"Analisar Gemini":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Google Drive9":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Wait":{"main":[[]]},"Extract text1":{"main":[[]]},"Google Sheets":{"main":[[]]},"Basic LLM Chain":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Code in JavaScript4":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Basic LLM Chain":[{"json":{"text":"[{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"B12\",\"_idx\":1,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"T4L\",\"_idx\":2,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"AATM\",\"_idx\":3,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"PCR\",\"_idx\":4,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"TGO\",\"_idx\":5,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"TGP\",\"_idx\":6,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"HP\",\"_idx\":7,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"CRE\",\"_idx\":8,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"URE\",\"_idx\":9,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"TSH\",\"_idx\":10,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"VSH\",\"_idx\":11,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"CTFT\",\"_idx\":12,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540927\",\"nomePaciente\":\"DOLORES FERREIRA DE MATOS\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"AATM(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"HP(LIB)\",\"ex8\":\"CRE(LIB)\",\"ex9\":\"URE(LIB)\",\"ex10\":\"TSH(LIB)\",\"ex11\":\"VSH(LIB)\",\"ex12\":\"CTFT(LIB)\",\"ex13\":\"SU(LIB)\"},\"exame\":\"SU\",\"_idx\":13,\"_total\":13,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540928\",\"nomePaciente\":\"NICOLE VITORIA MEDEIROS DOS\",\"exameBloco\":{\"ex1\":\"BHCG(LIB)\"},\"exame\":\"BHCG\",\"_idx\":14,\"_total\":14,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"07/04/2026\",\"registroCadastro\":\"11540929\",\"nomePaciente\":\"VITORIA REGINA TRANQUILINO\",\"exameBloco\":{\"ex1\":\"BHCG(LIB)\"},\"exame\":\"BHCG\",\"_idx\":15,\"_total\":15,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540930\",\"nomePaciente\":\"MARIA CICERA FERREIRA DA SILVA\",\"exameBloco\":{\"ex1\":\"GLIS(LIB)\"},\"exame\":\"GLIS\",\"_idx\":16,\"_total\":16,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540931\",\"nomePaciente\":\"IRIS PAULA DE LIMA FRANCA\",\"exameBloco\":{\"ex1\":\"SU(LIB)\"},\"exame\":\"SU\",\"_idx\":17,\"_total\":17,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540932\",\"nomePaciente\":\"WILLIAM DOUGLAS PEREIRA DA SILVA\",\"exameBloco\":{\"ex1\":\"CSURE(LIB)\",\"ex2\":\"EXDIP(LIB)\"},\"exame\":\"CSURE\",\"_idx\":18,\"_total\":19,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540932\",\"nomePaciente\":\"WILLIAM DOUGLAS PEREIRA DA SILVA\",\"exameBloco\":{\"ex1\":\"CSURE(LIB)\",\"ex2\":\"EXDIP(LIB)\"},\"exame\":\"EXDIP\",\"_idx\":19,\"_total\":19,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540933\",\"nomePaciente\":\"HELTON SOARES DINIZ II\",\"exameBloco\":{\"ex1\":\"PCR(LIB)\",\"ex2\":\"HEMO(LIB)\"},\"exame\":\"PCR\",\"_idx\":20,\"_total\":21,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540933\",\"nomePaciente\":\"HELTON SOARES DINIZ II\",\"exameBloco\":{\"ex1\":\"PCR(LIB)\",\"ex2\":\"HEMO(LIB)\"},\"exame\":\"HEMO\",\"_idx\":21,\"_total\":21,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540934\",\"nomePaciente\":\"CARLOS FERNANDO DOS SANTOS\",\"exameBloco\":{\"ex1\":\"CA(LIB)\",\"ex2\":\"GGT(LIB)\",\"ex3\":\"TGO(LIB)\",\"ex4\":\"TGP(LIB)\",\"ex5\":\"IONO(LIB)\",\"ex6\":\"HP(LIB)\",\"ex7\":\"CRE(LIB)\",\"ex8\":\"URE(LIB)\",\"ex9\":\"SU(LIB)\"},\"exame\":\"CA\",\"_idx\":22,\"_total\":30,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540934\",\"nomePaciente\":\"CARLOS FERNANDO DOS SANTOS\",\"exameBloco\":{\"ex1\":\"CA(LIB)\",\"ex2\":\"GGT(LIB)\",\"ex3\":\"TGO(LIB)\",\"ex4\":\"TGP(LIB)\",\"ex5\":\"IONO(LIB)\",\"ex6\":\"HP(LIB)\",\"ex7\":\"CRE(LIB)\",\"ex8\":\"URE(LIB)\",\"ex9\":\"SU(LIB)\"},\"exame\":\"GGT\",\"_idx\":23,\"_total\":30,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540934\",\"nomePaciente\":\"CARLOS FERNANDO DOS SANTOS\",\"exameBloco\":{\"ex1\":\"CA(LIB)\",\"ex2\":\"GGT(LIB)\",\"ex3\":\"TGO(LIB)\",\"ex4\":\"TGP(LIB)\",\"ex5\":\"IONO(LIB)\",\"ex6\":\"HP(LIB)\",\"ex7\":\"CRE(LIB)\",\"ex8\":\"URE(LIB)\",\"ex9\":\"SU(LIB)\"},\"exame\":\"TGO\",\"_idx\":24,\"_total\":30,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540934\",\"nomePaciente\":\"CARLOS FERNANDO DOS SANTOS\",\"exameBloco\":{\"ex1\":\"CA(LIB)\",\"ex2\":\"GGT(LIB)\",\"ex3\":\"TGO(LIB)\",\"ex4\":\"TGP(LIB)\",\"ex5\":\"IONO(LIB)\",\"ex6\":\"HP(LIB)\",\"ex7\":\"CRE(LIB)\",\"ex8\":\"URE(LIB)\",\"ex9\":\"SU(LIB)\"},\"exame\":\"TGP\",\"_idx\":25,\"_total\":30,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540934\",\"nomePaciente\":\"CARLOS FERNANDO DOS SANTOS\",\"exameBloco\":{\"ex1\":\"CA(LIB)\",\"ex2\":\"GGT(LIB)\",\"ex3\":\"TGO(LIB)\",\"ex4\":\"TGP(LIB)\",\"ex5\":\"IONO(LIB)\",\"ex6\":\"HP(LIB)\",\"ex7\":\"CRE(LIB)\",\"ex8\":\"URE(LIB)\",\"ex9\":\"SU(LIB)\"},\"exame\":\"IONO\",\"_idx\":26,\"_total\":30,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540934\",\"nomePaciente\":\"CARLOS FERNANDO DOS SANTOS\",\"exameBloco\":{\"ex1\":\"CA(LIB)\",\"ex2\":\"GGT(LIB)\",\"ex3\":\"TGO(LIB)\",\"ex4\":\"TGP(LIB)\",\"ex5\":\"IONO(LIB)\",\"ex6\":\"HP(LIB)\",\"ex7\":\"CRE(LIB)\",\"ex8\":\"URE(LIB)\",\"ex9\":\"SU(LIB)\"},\"exame\":\"HP\",\"_idx\":27,\"_total\":30,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540934\",\"nomePaciente\":\"CARLOS FERNANDO DOS SANTOS\",\"exameBloco\":{\"ex1\":\"CA(LIB)\",\"ex2\":\"GGT(LIB)\",\"ex3\":\"TGO(LIB)\",\"ex4\":\"TGP(LIB)\",\"ex5\":\"IONO(LIB)\",\"ex6\":\"HP(LIB)\",\"ex7\":\"CRE(LIB)\",\"ex8\":\"URE(LIB)\",\"ex9\":\"SU(LIB)\"},\"exame\":\"CRE\",\"_idx\":28,\"_total\":30,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540934\",\"nomePaciente\":\"CARLOS FERNANDO DOS SANTOS\",\"exameBloco\":{\"ex1\":\"CA(LIB)\",\"ex2\":\"GGT(LIB)\",\"ex3\":\"TGO(LIB)\",\"ex4\":\"TGP(LIB)\",\"ex5\":\"IONO(LIB)\",\"ex6\":\"HP(LIB)\",\"ex7\":\"CRE(LIB)\",\"ex8\":\"URE(LIB)\",\"ex9\":\"SU(LIB)\"},\"exame\":\"URE\",\"_idx\":29,\"_total\":30,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540934\",\"nomePaciente\":\"CARLOS FERNANDO DOS SANTOS\",\"exameBloco\":{\"ex1\":\"CA(LIB)\",\"ex2\":\"GGT(LIB)\",\"ex3\":\"TGO(LIB)\",\"ex4\":\"TGP(LIB)\",\"ex5\":\"IONO(LIB)\",\"ex6\":\"HP(LIB)\",\"ex7\":\"CRE(LIB)\",\"ex8\":\"URE(LIB)\",\"ex9\":\"SU(LIB)\"},\"exame\":\"SU\",\"_idx\":30,\"_total\":30,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"B12\",\"_idx\":31,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"T4L\",\"_idx\":32,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"CA\",\"_idx\":33,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"PCR\",\"_idx\":34,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"TGO\",\"_idx\":35,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"TGP\",\"_idx\":36,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"GLIS\",\"_idx\":37,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"IONO\",\"_idx\":38,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"HP\",\"_idx\":39,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"CRE\",\"_idx\":40,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"URE\",\"_idx\":41,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"TSH\",\"_idx\":42,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"CTFT\",\"_idx\":43,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540935\",\"nomePaciente\":\"ELIANE TRAJANO DE LACERDA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"T4L(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"GLIS(LIB)\",\"ex8\":\"IONO(LIB)\",\"ex9\":\"HP(LIB)\",\"ex10\":\"CRE(LIB)\",\"ex11\":\"URE(LIB)\",\"ex12\":\"TSH(LIB)\",\"ex13\":\"CTFT(LIB)\",\"ex14\":\"SU(LIB)\"},\"exame\":\"SU\",\"_idx\":44,\"_total\":44,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540936\",\"nomePaciente\":\"JOSEMIR FRANCISCO DA SILVA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"25OHD(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"LIP(LIB)\",\"ex8\":\"GLIS(LIB)\",\"ex9\":\"AM(LIB)\",\"ex10\":\"IONO(LIB)\",\"ex11\":\"HP(LIB)\",\"ex12\":\"CRE(LIB)\",\"ex13\":\"URE(LIB)\",\"ex14\":\"PSATL(LIB)\",\"ex15\":\"CTFT(LIB)\",\"ex16\":\"SU(LIB)\"},\"exame\":\"B12\",\"_idx\":45,\"_total\":60,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540936\",\"nomePaciente\":\"JOSEMIR FRANCISCO DA SILVA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"25OHD(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"LIP(LIB)\",\"ex8\":\"GLIS(LIB)\",\"ex9\":\"AM(LIB)\",\"ex10\":\"IONO(LIB)\",\"ex11\":\"HP(LIB)\",\"ex12\":\"CRE(LIB)\",\"ex13\":\"URE(LIB)\",\"ex14\":\"PSATL(LIB)\",\"ex15\":\"CTFT(LIB)\",\"ex16\":\"SU(LIB)\"},\"exame\":\"25OHD\",\"_idx\":46,\"_total\":60,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540936\",\"nomePaciente\":\"JOSEMIR FRANCISCO DA SILVA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"25OHD(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"LIP(LIB)\",\"ex8\":\"GLIS(LIB)\",\"ex9\":\"AM(LIB)\",\"ex10\":\"IONO(LIB)\",\"ex11\":\"HP(LIB)\",\"ex12\":\"CRE(LIB)\",\"ex13\":\"URE(LIB)\",\"ex14\":\"PSATL(LIB)\",\"ex15\":\"CTFT(LIB)\",\"ex16\":\"SU(LIB)\"},\"exame\":\"CA\",\"_idx\":47,\"_total\":60,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540936\",\"nomePaciente\":\"JOSEMIR FRANCISCO DA SILVA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"25OHD(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"LIP(LIB)\",\"ex8\":\"GLIS(LIB)\",\"ex9\":\"AM(LIB)\",\"ex10\":\"IONO(LIB)\",\"ex11\":\"HP(LIB)\",\"ex12\":\"CRE(LIB)\",\"ex13\":\"URE(LIB)\",\"ex14\":\"PSATL(LIB)\",\"ex15\":\"CTFT(LIB)\",\"ex16\":\"SU(LIB)\"},\"exame\":\"PCR\",\"_idx\":48,\"_total\":60,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540936\",\"nomePaciente\":\"JOSEMIR FRANCISCO DA SILVA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"25OHD(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex13\":\"URE(LIB)\",\"ex14\":\"PSATL(LIB)\",\"ex15\":\"CTFT(LIB)\",\"ex16\":\"SU(LIB)\"},\"exame\":\"TGO\",\"_idx\":49,\"_total\":60,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540936\",\"nomePaciente\":\"JOSEMIR FRANCISCO DA SILVA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"25OHD(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"LIP(LIB)\",\"ex8\":\"GLIS(LIB)\",\"ex9\":\"AM(LIB)\",\"ex10\":\"IONO(LIB)\",\"ex11\":\"HP(LIB)\",\"ex12\":\"CRE\",\"ex13\":\"URE\",\"ex14\":\"PSATL\",\"ex15\":\"CTFT\",\"ex16\":\"SU\"},\"exame\":\"TGP\",\"_idx\":50,\"_total\":60,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540936\",\"nomePaciente\":\"JOSEMIR FRANCISCO DA SILVA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"25OHD(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO\",\"ex6\":\"TGP\",\"ex7\":\"LIP(LIB)\",\"ex8\":\"GLIS(LIB)\",\"ex9\":\"AM(LIB)\",\"ex10\":\"IONO(LIB)\",\"ex11\":\"HP(LIB)\",\"ex12\":\"CRE(LIB)\",\"ex13\":\"URE(LIB)\",\"ex14\":\"PSATL(LIB)\",\"ex15\":\"CTFT(LIB)\",\"ex16\":\"SU(LIB)\"},\"exame\":\"LIP\",\"_idx\":51,\"_total\":60,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540936\",\"nomePaciente\":\"JOSEMIR FRANCISCO DA SILVA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"25OHD(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO\",\"ex6\":\"TGP\",\"ex7\":\"LIP\",\"ex8\":\"GLIS(LIB)\",\"ex9\":\"AM(LIB)\",\"ex10\":\"IONO(LIB)\",\"ex11\":\"HP(LIB)\",\"ex12\":\"CRE(LIB)\",\"ex13\":\"URE(LIB)\",\"ex14\":\"PSATL(LIB)\",\"ex15\":\"CTFT(LIB)\",\"ex16\":\"SU(LIB)\"},\"exame\":\"GLIS\",\"_idx\":52,\"_total\":60,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540936\",\"nomePaciente\":\"JOSEMIR FRANCISCO DA SILVA\",\"exameBloco\":{\"ex1\":\"B12\",\"ex2\":\"25OHD(LIB)\",\"ex3\":\"CA\",\"ex4\":\"PCR\",\"ex5\":\"TGO\",\"ex6\":\"TGP\",\"ex7\":\"LIP(LIB)\",\"ex8\":\"GLIS(LIB)\",\"ex9\":\"AM(LIB)\",\"ex10\":\"IONO(LIB)\",\"ex11\":\"HP(LIB)\",\"ex12\":\"CRE(LIB)\",\"ex13\":\"URE(LIB)\",\"ex14\":\"PSATL(LIB)\",\"ex15\":\"CTFT(LIB)\",\"ex16\":\"SU(LIB)\"},\"exame\":\"AM\",\"_idx\":53,\"_total\":60,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540936\",\"nomePaciente\":\"JOSEMIR FRANCISCO DA SILVA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"25OHD\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"LIP\",\"ex8\":\"GLIS\",\"ex9\":\"AM\",\"ex10\":\"IONO(LIB)\",\"ex11\":\"HP(LIB)\",\"ex12\":\"CRE\",\"ex13\":\"URE\",\"ex14\":\"PSATL\",\"ex15\":\"CTFT\",\"ex16\":\"SU(LIB)\"},\"exame\":\"IONO\",\"_idx\":54,\"_total\":60,\"status\":\"LIBERADO\"},{\"area\":3,\"posto\":115,\"dataCadastro\":\"08/04/2026\",\"registroCadastro\":\"11540936\",\"nomePaciente\":\"JOSEMIR FRANCISCO DA SILVA\",\"exameBloco\":{\"ex1\":\"B12(LIB)\",\"ex2\":\"25OHD(LIB)\",\"ex3\":\"CA(LIB)\",\"ex4\":\"PCR(LIB)\",\"ex5\":\"TGO(LIB)\",\"ex6\":\"TGP(LIB)\",\"ex7\":\"LIP(LIB)\",\"ex8\":\"GLIS(LIB)\",\"ex9\":\"AM(LIB)\",\"ex10\":\"IONO\",\"ex11\":\"HP(LIB)\",\"ex12\":\"CRE(LIB)\",\"ex13\":\"URE(LIB)\",\"ex14\":\"PSATL(LIB)\",\"ex15\":\"CTFT(LIB)\",\"ex16\":\"SU(LIB)\"},\"exame\":\"HP\",\"_idx\":55,\"_total\":60,\"status\":\"LIBERADO\"},"},"pairedItem":{"item":0}}]},"versionId":"70067828-91f7-423a-b9bb-abf18cee3a78","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-12T00:11:32.364Z","createdAt":"2026-05-12T00:11:32.364Z","role":"workflow:owner","workflowId":"V1gQvHBHXFtTv4Sa","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}