workflows/at&tic_resultados-hWNxzQuvpa9dB3IQ.json
{"updatedAt":"2026-05-06T03:10:25.587Z","createdAt":"2026-05-04T18:46:44.328Z","id":"hWNxzQuvpa9dB3IQ","name":"At&tic_resultados","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://host.docker.internal:5004/ocr","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,1200],"id":"2f26b9a6-98c7-4c20-83eb-3cce1bffb83d","name":"TESSERACT","retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1yd8mkdErRuDyMN5Q5p3myLym9XboFY7A' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-96,1200],"id":"fee6d8c1-413c-4e70-a0c4-9df0cefbc984","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[368,1200],"id":"6e09e7bd-3961-41ad-81e3-3ff6d9593798","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyBHkZ_G5V3aNEbJs5DqNdxCaAIArW1ZnzQ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini1","type":"n8n-nodes-base.httpRequest","position":[1008,1184],"id":"fa243832-022c-40fe-9ec5-a6bde1c3fd16","typeVersion":4.2,"retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Normaliza\nresposta = String(resposta).trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Extrai o array JSON pelo primeiro [ e último ]\nconst start = resposta.indexOf(\"[\");\nconst end = resposta.lastIndexOf(\"]\");\n\nif (start !== -1 && end !== -1 && end > start) {\n  const jsonBruto = resposta.substring(start, end + 1);\n\n  try {\n    const parsed = JSON.parse(jsonBruto);\n\n    // ✅ Se vier um array: retorna 1 item por registro\n    if (Array.isArray(parsed)) {\n      return parsed.map((registro, idx) => ({\n        json: {\n          ...registro,\n          _idx: idx + 1,     // opcional (ajuda debug)\n          _total: parsed.length\n        }\n      }));\n    }\n\n    // ✅ Se por algum motivo vier 1 objeto: retorna como 1 item\n    return [{ json: parsed }];\n\n  } catch (e) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ JSON encontrado, mas inválido\",\n        mensagem: e.message,\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta\n      }\n    }];\n  }\n}\n\n// Fallback: nenhum JSON detectado\nreturn [{\n  json: {\n    sucesso: false,\n    erro: \"❌ Nenhum array JSON encontrado na resposta\",\n    respostaBruta: resposta\n  }\n}];\n"},"id":"4d3c3777-263d-4ae4-9fd8-86d2ce9c28c5","name":"converter resposta para json1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,1168]},{"parameters":{"jsCode":"// =======================================================\n// Mistral OCR -> Prompt LABOVIDA Pendências\n// Adaptado para input com:\n// - pages[].markdown\n// - extractedText\n// - pageCount\n// =======================================================\n\nconst item = $input.first();\nconst json = item.json || {};\n\n// -------------------------\n// 1) Captura texto do novo input\n// -------------------------\nlet conteudoBruto = \"\";\n\nif (json.extractedText) {\n  conteudoBruto = json.extractedText;\n} else if (Array.isArray(json.pages)) {\n  conteudoBruto = json.pages\n    .map(p => p.markdown || \"\")\n    .filter(Boolean)\n    .join(\"\\n\\n\");\n} else if (json.markdown) {\n  conteudoBruto = json.markdown;\n} else if (json.text) {\n  conteudoBruto = json.text;\n}\n\n// -------------------------\n// 2) Normalização base\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\")\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\")\n  .trim();\n\n// -------------------------\n// 3) Limpeza segura\n// -------------------------\nfunction limparTextoOCR(s) {\n  return String(s || \"\")\n    .replace(/^\\s*LABOVIDA\\s*$/gim, \"\")\n    .replace(/Bancada\\s*:\\s*/gi, \" \")\n    .replace(/Relat[oó]rio\\s+de\\s+Pend[eê]ncias/gi, \" \")\n    .replace(/Resumo\\s*:\\s*Pacientes\\s*atendidos\\s*:\\s*\\d+/gi, \" \")\n    .replace(/Pacientes\\s*atendidos\\s*:\\s*\\d+/gi, \" \")\n    .replace(/Data\\s*de\\s*impress[aã]o\\s*:\\s*\\d{2}\\/\\d{2}\\/\\d{4}/gi, \" \")\n    .replace(/Usu[aá]rio\\s*:\\s*[A-ZÀ-Ú\\s]+/gi, \" \")\n    .replace(/\\|\\s*-+\\s*/g, \" \")\n    .replace(/\\|\\s*/g, \" | \")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\nconst conteudoSemCabecalho = limparTextoOCR(texto);\n\n// -------------------------\n// 4) Nome do arquivo\n// -------------------------\nconst nomeArquivo =\n  json.arquivo ||\n  json.nome ||\n  json.fileName ||\n  json.filename ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// 5) Corpo final\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoSemCabecalho}\"\"\"`;\n\n// =======================================================\n// PROMPT\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: `\nVocê é um extrator de dados. Sua tarefa é transformar TEXTO OCR de \"LABOVIDA Bancada: Relatório de Pendências\" em JSON estruturado.\n\nREGRAS IMPORTANTES:\n1) Extraia CADA REGISTRO de paciente encontrado no texto.\n2) O texto pode vir em formato de tabela markdown com separador \"|\".\n3) Cada registro segue aproximadamente:\n   area | posto | dataCadastro | registroCadastro | nomePaciente | exames...\n4) Retorne APENAS JSON válido. Não use markdown. Não explique.\n\nFORMATO DE SAÍDA:\n[\n  {\n    \"area\": <number>,\n    \"posto\": <number>,\n    \"dataCadastro\": \"dd/mm/aaaa\",\n    \"registroCadastro\": \"<string_apenas_digitos>\",\n    \"nomePaciente\": \"<string>\",\n    \"exame\": {\n      \"ex1\": \"<sigla>(LIB)\",\n      \"ex2\": \"...\",\n      ...\n    }\n  }\n]\n\nCOMO EXTRAIR:\n- \"area\" = primeiro número da linha.\n- \"posto\" = segundo número da linha.\n- \"dataCadastro\" = data no formato dd/mm/aaaa.\n- \"registroCadastro\" = número após a data. Manter somente dígitos.\n- \"nomePaciente\" = texto após registroCadastro e antes do primeiro exame.\n- Exames = tokens como B12(LIB), T4L(LIB), 25OHD(LIB), HB1AC(LIB), GLIS(LIB), SU(LIB), etc.\n- Também aceite exames com \"(6)\", como B12(6), HTLV(6), GLI(6).\n- Se OCR separar o exame, normalize:\n  - \"GLIS (LIB)\" => \"GLIS(LIB)\"\n  - \"HP (LIB)\" => \"HP(LIB)\"\n  - \"TGP (LIB)\" => \"TGP(LIB)\"\n- Mantenha a ordem dos exames e enumere como ex1, ex2, ex3...\n- Se não houver exames, retorne \"exame\": {}.\n- Não duplique registros idênticos.\n\nSEGMENTAÇÃO:\n- Um novo registro começa quando aparecer:\n  area + posto + data + registro\n  Exemplo: 6 | 35 | 18/04/2026 | 3567833\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n            `.trim(),\n          },\n        ],\n      },\n    ],\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,1168],"id":"d8f71bff-311c-4036-8098-544e0ac3b216","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[144,1184],"id":"d7e30e97-3427-4e76-b1ae-5c8481a7db65","name":"Loop Over Items"},{"parameters":{"jsCode":"// Pega TODOS os itens de entrada (caso você já tenha vários pacientes) e separa um exame por item\nconst itens = $input.all();\n\nconst saida = [];\n\nfor (const it of itens) {\n  const j = it.json || {};\n\n  const base = {\n    area: j.area ?? null,\n    posto: j.posto ?? null,\n    dataCadastro: j.dataCadastro ?? \"\",\n    registroCadastro: j.registroCadastro ?? \"\",\n    nomePaciente: j.nomePaciente ?? \"\",\n    _idx: j._idx ?? null,\n    _total: j._total ?? null, // opcional (remova se não quiser)\n  };\n\n  const examesObj = j.exame && typeof j.exame === \"object\" ? j.exame : {};\n\n  // Ordena ex1, ex2, ex3... corretamente\n  const keysOrdenadas = Object.keys(examesObj).sort((a, b) => {\n    const na = parseInt(a.replace(/\\D/g, \"\"), 10) || 0;\n    const nb = parseInt(b.replace(/\\D/g, \"\"), 10) || 0;\n    return na - nb;\n  });\n\n  // Se não tiver exames, ainda retorna 1 item (opcional)\n  if (keysOrdenadas.length === 0) {\n    saida.push({\n      json: {\n        ...base,\n        exameKey: \"\",\n        exameValor: \"\",\n      },\n    });\n    continue;\n  }\n\n  // Cria 1 item por exame\n  for (const k of keysOrdenadas) {\n    saida.push({\n      json: {\n        ...base,\n        exameKey: k,                 // ex1, ex2...\n        exameValor: String(examesObj[k] ?? \"\").trim(), // \"B12(ENV)\"\n      },\n    });\n  }\n}\n\nreturn saida;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,1168],"id":"be890461-ac03-4056-9b5f-908c0d8f2b0c","name":"Code1"},{"parameters":{"jsCode":"// cria Status exame e sistema \n//Processa todos os itens (1 por exame)\nconst itens = $input.all();\n\n// Extrai sigla (antes do parêntese)\nfunction extrairSigla(exame) {\n  const txt = String(exame || \"\").trim();\n\n  // Pega tudo antes do primeiro \"(\"\n  const idx = txt.indexOf(\"(\");\n  if (idx === -1) return txt;\n\n  return txt.substring(0, idx).trim();\n}\n\n// Classifica status pelo código entre parênteses\nfunction classificarStatus(exame) {\n  const txt = String(exame || \"\").toUpperCase();\n\n  // Extrai o que está entre parênteses: (ENV), (PEN), (DIG), (9) etc\n  const match = txt.match(/\\(([^)]+)\\)/);\n  const codigo = match ? match[1] : \"\";\n\n  switch (codigo) {\n    case \"ENV\":\n      return \"EXAME ENVIADO\";\n    case \"PEN\":\n      return \"EXAME INTERNO\";\n    case \"DIG\":\n      return \"FALTA LIBERAR RESULTADO\";\n    case \"9\":\n      return \"ENVIO MANUAL\";\n    default:\n      return \"STATUS DESCONHECIDO\";\n  }\n}\n\nreturn itens.map(it => {\n  const j = it.json || {};\n  const exameValor = j.exameValor || \"\";\n\n  return {\n    json: {\n      ...j,\n      sigla: extrairSigla(exameValor),     // ✅ NOVA VARIÁVEL\n      statusExame: classificarStatus(exameValor),\n      sistema: \"AT&TIC\",\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,1168],"id":"83d6d769-ff53-4449-8aee-4fc308861925","name":"Code2"},{"parameters":{"jsCode":"// =======================================================\n// Corrige padrões:\n// - 250HD    -> 25OHD\n// - 25O0HD   -> 25OHD\n// - HB1|AC   -> HB1AC\n// + adiciona dataHoraExecucao\n// =======================================================\n\nconst itens = $input.all();\n\nconst FIELDS = [\"sigla\", \"exameValor\", \"DESCRIÇÃO DO EXAME\"];\n\n// função de correção\nconst fix = (v) =>\n  String(v ?? \"\")\n    .replace(/25O0HD/gi, \"25OHD\")\n    .replace(/250HD/gi, \"25OHD\")\n    .replace(/HB1[\\|I\\-\\s_]*AC/gi, \"HB1AC\")\n    .replace(/\\bDAGSRH\\b/gi, \"GSRH\")\n    .replace(/\\bDOCREA\\b/gi, \"CRE\");\n\n// função data BR\nfunction dataHoraBR() {\n  const d = new Date();\n  const pad = (n) => String(n).padStart(2, \"0\");\n\n  return `${pad(d.getDate())}/${pad(d.getMonth() + 1)}/${d.getFullYear()} ${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n}\n\nreturn itens.map((item) => {\n  const json = { ...item.json };\n\n  // aplica correção nos campos\n  for (const f of FIELDS) {\n    if (json[f] !== undefined && json[f] !== null) {\n      json[f] = fix(json[f]);\n    }\n  }\n\n  // adiciona timestamp\n  json.dataHoraExecucao = dataHoraBR();\n\n  return { json };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2112,1168],"id":"54d51c60-8b06-4ec6-80ba-6da5cdc2ca11","name":"Code in JavaScript3"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"RESULTADO NO SISTEMA":"={{ $json.input1_sistema }} - {{ $json.input1_dataHoraExecucao }}","row_number":"={{ $json.input2_row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2864,1456],"id":"9de11801-3cb4-4b0d-87dd-f9e7cf818956","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-496,1344],"id":"a50c5bfc-0672-4cb2-8a83-1ed76f59b13c","name":"Schedule Trigger1"},{"parameters":{"jsCode":"// ======================================================\n// MATCH por 3 chaves\n// ✅ Retorna SOMENTE matches\n// ❌ Se não houver nenhum match → retorna 1 item informando\n// ======================================================\n\nconst norm = (v) =>\n  String(v ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toLowerCase();\n\nfunction extrairDataBR(valor) {\n  if (!valor) return \"\";\n  const m = String(valor).match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n  return m ? m[1] : String(valor).trim();\n}\n\nfunction makeKeyFromInput1(row) {\n  const data = norm(extrairDataBR(row[\"dataCadastro\"]));\n  const codigo = norm(row[\"registroCadastro\"]);\n  const exame = norm(row[\"sigla\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nfunction makeKeyFromInput2(row) {\n  const data = norm(extrairDataBR(row[\"Data do Cadastro\"]));\n  const codigo = norm(row[\"Registro do Paciente\"]);\n  const exame = norm(row[\"SIGLA\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nconst input1 = $input.all(0);\nconst input2 = $input.all(1);\n\nconst index = new Map();\n\n// indexa input1\nfor (const item of input1) {\n  const row1 = item.json || {};\n  const key = makeKeyFromInput1(row1);\n\n  if (!key || key === \"♦♦\") continue;\n\n  if (!index.has(key)) index.set(key, []);\n  index.get(key).push(row1);\n}\n\nconst output = [];\n\n// busca matches\nfor (const item of input2) {\n  const row2 = item.json || {};\n  const key = makeKeyFromInput2(row2);\n\n  if (!key || key === \"♦♦\") continue;\n\n  const matches = index.get(key);\n  if (!matches) continue;\n\n  for (const row1 of matches) {\n    output.push({\n      json: {\n        teveMatch: true,\n        chaveMatch: key,\n\n        ...Object.fromEntries(\n          Object.entries(row1).map(([k, v]) => [`input1_${k}`, v])\n        ),\n\n        ...Object.fromEntries(\n          Object.entries(row2).map(([k, v]) => [`input2_${k}`, v])\n        ),\n      }\n    });\n  }\n}\n\n// 👉 regra final\nif (output.length === 0) {\n  return [\n    {\n      json: {\n        teveMatch: false,\n        mensagem: \"Nenhum match encontrado\"\n      }\n    }\n  ];\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,1440],"id":"fae0e10b-9cef-4f97-8173-c91dc9426d27","name":"Code in JavaScript"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2368,1440],"id":"c8705282-c266-4a3b-b3ef-9b5ec7d3e327","name":"Merge"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3072,1456],"id":"92a73252-f954-4e17-a162-a2e6bc5d15a1","name":"Google Drive9","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyCRA_z9oBAYNZuuq1FfyIdwsvqmRw49CEc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"contents\": $json.contents } }}","options":{}},"name":"Analisar Gemini","type":"n8n-nodes-base.httpRequest","position":[1216,1280],"id":"9698e6ed-7fae-43f6-bb1b-19cb16c2a672","typeVersion":4.2,"retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      sucesso: false,\n      fallbackUsado: true,\n      mensagem: \"Nenhum dos dois requests Gemini retornou com sucesso\"\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,1376],"id":"a1e13021-57e2-4524-a9c8-2cc76a73cecb","name":"Code in JavaScript1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[3344,1456],"id":"562202ac-458c-4fcd-88b4-7d8917d6e966"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3568,1504],"id":"11ad90ec-7905-4c57-b8dc-2470d5e4fd09","name":"Wait","webhookId":"46fcfe85-b868-4b58-91c8-e78705a2a6f3"},{"parameters":{"content":"# FLUXO AT&TIC RESULTADOS\n## PEGAR ARQUIVO NA PASTA E PREENCHE PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n","height":796,"width":4072},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,960],"id":"823fca08-b9c0-4398-ad45-eb0adcb0b361","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[576,1024],"id":"a2de8afd-3ddd-4dbc-adfc-5b911b0313f4","name":"Extract text1","credentials":{"mistralCloudApi":{"id":"cyqM5cxZOnbGXAsU","name":"Mistral Cloud account"}}},{"parameters":{"documentId":{"__rl":true,"value":"=1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[112,1712],"id":"5079da51-56d1-49c8-a059-0a2b25190e59","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"ALTERAÇÕES DE CADASTRO","lookupValue":"FALTA RESULTADO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,1472],"id":"ffca728d-e222-4c97-8612-314fccad82d8","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt (limpeza segura de cabeçalho/rodapé LABOVIDA)\n// - Remove SOMENTE no INÍCIO/FIM do texto (head/tail):\n//   * \"LABOVIDA\"\n//   * \"Resumo: Pacientes atendidos: N\"\n//   * \"Data de impressão: dd/mm/aaaa Usuário: ...\"\n// - Não remove nada do \"miolo\" do OCR\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.extractedText || \"\";\n\n// -------------------------\n// 1) normalização base (sem apagar conteúdo útil)\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\") // se você não quiser trocar aspas, remova esta linha\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\") // remove controles\n  .trim();\n\n// -------------------------\n// 2) função: limpa cabeçalho/rodapé apenas em head/tail\n// -------------------------\nfunction limparCabecalhoRodape(s, headSize = 600, tailSize = 600) {\n  const len = s.length;\n\n  const head = s.slice(0, Math.min(headSize, len));\n  const mid = s.slice(Math.min(headSize, len), Math.max(len - tailSize, Math.min(headSize, len)));\n  const tail = s.slice(Math.max(len - tailSize, 0));\n\n  const limparBloco = (bloco) => {\n    let b = bloco;\n\n    // remove \"LABOVIDA\" quando aparece como linha isolada (mais seguro)\n    b = b.replace(/^\\s*LABOVIDA\\s*$/gim, \"\");\n\n    // remove \"LABOVIDA\" se estiver grudado no começo do bloco (cabeçalho)\n    b = b.replace(/^\\s*LABOVIDA\\s*/i, \"\");\n\n    // remove \"LABOVIDA\" se estiver grudado no fim do bloco (rodapé)\n    b = b.replace(/\\s*LABOVIDA\\s*$/i, \"\");\n\n    // remove \"Resumo: Pacientes atendidos: N\" (mesmo colado)\n    b = b.replace(/Resumo\\s*:\\s*Pacientes\\s*atendidos\\s*:\\s*\\d+\\s*/gi, \" \");\n\n    // remove \"Data de impressão: dd/mm/aaaa Usuário: XXXXX\" (mesmo colado)\n    // aqui removemos só o trecho de \"Data...\" até o final do nome do usuário\n    // limitando pelo próximo marcador comum (quebra/aspas/fim)\n    b = b.replace(\n      /Data\\s*de\\s*impress[aã]o\\s*:\\s*\\d{2}\\/\\d{2}\\/\\d{4}\\s*Usu[aá]rio\\s*:\\s*.*?(?=(\\n|'''|\"\"\"+|$))/gi,\n      \" \"\n    );\n\n    // limpa espaços\n    b = b.replace(/\\s{2,}/g, \" \").trim();\n\n    return b;\n  };\n\n  const head2 = limparBloco(head);\n  const tail2 = limparBloco(tail);\n\n  // remonta preservando o miolo intacto\n  const juntado = [head2, mid, tail2].join(\" \");\n\n  return juntado\n    .replace(/\\n+/g, \" \")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\n// aplica limpeza segura\nconst conteudoSemCabecalho = limparCabecalhoRodape(texto);\n\n// -------------------------\n// nome do arquivo\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// corpo final para o prompt\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoSemCabecalho}\"\"\"`;\n\n// =======================================================\n// PROMPT\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: `\nVocê é um extrator de dados. Sua tarefa é transformar TEXTO OCR de \"LABOVIDA Bancada: Relatório de Pendências\" em JSON estruturado.\n\nREGRAS IMPORTANTES (obrigatórias):\n1) Você receberá um ou mais blocos. Cada bloco começa com \"LABOVIDA\" e termina com \"LABOVIDA\".\n2) Extraia CADA REGISTRO (cada paciente/linha) encontrado no texto.\n3) Cada registro SEMPRE tem esta estrutura aproximada (OCR pode quebrar linhas):\n   <area> <posto> <dataCadastro dd/mm/aaaa> <registroCadastro> — <nomePaciente> <exames...>\n   - Por exemplo: \"\\n1\\n12\\n24/03/2026\\n12233269\\nMARIA ELIZIANE\\nCREA(ENV)\"\n   - O traço pode aparecer como \"—\" ou \"-\" ou pode ficar deslocado.\n   - O registroCadastro aparecer antes do traço (ex: \"12232024 — ADRIANA ...\").\n5) O posto é o bloco anterior que vem antes de \\n dd/mm/aaaa e depois \\n\n6) Retorne APENAS um JSON válido (nada de explicações, nada de markdown, nada de texto fora do JSON).\n\nFORMATO DE SAÍDA (obrigatório):\n[\n  {\n    \"area\": <number>,\n    \"posto\": <number>,\n    \"dataCadastro\": \"dd/mm/aaaa\",\n    \"registroCadastro\": \"<string_apenas_digitos>\",\n    \"nomePaciente\": \"<string>\",\n    \"exame\": {\n      \"ex1\": \"<sigla>(ENV)\",\n      \"ex2\": \"...\",\n      ...\n    }\n  },\n  ...\n]\n\nNORMALIZAÇÃO / LIMPEZA:\n- \"area\" = primeiro número do registro. \"posto\" = segundo número do registro.\n- \"registroCadastro\": manter SOMENTE dígitos (remover espaços, hífens, \"—\").\n- \"nomePaciente\": manter como aparece (pode ter acentos). Remover excesso de espaços. Não inventar nomes.\n- Exames: detectar tokens que pareçam exame, normalmente algo como \"B12(ENV)\", \"T4L(ENV)\", \"250HD(ENV)\", \"HB1AC(ENV)\" etc.\n  - Se OCR quebrar (ex: \"CRE (ENV)\" ou \"ERI (ENV)\" ou \"TRIENV)\" ), una e normalize para o padrão \"<TEXTO>(ENV)\" quando ficar claro.\n  - Aceite variações OCR como \"25O0HD(ENV)\" (com letra O) e mantenha exatamente como aparece.\n- Ordem: manter a ordem em que os exames aparecem no texto do registro e enumerar ex1..exN.\n\nSEGMENTAÇÃO (como achar onde começa/termina um registro):\n- Um novo registro começa quando aparecer um padrão com DOIS números seguidos + data:\n  Ex: /\\\\b(\\\\d+)\\\\s+(\\\\d+)\\\\s+(\\\\d{2}\\\\/\\\\d{2}\\\\/\\\\d{4})\\\\b/\n- O registro termina imediatamente antes do próximo início de registro OU fim do documento.\n\nTRATAMENTO DE FALTAS:\n- Se um registro não tiver exames, retorne \"exame\": {}.\n- Se não conseguir achar registroCadastro com segurança, ainda retorne o registro com \"registroCadastro\": \"\" (string vazia).\n- Não duplicar registros idênticos (mesmos: area, posto, dataCadastro, registroCadastro, nomePaciente).\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n            `.trim(),\n          },\n        ],\n      },\n    ],\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,1008],"id":"787ab4d5-6ff3-4db9-a388-edde6dccec59","name":"Code3"},{"parameters":{"jsCode":"// ======================================================\n// MATCH por 3 chaves\n// ✅ Retorna SOMENTE os que NÃO deram match\n// ❌ Se todos deram match → retorna 1 item informando\n// ======================================================\n\nconst norm = (v) =>\n  String(v ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toLowerCase();\n\nfunction extrairDataBR(valor) {\n  if (!valor) return \"\";\n  const m = String(valor).match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n  return m ? m[1] : String(valor).trim();\n}\n\nfunction makeKeyFromInput1(row) {\n  const data = norm(extrairDataBR(row[\"dataCadastro\"]));\n  const codigo = norm(row[\"registroCadastro\"]);\n  const exame = norm(row[\"sigla\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nfunction makeKeyFromInput2(row) {\n  const data = norm(extrairDataBR(row[\"Data do Cadastro\"]));\n  const codigo = norm(row[\"Registro do Paciente\"]);\n  const exame = norm(row[\"SIGLA\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nconst input1 = $input.all(0);\nconst input2 = $input.all(1);\n\nconst index = new Set();\n\n// indexa input1\nfor (const item of input1) {\n  const row1 = item.json || {};\n  const key = makeKeyFromInput1(row1);\n\n  if (!key || key === \"♦♦\") continue;\n\n  index.add(key);\n}\n\nconst output = [];\n\n// retorna os que NÃO deram match no input2\nfor (const item of input2) {\n  const row2 = item.json || {};\n  const key = makeKeyFromInput2(row2);\n\n  if (!key || key === \"♦♦\") continue;\n\n  const teveMatch = index.has(key);\n\n  if (!teveMatch) {\n    output.push({\n      json: {\n        teveMatch: false,\n        chaveMatch: key,\n        motivo: \"Registro existe no input2, mas não foi encontrado no input1\",\n\n        ...Object.fromEntries(\n          Object.entries(row2).map(([k, v]) => [`input2_${k}`, v])\n        ),\n      }\n    });\n  }\n}\n\n// regra final\nif (output.length === 0) {\n  return [\n    {\n      json: {\n        teveMatch: true,\n        mensagem: \"Todos os registros do input2 deram match com o input1\"\n      }\n    }\n  ];\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,1248],"id":"b8c37004-d3e2-41de-8794-946826a824e8","name":"Code in JavaScript2"}],"connections":{"TESSERACT":{"main":[[]]},"Google Drive":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text1","type":"main","index":0}]]},"Analisar Gemini1":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}],[{"node":"Analisar Gemini","type":"main","index":0}]]},"Code":{"main":[[{"node":"Analisar Gemini1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Drive1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Merge","type":"main","index":0}]]},"converter resposta para json1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0},{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Drive9","type":"main","index":0}],[]]},"Analisar Gemini":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Google Drive9":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[]]},"Wait":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Extract text1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Sheets2":{"main":[[]]},"Google Sheets":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5aafdf95-2a7e-4437-a7d8-69435100b1f7","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-04T18:46:44.328Z","createdAt":"2026-05-04T18:46:44.328Z","role":"workflow:owner","workflowId":"hWNxzQuvpa9dB3IQ","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}