workflows/attic_relacaopendencias-pZy-_jCI_EuhlEC2ZyAn6.json
{"updatedAt":"2026-05-06T03:07:29.297Z","createdAt":"2026-04-02T00:11:55.015Z","id":"pZy-_jCI_EuhlEC2ZyAn6","name":"attic_RelacaoPendencias","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://host.docker.internal:5010/ocr","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1536,272],"id":"186a94da-30ac-4e04-aa53-6f5b1a4ce387","name":"TESSERACT","retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='12ZUznSy_wxlXHr1E3rhSs7f1iq42fyxE' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1840,272],"id":"5ecec0a3-09b8-4aa2-9fc4-3e9caa61271a","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1680,272],"id":"5d90a9e6-60e8-4cd2-9c93-34caf4bce834","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyAWXHw-gUU9B0PS46HKs03SiYWRfWMFi0w","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini1","type":"n8n-nodes-base.httpRequest","position":[-1184,208],"id":"bbea9208-f072-4378-858a-474d62b76741","typeVersion":4.2,"retryOnFail":false},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Normaliza\nresposta = String(resposta).trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Extrai o array JSON pelo primeiro [ e último ]\nconst start = resposta.indexOf(\"[\");\nconst end = resposta.lastIndexOf(\"]\");\n\nif (start !== -1 && end !== -1 && end > start) {\n  const jsonBruto = resposta.substring(start, end + 1);\n\n  try {\n    const parsed = JSON.parse(jsonBruto);\n\n    // ✅ Se vier um array: retorna 1 item por registro\n    if (Array.isArray(parsed)) {\n      return parsed.map((registro, idx) => ({\n        json: {\n          ...registro,\n          _idx: idx + 1,     // opcional (ajuda debug)\n          _total: parsed.length\n        }\n      }));\n    }\n\n    // ✅ Se por algum motivo vier 1 objeto: retorna como 1 item\n    return [{ json: parsed }];\n\n  } catch (e) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ JSON encontrado, mas inválido\",\n        mensagem: e.message,\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta\n      }\n    }];\n  }\n}\n\n// Fallback: nenhum JSON detectado\nreturn [{\n  json: {\n    sucesso: false,\n    erro: \"❌ Nenhum array JSON encontrado na resposta\",\n    respostaBruta: resposta\n  }\n}];\n"},"id":"93f3f5c8-2edb-4f79-a118-059f967cec51","name":"converter resposta para json1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1008,208]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt (limpeza segura de cabeçalho/rodapé LABOVIDA)\n// - Remove SOMENTE no INÍCIO/FIM do texto (head/tail):\n//   * \"LABOVIDA\"\n//   * \"Resumo: Pacientes atendidos: N\"\n//   * \"Data de impressão: dd/mm/aaaa Usuário: ...\"\n// - Não remove nada do \"miolo\" do OCR\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.conteudo || \"\";\n\n// -------------------------\n// 1) normalização base (sem apagar conteúdo útil)\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\") // se você não quiser trocar aspas, remova esta linha\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\") // remove controles\n  .trim();\n\n// -------------------------\n// 2) função: limpa cabeçalho/rodapé apenas em head/tail\n// -------------------------\nfunction limparCabecalhoRodape(s, headSize = 600, tailSize = 600) {\n  const len = s.length;\n\n  const head = s.slice(0, Math.min(headSize, len));\n  const mid = s.slice(Math.min(headSize, len), Math.max(len - tailSize, Math.min(headSize, len)));\n  const tail = s.slice(Math.max(len - tailSize, 0));\n\n  const limparBloco = (bloco) => {\n    let b = bloco;\n\n    // remove \"LABOVIDA\" quando aparece como linha isolada (mais seguro)\n    b = b.replace(/^\\s*LABOVIDA\\s*$/gim, \"\");\n\n    // remove \"LABOVIDA\" se estiver grudado no começo do bloco (cabeçalho)\n    b = b.replace(/^\\s*LABOVIDA\\s*/i, \"\");\n\n    // remove \"LABOVIDA\" se estiver grudado no fim do bloco (rodapé)\n    b = b.replace(/\\s*LABOVIDA\\s*$/i, \"\");\n\n    // remove \"Resumo: Pacientes atendidos: N\" (mesmo colado)\n    b = b.replace(/Resumo\\s*:\\s*Pacientes\\s*atendidos\\s*:\\s*\\d+\\s*/gi, \" \");\n\n    // remove \"Data de impressão: dd/mm/aaaa Usuário: XXXXX\" (mesmo colado)\n    // aqui removemos só o trecho de \"Data...\" até o final do nome do usuário\n    // limitando pelo próximo marcador comum (quebra/aspas/fim)\n    b = b.replace(\n      /Data\\s*de\\s*impress[aã]o\\s*:\\s*\\d{2}\\/\\d{2}\\/\\d{4}\\s*Usu[aá]rio\\s*:\\s*.*?(?=(\\n|'''|\"\"\"+|$))/gi,\n      \" \"\n    );\n\n    // limpa espaços\n    b = b.replace(/\\s{2,}/g, \" \").trim();\n\n    return b;\n  };\n\n  const head2 = limparBloco(head);\n  const tail2 = limparBloco(tail);\n\n  // remonta preservando o miolo intacto\n  const juntado = [head2, mid, tail2].join(\" \");\n\n  return juntado\n    .replace(/\\n+/g, \" \")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\n// aplica limpeza segura\nconst conteudoSemCabecalho = limparCabecalhoRodape(texto);\n\n// -------------------------\n// nome do arquivo\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// corpo final para o prompt\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoSemCabecalho}\"\"\"`;\n\n// =======================================================\n// PROMPT\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: `\nVocê é um extrator de dados. Sua tarefa é transformar TEXTO OCR de \"LABOVIDA Bancada: Relatório de Pendências\" em JSON estruturado.\n\nREGRAS IMPORTANTES (obrigatórias):\n1) Você receberá um ou mais blocos. Cada bloco começa com \"LABOVIDA\" e termina com \"LABOVIDA\".\n2) Extraia CADA REGISTRO (cada paciente/linha) encontrado no texto.\n3) Cada registro SEMPRE tem esta estrutura aproximada (OCR pode quebrar linhas):\n   <area> <posto> <dataCadastro dd/mm/aaaa> <registroCadastro> — <nomePaciente> <exames...>\n   - Por exemplo: \"\\n1\\n12\\n24/03/2026\\n12233269\\nMARIA ELIZIANE\\nCREA(ENV)\"\n   - O traço pode aparecer como \"—\" ou \"-\" ou pode ficar deslocado.\n   - O registroCadastro aparecer antes do traço (ex: \"12232024 — ADRIANA ...\").\n5) O posto é o bloco anterior que vem antes de \\n dd/mm/aaaa e depois \\n\n6) Retorne APENAS um JSON válido (nada de explicações, nada de markdown, nada de texto fora do JSON).\n\nFORMATO DE SAÍDA (obrigatório):\n[\n  {\n    \"area\": <number>,\n    \"posto\": <number>,\n    \"dataCadastro\": \"dd/mm/aaaa\",\n    \"registroCadastro\": \"<string_apenas_digitos>\",\n    \"nomePaciente\": \"<string>\",\n    \"exame\": {\n      \"ex1\": \"<sigla>(ENV)\",\n      \"ex2\": \"...\",\n      ...\n    }\n  },\n  ...\n]\n\nNORMALIZAÇÃO / LIMPEZA:\n- \"area\" = primeiro número do registro. \"posto\" = segundo número do registro.\n- \"registroCadastro\": manter SOMENTE dígitos (remover espaços, hífens, \"—\").\n- \"nomePaciente\": manter como aparece (pode ter acentos). Remover excesso de espaços. Não inventar nomes.\n- Exames: detectar tokens que pareçam exame, normalmente algo como \"B12(ENV)\", \"T4L(ENV)\", \"250HD(ENV)\", \"HB1AC(ENV)\" etc.\n  - Se OCR quebrar (ex: \"CRE (ENV)\" ou \"ERI (ENV)\" ou \"TRIENV)\" ), una e normalize para o padrão \"<TEXTO>(ENV)\" quando ficar claro.\n  - Aceite variações OCR como \"25O0HD(ENV)\" (com letra O) e mantenha exatamente como aparece.\n- Ordem: manter a ordem em que os exames aparecem no texto do registro e enumerar ex1..exN.\n\nSEGMENTAÇÃO (como achar onde começa/termina um registro):\n- Um novo registro começa quando aparecer um padrão com DOIS números seguidos + data:\n  Ex: /\\\\b(\\\\d+)\\\\s+(\\\\d+)\\\\s+(\\\\d{2}\\\\/\\\\d{2}\\\\/\\\\d{4})\\\\b/\n- O registro termina imediatamente antes do próximo início de registro OU fim do documento.\n\nTRATAMENTO DE FALTAS:\n- Se um registro não tiver exames, retorne \"exame\": {}.\n- Se não conseguir achar registroCadastro com segurança, ainda retorne o registro com \"registroCadastro\": \"\" (string vazia).\n- Não duplicar registros idênticos (mesmos: area, posto, dataCadastro, registroCadastro, nomePaciente).\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n            `.trim(),\n          },\n        ],\n      },\n    ],\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1376,208],"id":"5c88d91c-8623-4df6-8e1b-55b75d7ee288","name":"Code"},{"parameters":{"jsCode":"// Pega TODOS os itens de entrada (caso você já tenha vários pacientes) e separa um exame por item\nconst itens = $input.all();\n\nconst saida = [];\n\nfor (const it of itens) {\n  const j = it.json || {};\n\n  const base = {\n    area: j.area ?? null,\n    posto: j.posto ?? null,\n    dataCadastro: j.dataCadastro ?? \"\",\n    registroCadastro: j.registroCadastro ?? \"\",\n    nomePaciente: j.nomePaciente ?? \"\",\n    _idx: j._idx ?? null,\n    _total: j._total ?? null, // opcional (remova se não quiser)\n  };\n\n  const examesObj = j.exame && typeof j.exame === \"object\" ? j.exame : {};\n\n  // Ordena ex1, ex2, ex3... corretamente\n  const keysOrdenadas = Object.keys(examesObj).sort((a, b) => {\n    const na = parseInt(a.replace(/\\D/g, \"\"), 10) || 0;\n    const nb = parseInt(b.replace(/\\D/g, \"\"), 10) || 0;\n    return na - nb;\n  });\n\n  // Se não tiver exames, ainda retorna 1 item (opcional)\n  if (keysOrdenadas.length === 0) {\n    saida.push({\n      json: {\n        ...base,\n        exameKey: \"\",\n        exameValor: \"\",\n      },\n    });\n    continue;\n  }\n\n  // Cria 1 item por exame\n  for (const k of keysOrdenadas) {\n    saida.push({\n      json: {\n        ...base,\n        exameKey: k,                 // ex1, ex2...\n        exameValor: String(examesObj[k] ?? \"\").trim(), // \"B12(ENV)\"\n      },\n    });\n  }\n}\n\nreturn saida;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,208],"id":"7edfe8b6-d870-4410-8f62-f85aa79edce3","name":"Code1"},{"parameters":{"jsCode":"// cria Status exame e sistema \n//Processa todos os itens (1 por exame)\nconst itens = $input.all();\n\n// Extrai sigla (antes do parêntese)\nfunction extrairSigla(exame) {\n  const txt = String(exame || \"\").trim();\n\n  // Pega tudo antes do primeiro \"(\"\n  const idx = txt.indexOf(\"(\");\n  if (idx === -1) return txt;\n\n  return txt.substring(0, idx).trim();\n}\n\n// Classifica status pelo código entre parênteses\nfunction classificarStatus(exame) {\n  const txt = String(exame || \"\").toUpperCase();\n\n  // Extrai o que está entre parênteses: (ENV), (PEN), (DIG), (9) etc\n  const match = txt.match(/\\(([^)]+)\\)/);\n  const codigo = match ? match[1] : \"\";\n\n  switch (codigo) {\n    case \"ENV\":\n      return \"EXAME ENVIADO\";\n    case \"PEN\":\n      return \"EXAME INTERNO\";\n    case \"DIG\":\n      return \"FALTA LIBERAR RESULTADO\";\n    case \"9\":\n      return \"ENVIO MANUAL\";\n    default:\n      return \"STATUS DESCONHECIDO\";\n  }\n}\n\nreturn itens.map(it => {\n  const j = it.json || {};\n  const exameValor = j.exameValor || \"\";\n\n  return {\n    json: {\n      ...j,\n      sigla: extrairSigla(exameValor),     // ✅ NOVA VARIÁVEL\n      statusExame: classificarStatus(exameValor),\n      sistema: \"AT&TIC\",\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,208],"id":"a3ef8251-b10b-4794-a6aa-89e9bc257733","name":"Code2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}","Data do Cadastro":"={{ $json.dataCadastro }}","Registro do Paciente":"={{ $json.registroCadastro }}","Número do Posto":"={{ $json.posto }}","Nome Completo do Paciente":"={{ $json.nomePaciente }}","SIGLA":"={{ $json.sigla }}","SISTEMA":"={{ $json.sistema }}","STATUS DA AMOSTRA":"={{ $json.statusExame }}","match":"={{ $json.posto }}|{{ $json.sigla }}"},"matchingColumns":["match"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ALTERAÇÕES DE CADASTRO","displayName":"ALTERAÇÕES DE CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-240,208],"id":"39749c40-e087-4c06-93d9-b330069a6a04","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"content":"# FLUXO AT&TIC\n## PEGA ARQUIVO NA PASTA E PREENCHE A PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n## EXAME INTERNO / FALTA LIBERTAR RESULTADO / EXAME ENVIADO / ENVIO MANUAL","height":424,"width":2088},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1888,48],"id":"d5a55500-3153-406b-a7af-0e92971261ea","name":"Sticky Note1"},{"parameters":{"jsCode":"// =======================================================\n// Corrige padrões:\n// - 250HD    -> 25OHD\n// - 25O0HD   -> 25OHD   (zero indevido)\n// - HB1|AC   -> HB1AC\n// Aplica em: sigla, exameValor, DESCRIÇÃO DO EXAME (se existirem)\n// =======================================================\n\nconst itens = $input.all();\n\nconst FIELDS = [\"sigla\", \"exameValor\", \"DESCRIÇÃO DO EXAME\"];\n\nconst fix = (v) =>\n  String(v ?? \"\")\n    // normalizações de Vitamina D\n    .replace(/25O0HD/gi, \"25OHD\")   // corrige zero indevido\n    .replace(/250HD/gi, \"25OHD\")    // corrige zero no lugar do O\n   // normalização HbA1c (OCR variations)\n    .replace(/HB1[\\|I\\-\\s_]*AC/gi, \"HB1AC\")\n\n// ── Siglas com lixo de OCR ─────────────────\n    .replace(/\\bDAGSRH\\b/gi, \"GSRH\")\n    .replace(/\\bDOCREA\\b/gi, \"CRE\");\n\nreturn itens.map((item) => {\n  const json = { ...item.json };\n\n  for (const f of FIELDS) {\n    if (json[f] !== undefined && json[f] !== null) {\n      json[f] = fix(json[f]);\n    }\n  }\n\n  return { json };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,208],"id":"a2f4119d-688f-421d-8e5f-da6c0160b94f","name":"Code in JavaScript3"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2592,640],"id":"dcb3bb5c-a5bf-4677-ad2b-0671564c60cf","name":"Schedule Trigger2"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive10').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1648,1184],"id":"7197dd90-a952-4723-a1f9-ab0f2484a16a","name":"Google Drive9","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='12ZUznSy_wxlXHr1E3rhSs7f1iq42fyxE' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1856,1184],"id":"76f34421-fef7-4ee0-a33c-6a8d2bd4b36d","name":"Google Drive10","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"content":"# APAGAR ARQUIVOS\n## PEGAR ARQUIVO NA PASTA E TRANSFERE PARA PASTA BACKUP","height":348,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1888,1040],"id":"9783fd62-0f3e-4404-a590-5fbabafac0f2","name":"Sticky Note2"}],"connections":{"TESSERACT":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"TESSERACT","type":"main","index":0}]]},"Analisar Gemini1":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}]]},"converter resposta para json1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Analisar Gemini1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Google Drive10","type":"main","index":0},{"node":"Google Drive","type":"main","index":0}]]},"Google Drive10":{"main":[[{"node":"Google Drive9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9b6ff404-cb55-41db-a137-958edc83c410","activeVersionId":"9b6ff404-cb55-41db-a137-958edc83c410","triggerCount":1,"shared":[{"updatedAt":"2026-04-02T00:11:55.015Z","createdAt":"2026-04-02T00:11:55.015Z","role":"workflow:owner","workflowId":"pZy-_jCI_EuhlEC2ZyAn6","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":{"updatedAt":"2026-05-05T15:49:55.029Z","createdAt":"2026-05-05T15:49:49.767Z","versionId":"9b6ff404-cb55-41db-a137-958edc83c410","workflowId":"pZy-_jCI_EuhlEC2ZyAn6","nodes":[{"parameters":{"method":"POST","url":"http://host.docker.internal:5010/ocr","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1536,272],"id":"186a94da-30ac-4e04-aa53-6f5b1a4ce387","name":"TESSERACT","retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='12ZUznSy_wxlXHr1E3rhSs7f1iq42fyxE' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1840,272],"id":"5ecec0a3-09b8-4aa2-9fc4-3e9caa61271a","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1680,272],"id":"5d90a9e6-60e8-4cd2-9c93-34caf4bce834","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyAWXHw-gUU9B0PS46HKs03SiYWRfWMFi0w","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini1","type":"n8n-nodes-base.httpRequest","position":[-1184,208],"id":"bbea9208-f072-4378-858a-474d62b76741","typeVersion":4.2,"retryOnFail":false},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Normaliza\nresposta = String(resposta).trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Extrai o array JSON pelo primeiro [ e último ]\nconst start = resposta.indexOf(\"[\");\nconst end = resposta.lastIndexOf(\"]\");\n\nif (start !== -1 && end !== -1 && end > start) {\n  const jsonBruto = resposta.substring(start, end + 1);\n\n  try {\n    const parsed = JSON.parse(jsonBruto);\n\n    // ✅ Se vier um array: retorna 1 item por registro\n    if (Array.isArray(parsed)) {\n      return parsed.map((registro, idx) => ({\n        json: {\n          ...registro,\n          _idx: idx + 1,     // opcional (ajuda debug)\n          _total: parsed.length\n        }\n      }));\n    }\n\n    // ✅ Se por algum motivo vier 1 objeto: retorna como 1 item\n    return [{ json: parsed }];\n\n  } catch (e) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ JSON encontrado, mas inválido\",\n        mensagem: e.message,\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta\n      }\n    }];\n  }\n}\n\n// Fallback: nenhum JSON detectado\nreturn [{\n  json: {\n    sucesso: false,\n    erro: \"❌ Nenhum array JSON encontrado na resposta\",\n    respostaBruta: resposta\n  }\n}];\n"},"id":"93f3f5c8-2edb-4f79-a118-059f967cec51","name":"converter resposta para json1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1008,208]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt (limpeza segura de cabeçalho/rodapé LABOVIDA)\n// - Remove SOMENTE no INÍCIO/FIM do texto (head/tail):\n//   * \"LABOVIDA\"\n//   * \"Resumo: Pacientes atendidos: N\"\n//   * \"Data de impressão: dd/mm/aaaa Usuário: ...\"\n// - Não remove nada do \"miolo\" do OCR\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.conteudo || \"\";\n\n// -------------------------\n// 1) normalização base (sem apagar conteúdo útil)\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\") // se você não quiser trocar aspas, remova esta linha\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\") // remove controles\n  .trim();\n\n// -------------------------\n// 2) função: limpa cabeçalho/rodapé apenas em head/tail\n// -------------------------\nfunction limparCabecalhoRodape(s, headSize = 600, tailSize = 600) {\n  const len = s.length;\n\n  const head = s.slice(0, Math.min(headSize, len));\n  const mid = s.slice(Math.min(headSize, len), Math.max(len - tailSize, Math.min(headSize, len)));\n  const tail = s.slice(Math.max(len - tailSize, 0));\n\n  const limparBloco = (bloco) => {\n    let b = bloco;\n\n    // remove \"LABOVIDA\" quando aparece como linha isolada (mais seguro)\n    b = b.replace(/^\\s*LABOVIDA\\s*$/gim, \"\");\n\n    // remove \"LABOVIDA\" se estiver grudado no começo do bloco (cabeçalho)\n    b = b.replace(/^\\s*LABOVIDA\\s*/i, \"\");\n\n    // remove \"LABOVIDA\" se estiver grudado no fim do bloco (rodapé)\n    b = b.replace(/\\s*LABOVIDA\\s*$/i, \"\");\n\n    // remove \"Resumo: Pacientes atendidos: N\" (mesmo colado)\n    b = b.replace(/Resumo\\s*:\\s*Pacientes\\s*atendidos\\s*:\\s*\\d+\\s*/gi, \" \");\n\n    // remove \"Data de impressão: dd/mm/aaaa Usuário: XXXXX\" (mesmo colado)\n    // aqui removemos só o trecho de \"Data...\" até o final do nome do usuário\n    // limitando pelo próximo marcador comum (quebra/aspas/fim)\n    b = b.replace(\n      /Data\\s*de\\s*impress[aã]o\\s*:\\s*\\d{2}\\/\\d{2}\\/\\d{4}\\s*Usu[aá]rio\\s*:\\s*.*?(?=(\\n|'''|\"\"\"+|$))/gi,\n      \" \"\n    );\n\n    // limpa espaços\n    b = b.replace(/\\s{2,}/g, \" \").trim();\n\n    return b;\n  };\n\n  const head2 = limparBloco(head);\n  const tail2 = limparBloco(tail);\n\n  // remonta preservando o miolo intacto\n  const juntado = [head2, mid, tail2].join(\" \");\n\n  return juntado\n    .replace(/\\n+/g, \" \")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\n// aplica limpeza segura\nconst conteudoSemCabecalho = limparCabecalhoRodape(texto);\n\n// -------------------------\n// nome do arquivo\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// corpo final para o prompt\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoSemCabecalho}\"\"\"`;\n\n// =======================================================\n// PROMPT\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: `\nVocê é um extrator de dados. Sua tarefa é transformar TEXTO OCR de \"LABOVIDA Bancada: Relatório de Pendências\" em JSON estruturado.\n\nREGRAS IMPORTANTES (obrigatórias):\n1) Você receberá um ou mais blocos. Cada bloco começa com \"LABOVIDA\" e termina com \"LABOVIDA\".\n2) Extraia CADA REGISTRO (cada paciente/linha) encontrado no texto.\n3) Cada registro SEMPRE tem esta estrutura aproximada (OCR pode quebrar linhas):\n   <area> <posto> <dataCadastro dd/mm/aaaa> <registroCadastro> — <nomePaciente> <exames...>\n   - Por exemplo: \"\\n1\\n12\\n24/03/2026\\n12233269\\nMARIA ELIZIANE\\nCREA(ENV)\"\n   - O traço pode aparecer como \"—\" ou \"-\" ou pode ficar deslocado.\n   - O registroCadastro aparecer antes do traço (ex: \"12232024 — ADRIANA ...\").\n5) O posto é o bloco anterior que vem antes de \\n dd/mm/aaaa e depois \\n\n6) Retorne APENAS um JSON válido (nada de explicações, nada de markdown, nada de texto fora do JSON).\n\nFORMATO DE SAÍDA (obrigatório):\n[\n  {\n    \"area\": <number>,\n    \"posto\": <number>,\n    \"dataCadastro\": \"dd/mm/aaaa\",\n    \"registroCadastro\": \"<string_apenas_digitos>\",\n    \"nomePaciente\": \"<string>\",\n    \"exame\": {\n      \"ex1\": \"<sigla>(ENV)\",\n      \"ex2\": \"...\",\n      ...\n    }\n  },\n  ...\n]\n\nNORMALIZAÇÃO / LIMPEZA:\n- \"area\" = primeiro número do registro. \"posto\" = segundo número do registro.\n- \"registroCadastro\": manter SOMENTE dígitos (remover espaços, hífens, \"—\").\n- \"nomePaciente\": manter como aparece (pode ter acentos). Remover excesso de espaços. Não inventar nomes.\n- Exames: detectar tokens que pareçam exame, normalmente algo como \"B12(ENV)\", \"T4L(ENV)\", \"250HD(ENV)\", \"HB1AC(ENV)\" etc.\n  - Se OCR quebrar (ex: \"CRE (ENV)\" ou \"ERI (ENV)\" ou \"TRIENV)\" ), una e normalize para o padrão \"<TEXTO>(ENV)\" quando ficar claro.\n  - Aceite variações OCR como \"25O0HD(ENV)\" (com letra O) e mantenha exatamente como aparece.\n- Ordem: manter a ordem em que os exames aparecem no texto do registro e enumerar ex1..exN.\n\nSEGMENTAÇÃO (como achar onde começa/termina um registro):\n- Um novo registro começa quando aparecer um padrão com DOIS números seguidos + data:\n  Ex: /\\\\b(\\\\d+)\\\\s+(\\\\d+)\\\\s+(\\\\d{2}\\\\/\\\\d{2}\\\\/\\\\d{4})\\\\b/\n- O registro termina imediatamente antes do próximo início de registro OU fim do documento.\n\nTRATAMENTO DE FALTAS:\n- Se um registro não tiver exames, retorne \"exame\": {}.\n- Se não conseguir achar registroCadastro com segurança, ainda retorne o registro com \"registroCadastro\": \"\" (string vazia).\n- Não duplicar registros idênticos (mesmos: area, posto, dataCadastro, registroCadastro, nomePaciente).\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n            `.trim(),\n          },\n        ],\n      },\n    ],\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1376,208],"id":"5c88d91c-8623-4df6-8e1b-55b75d7ee288","name":"Code"},{"parameters":{"jsCode":"// Pega TODOS os itens de entrada (caso você já tenha vários pacientes) e separa um exame por item\nconst itens = $input.all();\n\nconst saida = [];\n\nfor (const it of itens) {\n  const j = it.json || {};\n\n  const base = {\n    area: j.area ?? null,\n    posto: j.posto ?? null,\n    dataCadastro: j.dataCadastro ?? \"\",\n    registroCadastro: j.registroCadastro ?? \"\",\n    nomePaciente: j.nomePaciente ?? \"\",\n    _idx: j._idx ?? null,\n    _total: j._total ?? null, // opcional (remova se não quiser)\n  };\n\n  const examesObj = j.exame && typeof j.exame === \"object\" ? j.exame : {};\n\n  // Ordena ex1, ex2, ex3... corretamente\n  const keysOrdenadas = Object.keys(examesObj).sort((a, b) => {\n    const na = parseInt(a.replace(/\\D/g, \"\"), 10) || 0;\n    const nb = parseInt(b.replace(/\\D/g, \"\"), 10) || 0;\n    return na - nb;\n  });\n\n  // Se não tiver exames, ainda retorna 1 item (opcional)\n  if (keysOrdenadas.length === 0) {\n    saida.push({\n      json: {\n        ...base,\n        exameKey: \"\",\n        exameValor: \"\",\n      },\n    });\n    continue;\n  }\n\n  // Cria 1 item por exame\n  for (const k of keysOrdenadas) {\n    saida.push({\n      json: {\n        ...base,\n        exameKey: k,                 // ex1, ex2...\n        exameValor: String(examesObj[k] ?? \"\").trim(), // \"B12(ENV)\"\n      },\n    });\n  }\n}\n\nreturn saida;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-784,208],"id":"7edfe8b6-d870-4410-8f62-f85aa79edce3","name":"Code1"},{"parameters":{"jsCode":"// cria Status exame e sistema \n//Processa todos os itens (1 por exame)\nconst itens = $input.all();\n\n// Extrai sigla (antes do parêntese)\nfunction extrairSigla(exame) {\n  const txt = String(exame || \"\").trim();\n\n  // Pega tudo antes do primeiro \"(\"\n  const idx = txt.indexOf(\"(\");\n  if (idx === -1) return txt;\n\n  return txt.substring(0, idx).trim();\n}\n\n// Classifica status pelo código entre parênteses\nfunction classificarStatus(exame) {\n  const txt = String(exame || \"\").toUpperCase();\n\n  // Extrai o que está entre parênteses: (ENV), (PEN), (DIG), (9) etc\n  const match = txt.match(/\\(([^)]+)\\)/);\n  const codigo = match ? match[1] : \"\";\n\n  switch (codigo) {\n    case \"ENV\":\n      return \"EXAME ENVIADO\";\n    case \"PEN\":\n      return \"EXAME INTERNO\";\n    case \"DIG\":\n      return \"FALTA LIBERAR RESULTADO\";\n    case \"9\":\n      return \"ENVIO MANUAL\";\n    default:\n      return \"STATUS DESCONHECIDO\";\n  }\n}\n\nreturn itens.map(it => {\n  const j = it.json || {};\n  const exameValor = j.exameValor || \"\";\n\n  return {\n    json: {\n      ...j,\n      sigla: extrairSigla(exameValor),     // ✅ NOVA VARIÁVEL\n      statusExame: classificarStatus(exameValor),\n      sistema: \"AT&TIC\",\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,208],"id":"a3ef8251-b10b-4794-a6aa-89e9bc257733","name":"Code2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}","Data do Cadastro":"={{ $json.dataCadastro }}","Registro do Paciente":"={{ $json.registroCadastro }}","Número do Posto":"={{ $json.posto }}","Nome Completo do Paciente":"={{ $json.nomePaciente }}","SIGLA":"={{ $json.sigla }}","SISTEMA":"={{ $json.sistema }}","STATUS DA AMOSTRA":"={{ $json.statusExame }}","match":"={{ $json.posto }}|{{ $json.sigla }}"},"matchingColumns":["match"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ALTERAÇÕES DE CADASTRO","displayName":"ALTERAÇÕES DE CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-240,208],"id":"39749c40-e087-4c06-93d9-b330069a6a04","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"content":"# FLUXO AT&TIC\n## PEGA ARQUIVO NA PASTA E PREENCHE A PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n## EXAME INTERNO / FALTA LIBERTAR RESULTADO / EXAME ENVIADO / ENVIO MANUAL","height":424,"width":2088},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1888,48],"id":"d5a55500-3153-406b-a7af-0e92971261ea","name":"Sticky Note1"},{"parameters":{"jsCode":"// =======================================================\n// Corrige padrões:\n// - 250HD    -> 25OHD\n// - 25O0HD   -> 25OHD   (zero indevido)\n// - HB1|AC   -> HB1AC\n// Aplica em: sigla, exameValor, DESCRIÇÃO DO EXAME (se existirem)\n// =======================================================\n\nconst itens = $input.all();\n\nconst FIELDS = [\"sigla\", \"exameValor\", \"DESCRIÇÃO DO EXAME\"];\n\nconst fix = (v) =>\n  String(v ?? \"\")\n    // normalizações de Vitamina D\n    .replace(/25O0HD/gi, \"25OHD\")   // corrige zero indevido\n    .replace(/250HD/gi, \"25OHD\")    // corrige zero no lugar do O\n   // normalização HbA1c (OCR variations)\n    .replace(/HB1[\\|I\\-\\s_]*AC/gi, \"HB1AC\")\n\n// ── Siglas com lixo de OCR ─────────────────\n    .replace(/\\bDAGSRH\\b/gi, \"GSRH\")\n    .replace(/\\bDOCREA\\b/gi, \"CRE\");\n\nreturn itens.map((item) => {\n  const json = { ...item.json };\n\n  for (const f of FIELDS) {\n    if (json[f] !== undefined && json[f] !== null) {\n      json[f] = fix(json[f]);\n    }\n  }\n\n  return { json };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,208],"id":"a2f4119d-688f-421d-8e5f-da6c0160b94f","name":"Code in JavaScript3"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-2592,640],"id":"dcb3bb5c-a5bf-4677-ad2b-0671564c60cf","name":"Schedule Trigger2"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive10').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1648,1184],"id":"7197dd90-a952-4723-a1f9-ab0f2484a16a","name":"Google Drive9","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='12ZUznSy_wxlXHr1E3rhSs7f1iq42fyxE' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1856,1184],"id":"76f34421-fef7-4ee0-a33c-6a8d2bd4b36d","name":"Google Drive10","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"content":"# APAGAR ARQUIVOS\n## PEGAR ARQUIVO NA PASTA E TRANSFERE PARA PASTA BACKUP","height":348,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1888,1040],"id":"9783fd62-0f3e-4404-a590-5fbabafac0f2","name":"Sticky Note2"}],"connections":{"TESSERACT":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"TESSERACT","type":"main","index":0}]]},"Analisar Gemini1":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}]]},"converter resposta para json1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Analisar Gemini1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Google Drive10","type":"main","index":0},{"node":"Google Drive","type":"main","index":0}]]},"Google Drive10":{"main":[[{"node":"Google Drive9","type":"main","index":0}]]}},"authors":"Mickeliny ckely_sena@hotmail.com","name":"Version 9b6ff404","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}