workflows/attic_relacaopendencias-EkppS6aPJYn7czXM.json
{"updatedAt":"2026-05-23T20:17:32.462Z","createdAt":"2026-05-11T22:41:52.196Z","id":"EkppS6aPJYn7czXM","name":"attic_RelacaoPendencias","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://host.docker.internal:5010/ocr","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-336],"id":"67b09eeb-55a4-4f80-84f2-84896e4b75c5","name":"TESSERACT","retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='12ZUznSy_wxlXHr1E3rhSs7f1iq42fyxE' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[48,224],"id":"6f486768-7056-4731-8407-c1b22662c531","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,224],"id":"e3db1a2e-1491-44a3-b9d1-3716592657bf","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyAWXHw-gUU9B0PS46HKs03SiYWRfWMFi0w","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini1","type":"n8n-nodes-base.httpRequest","position":[784,-288],"id":"9ca5b270-1ebf-475d-b16d-f142accbcddf","typeVersion":4.2,"retryOnFail":false},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Normaliza\nresposta = String(resposta).trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Extrai o array JSON pelo primeiro [ e último ]\nconst start = resposta.indexOf(\"[\");\nconst end = resposta.lastIndexOf(\"]\");\n\nif (start !== -1 && end !== -1 && end > start) {\n  const jsonBruto = resposta.substring(start, end + 1);\n\n  try {\n    const parsed = JSON.parse(jsonBruto);\n\n    // ✅ Se vier um array: retorna 1 item por registro\n    if (Array.isArray(parsed)) {\n      return parsed.map((registro, idx) => ({\n        json: {\n          ...registro,\n          _idx: idx + 1,     // opcional (ajuda debug)\n          _total: parsed.length\n        }\n      }));\n    }\n\n    // ✅ Se por algum motivo vier 1 objeto: retorna como 1 item\n    return [{ json: parsed }];\n\n  } catch (e) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ JSON encontrado, mas inválido\",\n        mensagem: e.message,\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta\n      }\n    }];\n  }\n}\n\n// Fallback: nenhum JSON detectado\nreturn [{\n  json: {\n    sucesso: false,\n    erro: \"❌ Nenhum array JSON encontrado na resposta\",\n    respostaBruta: resposta\n  }\n}];\n"},"id":"50f29240-b1d0-4b3e-a2a4-e720c85f09c2","name":"converter resposta para json1","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-288]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt (limpeza segura de cabeçalho/rodapé LABOVIDA)\n// - Remove SOMENTE no INÍCIO/FIM do texto (head/tail):\n//   * \"LABOVIDA\"\n//   * \"Resumo: Pacientes atendidos: N\"\n//   * \"Data de impressão: dd/mm/aaaa Usuário: ...\"\n// - Não remove nada do \"miolo\" do OCR\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.conteudo || \"\";\n\n// -------------------------\n// 1) normalização base (sem apagar conteúdo útil)\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\") // se você não quiser trocar aspas, remova esta linha\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\") // remove controles\n  .trim();\n\n// -------------------------\n// 2) função: limpa cabeçalho/rodapé apenas em head/tail\n// -------------------------\nfunction limparCabecalhoRodape(s, headSize = 600, tailSize = 600) {\n  const len = s.length;\n\n  const head = s.slice(0, Math.min(headSize, len));\n  const mid = s.slice(Math.min(headSize, len), Math.max(len - tailSize, Math.min(headSize, len)));\n  const tail = s.slice(Math.max(len - tailSize, 0));\n\n  const limparBloco = (bloco) => {\n    let b = bloco;\n\n    // remove \"LABOVIDA\" quando aparece como linha isolada (mais seguro)\n    b = b.replace(/^\\s*LABOVIDA\\s*$/gim, \"\");\n\n    // remove \"LABOVIDA\" se estiver grudado no começo do bloco (cabeçalho)\n    b = b.replace(/^\\s*LABOVIDA\\s*/i, \"\");\n\n    // remove \"LABOVIDA\" se estiver grudado no fim do bloco (rodapé)\n    b = b.replace(/\\s*LABOVIDA\\s*$/i, \"\");\n\n    // remove \"Resumo: Pacientes atendidos: N\" (mesmo colado)\n    b = b.replace(/Resumo\\s*:\\s*Pacientes\\s*atendidos\\s*:\\s*\\d+\\s*/gi, \" \");\n\n    // remove \"Data de impressão: dd/mm/aaaa Usuário: XXXXX\" (mesmo colado)\n    // aqui removemos só o trecho de \"Data...\" até o final do nome do usuário\n    // limitando pelo próximo marcador comum (quebra/aspas/fim)\n    b = b.replace(\n      /Data\\s*de\\s*impress[aã]o\\s*:\\s*\\d{2}\\/\\d{2}\\/\\d{4}\\s*Usu[aá]rio\\s*:\\s*.*?(?=(\\n|'''|\"\"\"+|$))/gi,\n      \" \"\n    );\n\n    // limpa espaços\n    b = b.replace(/\\s{2,}/g, \" \").trim();\n\n    return b;\n  };\n\n  const head2 = limparBloco(head);\n  const tail2 = limparBloco(tail);\n\n  // remonta preservando o miolo intacto\n  const juntado = [head2, mid, tail2].join(\" \");\n\n  return juntado\n    .replace(/\\n+/g, \" \")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\n// aplica limpeza segura\nconst conteudoSemCabecalho = limparCabecalhoRodape(texto);\n\n// -------------------------\n// nome do arquivo\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// corpo final para o prompt\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoSemCabecalho}\"\"\"`;\n\n// =======================================================\n// PROMPT\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: `\nVocê é um extrator de dados. Sua tarefa é transformar TEXTO OCR de \"LABOVIDA Bancada: Relatório de Pendências\" em JSON estruturado.\n\nREGRAS IMPORTANTES (obrigatórias):\n1) Você receberá um ou mais blocos. Cada bloco começa com \"LABOVIDA\" e termina com \"LABOVIDA\".\n2) Extraia CADA REGISTRO (cada paciente/linha) encontrado no texto.\n3) Cada registro SEMPRE tem esta estrutura aproximada (OCR pode quebrar linhas):\n   <area> <posto> <dataCadastro dd/mm/aaaa> <registroCadastro> — <nomePaciente> <exames...>\n   - Por exemplo: \"\\n1\\n12\\n24/03/2026\\n12233269\\nMARIA ELIZIANE\\nCREA(ENV)\"\n   - O traço pode aparecer como \"—\" ou \"-\" ou pode ficar deslocado.\n   - O registroCadastro aparecer antes do traço (ex: \"12232024 — ADRIANA ...\").\n5) O posto é o bloco anterior que vem antes de \\n dd/mm/aaaa e depois \\n\n6) Retorne APENAS um JSON válido (nada de explicações, nada de markdown, nada de texto fora do JSON).\n\nFORMATO DE SAÍDA (obrigatório):\n[\n  {\n    \"area\": <number>,\n    \"posto\": <number>,\n    \"dataCadastro\": \"dd/mm/aaaa\",\n    \"registroCadastro\": \"<string_apenas_digitos>\",\n    \"nomePaciente\": \"<string>\",\n    \"exame\": {\n      \"ex1\": \"<sigla>(ENV)\",\n      \"ex2\": \"...\",\n      ...\n    }\n  },\n  ...\n]\n\nNORMALIZAÇÃO / LIMPEZA:\n- \"area\" = primeiro número do registro. \"posto\" = segundo número do registro.\n- \"registroCadastro\": manter SOMENTE dígitos (remover espaços, hífens, \"—\").\n- \"nomePaciente\": manter como aparece (pode ter acentos). Remover excesso de espaços. Não inventar nomes.\n- Exames: detectar tokens que pareçam exame, normalmente algo como \"B12(ENV)\", \"T4L(ENV)\", \"250HD(ENV)\", \"HB1AC(ENV)\" etc.\n  - Se OCR quebrar (ex: \"CRE (ENV)\" ou \"ERI (ENV)\" ou \"TRIENV)\" ), una e normalize para o padrão \"<TEXTO>(ENV)\" quando ficar claro.\n  - Aceite variações OCR como \"25O0HD(ENV)\" (com letra O) e mantenha exatamente como aparece.\n- Ordem: manter a ordem em que os exames aparecem no texto do registro e enumerar ex1..exN.\n\nSEGMENTAÇÃO (como achar onde começa/termina um registro):\n- Um novo registro começa quando aparecer um padrão com DOIS números seguidos + data:\n  Ex: /\\\\b(\\\\d+)\\\\s+(\\\\d+)\\\\s+(\\\\d{2}\\\\/\\\\d{2}\\\\/\\\\d{4})\\\\b/\n- O registro termina imediatamente antes do próximo início de registro OU fim do documento.\n\nTRATAMENTO DE FALTAS:\n- Se um registro não tiver exames, retorne \"exame\": {}.\n- Se não conseguir achar registroCadastro com segurança, ainda retorne o registro com \"registroCadastro\": \"\" (string vazia).\n- Não duplicar registros idênticos (mesmos: area, posto, dataCadastro, registroCadastro, nomePaciente).\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n            `.trim(),\n          },\n        ],\n      },\n    ],\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,-288],"id":"da5c39c5-94f1-4d47-8c96-b97c7a2c771d","name":"Code"},{"parameters":{"jsCode":"// Pega TODOS os itens de entrada (caso você já tenha vários pacientes) e separa um exame por item\nconst itens = $input.all();\n\nconst saida = [];\n\nfor (const it of itens) {\n  const j = it.json || {};\n\n  const base = {\n    area: j.area ?? null,\n    posto: j.posto ?? null,\n    dataCadastro: j.dataCadastro ?? \"\",\n    registroCadastro: j.registroCadastro ?? \"\",\n    nomePaciente: j.nomePaciente ?? \"\",\n    _idx: j._idx ?? null,\n    _total: j._total ?? null, // opcional (remova se não quiser)\n  };\n\n  const examesObj = j.exame && typeof j.exame === \"object\" ? j.exame : {};\n\n  // Ordena ex1, ex2, ex3... corretamente\n  const keysOrdenadas = Object.keys(examesObj).sort((a, b) => {\n    const na = parseInt(a.replace(/\\D/g, \"\"), 10) || 0;\n    const nb = parseInt(b.replace(/\\D/g, \"\"), 10) || 0;\n    return na - nb;\n  });\n\n  // Se não tiver exames, ainda retorna 1 item (opcional)\n  if (keysOrdenadas.length === 0) {\n    saida.push({\n      json: {\n        ...base,\n        exameKey: \"\",\n        exameValor: \"\",\n      },\n    });\n    continue;\n  }\n\n  // Cria 1 item por exame\n  for (const k of keysOrdenadas) {\n    saida.push({\n      json: {\n        ...base,\n        exameKey: k,                 // ex1, ex2...\n        exameValor: String(examesObj[k] ?? \"\").trim(), // \"B12(ENV)\"\n      },\n    });\n  }\n}\n\nreturn saida;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,-288],"id":"64f9fb21-d4e0-4b0e-aeb3-0f36c28efc6e","name":"Code1"},{"parameters":{"jsCode":"// cria Status exame e sistema \n//Processa todos os itens (1 por exame)\nconst itens = $input.all();\n\n// Extrai sigla (antes do parêntese)\nfunction extrairSigla(exame) {\n  const txt = String(exame || \"\").trim();\n\n  // Pega tudo antes do primeiro \"(\"\n  const idx = txt.indexOf(\"(\");\n  if (idx === -1) return txt;\n\n  return txt.substring(0, idx).trim();\n}\n\n// Classifica status pelo código entre parênteses\nfunction classificarStatus(exame) {\n  const txt = String(exame || \"\").toUpperCase();\n\n  // Extrai o que está entre parênteses: (ENV), (PEN), (DIG), (9) etc\n  const match = txt.match(/\\(([^)]+)\\)/);\n  const codigo = match ? match[1] : \"\";\n\n  switch (codigo) {\n    case \"ENV\":\n      return \"EXAME ENVIADO\";\n    case \"PEN\":\n      return \"EXAME INTERNO\";\n    case \"DIG\":\n      return \"FALTA LIBERAR RESULTADO\";\n    case \"9\":\n      return \"ENVIO MANUAL\";\n    default:\n      return \"STATUS DESCONHECIDO\";\n  }\n}\n\nreturn itens.map(it => {\n  const j = it.json || {};\n  const exameValor = j.exameValor || \"\";\n\n  return {\n    json: {\n      ...j,\n      sigla: extrairSigla(exameValor),     // ✅ NOVA VARIÁVEL\n      statusExame: classificarStatus(exameValor),\n      sistema: \"AT&TIC\",\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-288],"id":"cb75aea1-9093-45e6-8e50-0345f8d0916a","name":"Code2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}","Data do Cadastro":"={{ $json.dataCadastro }}","Registro do Paciente":"={{ $json.registroCadastro }}","Número do Posto":"={{ $json.posto }}","Nome Completo do Paciente":"={{ $json.nomePaciente }}","SIGLA":"={{ $json.exame }}","SISTEMA":"=AT&TIC","STATUS DA AMOSTRA":"={{ $json.status }}","match":"={{ $json.registroCadastro }}|{{ $json.exame }}"},"matchingColumns":["match"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ALTERAÇÕES DE CADASTRO","displayName":"ALTERAÇÕES DE CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1120,224],"id":"7c24f185-418c-4cf5-ae5e-fe687a52783d","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"content":"# FLUXO AT&TIC\n## PEGA ARQUIVO NA PASTA E PREENCHE A PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n## EXAME INTERNO / FALTA LIBERTAR RESULTADO / EXAME ENVIADO / ENVIO MANUAL","height":552,"width":1464},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"caa05501-8b9c-4618-b58f-76013af8e1d1","name":"Sticky Note1"},{"parameters":{"jsCode":"// =======================================================\n// Corrige padrões:\n// - 250HD    -> 25OHD\n// - 25O0HD   -> 25OHD   (zero indevido)\n// - HB1|AC   -> HB1AC\n// Aplica em: sigla, exameValor, DESCRIÇÃO DO EXAME (se existirem)\n// =======================================================\n\nconst itens = $input.all();\n\nconst FIELDS = [\"sigla\", \"exameValor\", \"DESCRIÇÃO DO EXAME\"];\n\nconst fix = (v) =>\n  String(v ?? \"\")\n    // normalizações de Vitamina D\n    .replace(/25O0HD/gi, \"25OHD\")   // corrige zero indevido\n    .replace(/250HD/gi, \"25OHD\")    // corrige zero no lugar do O\n   // normalização HbA1c (OCR variations)\n    .replace(/HB1[\\|I\\-\\s_]*AC/gi, \"HB1AC\")\n\n// ── Siglas com lixo de OCR ─────────────────\n    .replace(/\\bDAGSRH\\b/gi, \"GSRH\")\n    .replace(/\\bDOCREA\\b/gi, \"CRE\");\n\nreturn itens.map((item) => {\n  const json = { ...item.json };\n\n  for (const f of FIELDS) {\n    if (json[f] !== undefined && json[f] !== null) {\n      json[f] = fix(json[f]);\n    }\n  }\n\n  return { json };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,-288],"id":"0c349b60-f7b0-43a1-8e0d-22360e4519c3","name":"Code in JavaScript3"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/6 8-17 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-352,432],"id":"5c0ec8fb-d828-405e-9e7f-13d25f340c7f","name":"Schedule Trigger2"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive10').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,736],"id":"f7dbb5a7-5372-4763-bd01-495742a7edca","name":"Google Drive9","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='12ZUznSy_wxlXHr1E3rhSs7f1iq42fyxE' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[32,736],"id":"1e6a7cbb-fc70-4dbd-9ea9-0ead7bb6ecfa","name":"Google Drive10","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"content":"# APAGAR ARQUIVOS\n## PEGAR ARQUIVO NA PASTA E TRANSFERE PARA PASTA BACKUP","height":348,"width":840},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,608],"id":"0a0167d1-176f-45f4-b170-ccd8749207d4","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[352,224],"id":"4cd5256a-ba4e-42cd-87f1-e8716d2d5e36","name":"Extract text","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"promptType":"define","text":"=Você é um extrator de dados especializado em OCR de relatórios laboratoriais.\n\nSua tarefa é transformar o TEXTO OCR de \"LABOVIDA Bancada: Relatório de Pendências\" em um ARRAY JSON estruturado.\n\nRetorne SOMENTE um ARRAY JSON válido.\nA resposta deve começar com [ e terminar com ].\n\nNão use markdown.\nNão use ```json.\nNão explique nada.\nNão coloque o JSON dentro de string.\nNão retorne no campo text.\nNão escape aspas com barra invertida.\n\n==================================================\nFORMATO OBRIGATÓRIO\n==================================================\n\n[\n  {\n    \"area\": 1,\n    \"posto\": 12,\n    \"dataCadastro\": \"09/05/2026\",\n    \"registroCadastro\": \"12234239\",\n    \"nomePaciente\": \"FERNANDO ARRUDA DOS SANTOS\",\n    \"exameBloco\": {\n      \"ex1\": \"DDIME(ENV)\"\n    },\n    \"exame\": \"DDIME\",\n    \"_idx\": 1,\n    \"_total\": 34,\n    \"status\": \"EXAME ENVIADO\"\n  }\n]\n\n==================================================\nREGRA PRINCIPAL DE RETORNO\n==================================================\n\nCada linha da tabela deve ser analisada no formato:\n\n| area | posto | dataCadastro | registroCadastro | nomePaciente | exames |\n\nExemplo real:\n| 6 | 35 | 09/05/2026 | 3568185 | MARIA ROSINALVA LOPES | B12(ENV) HTLV(ENV) |\n\nEsse exemplo possui 2 exames:\nB12(ENV)\nHTLV(ENV)\n\nPortanto, deve retornar 2 objetos separados:\n\n[\n  {\n    \"area\": 6,\n    \"posto\": 35,\n    \"dataCadastro\": \"09/05/2026\",\n    \"registroCadastro\": \"3568185\",\n    \"nomePaciente\": \"MARIA ROSINALVA LOPES\",\n    \"exameBloco\": {\n      \"ex1\": \"B12(ENV)\",\n      \"ex2\": \"HTLV(ENV)\"\n    },\n    \"exame\": \"B12\",\n    \"_idx\": 1,\n    \"_total\": 2,\n    \"status\": \"EXAME ENVIADO\"\n  },\n  {\n    \"area\": 6,\n    \"posto\": 35,\n    \"dataCadastro\": \"09/05/2026\",\n    \"registroCadastro\": \"3568185\",\n    \"nomePaciente\": \"MARIA ROSINALVA LOPES\",\n    \"exameBloco\": {\n      \"ex1\": \"B12(ENV)\",\n      \"ex2\": \"HTLV(ENV)\"\n    },\n    \"exame\": \"HTLV\",\n    \"_idx\": 2,\n    \"_total\": 2,\n    \"status\": \"EXAME ENVIADO\"\n  }\n]\n\nOBRIGATÓRIO:\n- Se a coluna de exames tiver 2 exames, retorne 2 objetos.\n- Se a coluna de exames tiver 3 exames, retorne 3 objetos.\n- Nunca retorne paciente sem \"exame\" quando a coluna de exames possui valores.\n- Para cada exame no formato SIGLA(ENV), SIGLA(PEN), SIGLA(DIG) ou SIGLA(9), crie um objeto separado.\n- O campo \"exame\" deve ser a parte antes do parêntese.\n- O campo \"status\" deve ser calculado pela parte dentro do parêntese.\n==================================================\nREGRAS DE EXTRAÇÃO\n==================================================\n\n1. Extraia cada paciente/registro encontrado no texto.\n\n2. Cada registro normalmente segue esta estrutura:\n\n<area> <posto> <dataCadastro> <registroCadastro> <nomePaciente> <exames>\n\nExemplo:\n1 12 24/03/2026 12233269 MARIA ELIZIANE CREA(ENV)\n\n3. O campo \"area\" é o primeiro número do registro.\n\n4. O campo \"posto\" é o segundo número do registro.\n\n5. O campo \"dataCadastro\" deve estar no formato DD/MM/AAAA.\n\n6. O campo \"registroCadastro\" deve conter somente dígitos.\n\n7. O campo \"nomePaciente\":\n- começa depois do registroCadastro\n- termina antes do primeiro exame\n- deve manter o nome como aparece no OCR\n- deve remover excesso de espaços\n- não invente nomes\n\n8. O campo \"exameBloco\":\n- deve conter TODOS os exames do paciente\n- deve manter os exames com status entre parênteses\n- deve numerar como ex1, ex2, ex3...\n- deve preservar a ordem original\n\nExemplo:\n\"exameBloco\": {\n  \"ex1\": \"HB1AC(ENV)\",\n  \"ex2\": \"HP(ENV)\"\n}\n\n9. O campo \"exame\":\n- deve conter somente a sigla do exame atual\n- NÃO deve conter o status entre parênteses\n- NÃO deve conter \"(ENV)\", \"(PEN)\", \"(DIG)\" ou \"(9)\"\n\nExemplo:\nHB1AC(ENV) deve retornar:\n\"exame\": \"HB1AC\"\n\n10. O campo \"status\":\n- deve ser gerado a partir do código dentro dos parênteses do exame atual\n\nMapeamento obrigatório:\nENV = \"EXAME ENVIADO\"\nPEN = \"EXAME INTERNO\"\nDIG = \"FALTA LIBERAR RESULTADO\"\n9 = \"ENVIO MANUAL\"\n\nSe não conseguir identificar:\n\"STATUS DESCONHECIDO\"\n\n11. Se o OCR quebrar o exame, normalize quando for claro:\nTRIENV) deve virar TRI(ENV)\nCRE (ENV) deve virar CRE(ENV)\nB12 (ENV) deve virar B12(ENV)\n\n12. Não separe exames que tenham complemento dentro de parênteses.\n\nExemplo:\nIONOGRAMA (NA/K/CLORETO/RESERVA)\n\né UM ÚNICO exame.\n\nNesse caso:\n\"exameBloco\": {\n  \"ex1\": \"IONOGRAMA(NA/K/CLORETO/RESERVA)\"\n}\n\nE o campo exame deve ser:\n\"exame\": \"IONOGRAMA(NA/K/CLORETO/RESERVA)\"\n\n13. Se um registro não tiver exames, retorne um único objeto com:\n\"exameBloco\": {}\n\"exame\": \"\"\n\"status\": \"STATUS DESCONHECIDO\"\n\n14. Não duplique registros idênticos.\n\n15. Ignore cabeçalhos e rodapés:\nLABOVIDA\nResumo\nPacientes atendidos\nData de impressão\nUsuário\nBancada\nRelatório de Pendências\n\n==================================================\nINDEXAÇÃO\n==================================================\n\n- \"_idx\" começa em 1.\n- \"_total\" deve ser igual ao total de objetos retornados no array final.\n- Como deve retornar 1 objeto por exame, \"_total\" é o total de exames extraídos, não o total de pacientes.\n\n==================================================\nSEGMENTAÇÃO\n==================================================\n\nUm novo registro começa quando aparecer:\n\nnúmero número data\n\nExemplo:\n1 12 24/03/2026\n\nO registro termina antes do próximo padrão:\nnúmero número data\n\nou no fim do documento.\n\n==================================================\nTEXTO OCR\n==================================================\n\n{{ $json.conteudo || $json.extractedText || $json.text || $json.markdown || $json.pages?.map(p => p.markdown).join(\"\\n\") }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[560,224],"id":"349670c8-e95d-419b-aa94-82f56c99505c","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[560,400],"id":"ab4d5e72-e0e0-456a-a813-1cae62bc5004","name":"Mistral Cloud Chat Model","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"jsCode":"let resposta =\n  $input.first().json.text ||\n  $input.first().json.output ||\n  $input.first().json.response ||\n  \"\";\n\nresposta = String(resposta)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nconst start = resposta.indexOf(\"[\");\nconst end = resposta.lastIndexOf(\"]\");\n\nif (start === -1 || end === -1 || end <= start) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"Nenhum array JSON encontrado na resposta da IA\",\n      respostaBruta: resposta\n    }\n  }];\n}\n\nconst jsonBruto = resposta.substring(start, end + 1);\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(jsonBruto);\n} catch (e) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"JSON encontrado, mas inválido\",\n      mensagem: e.message,\n      jsonExtraido: jsonBruto,\n      respostaBruta: resposta\n    }\n  }];\n}\n\nif (!Array.isArray(parsed)) {\n  parsed = [parsed];\n}\n\nreturn parsed.map((registro, idx) => ({\n  json: {\n    ...registro,\n    _idx: idx + 1,\n    _total: parsed.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,224],"id":"15e09c2c-6b2d-4dfb-9fd5-5585096fff5b","name":"Code in JavaScript"}],"connections":{"TESSERACT":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text","type":"main","index":0}]]},"Analisar Gemini1":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}]]},"converter resposta para json1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Analisar Gemini1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[]]},"Schedule Trigger2":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Google Drive10","type":"main","index":0}]]},"Google Drive10":{"main":[[{"node":"Google Drive9","type":"main","index":0}]]},"Extract text":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"89bc4cc6-6bbb-4eba-89fa-b50a1bf0d437","activeVersionId":"89bc4cc6-6bbb-4eba-89fa-b50a1bf0d437","triggerCount":1,"shared":[{"updatedAt":"2026-05-11T22:41:52.200Z","createdAt":"2026-05-11T22:41:52.200Z","role":"workflow:owner","workflowId":"EkppS6aPJYn7czXM","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-23T20:17:36.000Z","createdAt":"2026-05-23T20:17:32.463Z","versionId":"89bc4cc6-6bbb-4eba-89fa-b50a1bf0d437","workflowId":"EkppS6aPJYn7czXM","nodes":[{"parameters":{"method":"POST","url":"http://host.docker.internal:5010/ocr","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,-336],"id":"67b09eeb-55a4-4f80-84f2-84896e4b75c5","name":"TESSERACT","retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='12ZUznSy_wxlXHr1E3rhSs7f1iq42fyxE' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[48,224],"id":"6f486768-7056-4731-8407-c1b22662c531","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,224],"id":"e3db1a2e-1491-44a3-b9d1-3716592657bf","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyAWXHw-gUU9B0PS46HKs03SiYWRfWMFi0w","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini1","type":"n8n-nodes-base.httpRequest","position":[784,-288],"id":"9ca5b270-1ebf-475d-b16d-f142accbcddf","typeVersion":4.2,"retryOnFail":false},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Normaliza\nresposta = String(resposta).trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// Extrai o array JSON pelo primeiro [ e último ]\nconst start = resposta.indexOf(\"[\");\nconst end = resposta.lastIndexOf(\"]\");\n\nif (start !== -1 && end !== -1 && end > start) {\n  const jsonBruto = resposta.substring(start, end + 1);\n\n  try {\n    const parsed = JSON.parse(jsonBruto);\n\n    // ✅ Se vier um array: retorna 1 item por registro\n    if (Array.isArray(parsed)) {\n      return parsed.map((registro, idx) => ({\n        json: {\n          ...registro,\n          _idx: idx + 1,     // opcional (ajuda debug)\n          _total: parsed.length\n        }\n      }));\n    }\n\n    // ✅ Se por algum motivo vier 1 objeto: retorna como 1 item\n    return [{ json: parsed }];\n\n  } catch (e) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ JSON encontrado, mas inválido\",\n        mensagem: e.message,\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta\n      }\n    }];\n  }\n}\n\n// Fallback: nenhum JSON detectado\nreturn [{\n  json: {\n    sucesso: false,\n    erro: \"❌ Nenhum array JSON encontrado na resposta\",\n    respostaBruta: resposta\n  }\n}];\n"},"id":"50f29240-b1d0-4b3e-a2a4-e720c85f09c2","name":"converter resposta para json1","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,-288]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt (limpeza segura de cabeçalho/rodapé LABOVIDA)\n// - Remove SOMENTE no INÍCIO/FIM do texto (head/tail):\n//   * \"LABOVIDA\"\n//   * \"Resumo: Pacientes atendidos: N\"\n//   * \"Data de impressão: dd/mm/aaaa Usuário: ...\"\n// - Não remove nada do \"miolo\" do OCR\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.conteudo || \"\";\n\n// -------------------------\n// 1) normalização base (sem apagar conteúdo útil)\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\") // se você não quiser trocar aspas, remova esta linha\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\") // remove controles\n  .trim();\n\n// -------------------------\n// 2) função: limpa cabeçalho/rodapé apenas em head/tail\n// -------------------------\nfunction limparCabecalhoRodape(s, headSize = 600, tailSize = 600) {\n  const len = s.length;\n\n  const head = s.slice(0, Math.min(headSize, len));\n  const mid = s.slice(Math.min(headSize, len), Math.max(len - tailSize, Math.min(headSize, len)));\n  const tail = s.slice(Math.max(len - tailSize, 0));\n\n  const limparBloco = (bloco) => {\n    let b = bloco;\n\n    // remove \"LABOVIDA\" quando aparece como linha isolada (mais seguro)\n    b = b.replace(/^\\s*LABOVIDA\\s*$/gim, \"\");\n\n    // remove \"LABOVIDA\" se estiver grudado no começo do bloco (cabeçalho)\n    b = b.replace(/^\\s*LABOVIDA\\s*/i, \"\");\n\n    // remove \"LABOVIDA\" se estiver grudado no fim do bloco (rodapé)\n    b = b.replace(/\\s*LABOVIDA\\s*$/i, \"\");\n\n    // remove \"Resumo: Pacientes atendidos: N\" (mesmo colado)\n    b = b.replace(/Resumo\\s*:\\s*Pacientes\\s*atendidos\\s*:\\s*\\d+\\s*/gi, \" \");\n\n    // remove \"Data de impressão: dd/mm/aaaa Usuário: XXXXX\" (mesmo colado)\n    // aqui removemos só o trecho de \"Data...\" até o final do nome do usuário\n    // limitando pelo próximo marcador comum (quebra/aspas/fim)\n    b = b.replace(\n      /Data\\s*de\\s*impress[aã]o\\s*:\\s*\\d{2}\\/\\d{2}\\/\\d{4}\\s*Usu[aá]rio\\s*:\\s*.*?(?=(\\n|'''|\"\"\"+|$))/gi,\n      \" \"\n    );\n\n    // limpa espaços\n    b = b.replace(/\\s{2,}/g, \" \").trim();\n\n    return b;\n  };\n\n  const head2 = limparBloco(head);\n  const tail2 = limparBloco(tail);\n\n  // remonta preservando o miolo intacto\n  const juntado = [head2, mid, tail2].join(\" \");\n\n  return juntado\n    .replace(/\\n+/g, \" \")\n    .replace(/\\s{2,}/g, \" \")\n    .trim();\n}\n\n// aplica limpeza segura\nconst conteudoSemCabecalho = limparCabecalhoRodape(texto);\n\n// -------------------------\n// nome do arquivo\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// corpo final para o prompt\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoSemCabecalho}\"\"\"`;\n\n// =======================================================\n// PROMPT\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: `\nVocê é um extrator de dados. Sua tarefa é transformar TEXTO OCR de \"LABOVIDA Bancada: Relatório de Pendências\" em JSON estruturado.\n\nREGRAS IMPORTANTES (obrigatórias):\n1) Você receberá um ou mais blocos. Cada bloco começa com \"LABOVIDA\" e termina com \"LABOVIDA\".\n2) Extraia CADA REGISTRO (cada paciente/linha) encontrado no texto.\n3) Cada registro SEMPRE tem esta estrutura aproximada (OCR pode quebrar linhas):\n   <area> <posto> <dataCadastro dd/mm/aaaa> <registroCadastro> — <nomePaciente> <exames...>\n   - Por exemplo: \"\\n1\\n12\\n24/03/2026\\n12233269\\nMARIA ELIZIANE\\nCREA(ENV)\"\n   - O traço pode aparecer como \"—\" ou \"-\" ou pode ficar deslocado.\n   - O registroCadastro aparecer antes do traço (ex: \"12232024 — ADRIANA ...\").\n5) O posto é o bloco anterior que vem antes de \\n dd/mm/aaaa e depois \\n\n6) Retorne APENAS um JSON válido (nada de explicações, nada de markdown, nada de texto fora do JSON).\n\nFORMATO DE SAÍDA (obrigatório):\n[\n  {\n    \"area\": <number>,\n    \"posto\": <number>,\n    \"dataCadastro\": \"dd/mm/aaaa\",\n    \"registroCadastro\": \"<string_apenas_digitos>\",\n    \"nomePaciente\": \"<string>\",\n    \"exame\": {\n      \"ex1\": \"<sigla>(ENV)\",\n      \"ex2\": \"...\",\n      ...\n    }\n  },\n  ...\n]\n\nNORMALIZAÇÃO / LIMPEZA:\n- \"area\" = primeiro número do registro. \"posto\" = segundo número do registro.\n- \"registroCadastro\": manter SOMENTE dígitos (remover espaços, hífens, \"—\").\n- \"nomePaciente\": manter como aparece (pode ter acentos). Remover excesso de espaços. Não inventar nomes.\n- Exames: detectar tokens que pareçam exame, normalmente algo como \"B12(ENV)\", \"T4L(ENV)\", \"250HD(ENV)\", \"HB1AC(ENV)\" etc.\n  - Se OCR quebrar (ex: \"CRE (ENV)\" ou \"ERI (ENV)\" ou \"TRIENV)\" ), una e normalize para o padrão \"<TEXTO>(ENV)\" quando ficar claro.\n  - Aceite variações OCR como \"25O0HD(ENV)\" (com letra O) e mantenha exatamente como aparece.\n- Ordem: manter a ordem em que os exames aparecem no texto do registro e enumerar ex1..exN.\n\nSEGMENTAÇÃO (como achar onde começa/termina um registro):\n- Um novo registro começa quando aparecer um padrão com DOIS números seguidos + data:\n  Ex: /\\\\b(\\\\d+)\\\\s+(\\\\d+)\\\\s+(\\\\d{2}\\\\/\\\\d{2}\\\\/\\\\d{4})\\\\b/\n- O registro termina imediatamente antes do próximo início de registro OU fim do documento.\n\nTRATAMENTO DE FALTAS:\n- Se um registro não tiver exames, retorne \"exame\": {}.\n- Se não conseguir achar registroCadastro com segurança, ainda retorne o registro com \"registroCadastro\": \"\" (string vazia).\n- Não duplicar registros idênticos (mesmos: area, posto, dataCadastro, registroCadastro, nomePaciente).\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n            `.trim(),\n          },\n        ],\n      },\n    ],\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,-288],"id":"da5c39c5-94f1-4d47-8c96-b97c7a2c771d","name":"Code"},{"parameters":{"jsCode":"// Pega TODOS os itens de entrada (caso você já tenha vários pacientes) e separa um exame por item\nconst itens = $input.all();\n\nconst saida = [];\n\nfor (const it of itens) {\n  const j = it.json || {};\n\n  const base = {\n    area: j.area ?? null,\n    posto: j.posto ?? null,\n    dataCadastro: j.dataCadastro ?? \"\",\n    registroCadastro: j.registroCadastro ?? \"\",\n    nomePaciente: j.nomePaciente ?? \"\",\n    _idx: j._idx ?? null,\n    _total: j._total ?? null, // opcional (remova se não quiser)\n  };\n\n  const examesObj = j.exame && typeof j.exame === \"object\" ? j.exame : {};\n\n  // Ordena ex1, ex2, ex3... corretamente\n  const keysOrdenadas = Object.keys(examesObj).sort((a, b) => {\n    const na = parseInt(a.replace(/\\D/g, \"\"), 10) || 0;\n    const nb = parseInt(b.replace(/\\D/g, \"\"), 10) || 0;\n    return na - nb;\n  });\n\n  // Se não tiver exames, ainda retorna 1 item (opcional)\n  if (keysOrdenadas.length === 0) {\n    saida.push({\n      json: {\n        ...base,\n        exameKey: \"\",\n        exameValor: \"\",\n      },\n    });\n    continue;\n  }\n\n  // Cria 1 item por exame\n  for (const k of keysOrdenadas) {\n    saida.push({\n      json: {\n        ...base,\n        exameKey: k,                 // ex1, ex2...\n        exameValor: String(examesObj[k] ?? \"\").trim(), // \"B12(ENV)\"\n      },\n    });\n  }\n}\n\nreturn saida;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,-288],"id":"64f9fb21-d4e0-4b0e-aeb3-0f36c28efc6e","name":"Code1"},{"parameters":{"jsCode":"// cria Status exame e sistema \n//Processa todos os itens (1 por exame)\nconst itens = $input.all();\n\n// Extrai sigla (antes do parêntese)\nfunction extrairSigla(exame) {\n  const txt = String(exame || \"\").trim();\n\n  // Pega tudo antes do primeiro \"(\"\n  const idx = txt.indexOf(\"(\");\n  if (idx === -1) return txt;\n\n  return txt.substring(0, idx).trim();\n}\n\n// Classifica status pelo código entre parênteses\nfunction classificarStatus(exame) {\n  const txt = String(exame || \"\").toUpperCase();\n\n  // Extrai o que está entre parênteses: (ENV), (PEN), (DIG), (9) etc\n  const match = txt.match(/\\(([^)]+)\\)/);\n  const codigo = match ? match[1] : \"\";\n\n  switch (codigo) {\n    case \"ENV\":\n      return \"EXAME ENVIADO\";\n    case \"PEN\":\n      return \"EXAME INTERNO\";\n    case \"DIG\":\n      return \"FALTA LIBERAR RESULTADO\";\n    case \"9\":\n      return \"ENVIO MANUAL\";\n    default:\n      return \"STATUS DESCONHECIDO\";\n  }\n}\n\nreturn itens.map(it => {\n  const j = it.json || {};\n  const exameValor = j.exameValor || \"\";\n\n  return {\n    json: {\n      ...j,\n      sigla: extrairSigla(exameValor),     // ✅ NOVA VARIÁVEL\n      statusExame: classificarStatus(exameValor),\n      sistema: \"AT&TIC\",\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-288],"id":"cb75aea1-9093-45e6-8e50-0345f8d0916a","name":"Code2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}","Data do Cadastro":"={{ $json.dataCadastro }}","Registro do Paciente":"={{ $json.registroCadastro }}","Número do Posto":"={{ $json.posto }}","Nome Completo do Paciente":"={{ $json.nomePaciente }}","SIGLA":"={{ $json.exame }}","SISTEMA":"=AT&TIC","STATUS DA AMOSTRA":"={{ $json.status }}","match":"={{ $json.registroCadastro }}|{{ $json.exame }}"},"matchingColumns":["match"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ALTERAÇÕES DE CADASTRO","displayName":"ALTERAÇÕES DE CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1120,224],"id":"7c24f185-418c-4cf5-ae5e-fe687a52783d","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"content":"# FLUXO AT&TIC\n## PEGA ARQUIVO NA PASTA E PREENCHE A PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n## EXAME INTERNO / FALTA LIBERTAR RESULTADO / EXAME ENVIADO / ENVIO MANUAL","height":552,"width":1464},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"caa05501-8b9c-4618-b58f-76013af8e1d1","name":"Sticky Note1"},{"parameters":{"jsCode":"// =======================================================\n// Corrige padrões:\n// - 250HD    -> 25OHD\n// - 25O0HD   -> 25OHD   (zero indevido)\n// - HB1|AC   -> HB1AC\n// Aplica em: sigla, exameValor, DESCRIÇÃO DO EXAME (se existirem)\n// =======================================================\n\nconst itens = $input.all();\n\nconst FIELDS = [\"sigla\", \"exameValor\", \"DESCRIÇÃO DO EXAME\"];\n\nconst fix = (v) =>\n  String(v ?? \"\")\n    // normalizações de Vitamina D\n    .replace(/25O0HD/gi, \"25OHD\")   // corrige zero indevido\n    .replace(/250HD/gi, \"25OHD\")    // corrige zero no lugar do O\n   // normalização HbA1c (OCR variations)\n    .replace(/HB1[\\|I\\-\\s_]*AC/gi, \"HB1AC\")\n\n// ── Siglas com lixo de OCR ─────────────────\n    .replace(/\\bDAGSRH\\b/gi, \"GSRH\")\n    .replace(/\\bDOCREA\\b/gi, \"CRE\");\n\nreturn itens.map((item) => {\n  const json = { ...item.json };\n\n  for (const f of FIELDS) {\n    if (json[f] !== undefined && json[f] !== null) {\n      json[f] = fix(json[f]);\n    }\n  }\n\n  return { json };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,-288],"id":"0c349b60-f7b0-43a1-8e0d-22360e4519c3","name":"Code in JavaScript3"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/6 8-17 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-352,432],"id":"5c0ec8fb-d828-405e-9e7f-13d25f340c7f","name":"Schedule Trigger2"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive10').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,736],"id":"f7dbb5a7-5372-4763-bd01-495742a7edca","name":"Google Drive9","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='12ZUznSy_wxlXHr1E3rhSs7f1iq42fyxE' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[32,736],"id":"1e6a7cbb-fc70-4dbd-9ea9-0ead7bb6ecfa","name":"Google Drive10","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"content":"# APAGAR ARQUIVOS\n## PEGAR ARQUIVO NA PASTA E TRANSFERE PARA PASTA BACKUP","height":348,"width":840},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,608],"id":"0a0167d1-176f-45f4-b170-ccd8749207d4","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[352,224],"id":"4cd5256a-ba4e-42cd-87f1-e8716d2d5e36","name":"Extract text","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"promptType":"define","text":"=Você é um extrator de dados especializado em OCR de relatórios laboratoriais.\n\nSua tarefa é transformar o TEXTO OCR de \"LABOVIDA Bancada: Relatório de Pendências\" em um ARRAY JSON estruturado.\n\nRetorne SOMENTE um ARRAY JSON válido.\nA resposta deve começar com [ e terminar com ].\n\nNão use markdown.\nNão use ```json.\nNão explique nada.\nNão coloque o JSON dentro de string.\nNão retorne no campo text.\nNão escape aspas com barra invertida.\n\n==================================================\nFORMATO OBRIGATÓRIO\n==================================================\n\n[\n  {\n    \"area\": 1,\n    \"posto\": 12,\n    \"dataCadastro\": \"09/05/2026\",\n    \"registroCadastro\": \"12234239\",\n    \"nomePaciente\": \"FERNANDO ARRUDA DOS SANTOS\",\n    \"exameBloco\": {\n      \"ex1\": \"DDIME(ENV)\"\n    },\n    \"exame\": \"DDIME\",\n    \"_idx\": 1,\n    \"_total\": 34,\n    \"status\": \"EXAME ENVIADO\"\n  }\n]\n\n==================================================\nREGRA PRINCIPAL DE RETORNO\n==================================================\n\nCada linha da tabela deve ser analisada no formato:\n\n| area | posto | dataCadastro | registroCadastro | nomePaciente | exames |\n\nExemplo real:\n| 6 | 35 | 09/05/2026 | 3568185 | MARIA ROSINALVA LOPES | B12(ENV) HTLV(ENV) |\n\nEsse exemplo possui 2 exames:\nB12(ENV)\nHTLV(ENV)\n\nPortanto, deve retornar 2 objetos separados:\n\n[\n  {\n    \"area\": 6,\n    \"posto\": 35,\n    \"dataCadastro\": \"09/05/2026\",\n    \"registroCadastro\": \"3568185\",\n    \"nomePaciente\": \"MARIA ROSINALVA LOPES\",\n    \"exameBloco\": {\n      \"ex1\": \"B12(ENV)\",\n      \"ex2\": \"HTLV(ENV)\"\n    },\n    \"exame\": \"B12\",\n    \"_idx\": 1,\n    \"_total\": 2,\n    \"status\": \"EXAME ENVIADO\"\n  },\n  {\n    \"area\": 6,\n    \"posto\": 35,\n    \"dataCadastro\": \"09/05/2026\",\n    \"registroCadastro\": \"3568185\",\n    \"nomePaciente\": \"MARIA ROSINALVA LOPES\",\n    \"exameBloco\": {\n      \"ex1\": \"B12(ENV)\",\n      \"ex2\": \"HTLV(ENV)\"\n    },\n    \"exame\": \"HTLV\",\n    \"_idx\": 2,\n    \"_total\": 2,\n    \"status\": \"EXAME ENVIADO\"\n  }\n]\n\nOBRIGATÓRIO:\n- Se a coluna de exames tiver 2 exames, retorne 2 objetos.\n- Se a coluna de exames tiver 3 exames, retorne 3 objetos.\n- Nunca retorne paciente sem \"exame\" quando a coluna de exames possui valores.\n- Para cada exame no formato SIGLA(ENV), SIGLA(PEN), SIGLA(DIG) ou SIGLA(9), crie um objeto separado.\n- O campo \"exame\" deve ser a parte antes do parêntese.\n- O campo \"status\" deve ser calculado pela parte dentro do parêntese.\n==================================================\nREGRAS DE EXTRAÇÃO\n==================================================\n\n1. Extraia cada paciente/registro encontrado no texto.\n\n2. Cada registro normalmente segue esta estrutura:\n\n<area> <posto> <dataCadastro> <registroCadastro> <nomePaciente> <exames>\n\nExemplo:\n1 12 24/03/2026 12233269 MARIA ELIZIANE CREA(ENV)\n\n3. O campo \"area\" é o primeiro número do registro.\n\n4. O campo \"posto\" é o segundo número do registro.\n\n5. O campo \"dataCadastro\" deve estar no formato DD/MM/AAAA.\n\n6. O campo \"registroCadastro\" deve conter somente dígitos.\n\n7. O campo \"nomePaciente\":\n- começa depois do registroCadastro\n- termina antes do primeiro exame\n- deve manter o nome como aparece no OCR\n- deve remover excesso de espaços\n- não invente nomes\n\n8. O campo \"exameBloco\":\n- deve conter TODOS os exames do paciente\n- deve manter os exames com status entre parênteses\n- deve numerar como ex1, ex2, ex3...\n- deve preservar a ordem original\n\nExemplo:\n\"exameBloco\": {\n  \"ex1\": \"HB1AC(ENV)\",\n  \"ex2\": \"HP(ENV)\"\n}\n\n9. O campo \"exame\":\n- deve conter somente a sigla do exame atual\n- NÃO deve conter o status entre parênteses\n- NÃO deve conter \"(ENV)\", \"(PEN)\", \"(DIG)\" ou \"(9)\"\n\nExemplo:\nHB1AC(ENV) deve retornar:\n\"exame\": \"HB1AC\"\n\n10. O campo \"status\":\n- deve ser gerado a partir do código dentro dos parênteses do exame atual\n\nMapeamento obrigatório:\nENV = \"EXAME ENVIADO\"\nPEN = \"EXAME INTERNO\"\nDIG = \"FALTA LIBERAR RESULTADO\"\n9 = \"ENVIO MANUAL\"\n\nSe não conseguir identificar:\n\"STATUS DESCONHECIDO\"\n\n11. Se o OCR quebrar o exame, normalize quando for claro:\nTRIENV) deve virar TRI(ENV)\nCRE (ENV) deve virar CRE(ENV)\nB12 (ENV) deve virar B12(ENV)\n\n12. Não separe exames que tenham complemento dentro de parênteses.\n\nExemplo:\nIONOGRAMA (NA/K/CLORETO/RESERVA)\n\né UM ÚNICO exame.\n\nNesse caso:\n\"exameBloco\": {\n  \"ex1\": \"IONOGRAMA(NA/K/CLORETO/RESERVA)\"\n}\n\nE o campo exame deve ser:\n\"exame\": \"IONOGRAMA(NA/K/CLORETO/RESERVA)\"\n\n13. Se um registro não tiver exames, retorne um único objeto com:\n\"exameBloco\": {}\n\"exame\": \"\"\n\"status\": \"STATUS DESCONHECIDO\"\n\n14. Não duplique registros idênticos.\n\n15. Ignore cabeçalhos e rodapés:\nLABOVIDA\nResumo\nPacientes atendidos\nData de impressão\nUsuário\nBancada\nRelatório de Pendências\n\n==================================================\nINDEXAÇÃO\n==================================================\n\n- \"_idx\" começa em 1.\n- \"_total\" deve ser igual ao total de objetos retornados no array final.\n- Como deve retornar 1 objeto por exame, \"_total\" é o total de exames extraídos, não o total de pacientes.\n\n==================================================\nSEGMENTAÇÃO\n==================================================\n\nUm novo registro começa quando aparecer:\n\nnúmero número data\n\nExemplo:\n1 12 24/03/2026\n\nO registro termina antes do próximo padrão:\nnúmero número data\n\nou no fim do documento.\n\n==================================================\nTEXTO OCR\n==================================================\n\n{{ $json.conteudo || $json.extractedText || $json.text || $json.markdown || $json.pages?.map(p => p.markdown).join(\"\\n\") }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[560,224],"id":"349670c8-e95d-419b-aa94-82f56c99505c","name":"Basic LLM Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[560,400],"id":"ab4d5e72-e0e0-456a-a813-1cae62bc5004","name":"Mistral Cloud Chat Model","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"jsCode":"let resposta =\n  $input.first().json.text ||\n  $input.first().json.output ||\n  $input.first().json.response ||\n  \"\";\n\nresposta = String(resposta)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nconst start = resposta.indexOf(\"[\");\nconst end = resposta.lastIndexOf(\"]\");\n\nif (start === -1 || end === -1 || end <= start) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"Nenhum array JSON encontrado na resposta da IA\",\n      respostaBruta: resposta\n    }\n  }];\n}\n\nconst jsonBruto = resposta.substring(start, end + 1);\n\nlet parsed;\n\ntry {\n  parsed = JSON.parse(jsonBruto);\n} catch (e) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"JSON encontrado, mas inválido\",\n      mensagem: e.message,\n      jsonExtraido: jsonBruto,\n      respostaBruta: resposta\n    }\n  }];\n}\n\nif (!Array.isArray(parsed)) {\n  parsed = [parsed];\n}\n\nreturn parsed.map((registro, idx) => ({\n  json: {\n    ...registro,\n    _idx: idx + 1,\n    _total: parsed.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,224],"id":"15e09c2c-6b2d-4dfb-9fd5-5585096fff5b","name":"Code in JavaScript"}],"connections":{"TESSERACT":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text","type":"main","index":0}]]},"Analisar Gemini1":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}]]},"converter resposta para json1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Analisar Gemini1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[]]},"Schedule Trigger2":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Google Drive10","type":"main","index":0}]]},"Google Drive10":{"main":[[{"node":"Google Drive9","type":"main","index":0}]]},"Extract text":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version 89bc4cc6","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}