workflows/capa-labo-kJ13jysbKe84N4b0FhrhX.json
{"updatedAt":"2026-05-14T14:16:47.368Z","createdAt":"2026-03-22T17:28:19.493Z","id":"kJ13jysbKe84N4b0FhrhX","name":"CAPA LABO","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1Jo8XuTOPOlRjQM6VYz4AKmps5cQP8n-3' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-464,64],"id":"a991f67c-97a6-4cb3-a5be-26b3ebe0800d","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-288,64],"id":"c70b328e-10a5-405e-b4a4-86d02a6dbf46","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyAWXHw-gUU9B0PS46HKs03SiYWRfWMFi0w","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini1","type":"n8n-nodes-base.httpRequest","position":[304,48],"id":"c994e0ed-49ae-4d1e-be15-a4d53189e906","typeVersion":4.2,"retryOnFail":false},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Normaliza\nresposta = String(resposta)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// ---------------------------------------------------\n// Função para extrair o JSON principal (objeto)\n// ---------------------------------------------------\nfunction extrairJsonObjeto(texto) {\n  const start = texto.indexOf(\"{\");\n  const end = texto.lastIndexOf(\"}\");\n\n  if (start !== -1 && end !== -1 && end > start) {\n    return texto.substring(start, end + 1);\n  }\n\n  return null;\n}\n\nconst jsonBruto = extrairJsonObjeto(resposta);\n\nif (!jsonBruto) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ Nenhum objeto JSON encontrado na resposta\",\n      respostaBruta: resposta\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(jsonBruto);\n\n  // garante objeto\n  if (!parsed || typeof parsed !== \"object\" || Array.isArray(parsed)) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ O JSON retornado não é um objeto no formato esperado\",\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta\n      }\n    }];\n  }\n\n  const tipoRelatorio = parsed.tipoRelatorio ?? null;\n  const arquivo = parsed.arquivo ?? null;\n\n  const periodoInicio = parsed.periodo?.inicio ?? null;\n  const periodoFim = parsed.periodo?.fim ?? null;\n\n  const numeroPacientesListados = parsed.totais?.numeroPacientesListados ?? null;\n  const numeroExamesEfetuados = parsed.totais?.numeroExamesEfetuados ?? null;\n  const valorFaturadoTotal = parsed.totais?.valorFaturadoTotal ?? null;\n\n  const dataImpressao = parsed.impressao?.dataImpressao ?? null;\n  const usuario = parsed.impressao?.usuario ?? null;\n\n  const registros = Array.isArray(parsed.registros) ? parsed.registros : [];\n\n  // Se houver registros, retorna 1 item por registro\n  if (registros.length > 0) {\n    return registros.map((registro, idx) => ({\n      json: {\n        sucesso: true,\n\n        // metadados do relatório\n        tipoRelatorio,\n        arquivo,\n\n        // período\n        periodoInicio,\n        periodoFim,\n\n        // totais\n        numeroPacientesListados,\n        numeroExamesEfetuados,\n        valorFaturadoTotal,\n\n        // impressão\n        dataImpressao,\n        usuario,\n\n        // dados do registro\n        posto: registro.posto ?? null,\n        local: registro.local ?? null,\n        req: registro.req ?? null,\n        exames: registro.exames ?? null,\n        valor: registro.valor ?? null,\n        area: registro.area ?? null,\n        responsavel: registro.responsavel ?? null,\n\n        // apoio/debug\n        _idx: idx + 1,\n        _totalRegistros: registros.length\n      }\n    }));\n  }\n\n  // Se não houver registros, retorna o objeto consolidado\n  return [{\n    json: {\n      sucesso: true,\n      categoria: \"(+)COMPUTADOR DO POSTO\",\n      tipoRelatorio,\n      arquivo,\n      periodoInicio,\n      periodoFim,\n      numeroPacientesListados,\n      numeroExamesEfetuados,\n      valorFaturadoTotal,\n      dataImpressao,\n      usuario,\n      registros: [],\n      _totalRegistros: 0\n    }\n  }];\n\n} catch (e) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ JSON encontrado, mas inválido\",\n      mensagem: e.message,\n      jsonExtraido: jsonBruto,\n      respostaBruta: resposta\n    }\n  }];\n}"},"id":"6eafcce9-0def-461f-b7aa-085a547af1a2","name":"converter resposta para json1","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,48]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt (LABOVIDA | Relatório Resumo por Posto)\n// Ajustado para o padrão OCR real:\n// <posto> <local> <req> <exames> <valor> <area> <responsavel>\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.conteudo || \"\";\n\n// -------------------------\n// 1) normalização base\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\")\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \" \")\n  .replace(/\\t/g, \" \")\n  .replace(/[ ]{2,}/g, \" \")\n  .replace(/\\n[ ]+/g, \"\\n\")\n  .replace(/[ ]+\\n/g, \"\\n\")\n  .trim();\n\n// -------------------------\n// 2) limpeza leve e segura\n// -------------------------\nfunction normalizarOcrRelatorio(s) {\n  let t = s;\n\n  // normalizações comuns de OCR\n  t = t.replace(/ÁREAO\\s*([0-9]{1,2})/gi, \"ÁREA $1\");\n  t = t.replace(/ÁREAO([0-9]{1,2})/gi, \"ÁREA $1\");\n  t = t.replace(/AMAUR\\|I/gi, \"AMAURI\");\n\n  // corrige cabeçalho comum\n  t = t.replace(/Posto\\s+Local\\s+Req\\.?\\s+Exames\\s+[—-]?\\s*Valor/gi, \"Posto Local Req. Exames Valor\");\n\n  // remove duplicidade excessiva de espaços\n  t = t.replace(/[ ]{2,}/g, \" \").trim();\n\n  return t;\n}\n\nconst conteudoLimpo = normalizarOcrRelatorio(texto);\n\n// -------------------------\n// 3) nome do arquivo\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// 4) conteúdo final\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoLimpo}\"\"\"`;\n\n// =======================================================\n// 5) PROMPT AJUSTADO PARA O OCR REAL\n// =======================================================\nconst prompt = `\nVocê é um extrator de dados especializado em OCR de relatórios da LABOVIDA.\n\nSua tarefa é ler um texto OCR de um documento do tipo \"Relatório Resumo por Posto\" e retornar um JSON estruturado.\n\nATENÇÃO:\n- O documento NÃO é uma lista de pacientes.\n- O documento é um resumo por posto/unidade.\n- Retorne APENAS JSON válido.\n- Não use markdown.\n- Não escreva explicações.\n- Não escreva texto fora do JSON.\n- Não invente registros.\n- Não duplique registros.\n\nESTE DOCUMENTO TEM EXATAMENTE 9 REGISTROS DE POSTOS.\nVocê deve extrair os 9 registros.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\n{\n  \"tipoRelatorio\": \"Relatório Resumo por Posto\",\n  \"arquivo\": \"<nome do arquivo>\",\n  \"periodo\": {\n    \"inicio\": \"dd/mm/aaaa\",\n    \"fim\": \"dd/mm/aaaa\"\n  },\n  \"registros\": [\n    {\n      \"posto\": <number|null>,\n      \"local\": \"<string|null>\",\n      \"req\": <number|null>,\n      \"exames\": <number|null>,\n      \"valor\": \"<string|null>\",\n      \"area\": \"<string|null>\",\n      \"responsavel\": \"<string|null>\"\n    }\n  ],\n  \"totais\": {\n    \"numeroPacientesListados\": <number|null>,\n    \"numeroExamesEfetuados\": <number|null>,\n    \"valorFaturadoTotal\": \"<string|null>\"\n  },\n  \"impressao\": {\n    \"dataImpressao\": \"<dd/mm/aaaa|null>\",\n    \"usuario\": \"<string|null>\"\n  }\n}\n\nREGRAS DE EXTRAÇÃO\n\n1) TIPO DE RELATÓRIO\nSe houver texto compatível com \"Relatório Resumo por Posto\", retornar:\n\"tipoRelatorio\": \"Relatório Resumo por Posto\"\n\n2) PERÍODO\nExtrair de padrões como:\n\"Período: 20/03/2026 até 20/03/2026\"\n\n3) ESTRUTURA REAL DAS LINHAS\nCada linha do relatório segue esta ordem OCR:\n\n<posto> <local> <req> <exames> <valor> <area> <responsavel>\n\nExemplos:\n\n\"27 CLINICARDIO 7 65 558,95 ÁREA 04 KLEBSON\"\n{\n  \"posto\": 27,\n  \"local\": \"CLINICARDIO\",\n  \"req\": 7,\n  \"exames\": 65,\n  \"valor\": \"558,95\",\n  \"area\": \"ÁREA 04\",\n  \"responsavel\": \"KLEBSON\"\n}\n\n\"76 CENTRO MÉDICO VIDA 4 8 46,00 ÁREA 04 KLEBSON\"\n{\n  \"posto\": 76,\n  \"local\": \"CENTRO MÉDICO VIDA\",\n  \"req\": 4,\n  \"exames\": 8,\n  \"valor\": \"46,00\",\n  \"area\": \"ÁREA 04\",\n  \"responsavel\": \"KLEBSON\"\n}\n\n\"152 LP SAÚDE SHC SAUDE LTDA 3 26 272,65 ÁREA 02 JUNIOR\"\n{\n  \"posto\": 152,\n  \"local\": \"LP SAÚDE SHC SAUDE LTDA\",\n  \"req\": 3,\n  \"exames\": 26,\n  \"valor\": \"272,65\",\n  \"area\": \"ÁREA 02\",\n  \"responsavel\": \"JUNIOR\"\n}\n\n4) COMO IDENTIFICAR OS CAMPOS\n- \"posto\" = primeiro número da linha\n- \"local\" = texto entre o posto e os 3 últimos campos numéricos/lógicos\n- \"req\" = número imediatamente antes de \"exames\"\n- \"exames\" = número imediatamente antes do valor monetário\n- \"valor\" = número monetário brasileiro, como \"2.453,40\" ou \"558,95\"\n- \"area\" = texto no formato \"ÁREA 01\", \"ÁREA 02\", etc.\n- \"responsavel\" = texto logo após a área\n\n5) NORMALIZAÇÃO DE OCR\nCorrija quando houver alta confiança:\n- \"AMAUR|I\" -> \"AMAURI\"\n- \"ÁREAO2\" -> \"ÁREA 02\"\n- \"ÁREAO1\" -> \"ÁREA 01\"\n- \"ÁREAO3\" -> \"ÁREA 03\"\n- \"ÁREAO5\" -> \"ÁREA 05\"\n- \"ÁREAO4\" -> \"ÁREA 04\"\n- \"ÁREAO6\" -> \"ÁREA 06\"\n\nTambém corrija com alta confiança:\n- \"CLINICADOS FEIRANTES\" -> \"CLINICA DOS FEIRANTES\"\n- \"MULTICLINICAHIPER SAUDE\" -> \"MULTICLINICA HIPER SAUDE\"\n\nSe não houver alta confiança, preserve o texto OCR.\n\n6) REGISTROS ESPERADOS\nOs 9 postos esperados no texto são:\n27, 35, 76, 102, 104, 115, 152, 158\n\nVocê deve retornar exatamente 9 objetos em \"registros\", um para cada posto encontrado.\n\n7) TOTAIS\nExtrair:\n- Número de pacientes listados\n- Número de exames efetuados\n- Valor faturado total\n\n8) IMPRESSÃO\nExtrair:\n- Data de Impressão\n- Usuário\n\n9) SAÍDA\n- Retorne apenas JSON válido\n- Não incluir comentários\n- Não incluir observações\n- Não incluir markdown\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n`.trim();\n\n// =======================================================\n// 6) retorno para o modelo\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: prompt,\n          },\n        ],\n      },\n    ],\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,48],"id":"6d93057c-50d5-4ff7-ae39-c88185664c67","name":"Code"},{"parameters":{"method":"POST","url":"http://host.docker.internal:5010/ocr","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-112,64],"id":"27949bb2-d665-4e0d-b6f7-4b06c5938b8f","name":"TESSERACT1","retryOnFail":true,"waitBetweenTries":3000,"onError":"continueErrorOutput"},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-432,384],"id":"205ab267-bd21-46ef-a57c-cbd95b282c12","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst resultado = [];\n\n// pega data atual (zera hora)\nconst hoje = new Date();\nhoje.setHours(0, 0, 0, 0);\n\nfunction parseDataBR(dataStr) {\n  if (!dataStr) return null;\n\n  const partes = dataStr.split(\"/\");\n  if (partes.length !== 3) return null;\n\n  const [dia, mes, ano] = partes.map(Number);\n\n  return new Date(ano, mes - 1, dia);\n}\n\nfor (const item of items) {\n  const j = item.json;\n\n  // -------------------------\n  // NORMALIZAÇÃO\n  // -------------------------\n  const categoria = String(j[\"CATEGORIA\"] || \"\").trim().toUpperCase();\n\n  const valorRaw = String(j[\"VALOR\"] || \"\").trim();\n\n  const valorNumero = parseFloat(\n    valorRaw.replace(\".\", \"\").replace(\",\", \".\")\n  );\n\n  const valorEhZeroOuVazio =\n    valorRaw === \"\" ||\n    valorRaw === \".\" ||\n    valorNumero === 0 ||\n    isNaN(valorNumero);\n\n  // -------------------------\n  // DATA\n  // -------------------------\n  const dataItem = parseDataBR(j[\"DATA\"]);\n\n  const dataValida =\n    dataItem && dataItem < hoje; // 👈 AQUI está a regra\n\n  // -------------------------\n  // CONDIÇÃO FINAL\n  // -------------------------\n  const condicaoCategoria =\n    categoria === \"(+)COMPUTADOR DO POSTO\";\n\n  if (condicaoCategoria && valorEhZeroOuVazio && dataValida) {\n\n    const chaveResumo = `${j[\"DATA\"] || \"\"} | ${j[\"POSTO\"] || \"\"} | ${j[\"CATEGORIA\"] || \"\"}`;\n\n    resultado.push({\n      json: {\n        ...j,\n        chaveResumo,\n        _match: true\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,400],"id":"3508aa62-115f-4d2f-9543-d92e5b7d47f4","name":"Code in JavaScript"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const j = item.json;\n\n  const chaveComputador = `${j.periodoInicio || \"\"} | ${j.posto || \"\"} | (+)COMPUTADOR DO POSTO`;\n\n  return {\n    json: {\n      ...j,\n      chaveComputador\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,48],"id":"2ccc38ce-de44-4155-8c71-453342bab395","name":"Code in JavaScript1"},{"parameters":{"jsCode":"let ocr = [];\nlet planilha = [];\n\ntry {\n  ocr = $(\"Code in JavaScript1\").all().map(i => i.json);\n} catch (e) {\n  ocr = [];\n}\n\ntry {\n  planilha = $(\"Code in JavaScript\").all().map(i => i.json);\n} catch (e) {\n  planilha = [];\n}\n\nconst resultado = [];\n\nfunction norm(v) {\n  return String(v ?? \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase();\n}\n\nfor (const itemOcr of ocr) {\n  const chaveComputador = norm(itemOcr.chaveComputador);\n  if (!chaveComputador) continue;\n\n  for (const itemPlanilha of planilha) {\n    const chaveResumo = norm(itemPlanilha.chaveResumo);\n    if (!chaveResumo) continue;\n\n    if (chaveComputador === chaveResumo) {\n      resultado.push({\n        json: {\n          ...itemOcr,\n          ...itemPlanilha,\n          match: true,\n        },\n      });\n    }\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,256],"id":"90e2e6e7-4f9f-4e1d-8846-538bb51e53d0","name":"Code in JavaScript2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1232,800],"id":"1c69fda8-b837-4377-aa91-a1b6084e7229","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1408,240],"id":"141751ad-c221-465f-a827-1c599cd61b45","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1856,256],"id":"b03ef895-64bd-4eb7-92ee-4831832b530e"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":417299137,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/194X9XoXaqqov67nIQjvIEFDj42Y1jz0Xf_oUT59fT28/edit#gid=417299137"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","VALOR":"={{ $json.valor }}","STATUS":"CAPA LANÇADA"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOTOQ.","displayName":"MOTOQ.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HORÁRIO","displayName":"HORÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"KM","displayName":"KM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO RECEBIMENTO","displayName":"DESCRIÇÃO DO RECEBIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"C/D","displayName":"C/D","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEQ","displayName":"SEQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VERIFICAR CAPA/MOV","displayName":"VERIFICAR CAPA/MOV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESP.","displayName":"RESP.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ASÁB","displayName":"ASÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEQ SÁB","displayName":"SEQ SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGRAS DE PGTO","displayName":"REGRAS DE PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BLOQ","displayName":"BLOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FATUR.","displayName":"FATUR.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"5% DO FAT","displayName":"5% DO FAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROG.","displayName":"PROG.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CONF. PIX/CART","displayName":"DATA CONF. PIX/CART","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA PGTO","displayName":"DATA PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"COMISSÃO","displayName":"COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MATCH","displayName":"MATCH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"RESUMO","displayName":"RESUMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1648,256],"id":"d6e1bfa8-5e17-4edc-9cee-3ae2dd09bbf0","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[976,256],"id":"11650de4-861a-4869-a7d3-432b6b3121a5","name":"Merge"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-304,656],"id":"fc04bbd5-ae8b-410c-9534-3d31a44b7314","name":"Google Drive9","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1Jo8XuTOPOlRjQM6VYz4AKmps5cQP8n-3' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-480,656],"id":"0970de6e-d1dc-4e8c-b4aa-09828e2740e7","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"content":"# FLUXO CAPA AT&TIC","height":1024,"width":2784},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-608,-160],"id":"6e89d6f3-f995-4f06-a8e8-a564905cee38","name":"Sticky Note"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Estatísticas por Convênio","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-272,1072],"id":"8404a583-d0f9-4924-b056-fcf812e435af","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1VE-qzp2cpc9Xebhn3dyxUbDvmVyDV_qv' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-496,1072],"id":"dd607bf8-aff6-41fb-86d7-444d378b255f","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// --------------------------------------------------\n// 1) LOCALIZAR A LINHA DE CABEÇALHO (row_number = 10)\n// --------------------------------------------------\nconst headerItem = items.find(item => Number(item.json.row_number) === 10);\n\nif (!headerItem) {\n  throw new Error('Não foi encontrada a linha 10 para usar como cabeçalho.');\n}\n\n// --------------------------------------------------\n// 2) MONTAR MAPA DE CABEÇALHOS\n//    - usa os valores da linha 10 como nome das chaves\n//    - trata cabeçalhos repetidos\n// --------------------------------------------------\nconst headerMap = {};\nconst usedHeaders = {};\n\nfor (const key of Object.keys(headerItem.json)) {\n  if (key === 'row_number') continue;\n\n  let headerName = String(headerItem.json[key] ?? '').trim();\n\n  if (!headerName) {\n    headerName = key;\n  }\n\n  if (usedHeaders[headerName]) {\n    usedHeaders[headerName] += 1;\n    headerName = `${headerName}_${usedHeaders[headerName]}`;\n  } else {\n    usedHeaders[headerName] = 1;\n  }\n\n  headerMap[key] = headerName;\n}\n\n// --------------------------------------------------\n// 3) FUNÇÕES DE DATA\n//    - extrai data do texto\n//    - mantém formato DD/MM/AAAA\n// --------------------------------------------------\nfunction formatDateToBR(dateStr) {\n  if (!dateStr) return '';\n\n  const s = String(dateStr).trim();\n\n  // DD/MM/AAAA ou DD-MM-AAAA\n  let m = s.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{4})$/);\n  if (m) {\n    let [, dd, mm, yyyy] = m;\n\n    dd = dd.padStart(2, '0');\n    mm = mm.padStart(2, '0');\n\n    return `${dd}/${mm}/${yyyy}`;\n  }\n\n  // AAAA-MM-DD ou AAAA/MM/DD\n  m = s.match(/^(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})$/);\n  if (m) {\n    let [, yyyy, mm, dd] = m;\n\n    dd = dd.padStart(2, '0');\n    mm = mm.padStart(2, '0');\n\n    return `${dd}/${mm}/${yyyy}`;\n  }\n\n  return '';\n}\n\nfunction extractData(texto) {\n  const raw = String(texto ?? '').trim();\n  if (!raw) return '';\n\n  // tenta pegar a data depois da última letra \"a\"\n  const partes = raw.split(/a/i).map(s => s.trim()).filter(Boolean);\n  if (partes.length > 1) {\n    const ultimaParte = partes[partes.length - 1];\n\n    const dateMatch =\n      ultimaParte.match(/\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{4}/) ||\n      ultimaParte.match(/\\d{4}[\\/\\-]\\d{1,2}[\\/\\-]\\d{1,2}/);\n\n    if (dateMatch) {\n      return formatDateToBR(dateMatch[0]);\n    }\n  }\n\n  // fallback: procura qualquer data no texto inteiro\n  const anyDateMatch =\n    raw.match(/\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{4}/) ||\n    raw.match(/\\d{4}[\\/\\-]\\d{1,2}[\\/\\-]\\d{1,2}/);\n\n  if (anyDateMatch) {\n    return formatDateToBR(anyDateMatch[0]);\n  }\n\n  return '';\n}\n\n// --------------------------------------------------\n// 4) BUSCAR UM TEXTO GLOBAL QUE TENHA DATA\n// --------------------------------------------------\nfunction findTextoBaseComData() {\n  for (const item of items) {\n    const valor = item.json[\"Estatísticas por Convênio\"];\n    const data = extractData(valor);\n    if (data) {\n      return String(valor);\n    }\n  }\n  return '';\n}\n\nconst textoBaseGlobal = findTextoBaseComData();\n\n// --------------------------------------------------\n// 5) TRANSFORMAR AS LINHAS A PARTIR DA 11\n//    - \"Estatísticas por Convênio\" da linha 10 vira \"Sigla\"\n//    - chaveMatch = data | Sigla | (+)COMPUTADOR DO POSTO\n// --------------------------------------------------\nconst resultado = items\n  .filter(item => Number(item.json.row_number) >= 11)\n  .map(item => {\n    const original = item.json;\n    const novoObjeto = {};\n\n    for (const originalKey of Object.keys(headerMap)) {\n      const novoNome = headerMap[originalKey];\n      novoObjeto[novoNome] = original[originalKey];\n    }\n\n    const textoAtual = original[\"Estatísticas por Convênio\"] ?? '';\n    let data = extractData(textoAtual);\n\n    if (!data) {\n      data = extractData(textoBaseGlobal);\n    }\n\n    let sigla = String(novoObjeto[\"Sigla\"] ?? '').trim();\n\n    // remove zero à esquerda se a sigla vier numérica, ex: 090 -> 90\n    if (/^\\d+$/.test(sigla)) {\n      sigla = String(Number(sigla));\n    }\n\n    const chaveMatch = `${data} | ${sigla} | (+)COMPUTADOR DO POSTO`;\n\n    return {\n      json: {\n        ...novoObjeto,\n        data,\n        chaveMatch\n      }\n    };\n  });\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,1072],"id":"85215e6c-951f-4dbe-9d94-6629e312092b","name":"Code in JavaScript3"},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-496,1392],"id":"3e11e7f8-7b72-4c74-aec0-1ad841957cab","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst resultado = [];\n\n// pega data atual (zera hora)\nconst hoje = new Date();\nhoje.setHours(0, 0, 0, 0);\n\nfunction parseDataBR(dataStr) {\n  if (!dataStr) return null;\n\n  const partes = dataStr.split(\"/\");\n  if (partes.length !== 3) return null;\n\n  const [dia, mes, ano] = partes.map(Number);\n\n  return new Date(ano, mes - 1, dia);\n}\n\nfor (const item of items) {\n  const j = item.json;\n\n  // -------------------------\n  // NORMALIZAÇÃO\n  // -------------------------\n  const categoria = String(j[\"CATEGORIA\"] || \"\").trim().toUpperCase();\n\n  const valorRaw = String(j[\"VALOR\"] || \"\").trim();\n\n  const valorNumero = parseFloat(\n    valorRaw.replace(\".\", \"\").replace(\",\", \".\")\n  );\n\n  const valorEhZeroOuVazio =\n    valorRaw === \"\" ||\n    valorRaw === \".\" ||\n    valorNumero === 0 ||\n    isNaN(valorNumero);\n\n  // -------------------------\n  // DATA\n  // -------------------------\n  const dataItem = parseDataBR(j[\"DATA\"]);\n\n  const dataValida =\n    dataItem && dataItem < hoje; // 👈 AQUI está a regra\n\n  // -------------------------\n  // CONDIÇÃO FINAL\n  // -------------------------\n  const condicaoCategoria =\n    categoria === \"(+)COMPUTADOR DO POSTO\";\n\n  if (condicaoCategoria && valorEhZeroOuVazio && dataValida) {\n\n    const chaveResumo = `${j[\"DATA\"] || \"\"} | ${j[\"POSTO\"] || \"\"} | ${j[\"CATEGORIA\"] || \"\"}`;\n\n    resultado.push({\n      json: {\n        ...j,\n        chaveResumo,\n        _match: true\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-272,1392],"id":"61528121-3e0f-45b6-845c-fb91adf8a844","name":"Code in JavaScript4"},{"parameters":{"jsCode":"let ocr = [];\nlet planilha = [];\n\n// tenta pegar OCR\ntry {\n  ocr = $(\"Code in JavaScript3\").all().map(i => i.json);\n} catch (e) {\n  ocr = [];\n}\n\n// tenta pegar planilha\ntry {\n  planilha = $(\"Code in JavaScript4\").all().map(i => i.json);\n} catch (e) {\n  planilha = [];\n}\n\nconst resultado = [];\n\nfunction norm(v) {\n  return String(v ?? \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase();\n}\n\n// proteção extra: só roda se ambos tiverem dados\nif (ocr.length && planilha.length) {\n  for (const itemOcr of ocr) {\n    const chaveMatch = norm(itemOcr.chaveMatch);\n    if (!chaveMatch) continue;\n\n    for (const itemPlanilha of planilha) {\n      const chaveResumo = norm(itemPlanilha.chaveResumo);\n      if (!chaveResumo) continue;\n\n      if (chaveMatch === chaveResumo) {\n        resultado.push({\n          json: {\n            ...itemOcr,\n            ...itemPlanilha,\n            match: true\n          }\n        });\n      }\n    }\n  }\n}\n\n// sempre retorna array válido\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,1232],"id":"61247364-27be-48e8-bb20-155d459e5391","name":"Code in JavaScript5"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[528,1216],"id":"982376e2-c8d0-4689-b0b5-11ca7af87916","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1200,1232],"id":"1d244716-4d01-4913-9b86-0a33db0daaf2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","VALOR":"={{ $json['Valor Total'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MOTOQ.","displayName":"MOTOQ.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORÁRIO","displayName":"HORÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"KM","displayName":"KM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO RECEBIMENTO","displayName":"DESCRIÇÃO DO RECEBIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"C/D","displayName":"C/D","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ","displayName":"SEQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VERIFICAR CAPA/MOV","displayName":"VERIFICAR CAPA/MOV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESP.","displayName":"RESP.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ASÁB","displayName":"ASÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ SÁB","displayName":"SEQ SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REGRAS DE PGTO","displayName":"REGRAS DE PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BLOQ","displayName":"BLOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FATUR.","displayName":"FATUR.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5% DO FAT","displayName":"5% DO FAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROG.","displayName":"PROG.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA CONF. PIX/CART","displayName":"DATA CONF. PIX/CART","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PGTO","displayName":"DATA PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"COMISSÃO","displayName":"COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESUMO","displayName":"RESUMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"INFO OK","displayName":"INFO OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[800,1232],"id":"1ecc35a0-935c-4720-b0f7-89197ec276b1","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[128,1232],"id":"23eeb2aa-d2fe-4c22-b510-a46927c8ce02","name":"Merge1"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive4').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-304,1632],"id":"876d4571-a989-4644-8f1e-fe32136562ff","name":"Google Drive10","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1VE-qzp2cpc9Xebhn3dyxUbDvmVyDV_qv' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-480,1632],"id":"92a1a869-a236-44c6-a4d9-0d74f76d7585","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1008,1232],"id":"022c020a-0666-491e-9f7a-c978f856638d","name":"Wait","webhookId":"4771d152-ac49-4b11-b9f4-730d8ea4b195"},{"parameters":{"content":"# FLUXO CAPA WORKLAB","height":1024,"width":2144},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,928],"id":"675bf775-5ec0-4acc-beb5-76ffdcc3c885","name":"Sticky Note1"}],"connections":{"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"TESSERACT1","type":"main","index":0}]]},"Analisar Gemini1":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Analisar Gemini1","type":"main","index":0}]]},"TESSERACT1":{"main":[[{"node":"Code","type":"main","index":0}]]},"converter resposta para json1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"Google Drive2","type":"main","index":0},{"node":"Google Drive3","type":"main","index":0},{"node":"Get row(s) in sheet2","type":"main","index":0},{"node":"Google Drive4","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Update row in sheet","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Google Drive9","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code in JavaScript5":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Update row in sheet1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Google Drive4":{"main":[[{"node":"Google Drive10","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w","callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dbb248ec-222b-4c4e-87fa-1237a0d6272a","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-03-22T17:28:19.493Z","createdAt":"2026-03-22T17:28:19.493Z","role":"workflow:owner","workflowId":"kJ13jysbKe84N4b0FhrhX","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}