workflows/capa-labo-wOrAckuIKF3eXs3t.json
{"updatedAt":"2026-05-15T15:37:41.776Z","createdAt":"2026-05-12T00:46:21.950Z","id":"wOrAckuIKF3eXs3t","name":"CAPA LABO","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1Jo8XuTOPOlRjQM6VYz4AKmps5cQP8n-3' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[144,224],"id":"b68e8170-603a-4697-bed0-4a6fb43466ee","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,224],"id":"2c2bded1-aca4-4b88-99d9-ef357508a04b","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"filtersUI":{"values":[{"lookupColumn":"CATEGORIA","lookupValue":"(+)COMPUTADOR DO POSTO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1520,384],"id":"3fd1970c-e8f0-416f-b6f0-8433f5942e5d","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst resultado = [];\n\n// pega data atual (zera hora)\nconst hoje = new Date();\nhoje.setHours(0, 0, 0, 0);\n\nfunction parseDataBR(dataStr) {\n  if (!dataStr) return null;\n\n  const partes = dataStr.split(\"/\");\n  if (partes.length !== 3) return null;\n\n  const [dia, mes, ano] = partes.map(Number);\n\n  return new Date(ano, mes - 1, dia);\n}\n\nfor (const item of items) {\n  const j = item.json;\n\n  // -------------------------\n  // NORMALIZAÇÃO\n  // -------------------------\n  const categoria = String(j[\"CATEGORIA\"] || \"\").trim().toUpperCase();\n\n  const valorRaw = String(j[\"VALOR\"] || \"\").trim();\n\n  const valorNumero = parseFloat(\n    valorRaw.replace(\".\", \"\").replace(\",\", \".\")\n  );\n\n  const valorEhZeroOuVazio =\n    valorRaw === \"\" ||\n    valorRaw === \".\" ||\n    valorNumero === 0 ||\n    isNaN(valorNumero);\n\n  // -------------------------\n  // DATA\n  // -------------------------\n  const dataItem = parseDataBR(j[\"DATA\"]);\n\n  const dataValida =\n    dataItem && dataItem < hoje; // 👈 AQUI está a regra\n\n  // -------------------------\n  // CONDIÇÃO FINAL\n  // -------------------------\n  const condicaoCategoria =\n    categoria === \"(+)COMPUTADOR DO POSTO\";\n\n  if (condicaoCategoria && valorEhZeroOuVazio && dataValida) {\n\n    const chaveResumo = `${j[\"DATA\"] || \"\"} | ${j[\"POSTO\"] || \"\"} | ${j[\"CATEGORIA\"] || \"\"}`;\n\n    resultado.push({\n      json: {\n        ...j,\n        chaveResumo,\n        _match: true\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,368],"id":"c8d68270-9349-48c5-8eec-7b39225fe9be","name":"Code in JavaScript"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const j = item.json;\n\n  const chaveComputador = `${j.periodoInicio || \"\"} | ${j.posto || \"\"} | (+)COMPUTADOR DO POSTO`;\n\n  return {\n    json: {\n      ...j,\n      chaveComputador\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,80],"id":"18f19b50-e96e-49c8-9fee-f116bb1cfa03","name":"Code in JavaScript1"},{"parameters":{"jsCode":"let ocr = [];\nlet planilha = [];\n\ntry {\n  ocr = $(\"Code in JavaScript1\").all().map(i => i.json);\n} catch (e) {\n  ocr = [];\n}\n\ntry {\n  planilha = $(\"Code in JavaScript\").all().map(i => i.json);\n} catch (e) {\n  planilha = [];\n}\n\nconst resultado = [];\n\nfunction norm(v) {\n  return String(v ?? \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase();\n}\n\nfor (const itemOcr of ocr) {\n  const chaveComputador = norm(itemOcr.chaveComputador);\n  if (!chaveComputador) continue;\n\n  for (const itemPlanilha of planilha) {\n    const chaveResumo = norm(itemPlanilha.chaveResumo);\n    if (!chaveResumo) continue;\n\n    if (chaveComputador === chaveResumo) {\n      resultado.push({\n        json: {\n          ...itemOcr,\n          ...itemPlanilha,\n          match: true,\n        },\n      });\n    }\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,224],"id":"29574448-aa06-4f8e-b615-e4ced3d11434","name":"Code in JavaScript2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-640,1072],"id":"297c95bb-c025-46e3-8aed-1d9870abe7d7","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2464,224],"id":"7efcc5b9-404d-4784-a466-1925ca9cda16","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2880,240],"id":"44c42fa6-ac9d-488a-ad61-3ad23e422773"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","VALOR":"={{ $json.valor }}","STATUS":"CAPA LANÇADA"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MOTOQ.","displayName":"MOTOQ.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORÁRIO","displayName":"HORÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"KM","displayName":"KM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO RECEBIMENTO","displayName":"DESCRIÇÃO DO RECEBIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"C/D","displayName":"C/D","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ","displayName":"SEQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VERIFICAR CAPA/MOV","displayName":"VERIFICAR CAPA/MOV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESP.","displayName":"RESP.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ASÁB","displayName":"ASÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ SÁB","displayName":"SEQ SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REGRAS DE PGTO","displayName":"REGRAS DE PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BLOQ","displayName":"BLOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FATUR.","displayName":"FATUR.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5% DO FAT","displayName":"5% DO FAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROG.","displayName":"PROG.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA CONF. PIX/CART","displayName":"DATA CONF. PIX/CART","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PGTO","displayName":"DATA PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"COMISSÃO","displayName":"COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESUMO","displayName":"RESUMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"INFO OK","displayName":"INFO OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2688,240],"id":"f85062b0-a6fa-4a4b-9a67-8afebc5333a3","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2080,224],"id":"7227bbc7-7916-4a32-97cb-9d43ce5e2b6f","name":"Merge"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[336,512],"id":"12ec1def-422b-4038-986e-18125bf106e4","name":"Google Drive9","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1Jo8XuTOPOlRjQM6VYz4AKmps5cQP8n-3' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,512],"id":"b17d2993-e1d5-412a-9941-d9ded93598e4","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"content":"# FLUXO CAPA AT&TIC","height":752,"width":3056},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"86d73e50-f534-4a5b-a92d-d55c4d596223","name":"Sticky Note"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Estatísticas por Convênio","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[368,992],"id":"833bbf7d-93cb-4e9f-a68e-41352dab67a4","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1VE-qzp2cpc9Xebhn3dyxUbDvmVyDV_qv' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[144,992],"id":"346ba35e-e122-42eb-8eff-1d3b5c0715be","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// --------------------------------------------------\n// 1) LOCALIZAR A LINHA DE CABEÇALHO (row_number = 10)\n// --------------------------------------------------\nconst headerItem = items.find(item => Number(item.json.row_number) === 10);\n\nif (!headerItem) {\n  throw new Error('Não foi encontrada a linha 10 para usar como cabeçalho.');\n}\n\n// --------------------------------------------------\n// 2) MONTAR MAPA DE CABEÇALHOS\n//    - usa os valores da linha 10 como nome das chaves\n//    - trata cabeçalhos repetidos\n// --------------------------------------------------\nconst headerMap = {};\nconst usedHeaders = {};\n\nfor (const key of Object.keys(headerItem.json)) {\n  if (key === 'row_number') continue;\n\n  let headerName = String(headerItem.json[key] ?? '').trim();\n\n  if (!headerName) {\n    headerName = key;\n  }\n\n  if (usedHeaders[headerName]) {\n    usedHeaders[headerName] += 1;\n    headerName = `${headerName}_${usedHeaders[headerName]}`;\n  } else {\n    usedHeaders[headerName] = 1;\n  }\n\n  headerMap[key] = headerName;\n}\n\n// --------------------------------------------------\n// 3) FUNÇÕES DE DATA\n//    - extrai data do texto\n//    - mantém formato DD/MM/AAAA\n// --------------------------------------------------\nfunction formatDateToBR(dateStr) {\n  if (!dateStr) return '';\n\n  const s = String(dateStr).trim();\n\n  // DD/MM/AAAA ou DD-MM-AAAA\n  let m = s.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{4})$/);\n  if (m) {\n    let [, dd, mm, yyyy] = m;\n\n    dd = dd.padStart(2, '0');\n    mm = mm.padStart(2, '0');\n\n    return `${dd}/${mm}/${yyyy}`;\n  }\n\n  // AAAA-MM-DD ou AAAA/MM/DD\n  m = s.match(/^(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})$/);\n  if (m) {\n    let [, yyyy, mm, dd] = m;\n\n    dd = dd.padStart(2, '0');\n    mm = mm.padStart(2, '0');\n\n    return `${dd}/${mm}/${yyyy}`;\n  }\n\n  return '';\n}\n\nfunction extractData(texto) {\n  const raw = String(texto ?? '').trim();\n  if (!raw) return '';\n\n  // tenta pegar a data depois da última letra \"a\"\n  const partes = raw.split(/a/i).map(s => s.trim()).filter(Boolean);\n  if (partes.length > 1) {\n    const ultimaParte = partes[partes.length - 1];\n\n    const dateMatch =\n      ultimaParte.match(/\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{4}/) ||\n      ultimaParte.match(/\\d{4}[\\/\\-]\\d{1,2}[\\/\\-]\\d{1,2}/);\n\n    if (dateMatch) {\n      return formatDateToBR(dateMatch[0]);\n    }\n  }\n\n  // fallback: procura qualquer data no texto inteiro\n  const anyDateMatch =\n    raw.match(/\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{4}/) ||\n    raw.match(/\\d{4}[\\/\\-]\\d{1,2}[\\/\\-]\\d{1,2}/);\n\n  if (anyDateMatch) {\n    return formatDateToBR(anyDateMatch[0]);\n  }\n\n  return '';\n}\n\n// --------------------------------------------------\n// 4) BUSCAR UM TEXTO GLOBAL QUE TENHA DATA\n// --------------------------------------------------\nfunction findTextoBaseComData() {\n  for (const item of items) {\n    const valor = item.json[\"Estatísticas por Convênio\"];\n    const data = extractData(valor);\n    if (data) {\n      return String(valor);\n    }\n  }\n  return '';\n}\n\nconst textoBaseGlobal = findTextoBaseComData();\n\n// --------------------------------------------------\n// 5) TRANSFORMAR AS LINHAS A PARTIR DA 11\n//    - \"Estatísticas por Convênio\" da linha 10 vira \"Sigla\"\n//    - chaveMatch = data | Sigla | (+)COMPUTADOR DO POSTO\n// --------------------------------------------------\nconst resultado = items\n  .filter(item => Number(item.json.row_number) >= 11)\n  .map(item => {\n    const original = item.json;\n    const novoObjeto = {};\n\n    for (const originalKey of Object.keys(headerMap)) {\n      const novoNome = headerMap[originalKey];\n      novoObjeto[novoNome] = original[originalKey];\n    }\n\n    const textoAtual = original[\"Estatísticas por Convênio\"] ?? '';\n    let data = extractData(textoAtual);\n\n    if (!data) {\n      data = extractData(textoBaseGlobal);\n    }\n\n    let sigla = String(novoObjeto[\"Sigla\"] ?? '').trim();\n\n    // remove zero à esquerda se a sigla vier numérica, ex: 090 -> 90\n    if (/^\\d+$/.test(sigla)) {\n      sigla = String(Number(sigla));\n    }\n\n    const chaveMatch = `${data} | ${sigla} | (+)COMPUTADOR DO POSTO`;\n\n    return {\n      json: {\n        ...novoObjeto,\n        data,\n        chaveMatch\n      }\n    };\n  });\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,992],"id":"d5155e48-2a87-4042-a56d-9ff0d997484a","name":"Code in JavaScript3"},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[144,1312],"id":"6c08775b-f1c1-41c1-90c8-a7e064a95902","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst resultado = [];\n\n// pega data atual (zera hora)\nconst hoje = new Date();\nhoje.setHours(0, 0, 0, 0);\n\nfunction parseDataBR(dataStr) {\n  if (!dataStr) return null;\n\n  const partes = dataStr.split(\"/\");\n  if (partes.length !== 3) return null;\n\n  const [dia, mes, ano] = partes.map(Number);\n\n  return new Date(ano, mes - 1, dia);\n}\n\nfor (const item of items) {\n  const j = item.json;\n\n  // -------------------------\n  // NORMALIZAÇÃO\n  // -------------------------\n  const categoria = String(j[\"CATEGORIA\"] || \"\").trim().toUpperCase();\n\n  const valorRaw = String(j[\"VALOR\"] || \"\").trim();\n\n  const valorNumero = parseFloat(\n    valorRaw.replace(\".\", \"\").replace(\",\", \".\")\n  );\n\n  const valorEhZeroOuVazio =\n    valorRaw === \"\" ||\n    valorRaw === \".\" ||\n    valorNumero === 0 ||\n    isNaN(valorNumero);\n\n  // -------------------------\n  // DATA\n  // -------------------------\n  const dataItem = parseDataBR(j[\"DATA\"]);\n\n  const dataValida =\n    dataItem && dataItem < hoje; // 👈 AQUI está a regra\n\n  // -------------------------\n  // CONDIÇÃO FINAL\n  // -------------------------\n  const condicaoCategoria =\n    categoria === \"(+)COMPUTADOR DO POSTO\";\n\n  if (condicaoCategoria && valorEhZeroOuVazio && dataValida) {\n\n    const chaveResumo = `${j[\"DATA\"] || \"\"} | ${j[\"POSTO\"] || \"\"} | ${j[\"CATEGORIA\"] || \"\"}`;\n\n    resultado.push({\n      json: {\n        ...j,\n        chaveResumo,\n        _match: true\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,1312],"id":"ff6f7a2e-5ce5-430c-a490-5f5e0d364337","name":"Code in JavaScript4"},{"parameters":{"jsCode":"let ocr = [];\nlet planilha = [];\n\n// tenta pegar OCR\ntry {\n  ocr = $(\"Code in JavaScript3\").all().map(i => i.json);\n} catch (e) {\n  ocr = [];\n}\n\n// tenta pegar planilha\ntry {\n  planilha = $(\"Code in JavaScript4\").all().map(i => i.json);\n} catch (e) {\n  planilha = [];\n}\n\nconst resultado = [];\n\nfunction norm(v) {\n  return String(v ?? \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase();\n}\n\n// proteção extra: só roda se ambos tiverem dados\nif (ocr.length && planilha.length) {\n  for (const itemOcr of ocr) {\n    const chaveMatch = norm(itemOcr.chaveMatch);\n    if (!chaveMatch) continue;\n\n    for (const itemPlanilha of planilha) {\n      const chaveResumo = norm(itemPlanilha.chaveResumo);\n      if (!chaveResumo) continue;\n\n      if (chaveMatch === chaveResumo) {\n        resultado.push({\n          json: {\n            ...itemOcr,\n            ...itemPlanilha,\n            match: true\n          }\n        });\n      }\n    }\n  }\n}\n\n// sempre retorna array válido\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,1152],"id":"3723af11-580c-411c-b7f0-b4341ec1453b","name":"Code in JavaScript5"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1168,1136],"id":"6164cb0a-8ee5-431d-84b6-d3dc9d88a6f6","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1840,1152],"id":"e15f2b2e-dc14-426f-9fca-d5873ce41eac"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","VALOR":"={{ $json[\"Valor Total\"] }}","STATUS":"CAPA LANÇADA"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MOTOQ.","displayName":"MOTOQ.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORÁRIO","displayName":"HORÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"KM","displayName":"KM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO RECEBIMENTO","displayName":"DESCRIÇÃO DO RECEBIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"C/D","displayName":"C/D","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ","displayName":"SEQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VERIFICAR CAPA/MOV","displayName":"VERIFICAR CAPA/MOV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESP.","displayName":"RESP.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ASÁB","displayName":"ASÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ SÁB","displayName":"SEQ SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REGRAS DE PGTO","displayName":"REGRAS DE PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BLOQ","displayName":"BLOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FATUR.","displayName":"FATUR.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5% DO FAT","displayName":"5% DO FAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROG.","displayName":"PROG.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA CONF. PIX/CART","displayName":"DATA CONF. PIX/CART","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PGTO","displayName":"DATA PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"COMISSÃO","displayName":"COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESUMO","displayName":"RESUMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"INFO OK","displayName":"INFO OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1440,1152],"id":"75d11ebf-2986-4c40-9114-714aa8785cc4","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[768,1152],"id":"a267cb8c-4a95-4fdd-a4b6-a1219c16b31f","name":"Merge1"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive4').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[336,1552],"id":"89d8e690-4495-407b-9fde-a28f5d58a821","name":"Google Drive10","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1VE-qzp2cpc9Xebhn3dyxUbDvmVyDV_qv' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,1552],"id":"a2ac9a0d-646b-498a-a13a-e4db5243baaf","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1648,1152],"id":"88a23c26-3be3-4992-abc7-7f6b57d9f85d","name":"Wait","webhookId":"4771d152-ac49-4b11-b9f4-730d8ea4b195"},{"parameters":{"content":"# FLUXO CAPA WORKLAB","height":1024,"width":2144},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,848],"id":"174398dc-15b7-461a-87ad-55607fd924f9","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[544,224],"id":"c0cb5be6-dbe2-41bd-914c-94144502dda1","name":"Extract text","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"promptType":"define","text":"=Você é um extrator de dados especializado em OCR de relatórios da LABOVIDA.\n\nSua tarefa é ler o TEXTO OCR de um documento chamado \"Relatório Resumo por Posto\" e retornar APENAS um JSON válido.\n\nATENÇÃO:\n- O documento NÃO é uma lista de pacientes.\n- O documento é um resumo por posto/unidade.\n- O texto pode vir como tabela Markdown.\n- Retorne APENAS JSON válido.\n- Não use markdown.\n- Não use ```json.\n- Não escreva explicações.\n- Não escreva texto fora do JSON.\n- Não invente registros.\n- Não duplique registros.\n- Não retorne o JSON dentro de string.\n- Não retorne no campo text.\n- Não escape aspas com barra invertida.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\n\n{\n  \"tipoRelatorio\": \"Relatório Resumo por Posto\",\n  \"arquivo\": \"NOME DO ARQUIVO\",\n  \"periodo\": {\n    \"inicio\": \"dd/mm/aaaa\",\n    \"fim\": \"dd/mm/aaaa\"\n  },\n  \"registros\": [\n    {\n      \"posto\": 12,\n      \"local\": \"CLINICA DOS FEIRANTES\",\n      \"req\": 44,\n      \"exames\": 240,\n      \"valor\": \"2.961,40\",\n      \"area\": \"ÁREA 01\",\n      \"responsavel\": \"AMAURI\"\n    }\n  ],\n  \"totais\": {\n    \"numeroPacientesListados\": 90,\n    \"numeroExamesEfetuados\": 572,\n    \"valorFaturadoTotal\": \"5.416,21\"\n  },\n  \"impressao\": {\n    \"dataImpressao\": \"14/05/2026\",\n    \"usuario\": \"PRISCILA\"\n  }\n}\n\nREGRAS DE EXTRAÇÃO:\n\n1. TIPO DO RELATÓRIO\n\nSe houver texto compatível com \"Relatório Resumo por Posto\", retorne:\n\n\"tipoRelatorio\": \"Relatório Resumo por Posto\"\n\n2. ARQUIVO\n\nO campo \"arquivo\" deve receber o nome do arquivo informado abaixo.\n\n3. PERÍODO\n\nExtraia o período de padrões como:\n\n\"Período: 13/05/2026 até 13/05/2026\"\n\nRetorne:\n\n\"periodo\": {\n  \"inicio\": \"13/05/2026\",\n  \"fim\": \"13/05/2026\"\n}\n\nSe não encontrar alguma data, use null.\n\n4. ESTRUTURA DA TABELA\n\nO relatório possui uma tabela com as seguintes colunas:\n\nPosto | Local | Req. | Exames | Valor | Área | Responsável\n\nCada linha válida representa um posto.\n\nExemplo de linha:\n\n| 12 | CLINICA DOS FEIRANTES | 44 | 240 | 2.961,40 | ÁREA 01 | AMAURI |\n\nDeve retornar:\n\n{\n  \"posto\": 12,\n  \"local\": \"CLINICA DOS FEIRANTES\",\n  \"req\": 44,\n  \"exames\": 240,\n  \"valor\": \"2.961,40\",\n  \"area\": \"ÁREA 01\",\n  \"responsavel\": \"AMAURI\"\n}\n\n5. COMO IDENTIFICAR OS CAMPOS\n\n- \"posto\" é a primeira coluna da linha.\n- \"local\" é a segunda coluna da linha.\n- \"req\" é a terceira coluna da linha.\n- \"exames\" é a quarta coluna da linha.\n- \"valor\" é a quinta coluna da linha.\n- \"area\" é a sexta coluna da linha.\n- \"responsavel\" é a sétima coluna da linha.\n\n6. LINHAS QUE DEVEM SER EXTRAÍDAS\n\nExtraia somente linhas em que a primeira coluna seja um número de posto.\n\nExemplos de postos válidos:\n\n12\n27\n35\n76\n152\n158\n\nCada posto encontrado deve virar um objeto dentro de \"registros\".\n\n7. LINHAS QUE DEVEM SER IGNORADAS\n\nIgnore cabeçalhos e linhas de separação, como:\n\n| Posto | Local | Req. | Exames | Valor |\n| --- | --- | --- | --- | --- |\n\nIgnore também as linhas de totais como registro:\n\nNúmero de pacientes listados\nNúmero de exames efetuados\nValor faturado total\n\nEssas linhas devem ser usadas somente para preencher o objeto \"totais\".\n\n8. TOTAIS\n\nExtraia:\n\n\"Número de pacientes listados\" para \"numeroPacientesListados\"\n\"Número de exames efetuados\" para \"numeroExamesEfetuados\"\n\"Valor faturado total\" para \"valorFaturadoTotal\"\n\nExemplo:\n\n| Número de pacientes listados: | | 90 | | | | |\n| Número de exames efetuados: | | 572 | | | | |\n| Valor faturado total: | | 5.416,21 | | | | |\n\nRetorne:\n\n\"totais\": {\n  \"numeroPacientesListados\": 90,\n  \"numeroExamesEfetuados\": 572,\n  \"valorFaturadoTotal\": \"5.416,21\"\n}\n\n9. IMPRESSÃO\n\nExtraia:\n\n\"Data de Impressão\" para \"dataImpressao\"\n\"Usuário\" para \"usuario\"\n\nExemplo:\n\nData de Impressão: 14/05/2026\nUsuário: PRISCILA\n\nRetorne:\n\n\"impressao\": {\n  \"dataImpressao\": \"14/05/2026\",\n  \"usuario\": \"PRISCILA\"\n}\n\n10. TIPOS DOS CAMPOS\n\n- \"posto\" deve ser número.\n- \"req\" deve ser número.\n- \"exames\" deve ser número.\n- \"valor\" deve ser string no formato brasileiro.\n- \"local\" deve ser string.\n- \"area\" deve ser string.\n- \"responsavel\" deve ser string.\n- Campos não encontrados devem ser null.\n- Não use string vazia para campo ausente. Use null.\n\n11. NORMALIZAÇÃO DE OCR\n\nCorrija somente quando houver alta confiança:\n\n- \"AMAUR|I\" deve virar \"AMAURI\"\n- \"ÁREAO1\" deve virar \"ÁREA 01\"\n- \"ÁREAO2\" deve virar \"ÁREA 02\"\n- \"ÁREAO3\" deve virar \"ÁREA 03\"\n- \"ÁREAO4\" deve virar \"ÁREA 04\"\n- \"ÁREAO5\" deve virar \"ÁREA 05\"\n- \"ÁREAO6\" deve virar \"ÁREA 06\"\n- \"CLINICADOS FEIRANTES\" deve virar \"CLINICA DOS FEIRANTES\"\n- \"MULTICLINICAHIPER SAUDE\" deve virar \"MULTICLINICA HIPER SAUDE\"\n\nSe não houver alta confiança, preserve o texto como veio no OCR.\n\n12. VALIDAÇÃO FINAL\n\nAntes de responder, confira:\n\n- A resposta é JSON válido.\n- A resposta começa com { e termina com }.\n- Não existe markdown.\n- Não existe explicação.\n- \"registros\" é um array.\n- Cada linha com posto numérico foi extraída.\n- Nenhum cabeçalho foi incluído como registro.\n- Os totais foram extraídos.\n- A data de impressão foi extraída.\n- O usuário foi extraído.\n\nNOME DO ARQUIVO:\n{{ $(\"Google Drive\").first().json.name }}\n\nTEXTO OCR:\n{{ $json.extractedText || $json.text || $json.markdown || $json.pages?.map(p => p.markdown).join(\"\\n\") }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[736,224],"id":"204ed682-64be-4598-80b3-f3d7fe820675","name":"Basic LLM Chain"},{"parameters":{"jsCode":"const raw =\n  $json.text ||\n  $json.output ||\n  $json.response ||\n  $json.content ||\n  $json.message?.content ||\n  $json.choices?.[0]?.message?.content ||\n  \"\";\n\nlet texto = String(raw).trim();\n\n// Remove markdown, caso a IA retorne com ```json\ntexto = texto\n  .replace(/^```json/i, \"\")\n  .replace(/^```/i, \"\")\n  .replace(/```$/i, \"\")\n  .trim();\n\n// ======================================================\n// LOCALIZA OBJETO JSON\n// Esperado:\n// {\n//   \"tipoRelatorio\": \"...\",\n//   \"registros\": [...]\n// }\n// ======================================================\nconst inicio = texto.indexOf(\"{\");\nconst fim = texto.lastIndexOf(\"}\");\n\nif (inicio === -1 || fim === -1 || fim <= inicio) {\n  throw new Error(\"A resposta da IA não contém um objeto JSON válido.\");\n}\n\nconst jsonLimpo = texto.slice(inicio, fim + 1);\n\nlet dados;\n\ntry {\n  dados = JSON.parse(jsonLimpo);\n} catch (error) {\n  throw new Error(\"Erro ao converter resposta da IA em JSON: \" + error.message);\n}\n\n// ======================================================\n// VALIDA ESTRUTURA\n// ======================================================\nif (!dados || typeof dados !== \"object\" || Array.isArray(dados)) {\n  throw new Error(\"O JSON retornado pela IA não é um objeto válido.\");\n}\n\nif (!Array.isArray(dados.registros)) {\n  throw new Error(\"O JSON retornado pela IA não contém o array 'registros'.\");\n}\n\n// ======================================================\n// DADOS GERAIS DO RELATÓRIO\n// ======================================================\nconst tipoRelatorio = dados.tipoRelatorio || null;\nconst arquivo = dados.arquivo || null;\n\nconst periodo = dados.periodo || {\n  inicio: null,\n  fim: null\n};\n\nconst totais = dados.totais || {\n  numeroPacientesListados: null,\n  numeroExamesEfetuados: null,\n  valorFaturadoTotal: null\n};\n\nconst impressao = dados.impressao || {\n  dataImpressao: null,\n  usuario: null\n};\n\n// ======================================================\n// RETORNA UM ITEM POR POSTO / REGISTRO\n// ======================================================\nreturn dados.registros.map((registro, index) => ({\n  json: {\n    sucesso: true,\n\n    tipoRelatorio,\n    arquivo,\n\n    periodoInicio: periodo.inicio || null,\n    periodoFim: periodo.fim || null,\n\n    posto: registro.posto ?? null,\n    local: registro.local ?? null,\n    req: registro.req ?? null,\n    exames: registro.exames ?? null,\n    valor: registro.valor ?? null,\n    area: registro.area ?? null,\n    responsavel: registro.responsavel ?? null,\n\n    numeroPacientesListados: totais.numeroPacientesListados ?? null,\n    numeroExamesEfetuados: totais.numeroExamesEfetuados ?? null,\n    valorFaturadoTotal: totais.valorFaturadoTotal ?? null,\n\n    dataImpressao: impressao.dataImpressao || null,\n    usuario: impressao.usuario || null,\n\n    _idx: index + 1,\n    _totalRegistros: dados.registros.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,224],"id":"47558499-1290-496a-8af9-8834a7f7da21","name":"Code in JavaScript6"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[720,416],"id":"b1864baa-f3b2-4838-b5f8-a9baf84012d2","name":"Mistral Cloud Chat Model","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6cac2689-b315-4c77-846b-d7482d330ba6","leftValue":"={{ $json.DATA }}","rightValue":"={{ $('Code in JavaScript6').first().json.periodoInicio }}","operator":{"type":"string","operation":"equals"}},{"id":"7b889325-baf4-4de4-8841-cfe84b147a4b","leftValue":"={{ $json['PROG.'] }}","rightValue":"AT&TIC","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1696,384],"id":"b4c1b382-b64b-44c5-bf4d-2a2e635dadf4","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1312,368],"id":"87e10f20-1c8f-47b8-9faf-08439768d32e","name":"Loop Over Items2"}],"connections":{"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Google Drive2","type":"main","index":0},{"node":"Google Drive3","type":"main","index":0},{"node":"Get row(s) in sheet2","type":"main","index":0},{"node":"Google Drive4","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Update row in sheet","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Google Drive9","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code in JavaScript5":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Update row in sheet1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Google Drive4":{"main":[[{"node":"Google Drive10","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Extract text":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code in JavaScript6","type":"main","index":0}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0},{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f38b5560-f12b-42af-b88a-836838a90d77","activeVersionId":"f38b5560-f12b-42af-b88a-836838a90d77","triggerCount":1,"shared":[{"updatedAt":"2026-05-12T00:46:21.953Z","createdAt":"2026-05-12T00:46:21.953Z","role":"workflow:owner","workflowId":"wOrAckuIKF3eXs3t","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-15T15:37:49.000Z","createdAt":"2026-05-15T15:37:41.778Z","versionId":"f38b5560-f12b-42af-b88a-836838a90d77","workflowId":"wOrAckuIKF3eXs3t","nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1Jo8XuTOPOlRjQM6VYz4AKmps5cQP8n-3' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[144,224],"id":"b68e8170-603a-4697-bed0-4a6fb43466ee","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,224],"id":"2c2bded1-aca4-4b88-99d9-ef357508a04b","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"filtersUI":{"values":[{"lookupColumn":"CATEGORIA","lookupValue":"(+)COMPUTADOR DO POSTO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1520,384],"id":"3fd1970c-e8f0-416f-b6f0-8433f5942e5d","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst resultado = [];\n\n// pega data atual (zera hora)\nconst hoje = new Date();\nhoje.setHours(0, 0, 0, 0);\n\nfunction parseDataBR(dataStr) {\n  if (!dataStr) return null;\n\n  const partes = dataStr.split(\"/\");\n  if (partes.length !== 3) return null;\n\n  const [dia, mes, ano] = partes.map(Number);\n\n  return new Date(ano, mes - 1, dia);\n}\n\nfor (const item of items) {\n  const j = item.json;\n\n  // -------------------------\n  // NORMALIZAÇÃO\n  // -------------------------\n  const categoria = String(j[\"CATEGORIA\"] || \"\").trim().toUpperCase();\n\n  const valorRaw = String(j[\"VALOR\"] || \"\").trim();\n\n  const valorNumero = parseFloat(\n    valorRaw.replace(\".\", \"\").replace(\",\", \".\")\n  );\n\n  const valorEhZeroOuVazio =\n    valorRaw === \"\" ||\n    valorRaw === \".\" ||\n    valorNumero === 0 ||\n    isNaN(valorNumero);\n\n  // -------------------------\n  // DATA\n  // -------------------------\n  const dataItem = parseDataBR(j[\"DATA\"]);\n\n  const dataValida =\n    dataItem && dataItem < hoje; // 👈 AQUI está a regra\n\n  // -------------------------\n  // CONDIÇÃO FINAL\n  // -------------------------\n  const condicaoCategoria =\n    categoria === \"(+)COMPUTADOR DO POSTO\";\n\n  if (condicaoCategoria && valorEhZeroOuVazio && dataValida) {\n\n    const chaveResumo = `${j[\"DATA\"] || \"\"} | ${j[\"POSTO\"] || \"\"} | ${j[\"CATEGORIA\"] || \"\"}`;\n\n    resultado.push({\n      json: {\n        ...j,\n        chaveResumo,\n        _match: true\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,368],"id":"c8d68270-9349-48c5-8eec-7b39225fe9be","name":"Code in JavaScript"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const j = item.json;\n\n  const chaveComputador = `${j.periodoInicio || \"\"} | ${j.posto || \"\"} | (+)COMPUTADOR DO POSTO`;\n\n  return {\n    json: {\n      ...j,\n      chaveComputador\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,80],"id":"18f19b50-e96e-49c8-9fee-f116bb1cfa03","name":"Code in JavaScript1"},{"parameters":{"jsCode":"let ocr = [];\nlet planilha = [];\n\ntry {\n  ocr = $(\"Code in JavaScript1\").all().map(i => i.json);\n} catch (e) {\n  ocr = [];\n}\n\ntry {\n  planilha = $(\"Code in JavaScript\").all().map(i => i.json);\n} catch (e) {\n  planilha = [];\n}\n\nconst resultado = [];\n\nfunction norm(v) {\n  return String(v ?? \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase();\n}\n\nfor (const itemOcr of ocr) {\n  const chaveComputador = norm(itemOcr.chaveComputador);\n  if (!chaveComputador) continue;\n\n  for (const itemPlanilha of planilha) {\n    const chaveResumo = norm(itemPlanilha.chaveResumo);\n    if (!chaveResumo) continue;\n\n    if (chaveComputador === chaveResumo) {\n      resultado.push({\n        json: {\n          ...itemOcr,\n          ...itemPlanilha,\n          match: true,\n        },\n      });\n    }\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,224],"id":"29574448-aa06-4f8e-b615-e4ced3d11434","name":"Code in JavaScript2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-640,1072],"id":"297c95bb-c025-46e3-8aed-1d9870abe7d7","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2464,224],"id":"7efcc5b9-404d-4784-a466-1925ca9cda16","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2880,240],"id":"44c42fa6-ac9d-488a-ad61-3ad23e422773"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","VALOR":"={{ $json.valor }}","STATUS":"CAPA LANÇADA"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MOTOQ.","displayName":"MOTOQ.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORÁRIO","displayName":"HORÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"KM","displayName":"KM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO RECEBIMENTO","displayName":"DESCRIÇÃO DO RECEBIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"C/D","displayName":"C/D","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ","displayName":"SEQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VERIFICAR CAPA/MOV","displayName":"VERIFICAR CAPA/MOV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESP.","displayName":"RESP.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ASÁB","displayName":"ASÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ SÁB","displayName":"SEQ SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REGRAS DE PGTO","displayName":"REGRAS DE PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BLOQ","displayName":"BLOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FATUR.","displayName":"FATUR.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5% DO FAT","displayName":"5% DO FAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROG.","displayName":"PROG.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA CONF. PIX/CART","displayName":"DATA CONF. PIX/CART","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PGTO","displayName":"DATA PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"COMISSÃO","displayName":"COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESUMO","displayName":"RESUMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"INFO OK","displayName":"INFO OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2688,240],"id":"f85062b0-a6fa-4a4b-9a67-8afebc5333a3","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2080,224],"id":"7227bbc7-7916-4a32-97cb-9d43ce5e2b6f","name":"Merge"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[336,512],"id":"12ec1def-422b-4038-986e-18125bf106e4","name":"Google Drive9","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1Jo8XuTOPOlRjQM6VYz4AKmps5cQP8n-3' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,512],"id":"b17d2993-e1d5-412a-9941-d9ded93598e4","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"content":"# FLUXO CAPA AT&TIC","height":752,"width":3056},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"86d73e50-f534-4a5b-a92d-d55c4d596223","name":"Sticky Note"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Estatísticas por Convênio","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[368,992],"id":"833bbf7d-93cb-4e9f-a68e-41352dab67a4","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1VE-qzp2cpc9Xebhn3dyxUbDvmVyDV_qv' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[144,992],"id":"346ba35e-e122-42eb-8eff-1d3b5c0715be","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\n// --------------------------------------------------\n// 1) LOCALIZAR A LINHA DE CABEÇALHO (row_number = 10)\n// --------------------------------------------------\nconst headerItem = items.find(item => Number(item.json.row_number) === 10);\n\nif (!headerItem) {\n  throw new Error('Não foi encontrada a linha 10 para usar como cabeçalho.');\n}\n\n// --------------------------------------------------\n// 2) MONTAR MAPA DE CABEÇALHOS\n//    - usa os valores da linha 10 como nome das chaves\n//    - trata cabeçalhos repetidos\n// --------------------------------------------------\nconst headerMap = {};\nconst usedHeaders = {};\n\nfor (const key of Object.keys(headerItem.json)) {\n  if (key === 'row_number') continue;\n\n  let headerName = String(headerItem.json[key] ?? '').trim();\n\n  if (!headerName) {\n    headerName = key;\n  }\n\n  if (usedHeaders[headerName]) {\n    usedHeaders[headerName] += 1;\n    headerName = `${headerName}_${usedHeaders[headerName]}`;\n  } else {\n    usedHeaders[headerName] = 1;\n  }\n\n  headerMap[key] = headerName;\n}\n\n// --------------------------------------------------\n// 3) FUNÇÕES DE DATA\n//    - extrai data do texto\n//    - mantém formato DD/MM/AAAA\n// --------------------------------------------------\nfunction formatDateToBR(dateStr) {\n  if (!dateStr) return '';\n\n  const s = String(dateStr).trim();\n\n  // DD/MM/AAAA ou DD-MM-AAAA\n  let m = s.match(/^(\\d{1,2})[\\/\\-](\\d{1,2})[\\/\\-](\\d{4})$/);\n  if (m) {\n    let [, dd, mm, yyyy] = m;\n\n    dd = dd.padStart(2, '0');\n    mm = mm.padStart(2, '0');\n\n    return `${dd}/${mm}/${yyyy}`;\n  }\n\n  // AAAA-MM-DD ou AAAA/MM/DD\n  m = s.match(/^(\\d{4})[\\/\\-](\\d{1,2})[\\/\\-](\\d{1,2})$/);\n  if (m) {\n    let [, yyyy, mm, dd] = m;\n\n    dd = dd.padStart(2, '0');\n    mm = mm.padStart(2, '0');\n\n    return `${dd}/${mm}/${yyyy}`;\n  }\n\n  return '';\n}\n\nfunction extractData(texto) {\n  const raw = String(texto ?? '').trim();\n  if (!raw) return '';\n\n  // tenta pegar a data depois da última letra \"a\"\n  const partes = raw.split(/a/i).map(s => s.trim()).filter(Boolean);\n  if (partes.length > 1) {\n    const ultimaParte = partes[partes.length - 1];\n\n    const dateMatch =\n      ultimaParte.match(/\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{4}/) ||\n      ultimaParte.match(/\\d{4}[\\/\\-]\\d{1,2}[\\/\\-]\\d{1,2}/);\n\n    if (dateMatch) {\n      return formatDateToBR(dateMatch[0]);\n    }\n  }\n\n  // fallback: procura qualquer data no texto inteiro\n  const anyDateMatch =\n    raw.match(/\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{4}/) ||\n    raw.match(/\\d{4}[\\/\\-]\\d{1,2}[\\/\\-]\\d{1,2}/);\n\n  if (anyDateMatch) {\n    return formatDateToBR(anyDateMatch[0]);\n  }\n\n  return '';\n}\n\n// --------------------------------------------------\n// 4) BUSCAR UM TEXTO GLOBAL QUE TENHA DATA\n// --------------------------------------------------\nfunction findTextoBaseComData() {\n  for (const item of items) {\n    const valor = item.json[\"Estatísticas por Convênio\"];\n    const data = extractData(valor);\n    if (data) {\n      return String(valor);\n    }\n  }\n  return '';\n}\n\nconst textoBaseGlobal = findTextoBaseComData();\n\n// --------------------------------------------------\n// 5) TRANSFORMAR AS LINHAS A PARTIR DA 11\n//    - \"Estatísticas por Convênio\" da linha 10 vira \"Sigla\"\n//    - chaveMatch = data | Sigla | (+)COMPUTADOR DO POSTO\n// --------------------------------------------------\nconst resultado = items\n  .filter(item => Number(item.json.row_number) >= 11)\n  .map(item => {\n    const original = item.json;\n    const novoObjeto = {};\n\n    for (const originalKey of Object.keys(headerMap)) {\n      const novoNome = headerMap[originalKey];\n      novoObjeto[novoNome] = original[originalKey];\n    }\n\n    const textoAtual = original[\"Estatísticas por Convênio\"] ?? '';\n    let data = extractData(textoAtual);\n\n    if (!data) {\n      data = extractData(textoBaseGlobal);\n    }\n\n    let sigla = String(novoObjeto[\"Sigla\"] ?? '').trim();\n\n    // remove zero à esquerda se a sigla vier numérica, ex: 090 -> 90\n    if (/^\\d+$/.test(sigla)) {\n      sigla = String(Number(sigla));\n    }\n\n    const chaveMatch = `${data} | ${sigla} | (+)COMPUTADOR DO POSTO`;\n\n    return {\n      json: {\n        ...novoObjeto,\n        data,\n        chaveMatch\n      }\n    };\n  });\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,992],"id":"d5155e48-2a87-4042-a56d-9ff0d997484a","name":"Code in JavaScript3"},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[144,1312],"id":"6c08775b-f1c1-41c1-90c8-a7e064a95902","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst resultado = [];\n\n// pega data atual (zera hora)\nconst hoje = new Date();\nhoje.setHours(0, 0, 0, 0);\n\nfunction parseDataBR(dataStr) {\n  if (!dataStr) return null;\n\n  const partes = dataStr.split(\"/\");\n  if (partes.length !== 3) return null;\n\n  const [dia, mes, ano] = partes.map(Number);\n\n  return new Date(ano, mes - 1, dia);\n}\n\nfor (const item of items) {\n  const j = item.json;\n\n  // -------------------------\n  // NORMALIZAÇÃO\n  // -------------------------\n  const categoria = String(j[\"CATEGORIA\"] || \"\").trim().toUpperCase();\n\n  const valorRaw = String(j[\"VALOR\"] || \"\").trim();\n\n  const valorNumero = parseFloat(\n    valorRaw.replace(\".\", \"\").replace(\",\", \".\")\n  );\n\n  const valorEhZeroOuVazio =\n    valorRaw === \"\" ||\n    valorRaw === \".\" ||\n    valorNumero === 0 ||\n    isNaN(valorNumero);\n\n  // -------------------------\n  // DATA\n  // -------------------------\n  const dataItem = parseDataBR(j[\"DATA\"]);\n\n  const dataValida =\n    dataItem && dataItem < hoje; // 👈 AQUI está a regra\n\n  // -------------------------\n  // CONDIÇÃO FINAL\n  // -------------------------\n  const condicaoCategoria =\n    categoria === \"(+)COMPUTADOR DO POSTO\";\n\n  if (condicaoCategoria && valorEhZeroOuVazio && dataValida) {\n\n    const chaveResumo = `${j[\"DATA\"] || \"\"} | ${j[\"POSTO\"] || \"\"} | ${j[\"CATEGORIA\"] || \"\"}`;\n\n    resultado.push({\n      json: {\n        ...j,\n        chaveResumo,\n        _match: true\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,1312],"id":"ff6f7a2e-5ce5-430c-a490-5f5e0d364337","name":"Code in JavaScript4"},{"parameters":{"jsCode":"let ocr = [];\nlet planilha = [];\n\n// tenta pegar OCR\ntry {\n  ocr = $(\"Code in JavaScript3\").all().map(i => i.json);\n} catch (e) {\n  ocr = [];\n}\n\n// tenta pegar planilha\ntry {\n  planilha = $(\"Code in JavaScript4\").all().map(i => i.json);\n} catch (e) {\n  planilha = [];\n}\n\nconst resultado = [];\n\nfunction norm(v) {\n  return String(v ?? \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase();\n}\n\n// proteção extra: só roda se ambos tiverem dados\nif (ocr.length && planilha.length) {\n  for (const itemOcr of ocr) {\n    const chaveMatch = norm(itemOcr.chaveMatch);\n    if (!chaveMatch) continue;\n\n    for (const itemPlanilha of planilha) {\n      const chaveResumo = norm(itemPlanilha.chaveResumo);\n      if (!chaveResumo) continue;\n\n      if (chaveMatch === chaveResumo) {\n        resultado.push({\n          json: {\n            ...itemOcr,\n            ...itemPlanilha,\n            match: true\n          }\n        });\n      }\n    }\n  }\n}\n\n// sempre retorna array válido\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,1152],"id":"3723af11-580c-411c-b7f0-b4341ec1453b","name":"Code in JavaScript5"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1168,1136],"id":"6164cb0a-8ee5-431d-84b6-d3dc9d88a6f6","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1840,1152],"id":"e15f2b2e-dc14-426f-9fca-d5873ce41eac"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","VALOR":"={{ $json[\"Valor Total\"] }}","STATUS":"CAPA LANÇADA"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MOTOQ.","displayName":"MOTOQ.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORÁRIO","displayName":"HORÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"KM","displayName":"KM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO RECEBIMENTO","displayName":"DESCRIÇÃO DO RECEBIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"C/D","displayName":"C/D","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ","displayName":"SEQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VERIFICAR CAPA/MOV","displayName":"VERIFICAR CAPA/MOV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESP.","displayName":"RESP.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ASÁB","displayName":"ASÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ SÁB","displayName":"SEQ SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REGRAS DE PGTO","displayName":"REGRAS DE PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BLOQ","displayName":"BLOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FATUR.","displayName":"FATUR.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5% DO FAT","displayName":"5% DO FAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROG.","displayName":"PROG.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA CONF. PIX/CART","displayName":"DATA CONF. PIX/CART","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PGTO","displayName":"DATA PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"COMISSÃO","displayName":"COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESUMO","displayName":"RESUMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"INFO OK","displayName":"INFO OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1440,1152],"id":"75d11ebf-2986-4c40-9114-714aa8785cc4","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[768,1152],"id":"a267cb8c-4a95-4fdd-a4b6-a1219c16b31f","name":"Merge1"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive4').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[336,1552],"id":"89d8e690-4495-407b-9fde-a28f5d58a821","name":"Google Drive10","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1VE-qzp2cpc9Xebhn3dyxUbDvmVyDV_qv' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[160,1552],"id":"a2ac9a0d-646b-498a-a13a-e4db5243baaf","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1648,1152],"id":"88a23c26-3be3-4992-abc7-7f6b57d9f85d","name":"Wait","webhookId":"4771d152-ac49-4b11-b9f4-730d8ea4b195"},{"parameters":{"content":"# FLUXO CAPA WORKLAB","height":1024,"width":2144},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,848],"id":"174398dc-15b7-461a-87ad-55607fd924f9","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[544,224],"id":"c0cb5be6-dbe2-41bd-914c-94144502dda1","name":"Extract text","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"promptType":"define","text":"=Você é um extrator de dados especializado em OCR de relatórios da LABOVIDA.\n\nSua tarefa é ler o TEXTO OCR de um documento chamado \"Relatório Resumo por Posto\" e retornar APENAS um JSON válido.\n\nATENÇÃO:\n- O documento NÃO é uma lista de pacientes.\n- O documento é um resumo por posto/unidade.\n- O texto pode vir como tabela Markdown.\n- Retorne APENAS JSON válido.\n- Não use markdown.\n- Não use ```json.\n- Não escreva explicações.\n- Não escreva texto fora do JSON.\n- Não invente registros.\n- Não duplique registros.\n- Não retorne o JSON dentro de string.\n- Não retorne no campo text.\n- Não escape aspas com barra invertida.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\n\n{\n  \"tipoRelatorio\": \"Relatório Resumo por Posto\",\n  \"arquivo\": \"NOME DO ARQUIVO\",\n  \"periodo\": {\n    \"inicio\": \"dd/mm/aaaa\",\n    \"fim\": \"dd/mm/aaaa\"\n  },\n  \"registros\": [\n    {\n      \"posto\": 12,\n      \"local\": \"CLINICA DOS FEIRANTES\",\n      \"req\": 44,\n      \"exames\": 240,\n      \"valor\": \"2.961,40\",\n      \"area\": \"ÁREA 01\",\n      \"responsavel\": \"AMAURI\"\n    }\n  ],\n  \"totais\": {\n    \"numeroPacientesListados\": 90,\n    \"numeroExamesEfetuados\": 572,\n    \"valorFaturadoTotal\": \"5.416,21\"\n  },\n  \"impressao\": {\n    \"dataImpressao\": \"14/05/2026\",\n    \"usuario\": \"PRISCILA\"\n  }\n}\n\nREGRAS DE EXTRAÇÃO:\n\n1. TIPO DO RELATÓRIO\n\nSe houver texto compatível com \"Relatório Resumo por Posto\", retorne:\n\n\"tipoRelatorio\": \"Relatório Resumo por Posto\"\n\n2. ARQUIVO\n\nO campo \"arquivo\" deve receber o nome do arquivo informado abaixo.\n\n3. PERÍODO\n\nExtraia o período de padrões como:\n\n\"Período: 13/05/2026 até 13/05/2026\"\n\nRetorne:\n\n\"periodo\": {\n  \"inicio\": \"13/05/2026\",\n  \"fim\": \"13/05/2026\"\n}\n\nSe não encontrar alguma data, use null.\n\n4. ESTRUTURA DA TABELA\n\nO relatório possui uma tabela com as seguintes colunas:\n\nPosto | Local | Req. | Exames | Valor | Área | Responsável\n\nCada linha válida representa um posto.\n\nExemplo de linha:\n\n| 12 | CLINICA DOS FEIRANTES | 44 | 240 | 2.961,40 | ÁREA 01 | AMAURI |\n\nDeve retornar:\n\n{\n  \"posto\": 12,\n  \"local\": \"CLINICA DOS FEIRANTES\",\n  \"req\": 44,\n  \"exames\": 240,\n  \"valor\": \"2.961,40\",\n  \"area\": \"ÁREA 01\",\n  \"responsavel\": \"AMAURI\"\n}\n\n5. COMO IDENTIFICAR OS CAMPOS\n\n- \"posto\" é a primeira coluna da linha.\n- \"local\" é a segunda coluna da linha.\n- \"req\" é a terceira coluna da linha.\n- \"exames\" é a quarta coluna da linha.\n- \"valor\" é a quinta coluna da linha.\n- \"area\" é a sexta coluna da linha.\n- \"responsavel\" é a sétima coluna da linha.\n\n6. LINHAS QUE DEVEM SER EXTRAÍDAS\n\nExtraia somente linhas em que a primeira coluna seja um número de posto.\n\nExemplos de postos válidos:\n\n12\n27\n35\n76\n152\n158\n\nCada posto encontrado deve virar um objeto dentro de \"registros\".\n\n7. LINHAS QUE DEVEM SER IGNORADAS\n\nIgnore cabeçalhos e linhas de separação, como:\n\n| Posto | Local | Req. | Exames | Valor |\n| --- | --- | --- | --- | --- |\n\nIgnore também as linhas de totais como registro:\n\nNúmero de pacientes listados\nNúmero de exames efetuados\nValor faturado total\n\nEssas linhas devem ser usadas somente para preencher o objeto \"totais\".\n\n8. TOTAIS\n\nExtraia:\n\n\"Número de pacientes listados\" para \"numeroPacientesListados\"\n\"Número de exames efetuados\" para \"numeroExamesEfetuados\"\n\"Valor faturado total\" para \"valorFaturadoTotal\"\n\nExemplo:\n\n| Número de pacientes listados: | | 90 | | | | |\n| Número de exames efetuados: | | 572 | | | | |\n| Valor faturado total: | | 5.416,21 | | | | |\n\nRetorne:\n\n\"totais\": {\n  \"numeroPacientesListados\": 90,\n  \"numeroExamesEfetuados\": 572,\n  \"valorFaturadoTotal\": \"5.416,21\"\n}\n\n9. IMPRESSÃO\n\nExtraia:\n\n\"Data de Impressão\" para \"dataImpressao\"\n\"Usuário\" para \"usuario\"\n\nExemplo:\n\nData de Impressão: 14/05/2026\nUsuário: PRISCILA\n\nRetorne:\n\n\"impressao\": {\n  \"dataImpressao\": \"14/05/2026\",\n  \"usuario\": \"PRISCILA\"\n}\n\n10. TIPOS DOS CAMPOS\n\n- \"posto\" deve ser número.\n- \"req\" deve ser número.\n- \"exames\" deve ser número.\n- \"valor\" deve ser string no formato brasileiro.\n- \"local\" deve ser string.\n- \"area\" deve ser string.\n- \"responsavel\" deve ser string.\n- Campos não encontrados devem ser null.\n- Não use string vazia para campo ausente. Use null.\n\n11. NORMALIZAÇÃO DE OCR\n\nCorrija somente quando houver alta confiança:\n\n- \"AMAUR|I\" deve virar \"AMAURI\"\n- \"ÁREAO1\" deve virar \"ÁREA 01\"\n- \"ÁREAO2\" deve virar \"ÁREA 02\"\n- \"ÁREAO3\" deve virar \"ÁREA 03\"\n- \"ÁREAO4\" deve virar \"ÁREA 04\"\n- \"ÁREAO5\" deve virar \"ÁREA 05\"\n- \"ÁREAO6\" deve virar \"ÁREA 06\"\n- \"CLINICADOS FEIRANTES\" deve virar \"CLINICA DOS FEIRANTES\"\n- \"MULTICLINICAHIPER SAUDE\" deve virar \"MULTICLINICA HIPER SAUDE\"\n\nSe não houver alta confiança, preserve o texto como veio no OCR.\n\n12. VALIDAÇÃO FINAL\n\nAntes de responder, confira:\n\n- A resposta é JSON válido.\n- A resposta começa com { e termina com }.\n- Não existe markdown.\n- Não existe explicação.\n- \"registros\" é um array.\n- Cada linha com posto numérico foi extraída.\n- Nenhum cabeçalho foi incluído como registro.\n- Os totais foram extraídos.\n- A data de impressão foi extraída.\n- O usuário foi extraído.\n\nNOME DO ARQUIVO:\n{{ $(\"Google Drive\").first().json.name }}\n\nTEXTO OCR:\n{{ $json.extractedText || $json.text || $json.markdown || $json.pages?.map(p => p.markdown).join(\"\\n\") }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[736,224],"id":"204ed682-64be-4598-80b3-f3d7fe820675","name":"Basic LLM Chain"},{"parameters":{"jsCode":"const raw =\n  $json.text ||\n  $json.output ||\n  $json.response ||\n  $json.content ||\n  $json.message?.content ||\n  $json.choices?.[0]?.message?.content ||\n  \"\";\n\nlet texto = String(raw).trim();\n\n// Remove markdown, caso a IA retorne com ```json\ntexto = texto\n  .replace(/^```json/i, \"\")\n  .replace(/^```/i, \"\")\n  .replace(/```$/i, \"\")\n  .trim();\n\n// ======================================================\n// LOCALIZA OBJETO JSON\n// Esperado:\n// {\n//   \"tipoRelatorio\": \"...\",\n//   \"registros\": [...]\n// }\n// ======================================================\nconst inicio = texto.indexOf(\"{\");\nconst fim = texto.lastIndexOf(\"}\");\n\nif (inicio === -1 || fim === -1 || fim <= inicio) {\n  throw new Error(\"A resposta da IA não contém um objeto JSON válido.\");\n}\n\nconst jsonLimpo = texto.slice(inicio, fim + 1);\n\nlet dados;\n\ntry {\n  dados = JSON.parse(jsonLimpo);\n} catch (error) {\n  throw new Error(\"Erro ao converter resposta da IA em JSON: \" + error.message);\n}\n\n// ======================================================\n// VALIDA ESTRUTURA\n// ======================================================\nif (!dados || typeof dados !== \"object\" || Array.isArray(dados)) {\n  throw new Error(\"O JSON retornado pela IA não é um objeto válido.\");\n}\n\nif (!Array.isArray(dados.registros)) {\n  throw new Error(\"O JSON retornado pela IA não contém o array 'registros'.\");\n}\n\n// ======================================================\n// DADOS GERAIS DO RELATÓRIO\n// ======================================================\nconst tipoRelatorio = dados.tipoRelatorio || null;\nconst arquivo = dados.arquivo || null;\n\nconst periodo = dados.periodo || {\n  inicio: null,\n  fim: null\n};\n\nconst totais = dados.totais || {\n  numeroPacientesListados: null,\n  numeroExamesEfetuados: null,\n  valorFaturadoTotal: null\n};\n\nconst impressao = dados.impressao || {\n  dataImpressao: null,\n  usuario: null\n};\n\n// ======================================================\n// RETORNA UM ITEM POR POSTO / REGISTRO\n// ======================================================\nreturn dados.registros.map((registro, index) => ({\n  json: {\n    sucesso: true,\n\n    tipoRelatorio,\n    arquivo,\n\n    periodoInicio: periodo.inicio || null,\n    periodoFim: periodo.fim || null,\n\n    posto: registro.posto ?? null,\n    local: registro.local ?? null,\n    req: registro.req ?? null,\n    exames: registro.exames ?? null,\n    valor: registro.valor ?? null,\n    area: registro.area ?? null,\n    responsavel: registro.responsavel ?? null,\n\n    numeroPacientesListados: totais.numeroPacientesListados ?? null,\n    numeroExamesEfetuados: totais.numeroExamesEfetuados ?? null,\n    valorFaturadoTotal: totais.valorFaturadoTotal ?? null,\n\n    dataImpressao: impressao.dataImpressao || null,\n    usuario: impressao.usuario || null,\n\n    _idx: index + 1,\n    _totalRegistros: dados.registros.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,224],"id":"47558499-1290-496a-8af9-8834a7f7da21","name":"Code in JavaScript6"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[720,416],"id":"b1864baa-f3b2-4838-b5f8-a9baf84012d2","name":"Mistral Cloud Chat Model","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6cac2689-b315-4c77-846b-d7482d330ba6","leftValue":"={{ $json.DATA }}","rightValue":"={{ $('Code in JavaScript6').first().json.periodoInicio }}","operator":{"type":"string","operation":"equals"}},{"id":"7b889325-baf4-4de4-8841-cfe84b147a4b","leftValue":"={{ $json['PROG.'] }}","rightValue":"AT&TIC","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1696,384],"id":"b4c1b382-b64b-44c5-bf4d-2a2e635dadf4","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1312,368],"id":"87e10f20-1c8f-47b8-9faf-08439768d32e","name":"Loop Over Items2"}],"connections":{"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0},{"node":"Google Drive2","type":"main","index":0},{"node":"Google Drive3","type":"main","index":0},{"node":"Get row(s) in sheet2","type":"main","index":0},{"node":"Google Drive4","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Update row in sheet","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Google Drive9","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code in JavaScript5":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Update row in sheet1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Google Drive4":{"main":[[{"node":"Google Drive10","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Extract text":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code in JavaScript6","type":"main","index":0}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Code in JavaScript6":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0},{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version f38b5560","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}