workflows/colunasinfo-LLfsmb5PeYg2bFJ7.json
{"updatedAt":"2026-05-15T03:08:25.463Z","createdAt":"2026-05-12T00:37:25.982Z","id":"LLfsmb5PeYg2bFJ7","name":"colunasInfo","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5,6],"triggerAtHour":9},{"field":"weeks","triggerAtDay":[1,2,3,4,5,6],"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-256,112],"id":"f1ce351c-66fa-43e9-b65d-cd18647b38ee","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[336,128],"id":"a7a86a01-00e5-466b-a1cd-1d362c1858a6","name":"Merge"},{"parameters":{"jsCode":"const input1 = $('dados').all();   // dados de referência\nconst input2 = $('relMot').all();  // linhas que serão retornadas\n\nconst normalizar = (v) =>\n  String(v ?? \"\")\n    .trim()\n    .toUpperCase();\n\n// cria mapa do input1 pelo POSTO\nconst mapaDados = {};\n\nfor (const item of input1) {\n  const posto = normalizar(item.json.POSTO);\n\n  if (posto && !mapaDados[posto]) {\n    mapaDados[posto] = item.json;\n  }\n}\n\nconst resultado = [];\n\nfor (const item of input2) {\n  const rel = item.json;\n  const postoRel = normalizar(rel.POSTO);\n\n  const dados = mapaDados[postoRel];\n\n  // retorna apenas os itens do input2 que deram match\n  if (dados) {\n    resultado.push({\n      json: {\n        row_number_relMot: rel.row_number,\n        POSTO_relMot: rel.POSTO,\n\n        row_number_dados: dados.row_number,\n        POSTO_dados: dados.POSTO,\n        responsável: dados[\"responsável\"],\n        A5: dados.A5,\n        \"OR-A5\": dados[\"OR-A5\"],\n        \"ASÁB\": dados[\"ASÁB\"],\n        \"OR-SÁB\": dados[\"OR-SÁB\"],\n        \"BAIRRO MATERIAL\": dados[\"BAIRRO MATERIAL\"],\n        \"ROTINA DE PAGAMENTO\": dados[\"ROTINA DE PAGAMENTO\"],\n        BLOQUEIO: dados.BLOQUEIO,\n        \"MÉD - VALOR\": dados[\"MÉD - VALOR\"],\n        \"5% FAT\": dados[\"5% FAT\"],\n        SISTEMA: dados.SISTEMA,\n        \"COMISSÃO\": dados[\"COMISSÃO\"],\n        \"DATA PGTO\": dados[\"DATA PGTO\"]\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,128],"id":"f2d8e7d5-5ef8-4e77-ba11-ff0fbc05c55a","name":"Code in JavaScript"},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"DADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"id":"6583e39f-3a1a-4959-b9c1-5c62c314126f","name":"dados","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number_relMot }}","ÁREA":"={{ $json.A5 }}","SEQ":"={{ $json['OR-A5'] }}","RESP.":"={{ $json['responsável'] }}","ASÁB":"={{ $json['ASÁB'] }}","SEQ SÁB":"={{ $json['OR-SÁB'] }}","LOCAL":"={{ $json['BAIRRO MATERIAL'] }}","REGRAS DE PGTO":"={{ $json['ROTINA DE PAGAMENTO'] }}","BLOQ":"={{ $json.BLOQUEIO }}","FATUR.":"={{ $json['MÉD - VALOR'] }}","5% DO FAT":"={{ $json['5% FAT'] }}","PROG.":"={{ $json.SISTEMA }}","DATA PGTO":"={{ $json['DATA PGTO'] }}","COMISSÃO":"={{ $json['COMISSÃO'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MOTOQ.","displayName":"MOTOQ.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORÁRIO","displayName":"HORÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"KM","displayName":"KM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO RECEBIMENTO","displayName":"DESCRIÇÃO DO RECEBIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"C/D","displayName":"C/D","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEQ","displayName":"SEQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VERIFICAR CAPA/MOV","displayName":"VERIFICAR CAPA/MOV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESP.","displayName":"RESP.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ASÁB","displayName":"ASÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEQ SÁB","displayName":"SEQ SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGRAS DE PGTO","displayName":"REGRAS DE PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BLOQ","displayName":"BLOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FATUR.","displayName":"FATUR.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"5% DO FAT","displayName":"5% DO FAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROG.","displayName":"PROG.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CONF. PIX/CART","displayName":"DATA CONF. PIX/CART","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PGTO","displayName":"DATA PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"COMISSÃO","displayName":"COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESUMO","displayName":"RESUMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"INFO OK","displayName":"INFO OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[768,128],"id":"bc6eab24-3980-4c36-935a-b26bc746f477","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"filtersUI":{"values":[{"lookupColumn":"INFO OK","lookupValue":"INFO VAZIA"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,224],"id":"623824c3-3d80-41c5-9826-e79ea1f5835c","name":"relMot","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"dados","type":"main","index":0},{"node":"relMot","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"dados":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"relMot":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b705fdce-77bc-4d03-8235-a70084954380","activeVersionId":"b705fdce-77bc-4d03-8235-a70084954380","triggerCount":1,"shared":[{"updatedAt":"2026-05-12T00:37:25.985Z","createdAt":"2026-05-12T00:37:25.985Z","role":"workflow:owner","workflowId":"LLfsmb5PeYg2bFJ7","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-12T00:39:02.000Z","createdAt":"2026-05-12T00:38:58.857Z","versionId":"b705fdce-77bc-4d03-8235-a70084954380","workflowId":"LLfsmb5PeYg2bFJ7","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1,2,3,4,5,6],"triggerAtHour":9},{"field":"weeks","triggerAtDay":[1,2,3,4,5,6],"triggerAtHour":11}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-256,112],"id":"f1ce351c-66fa-43e9-b65d-cd18647b38ee","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[336,128],"id":"a7a86a01-00e5-466b-a1cd-1d362c1858a6","name":"Merge"},{"parameters":{"jsCode":"const input1 = $('dados').all();   // dados de referência\nconst input2 = $('relMot').all();  // linhas que serão retornadas\n\nconst normalizar = (v) =>\n  String(v ?? \"\")\n    .trim()\n    .toUpperCase();\n\n// cria mapa do input1 pelo POSTO\nconst mapaDados = {};\n\nfor (const item of input1) {\n  const posto = normalizar(item.json.POSTO);\n\n  if (posto && !mapaDados[posto]) {\n    mapaDados[posto] = item.json;\n  }\n}\n\nconst resultado = [];\n\nfor (const item of input2) {\n  const rel = item.json;\n  const postoRel = normalizar(rel.POSTO);\n\n  const dados = mapaDados[postoRel];\n\n  // retorna apenas os itens do input2 que deram match\n  if (dados) {\n    resultado.push({\n      json: {\n        row_number_relMot: rel.row_number,\n        POSTO_relMot: rel.POSTO,\n\n        row_number_dados: dados.row_number,\n        POSTO_dados: dados.POSTO,\n        responsável: dados[\"responsável\"],\n        A5: dados.A5,\n        \"OR-A5\": dados[\"OR-A5\"],\n        \"ASÁB\": dados[\"ASÁB\"],\n        \"OR-SÁB\": dados[\"OR-SÁB\"],\n        \"BAIRRO MATERIAL\": dados[\"BAIRRO MATERIAL\"],\n        \"ROTINA DE PAGAMENTO\": dados[\"ROTINA DE PAGAMENTO\"],\n        BLOQUEIO: dados.BLOQUEIO,\n        \"MÉD - VALOR\": dados[\"MÉD - VALOR\"],\n        \"5% FAT\": dados[\"5% FAT\"],\n        SISTEMA: dados.SISTEMA,\n        \"COMISSÃO\": dados[\"COMISSÃO\"],\n        \"DATA PGTO\": dados[\"DATA PGTO\"]\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,128],"id":"f2d8e7d5-5ef8-4e77-ba11-ff0fbc05c55a","name":"Code in JavaScript"},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"DADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"id":"6583e39f-3a1a-4959-b9c1-5c62c314126f","name":"dados","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number_relMot }}","ÁREA":"={{ $json.A5 }}","SEQ":"={{ $json['OR-A5'] }}","RESP.":"={{ $json['responsável'] }}","ASÁB":"={{ $json['ASÁB'] }}","SEQ SÁB":"={{ $json['OR-SÁB'] }}","LOCAL":"={{ $json['BAIRRO MATERIAL'] }}","REGRAS DE PGTO":"={{ $json['ROTINA DE PAGAMENTO'] }}","BLOQ":"={{ $json.BLOQUEIO }}","FATUR.":"={{ $json['MÉD - VALOR'] }}","5% DO FAT":"={{ $json['5% FAT'] }}","PROG.":"={{ $json.SISTEMA }}","DATA PGTO":"={{ $json['DATA PGTO'] }}","COMISSÃO":"={{ $json['COMISSÃO'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MOTOQ.","displayName":"MOTOQ.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORÁRIO","displayName":"HORÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"KM","displayName":"KM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO RECEBIMENTO","displayName":"DESCRIÇÃO DO RECEBIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"C/D","displayName":"C/D","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEQ","displayName":"SEQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VERIFICAR CAPA/MOV","displayName":"VERIFICAR CAPA/MOV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESP.","displayName":"RESP.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ASÁB","displayName":"ASÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEQ SÁB","displayName":"SEQ SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGRAS DE PGTO","displayName":"REGRAS DE PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BLOQ","displayName":"BLOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FATUR.","displayName":"FATUR.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"5% DO FAT","displayName":"5% DO FAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROG.","displayName":"PROG.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CONF. PIX/CART","displayName":"DATA CONF. PIX/CART","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PGTO","displayName":"DATA PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"COMISSÃO","displayName":"COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESUMO","displayName":"RESUMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"INFO OK","displayName":"INFO OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[768,128],"id":"bc6eab24-3980-4c36-935a-b26bc746f477","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"filtersUI":{"values":[{"lookupColumn":"INFO OK","lookupValue":"INFO VAZIA"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,224],"id":"623824c3-3d80-41c5-9826-e79ea1f5835c","name":"relMot","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"dados","type":"main","index":0},{"node":"relMot","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"dados":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"relMot":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"authors":"Mickeliny de Sena","name":"Version b705fdce","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}