workflows/colunasgerais-r6dicTa-qWKV0CFLQXAcZ.json
{"updatedAt":"2026-05-06T03:07:15.026Z","createdAt":"2026-03-23T19:58:55.633Z","id":"r6dicTa-qWKV0CFLQXAcZ","name":"colunasGerais","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-112,-48],"id":"343b9c10-d8ee-4f16-8606-449148938ec6","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,-32],"id":"df9294df-7855-408e-96fd-8433a8be9cda","name":"Merge"},{"parameters":{"jsCode":"const input1 = $('dados').all();   // dados de referência\nconst input2 = $('relMot').all();  // linhas que serão retornadas\n\nconst normalizar = (v) =>\n  String(v ?? \"\")\n    .trim()\n    .toUpperCase();\n\n// cria mapa do input1 pelo POSTO\nconst mapaDados = {};\n\nfor (const item of input1) {\n  const posto = normalizar(item.json.POSTO);\n\n  if (posto && !mapaDados[posto]) {\n    mapaDados[posto] = item.json;\n  }\n}\n\nconst resultado = [];\n\nfor (const item of input2) {\n  const rel = item.json;\n  const postoRel = normalizar(rel.POSTO);\n\n  const dados = mapaDados[postoRel];\n\n  // retorna apenas os itens do input2 que deram match\n  if (dados) {\n    resultado.push({\n      json: {\n        row_number_relMot: rel.row_number,\n        POSTO_relMot: rel.POSTO,\n\n        row_number_dados: dados.row_number,\n        POSTO_dados: dados.POSTO,\n        responsável: dados[\"responsável\"],\n        A5: dados.A5,\n        \"OR-A5\": dados[\"OR-A5\"],\n        \"ASÁB\": dados[\"ASÁB\"],\n        \"OR-SÁB\": dados[\"OR-SÁB\"],\n        \"BAIRRO MATERIAL\": dados[\"BAIRRO MATERIAL\"],\n        \"ROTINA DE PAGAMENTO\": dados[\"ROTINA DE PAGAMENTO\"],\n        BLOQUEIO: dados.BLOQUEIO,\n        \"MÉD - VALOR\": dados[\"MÉD - VALOR\"],\n        \"5% FAT\": dados[\"5% FAT\"],\n        SISTEMA: dados.SISTEMA,\n        \"COMISSÃO\": dados[\"COMISSÃO\"],\n        \"DATA PGTO\": dados[\"DATA PGTO\"]\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,-32],"id":"8865adab-c0e3-4414-99fa-d9fbd43394be","name":"Code in JavaScript"},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"DADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[144,-160],"id":"7286e879-a3d6-4809-9503-9731c736057c","name":"dados","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number_relMot }}","ÁREA":"={{ $json.A5 }}","SEQ":"={{ $json['OR-A5'] }}","RESP.":"={{ $json['responsável'] }}","ASÁB":"={{ $json['ASÁB'] }}","SEQ SÁB":"={{ $json['OR-SÁB'] }}","LOCAL":"={{ $json['BAIRRO MATERIAL'] }}","REGRAS DE PGTO":"={{ $json['ROTINA DE PAGAMENTO'] }}","BLOQ":"={{ $json.BLOQUEIO }}","FATUR.":"={{ $json['MÉD - VALOR'] }}","5% DO FAT":"={{ $json['5% FAT'] }}","PROG.":"={{ $json.SISTEMA }}","DATA PGTO":"={{ $json['DATA PGTO'] }}","COMISSÃO":"={{ $json['COMISSÃO'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MOTOQ.","displayName":"MOTOQ.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORÁRIO","displayName":"HORÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"KM","displayName":"KM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO RECEBIMENTO","displayName":"DESCRIÇÃO DO RECEBIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"C/D","displayName":"C/D","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEQ","displayName":"SEQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VERIFICAR CAPA/MOV","displayName":"VERIFICAR CAPA/MOV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESP.","displayName":"RESP.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ASÁB","displayName":"ASÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEQ SÁB","displayName":"SEQ SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGRAS DE PGTO","displayName":"REGRAS DE PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BLOQ","displayName":"BLOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FATUR.","displayName":"FATUR.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"5% DO FAT","displayName":"5% DO FAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROG.","displayName":"PROG.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CONF. PIX/CART","displayName":"DATA CONF. PIX/CART","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PGTO","displayName":"DATA PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"COMISSÃO","displayName":"COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESUMO","displayName":"RESUMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"INFO OK","displayName":"INFO OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[912,-32],"id":"43d2864a-2bd4-42fd-9bcf-7718f5b2b9b7","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"filtersUI":{"values":[{"lookupColumn":"INFO OK","lookupValue":"INFO VAZIA"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[144,64],"id":"0332f543-1df6-46e5-a99a-2b4aa5b4ef08","name":"relMot","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"dados","type":"main","index":0},{"node":"relMot","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"dados":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"relMot":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4209a71c-1ade-4dd5-a7ba-8aee522aff54","activeVersionId":"4209a71c-1ade-4dd5-a7ba-8aee522aff54","triggerCount":1,"shared":[{"updatedAt":"2026-03-23T19:58:55.633Z","createdAt":"2026-03-23T19:58:55.633Z","role":"workflow:owner","workflowId":"r6dicTa-qWKV0CFLQXAcZ","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":{"updatedAt":"2026-05-05T13:29:57.368Z","createdAt":"2026-05-05T13:29:53.942Z","versionId":"4209a71c-1ade-4dd5-a7ba-8aee522aff54","workflowId":"r6dicTa-qWKV0CFLQXAcZ","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-112,-48],"id":"343b9c10-d8ee-4f16-8606-449148938ec6","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,-32],"id":"df9294df-7855-408e-96fd-8433a8be9cda","name":"Merge"},{"parameters":{"jsCode":"const input1 = $('dados').all();   // dados de referência\nconst input2 = $('relMot').all();  // linhas que serão retornadas\n\nconst normalizar = (v) =>\n  String(v ?? \"\")\n    .trim()\n    .toUpperCase();\n\n// cria mapa do input1 pelo POSTO\nconst mapaDados = {};\n\nfor (const item of input1) {\n  const posto = normalizar(item.json.POSTO);\n\n  if (posto && !mapaDados[posto]) {\n    mapaDados[posto] = item.json;\n  }\n}\n\nconst resultado = [];\n\nfor (const item of input2) {\n  const rel = item.json;\n  const postoRel = normalizar(rel.POSTO);\n\n  const dados = mapaDados[postoRel];\n\n  // retorna apenas os itens do input2 que deram match\n  if (dados) {\n    resultado.push({\n      json: {\n        row_number_relMot: rel.row_number,\n        POSTO_relMot: rel.POSTO,\n\n        row_number_dados: dados.row_number,\n        POSTO_dados: dados.POSTO,\n        responsável: dados[\"responsável\"],\n        A5: dados.A5,\n        \"OR-A5\": dados[\"OR-A5\"],\n        \"ASÁB\": dados[\"ASÁB\"],\n        \"OR-SÁB\": dados[\"OR-SÁB\"],\n        \"BAIRRO MATERIAL\": dados[\"BAIRRO MATERIAL\"],\n        \"ROTINA DE PAGAMENTO\": dados[\"ROTINA DE PAGAMENTO\"],\n        BLOQUEIO: dados.BLOQUEIO,\n        \"MÉD - VALOR\": dados[\"MÉD - VALOR\"],\n        \"5% FAT\": dados[\"5% FAT\"],\n        SISTEMA: dados.SISTEMA,\n        \"COMISSÃO\": dados[\"COMISSÃO\"],\n        \"DATA PGTO\": dados[\"DATA PGTO\"]\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,-32],"id":"8865adab-c0e3-4414-99fa-d9fbd43394be","name":"Code in JavaScript"},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"DADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[144,-160],"id":"7286e879-a3d6-4809-9503-9731c736057c","name":"dados","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number_relMot }}","ÁREA":"={{ $json.A5 }}","SEQ":"={{ $json['OR-A5'] }}","RESP.":"={{ $json['responsável'] }}","ASÁB":"={{ $json['ASÁB'] }}","SEQ SÁB":"={{ $json['OR-SÁB'] }}","LOCAL":"={{ $json['BAIRRO MATERIAL'] }}","REGRAS DE PGTO":"={{ $json['ROTINA DE PAGAMENTO'] }}","BLOQ":"={{ $json.BLOQUEIO }}","FATUR.":"={{ $json['MÉD - VALOR'] }}","5% DO FAT":"={{ $json['5% FAT'] }}","PROG.":"={{ $json.SISTEMA }}","DATA PGTO":"={{ $json['DATA PGTO'] }}","COMISSÃO":"={{ $json['COMISSÃO'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MOTOQ.","displayName":"MOTOQ.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORÁRIO","displayName":"HORÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"KM","displayName":"KM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO RECEBIMENTO","displayName":"DESCRIÇÃO DO RECEBIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"C/D","displayName":"C/D","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEQ","displayName":"SEQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VERIFICAR CAPA/MOV","displayName":"VERIFICAR CAPA/MOV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESP.","displayName":"RESP.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ASÁB","displayName":"ASÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEQ SÁB","displayName":"SEQ SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGRAS DE PGTO","displayName":"REGRAS DE PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"BLOQ","displayName":"BLOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FATUR.","displayName":"FATUR.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"5% DO FAT","displayName":"5% DO FAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROG.","displayName":"PROG.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CONF. PIX/CART","displayName":"DATA CONF. PIX/CART","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PGTO","displayName":"DATA PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"COMISSÃO","displayName":"COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESUMO","displayName":"RESUMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"INFO OK","displayName":"INFO OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[912,-32],"id":"43d2864a-2bd4-42fd-9bcf-7718f5b2b9b7","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=406301794"},"filtersUI":{"values":[{"lookupColumn":"INFO OK","lookupValue":"INFO VAZIA"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[144,64],"id":"0332f543-1df6-46e5-a99a-2b4aa5b4ef08","name":"relMot","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"dados","type":"main","index":0},{"node":"relMot","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"dados":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"relMot":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"authors":"Mickeliny ckely_sena@hotmail.com","name":"Version 4209a71c","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}