workflows/comissão_filhos-WiqHB5ouTgdcq0tbu-mul.json
{"updatedAt":"2026-05-06T03:11:25.500Z","createdAt":"2026-03-17T23:12:14.707Z","id":"WiqHB5ouTgdcq0tbu-mul","name":"Comissão_filhos","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'16-s3MzW21Tp0RqjtwUS_Yyc12jpy2xDO' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-288,16],"id":"a9a9ce18-a825-40aa-91d7-33a0d59202c7","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"01aKXmXRBzhOZ1fX","name":"Google Drive account 5"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.sheetName }}","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[560,0],"id":"95975923-16ea-4ce8-b09d-3e65b3c8c58e","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":13}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-576,192],"id":"2ebf3444-3ba5-4f26-9e1d-8cee12368ac5","name":"Schedule Trigger"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ZBqS2N8JjYDgQNfNq_igWClg8Zb3LaCVhF54ftefTOY","mode":"list","cachedResultName":"COMISSÃO FILHOS 2026","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZBqS2N8JjYDgQNfNq_igWClg8Zb3LaCVhF54ftefTOY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2025609101,"mode":"list","cachedResultName":"COMISSÃO 2026","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ZBqS2N8JjYDgQNfNq_igWClg8Zb3LaCVhF54ftefTOY/edit#gid=2025609101"},"columns":{"mappingMode":"defineBelow","value":{"PERÍODO":"={{ $json.periodo }}","PT":"={{ $json.posto }}","Código":"={{ $json.Exame }}","DESCRIÇÃO EXAME":"={{ $json['Descrição'] }}","QUANT EXAME":"={{ $json.Quantidade }}","COMPETÊNCIA ":"={{ $json.competencia }}"},"matchingColumns":[],"schema":[{"id":"COMPETÊNCIA ","displayName":"COMPETÊNCIA ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PERÍODO","displayName":"PERÍODO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESP","displayName":"RESP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PT","displayName":"PT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Código","displayName":"Código","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO EXAME","displayName":"DESCRIÇÃO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QUANT EXAME","displayName":"QUANT EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR POR EXAME","displayName":"VALOR POR EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR GERAL REPASSADO","displayName":"VALOR GERAL REPASSADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CUSTO POR EXAME","displayName":"CUSTO POR EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CUSTO GERAL","displayName":"CUSTO GERAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONDOMINIO POR EXAME","displayName":"CONDOMINIO POR EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONDOMINIO GERAL","displayName":"CONDOMINIO GERAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CUSTO  + COND POR EXAME","displayName":"CUSTO  + COND POR EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR DEVIDO AO LABORATÓRIO  ","displayName":"VALOR DEVIDO AO LABORATÓRIO  ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"% COMISSÃO","displayName":"% COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO","displayName":"DESCRIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESTINO+SIGLA","displayName":"DESTINO+SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESPONSÁVEL","displayName":"RESPONSÁVEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR EXAME","displayName":"VALOR EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"COND","displayName":"COND","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1200,16],"id":"c216a37b-fee3-49ee-a108-d5ed0322f665","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1616,0],"id":"b4690b44-0779-433c-9048-c69cb4fbe29a"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[512,400],"id":"09d5fe8a-8dc4-4e6a-9079-2272ce379b4f","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[64,384],"id":"fa5c8b9a-b137-4b9c-a983-c1341be4c833","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[912,400],"id":"9e9bfdc7-7651-4a82-a67e-53af5efab8a7"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1008,16],"id":"7e5af98d-7cd6-4b45-9887-9e4809eb52a9","name":"Wait","webhookId":"52a5e1c5-c10e-4955-850c-1158c68df729"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1440,16],"id":"5bfb66eb-8d74-4b88-bc4b-319f27612087","name":"Wait1","webhookId":"52a5e1c5-c10e-4955-850c-1158c68df729"},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $input.first().json.id }}?fields=sheets.properties(sheetId,title)","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,0],"id":"f75c6ff3-1fbe-496c-8e09-e3ef4b275531","name":"HTTP Request1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-96,0],"id":"ba6a9e13-4f67-4501-a7a0-b4c217aedf86","name":"Loop Over Items2"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const spreadsheetId = $('Loop Over Items2').item.json.id;\nconst arquivo = $('Loop Over Items2').item.json.name;\nconst sheets = $input.item.json.sheets || [];\n\nconst abaDesejada = sheets.find(\n  s => s.properties?.title === \"Estatística Exames por Convênio\"\n);\n\nreturn {\n  json: {\n    spreadsheetId,\n    arquivo,\n    sheetId: abaDesejada?.properties?.sheetId ?? null,\n    sheetName: abaDesejada?.properties?.title ?? null,\n    encontrouAba: !!abaDesejada\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,0],"id":"d8b3e7dc-63f2-412c-86f1-f0c015a80e5a","name":"Code in JavaScript1"},{"parameters":{"jsCode":"const items = $input.all();\n\nlet mapaCabecalho = {};\nlet competencia = \"\";\nlet periodo = \"\"; // 👈 nova variável\nconst saida = [];\n\n// =========================\n// Extrair POSTO\n// =========================\nconst nomeArquivo = $('Code in JavaScript1').first().json.arquivo || \"\";\nconst matchPosto = nomeArquivo.match(/Posto\\s*(\\d+)/i);\nconst posto = matchPosto ? matchPosto[1] : \"\";\n\n// =========================\n// Funções auxiliares\n// =========================\nfunction parseBRDate(dataStr) {\n  const [dia, mes, ano] = dataStr.split('/').map(Number);\n  return new Date(ano, mes - 1, dia);\n}\n\nfunction formatCompetencia(date) {\n  const meses = [\n    \"janeiro\", \"fevereiro\", \"março\", \"abril\", \"maio\", \"junho\",\n    \"julho\", \"agosto\", \"setembro\", \"outubro\", \"novembro\", \"dezembro\"\n  ];\n  return `${meses[date.getMonth()]}/${date.getFullYear()}`;\n}\n\n// =========================\n// 1) Competência + Cabeçalho\n// =========================\nfor (const item of items) {\n  const row = Number(item.json.row_number);\n\n  if (row === 8) {\n    const texto = item.json[\"Estatística Exames por Convênio\"] || \"\";\n\n    // extrai apenas as datas (sem \"Período de\")\n    const match = texto.match(/Período de\\s+(\\d{2}\\/\\d{2}\\/\\d{4})\\s+a\\s+(\\d{2}\\/\\d{2}\\/\\d{4})/i);\n\n    if (match) {\n      periodo = `${match[1]} a ${match[2]}`; // 👈 formato limpo\n\n      const dataFinal = parseBRDate(match[2]);\n      competencia = formatCompetencia(dataFinal);\n    }\n  }\n\n  if (row === 9) {\n    for (const [chaveOriginal, nomeCabecalho] of Object.entries(item.json)) {\n      if (chaveOriginal === \"row_number\") continue;\n      mapaCabecalho[chaveOriginal] = String(nomeCabecalho || \"\").trim();\n    }\n  }\n}\n\n// =========================\n// 2) Dados da linha 10+\n// =========================\nfor (const item of items) {\n  const row = Number(item.json.row_number);\n\n  if (row >= 10) {\n    const registro = {\n      row_number: row,\n      competencia,\n      posto,\n      periodo // 👈 retorna em todos\n    };\n\n    for (const [chaveOriginal, valor] of Object.entries(item.json)) {\n      if (chaveOriginal === \"row_number\") continue;\n\n      const novoNome = mapaCabecalho[chaveOriginal] || chaveOriginal;\n      registro[novoNome] = valor;\n    }\n\n    // não retornar linhas com Exame vazio\n    const exame = (registro[\"Exame\"] || \"\").toString().trim();\n    if (!exame) continue;\n\n    saida.push({ json: registro });\n  }\n}\n\nreturn saida;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,16],"id":"9359e47a-3c55-4832-9b30-a888b3e81fef","name":"Code in JavaScript2"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'16-s3MzW21Tp0RqjtwUS_Yyc12jpy2xDO' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-288,368],"id":"502d9d74-8dda-40f8-a6ce-82580e08bcef","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"01aKXmXRBzhOZ1fX","name":"Google Drive account 5"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[272,384],"id":"ee8cc77a-1347-47b6-ae38-16cf825b89bd","name":"Loop Over Items3"}],"connections":{"Google Drive":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive1","type":"main","index":0},{"node":"Google Drive","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Google Drive4":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Google Drive4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Google Drive4","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Google Drive2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-03-31T13:20:06.862-03:00","Readable date":"March 31st 2026, 1:20:06 pm","Readable time":"1:20:06 pm","Day of week":"Tuesday","Year":"2026","Month":"March","Day of month":"31","Hour":"13","Minute":"20","Second":"06","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}]},"versionId":"cca05f23-1af2-416a-b2e7-3a1eac6e42f2","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-03-17T23:12:14.707Z","createdAt":"2026-03-17T23:12:14.707Z","role":"workflow:owner","workflowId":"WiqHB5ouTgdcq0tbu-mul","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}