workflows/conciliaçãomustardinha-MYljaByGAjcr6fdyRMDqc.json
{"updatedAt":"2026-05-06T03:06:08.820Z","createdAt":"2026-02-09T01:37:01.055Z","id":"MYljaByGAjcr6fdyRMDqc","name":"conciliaçãoMustardinha","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'19jH8LtiZivKu828su29c5D6jSzQMbtzT' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"id":"e3d7ca4a-d166-4236-8ac4-988ec86a657e","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"01aKXmXRBzhOZ1fX","name":"Google Drive account 5"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots","mode":"list","cachedResultName":"REDE GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":802267895,"mode":"list","cachedResultName":"CONCILIACAO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit#gid=802267895"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.col_1 }}","Código Autorização":"={{ $json.col_2 }}","Atendimentos":"={{ $json.col_3 }}","Pacientes":"={{ $json.col_4 }}","Tipo Pagto":"={{ $json.col_5 }}","Valor Bruto":"={{ $json.col_6 }}","LOCAL":"=MUSTARDINHA"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código Autorização","displayName":"Código Autorização","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NSU/CV","displayName":"NSU/CV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atendimentos","displayName":"Atendimentos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pacientes","displayName":"Pacientes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo Pagto","displayName":"Tipo Pagto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor Bruto","displayName":"Valor Bruto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR REDE","displayName":"VALOR REDE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Terminal","displayName":"Número do Terminal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIFER","displayName":"DIFER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMPRESA CNPJ","displayName":"EMPRESA CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIFERENÇA DE CX","displayName":"DIFERENÇA DE CX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1264,0],"id":"7d3ac91b-42e6-4972-a117-936ead33004a","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,0],"id":"7588c65f-8432-4fa6-b662-a596b4fed430","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"01aKXmXRBzhOZ1fX","name":"Google Drive account 5"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $node[\"Google Drive\"].json[\"id\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.sheets[0].properties.sheetId }}","mode":"id"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[688,0],"id":"60f450b3-bb45-43d4-b0b6-b72c1ef364bb","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $input.first().json.id }}?fields=sheets.properties(sheetId,title)","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0],"id":"dfd142a5-e25a-4fbf-a53d-007a56366e2f","name":"HTTP Request","credentials":{"googleSheetsOAuth2Api":{"id":"XCMhsbdgFY4gb8k1","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst filtrados = items.filter(item => {\n  const reg = String(item.json.col_1 ?? \"\").trim();\n\n  // ❌ ignora vazio\n  if (reg === \"\") return false;\n\n  // ❌ ignora cabeçalho \"Registro\"\n  if (reg.toLowerCase() === \"registro\") return false;\n\n  return true;\n});\n\nreturn filtrados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0],"id":"8b93dcba-1475-4cbd-81cd-7fba9654fa5c","name":"Code"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"bcaeb777-f4ad-4bf4-a6ec-72d62c6c8a77","name":"Schedule Trigger"}],"connections":{"Google Drive":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-03-13T12:27:11.006-03:00","Readable date":"March 13th 2026, 12:27:11 pm","Readable time":"12:27:11 pm","Day of week":"Friday","Year":"2026","Month":"March","Day of month":"13","Hour":"12","Minute":"27","Second":"11","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}]},"versionId":"39cdbbf5-0b73-49ab-8ef7-a55cca189d63","activeVersionId":"39cdbbf5-0b73-49ab-8ef7-a55cca189d63","triggerCount":1,"shared":[{"updatedAt":"2026-02-09T01:37:01.055Z","createdAt":"2026-02-09T01:37:01.055Z","role":"workflow:owner","workflowId":"MYljaByGAjcr6fdyRMDqc","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":{"updatedAt":"2026-05-04T18:15:02.002Z","createdAt":"2026-04-15T01:04:59.222Z","versionId":"39cdbbf5-0b73-49ab-8ef7-a55cca189d63","workflowId":"MYljaByGAjcr6fdyRMDqc","nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'19jH8LtiZivKu828su29c5D6jSzQMbtzT' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"id":"e3d7ca4a-d166-4236-8ac4-988ec86a657e","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"01aKXmXRBzhOZ1fX","name":"Google Drive account 5"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots","mode":"list","cachedResultName":"REDE GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":802267895,"mode":"list","cachedResultName":"CONCILIACAO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit#gid=802267895"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.col_1 }}","Código Autorização":"={{ $json.col_2 }}","Atendimentos":"={{ $json.col_3 }}","Pacientes":"={{ $json.col_4 }}","Tipo Pagto":"={{ $json.col_5 }}","Valor Bruto":"={{ $json.col_6 }}","LOCAL":"=MUSTARDINHA"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código Autorização","displayName":"Código Autorização","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NSU/CV","displayName":"NSU/CV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atendimentos","displayName":"Atendimentos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pacientes","displayName":"Pacientes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo Pagto","displayName":"Tipo Pagto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor Bruto","displayName":"Valor Bruto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR REDE","displayName":"VALOR REDE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Terminal","displayName":"Número do Terminal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIFER","displayName":"DIFER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMPRESA CNPJ","displayName":"EMPRESA CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIFERENÇA DE CX","displayName":"DIFERENÇA DE CX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1264,0],"id":"7d3ac91b-42e6-4972-a117-936ead33004a","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,0],"id":"7588c65f-8432-4fa6-b662-a596b4fed430","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"01aKXmXRBzhOZ1fX","name":"Google Drive account 5"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $node[\"Google Drive\"].json[\"id\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.sheets[0].properties.sheetId }}","mode":"id"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[688,0],"id":"60f450b3-bb45-43d4-b0b6-b72c1ef364bb","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $input.first().json.id }}?fields=sheets.properties(sheetId,title)","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0],"id":"dfd142a5-e25a-4fbf-a53d-007a56366e2f","name":"HTTP Request","credentials":{"googleSheetsOAuth2Api":{"id":"XCMhsbdgFY4gb8k1","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst filtrados = items.filter(item => {\n  const reg = String(item.json.col_1 ?? \"\").trim();\n\n  // ❌ ignora vazio\n  if (reg === \"\") return false;\n\n  // ❌ ignora cabeçalho \"Registro\"\n  if (reg.toLowerCase() === \"registro\") return false;\n\n  return true;\n});\n\nreturn filtrados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0],"id":"8b93dcba-1475-4cbd-81cd-7fba9654fa5c","name":"Code"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"bcaeb777-f4ad-4bf4-a6ec-72d62c6c8a77","name":"Schedule Trigger"}],"connections":{"Google Drive":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"authors":"Mickeliny ckely_sena@hotmail.com","name":"Version 39cdbbf5","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}