workflows/conciliaçãoibura-GTvrzByE26DIo4QC.json
{"updatedAt":"2026-05-15T03:04:57.297Z","createdAt":"2026-05-15T02:57:04.693Z","id":"GTvrzByE26DIo4QC","name":"conciliaçãoIbura","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'13MkzQ-YrGTM12fxBZW6cVBR-AeUbb8YA' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[192,0],"id":"205b4a44-a2be-4ad1-b1ab-d297076f567d","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $node[\"Google Drive\"].json[\"id\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.sheets[0].properties.sheetId }}","mode":"id"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[640,0],"id":"f733f70e-460c-467d-ad4e-43a0e17cbf7c","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $input.first().json.id }}?fields=sheets.properties(sheetId,title)","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,0],"id":"2e174502-902e-458d-ae74-551b8f954511","name":"HTTP Request1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots","mode":"list","cachedResultName":"REDE GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":802267895,"mode":"list","cachedResultName":"CONCILIACAO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit#gid=802267895"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.col_1 }}","Código Autorização":"={{ $json.col_2 }}","Atendimentos":"={{ $json.col_3 }}","Pacientes":"={{ $json.col_4 }}","Tipo Pagto":"={{ $json.col_5 }}","Valor Bruto":"={{ $json.col_6 }}","LOCAL":"=IBURA"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código Autorização","displayName":"Código Autorização","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atendimentos","displayName":"Atendimentos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pacientes","displayName":"Pacientes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo Pagto","displayName":"Tipo Pagto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor Bruto","displayName":"Valor Bruto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR REDE","displayName":"VALOR REDE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Terminal","displayName":"Número do Terminal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIFER","displayName":"DIFER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMPRESA CNPJ","displayName":"EMPRESA CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIFERENÇA DE CX","displayName":"DIFERENÇA DE CX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1088,0],"id":"bc728d57-fbe2-4f2d-b261-d53c3e655cc8","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst filtrados = items.filter(item => {\n  const reg = String(item.json.col_1 ?? \"\").trim();\n\n  // ❌ ignora vazio\n  if (reg === \"\") return false;\n\n  // ❌ ignora cabeçalho \"Registro\"\n  if (reg.toLowerCase() === \"registro\") return false;\n\n  return true;\n});\n\nreturn filtrados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,0],"id":"2573303d-edee-4218-a166-621804fbf893","name":"Code2"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1296,0],"id":"1fd2a816-e9c8-440d-b2f1-7b7ec26c903d","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"64fb1c22-6389-439d-bf28-8f51f465b7f6","name":"Schedule Trigger"}],"connections":{"Google Drive":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timezone":"America/Sao_Paulo"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"be3ee6ac-1425-407f-b1d9-a88377ff95e2","activeVersionId":"be3ee6ac-1425-407f-b1d9-a88377ff95e2","triggerCount":1,"shared":[{"updatedAt":"2026-05-15T02:57:04.696Z","createdAt":"2026-05-15T02:57:04.696Z","role":"workflow:owner","workflowId":"GTvrzByE26DIo4QC","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-29T12:02:47.000Z","createdAt":"2026-05-15T02:57:36.384Z","versionId":"be3ee6ac-1425-407f-b1d9-a88377ff95e2","workflowId":"GTvrzByE26DIo4QC","nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'13MkzQ-YrGTM12fxBZW6cVBR-AeUbb8YA' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[192,0],"id":"205b4a44-a2be-4ad1-b1ab-d297076f567d","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $node[\"Google Drive\"].json[\"id\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.sheets[0].properties.sheetId }}","mode":"id"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[640,0],"id":"f733f70e-460c-467d-ad4e-43a0e17cbf7c","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $input.first().json.id }}?fields=sheets.properties(sheetId,title)","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,0],"id":"2e174502-902e-458d-ae74-551b8f954511","name":"HTTP Request1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots","mode":"list","cachedResultName":"REDE GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":802267895,"mode":"list","cachedResultName":"CONCILIACAO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit#gid=802267895"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.col_1 }}","Código Autorização":"={{ $json.col_2 }}","Atendimentos":"={{ $json.col_3 }}","Pacientes":"={{ $json.col_4 }}","Tipo Pagto":"={{ $json.col_5 }}","Valor Bruto":"={{ $json.col_6 }}","LOCAL":"=IBURA"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código Autorização","displayName":"Código Autorização","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Atendimentos","displayName":"Atendimentos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Pacientes","displayName":"Pacientes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipo Pagto","displayName":"Tipo Pagto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor Bruto","displayName":"Valor Bruto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR REDE","displayName":"VALOR REDE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Terminal","displayName":"Número do Terminal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIFER","displayName":"DIFER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMPRESA CNPJ","displayName":"EMPRESA CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIFERENÇA DE CX","displayName":"DIFERENÇA DE CX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1088,0],"id":"bc728d57-fbe2-4f2d-b261-d53c3e655cc8","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst filtrados = items.filter(item => {\n  const reg = String(item.json.col_1 ?? \"\").trim();\n\n  // ❌ ignora vazio\n  if (reg === \"\") return false;\n\n  // ❌ ignora cabeçalho \"Registro\"\n  if (reg.toLowerCase() === \"registro\") return false;\n\n  return true;\n});\n\nreturn filtrados;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,0],"id":"2573303d-edee-4218-a166-621804fbf893","name":"Code2"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1296,0],"id":"1fd2a816-e9c8-440d-b2f1-7b7ec26c903d","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"64fb1c22-6389-439d-bf28-8f51f465b7f6","name":"Schedule Trigger"}],"connections":{"Google Drive":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version be3ee6ac","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}