workflows/conferencia_bip_pardini-JHreIm9Szy3yAFLZ.json
{"updatedAt":"2026-05-20T22:59:41.167Z","createdAt":"2026-05-16T23:01:16.396Z","id":"JHreIm9Szy3yAFLZ","name":"conferencia_bip_pardini","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/10 8-17 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1824,496],"id":"78181413-5066-41b8-b880-c7c230bd8b8c","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-16,416],"id":"f7aa9ae9-9b47-4203-9d92-4869977e1204","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1728,672],"id":"7bce6654-de8a-4588-8eeb-32312a64ffd5","name":"Loop Over Items"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive3').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2016,720],"id":"38f279d7-0a14-4677-94b9-eb4311ed9436","name":"move at&tic","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2000,512],"id":"1012e7c2-b0d5-49e9-8f1f-b9a83adeb874","name":"mover envio","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"201cf85d-e615-47f5-897f-0e16fc3855fb","leftValue":"={{ $json.name }}","rightValue":".*[Ww][Oo][Rr][Kk][Ll][Aa][Bb].*","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1216,176],"id":"f383f9a7-9241-49c1-a81b-957a9ec36415","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b2ebc805-3e1d-4ca5-b9bd-2f1c042c434e","leftValue":"={{ $json.name }}","rightValue":"PARDINI","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1120,688],"id":"f0d4b5b5-3b5b-4220-817d-df2e3611b728","name":"If2"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Relatório Detalhado por Linha","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-928,160],"id":"44ffaf99-e733-4e86-9e3f-226d297295f8","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1y_IqCAM94bINoVSHDa2QFo6o7uLc6qV1' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1456,240],"id":"a299b498-f2d1-4c36-9d0b-f23b4871c0b7","name":"WORKLAB","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Rastreio de Bags","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-848,672],"id":"92b5b2e1-8502-4831-b9ec-525ae8f58908","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"// ======================================================\n// AGRUPA PACIENTES PELO NOME\n// RETORNA QUANTIDADE DE EXAMES E LISTA DE EXAMES\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst mapaPacientes = new Map();\n\nfor (const item of itens) {\n  const pacienteOriginal = String(item.Paciente || \"\").trim();\n\n  if (!pacienteOriginal) continue;\n\n  const chavePaciente = normalizarTexto(pacienteOriginal);\n\n  const exame = String(item.Exame || \"\").trim();\n\n  if (!mapaPacientes.has(chavePaciente)) {\n    mapaPacientes.set(chavePaciente, {\n      nomeRelatorio: item.nomeRelatorio || \"\",\n      dataRelatorio: item.dataRelatorio || \"\",\n      dataCadastro: item.dataCadastro || \"\",\n      Paciente: pacienteOriginal,\n      pacienteNormalizado: chavePaciente,\n      exames: [],\n      linhasOriginais: [],\n      registros: []\n    });\n  }\n\n  const paciente = mapaPacientes.get(chavePaciente);\n\n  if (exame) {\n    paciente.exames.push(exame);\n  }\n\n  paciente.linhasOriginais.push(item.row_number_original || item.row_number || \"\");\n\n  paciente.registros.push(item);\n}\n\nconst resultado = [];\n\nfor (const paciente of mapaPacientes.values()) {\n  resultado.push({\n    json: {\n      nomeRelatorio: paciente.nomeRelatorio,\n      dataRelatorio: paciente.dataRelatorio,\n      dataCadastro: paciente.dataCadastro,\n\n      Paciente: paciente.Paciente,\n      pacienteNormalizado: paciente.pacienteNormalizado,\n\n      quantidadeExames: paciente.exames.length,\n      exames: paciente.exames,\n      examesTexto: paciente.exames.join(\", \"),\n\n      linhasOriginais: paciente.linhasOriginais,\n\n      registros: paciente.registros\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,160],"id":"c22d3aae-abea-4153-8bfd-a5dc40cfa77e","name":"agruparNome-W"},{"parameters":{"jsCode":"// ======================================================\n// AGRUPA PACIENTES PELO CAMPO \"Paciente\"\n// RETORNA:\n// - quantidadeExames\n// - exames\n// - detalhesExames\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction numeroSeguro(valor) {\n  if (valor === null || valor === undefined || valor === \"\") return 0;\n\n  const n = Number(\n    String(valor)\n      .replace(\",\", \".\")\n      .replace(/[^\\d.-]/g, \"\")\n  );\n\n  return Number.isFinite(n) ? n : 0;\n}\n\nconst mapaPacientes = new Map();\n\nfor (const item of itens) {\n  const pacienteOriginal = String(item.Paciente || \"\").trim();\n\n  if (!pacienteOriginal) continue;\n\n  const chavePaciente = normalizarTexto(pacienteOriginal);\n\n  if (!mapaPacientes.has(chavePaciente)) {\n    mapaPacientes.set(chavePaciente, {\n      nomeRelatorio: item.nomeRelatorio || \"\",\n      dataRelatorio: item.dataRelatorio || \"\",\n      Paciente: pacienteOriginal,\n      pacienteNormalizado: chavePaciente,\n\n      quantidadeExames: 0,\n      exames: [],\n      detalhesExames: [],\n\n      amostras: [],\n      pedidos: [],\n      lotes: [],\n      eventosBag: [],\n\n      linhasOriginais: []\n    });\n  }\n\n  const paciente = mapaPacientes.get(chavePaciente);\n\n  // ======================================================\n  // CASO 1: quando existe coluna \"Exame\" com nome/sigla\n  // Exemplo de outro relatório: Exame = \"TSH\"\n  // ======================================================\n  if (item.Exame !== undefined && item.Exame !== \"\") {\n    const exame = String(item.Exame).trim();\n\n    paciente.exames.push(exame);\n    paciente.quantidadeExames += 1;\n  }\n\n  // ======================================================\n  // CASO 2: relatório RastreioBags\n  // Nele a coluna \"Exames\" é quantidade, não nome do exame\n  // Exemplo: Exames = 1, 2, 4\n  // ======================================================\n  else if (item.Exames !== undefined && item.Exames !== \"\") {\n    const qtdLinha = numeroSeguro(item.Exames);\n\n    paciente.quantidadeExames += qtdLinha;\n\n    paciente.exames.push(String(item.Exames).trim());\n  }\n\n  paciente.detalhesExames.push({\n    amostra: item.Amostra || \"\",\n    lote: item.Lote || \"\",\n    conservacao: item[\"Conservação\"] || \"\",\n    pedido: item.Pedido || \"\",\n    pedidoAlfanumerico: item[\"Pedido Alfanumérico\"] || \"\",\n    quantidadeExamesNaLinha: item.Exames ?? \"\",\n    ultimoEventoBag: item[\"Último Evento da Bag\"] || \"\",\n    row_number_original: item.row_number_original || item.row_number || \"\"\n  });\n\n  if (item.Amostra) paciente.amostras.push(String(item.Amostra).trim());\n  if (item.Pedido) paciente.pedidos.push(String(item.Pedido).trim());\n  if (item.Lote) paciente.lotes.push(String(item.Lote).trim());\n  if (item[\"Último Evento da Bag\"]) paciente.eventosBag.push(String(item[\"Último Evento da Bag\"]).trim());\n\n  paciente.linhasOriginais.push(\n    item.row_number_original || item.row_number || \"\"\n  );\n}\n\nconst resultado = [];\n\nfor (const paciente of mapaPacientes.values()) {\n  resultado.push({\n    json: {\n      nomeRelatorio: paciente.nomeRelatorio,\n      dataRelatorio: paciente.dataRelatorio,\n\n      Paciente: paciente.Paciente,\n      pacienteNormalizado: paciente.pacienteNormalizado,\n\n      quantidadeExames: paciente.quantidadeExames,\n\n      exames: paciente.exames,\n      examesTexto: paciente.exames.join(\", \"),\n\n      amostras: [...new Set(paciente.amostras)],\n      pedidos: [...new Set(paciente.pedidos)],\n      lotes: [...new Set(paciente.lotes)],\n      eventosBag: [...new Set(paciente.eventosBag)],\n\n      linhasOriginais: paciente.linhasOriginais,\n\n      detalhesExames: paciente.detalhesExames\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,672],"id":"28650629-d757-4eb4-9c70-19bc81e58751","name":"agruparNome-P"},{"parameters":{"jsCode":"// ======================================================\n// AJUSTA CABEÇALHO PELA LINHA 6\n// DESCARTA LINHAS ANTERIORES\n// ADICIONA nomeRelatorio, dataRelatorio e dataCadastro\n// REMOVE ZERO À ESQUERDA DE \"Convênio Sigla\"\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\n// Nome vindo do nó If\n// Exemplo: relConvDetalhadoPorLinha_13_05_2026\nconst nomeArquivo = $('If').first().json.name || \"\";\n\n// ======================================================\n// EXTRAI nomeRelatorio E dataRelatorio\n// ======================================================\n\nfunction extrairInfoRelatorio(nome) {\n  const texto = String(nome || \"\").trim();\n\n  const match = texto.match(/^(.+?)_(\\d{2})_(\\d{2})_(\\d{4})$/);\n\n  if (!match) {\n    return {\n      nomeRelatorio: texto,\n      dataRelatorio: \"\"\n    };\n  }\n\n  return {\n    nomeRelatorio: match[1],\n    dataRelatorio: `${match[2]}/${match[3]}/${match[4]}`\n  };\n}\n\n// ======================================================\n// EXTRAI APENAS A DATA\n// Exemplo: \"12/05/2026 06:01\" -> \"12/05/2026\"\n// ======================================================\n\nfunction extrairDataCadastro(valor) {\n  const texto = String(valor || \"\").trim();\n  const match = texto.match(/\\b\\d{2}\\/\\d{2}\\/\\d{4}\\b/);\n  return match ? match[0] : \"\";\n}\n\n// ======================================================\n// REMOVE ZERO À ESQUERDA\n// Exemplo: \"098\" -> \"98\"\n// Exemplo: \"012\" -> \"12\"\n// Exemplo: \"150\" -> \"150\"\n// ======================================================\n\nfunction removerZeroEsquerda(valor) {\n  const texto = String(valor ?? \"\").trim();\n\n  if (!texto) return \"\";\n\n  const semZeros = texto.replace(/^0+/, \"\");\n\n  return semZeros || \"0\";\n}\n\nconst { nomeRelatorio, dataRelatorio } = extrairInfoRelatorio(nomeArquivo);\n\n// ======================================================\n// LOCALIZA A LINHA 6, QUE SERÁ O CABEÇALHO\n// ======================================================\n\nconst linhaCabecalho = itens.find(item => Number(item.row_number) === 6);\n\nif (!linhaCabecalho) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Linha 6 não encontrada para montar o cabeçalho\",\n        nomeArquivo,\n        nomeRelatorio,\n        dataRelatorio\n      }\n    }\n  ];\n}\n\n// ======================================================\n// MONTA MAPA DAS COLUNAS ORIGINAIS PARA OS NOVOS NOMES\n// ======================================================\n\nconst mapaCabecalho = {};\n\nfor (const [chaveOriginal, valorCabecalho] of Object.entries(linhaCabecalho)) {\n  if (chaveOriginal === \"row_number\") continue;\n\n  const nomeColuna = String(valorCabecalho || \"\").trim();\n\n  if (!nomeColuna) continue;\n\n  mapaCabecalho[chaveOriginal] = nomeColuna;\n}\n\n// ======================================================\n// FILTRA APENAS LINHAS APÓS A LINHA 6\n// ======================================================\n\nconst linhasDados = itens.filter(item => Number(item.row_number) > 6);\n\n// ======================================================\n// CONVERTE CADA LINHA USANDO O CABEÇALHO\n// ======================================================\n\nconst resultado = linhasDados.map(item => {\n  const dataCadastro = extrairDataCadastro(\n    item[\"Relatório Paciente por Convênio Detalhado\"]\n  );\n\n  const novoJson = {\n    nomeRelatorio,\n    dataRelatorio,\n    dataCadastro,\n    row_number_original: item.row_number\n  };\n\n  for (const [chaveOriginal, nomeColuna] of Object.entries(mapaCabecalho)) {\n    let valor = item[chaveOriginal] ?? \"\";\n\n    // Remove zero à esquerda apenas da coluna Convênio Sigla\n    if (nomeColuna === \"Convênio Sigla\") {\n      valor = removerZeroEsquerda(valor);\n    }\n\n    novoJson[nomeColuna] = valor;\n  }\n\n  return {\n    json: novoJson\n  };\n});\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,160],"id":"ad26d4da-1ce5-4dfb-a7c4-89bfa44ef154","name":"cabeçalho-W"},{"parameters":{"jsCode":"// ======================================================\n// AJUSTA CABEÇALHO PELA LINHA 3\n// DESCARTA LINHAS ANTERIORES\n// ADICIONA nomeRelatorio e dataRelatorio\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\n// Nome vindo do nó If\n// Exemplo: RastreioBags_13052026114558\nconst nomeArquivo = $('If2').first().json.name || \"\";\n\n// ======================================================\n// EXTRAI nomeRelatorio E dataRelatorio\n// Exemplo:\n// RastreioBags_13052026114558\n// nomeRelatorio: RastreioBags\n// dataRelatorio: 13/05/2026\n// ======================================================\n\nfunction extrairInfoRelatorio(nome) {\n  const texto = String(nome || \"\").trim();\n\n  const match = texto.match(/^(.+?)_(\\d{2})(\\d{2})(\\d{4})(\\d{6})?$/);\n\n  if (!match) {\n    return {\n      nomeRelatorio: texto,\n      dataRelatorio: \"\"\n    };\n  }\n\n  return {\n    nomeRelatorio: match[1],\n    dataRelatorio: `${match[2]}/${match[3]}/${match[4]}`\n  };\n}\n\nconst { nomeRelatorio, dataRelatorio } = extrairInfoRelatorio(nomeArquivo);\n\n// ======================================================\n// LOCALIZA A LINHA 3, QUE SERÁ O CABEÇALHO\n// ======================================================\n\nconst linhaCabecalho = itens.find(item => Number(item.row_number) === 3);\n\nif (!linhaCabecalho) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Linha 3 não encontrada para montar o cabeçalho\",\n        nomeArquivo,\n        nomeRelatorio,\n        dataRelatorio\n      }\n    }\n  ];\n}\n\n// ======================================================\n// MONTA MAPA DAS COLUNAS ORIGINAIS PARA OS NOVOS NOMES\n// Exemplo:\n// col_1 -> Amostra\n// Rastreio de Bags - Geral -> Lote\n// col_3 -> Conservação\n// ======================================================\n\nconst mapaCabecalho = {};\n\nfor (const [chaveOriginal, valorCabecalho] of Object.entries(linhaCabecalho)) {\n  if (chaveOriginal === \"row_number\") continue;\n\n  const nomeColuna = String(valorCabecalho || \"\").trim();\n\n  if (!nomeColuna) continue;\n\n  mapaCabecalho[chaveOriginal] = nomeColuna;\n}\n\n// ======================================================\n// FILTRA APENAS LINHAS APÓS A LINHA 3\n// ======================================================\n\nconst linhasDados = itens.filter(item => Number(item.row_number) > 3);\n\n// ======================================================\n// CONVERTE CADA LINHA USANDO O CABEÇALHO\n// ======================================================\n\nconst resultado = linhasDados.map(item => {\n  const novoJson = {\n    nomeRelatorio,\n    dataRelatorio,\n    row_number_original: item.row_number\n  };\n\n  for (const [chaveOriginal, nomeColuna] of Object.entries(mapaCabecalho)) {\n    novoJson[nomeColuna] = item[chaveOriginal] ?? \"\";\n  }\n\n  return {\n    json: novoJson\n  };\n});\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,672],"id":"d06aca18-f9d9-483f-8701-8608063f039c","name":"cabecalho-P"},{"parameters":{"jsCode":"// ======================================================\n// ADICIONA ORIGEM AO INPUT 1\n// Use este code depois do nó agruparNome-W\n//\n// Atualização:\n// - Preenche dataRelatorio buscando a data no nome do arquivo:\n//   $('WORKLAB').first().json.name\n// - Exemplo:\n//   \"Relatório Worklab PARDINI bip 18-05-2026\"\n//   retorna \"18/05/2026\"\n// ======================================================\n\nconst itens = $input.all();\n\n// ======================================================\n// BUSCA O NOME DO ARQUIVO NO NÓ WORKLAB\n// ======================================================\nconst nomeArquivoWorklab = $('WORKLAB').first().json.name || \"\";\n\n// ======================================================\n// EXTRAI DATA DO NOME DO ARQUIVO\n// Aceita:\n// 18-05-2026\n// 18/05/2026\n// 18.05.2026\n// 18_05_2026\n// ======================================================\nfunction extrairDataRelatorio(nomeArquivo) {\n  const texto = String(nomeArquivo || \"\");\n\n  const match = texto.match(/(\\d{2})[\\/\\-. _](\\d{2})[\\/\\-. _](\\d{4})/);\n\n  if (!match) return \"\";\n\n  const dia = match[1];\n  const mes = match[2];\n  const ano = match[3];\n\n  return `${dia}/${mes}/${ano}`;\n}\n\nconst dataRelatorioWorklab = extrairDataRelatorio(nomeArquivoWorklab);\n\n// ======================================================\n// RETORNA OS ITENS COM ORIGEM E DATA DO RELATÓRIO\n// ======================================================\nreturn itens.map(item => {\n  return {\n    json: {\n      ...item.json,\n      origem: \"worklab\",\n      dataRelatorio: item.json.dataRelatorio || dataRelatorioWorklab\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,160],"id":"49dabb48-7232-4201-94fd-d286dcac672a","name":"Code in JavaScript2"},{"parameters":{"jsCode":"// ======================================================\n// ADICIONA ORIGEM AO INPUT 2\n// Use este code depois do nó agruparNome-P\n//\n// Atualização:\n// - Preenche dataRelatorio buscando a data no nome do arquivo:\n//   $('PARDINI').first().json.name\n// - Aceita datas como:\n//   18-05-2026\n//   18/05/2026\n//   18.05.2026\n//   18_05_2026\n// - Retorna sempre no formato DD/MM/AAAA\n// ======================================================\n\nconst itens = $input.all();\n\n// ======================================================\n// BUSCA O NOME DO ARQUIVO NO NÓ PARDINI\n// ======================================================\nconst nomeArquivoPardini = $('PARDINI').first().json.name || \"\";\n\n// ======================================================\n// EXTRAI DATA DO NOME DO ARQUIVO\n// Exemplo:\n// \"Relatório Pardini 18-05-2026.xlsx\" -> \"18/05/2026\"\n// ======================================================\nfunction extrairDataRelatorio(nomeArquivo) {\n  const texto = String(nomeArquivo || \"\");\n\n  const match = texto.match(/(\\d{2})[\\/\\-. _](\\d{2})[\\/\\-. _](\\d{4})/);\n\n  if (!match) return \"\";\n\n  const dia = match[1];\n  const mes = match[2];\n  const ano = match[3];\n\n  return `${dia}/${mes}/${ano}`;\n}\n\nconst dataRelatorioPardini = extrairDataRelatorio(nomeArquivoPardini);\n\n// ======================================================\n// RETORNA OS ITENS COM ORIGEM E DATA DO RELATÓRIO\n// ======================================================\nreturn itens.map(item => {\n  return {\n    json: {\n      ...item.json,\n      origem: \"apoio\",\n      dataRelatorio: item.json.dataRelatorio || dataRelatorioPardini\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,672],"id":"9ad5a15d-5b22-4c79-9d46-a65ad4246803","name":"Code in JavaScript4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7fb79418-0e94-452e-836d-618fec45c6f0","leftValue":"={{ $json.dadosPardini.eventosBag }}","rightValue":"Cadastro","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[400,-48],"id":"5e8528d3-1d41-4aee-b6fe-c3fb81191707","name":"If3"},{"parameters":{"jsCode":"// ======================================================\n// COMPARA PACIENTES ENTRE WORKLAB E APOIO\n// RETORNA APENAS matchQuantidadeExames === false\n// MAS SOMENTE QUANDO O PACIENTE EXISTE NOS DOIS LADOS\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\n// ======================================================\n// NORMALIZA TEXTO\n// ======================================================\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n// ======================================================\n// CONVERTE QUANTIDADE COM SEGURANÇA\n// ======================================================\nfunction numeroSeguro(valor) {\n  if (valor === null || valor === undefined || valor === \"\") return 0;\n\n  const n = Number(\n    String(valor)\n      .replace(\",\", \".\")\n      .replace(/[^\\d.-]/g, \"\")\n  );\n\n  return Number.isFinite(n) ? n : 0;\n}\n\n// ======================================================\n// SEPARA WORKLAB E APOIO\n// ======================================================\nconst worklab = itens.filter(item => item.origem === \"worklab\");\nconst apoio = itens.filter(item => item.origem === \"apoio\");\n\n// ======================================================\n// MONTA MAPA DO APOIO POR PACIENTE NORMALIZADO\n// ======================================================\nconst mapaApoio = new Map();\n\nfor (const item of apoio) {\n  const paciente = String(item.Paciente || \"\").trim();\n  if (!paciente) continue;\n\n  const chave = normalizarTexto(paciente);\n  mapaApoio.set(chave, item);\n}\n\nconst resultado = [];\n\n// ======================================================\n// COMPARA SOMENTE PACIENTES EXISTENTES NOS DOIS LADOS\n// ======================================================\nfor (const itemWorklab of worklab) {\n  const pacienteWorklab = String(itemWorklab.Paciente || \"\").trim();\n  if (!pacienteWorklab) continue;\n\n  const chavePaciente = normalizarTexto(pacienteWorklab);\n\n  const itemApoio = mapaApoio.get(chavePaciente);\n\n  if (!itemApoio) continue;\n\n  const quantidadeExamesWorklab = numeroSeguro(itemWorklab.quantidadeExames);\n  const quantidadeExamesApoio = numeroSeguro(itemApoio.quantidadeExames);\n\n  const matchQuantidadeExames =\n    quantidadeExamesWorklab === quantidadeExamesApoio;\n\n  if (matchQuantidadeExames) continue;\n\n  resultado.push({\n    json: {\n      Paciente: pacienteWorklab,\n      pacienteNormalizado: chavePaciente,\n\n      PacienteWorklab: pacienteWorklab,\n      PacienteApoio: itemApoio.Paciente || \"\",\n\n      existeNoWorklab: true,\n      existeNoApoio: true,\n\n      quantidadeExamesWorklab,\n      quantidadeExamesApoio,\n      diferencaQuantidade: quantidadeExamesWorklab - quantidadeExamesApoio,\n\n      matchPaciente: true,\n      matchQuantidadeExames: false,\n\n      erro: true,\n      tipoDivergencia: \"QUANTIDADE_EXAMES_DIFERENTE\",\n      mensagem: \"Paciente encontrado, mas a quantidade de exames está diferente\",\n\n      dadosWorklab: itemWorklab,\n      dadosApoio: itemApoio\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,96],"id":"5d1ab61f-6998-4ba4-888c-ed374c5e633d","name":"Code in JavaScript1"},{"parameters":{"content":"## Paciente do worklab não encontrado no apoio","height":240,"width":720},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,240],"id":"8be04452-12d6-4538-82bb-f6feb26bbf22","name":"Sticky Note"},{"parameters":{"content":"## Paciente encontrado, mas a quantidade de exames está diferente","height":256,"width":736},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[176,-144],"id":"68531835-92bf-487f-87af-b8a8afca007d","name":"Sticky Note1"},{"parameters":{"content":"## Paciente existe no apoio, mas não existe no worklab","height":256,"width":784},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,704],"id":"8b6ca304-542f-42bc-849d-656c9087a72c","name":"Sticky Note2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zdFli1RXBVlB6Vk8U6v19V4lCMzLuS7cIVO4Ijm4NOU","mode":"list","cachedResultName":"PENDÊNCIAS PARDINI","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zdFli1RXBVlB6Vk8U6v19V4lCMzLuS7cIVO4Ijm4NOU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2051220436,"mode":"list","cachedResultName":"QTEX DIF","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zdFli1RXBVlB6Vk8U6v19V4lCMzLuS7cIVO4Ijm4NOU/edit#gid=2051220436"},"columns":{"mappingMode":"defineBelow","value":{"match oficial":"={{ $json.dadosWorklab.dataCadastro }}-{{ $json.dadosWorklab.Paciente }}","DATA RELATÓRIO":"={{ $json.dadosWorklab.dataRelatorio }}","REGISTRO WORKLAB":"={{ $json.dadosWorklab.registros[0]['Código'] }}","DATA CADASTRO":"={{ $json.dadosWorklab.registros[0].dataCadastro }}","APOIO":"PARDINI","POSTO":"={{ $json.dadosWorklab.registros[0]['Convênio Sigla'] }}","NOME PACIENTE WORKLAB":"={{ $json.dadosWorklab.registros[0].Paciente }}","QT EXAMES WORKLAB":"={{ $json.quantidadeExamesWorklab }}","EXAMES WORKLAB":"={{ $json.dadosWorklab.exames }}","TIPO DIVERGÊNCIA":"={{ $json.tipoDivergencia }}","MENSAGEM":"={{ $json.mensagem }}","REGISTRO PARDINI":"={{ $json.dadosPardini.amostras }}","QT EXAMES APOIO":"={{ $json.quantidadeExamesPardini }}","STATUS APOIO":"={{ $json.dadosPardini.eventosBag }}","NOME PACIENTE APOIO":"={{ $json.dadosPardini.pacienteNormalizado }}","DIF QT EXAMES":"={{ $json.diferencaQuantidade }}","LINHA APOIO":"={{ $json.dadosPardini.linhasOriginais }}"},"matchingColumns":["match oficial"],"schema":[{"id":"EXPLICAÇÃO","displayName":"EXPLICAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA RELATÓRIO","displayName":"DATA RELATÓRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CADASTRO","displayName":"DATA CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGISTRO WORKLAB","displayName":"REGISTRO WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME PACIENTE WORKLAB","displayName":"NOME PACIENTE WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT EXAMES WORKLAB","displayName":"QT EXAMES WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EXAMES WORKLAB","displayName":"EXAMES WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TIPO DIVERGÊNCIA","displayName":"TIPO DIVERGÊNCIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGISTRO PARDINI","displayName":"REGISTRO PARDINI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME PACIENTE APOIO","displayName":"NOME PACIENTE APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT EXAMES APOIO","displayName":"QT EXAMES APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS APOIO","displayName":"STATUS APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHA APOIO","displayName":"LINHA APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DIF QT EXAMES","displayName":"DIF QT EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"match oficial","displayName":"match oficial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,-64],"id":"779eb1e3-b48d-4f75-b7f7-e1b2e5d86598","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zdFli1RXBVlB6Vk8U6v19V4lCMzLuS7cIVO4Ijm4NOU","mode":"list","cachedResultName":"PENDÊNCIAS PARDINI","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zdFli1RXBVlB6Vk8U6v19V4lCMzLuS7cIVO4Ijm4NOU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2140339218,"mode":"list","cachedResultName":"PACIENTE APENAS WORKLAB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zdFli1RXBVlB6Vk8U6v19V4lCMzLuS7cIVO4Ijm4NOU/edit#gid=2140339218"},"columns":{"mappingMode":"defineBelow","value":{"DATA RELATÓRIO":"={{ $json.dataRelatorio }}-","DATA CADASTRO":"={{ $json.dataCadastro }}","REGISTRO WORKLAB":"={{ $json.registros[0][\"Código\"] }}","NOME PACIENTE WORKLAB":"={{ $json.pacienteNormalizado }}","QT EXAMES WORKLAB":"={{ $json.quantidadeExames }}","EXAMES WORKLAB":"={{ $json.exames }}","TIPO DIVERGÊNCIA":"=","MENSAGEM":"=","POSTO":"={{ $json.registros[0][\"Convênio Sigla\"] }}","match oficial":"={{ $json.dataRelatorio }}-{{ $json.pacienteNormalizado }}","APOIO":"PARDINI"},"matchingColumns":["match oficial"],"schema":[{"id":"DATA RELATÓRIO","displayName":"DATA RELATÓRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CADASTRO","displayName":"DATA CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGISTRO WORKLAB","displayName":"REGISTRO WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME PACIENTE WORKLAB","displayName":"NOME PACIENTE WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT EXAMES WORKLAB","displayName":"QT EXAMES WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EXAMES WORKLAB","displayName":"EXAMES WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TIPO DIVERGÊNCIA","displayName":"TIPO DIVERGÊNCIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGISTRO PARDINI","displayName":"REGISTRO PARDINI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE APOIO","displayName":"NOME PACIENTE APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QT EXAMES APOIO","displayName":"QT EXAMES APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS APOIO","displayName":"STATUS APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIF QT EXAMES","displayName":"DIF QT EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"match oficial","displayName":"match oficial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[480,320],"id":"ea81ec66-5a14-452c-83f3-3e6cfbdca0cd","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zdFli1RXBVlB6Vk8U6v19V4lCMzLuS7cIVO4Ijm4NOU","mode":"list","cachedResultName":"PENDÊNCIAS PARDINI","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zdFli1RXBVlB6Vk8U6v19V4lCMzLuS7cIVO4Ijm4NOU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PACIENTE APENAS APOIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zdFli1RXBVlB6Vk8U6v19V4lCMzLuS7cIVO4Ijm4NOU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA RELATÓRIO":"={{ $json.dataRelatorio }}","APOIO":"PARDINI","DATA CADASTRO":"={{ $json.dataRelatorio }}","REGISTRO PARDINI":"={{ $json.amostras }}","NOME PACIENTE APOIO":"={{ $json.pacienteNormalizado }}","QT EXAMES APOIO":"={{ $json.quantidadeExames }}","STATUS APOIO":"={{ $json.eventosBag }}","match oficial":"={{ $json.dataRelatorio }}-{{ $json.pacienteNormalizado }}"},"matchingColumns":["match oficial"],"schema":[{"id":"EXPLICAÇÃO","displayName":"EXPLICAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA RELATÓRIO","displayName":"DATA RELATÓRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA CADASTRO","displayName":"DATA CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REGISTRO PARDINI","displayName":"REGISTRO PARDINI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE APOIO","displayName":"NOME PACIENTE APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QT EXAMES APOIO","displayName":"QT EXAMES APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"STATUS APOIO","displayName":"STATUS APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TIPO DIVERGÊNCIA","displayName":"TIPO DIVERGÊNCIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REGISTRO WORKLAB","displayName":"REGISTRO WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE WORKLAB","displayName":"NOME PACIENTE WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QT EXAMES WORKLAB","displayName":"QT EXAMES WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES WORKLAB","displayName":"EXAMES WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIF QT EXAMES","displayName":"DIF QT EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"match oficial","displayName":"match oficial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1264,912],"id":"0da5d69d-2857-438c-a92f-c11c61fb0702","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"// ======================================================\n// COMPARAR WORKLAB x PARDINI\n// Retorna apenas os pacientes que DERAM MATCH\n// Comparação pela chave: pacienteNormalizado\n// ======================================================\n\n// WORKLAB\nconst worklab = $('Code in JavaScript2').all().map(item => item.json);\n\n// PARDINI\nconst pardini = $('Code in JavaScript4').all().map(item => item.json);\n\n// ======================================================\n// NORMALIZA TEXTO\n// Remove acentos, espaços duplicados e deixa em maiúsculo\n// ======================================================\nfunction normalizar(valor) {\n  return String(valor ?? \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase();\n}\n\n// ======================================================\n// CRIA MAPA DOS PACIENTES DO PARDINI\n// Chave: pacienteNormalizado normalizado\n// Valor: item completo do Pardini\n// ======================================================\nconst mapaPardini = new Map();\n\nfor (const item of pardini) {\n  const nome = normalizar(item.pacienteNormalizado);\n\n  if (nome) {\n    mapaPardini.set(nome, item);\n  }\n}\n\n// ======================================================\n// PROCURA OS PACIENTES DO WORKLAB QUE EXISTEM NO PARDINI\n// ======================================================\nconst matches = [];\n\nfor (const itemWorklab of worklab) {\n  const nomeWorklab = normalizar(itemWorklab.pacienteNormalizado);\n\n  if (!nomeWorklab) continue;\n\n  const itemPardini = mapaPardini.get(nomeWorklab);\n\n  if (itemPardini) {\n    matches.push({\n      pacienteNormalizado: nomeWorklab,\n\n      matchPaciente: true,\n      status: \"MATCH_WORKLAB_PARDINI\",\n\n      origem1: \"WORKLAB\",\n      dadosWorklab: itemWorklab,\n\n      origem2: \"PARDINI\",\n      dadosPardini: itemPardini\n    });\n  }\n}\n\n// ======================================================\n// RETORNO FINAL\n// ======================================================\nreturn matches.map((item, index) => ({\n  json: {\n    ...item,\n    _idx: index + 1,\n    _totalMatches: matches.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,544],"id":"ee3afb9d-e31b-4c94-b8e1-67f626bddd7a","name":"matchNome"},{"parameters":{"jsCode":"// ======================================================\n// COMPARAR PARDINI x WORKLAB\n// Retorna apenas os itens do PARDINI que NÃO existem no WORKLAB\n// Comparação pela chave: pacienteNormalizado\n// ======================================================\n\n// Pega todos os itens dos dois nós\nconst worklab = $('Code in JavaScript2').all().map(item => item.json);\nconst pardini = $('Code in JavaScript4').all().map(item => item.json);\n\n// ======================================================\n// NORMALIZA TEXTO\n// Remove acentos, espaços duplicados e deixa em maiúsculo\n// ======================================================\nfunction normalizar(valor) {\n  return String(valor ?? \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase();\n}\n\n// ======================================================\n// CRIA LISTA DE PACIENTES DO WORKLAB\n// ======================================================\nconst pacientesWorklab = new Set(\n  worklab\n    .map(item => normalizar(item.pacienteNormalizado))\n    .filter(nome => nome !== \"\")\n);\n\n// ======================================================\n// FILTRA OS PACIENTES DO PARDINI QUE NÃO EXISTEM NO WORKLAB\n// ======================================================\nconst semMatch = pardini.filter(item => {\n  const pacientePardini = normalizar(item.pacienteNormalizado);\n  return pacientePardini && !pacientesWorklab.has(pacientePardini);\n});\n\n// ======================================================\n// RETORNO FINAL\n// ======================================================\nreturn semMatch.map((item, index) => ({\n  json: {\n    ...item,\n    origem: \"PARDINI\",\n    comparadoCom: \"WORKLAB\",\n    matchPaciente: false,\n    status: \"SEM_MATCH_NO_WORKLAB\",\n    _idx: index + 1,\n    _totalSemMatch: semMatch.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,800],"id":"0a741601-b248-4e9e-99d1-32205e44f872","name":"apoioSim-WorklabNao"},{"parameters":{"jsCode":"// ======================================================\n// COMPARAR WORKLAB x PARDINI\n// Retorna apenas os itens do WORKLAB que NÃO existem no PARDINI\n// Comparação pela chave: pacienteNormalizado\n// ======================================================\n\n// Pega todos os itens dos dois nós\nconst worklab = $('Code in JavaScript2').all().map(item => item.json);\nconst pardini = $('Code in JavaScript4').all().map(item => item.json);\n\n// ======================================================\n// NORMALIZA TEXTO\n// Remove acentos, espaços duplicados e deixa em maiúsculo\n// ======================================================\nfunction normalizar(valor) {\n  return String(valor ?? \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase();\n}\n\n// ======================================================\n// CRIA LISTA DE PACIENTES DO PARDINI\n// ======================================================\nconst pacientesPardini = new Set(\n  pardini\n    .map(item => normalizar(item.pacienteNormalizado))\n    .filter(nome => nome !== \"\")\n);\n\n// ======================================================\n// FILTRA OS PACIENTES DO WORKLAB QUE NÃO EXISTEM NO PARDINI\n// ======================================================\nconst semMatch = worklab.filter(item => {\n  const pacienteWorklab = normalizar(item.pacienteNormalizado);\n  return pacienteWorklab && !pacientesPardini.has(pacienteWorklab);\n});\n\n// ======================================================\n// RETORNO FINAL\n// ======================================================\nreturn semMatch.map((item, index) => ({\n  json: {\n    ...item,\n    origem: \"WORKLAB\",\n    comparadoCom: \"PARDINI\",\n    matchPaciente: false,\n    status: \"SEM_MATCH_NO_PARDINI\",\n    _idx: index + 1,\n    _totalSemMatch: semMatch.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,320],"id":"eca23e19-2e5d-483b-8ade-682a4cc140f4","name":"worklabSim-ApoioNao"},{"parameters":{"jsCode":"// ======================================================\n// COMPARAR WORKLAB x PARDINI\n// Retorna apenas pacientes com:\n// ✅ match no pacienteNormalizado\n// ❌ quantidadeExames diferente\n// ======================================================\n\nconst worklab = $('Code in JavaScript2').all().map(item => item.json);\nconst pardini = $('Code in JavaScript4').all().map(item => item.json);\n\n// ======================================================\n// NORMALIZA NOME\n// ======================================================\nfunction normalizarNome(valor) {\n  return String(valor ?? \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase();\n}\n\n// ======================================================\n// NORMALIZA QUANTIDADE\n// ======================================================\nfunction normalizarQuantidade(valor) {\n  const numero = Number(String(valor ?? \"\").replace(\",\", \".\"));\n  return Number.isFinite(numero) ? numero : 0;\n}\n\n// ======================================================\n// CRIA MAPA DO PARDINI PELO NOME DO PACIENTE\n// ======================================================\nconst mapaPardini = new Map();\n\nfor (const item of pardini) {\n  const nome = normalizarNome(item.pacienteNormalizado);\n\n  if (!nome) continue;\n\n  if (!mapaPardini.has(nome)) {\n    mapaPardini.set(nome, []);\n  }\n\n  mapaPardini.get(nome).push(item);\n}\n\n// ======================================================\n// COMPARA WORKLAB x PARDINI\n// ======================================================\nconst divergentes = [];\n\nfor (const itemWorklab of worklab) {\n  const nomeWorklab = normalizarNome(itemWorklab.pacienteNormalizado);\n\n  if (!nomeWorklab) continue;\n\n  const matchesPardini = mapaPardini.get(nomeWorklab) || [];\n\n  for (const itemPardini of matchesPardini) {\n    const qtdWorklab = normalizarQuantidade(itemWorklab.quantidadeExames);\n    const qtdPardini = normalizarQuantidade(itemPardini.quantidadeExames);\n\n    if (qtdWorklab !== qtdPardini) {\n      divergentes.push({\n        pacienteNormalizado: nomeWorklab,\n\n        matchPaciente: true,\n        matchQuantidadeExames: false,\n        erro: true,\n\n        tipoDivergencia: \"QUANTIDADE_EXAMES_DIFERENTE\",\n        mensagem: \"Paciente encontrado nos dois relatórios, mas a quantidade de exames é diferente\",\n\n        quantidadeExamesWorklab: qtdWorklab,\n        quantidadeExamesPardini: qtdPardini,\n        diferencaQuantidade: qtdWorklab - qtdPardini,\n\n        origem1: \"WORKLAB\",\n        dadosWorklab: itemWorklab,\n\n        origem2: \"PARDINI\",\n        dadosPardini: itemPardini\n      });\n    }\n  }\n}\n\n// ======================================================\n// RETORNO FINAL\n// ======================================================\nreturn divergentes.map((item, index) => ({\n  json: {\n    ...item,\n    _idx: index + 1,\n    _totalDivergentes: divergentes.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,-48],"id":"fe57ecf0-4970-48e5-a54c-1aa708234e71","name":"matchNome-QtDif"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"201cf85d-e615-47f5-897f-0e16fc3855fb","leftValue":"={{ $json.name }}","rightValue":"ATTIC","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1152,976],"id":"5ff3f84d-7c28-48a9-a7bb-813063c6d35e","name":"If4"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-896,960],"id":"56e3b836-12b3-4783-9b5f-70ef9c719525","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[-688,960],"id":"6344793d-0e06-4ad8-8d5e-36485f7325b5","name":"Extract text","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,928],"id":"104b87fc-4669-4427-822f-e065f52cf1d5","name":"Merge1"},{"parameters":{"jsCode":"// ======================================================\n// COMPARAR apoioSim-WorklabNao x attic\n// Retorna apenas os pacientes que estão em apoioSim-WorklabNao\n// e NÃO estão em attic\n//\n// Chave comparada: pacienteNormalizado\n// ======================================================\n\n// ======================================================\n// 1) Pega todos os itens dos dois nós\n// ======================================================\nconst apoioSimWorklabNao = $('apoioSim-WorklabNao').all().map(item => item.json);\nconst attic = $('attic').all().map(item => item.json);\n\n// ======================================================\n// 2) Normaliza o nome para comparar corretamente\n// Remove acentos, espaços duplicados e deixa em maiúsculo\n// ======================================================\nfunction normalizarNome(valor) {\n  return String(valor ?? \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/[^A-Z0-9\\s]/gi, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase();\n}\n\n// ======================================================\n// 3) Cria uma lista de pacientes do ATTIC\n// ======================================================\nconst pacientesAttic = new Set(\n  attic\n    .map(item => normalizarNome(item.pacienteNormalizado))\n    .filter(nome => nome !== \"\")\n);\n\n// ======================================================\n// 4) Filtra quem está no apoioSim-WorklabNao\n// mas NÃO está no attic\n// ======================================================\nconst semMatchNoAttic = apoioSimWorklabNao.filter(item => {\n  const paciente = normalizarNome(item.pacienteNormalizado);\n\n  if (!paciente) return false;\n\n  return !pacientesAttic.has(paciente);\n});\n\n// ======================================================\n// 5) Retorno final\n// ======================================================\nreturn semMatchNoAttic.map((item, index) => ({\n  json: {\n    ...item,\n\n    pacienteNormalizado: normalizarNome(item.pacienteNormalizado),\n\n    origem: \"apoioSim-WorklabNao\",\n    comparadoCom: \"attic\",\n    matchAttic: false,\n    status: \"NAO_EXISTE_NO_ATTIC\",\n\n    _idx: index + 1,\n    _totalSemMatchNoAttic: semMatchNoAttic.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,928],"id":"e9be9e8e-9192-492d-9530-2c5372e5b954","name":"Code in JavaScript3"},{"parameters":{"jsCode":"// =======================================================\n// LABOVIDA - Relatório de Motoqueiros OCR -> JSON\n// Formato esperado:\n// | Área: 1 | | Posto: 12 - CLINICA DOS FEIRANTES |\n// | 18/05/2026 | 12234489 | NOME PACIENTE | EXAMES |\n// =======================================================\n\nconst itensEntrada = $input.all().map(item => item.json);\n\n// =======================================================\n// 1) Pega texto OCR\n// =======================================================\nfunction obterTextoOCR(json) {\n  if (!json) return \"\";\n\n  if (Array.isArray(json.pages)) {\n    return json.pages\n      .map(page => page.markdown || page.text || \"\")\n      .filter(Boolean)\n      .join(\"\\n\");\n  }\n\n  if (json.extractedText) return String(json.extractedText);\n  if (json.markdown) return String(json.markdown);\n  if (json.text) return String(json.text);\n\n  return \"\";\n}\n\n// =======================================================\n// 2) Funções auxiliares\n// =======================================================\nfunction limparTexto(valor) {\n  return String(valor || \"\")\n    .replace(/\\\\n/g, \"\\n\")\n    .replace(/\\\\r/g, \"\\n\")\n    .replace(/\\r\\n/g, \"\\n\")\n    .replace(/\\r/g, \"\\n\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/[ \\t]+/g, \" \")\n    .replace(/\\n+/g, \"\\n\")\n    .trim();\n}\n\nfunction limparCampo(valor) {\n  return String(valor || \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction removerAcentos(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\");\n}\n\nfunction normalizarNome(valor) {\n  return removerAcentos(valor)\n    .replace(/[^A-Z0-9\\s]/gi, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toUpperCase();\n}\n\nfunction normalizarExame(valor) {\n  return removerAcentos(valor)\n    .replace(/\\s+/g, \"\")\n    .trim()\n    .toUpperCase();\n}\n\n// =======================================================\n// 3) Lista de exames conhecidos\n// Adicione novas siglas aqui quando precisar\n// =======================================================\nconst EXAMES_CONHECIDOS = [\n  \"25OHD\",\n  \"HB1AC\",\n  \"COAGU\",\n  \"URICU\",\n  \"AATM\",\n  \"GLIS\",\n  \"GSRH\",\n  \"HIV2\",\n  \"VDRL\",\n  \"CREA\",\n  \"CRE\",\n  \"CTF\",\n  \"CTFT\",\n  \"AUR\",\n  \"B12\",\n  \"CA\",\n  \"HP\",\n  \"SU\",\n  \"TC\",\n  \"TPAE\",\n  \"TS\",\n  \"URE\",\n  \"TRI\",\n  \"TSH\",\n  \"T4L\",\n  \"T3\",\n  \"PCR\",\n  \"GGT\",\n  \"IONO\",\n  \"VSH\",\n  \"TGO\",\n  \"TGP\",\n  \"HEMO\",\n  \"PTH\",\n  \"EAS\",\n  \"EPF\",\n  \"TAP\",\n  \"TTP\",\n  \"TTPA\",\n  \"INR\",\n  \"HIV\",\n  \"FE\",\n  \"MG\",\n  \"FAL\",\n  \"BT\",\n  \"BD\",\n  \"BI\",\n  \"TRIG\",\n  \"COL\",\n  \"HDL\",\n  \"LDL\",\n  \"VLDL\",\n  \"FERRI\",\n  \"BHCG\",\n  \"PLAQ\",\n  \"TPB\",\n  \"CPK\",\n  \"PSAT\"\n];\n\nconst EXAMES_ORDENADOS = [...EXAMES_CONHECIDOS].sort((a, b) => b.length - a.length);\n\nfunction extrairExames(texto) {\n  const s = removerAcentos(texto)\n    .toUpperCase()\n    .replace(/[|,;:]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n  const exames = [];\n\n  // Exames com parênteses: TSH(LIB), COAGU(6)\n  const regexComParen = /\\b[A-Z0-9]{1,12}\\s*\\(\\s*(?:LIB|6)\\s*\\)/gi;\n  let match;\n\n  while ((match = regexComParen.exec(s)) !== null) {\n    const exame = normalizarExame(match[0]);\n    if (!exames.includes(exame)) exames.push(exame);\n  }\n\n  // Exames sem parênteses\n  for (const ex of EXAMES_ORDENADOS) {\n    const re = new RegExp(`\\\\b${ex}\\\\b`, \"i\");\n\n    if (re.test(s) && !exames.includes(ex)) {\n      exames.push(ex);\n    }\n  }\n\n  return exames;\n}\n\nfunction montarObjetoExames(lista) {\n  const obj = {};\n\n  lista.forEach((exame, index) => {\n    obj[`ex${index + 1}`] = exame;\n  });\n\n  return obj;\n}\n\n// =======================================================\n// 4) Extrai área, posto e nome do posto\n// =======================================================\nfunction extrairAreaPosto(linhas) {\n  let area = null;\n  let posto = null;\n  let nomePosto = null;\n\n  for (const linha of linhas) {\n    if (!/Área|Area|Posto/i.test(linha)) continue;\n\n    const linhaSemAcento = removerAcentos(linha);\n\n    const matchArea = linhaSemAcento.match(/Area\\s*:\\s*(\\d+)/i);\n    const matchPosto = linhaSemAcento.match(/Posto\\s*:\\s*(\\d+)\\s*-\\s*([^|]+)/i);\n\n    if (matchArea) {\n      area = Number(matchArea[1]);\n    }\n\n    if (matchPosto) {\n      posto = Number(matchPosto[1]);\n      nomePosto = limparCampo(matchPosto[2]);\n    }\n\n    if (area && posto) break;\n  }\n\n  return {\n    area,\n    posto,\n    nomePosto\n  };\n}\n\n// =======================================================\n// 5) Processa todos os arquivos\n// =======================================================\nconst todosRegistros = [];\nconst chavesVistas = new Set();\n\nfor (let i = 0; i < itensEntrada.length; i++) {\n  const arquivo = itensEntrada[i];\n\n  const texto = limparTexto(obterTextoOCR(arquivo));\n\n  if (!texto) continue;\n\n  const nomeArquivo =\n    arquivo.fileName ||\n    arquivo.filename ||\n    arquivo.nomeArquivo ||\n    arquivo.name ||\n    `arquivo_${i + 1}`;\n\n  const linhas = texto\n    .split(\"\\n\")\n    .map(linha => limparCampo(linha))\n    .filter(Boolean);\n\n  const dadosPosto = extrairAreaPosto(linhas);\n\n  const area = dadosPosto.area;\n  const posto = dadosPosto.posto;\n  const nomePosto = dadosPosto.nomePosto;\n\n  for (const linhaOriginal of linhas) {\n    let linha = limparCampo(linhaOriginal);\n\n    // Ignora cabeçalhos e separadores\n    if (/^LABOVIDA$/i.test(linha)) continue;\n    if (/Relat[oó]rio de Motoqueiros/i.test(linha)) continue;\n    if (/^\\|\\s*-+/.test(linha)) continue;\n    if (/^\\|\\s*---/.test(linha)) continue;\n    if (/Área|Area|Posto/i.test(linha)) continue;\n\n    // Só processa linhas de paciente:\n    // | 18/05/2026 | 12234489 | NOME | EXAMES |\n    if (!/^\\|\\s*\\d{2}\\/\\d{2}\\/\\d{4}\\s*\\|/.test(linha)) {\n      continue;\n    }\n\n    linha = linha.replace(/^\\|/, \"\").replace(/\\|$/, \"\").trim();\n\n    const partes = linha\n      .split(\"|\")\n      .map(p => limparCampo(p));\n\n    if (partes.length < 4) continue;\n\n    const dataCadastro = partes[0];\n    const registroCadastro = String(partes[1] || \"\").replace(/\\D/g, \"\");\n    const nomePaciente = normalizarNome(partes[2]);\n    const textoExames = limparCampo(partes.slice(3).join(\" \"));\n\n    const examesLista = extrairExames(textoExames);\n\n    if (!area || !posto || !dataCadastro || !registroCadastro || !nomePaciente) {\n      continue;\n    }\n\n    const registro = {\n      area,\n      posto,\n      nomePosto,\n      dataCadastro,\n      registroCadastro,\n      nomePaciente,\n      pacienteNormalizado: nomePaciente,\n      exames: examesLista,\n      exame: montarObjetoExames(examesLista),\n      quantidadeExames: examesLista.length,\n      arquivoOrigem: nomeArquivo\n    };\n\n    const chave = [\n      registro.area,\n      registro.posto,\n      registro.dataCadastro,\n      registro.registroCadastro,\n      registro.pacienteNormalizado\n    ].join(\"|\");\n\n    if (chavesVistas.has(chave)) continue;\n\n    chavesVistas.add(chave);\n    todosRegistros.push(registro);\n  }\n}\n\n// =======================================================\n// 6) Retorno final\n// =======================================================\nreturn todosRegistros.map((registro, index) => ({\n  json: {\n    ...registro,\n    _idx: index + 1,\n    _totalRegistros: todosRegistros.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,960],"id":"e9e5c88c-5af1-4c95-b1ca-0e81ff0abe02","name":"attic"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1y_IqCAM94bINoVSHDa2QFo6o7uLc6qV1' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1456,896],"id":"fe2a3f8e-9dd3-4b92-a98b-001c9ea2d4de","name":"ATTIC","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1y_IqCAM94bINoVSHDa2QFo6o7uLc6qV1' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1472,544],"id":"ba22a038-70d2-4189-bab7-76fb47d73747","name":"PARDINI","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cac90a49-cf8e-4b7e-b327-a690b3c62dd6","leftValue":"={{ $json.eventosBag }}","rightValue":"Cadastro","operator":{"type":"array","operation":"contains","rightType":"any"}},{"id":"3dd3cd2b-8be7-4432-9e55-e8f2919eb598","leftValue":"={{ $json.quantidadeExames }}","rightValue":0,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[960,928],"id":"62175e64-3fe9-4ccc-9b1e-9d5f84ad4582","name":"If1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"WORKLAB","type":"main","index":0},{"node":"PARDINI","type":"main","index":0},{"node":"ATTIC","type":"main","index":0}]]},"Merge":{"main":[[{"node":"worklabSim-ApoioNao","type":"main","index":0},{"node":"matchNome","type":"main","index":0},{"node":"matchNome-QtDif","type":"main","index":0},{"node":"apoioSim-WorklabNao","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"mover envio","type":"main","index":0},{"node":"move at&tic","type":"main","index":0}]]},"If":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"WORKLAB":{"main":[[{"node":"If","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"cabeçalho-W","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"cabecalho-P","type":"main","index":0}]]},"cabeçalho-W":{"main":[[{"node":"agruparNome-W","type":"main","index":0}]]},"cabecalho-P":{"main":[[{"node":"agruparNome-P","type":"main","index":0}]]},"agruparNome-W":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"agruparNome-P":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code in JavaScript1":{"main":[[]]},"If3":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[]]},"apoioSim-WorklabNao":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"worklabSim-ApoioNao":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"matchNome-QtDif":{"main":[[{"node":"If3","type":"main","index":0}]]},"matchNome":{"main":[[]]},"If4":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract text","type":"main","index":0}]]},"Extract text":{"main":[[{"node":"attic","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"attic":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code in JavaScript3":{"main":[[{"node":"If1","type":"main","index":0}]]},"ATTIC":{"main":[[{"node":"If4","type":"main","index":0}]]},"Append or update row in sheet1":{"main":[[]]},"PARDINI":{"main":[[{"node":"If2","type":"main","index":0}]]},"If1":{"main":[[{"node":"Append or update row in sheet2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveManualExecutions":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2470d8d6-b7e4-40a0-b185-dc924a6aec52","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-05-16T23:01:16.398Z","createdAt":"2026-05-16T23:01:16.398Z","role":"workflow:owner","workflowId":"JHreIm9Szy3yAFLZ","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}