workflows/conferencia-at&tic-fFJ53YHRS1WzXG9FpUinm.json
{"updatedAt":"2026-05-13T16:49:49.409Z","createdAt":"2026-04-29T15:44:03.619Z","id":"fFJ53YHRS1WzXG9FpUinm","name":"conferencia At&tic","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[1008,560],"id":"184d3e20-0d52-4b70-bd1d-5ea3681aa086","name":"Schedule Trigger"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1504,224],"id":"0b7b6833-83df-4b71-b91f-b4a931bcac59","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[1728,224],"id":"37eeb9fd-8024-41c9-a44c-7dde4258416c","name":"Extract text","credentials":{"mistralCloudApi":{"id":"cyqM5cxZOnbGXAsU","name":"Mistral Cloud account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyAYKoksKeJMposa_uPiIeNnCchMaoAymFM","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini1","type":"n8n-nodes-base.httpRequest","position":[2192,48],"id":"4a5d0869-6c87-4463-bf1b-bb3de27a499a","typeVersion":4.2,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// ----------------------------\n// DADOS DO ENVIO\n// ----------------------------\nconst nomeEnvio = $('ENVIO').first().json.name || \"\";\n\nlet posto = null;\nlet data = null;\n\n// FORMATO: RELATÓRIO ENVIO P76 DIA 04.05.2026.pdf\nconst match = nomeEnvio.match(/P(\\d+)\\s+DIA\\s+(\\d{2})[./-](\\d{2})[./-](\\d{4})/i);\n\nif (match) {\n  posto = match[1];\n  data = `${match[2]}/${match[3]}/${match[4]}`;\n}\n\n// ----------------------------\n// NORMALIZA RESPOSTA\n// ----------------------------\nresposta = String(resposta)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// ---------------------------------------------------\n// Função para extrair JSON array\n// ---------------------------------------------------\nfunction extrairJsonArray(texto) {\n  const start = texto.indexOf(\"[\");\n  const end = texto.lastIndexOf(\"]\");\n\n  if (start !== -1 && end !== -1 && end > start) {\n    return texto.substring(start, end + 1);\n  }\n\n  return null;\n}\n\nconst jsonBruto = extrairJsonArray(resposta);\n\nif (!jsonBruto) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ Nenhum array JSON encontrado na resposta\",\n      respostaBruta: resposta,\n      posto,\n      data\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(jsonBruto);\n\n  if (!Array.isArray(parsed)) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ O JSON retornado não é um array no formato esperado\",\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta,\n        posto,\n        data\n      }\n    }];\n  }\n\n  if (parsed.length === 0) {\n    return [{\n      json: {\n        sucesso: true,\n        mensagem: \"Nenhum paciente encontrado\",\n        pacientes: [],\n        _totalPacientes: 0,\n        posto,\n        data\n      }\n    }];\n  }\n\n  return parsed.map((paciente, idx) => {\n    const exames = Array.isArray(paciente.EXAMES)\n      ? paciente.EXAMES\n      : [];\n\n    let valor = paciente.VALOR ?? null;\n\n    if (typeof valor === \"string\") {\n      valor = valor\n        .replace(/[R$\\s]/g, \"\")\n        .replace(/\\./g, \"\")\n        .replace(\",\", \".\");\n\n      valor = valor === \"\" ? null : Number(valor);\n    }\n\n    return {\n      json: {\n        sucesso: true,\n        categoria: \"(+)COMPUTADOR DO POSTO\",\n\n        PACIENTE: paciente.PACIENTE ?? null,\n        EXAMES: exames,\n        EXAMES_TEXTO: exames.join(\", \"),\n        QTD_EXAMES: exames.length,\n        VALOR: valor,\n\n        posto,\n        data,\n\n        _idx: idx + 1,\n        _totalPacientes: parsed.length\n      }\n    };\n  });\n\n} catch (e) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ JSON encontrado, mas inválido\",\n      mensagem: e.message,\n      jsonExtraido: jsonBruto,\n      respostaBruta: resposta,\n      posto,\n      data\n    }\n  }];\n}"},"id":"ab91de45-38b9-4ac4-8037-1364f9085af1","name":"converter resposta para json1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2496,32]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt | Protocolo de Envio ao Laboratório\n// Entrada esperada: $input.first().json.extractedText\n// Saída: prompt pronto para enviar para a IA\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.extractedText || \"\";\n\n// -------------------------\n// 1) Normalização base\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\")\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \" \")\n  .replace(/\\t/g, \" \")\n  .replace(/[ ]{2,}/g, \" \")\n  .replace(/\\n[ ]+/g, \"\\n\")\n  .replace(/[ ]+\\n/g, \"\\n\")\n  .trim();\n\n// -------------------------\n// 2) Limpeza leve para OCR\n// -------------------------\nfunction normalizarOcr(s) {\n  let t = s;\n\n  t = t.replace(/Protocolo\\s+de\\s+Envio\\s+ao\\s+Laborat[oó]rio/gi, \"Protocolo de Envio ao Laboratório\");\n  t = t.replace(/Paciente/gi, \"Paciente\");\n  t = t.replace(/Exames/gi, \"Exames\");\n  t = t.replace(/Valor/gi, \"Valor\");\n\n  t = t.replace(/[ ]{2,}/g, \" \").trim();\n\n  return t;\n}\n\nconst conteudoLimpo = normalizarOcr(texto);\n\n// -------------------------\n// 3) Nome do arquivo, se existir\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  item?.json?.fileName ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// 4) Conteúdo final enviado ao modelo\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoLimpo}\"\"\"`;\n\n// =======================================================\n// 5) Prompt\n// =======================================================\nconst prompt = `\nVocê é um especialista em extração de dados de documentos textuais.\n\nSua tarefa é analisar o texto OCR fornecido abaixo, identificar a tabela de \"Protocolo de Envio ao Laboratório\" e extrair as informações de forma estruturada.\n\nRETORNE APENAS JSON VÁLIDO.\nNão use markdown.\nNão escreva explicações.\nNão escreva texto fora do JSON.\nNão invente pacientes.\nNão duplique pacientes.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\n[\n  {\n    \"PACIENTE\": \"NOME COMPLETO DO PACIENTE\",\n    \"EXAMES\": [\"CODIGO1\", \"CODIGO2\"],\n    \"VALOR\": 99.10\n  }\n]\n\nREGRAS DE EXTRAÇÃO:\n\n1) PACIENTE\n- Extraia o nome completo do paciente.\n- Preserve o nome em letras maiúsculas, se estiver assim no documento.\n- Não confunda nome de paciente com cabeçalho, laboratório, posto, data ou observações.\n\n2) EXAMES\n- Extraia todos os códigos de exames do paciente.\n- Os exames podem aparecer separados por vírgula.\n- Os códigos podem vir acompanhados de valores entre colchetes.\n- Ignore tudo que estiver entre colchetes.\n- Exemplo:\n  \"25OHD [20,00], B12 [15,00], TSH [10,00]\"\n  deve retornar:\n  [\"25OHD\", \"B12\", \"TSH\"]\n\n3) VALOR\n- Extraia o valor total do paciente na coluna \"Valor\".\n- Retorne como número decimal JSON.\n- Se o valor estiver no formato brasileiro, converta:\n  \"99,10\" -> 99.10\n  \"1.234,56\" -> 1234.56\n\n4) INCLUSÃO\n- Extraia todos os pacientes presentes na tabela.\n- Inclua pacientes mesmo que tenham apenas um exame.\n- Se não encontrar pacientes, retorne [].\n\n5) VALIDAÇÃO\n- A saída deve ser um array JSON válido.\n- Não coloque comentários.\n- Não coloque vírgula sobrando.\n- Não retorne objeto com chave \"dados\"; retorne diretamente o array.\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n`.trim();\n\n// =======================================================\n// 6) Retorno para o modelo\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: prompt,\n          },\n        ],\n      },\n    ],\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,48],"id":"7ab2dacf-ebb3-4b09-a251-0f31bb9922ef","name":"Code1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1504,624],"id":"9db143ef-434f-4dda-8b39-8bf48007bcdc","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[1728,624],"id":"c671d1bf-51c4-450a-b455-3c2ff2703dac","name":"Extract text1","credentials":{"mistralCloudApi":{"id":"cyqM5cxZOnbGXAsU","name":"Mistral Cloud account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyAYKoksKeJMposa_uPiIeNnCchMaoAymFM","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini","type":"n8n-nodes-base.httpRequest","position":[2992,64],"id":"c0f608e0-ebb0-4992-93e8-fdf2feec5ec4","typeVersion":4.2,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Normaliza\nresposta = String(resposta)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// ---------------------------------------------------\n// Função para extrair JSON array\n// ---------------------------------------------------\nfunction extrairJsonArray(texto) {\n  const start = texto.indexOf(\"[\");\n  const end = texto.lastIndexOf(\"]\");\n\n  if (start !== -1 && end !== -1 && end > start) {\n    return texto.substring(start, end + 1);\n  }\n\n  return null;\n}\n\nconst jsonBruto = extrairJsonArray(resposta);\n\nif (!jsonBruto) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ Nenhum array JSON encontrado na resposta\",\n      respostaBruta: resposta\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(jsonBruto);\n\n  if (!Array.isArray(parsed)) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ O JSON retornado não é um array no formato esperado\",\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta\n      }\n    }];\n  }\n\n  if (parsed.length === 0) {\n    return [{\n      json: {\n        sucesso: true,\n        mensagem: \"Nenhum paciente encontrado\",\n        pacientes: [],\n        _totalPacientes: 0\n      }\n    }];\n  }\n\n  return parsed.map((paciente, idx) => {\n    const exames = Array.isArray(paciente.EXAMES)\n      ? paciente.EXAMES\n      : [];\n\n    let valor = paciente.VALOR ?? null;\n\n    if (typeof valor === \"string\") {\n      valor = valor\n        .replace(/[R$\\s]/g, \"\")\n        .replace(/\\./g, \"\")\n        .replace(\",\", \".\");\n\n      valor = valor === \"\" ? null : Number(valor);\n    }\n\n    return {\n      json: {\n        sucesso: true,\n        categoria: \"(+)COMPUTADOR DO POSTO\",\n\n        PACIENTE: paciente.PACIENTE ?? null,\n        EXAMES: exames,\n        EXAMES_TEXTO: exames.join(\", \"),\n        QTD_EXAMES: exames.length,\n        VALOR: valor,\n\n        _idx: idx + 1,\n        _totalPacientes: parsed.length\n      }\n    };\n  });\n\n} catch (e) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ JSON encontrado, mas inválido\",\n      mensagem: e.message,\n      jsonExtraido: jsonBruto,\n      respostaBruta: resposta\n    }\n  }];\n}"},"id":"b1d48b4a-ca27-4d4b-9bed-6d4700302d72","name":"converter resposta para json","type":"n8n-nodes-base.code","typeVersion":2,"position":[3232,64]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt | Relatório de Motoqueiros / Exames\n// Entrada esperada: $input.first().json.extractedText\n// Saída: prompt pronto para enviar para a IA\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.extractedText || \"\";\n\n// -------------------------\n// 1) Normalização base\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\")\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \" \")\n  .replace(/\\t/g, \" \")\n  .replace(/[ ]{2,}/g, \" \")\n  .replace(/\\n[ ]+/g, \"\\n\")\n  .replace(/[ ]+\\n/g, \"\\n\")\n  .trim();\n\n// -------------------------\n// 2) Limpeza leve para OCR\n// -------------------------\nfunction normalizarOcr(s) {\n  return String(s || \"\")\n    .replace(/Relat[oó]rio\\s+de\\s+Motoqueiros/gi, \"Relatório de Motoqueiros\")\n    .replace(/Paciente/gi, \"Paciente\")\n    .replace(/Exames?/gi, \"Exame\")\n    .replace(/[ ]{2,}/g, \" \")\n    .trim();\n}\n\nconst conteudoLimpo = normalizarOcr(texto);\n\n// -------------------------\n// 3) Nome do arquivo, se existir\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  item?.json?.fileName ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// 4) Conteúdo final enviado ao modelo\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoLimpo}\"\"\"`;\n\n// =======================================================\n// 5) Prompt\n// =======================================================\nconst prompt = `\nVocê é um especialista em extração de dados de documentos textuais.\n\nSua tarefa é analisar o texto OCR fornecido abaixo e extrair os dados da tabela de exames.\n\nRETORNE APENAS JSON VÁLIDO.\nNão use markdown.\nNão escreva explicações.\nNão escreva texto fora do JSON.\nNão invente pacientes.\nNão duplique pacientes.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\n[\n  {\n    \"PACIENTE\": \"NOME COMPLETO DO PACIENTE\",\n    \"EXAMES\": [\"EXAME1\", \"EXAME2\"],\n    \"VALOR\": null\n  }\n]\n\nREGRAS DE EXTRAÇÃO:\n\n1) PACIENTE\n- Extraia o nome completo do paciente.\n- O nome geralmente está na coluna anterior aos exames.\n- Ignore cabeçalhos como LABOVIDA, Relatório, datas, códigos numéricos e linhas de separação.\n\n2) EXAMES\n- Os exames aparecem imediatamente após o nome do paciente na mesma linha da tabela.\n- A linha geralmente segue este padrão:\n  | DATA | CODIGO | PACIENTE | EXAMES |\n- Tudo que estiver na coluna após o PACIENTE deve ser tratado como lista de exames.\n- Se houver mais de um exame separado por espaço, retorne cada exame separado no array.\n- Exemplo:\n  | 04/05/2026 | 3568082 | MURILO HENRIQUE GONÇALVES ASFORA | TESTO TTL |\n  Resultado:\n  \"EXAMES\": [\"TESTO\", \"TTL\"]\n- Exemplo:\n  | 04/05/2026 | 3568070 | ALINE CARLA SOUZA COSTA DE LIRA | HEMO TGO TGP TRI TTPA |\n  Resultado:\n  \"EXAMES\": [\"HEMO\", \"TGO\", \"TGP\", \"TRI\", \"TTPA\"]\n- Se o exame for composto por várias palavras, mantenha como um único exame somente quando for claramente um nome composto de exame.\n  Exemplo:\n  \"PARASITOLOGICO DE FEZES\" deve virar:\n  [\"PARASITOLOGICO DE FEZES\"]\n- Não junte exames diferentes.\n- Não transforme nem interprete os códigos.\n- Não invente exames.\n\n3) VALOR\n- Se não existir valor no texto, retorne null.\n- Não invente valores.\n\n4) INCLUSÃO\n- Extraia todos os pacientes encontrados.\n- Se não encontrar pacientes, retorne [].\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n`.trim();\n\n// =======================================================\n// 6) Retorno para o modelo\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: prompt\n          }\n        ]\n      }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2768,64],"id":"6d2ace18-dbc4-4e47-8c03-35e95665ac1d","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2640,448],"id":"edd903cf-735d-4399-833b-0fce25ac0ad1","name":"Merge"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1bEiEy1m0-zcYYefCuDCP-smS5DTOo3u9' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,624],"id":"df71d253-f949-49d5-b276-865c442038ee","name":"AT&TIC","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1ktinnW0TcQEiQvbv8GBqn4nyDgiXD_Wu' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,224],"id":"806389e8-bd0d-42f5-b89a-768a3f3d53e3","name":"ENVIO","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"jsCode":"function normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction palavrasDoNome(nome) {\n  return normalizarTexto(nome)\n    .split(\" \")\n    .filter(p => p.length >= 2);\n}\n\nfunction contarPalavrasIguais(nome1, nome2) {\n  const palavras1 = new Set(palavrasDoNome(nome1));\n  const palavras2 = new Set(palavrasDoNome(nome2));\n\n  let iguais = 0;\n\n  for (const palavra of palavras1) {\n    if (palavras2.has(palavra)) {\n      iguais++;\n    }\n  }\n\n  return iguais;\n}\n\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) {\n    return valor;\n  }\n\n  if (typeof valor === \"string\") {\n    return valor\n      .split(/,|;|\\n/)\n      .map(v => v.trim())\n      .filter(Boolean);\n  }\n\n  return [valor];\n}\n\n// ================================\n// LÊ TODOS OS ITENS DO MERGE\n// ================================\nconst todos = $input.all().map(i => i.json);\n\n// ================================\n// SEPARA INPUTS\n// ================================\nconst input1 = todos.filter(i =>\n  i.PACIENTE &&\n  Array.isArray(i.EXAMES) &&\n  i._totalPacientes !== undefined\n);\n\nconst input2 = todos.filter(i =>\n  i.PACIENTE &&\n  Array.isArray(i.EXAMES) &&\n  i._totalPacientes === undefined\n);\n\n// fallback caso venha tudo misturado\nif (input2.length === 0) {\n  const metade = Math.floor(todos.length / 2);\n\n  input1.length = 0;\n  input2.length = 0;\n\n  input1.push(...todos.slice(0, metade));\n  input2.push(...todos.slice(metade));\n}\n\n// ================================\n// DADOS GERAIS\n// ================================\nconst posto =\n  input1[0]?.posto ||\n  input2[0]?.posto ||\n  \"\";\n\nconst data =\n  input1[0]?.data ||\n  input2[0]?.data ||\n  \"\";\n\nconst resultado = [];\n\n// ================================\n// COMPARAÇÃO\n// ================================\nfor (const item1 of input1) {\n\n  const pacienteInput1 = item1.PACIENTE || \"\";\n  const examesInput1 = garantirArray(item1.EXAMES);\n\n  let melhorMatch = null;\n  let maiorQtdPalavrasIguais = 0;\n\n  // ================================\n  // PROCURA MELHOR MATCH\n  // ================================\n  for (const item2 of input2) {\n\n    const pacienteInput2 = item2.PACIENTE || \"\";\n\n    const qtdPalavrasIguais = contarPalavrasIguais(\n      pacienteInput1,\n      pacienteInput2\n    );\n\n    if (qtdPalavrasIguais > maiorQtdPalavrasIguais) {\n      maiorQtdPalavrasIguais = qtdPalavrasIguais;\n      melhorMatch = item2;\n    }\n  }\n\n  // ================================\n  // VALIDAÇÃO DO NOME\n  // PRIORIDADE:\n  // 1. Nome completo igual\n  // 2. Pelo menos 3 palavras iguais\n  // ================================\n  const nome1Normalizado =\n    normalizarTexto(pacienteInput1);\n\n  const nome2Normalizado =\n    melhorMatch\n      ? normalizarTexto(melhorMatch.PACIENTE || \"\")\n      : \"\";\n\n  const nomeCompletoIgual =\n    nome1Normalizado === nome2Normalizado;\n\n  const match3Palavras =\n    maiorQtdPalavrasIguais >= 3;\n\n  const matchPaciente = Boolean(\n    melhorMatch &&\n    (\n      nomeCompletoIgual ||\n      match3Palavras\n    )\n  );\n\n  // ================================\n  // DADOS INPUT2\n  // ================================\n  const pacienteInput2Encontrado =\n    matchPaciente\n      ? melhorMatch.PACIENTE || \"\"\n      : \"\";\n\n  const examesInput2 =\n    matchPaciente\n      ? garantirArray(melhorMatch.EXAMES)\n      : [];\n\n  // ================================\n  // NORMALIZA EXAMES\n  // ================================\n  const examesInput1Norm =\n    examesInput1.map(normalizarTexto);\n\n  const examesInput2Norm =\n    examesInput2.map(normalizarTexto);\n\n  // ================================\n  // EXAMES FALTANDO\n  // ================================\n  const examesFaltando =\n    examesInput1.filter(exame =>\n      !examesInput2Norm.includes(\n        normalizarTexto(exame)\n      )\n    );\n\n  // ================================\n  // EXAMES EXTRAS\n  // ================================\n  const examesExtras =\n    examesInput2.filter(exame =>\n      !examesInput1Norm.includes(\n        normalizarTexto(exame)\n      )\n    );\n\n  // ================================\n  // MATCH FINAL DOS EXAMES\n  // ================================\n  const matchExames =\n    matchPaciente &&\n    examesFaltando.length === 0 &&\n    examesExtras.length === 0;\n\n  // ================================\n  // RESULTADO\n  // ================================\n  resultado.push({\n    json: {\n\n      posto,\n      data,\n\n      PACIENTE_INPUT1: pacienteInput1,\n      PACIENTE_INPUT2: pacienteInput2Encontrado,\n\n      matchPaciente,\n\n      nomeCompletoIgual,\n\n      matchPor3Palavras:\n        !nomeCompletoIgual &&\n        match3Palavras,\n\n      palavrasIguaisPaciente:\n        maiorQtdPalavrasIguais,\n\n      matchExames,\n\n      quantidadeExamesInput1:\n        examesInput1.length,\n\n      quantidadeExamesInput2:\n        examesInput2.length,\n\n      examesInput1,\n      examesInput2,\n\n      examesFaltandoNoInput2:\n        examesFaltando,\n\n      examesExtrasNoInput2:\n        examesExtras,\n\n      erro: !matchExames,\n\n      mensagem:\n        matchExames\n          ? \"Paciente e exames estão exatamente iguais\"\n          : matchPaciente\n            ? \"Paciente encontrado, mas há divergência entre os exames\"\n            : \"Paciente não encontrado com nome completo igual nem com 3 palavras iguais\"\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,448],"id":"42c2768a-a0de-46d1-a5e7-107adcde63ab","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3280,448],"id":"87f37c0b-f534-4600-a5dc-f7116e7fe5fd","name":"Loop Over Items"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive3').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3568,496],"id":"2e24845a-cf23-43f0-b22e-ef7b224dd13a","name":"move at&tic","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3552,288],"id":"ac4f63d0-1e0c-4fef-8a6e-1c3b72706c18","name":"mover envio","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.data }}","NOME PACIENTE ENVIO":"={{ $json.PACIENTE_INPUT1 }}","NOME PACIENTE AT&TIC":"={{ $json.PACIENTE_INPUT2 }}","EXAMES ENVIO":"={{ $json.examesInput1 }}","EXAMES AT&TIC":"={{ $json.examesInput2 }}","EXAMES FALTANDO NO AT&TIC":"={{ $json.examesFaltandoNoInput2 }}","EXAMES A MAIS NO AT&TIC":"={{ $json.examesExtrasNoInput2 }}","POSTO":"={{ $('Code in JavaScript1').first().json.posto }}","ERRO NOME":"={{ $json.matchPaciente }}","ERRO EXAMES":"={{ $json.matchExames }}","MENSAGEM ENVIADA":"NÃO","CORRIGIDO":"AGUARDANDO"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORRIGIDO","displayName":"CORRIGIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3072,448],"id":"b9be02aa-a6f2-46e8-b205-07ccdf4a85cc","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1776,960],"id":"099bffe2-f0e4-4521-90a3-7086312bc734","name":"Loop Over Items3"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2432,976],"id":"350e1cd0-05bf-4787-b094-8365ff6b57b8"},{"parameters":{"documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"CORRIGIR","lookupValue":"CADASTRO PRECISA DE ATENÇÃO"},{"lookupColumn":"CORRIGIDO","lookupValue":"AGUARDANDO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1344,976],"id":"7e355ab1-357a-43ce-8aba-dea26846fada","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=5581986587496","messageText":"=O paciente abaixo precisa de atenção porque existe divergência no cadastro:\n\n{{ $json['NOME PACIENTE ENVIO'] }}\n\nObservar:\n{{ $json.CADASTRO }}-{{ $json.CORRIGIR }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2016,976],"id":"f8719592-ae09-4dcb-b66e-a8a7f78e7be3","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If1').item.json.row_number }}","MENSAGEM ENVIADA":"MENSAGEM ENVIADA"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CORRIGIDO","displayName":"CORRIGIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2224,976],"id":"4d5ade58-cef9-4305-9001-3d32d4597801","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1b5d49e8-fc16-43df-a219-13192929481e","leftValue":"={{ $json['MENSAGEM ENVIADA'] }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1520,976],"id":"3d747c70-6bbf-4ea1-8b91-08b53975ff17","name":"If1"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"={{ $json.CADASTRO }}-{{ $json.CORRIGIR }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2704,928],"id":"23f73e96-5564-4b88-8ec4-f48434ed6363","name":"Enviar texto","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}}},{"parameters":{"jsCode":"const item = $input.first();\n\nlet texto = String(\n  item.json.extractedText ||\n  item.json.markdown ||\n  item.json.text ||\n  item.json.pages?.map(p => p.markdown).join(\"\\n\") ||\n  \"\"\n)\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\\\\n/g, \"\\n\")\n  .replace(/\\\\/g, \"\")\n  .replace(/[ ]{2,}/g, \" \")\n  .trim();\n\nconst categoria = \"(+)COMPUTADOR DO POSTO\";\n\n// =========================\n// POSTO PELO NOME DO ARQUIVO\n// =========================\nlet nomeArquivo = \"\";\n\ntry {\n  nomeArquivo = $(\"ENVIO\").first().json.name || \"\";\n} catch (e) {}\n\nconst postoMatch = nomeArquivo.match(/\\bP\\s*(\\d+)/i);\nconst posto = postoMatch ? postoMatch[1] : \"\";\n\n// =========================\n// DATA\n// =========================\nconst dataMatch =\n  texto.match(/Data do Envio:\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/i) ||\n  texto.match(/\\[(\\d{2}\\/\\d{2}\\/\\d{4})\\s*-/) ||\n  texto.match(/DIA\\s*(\\d{2})[./-](\\d{2})[./-](\\d{4})/i) ||\n  texto.match(/(\\d{2}\\/\\d{2}\\/\\d{4})/);\n\nlet data = \"\";\n\nif (dataMatch) {\n  if (dataMatch.length === 4) {\n    data = `${dataMatch[1]}/${dataMatch[2]}/${dataMatch[3]}`;\n  } else {\n    data = dataMatch[1];\n  }\n}\n\n// =========================\n// TOTAL\n// =========================\nconst totalMatch = texto.match(/No total de\\s+(\\d+)\\s+Atendimentos/i);\nconst totalOficial = totalMatch ? Number(totalMatch[1]) : null;\n\n// =========================\n// FUNÇÕES\n// =========================\nfunction normalizarValor(v) {\n  const s = String(v ?? \"\").trim();\n\n  if (s.includes(\",\")) {\n    return Number(s.replace(/\\./g, \"\").replace(\",\", \".\"));\n  }\n\n  return Number(s);\n}\n\nfunction limparExames(txt) {\n  return String(txt ?? \"\")\n    .replace(/\\[[^\\]]*\\]/g, \"\")\n    .split(\",\")\n    .map(e => e.trim())\n    .filter(Boolean);\n}\n\nfunction adicionar(lista, paciente, examesTexto, valorTexto) {\n  paciente = String(paciente ?? \"\").trim();\n  examesTexto = String(examesTexto ?? \"\").trim();\n  valorTexto = String(valorTexto ?? \"\").trim();\n\n  if (!paciente || !examesTexto || !valorTexto) return;\n  if (/paciente|exames|valor/i.test(paciente)) return;\n\n  const exames = limparExames(examesTexto);\n  const valor = normalizarValor(valorTexto);\n\n  if (!exames.length || Number.isNaN(valor)) return;\n\n  lista.push({\n    sucesso: true,\n    categoria,\n    PACIENTE: paciente,\n    EXAMES: exames,\n    EXAMES_TEXTO: exames.join(\", \"),\n    QTD_EXAMES: exames.length,\n    VALOR: valor,\n    posto,\n    data\n  });\n}\n\n// =========================\n// EXTRAÇÃO\n// =========================\nconst lista = [];\nconst linhas = texto.split(\"\\n\");\n\nfor (const linha of linhas) {\n  let l = String(linha).trim();\n\n  if (!l.includes(\"|\")) continue;\n  if (/Cod Integração|Cod Atend|Paciente|Exames|Valor|---/i.test(l)) continue;\n\n  // Corrige OCR colado:\n  // PLAQUETA33680 | TEREZA...\n  l = l.replace(/([A-ZÁ-Úa-zá-ú])(\\d{4,}\\s*\\|)/g, \"$1\\n$2\");\n\n  const subLinhas = l.split(\"\\n\");\n\n  for (const sub of subLinhas) {\n    const partes = sub\n      .split(\"|\")\n      .map(c => c.trim())\n      .filter(c => c !== \"\");\n\n    // Formato antigo:\n    // cod integração | cod atend | paciente | exames | valor\n    if (partes.length >= 5 && /^\\d+$/.test(partes[0]) && /^\\d+$/.test(partes[1])) {\n      adicionar(lista, partes[2], partes[3], partes[4]);\n      continue;\n    }\n\n    // Formato novo/quebrado:\n    // cod | paciente | exames | PARTICULAR | valor\n    if (partes.length >= 5 && /^\\d+$/.test(partes[0])) {\n      adicionar(lista, partes[1], partes[2], partes[4]);\n      continue;\n    }\n  }\n}\n\n// =========================\n// REMOVE DUPLICADOS\n// =========================\nconst unicos = [];\nconst vistos = new Set();\n\nfor (const item of lista) {\n  const chave = `${item.PACIENTE}|${item.EXAMES_TEXTO}|${item.VALOR}`;\n\n  if (!vistos.has(chave)) {\n    vistos.add(chave);\n    unicos.push(item);\n  }\n}\n\n// =========================\n// INDEXAÇÃO\n// =========================\nconst total = totalOficial || unicos.length;\n\nreturn unicos.map((item, i) => ({\n  json: {\n    ...item,\n    _idx: i + 1,\n    _totalPacientes: total\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,224],"id":"155e07fd-8c9b-442b-bdde-dced9f92817a","name":"Code in JavaScript1"},{"parameters":{"jsCode":"const item = $input.first();\n\nconst texto = String(\n  item.json.extractedText ||\n  item.json.text ||\n  item.json.markdown ||\n  item.json.pages?.map(p => p.markdown).join(\"\\n\") ||\n  \"\"\n)\n  .replace(/\\r/g, \"\\n\")\n  .replace(/[ ]{2,}/g, \" \")\n  .trim();\n\nconst categoria = \"(+)COMPUTADOR DO POSTO\";\n\n// =========================\n// POSTO PELO NOME DO ARQUIVO\n// =========================\nlet nomeArquivo = \"\";\n\ntry {\n  nomeArquivo = $(\"AT&TIC\").first().json.name || \"\";\n} catch (e) {}\n\ntry {\n  if (!nomeArquivo) {\n    nomeArquivo = $(\"ENVIO\").first().json.name || \"\";\n  }\n} catch (e) {}\n\nconst matchPosto = nomeArquivo.match(/P\\s*(\\d+)/i);\n\nconst posto = matchPosto\n  ? matchPosto[1]\n  : (item.json.posto || \"\");\n\n// =========================\n// DATA\n// =========================\nconst matchDataArquivo =\n  nomeArquivo.match(/\\d{2}\\.\\d{2}\\.\\d{4}/);\n\nconst dataArquivo = matchDataArquivo\n  ? matchDataArquivo[0].replace(/\\./g, \"/\")\n  : \"\";\n\nconst dataTextoMatch =\n  texto.match(/(\\d{2}\\/\\d{2}\\/\\d{4})/);\n\nconst dataTexto =\n  dataTextoMatch\n    ? dataTextoMatch[1]\n    : \"\";\n\nconst data = dataArquivo || dataTexto;\n\n// =========================\n// FUNÇÕES\n// =========================\nfunction normalizarValor(v) {\n  const s = String(v || \"\").trim();\n\n  if (s.includes(\",\")) {\n    return Number(\n      s\n        .replace(/\\./g, \"\")\n        .replace(\",\", \".\")\n        .replace(/[^\\d.]/g, \"\")\n    );\n  }\n\n  return Number(\n    s.replace(/[^\\d.]/g, \"\")\n  );\n}\n\nfunction limparExamesPorVirgula(txt) {\n  return String(txt || \"\")\n    .replace(/\\[[^\\]]*\\]/g, \"\")\n    .split(\",\")\n    .map(e => e.trim())\n    .filter(Boolean);\n}\n\nfunction examesPorEspaco(txt) {\n  return String(txt || \"\")\n    .replace(/\\[[^\\]]*\\]/g, \"\")\n    .split(/\\s+/)\n    .map(e => e.trim())\n    .filter(Boolean);\n}\n\nfunction montarItem(\n  paciente,\n  exames,\n  valor,\n  dataLinha,\n  extras = {}\n) {\n  return {\n    sucesso: true,\n    categoria,\n    PACIENTE: String(paciente || \"\").trim(),\n    EXAMES: exames,\n    EXAMES_TEXTO: exames.join(\", \"),\n    QTD_EXAMES: exames.length,\n    VALOR: valor,\n    posto,\n    data: dataLinha || data,\n    ...extras\n  };\n}\n\nconst lista = [];\n\nconst ehRelatorioMotoqueiro =\n  /Relatório de Motoqueiros/i.test(texto);\n\n// ======================================================\n// RELATÓRIO DE MOTOQUEIRO\n// ======================================================\nif (ehRelatorioMotoqueiro) {\n\n  // ======================================================\n  // FORMATO 1\n  // | DATA | COD | PACIENTE | EXAMES |\n  // ======================================================\n  const regexMotoqueiroTabela =\n    /\\|\\s*(\\d{2}\\/\\d{2}\\/\\d{4})\\s*\\|\\s*(\\d{6,})\\s*\\|\\s*([^|]+?)\\s*\\|\\s*([^|]+?)\\s*\\|/g;\n\n  let match;\n\n  while ((match = regexMotoqueiroTabela.exec(texto)) !== null) {\n\n    const dataLinha = match[1].trim();\n    const paciente = match[3].trim();\n    const examesTexto = match[4].trim();\n\n    if (\n      !paciente ||\n      /paciente|---/i.test(paciente)\n    ) {\n      continue;\n    }\n\n    if (\n      !examesTexto ||\n      /exames|---/i.test(examesTexto)\n    ) {\n      continue;\n    }\n\n    const exames =\n      examesPorEspaco(examesTexto);\n\n    if (!exames.length) continue;\n\n    lista.push(\n      montarItem(\n        paciente,\n        exames,\n        0,\n        dataLinha\n      )\n    );\n  }\n\n  // ======================================================\n  // LINHAS\n  // ======================================================\n  const linhas = texto\n    .split(\"\\n\")\n    .map(l => l.trim())\n    .filter(Boolean);\n\n  // ======================================================\n  // FORMATO 2\n  // DATA COD PACIENTE\n  // EXAMES\n  // ======================================================\n  const regexLinhaPacienteMotoqueiro =\n    /^(\\d{2}\\/\\d{2}\\/\\d{4})\\s+(\\d{6,})\\s+(.+)$/;\n\n  for (let i = 0; i < linhas.length; i++) {\n\n    const m =\n      linhas[i].match(\n        regexLinhaPacienteMotoqueiro\n      );\n\n    if (!m) continue;\n\n    const dataLinha = m[1];\n    const paciente = m[3].trim();\n\n    const linhaExames =\n      linhas[i + 1] || \"\";\n\n    if (\n      !linhaExames ||\n      linhaExames.includes(\"|\") ||\n      /resumo|pacientes|exame|data de impressão|usuário|relatório|labovida/i.test(linhaExames)\n    ) {\n      continue;\n    }\n\n    const exames =\n      examesPorEspaco(linhaExames);\n\n    if (!exames.length) continue;\n\n    lista.push(\n      montarItem(\n        paciente,\n        exames,\n        0,\n        dataLinha\n      )\n    );\n  }\n\n  // ======================================================\n  // FORMATO 3\n  // DATA\n  // CODIGO\n  // PACIENTE\n  // EXAMES\n  // ======================================================\n  for (let i = 0; i < linhas.length; i++) {\n\n    const dataLinha = linhas[i];\n\n    if (\n      !/^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(dataLinha)\n    ) {\n      continue;\n    }\n\n    const codigo = linhas[i + 1] || \"\";\n\n    if (!/^\\d{6,}$/.test(codigo)) {\n      continue;\n    }\n\n    const paciente =\n      linhas[i + 2] || \"\";\n\n    const examesTexto =\n      linhas[i + 3] || \"\";\n\n    if (\n      !paciente ||\n      !examesTexto ||\n      /resumo|pacientes|exame|data de impressão|usuário|relatório|labovida/i.test(paciente) ||\n      /resumo|pacientes|exame|data de impressão|usuário|relatório|labovida/i.test(examesTexto)\n    ) {\n      continue;\n    }\n\n    const exames =\n      examesPorEspaco(examesTexto);\n\n    if (!exames.length) continue;\n\n    lista.push(\n      montarItem(\n        paciente,\n        exames,\n        0,\n        dataLinha\n      )\n    );\n  }\n}\n\n// ======================================================\n// OUTROS FORMATOS\n// ======================================================\nif (!ehRelatorioMotoqueiro) {\n\n  let match;\n\n  // ======================================================\n  // FORMATO LABORATÓRIO\n  // ======================================================\n  const regexLaboratorio =\n    /\\|\\s*(\\d+)\\s*\\|\\s*(\\d+)\\s*\\|\\s*([^|]+?)\\s*\\|\\s*([^|]+?)\\s*\\|\\s*([\\d.,]+)\\s*\\|/g;\n\n  while ((match = regexLaboratorio.exec(texto)) !== null) {\n\n    const paciente =\n      match[3].trim();\n\n    const exames =\n      limparExamesPorVirgula(match[4]);\n\n    const valor =\n      normalizarValor(match[5]);\n\n    if (\n      !paciente ||\n      /paciente|exames|valor|cod/i.test(paciente)\n    ) {\n      continue;\n    }\n\n    if (\n      !exames.length ||\n      Number.isNaN(valor)\n    ) {\n      continue;\n    }\n\n    lista.push(\n      montarItem(\n        paciente,\n        exames,\n        valor,\n        data\n      )\n    );\n  }\n\n  // ======================================================\n  // FORMATO RECIBO MÉDICO\n  // ======================================================\n  const regexReciboMedico =\n    /\\|\\s*(\\d+)\\s*\\|\\s*([^|]+?)\\s*\\|\\s*([^|]+?)\\s*\\|\\s*[^|]*\\s*\\|\\s*([^|]+?)\\s*\\|\\s*([\\d.,]+)\\s*\\|/g;\n\n  while ((match = regexReciboMedico.exec(texto)) !== null) {\n\n    const paciente =\n      match[2].trim();\n\n    const examesTexto =\n      match[3].trim();\n\n    const convenio =\n      match[4].trim();\n\n    const valor =\n      normalizarValor(match[5]);\n\n    if (\n      !paciente ||\n      /paciente|total|atend/i.test(paciente)\n    ) {\n      continue;\n    }\n\n    if (\n      !examesTexto ||\n      /procedimentos|total/i.test(examesTexto)\n    ) {\n      continue;\n    }\n\n    if (\n      examesTexto.toUpperCase() === \"VOLTA\"\n    ) {\n      continue;\n    }\n\n    if (\n      Number.isNaN(valor)\n    ) {\n      continue;\n    }\n\n    const exames =\n      limparExamesPorVirgula(examesTexto);\n\n    if (!exames.length) continue;\n\n    lista.push(\n      montarItem(\n        paciente,\n        exames,\n        valor,\n        data,\n        {\n          CONVENIO: convenio\n        }\n      )\n    );\n  }\n}\n\n// ======================================================\n// REMOVE DUPLICADOS\n// ======================================================\nconst vistos = new Set();\n\nconst unicos = [];\n\nfor (const r of lista) {\n\n  const chave =\n    `${r.PACIENTE}|${r.EXAMES_TEXTO}|${r.data}`;\n\n  if (!vistos.has(chave)) {\n    vistos.add(chave);\n    unicos.push(r);\n  }\n}\n\n// ======================================================\n// INDEXAÇÃO\n// ======================================================\nconst total = unicos.length;\n\n// ======================================================\n// RETORNO\n// ======================================================\nreturn unicos.map((item, i) => ({\n  json: {\n    ...item,\n    _idx: i + 1,\n    _totalPacientes: total\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1936,624],"id":"b1bdeab7-76e8-4835-833e-6ba4cf78d30c","name":"Code in JavaScript2"}],"connections":{"Schedule Trigger":{"main":[[{"node":"ENVIO","type":"main","index":0},{"node":"AT&TIC","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text","type":"main","index":0}]]},"Analisar Gemini1":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}],[]]},"Extract text":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code1":{"main":[[]]},"Google Drive3":{"main":[[{"node":"Extract text1","type":"main","index":0}]]},"Extract text1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Analisar Gemini":{"main":[[{"node":"converter resposta para json","type":"main","index":0}],[]]},"Code":{"main":[[{"node":"Analisar Gemini","type":"main","index":0}]]},"converter resposta para json1":{"main":[[]]},"converter resposta para json":{"main":[[]]},"AT&TIC":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"ENVIO":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"mover envio","type":"main","index":0},{"node":"move at&tic","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Enviar texto3","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[]]},"Update row in sheet":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code in JavaScript1":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w","callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all","saveManualExecutions":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"01c29b60-2d27-47c7-a4d4-d24b7a2c4f2b","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-29T15:44:03.619Z","createdAt":"2026-04-29T15:44:03.619Z","role":"workflow:owner","workflowId":"fFJ53YHRS1WzXG9FpUinm","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}