workflows/conferencia_bip_apoio-sWTMGwgAjCAfcYUl.json
{"updatedAt":"2026-05-15T03:07:26.200Z","createdAt":"2026-05-11T19:27:23.140Z","id":"sWTMGwgAjCAfcYUl","name":"conferencia_bip_apoio","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1744,560],"id":"9aefc18a-a97c-470a-a6b7-a064caafdd61","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-16,416],"id":"ec373455-d638-4d10-912b-077b6170b8ad","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1936,448],"id":"899ad16d-48e2-47b0-a9ef-c27f9501975b","name":"Loop Over Items"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive3').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2224,496],"id":"c074a2cd-6005-4be4-abab-11620cfffa5e","name":"move at&tic","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2208,288],"id":"9f0409a0-7c15-4959-badb-e76d3cc9a8cf","name":"mover envio","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-736,1152],"id":"87fa0332-e59b-4f00-b8c3-4f2862f82ac1","name":"Loop Over Items3"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-80,1168],"id":"35831c6a-614d-4fba-b84b-1861c852e181"},{"parameters":{"documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"CORRIGIR","lookupValue":"CADASTRO PRECISA DE ATENÇÃO"},{"lookupColumn":"CORRIGIDO","lookupValue":"AGUARDANDO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1168,1168],"id":"74df361d-4bbe-4f52-9503-505f70ed5533","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=5581986587496","messageText":"=O paciente abaixo precisa de atenção porque existe divergência no cadastro:\n\n{{ $json['NOME PACIENTE ENVIO'] }}\n\nObservar:\n{{ $json.CADASTRO }}-{{ $json.CORRIGIR }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-496,1168],"id":"1774226c-a619-442c-bc41-575916468da2","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If1').item.json.row_number }}","MENSAGEM ENVIADA":"MENSAGEM ENVIADA"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CORRIGIDO","displayName":"CORRIGIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-288,1168],"id":"12bc5c72-183e-4ec1-9d4e-9540238b6c30","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1b5d49e8-fc16-43df-a219-13192929481e","leftValue":"={{ $json['MENSAGEM ENVIADA'] }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals"}},{"id":"372c819d-ef7b-48c3-a529-c1d97c9729ad","leftValue":"={{ $json.CORRIGIDO }}","rightValue":"AGUARDANDO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-992,1168],"id":"6cdf9ff0-749c-42b7-8c2e-dca4f6b8ca1d","name":"If1"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"={{ $json.CADASTRO }}-{{ $json.CORRIGIR }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[192,1120],"id":"b235f6b8-2fa1-48ca-a534-f97004ed2567","name":"Enviar texto","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"201cf85d-e615-47f5-897f-0e16fc3855fb","leftValue":"={{ $json.name }}","rightValue":"relConv","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1216,176],"id":"6e730f0a-5f6f-4780-b3ce-f3c69a926101","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b2ebc805-3e1d-4ca5-b9bd-2f1c042c434e","leftValue":"={{ $json.name }}","rightValue":"RastreioBag","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1120,688],"id":"39e0280b-fa24-4cf0-ac8b-1603ea0c52e2","name":"If2"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Relatório Detalhado por Linha","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-928,160],"id":"d95d69aa-9657-4790-8d12-0a3310cc1d62","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1y_IqCAM94bINoVSHDa2QFo6o7uLc6qV1' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1392,176],"id":"65b5ee60-ab14-4c0d-951f-8895e2968b6c","name":"WORKLAB","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Rastreio de Bags","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-848,672],"id":"0f52a91e-417a-4dd3-a361-e764548528b3","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1y_IqCAM94bINoVSHDa2QFo6o7uLc6qV1' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1360,688],"id":"d667558c-525d-4819-889e-09ff4afa50b4","name":"PARDINI","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"jsCode":"// ======================================================\n// AGRUPA PACIENTES PELO NOME\n// RETORNA QUANTIDADE DE EXAMES E LISTA DE EXAMES\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst mapaPacientes = new Map();\n\nfor (const item of itens) {\n  const pacienteOriginal = String(item.Paciente || \"\").trim();\n\n  if (!pacienteOriginal) continue;\n\n  const chavePaciente = normalizarTexto(pacienteOriginal);\n\n  const exame = String(item.Exame || \"\").trim();\n\n  if (!mapaPacientes.has(chavePaciente)) {\n    mapaPacientes.set(chavePaciente, {\n      nomeRelatorio: item.nomeRelatorio || \"\",\n      dataRelatorio: item.dataRelatorio || \"\",\n      dataCadastro: item.dataCadastro || \"\",\n      Paciente: pacienteOriginal,\n      pacienteNormalizado: chavePaciente,\n      exames: [],\n      linhasOriginais: [],\n      registros: []\n    });\n  }\n\n  const paciente = mapaPacientes.get(chavePaciente);\n\n  if (exame) {\n    paciente.exames.push(exame);\n  }\n\n  paciente.linhasOriginais.push(item.row_number_original || item.row_number || \"\");\n\n  paciente.registros.push(item);\n}\n\nconst resultado = [];\n\nfor (const paciente of mapaPacientes.values()) {\n  resultado.push({\n    json: {\n      nomeRelatorio: paciente.nomeRelatorio,\n      dataRelatorio: paciente.dataRelatorio,\n      dataCadastro: paciente.dataCadastro,\n\n      Paciente: paciente.Paciente,\n      pacienteNormalizado: paciente.pacienteNormalizado,\n\n      quantidadeExames: paciente.exames.length,\n      exames: paciente.exames,\n      examesTexto: paciente.exames.join(\", \"),\n\n      linhasOriginais: paciente.linhasOriginais,\n\n      registros: paciente.registros\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,160],"id":"3e7289f7-dfb7-4c94-884e-18596292901b","name":"agruparNome-W"},{"parameters":{"jsCode":"// ======================================================\n// AGRUPA PACIENTES PELO CAMPO \"Paciente\"\n// RETORNA:\n// - quantidadeExames\n// - exames\n// - detalhesExames\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction numeroSeguro(valor) {\n  if (valor === null || valor === undefined || valor === \"\") return 0;\n\n  const n = Number(\n    String(valor)\n      .replace(\",\", \".\")\n      .replace(/[^\\d.-]/g, \"\")\n  );\n\n  return Number.isFinite(n) ? n : 0;\n}\n\nconst mapaPacientes = new Map();\n\nfor (const item of itens) {\n  const pacienteOriginal = String(item.Paciente || \"\").trim();\n\n  if (!pacienteOriginal) continue;\n\n  const chavePaciente = normalizarTexto(pacienteOriginal);\n\n  if (!mapaPacientes.has(chavePaciente)) {\n    mapaPacientes.set(chavePaciente, {\n      nomeRelatorio: item.nomeRelatorio || \"\",\n      dataRelatorio: item.dataRelatorio || \"\",\n      Paciente: pacienteOriginal,\n      pacienteNormalizado: chavePaciente,\n\n      quantidadeExames: 0,\n      exames: [],\n      detalhesExames: [],\n\n      amostras: [],\n      pedidos: [],\n      lotes: [],\n      eventosBag: [],\n\n      linhasOriginais: []\n    });\n  }\n\n  const paciente = mapaPacientes.get(chavePaciente);\n\n  // ======================================================\n  // CASO 1: quando existe coluna \"Exame\" com nome/sigla\n  // Exemplo de outro relatório: Exame = \"TSH\"\n  // ======================================================\n  if (item.Exame !== undefined && item.Exame !== \"\") {\n    const exame = String(item.Exame).trim();\n\n    paciente.exames.push(exame);\n    paciente.quantidadeExames += 1;\n  }\n\n  // ======================================================\n  // CASO 2: relatório RastreioBags\n  // Nele a coluna \"Exames\" é quantidade, não nome do exame\n  // Exemplo: Exames = 1, 2, 4\n  // ======================================================\n  else if (item.Exames !== undefined && item.Exames !== \"\") {\n    const qtdLinha = numeroSeguro(item.Exames);\n\n    paciente.quantidadeExames += qtdLinha;\n\n    paciente.exames.push(String(item.Exames).trim());\n  }\n\n  paciente.detalhesExames.push({\n    amostra: item.Amostra || \"\",\n    lote: item.Lote || \"\",\n    conservacao: item[\"Conservação\"] || \"\",\n    pedido: item.Pedido || \"\",\n    pedidoAlfanumerico: item[\"Pedido Alfanumérico\"] || \"\",\n    quantidadeExamesNaLinha: item.Exames ?? \"\",\n    ultimoEventoBag: item[\"Último Evento da Bag\"] || \"\",\n    row_number_original: item.row_number_original || item.row_number || \"\"\n  });\n\n  if (item.Amostra) paciente.amostras.push(String(item.Amostra).trim());\n  if (item.Pedido) paciente.pedidos.push(String(item.Pedido).trim());\n  if (item.Lote) paciente.lotes.push(String(item.Lote).trim());\n  if (item[\"Último Evento da Bag\"]) paciente.eventosBag.push(String(item[\"Último Evento da Bag\"]).trim());\n\n  paciente.linhasOriginais.push(\n    item.row_number_original || item.row_number || \"\"\n  );\n}\n\nconst resultado = [];\n\nfor (const paciente of mapaPacientes.values()) {\n  resultado.push({\n    json: {\n      nomeRelatorio: paciente.nomeRelatorio,\n      dataRelatorio: paciente.dataRelatorio,\n\n      Paciente: paciente.Paciente,\n      pacienteNormalizado: paciente.pacienteNormalizado,\n\n      quantidadeExames: paciente.quantidadeExames,\n\n      exames: paciente.exames,\n      examesTexto: paciente.exames.join(\", \"),\n\n      amostras: [...new Set(paciente.amostras)],\n      pedidos: [...new Set(paciente.pedidos)],\n      lotes: [...new Set(paciente.lotes)],\n      eventosBag: [...new Set(paciente.eventosBag)],\n\n      linhasOriginais: paciente.linhasOriginais,\n\n      detalhesExames: paciente.detalhesExames\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,672],"id":"4cc1b683-ba42-48cb-8757-f8d1dc65dde1","name":"agruparNome-P"},{"parameters":{"jsCode":"// ======================================================\n// AJUSTA CABEÇALHO PELA LINHA 6\n// DESCARTA LINHAS ANTERIORES\n// ADICIONA nomeRelatorio, dataRelatorio e dataCadastro\n// REMOVE ZERO À ESQUERDA DE \"Convênio Sigla\"\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\n// Nome vindo do nó If\n// Exemplo: relConvDetalhadoPorLinha_13_05_2026\nconst nomeArquivo = $('If').first().json.name || \"\";\n\n// ======================================================\n// EXTRAI nomeRelatorio E dataRelatorio\n// ======================================================\n\nfunction extrairInfoRelatorio(nome) {\n  const texto = String(nome || \"\").trim();\n\n  const match = texto.match(/^(.+?)_(\\d{2})_(\\d{2})_(\\d{4})$/);\n\n  if (!match) {\n    return {\n      nomeRelatorio: texto,\n      dataRelatorio: \"\"\n    };\n  }\n\n  return {\n    nomeRelatorio: match[1],\n    dataRelatorio: `${match[2]}/${match[3]}/${match[4]}`\n  };\n}\n\n// ======================================================\n// EXTRAI APENAS A DATA\n// Exemplo: \"12/05/2026 06:01\" -> \"12/05/2026\"\n// ======================================================\n\nfunction extrairDataCadastro(valor) {\n  const texto = String(valor || \"\").trim();\n  const match = texto.match(/\\b\\d{2}\\/\\d{2}\\/\\d{4}\\b/);\n  return match ? match[0] : \"\";\n}\n\n// ======================================================\n// REMOVE ZERO À ESQUERDA\n// Exemplo: \"098\" -> \"98\"\n// Exemplo: \"012\" -> \"12\"\n// Exemplo: \"150\" -> \"150\"\n// ======================================================\n\nfunction removerZeroEsquerda(valor) {\n  const texto = String(valor ?? \"\").trim();\n\n  if (!texto) return \"\";\n\n  const semZeros = texto.replace(/^0+/, \"\");\n\n  return semZeros || \"0\";\n}\n\nconst { nomeRelatorio, dataRelatorio } = extrairInfoRelatorio(nomeArquivo);\n\n// ======================================================\n// LOCALIZA A LINHA 6, QUE SERÁ O CABEÇALHO\n// ======================================================\n\nconst linhaCabecalho = itens.find(item => Number(item.row_number) === 6);\n\nif (!linhaCabecalho) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Linha 6 não encontrada para montar o cabeçalho\",\n        nomeArquivo,\n        nomeRelatorio,\n        dataRelatorio\n      }\n    }\n  ];\n}\n\n// ======================================================\n// MONTA MAPA DAS COLUNAS ORIGINAIS PARA OS NOVOS NOMES\n// ======================================================\n\nconst mapaCabecalho = {};\n\nfor (const [chaveOriginal, valorCabecalho] of Object.entries(linhaCabecalho)) {\n  if (chaveOriginal === \"row_number\") continue;\n\n  const nomeColuna = String(valorCabecalho || \"\").trim();\n\n  if (!nomeColuna) continue;\n\n  mapaCabecalho[chaveOriginal] = nomeColuna;\n}\n\n// ======================================================\n// FILTRA APENAS LINHAS APÓS A LINHA 6\n// ======================================================\n\nconst linhasDados = itens.filter(item => Number(item.row_number) > 6);\n\n// ======================================================\n// CONVERTE CADA LINHA USANDO O CABEÇALHO\n// ======================================================\n\nconst resultado = linhasDados.map(item => {\n  const dataCadastro = extrairDataCadastro(\n    item[\"Relatório Paciente por Convênio Detalhado\"]\n  );\n\n  const novoJson = {\n    nomeRelatorio,\n    dataRelatorio,\n    dataCadastro,\n    row_number_original: item.row_number\n  };\n\n  for (const [chaveOriginal, nomeColuna] of Object.entries(mapaCabecalho)) {\n    let valor = item[chaveOriginal] ?? \"\";\n\n    // Remove zero à esquerda apenas da coluna Convênio Sigla\n    if (nomeColuna === \"Convênio Sigla\") {\n      valor = removerZeroEsquerda(valor);\n    }\n\n    novoJson[nomeColuna] = valor;\n  }\n\n  return {\n    json: novoJson\n  };\n});\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,160],"id":"e112ef6d-82a5-4dc0-82f0-9a2f3b41382e","name":"cabeçalho-W"},{"parameters":{"jsCode":"// ======================================================\n// AJUSTA CABEÇALHO PELA LINHA 3\n// DESCARTA LINHAS ANTERIORES\n// ADICIONA nomeRelatorio e dataRelatorio\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\n// Nome vindo do nó If\n// Exemplo: RastreioBags_13052026114558\nconst nomeArquivo = $('If2').first().json.name || \"\";\n\n// ======================================================\n// EXTRAI nomeRelatorio E dataRelatorio\n// Exemplo:\n// RastreioBags_13052026114558\n// nomeRelatorio: RastreioBags\n// dataRelatorio: 13/05/2026\n// ======================================================\n\nfunction extrairInfoRelatorio(nome) {\n  const texto = String(nome || \"\").trim();\n\n  const match = texto.match(/^(.+?)_(\\d{2})(\\d{2})(\\d{4})(\\d{6})?$/);\n\n  if (!match) {\n    return {\n      nomeRelatorio: texto,\n      dataRelatorio: \"\"\n    };\n  }\n\n  return {\n    nomeRelatorio: match[1],\n    dataRelatorio: `${match[2]}/${match[3]}/${match[4]}`\n  };\n}\n\nconst { nomeRelatorio, dataRelatorio } = extrairInfoRelatorio(nomeArquivo);\n\n// ======================================================\n// LOCALIZA A LINHA 3, QUE SERÁ O CABEÇALHO\n// ======================================================\n\nconst linhaCabecalho = itens.find(item => Number(item.row_number) === 3);\n\nif (!linhaCabecalho) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Linha 3 não encontrada para montar o cabeçalho\",\n        nomeArquivo,\n        nomeRelatorio,\n        dataRelatorio\n      }\n    }\n  ];\n}\n\n// ======================================================\n// MONTA MAPA DAS COLUNAS ORIGINAIS PARA OS NOVOS NOMES\n// Exemplo:\n// col_1 -> Amostra\n// Rastreio de Bags - Geral -> Lote\n// col_3 -> Conservação\n// ======================================================\n\nconst mapaCabecalho = {};\n\nfor (const [chaveOriginal, valorCabecalho] of Object.entries(linhaCabecalho)) {\n  if (chaveOriginal === \"row_number\") continue;\n\n  const nomeColuna = String(valorCabecalho || \"\").trim();\n\n  if (!nomeColuna) continue;\n\n  mapaCabecalho[chaveOriginal] = nomeColuna;\n}\n\n// ======================================================\n// FILTRA APENAS LINHAS APÓS A LINHA 3\n// ======================================================\n\nconst linhasDados = itens.filter(item => Number(item.row_number) > 3);\n\n// ======================================================\n// CONVERTE CADA LINHA USANDO O CABEÇALHO\n// ======================================================\n\nconst resultado = linhasDados.map(item => {\n  const novoJson = {\n    nomeRelatorio,\n    dataRelatorio,\n    row_number_original: item.row_number\n  };\n\n  for (const [chaveOriginal, nomeColuna] of Object.entries(mapaCabecalho)) {\n    novoJson[nomeColuna] = item[chaveOriginal] ?? \"\";\n  }\n\n  return {\n    json: novoJson\n  };\n});\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,672],"id":"d2a14185-f1db-4526-8474-283ffdef81b0","name":"cabecalho-P"},{"parameters":{"jsCode":"// ======================================================\n// ADICIONA ORIGEM AO INPUT 1\n// Use este code depois do nó agruparNome-W\n// ======================================================\n\nconst itens = $input.all();\n\nreturn itens.map(item => {\n  return {\n    json: {\n      ...item.json,\n      origem: \"worklab\"\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,208],"id":"6948a7e1-9caa-4486-9c1a-f9a51c46b442","name":"Code in JavaScript2"},{"parameters":{"jsCode":"// ======================================================\n// ADICIONA ORIGEM AO INPUT 2\n// Use este code depois do nó agruparNome-P\n// ======================================================\n\nconst itens = $input.all();\n\nreturn itens.map(item => {\n  return {\n    json: {\n      ...item.json,\n      origem: \"apoio\"\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,672],"id":"6a13f850-6739-463d-8fac-9dd10ebecf4b","name":"Code in JavaScript4"},{"parameters":{"jsCode":"// ======================================================\n// COMPARA PACIENTES ENTRE WORKLAB E APOIO\n// RETORNA APENAS QUANDO:\n// quantidadeExamesWorklab !== quantidade de itens em apoio.amostras\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\n// ======================================================\n// NORMALIZA TEXTO\n// ======================================================\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n// ======================================================\n// CONVERTE QUANTIDADE COM SEGURANÇA\n// ======================================================\nfunction numeroSeguro(valor) {\n  if (valor === null || valor === undefined || valor === \"\") return 0;\n\n  const n = Number(\n    String(valor)\n      .replace(\",\", \".\")\n      .replace(/[^\\d.-]/g, \"\")\n  );\n\n  return Number.isFinite(n) ? n : 0;\n}\n\n// ======================================================\n// GARANTE ARRAY\n// ======================================================\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) return valor;\n\n  if (typeof valor === \"object\") return [valor];\n\n  return [];\n}\n\n// ======================================================\n// SEPARA WORKLAB E APOIO\n// ======================================================\nconst worklab = itens.filter(item => item.origem === \"worklab\");\nconst apoio = itens.filter(item => item.origem === \"apoio\");\n\n// ======================================================\n// MONTA MAPA DO APOIO POR PACIENTE NORMALIZADO\n// ======================================================\nconst mapaApoio = new Map();\n\nfor (const item of apoio) {\n  const paciente = String(item.Paciente || \"\").trim();\n  if (!paciente) continue;\n\n  const chave = normalizarTexto(paciente);\n\n  mapaApoio.set(chave, item);\n}\n\nconst resultado = [];\n\n// ======================================================\n// COMPARA SOMENTE PACIENTES EXISTENTES NOS DOIS LADOS\n// ======================================================\nfor (const itemWorklab of worklab) {\n  const pacienteWorklab = String(itemWorklab.Paciente || \"\").trim();\n  if (!pacienteWorklab) continue;\n\n  const chavePaciente = normalizarTexto(pacienteWorklab);\n\n  const itemApoio = mapaApoio.get(chavePaciente);\n\n  if (!itemApoio) continue;\n\n  // Quantidade do Worklab\n  const quantidadeExamesWorklab = numeroSeguro(\n    itemWorklab.quantidadeExames\n  );\n\n  // ======================================================\n  // QUANTIDADE CORRETA DO APOIO:\n  // quantidade de itens dentro da chave amostras\n  // ======================================================\n  const amostrasApoio = garantirArray(itemApoio.amostras);\n\n  const quantidadeExamesApoio = amostrasApoio.length;\n\n  const matchQuantidadeExames =\n    quantidadeExamesWorklab === quantidadeExamesApoio;\n\n  // Se a quantidade for igual, não retorna\n  if (matchQuantidadeExames) continue;\n\n  resultado.push({\n    json: {\n      Paciente: pacienteWorklab,\n      pacienteNormalizado: chavePaciente,\n\n      PacienteWorklab: pacienteWorklab,\n      PacienteApoio: itemApoio.Paciente || \"\",\n\n      existeNoWorklab: true,\n      existeNoApoio: true,\n\n      quantidadeExamesWorklab,\n\n      // Aqui agora vem da quantidade de amostras\n      quantidadeExamesApoio,\n\n      // Campos auxiliares para conferência\n      quantidadeOriginalApoio: numeroSeguro(itemApoio.quantidadeExames),\n      quantidadeAmostrasApoio: quantidadeExamesApoio,\n\n      diferencaQuantidade:\n        quantidadeExamesWorklab - quantidadeExamesApoio,\n\n      matchPaciente: true,\n      matchQuantidadeExames: false,\n\n      erro: true,\n      tipoDivergencia: \"QUANTIDADE_AMOSTRAS_APOIO_DIFERENTE\",\n      mensagem: \"Paciente encontrado, mas a quantidade de exames do worklab está diferente da quantidade de amostras do apoio\",\n\n      dadosWorklab: itemWorklab,\n      dadosApoio: itemApoio\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,640],"id":"cba045bf-2c2b-4a3d-94dd-2b14aff85bd0","name":"nomeOK_qtDIF"},{"parameters":{"jsCode":"// ======================================================\n// COMPARA PACIENTES ENTRE WORKLAB E APOIO\n// RETORNA APENAS matchPaciente === false\n//\n// AJUSTE:\n// quantidadeExamesApoio agora usa a quantidade de itens\n// da chave itemApoio.amostras\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\n// ======================================================\n// NORMALIZA TEXTO\n// ======================================================\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n// ======================================================\n// CONVERTE QUANTIDADE COM SEGURANÇA\n// ======================================================\nfunction numeroSeguro(valor) {\n  if (valor === null || valor === undefined || valor === \"\") return 0;\n\n  const n = Number(\n    String(valor)\n      .replace(\",\", \".\")\n      .replace(/[^\\d.-]/g, \"\")\n  );\n\n  return Number.isFinite(n) ? n : 0;\n}\n\n// ======================================================\n// GARANTE ARRAY\n// ======================================================\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) return valor;\n\n  if (typeof valor === \"object\") return [valor];\n\n  return [];\n}\n\n// ======================================================\n// QUANTIDADE CORRETA DO APOIO\n// Usa quantidade de itens em amostras\n// ======================================================\nfunction quantidadeApoioPorAmostras(itemApoio) {\n  const amostras = garantirArray(itemApoio?.amostras);\n  return amostras.length;\n}\n\n// ======================================================\n// SEPARA WORKLAB E APOIO\n// ======================================================\nconst worklab = itens.filter(item => item.origem === \"worklab\");\nconst apoio = itens.filter(item => item.origem === \"apoio\");\n\n// ======================================================\n// MONTA MAPA DO APOIO POR PACIENTE NORMALIZADO\n// ======================================================\nconst mapaApoio = new Map();\n\nfor (const item of apoio) {\n  const paciente = String(item.Paciente || \"\").trim();\n  if (!paciente) continue;\n\n  const chave = normalizarTexto(paciente);\n  mapaApoio.set(chave, item);\n}\n\n// ======================================================\n// CONTROLE DE PACIENTES DO APOIO ENCONTRADOS NO WORKLAB\n// ======================================================\nconst encontradosApoio = new Set();\n\nconst resultado = [];\n\n// ======================================================\n// PACIENTES DO WORKLAB QUE NÃO EXISTEM NO APOIO\n// ======================================================\nfor (const itemWorklab of worklab) {\n  const pacienteWorklab = String(itemWorklab.Paciente || \"\").trim();\n  if (!pacienteWorklab) continue;\n\n  const chavePaciente = normalizarTexto(pacienteWorklab);\n\n  const itemApoio = mapaApoio.get(chavePaciente);\n\n  if (itemApoio) {\n    encontradosApoio.add(chavePaciente);\n    continue;\n  }\n\n  const quantidadeExamesWorklab = numeroSeguro(itemWorklab.quantidadeExames);\n\n  resultado.push({\n    json: {\n      Paciente: pacienteWorklab,\n      pacienteNormalizado: chavePaciente,\n\n      PacienteWorklab: pacienteWorklab,\n      PacienteApoio: \"\",\n\n      existeNoWorklab: true,\n      existeNoApoio: false,\n\n      quantidadeExamesWorklab,\n      quantidadeExamesApoio: 0,\n      quantidadeOriginalApoio: 0,\n      quantidadeAmostrasApoio: 0,\n\n      diferencaQuantidade: quantidadeExamesWorklab,\n\n      matchPaciente: false,\n      matchQuantidadeExames: false,\n\n      erro: true,\n      tipoDivergencia: \"PACIENTE_NAO_ENCONTRADO_NO_APOIO\",\n      mensagem: \"Paciente do worklab não encontrado no apoio\",\n\n      dadosWorklab: itemWorklab,\n      dadosApoio: null\n    }\n  });\n}\n\n// ======================================================\n// PACIENTES DO APOIO QUE NÃO EXISTEM NO WORKLAB\n// ======================================================\nfor (const itemApoio of apoio) {\n  const pacienteApoio = String(itemApoio.Paciente || \"\").trim();\n  if (!pacienteApoio) continue;\n\n  const chavePaciente = normalizarTexto(pacienteApoio);\n\n  if (encontradosApoio.has(chavePaciente)) continue;\n\n  const existeNoWorklab = worklab.some(item =>\n    normalizarTexto(item.Paciente) === chavePaciente\n  );\n\n  if (existeNoWorklab) continue;\n\n  // ======================================================\n  // AQUI ESTÁ O AJUSTE:\n  // quantidade do apoio vem de amostras.length\n  // ======================================================\n  const quantidadeExamesApoio = quantidadeApoioPorAmostras(itemApoio);\n  const quantidadeOriginalApoio = numeroSeguro(itemApoio.quantidadeExames);\n\n  resultado.push({\n    json: {\n      Paciente: pacienteApoio,\n      pacienteNormalizado: chavePaciente,\n\n      PacienteWorklab: \"\",\n      PacienteApoio: pacienteApoio,\n\n      existeNoWorklab: false,\n      existeNoApoio: true,\n\n      quantidadeExamesWorklab: 0,\n\n      // Agora vem da quantidade de amostras\n      quantidadeExamesApoio,\n\n      // Campos auxiliares para conferência\n      quantidadeOriginalApoio,\n      quantidadeAmostrasApoio: quantidadeExamesApoio,\n\n      diferencaQuantidade: 0 - quantidadeExamesApoio,\n\n      matchPaciente: false,\n      matchQuantidadeExames: false,\n\n      erro: true,\n      tipoDivergencia: \"PACIENTE_EXTRA_NO_APOIO\",\n      mensagem: \"Paciente existe no apoio, mas não existe no worklab\",\n\n      dadosWorklab: null,\n      dadosApoio: itemApoio\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,256],"id":"f5fd5f76-80ac-496e-89df-0dc0b561b799","name":"nomeDif"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7fb79418-0e94-452e-836d-618fec45c6f0","leftValue":"={{ $json.dadosApoio.eventosBag }}","rightValue":"Cadastro","operator":{"type":"array","operation":"contains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,640],"id":"40c26939-b293-4153-a699-5d1a1e131ed1","name":"If3"},{"parameters":{"jsCode":"// ======================================================\n// COMPARA PACIENTES ENTRE WORKLAB E APOIO\n// RETORNA APENAS matchQuantidadeExames === false\n// MAS SOMENTE QUANDO O PACIENTE EXISTE NOS DOIS LADOS\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\n// ======================================================\n// NORMALIZA TEXTO\n// ======================================================\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n// ======================================================\n// CONVERTE QUANTIDADE COM SEGURANÇA\n// ======================================================\nfunction numeroSeguro(valor) {\n  if (valor === null || valor === undefined || valor === \"\") return 0;\n\n  const n = Number(\n    String(valor)\n      .replace(\",\", \".\")\n      .replace(/[^\\d.-]/g, \"\")\n  );\n\n  return Number.isFinite(n) ? n : 0;\n}\n\n// ======================================================\n// SEPARA WORKLAB E APOIO\n// ======================================================\nconst worklab = itens.filter(item => item.origem === \"worklab\");\nconst apoio = itens.filter(item => item.origem === \"apoio\");\n\n// ======================================================\n// MONTA MAPA DO APOIO POR PACIENTE NORMALIZADO\n// ======================================================\nconst mapaApoio = new Map();\n\nfor (const item of apoio) {\n  const paciente = String(item.Paciente || \"\").trim();\n  if (!paciente) continue;\n\n  const chave = normalizarTexto(paciente);\n  mapaApoio.set(chave, item);\n}\n\nconst resultado = [];\n\n// ======================================================\n// COMPARA SOMENTE PACIENTES EXISTENTES NOS DOIS LADOS\n// ======================================================\nfor (const itemWorklab of worklab) {\n  const pacienteWorklab = String(itemWorklab.Paciente || \"\").trim();\n  if (!pacienteWorklab) continue;\n\n  const chavePaciente = normalizarTexto(pacienteWorklab);\n\n  const itemApoio = mapaApoio.get(chavePaciente);\n\n  if (!itemApoio) continue;\n\n  const quantidadeExamesWorklab = numeroSeguro(itemWorklab.quantidadeExames);\n  const quantidadeExamesApoio = numeroSeguro(itemApoio.quantidadeExames);\n\n  const matchQuantidadeExames =\n    quantidadeExamesWorklab === quantidadeExamesApoio;\n\n  if (matchQuantidadeExames) continue;\n\n  resultado.push({\n    json: {\n      Paciente: pacienteWorklab,\n      pacienteNormalizado: chavePaciente,\n\n      PacienteWorklab: pacienteWorklab,\n      PacienteApoio: itemApoio.Paciente || \"\",\n\n      existeNoWorklab: true,\n      existeNoApoio: true,\n\n      quantidadeExamesWorklab,\n      quantidadeExamesApoio,\n      diferencaQuantidade: quantidadeExamesWorklab - quantidadeExamesApoio,\n\n      matchPaciente: true,\n      matchQuantidadeExames: false,\n\n      erro: true,\n      tipoDivergencia: \"QUANTIDADE_EXAMES_DIFERENTE\",\n      mensagem: \"Paciente encontrado, mas a quantidade de exames está diferente\",\n\n      dadosWorklab: itemWorklab,\n      dadosApoio: itemApoio\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,768],"id":"8374d89c-2f0d-41ea-951e-f6266f467f2b","name":"Code in JavaScript1"},{"parameters":{"content":"## Paciente do worklab não encontrado no apoio","height":240,"width":720},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,176],"id":"ad4806dc-8d8f-41c6-b398-21a081e43e68","name":"Sticky Note"},{"parameters":{"content":"## Paciente encontrado, mas a quantidade de exames está diferente","height":256,"width":736},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,544],"id":"9ce960d0-d334-478d-9546-47218ad3462a","name":"Sticky Note1"},{"parameters":{"jsCode":"// ======================================================\n// PACIENTES QUE ESTÃO NO APOIO\n// E NÃO FORAM ENCONTRADOS NO WORKLAB\n//\n// AJUSTE:\n// quantidadeExamesApoio = quantidade de itens em itemApoio.amostras\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\n// ======================================================\n// NORMALIZA TEXTO\n// ======================================================\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\n// ======================================================\n// CONVERTE QUANTIDADE COM SEGURANÇA\n// ======================================================\nfunction numeroSeguro(valor) {\n  if (valor === null || valor === undefined || valor === \"\") return 0;\n\n  const n = Number(\n    String(valor)\n      .replace(\",\", \".\")\n      .replace(/[^\\d.-]/g, \"\")\n  );\n\n  return Number.isFinite(n) ? n : 0;\n}\n\n// ======================================================\n// GARANTE ARRAY\n// ======================================================\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) return valor;\n\n  if (typeof valor === \"object\") return [valor];\n\n  return [];\n}\n\n// ======================================================\n// QUANTIDADE CORRETA DO APOIO\n// Conta quantos itens existem em amostras\n// ======================================================\nfunction quantidadeApoioPorAmostras(itemApoio) {\n  const amostras = garantirArray(itemApoio?.amostras);\n  return amostras.length;\n}\n\n// ======================================================\n// SEPARA WORKLAB E APOIO\n// ======================================================\nconst worklab = itens.filter(item => item.origem === \"worklab\");\nconst apoio = itens.filter(item => item.origem === \"apoio\");\n\n// ======================================================\n// MONTA SET DOS PACIENTES DO WORKLAB\n// ======================================================\nconst pacientesWorklab = new Set();\n\nfor (const item of worklab) {\n  const paciente = String(item.Paciente || \"\").trim();\n  if (!paciente) continue;\n\n  const chavePaciente = normalizarTexto(paciente);\n  pacientesWorklab.add(chavePaciente);\n}\n\n// ======================================================\n// PROCURA PACIENTES DO APOIO QUE NÃO EXISTEM NO WORKLAB\n// ======================================================\nconst resultado = [];\n\nfor (const itemApoio of apoio) {\n  const pacienteApoio = String(itemApoio.Paciente || \"\").trim();\n  if (!pacienteApoio) continue;\n\n  const chavePaciente = normalizarTexto(pacienteApoio);\n\n  const existeNoWorklab = pacientesWorklab.has(chavePaciente);\n\n  if (existeNoWorklab) continue;\n\n  // ======================================================\n  // AQUI ESTÁ O AJUSTE:\n  // quantidade do apoio vem de amostras.length\n  // ======================================================\n  const quantidadeExamesApoio = quantidadeApoioPorAmostras(itemApoio);\n\n  const quantidadeOriginalApoio = numeroSeguro(\n    itemApoio.quantidadeExames\n  );\n\n  resultado.push({\n    json: {\n      Paciente: pacienteApoio,\n      pacienteNormalizado: chavePaciente,\n\n      PacienteWorklab: \"\",\n      PacienteApoio: pacienteApoio,\n\n      existeNoWorklab: false,\n      existeNoApoio: true,\n\n      quantidadeExamesWorklab: 0,\n\n      // Quantidade correta: quantidade de amostras\n      quantidadeExamesApoio,\n\n      // Campos auxiliares para conferência\n      quantidadeOriginalApoio,\n      quantidadeAmostrasApoio: quantidadeExamesApoio,\n\n      diferencaQuantidade: 0 - quantidadeExamesApoio,\n\n      matchPaciente: false,\n      matchQuantidadeExames: false,\n\n      erro: true,\n      tipoDivergencia: \"PACIENTE_EXTRA_NO_APOIO\",\n      mensagem: \"Paciente existe no apoio, mas não existe no worklab\",\n\n      dadosWorklab: null,\n      dadosApoio: itemApoio\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-96],"id":"31e7a766-acbe-4648-a048-29a18cbcf7dd","name":"Code in JavaScript3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a8cf3c9e-d7d1-4df7-ada8-0b251795abf9","leftValue":"={{ $json.ultimoEventoBagApoio }}","rightValue":"Cadastro","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[624,-96],"id":"1a1d81fe-6e82-4f05-9888-8199e60c2ddb","name":"If5"},{"parameters":{"jsCode":"// ======================================================\n// EXPLODE dadosApoio.detalhesExames\n// Retorna 1 item para cada detalheExame do apoio\n// Funciona se detalhesExames vier como ARRAY ou OBJETO\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\nconst resultado = [];\n\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) return valor;\n\n  if (typeof valor === \"object\") return [valor];\n\n  return [];\n}\n\nfor (const item of itens) {\n  const dadosApoioOriginal = item.dadosApoio || {};\n\n  const detalhes = garantirArray(\n    dadosApoioOriginal.detalhesExames\n  );\n\n  // ======================================================\n  // SE NÃO TIVER detalhesExames, RETORNA O ITEM NORMAL\n  // ======================================================\n  if (detalhes.length === 0) {\n    resultado.push({\n      json: {\n        ...item,\n        indiceDetalheApoio: 0,\n        totalDetalhesApoio: 0,\n        dadosApoio: {\n          ...dadosApoioOriginal,\n          detalheExame: null\n        }\n      }\n    });\n\n    continue;\n  }\n\n  // ======================================================\n  // CRIA 1 ITEM PARA CADA detalheExame\n  // ======================================================\n  detalhes.forEach((detalhe, index) => {\n    resultado.push({\n      json: {\n        // ==============================\n        // DADOS PRINCIPAIS\n        // ==============================\n        Paciente: item.Paciente || \"\",\n        pacienteNormalizado: item.pacienteNormalizado || \"\",\n\n        PacienteWorklab: item.PacienteWorklab || \"\",\n        PacienteApoio: item.PacienteApoio || \"\",\n\n        existeNoWorklab: item.existeNoWorklab ?? false,\n        existeNoApoio: item.existeNoApoio ?? false,\n\n        quantidadeExamesWorklab: item.quantidadeExamesWorklab ?? 0,\n        quantidadeExamesApoio: item.quantidadeExamesApoio ?? 0,\n\n        diferencaQuantidade: item.diferencaQuantidade ?? 0,\n\n        matchPaciente: item.matchPaciente ?? false,\n        matchQuantidadeExames: item.matchQuantidadeExames ?? false,\n\n        erro: item.erro ?? false,\n        tipoDivergencia: item.tipoDivergencia || \"\",\n        mensagem: item.mensagem || \"\",\n\n        // ==============================\n        // CONTROLE DA EXPLOSÃO\n        // ==============================\n        indiceDetalheApoio: index + 1,\n        totalDetalhesApoio: detalhes.length,\n\n        amostraApoio: detalhe.amostra || \"\",\n        loteApoio: detalhe.lote || \"\",\n        conservacaoApoio: detalhe.conservacao || \"\",\n        pedidoApoio: detalhe.pedido || \"\",\n        pedidoAlfanumericoApoio: detalhe.pedidoAlfanumerico || \"\",\n        quantidadeExamesNaLinhaApoio: detalhe.quantidadeExamesNaLinha ?? 0,\n        ultimoEventoBagApoio: detalhe.ultimoEventoBag || \"\",\n        rowNumberOriginalApoio: detalhe.row_number_original || \"\",\n\n        // ==============================\n        // WORKLAB MANTÉM COMO VEIO\n        // ==============================\n        dadosWorklab: item.dadosWorklab || null,\n\n        // ==============================\n        // APOIO COM APENAS 1 DETALHE\n        // ==============================\n        dadosApoio: {\n          nomeRelatorio: dadosApoioOriginal.nomeRelatorio || \"\",\n          dataRelatorio: dadosApoioOriginal.dataRelatorio || \"\",\n          Paciente: dadosApoioOriginal.Paciente || \"\",\n          pacienteNormalizado: dadosApoioOriginal.pacienteNormalizado || \"\",\n          quantidadeExames: dadosApoioOriginal.quantidadeExames ?? 0,\n          origem: dadosApoioOriginal.origem || \"apoio\",\n\n          detalheExame: {\n            amostra: detalhe.amostra || \"\",\n            lote: detalhe.lote || \"\",\n            conservacao: detalhe.conservacao || \"\",\n            pedido: detalhe.pedido || \"\",\n            pedidoAlfanumerico: detalhe.pedidoAlfanumerico || \"\",\n            quantidadeExamesNaLinha: detalhe.quantidadeExamesNaLinha ?? 0,\n            ultimoEventoBag: detalhe.ultimoEventoBag || \"\",\n            row_number_original: detalhe.row_number_original || \"\"\n          }\n        }\n      }\n    });\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,-96],"id":"2a0b5c14-9bc9-4c32-b89e-966ece2c2ed1","name":"Code in JavaScript5"},{"parameters":{"content":"## Paciente existe no apoio, mas não existe no worklab","height":256,"width":784},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[128,-192],"id":"f860f90a-6a8e-4914-bc80-eb0d46ff973f","name":"Sticky Note2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1258Ud_GNBwm_cOBLiOAwJYcU7cQ3JJR9NLaI8K5TR1o","mode":"list","cachedResultName":"CONFERÊNCIA BIP APOIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1258Ud_GNBwm_cOBLiOAwJYcU7cQ3JJR9NLaI8K5TR1o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"APOIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1258Ud_GNBwm_cOBLiOAwJYcU7cQ3JJR9NLaI8K5TR1o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA RELATÓRIO":"={{ $json.dadosApoio.dataRelatorio }}","APOIO":"PARDINI","REGISTRO PARDINI":"={{ $json.dadosApoio.detalheExame.amostra }}","NOME PACIENTE APOIO":"={{ $json.PacienteApoio }}","QT EXAMES APOIO":"={{ $json.quantidadeExamesApoio }}","TIPO DIVERGÊNCIA":"={{ $json.tipoDivergencia }}","STATUS APOIO":"={{ $json.ultimoEventoBagApoio }}","MENSAGEM":"={{ $json.mensagem }}"},"matchingColumns":[],"schema":[{"id":"DATA RELATÓRIO","displayName":"DATA RELATÓRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CADASTRO","displayName":"DATA CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGISTRO WORKLAB","displayName":"REGISTRO WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME PACIENTE WORKLAB","displayName":"NOME PACIENTE WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT EXAMES WORKLAB","displayName":"QT EXAMES WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EXAMES WORKLAB","displayName":"EXAMES WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGISTRO PARDINI","displayName":"REGISTRO PARDINI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME PACIENTE APOIO","displayName":"NOME PACIENTE APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT EXAMES APOIO","displayName":"QT EXAMES APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TIPO DIVERGÊNCIA","displayName":"TIPO DIVERGÊNCIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS APOIO","displayName":"STATUS APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MATCH","displayName":"MATCH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DIF QT EXAMES","displayName":"DIF QT EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[832,-192],"id":"664f3519-56a4-41a0-af71-9d7179e971bf","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,384],"id":"d89dee39-b3cc-49c4-b17a-2b9f9b34a4d6","name":"Code in JavaScript6"},{"parameters":{"jsCode":"// ======================================================\n// EXPLODE APENAS dadosWorklab.registros\n// E RETORNA APENAS ITENS COM A MENSAGEM:\n// \"Paciente do worklab não encontrado no apoio\"\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\nconst resultado = [];\n\nconst MENSAGEM_FILTRO = \"Paciente do worklab não encontrado no apoio\";\n\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) return valor;\n\n  if (typeof valor === \"object\") return [valor];\n\n  return [];\n}\n\nfor (const item of itens) {\n  const mensagemItem = String(item.mensagem || \"\").trim();\n\n  // ======================================================\n  // FILTRA ANTES DE EXPLODIR\n  // Se a mensagem não for a desejada, ignora o item inteiro\n  // ======================================================\n  if (mensagemItem !== MENSAGEM_FILTRO) {\n    continue;\n  }\n\n  const dadosWorklabOriginal = item.dadosWorklab || null;\n\n  const registros = garantirArray(\n    dadosWorklabOriginal?.registros\n  );\n\n  // ======================================================\n  // SE NÃO TIVER REGISTROS, RETORNA O ITEM COMO ESTÁ\n  // DESDE QUE A MENSAGEM SEJA A DESEJADA\n  // ======================================================\n  if (registros.length === 0) {\n    resultado.push({\n      json: {\n        ...item,\n        indiceRegistroWorklab: 0,\n        totalRegistrosWorklab: 0,\n        dadosApoio: null\n      }\n    });\n\n    continue;\n  }\n\n  // ======================================================\n  // EXPLODE 1 ITEM PARA CADA REGISTRO DO WORKLAB\n  // ======================================================\n  registros.forEach((registro, index) => {\n    resultado.push({\n      json: {\n        Paciente: item.Paciente || \"\",\n        pacienteNormalizado: item.pacienteNormalizado || \"\",\n\n        PacienteWorklab: item.PacienteWorklab || \"\",\n        PacienteApoio: item.PacienteApoio || \"\",\n\n        existeNoWorklab: item.existeNoWorklab ?? true,\n        existeNoApoio: item.existeNoApoio ?? false,\n\n        quantidadeExamesWorklab: item.quantidadeExamesWorklab ?? 0,\n        quantidadeExamesApoio: item.quantidadeExamesApoio ?? 0,\n        diferencaQuantidade: item.diferencaQuantidade ?? 0,\n\n        matchPaciente: item.matchPaciente ?? false,\n        matchQuantidadeExames: item.matchQuantidadeExames ?? false,\n\n        erro: item.erro ?? true,\n        tipoDivergencia: item.tipoDivergencia || \"PACIENTE_NAO_ENCONTRADO_NO_APOIO\",\n        mensagem: item.mensagem || MENSAGEM_FILTRO,\n\n        indiceRegistroWorklab: index + 1,\n        totalRegistrosWorklab: registros.length,\n\n        exameWorklab: registro.Exame || \"\",\n        descricaoExameWorklab: registro[\"Descrição Exame\"] || \"\",\n        rowNumberOriginalWorklab: registro.row_number_original || \"\",\n\n        dadosWorklab: {\n          nomeRelatorio: dadosWorklabOriginal?.nomeRelatorio || \"\",\n          dataRelatorio: dadosWorklabOriginal?.dataRelatorio || \"\",\n          dataCadastro: dadosWorklabOriginal?.dataCadastro || \"\",\n          Paciente: dadosWorklabOriginal?.Paciente || \"\",\n          pacienteNormalizado: dadosWorklabOriginal?.pacienteNormalizado || \"\",\n          quantidadeExames: dadosWorklabOriginal?.quantidadeExames ?? 0,\n\n          exames: registro.Exame ? [registro.Exame] : [],\n          examesTexto: registro.Exame || \"\",\n\n          linhasOriginais: registro.row_number_original\n            ? [registro.row_number_original]\n            : [],\n\n          registros: [\n            {\n              ...registro\n            }\n          ],\n\n          origem: dadosWorklabOriginal?.origem || \"worklab\"\n        },\n\n        dadosApoio: null\n      }\n    });\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,256],"id":"c26c02a7-681f-4e40-8bf8-1ff88f1601ed","name":"Code in JavaScript7"},{"parameters":{"jsCode":"// ======================================================\n// EXPLODE WORKLAB + APOIO COM COMBINAÇÃO\n//\n// Se Worklab tiver 1 registro e Apoio tiver 2 detalhes:\n// saída = 2 itens\n// item 1: Worklab[0] + Apoio[0]\n// item 2: Worklab[0] + Apoio[1]\n//\n// Se Worklab tiver 4 registros e Apoio tiver 1 detalhe:\n// saída = 4 itens\n// item 1: Worklab[0] + Apoio[0]\n// item 2: Worklab[1] + Apoio[0]\n// item 3: Worklab[2] + Apoio[0]\n// item 4: Worklab[3] + Apoio[0]\n// ======================================================\n\nconst itens = $input.all().map(item => item.json);\n\nconst resultado = [];\n\nfunction garantirArray(valor) {\n  if (!valor) return [];\n  if (Array.isArray(valor)) return valor;\n  if (typeof valor === \"object\") return [valor];\n  return [];\n}\n\nfunction montarBase(item) {\n  return {\n    Paciente: item.Paciente || \"\",\n    pacienteNormalizado: item.pacienteNormalizado || \"\",\n\n    PacienteWorklab: item.PacienteWorklab || \"\",\n    PacienteApoio: item.PacienteApoio || \"\",\n\n    existeNoWorklab: item.existeNoWorklab ?? false,\n    existeNoApoio: item.existeNoApoio ?? false,\n\n    quantidadeExamesWorklab: item.quantidadeExamesWorklab ?? 0,\n    quantidadeExamesApoio: item.quantidadeExamesApoio ?? 0,\n    diferencaQuantidade: item.diferencaQuantidade ?? 0,\n\n    matchPaciente: item.matchPaciente ?? false,\n    matchQuantidadeExames: item.matchQuantidadeExames ?? false,\n\n    erro: item.erro ?? false,\n    tipoDivergencia: item.tipoDivergencia || \"\",\n    mensagem: item.mensagem || \"\"\n  };\n}\n\nfunction montarDadosWorklab(dadosWorklabOriginal, registro) {\n  if (!registro) return null;\n\n  return {\n    nomeRelatorio: dadosWorklabOriginal?.nomeRelatorio || \"\",\n    dataRelatorio: dadosWorklabOriginal?.dataRelatorio || \"\",\n    dataCadastro: dadosWorklabOriginal?.dataCadastro || \"\",\n    Paciente: dadosWorklabOriginal?.Paciente || \"\",\n    pacienteNormalizado: dadosWorklabOriginal?.pacienteNormalizado || \"\",\n    quantidadeExames: dadosWorklabOriginal?.quantidadeExames ?? 0,\n\n    exames: registro.Exame ? [registro.Exame] : [],\n    examesTexto: registro.Exame || \"\",\n\n    linhasOriginais: registro.row_number_original\n      ? [registro.row_number_original]\n      : [],\n\n    registros: [\n      {\n        ...registro\n      }\n    ],\n\n    origem: dadosWorklabOriginal?.origem || \"worklab\"\n  };\n}\n\nfunction montarDadosApoio(dadosApoioOriginal, detalhe) {\n  if (!detalhe) return null;\n\n  return {\n    nomeRelatorio: dadosApoioOriginal?.nomeRelatorio || \"\",\n    dataRelatorio: dadosApoioOriginal?.dataRelatorio || \"\",\n    Paciente: dadosApoioOriginal?.Paciente || \"\",\n    pacienteNormalizado: dadosApoioOriginal?.pacienteNormalizado || \"\",\n    quantidadeExames: dadosApoioOriginal?.quantidadeExames ?? 0,\n\n    exames: detalhe.quantidadeExamesNaLinha !== undefined\n      ? [String(detalhe.quantidadeExamesNaLinha)]\n      : [],\n\n    examesTexto: detalhe.quantidadeExamesNaLinha !== undefined\n      ? String(detalhe.quantidadeExamesNaLinha)\n      : \"\",\n\n    amostras: detalhe.amostra ? [detalhe.amostra] : [],\n    pedidos: detalhe.pedido ? [detalhe.pedido] : [],\n    lotes: detalhe.lote ? [detalhe.lote] : [],\n    eventosBag: detalhe.ultimoEventoBag ? [detalhe.ultimoEventoBag] : [],\n\n    linhasOriginais: detalhe.row_number_original\n      ? [detalhe.row_number_original]\n      : [],\n\n    detalhesExames: [\n      {\n        ...detalhe\n      }\n    ],\n\n    origem: dadosApoioOriginal?.origem || \"apoio\"\n  };\n}\n\nfor (const item of itens) {\n  const dadosWorklabOriginal = item.dadosWorklab || null;\n  const dadosApoioOriginal = item.dadosApoio || null;\n\n  const registrosWorklab = garantirArray(\n    dadosWorklabOriginal?.registros ||\n    dadosWorklabOriginal?.registro\n  );\n\n  const detalhesApoio = garantirArray(\n    dadosApoioOriginal?.detalhesExames ||\n    dadosApoioOriginal?.detalheExame\n  );\n\n  // ======================================================\n  // CASO 1: TEM WORKLAB E TEM APOIO\n  // Faz combinação de todos os registros Worklab\n  // com todos os detalhes Apoio.\n  // ======================================================\n  if (registrosWorklab.length > 0 && detalhesApoio.length > 0) {\n    registrosWorklab.forEach((registro, indexWorklab) => {\n      detalhesApoio.forEach((detalhe, indexApoio) => {\n        resultado.push({\n          json: {\n            ...montarBase(item),\n\n            origemExplodida: \"worklab_apoio\",\n\n            indiceRegistroWorklab: indexWorklab + 1,\n            totalRegistrosWorklab: registrosWorklab.length,\n\n            indiceDetalheApoio: indexApoio + 1,\n            totalDetalhesApoio: detalhesApoio.length,\n\n            exameWorklab: registro.Exame || \"\",\n            descricaoExameWorklab: registro[\"Descrição Exame\"] || \"\",\n            rowNumberOriginalWorklab: registro.row_number_original || \"\",\n\n            amostraApoio: detalhe.amostra || \"\",\n            loteApoio: detalhe.lote || \"\",\n            conservacaoApoio: detalhe.conservacao || \"\",\n            pedidoApoio: detalhe.pedido || \"\",\n            pedidoAlfanumericoApoio: detalhe.pedidoAlfanumerico || \"\",\n            quantidadeExamesNaLinhaApoio: detalhe.quantidadeExamesNaLinha ?? \"\",\n            ultimoEventoBagApoio: detalhe.ultimoEventoBag || \"\",\n            rowNumberOriginalApoio: detalhe.row_number_original || \"\",\n\n            dadosWorklab: montarDadosWorklab(\n              dadosWorklabOriginal,\n              registro\n            ),\n\n            dadosApoio: montarDadosApoio(\n              dadosApoioOriginal,\n              detalhe\n            )\n          }\n        });\n      });\n    });\n\n    continue;\n  }\n\n  // ======================================================\n  // CASO 2: TEM SÓ WORKLAB\n  // ======================================================\n  if (registrosWorklab.length > 0 && detalhesApoio.length === 0) {\n    registrosWorklab.forEach((registro, indexWorklab) => {\n      resultado.push({\n        json: {\n          ...montarBase(item),\n\n          origemExplodida: \"worklab\",\n\n          indiceRegistroWorklab: indexWorklab + 1,\n          totalRegistrosWorklab: registrosWorklab.length,\n\n          indiceDetalheApoio: 0,\n          totalDetalhesApoio: 0,\n\n          exameWorklab: registro.Exame || \"\",\n          descricaoExameWorklab: registro[\"Descrição Exame\"] || \"\",\n          rowNumberOriginalWorklab: registro.row_number_original || \"\",\n\n          amostraApoio: \"\",\n          loteApoio: \"\",\n          conservacaoApoio: \"\",\n          pedidoApoio: \"\",\n          pedidoAlfanumericoApoio: \"\",\n          quantidadeExamesNaLinhaApoio: \"\",\n          ultimoEventoBagApoio: \"\",\n          rowNumberOriginalApoio: \"\",\n\n          dadosWorklab: montarDadosWorklab(\n            dadosWorklabOriginal,\n            registro\n          ),\n\n          dadosApoio: null\n        }\n      });\n    });\n\n    continue;\n  }\n\n  // ======================================================\n  // CASO 3: TEM SÓ APOIO\n  // ======================================================\n  if (registrosWorklab.length === 0 && detalhesApoio.length > 0) {\n    detalhesApoio.forEach((detalhe, indexApoio) => {\n      resultado.push({\n        json: {\n          ...montarBase(item),\n\n          origemExplodida: \"apoio\",\n\n          indiceRegistroWorklab: 0,\n          totalRegistrosWorklab: 0,\n\n          indiceDetalheApoio: indexApoio + 1,\n          totalDetalhesApoio: detalhesApoio.length,\n\n          exameWorklab: \"\",\n          descricaoExameWorklab: \"\",\n          rowNumberOriginalWorklab: \"\",\n\n          amostraApoio: detalhe.amostra || \"\",\n          loteApoio: detalhe.lote || \"\",\n          conservacaoApoio: detalhe.conservacao || \"\",\n          pedidoApoio: detalhe.pedido || \"\",\n          pedidoAlfanumericoApoio: detalhe.pedidoAlfanumerico || \"\",\n          quantidadeExamesNaLinhaApoio: detalhe.quantidadeExamesNaLinha ?? \"\",\n          ultimoEventoBagApoio: detalhe.ultimoEventoBag || \"\",\n          rowNumberOriginalApoio: detalhe.row_number_original || \"\",\n\n          dadosWorklab: null,\n\n          dadosApoio: montarDadosApoio(\n            dadosApoioOriginal,\n            detalhe\n          )\n        }\n      });\n    });\n\n    continue;\n  }\n\n  // ======================================================\n  // CASO 4: NÃO TEM NADA PARA EXPLODIR\n  // ======================================================\n  resultado.push({\n    json: {\n      ...item,\n      origemExplodida: \"\",\n      indiceRegistroWorklab: 0,\n      totalRegistrosWorklab: 0,\n      indiceDetalheApoio: 0,\n      totalDetalhesApoio: 0\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,544],"id":"6a692c2f-60cd-4bb8-8b51-85757980ccad","name":"Code in JavaScript8"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1258Ud_GNBwm_cOBLiOAwJYcU7cQ3JJR9NLaI8K5TR1o","mode":"list","cachedResultName":"CONFERÊNCIA BIP APOIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1258Ud_GNBwm_cOBLiOAwJYcU7cQ3JJR9NLaI8K5TR1o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"APOIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1258Ud_GNBwm_cOBLiOAwJYcU7cQ3JJR9NLaI8K5TR1o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"MENSAGEM":"={{ $json.mensagem }}","TIPO DIVERGÊNCIA":"={{ $json.tipoDivergencia }}","DATA RELATÓRIO":"={{ $json.dadosWorklab.dataRelatorio }}","APOIO":"PARDINI","DATA CADASTRO":"={{ $json.dadosWorklab.dataCadastro }}","REGISTRO WORKLAB":"={{ $json.dadosWorklab.registros[0][\"Código\"] }}","NOME PACIENTE WORKLAB":"={{ $json.PacienteWorklab }}","QT EXAMES WORKLAB":"={{ $json.quantidadeExamesWorklab }}","EXAMES WORKLAB":"={{ $json.dadosWorklab.registros[0].Exame }}","REGISTRO PARDINI":"={{ $json.dadosApoio.detalhesExames[0].amostra }}","STATUS APOIO":"={{ $json.dadosApoio.detalhesExames[0].ultimoEventoBag }}","NOME PACIENTE APOIO":"={{ $json.PacienteApoio }}","QT EXAMES APOIO":"={{ $json.quantidadeExamesApoio }}","DIF QT EXAMES":"={{ $json.diferencaQuantidade }}","POSTO":"={{ $json.dadosWorklab.registros[0][\"Convênio Sigla\"] }}","match oficial":"={{ $json.dadosApoio.detalhesExames[0].amostra }}{{ $json.PacienteApoio }}{{ $json.dadosApoio.detalhesExames[0].ultimoEventoBag }}"},"matchingColumns":["match oficial"],"schema":[{"id":"DATA RELATÓRIO","displayName":"DATA RELATÓRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CADASTRO","displayName":"DATA CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGISTRO WORKLAB","displayName":"REGISTRO WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME PACIENTE WORKLAB","displayName":"NOME PACIENTE WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT EXAMES WORKLAB","displayName":"QT EXAMES WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EXAMES WORKLAB","displayName":"EXAMES WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGISTRO PARDINI","displayName":"REGISTRO PARDINI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME PACIENTE APOIO","displayName":"NOME PACIENTE APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT EXAMES APOIO","displayName":"QT EXAMES APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TIPO DIVERGÊNCIA","displayName":"TIPO DIVERGÊNCIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS APOIO","displayName":"STATUS APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DIF QT EXAMES","displayName":"DIF QT EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"match oficial","displayName":"match oficial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[832,544],"id":"fa5df2ac-e06f-4f1e-a2fc-f7d35e874e20","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1258Ud_GNBwm_cOBLiOAwJYcU7cQ3JJR9NLaI8K5TR1o","mode":"list","cachedResultName":"CONFERÊNCIA BIP APOIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1258Ud_GNBwm_cOBLiOAwJYcU7cQ3JJR9NLaI8K5TR1o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"APOIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1258Ud_GNBwm_cOBLiOAwJYcU7cQ3JJR9NLaI8K5TR1o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA RELATÓRIO":"={{ $json.dadosWorklab.dataRelatorio }}","DATA CADASTRO":"={{ $json.dadosWorklab.dataCadastro }}","REGISTRO WORKLAB":"={{ $json.dadosWorklab.registros[0][\"Código\"] }}","NOME PACIENTE WORKLAB":"={{ $json.PacienteWorklab }}","QT EXAMES WORKLAB":"={{ $json.quantidadeExamesWorklab }}","EXAMES WORKLAB":"={{ $json.dadosWorklab.registros[0].Exame }}","TIPO DIVERGÊNCIA":"={{ $json.tipoDivergencia }}","STATUS APOIO":"=","MENSAGEM":"={{ $json.mensagem }}","POSTO":"={{ $json.dadosWorklab.registros[0][\"Convênio Sigla\"] }}","match oficial":"={{ $json.PacienteApoio }}"},"matchingColumns":["match oficial"],"schema":[{"id":"DATA RELATÓRIO","displayName":"DATA RELATÓRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CADASTRO","displayName":"DATA CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGISTRO WORKLAB","displayName":"REGISTRO WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME PACIENTE WORKLAB","displayName":"NOME PACIENTE WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT EXAMES WORKLAB","displayName":"QT EXAMES WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EXAMES WORKLAB","displayName":"EXAMES WORKLAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REGISTRO PARDINI","displayName":"REGISTRO PARDINI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME PACIENTE APOIO","displayName":"NOME PACIENTE APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT EXAMES APOIO","displayName":"QT EXAMES APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TIPO DIVERGÊNCIA","displayName":"TIPO DIVERGÊNCIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS APOIO","displayName":"STATUS APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MENSAGEM","displayName":"MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DIF QT EXAMES","displayName":"DIF QT EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"match oficial","displayName":"match oficial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,256],"id":"6f3a9acf-2d04-4568-8a53-ffd9884e796b","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"WORKLAB","type":"main","index":0},{"node":"PARDINI","type":"main","index":0}]]},"Merge":{"main":[[{"node":"nomeDif","type":"main","index":0},{"node":"nomeOK_qtDIF","type":"main","index":0},{"node":"Code in JavaScript3","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"mover envio","type":"main","index":0},{"node":"move at&tic","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Enviar texto3","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"If":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"WORKLAB":{"main":[[{"node":"If","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"cabeçalho-W","type":"main","index":0}]]},"PARDINI":{"main":[[{"node":"If2","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"cabecalho-P","type":"main","index":0}]]},"cabeçalho-W":{"main":[[{"node":"agruparNome-W","type":"main","index":0}]]},"cabecalho-P":{"main":[[{"node":"agruparNome-P","type":"main","index":0}]]},"agruparNome-W":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"agruparNome-P":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Merge","type":"main","index":1}]]},"nomeOK_qtDIF":{"main":[[{"node":"If3","type":"main","index":0}]]},"nomeDif":{"main":[[{"node":"Code in JavaScript7","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[]]},"If3":{"main":[[{"node":"Code in JavaScript8","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"If5","type":"main","index":0}]]},"If5":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Code in JavaScript7":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Code in JavaScript8":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataErrorExecution":"all","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ec57385-aba2-4e24-a158-690eaf4554cb","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-05-11T19:27:23.144Z","createdAt":"2026-05-11T19:27:23.144Z","role":"workflow:owner","workflowId":"sWTMGwgAjCAfcYUl","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}