workflows/conferencia-at&tic-hYf50OIEsaZ2ZGSTySwD2.json
{"updatedAt":"2026-05-08T19:43:55.470Z","createdAt":"2026-05-06T03:02:42.689Z","id":"hYf50OIEsaZ2ZGSTySwD2","name":"conferencia At&tic","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1296,480],"id":"f7d594c1-b10a-4056-b7b8-f89a5ee480e7","name":"Schedule Trigger"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-896,224],"id":"04d44d58-c48f-4414-b6f9-900d36768e2e","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[-672,224],"id":"683c9536-a987-47f5-bd23-b05a40f1730b","name":"Extract text","credentials":{"mistralCloudApi":{"id":"cyqM5cxZOnbGXAsU","name":"Mistral Cloud account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyBHkZ_G5V3aNEbJs5DqNdxCaAIArW1ZnzQ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini1","type":"n8n-nodes-base.httpRequest","position":[-256,224],"id":"96bcdb64-d8a7-43cd-a744-905d7b7851f0","typeVersion":4.2,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// ----------------------------\n// DADOS DO ENVIO\n// ----------------------------\nconst nomeEnvio = $('ENVIO').first().json.name || \"\";\n\nlet posto = null;\nlet data = null;\n\n// FORMATO: RELATÓRIO ENVIO P76 DIA 04.05.2026.pdf\nconst match = nomeEnvio.match(/P(\\d+)\\s+DIA\\s+(\\d{2})[./-](\\d{2})[./-](\\d{4})/i);\n\nif (match) {\n  posto = match[1];\n  data = `${match[2]}/${match[3]}/${match[4]}`;\n}\n\n// ----------------------------\n// NORMALIZA RESPOSTA\n// ----------------------------\nresposta = String(resposta)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// ---------------------------------------------------\n// Função para extrair JSON array\n// ---------------------------------------------------\nfunction extrairJsonArray(texto) {\n  const start = texto.indexOf(\"[\");\n  const end = texto.lastIndexOf(\"]\");\n\n  if (start !== -1 && end !== -1 && end > start) {\n    return texto.substring(start, end + 1);\n  }\n\n  return null;\n}\n\nconst jsonBruto = extrairJsonArray(resposta);\n\nif (!jsonBruto) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ Nenhum array JSON encontrado na resposta\",\n      respostaBruta: resposta,\n      posto,\n      data\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(jsonBruto);\n\n  if (!Array.isArray(parsed)) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ O JSON retornado não é um array no formato esperado\",\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta,\n        posto,\n        data\n      }\n    }];\n  }\n\n  if (parsed.length === 0) {\n    return [{\n      json: {\n        sucesso: true,\n        mensagem: \"Nenhum paciente encontrado\",\n        pacientes: [],\n        _totalPacientes: 0,\n        posto,\n        data\n      }\n    }];\n  }\n\n  return parsed.map((paciente, idx) => {\n    const exames = Array.isArray(paciente.EXAMES)\n      ? paciente.EXAMES\n      : [];\n\n    let valor = paciente.VALOR ?? null;\n\n    if (typeof valor === \"string\") {\n      valor = valor\n        .replace(/[R$\\s]/g, \"\")\n        .replace(/\\./g, \"\")\n        .replace(\",\", \".\");\n\n      valor = valor === \"\" ? null : Number(valor);\n    }\n\n    return {\n      json: {\n        sucesso: true,\n        categoria: \"(+)COMPUTADOR DO POSTO\",\n\n        PACIENTE: paciente.PACIENTE ?? null,\n        EXAMES: exames,\n        EXAMES_TEXTO: exames.join(\", \"),\n        QTD_EXAMES: exames.length,\n        VALOR: valor,\n\n        posto,\n        data,\n\n        _idx: idx + 1,\n        _totalPacientes: parsed.length\n      }\n    };\n  });\n\n} catch (e) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ JSON encontrado, mas inválido\",\n      mensagem: e.message,\n      jsonExtraido: jsonBruto,\n      respostaBruta: resposta,\n      posto,\n      data\n    }\n  }];\n}"},"id":"d6c58407-ce7a-40b7-a8af-0ee04a22e679","name":"converter resposta para json1","type":"n8n-nodes-base.code","typeVersion":2,"position":[48,208]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt | Protocolo de Envio ao Laboratório\n// Entrada esperada: $input.first().json.extractedText\n// Saída: prompt pronto para enviar para a IA\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.extractedText || \"\";\n\n// -------------------------\n// 1) Normalização base\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\")\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \" \")\n  .replace(/\\t/g, \" \")\n  .replace(/[ ]{2,}/g, \" \")\n  .replace(/\\n[ ]+/g, \"\\n\")\n  .replace(/[ ]+\\n/g, \"\\n\")\n  .trim();\n\n// -------------------------\n// 2) Limpeza leve para OCR\n// -------------------------\nfunction normalizarOcr(s) {\n  let t = s;\n\n  t = t.replace(/Protocolo\\s+de\\s+Envio\\s+ao\\s+Laborat[oó]rio/gi, \"Protocolo de Envio ao Laboratório\");\n  t = t.replace(/Paciente/gi, \"Paciente\");\n  t = t.replace(/Exames/gi, \"Exames\");\n  t = t.replace(/Valor/gi, \"Valor\");\n\n  t = t.replace(/[ ]{2,}/g, \" \").trim();\n\n  return t;\n}\n\nconst conteudoLimpo = normalizarOcr(texto);\n\n// -------------------------\n// 3) Nome do arquivo, se existir\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  item?.json?.fileName ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// 4) Conteúdo final enviado ao modelo\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoLimpo}\"\"\"`;\n\n// =======================================================\n// 5) Prompt\n// =======================================================\nconst prompt = `\nVocê é um especialista em extração de dados de documentos textuais.\n\nSua tarefa é analisar o texto OCR fornecido abaixo, identificar a tabela de \"Protocolo de Envio ao Laboratório\" e extrair as informações de forma estruturada.\n\nRETORNE APENAS JSON VÁLIDO.\nNão use markdown.\nNão escreva explicações.\nNão escreva texto fora do JSON.\nNão invente pacientes.\nNão duplique pacientes.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\n[\n  {\n    \"PACIENTE\": \"NOME COMPLETO DO PACIENTE\",\n    \"EXAMES\": [\"CODIGO1\", \"CODIGO2\"],\n    \"VALOR\": 99.10\n  }\n]\n\nREGRAS DE EXTRAÇÃO:\n\n1) PACIENTE\n- Extraia o nome completo do paciente.\n- Preserve o nome em letras maiúsculas, se estiver assim no documento.\n- Não confunda nome de paciente com cabeçalho, laboratório, posto, data ou observações.\n\n2) EXAMES\n- Extraia todos os códigos de exames do paciente.\n- Os exames podem aparecer separados por vírgula.\n- Os códigos podem vir acompanhados de valores entre colchetes.\n- Ignore tudo que estiver entre colchetes.\n- Exemplo:\n  \"25OHD [20,00], B12 [15,00], TSH [10,00]\"\n  deve retornar:\n  [\"25OHD\", \"B12\", \"TSH\"]\n\n3) VALOR\n- Extraia o valor total do paciente na coluna \"Valor\".\n- Retorne como número decimal JSON.\n- Se o valor estiver no formato brasileiro, converta:\n  \"99,10\" -> 99.10\n  \"1.234,56\" -> 1234.56\n\n4) INCLUSÃO\n- Extraia todos os pacientes presentes na tabela.\n- Inclua pacientes mesmo que tenham apenas um exame.\n- Se não encontrar pacientes, retorne [].\n\n5) VALIDAÇÃO\n- A saída deve ser um array JSON válido.\n- Não coloque comentários.\n- Não coloque vírgula sobrando.\n- Não retorne objeto com chave \"dados\"; retorne diretamente o array.\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n`.trim();\n\n// =======================================================\n// 6) Retorno para o modelo\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: prompt,\n          },\n        ],\n      },\n    ],\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,224],"id":"1d822b94-04c8-4465-9e00-180a6316c2a9","name":"Code1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-896,624],"id":"6e5bcdfd-525a-4229-83d0-d726b37925ea","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[-672,624],"id":"8def10e0-6ce2-4d53-81ee-41f10601f643","name":"Extract text1","credentials":{"mistralCloudApi":{"id":"cyqM5cxZOnbGXAsU","name":"Mistral Cloud account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyBHkZ_G5V3aNEbJs5DqNdxCaAIArW1ZnzQ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini","type":"n8n-nodes-base.httpRequest","position":[-256,624],"id":"eb33b3f1-f783-45e3-879b-a46c4b64f12b","typeVersion":4.2,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Normaliza\nresposta = String(resposta)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// ---------------------------------------------------\n// Função para extrair JSON array\n// ---------------------------------------------------\nfunction extrairJsonArray(texto) {\n  const start = texto.indexOf(\"[\");\n  const end = texto.lastIndexOf(\"]\");\n\n  if (start !== -1 && end !== -1 && end > start) {\n    return texto.substring(start, end + 1);\n  }\n\n  return null;\n}\n\nconst jsonBruto = extrairJsonArray(resposta);\n\nif (!jsonBruto) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ Nenhum array JSON encontrado na resposta\",\n      respostaBruta: resposta\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(jsonBruto);\n\n  if (!Array.isArray(parsed)) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ O JSON retornado não é um array no formato esperado\",\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta\n      }\n    }];\n  }\n\n  if (parsed.length === 0) {\n    return [{\n      json: {\n        sucesso: true,\n        mensagem: \"Nenhum paciente encontrado\",\n        pacientes: [],\n        _totalPacientes: 0\n      }\n    }];\n  }\n\n  return parsed.map((paciente, idx) => {\n    const exames = Array.isArray(paciente.EXAMES)\n      ? paciente.EXAMES\n      : [];\n\n    let valor = paciente.VALOR ?? null;\n\n    if (typeof valor === \"string\") {\n      valor = valor\n        .replace(/[R$\\s]/g, \"\")\n        .replace(/\\./g, \"\")\n        .replace(\",\", \".\");\n\n      valor = valor === \"\" ? null : Number(valor);\n    }\n\n    return {\n      json: {\n        sucesso: true,\n        categoria: \"(+)COMPUTADOR DO POSTO\",\n\n        PACIENTE: paciente.PACIENTE ?? null,\n        EXAMES: exames,\n        EXAMES_TEXTO: exames.join(\", \"),\n        QTD_EXAMES: exames.length,\n        VALOR: valor,\n\n        _idx: idx + 1,\n        _totalPacientes: parsed.length\n      }\n    };\n  });\n\n} catch (e) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ JSON encontrado, mas inválido\",\n      mensagem: e.message,\n      jsonExtraido: jsonBruto,\n      respostaBruta: resposta\n    }\n  }];\n}"},"id":"cb75a1c9-2f3f-4723-affb-56bad7287fe3","name":"converter resposta para json","type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,624]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt | Relatório de Motoqueiros / Exames\n// Entrada esperada: $input.first().json.extractedText\n// Saída: prompt pronto para enviar para a IA\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.extractedText || \"\";\n\n// -------------------------\n// 1) Normalização base\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\")\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \" \")\n  .replace(/\\t/g, \" \")\n  .replace(/[ ]{2,}/g, \" \")\n  .replace(/\\n[ ]+/g, \"\\n\")\n  .replace(/[ ]+\\n/g, \"\\n\")\n  .trim();\n\n// -------------------------\n// 2) Limpeza leve para OCR\n// -------------------------\nfunction normalizarOcr(s) {\n  return String(s || \"\")\n    .replace(/Relat[oó]rio\\s+de\\s+Motoqueiros/gi, \"Relatório de Motoqueiros\")\n    .replace(/Paciente/gi, \"Paciente\")\n    .replace(/Exames?/gi, \"Exame\")\n    .replace(/[ ]{2,}/g, \" \")\n    .trim();\n}\n\nconst conteudoLimpo = normalizarOcr(texto);\n\n// -------------------------\n// 3) Nome do arquivo, se existir\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  item?.json?.fileName ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// 4) Conteúdo final enviado ao modelo\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoLimpo}\"\"\"`;\n\n// =======================================================\n// 5) Prompt\n// =======================================================\nconst prompt = `\nVocê é um especialista em extração de dados de documentos textuais.\n\nSua tarefa é analisar o texto OCR fornecido abaixo e extrair os dados da tabela de exames.\n\nRETORNE APENAS JSON VÁLIDO.\nNão use markdown.\nNão escreva explicações.\nNão escreva texto fora do JSON.\nNão invente pacientes.\nNão duplique pacientes.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\n[\n  {\n    \"PACIENTE\": \"NOME COMPLETO DO PACIENTE\",\n    \"EXAMES\": [\"EXAME1\", \"EXAME2\"],\n    \"VALOR\": null\n  }\n]\n\nREGRAS DE EXTRAÇÃO:\n\n1) PACIENTE\n- Extraia o nome completo do paciente.\n- O nome geralmente está na coluna anterior aos exames.\n- Ignore cabeçalhos como LABOVIDA, Relatório, datas, códigos numéricos e linhas de separação.\n\n2) EXAMES\n- Os exames aparecem imediatamente após o nome do paciente na mesma linha da tabela.\n- A linha geralmente segue este padrão:\n  | DATA | CODIGO | PACIENTE | EXAMES |\n- Tudo que estiver na coluna após o PACIENTE deve ser tratado como lista de exames.\n- Se houver mais de um exame separado por espaço, retorne cada exame separado no array.\n- Exemplo:\n  | 04/05/2026 | 3568082 | MURILO HENRIQUE GONÇALVES ASFORA | TESTO TTL |\n  Resultado:\n  \"EXAMES\": [\"TESTO\", \"TTL\"]\n- Exemplo:\n  | 04/05/2026 | 3568070 | ALINE CARLA SOUZA COSTA DE LIRA | HEMO TGO TGP TRI TTPA |\n  Resultado:\n  \"EXAMES\": [\"HEMO\", \"TGO\", \"TGP\", \"TRI\", \"TTPA\"]\n- Se o exame for composto por várias palavras, mantenha como um único exame somente quando for claramente um nome composto de exame.\n  Exemplo:\n  \"PARASITOLOGICO DE FEZES\" deve virar:\n  [\"PARASITOLOGICO DE FEZES\"]\n- Não junte exames diferentes.\n- Não transforme nem interprete os códigos.\n- Não invente exames.\n\n3) VALOR\n- Se não existir valor no texto, retorne null.\n- Não invente valores.\n\n4) INCLUSÃO\n- Extraia todos os pacientes encontrados.\n- Se não encontrar pacientes, retorne [].\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n`.trim();\n\n// =======================================================\n// 6) Retorno para o modelo\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: prompt\n          }\n        ]\n      }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,624],"id":"ba502c7d-3a90-457d-9f4a-656a4831f0dd","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[240,448],"id":"278c338f-8abe-4b7b-9737-68a29cbcbb88","name":"Merge"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1bEiEy1m0-zcYYefCuDCP-smS5DTOo3u9' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1072,624],"id":"530bce79-df40-4b10-a7f1-71d3aca2fd7d","name":"AT&TIC","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1ktinnW0TcQEiQvbv8GBqn4nyDgiXD_Wu' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1072,224],"id":"17ec8a12-4f0d-4e23-84b2-7fa99d9bfe03","name":"ENVIO","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"jsCode":"function normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction palavrasDoNome(nome) {\n  return normalizarTexto(nome)\n    .split(\" \")\n    .filter(p => p.length >= 2);\n}\n\n// Conta palavras iguais SOMENTE na mesma posição/sequência\nfunction contarPalavrasIguaisNaSequencia(nome1, nome2) {\n  const palavras1 = palavrasDoNome(nome1);\n  const palavras2 = palavrasDoNome(nome2);\n\n  let iguaisNaSequencia = 0;\n  const menorTamanho = Math.min(palavras1.length, palavras2.length);\n\n  for (let i = 0; i < menorTamanho; i++) {\n    if (palavras1[i] === palavras2[i]) {\n      iguaisNaSequencia++;\n    } else {\n      break;\n    }\n  }\n\n  return iguaisNaSequencia;\n}\n\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) return valor;\n\n  if (typeof valor === \"string\") {\n    return valor\n      .split(/,|;|\\n/)\n      .map(v => v.trim())\n      .filter(v => v);\n  }\n\n  return [valor];\n}\n\nconst posto = $input.first().json.posto || \"\";\nconst data = $input.first().json.data || \"\";\n\nconst input1 = $items(\"converter resposta para json1\").map(item => item.json);\nconst input2 = $items(\"converter resposta para json\").map(item => item.json);\n\nconst resultado = [];\n\nfor (const item1 of input1) {\n  const pacienteInput1 = item1.PACIENTE || \"\";\n  const examesInput1 = garantirArray(item1.EXAMES);\n\n  let melhorMatch = null;\n  let maiorQtdPalavrasIguais = 0;\n\n  for (const item2 of input2) {\n    const pacienteInput2 = item2.PACIENTE || \"\";\n\n    const qtdPalavrasIguais = contarPalavrasIguaisNaSequencia(\n      pacienteInput1,\n      pacienteInput2\n    );\n\n    if (qtdPalavrasIguais > maiorQtdPalavrasIguais) {\n      maiorQtdPalavrasIguais = qtdPalavrasIguais;\n      melhorMatch = item2;\n    }\n  }\n\n  const matchPaciente = Boolean(melhorMatch && maiorQtdPalavrasIguais >= 3);\n\n  const pacienteInput2Encontrado = matchPaciente\n    ? melhorMatch.PACIENTE || \"\"\n    : \"\";\n\n  const examesInput2 = matchPaciente\n    ? garantirArray(melhorMatch.EXAMES)\n    : [];\n\n  const examesInput1Norm = examesInput1.map(normalizarTexto);\n  const examesInput2Norm = examesInput2.map(normalizarTexto);\n\n  const examesFaltando = examesInput1.filter(exame =>\n    !examesInput2Norm.includes(normalizarTexto(exame))\n  );\n\n  const examesExtras = examesInput2.filter(exame =>\n    !examesInput1Norm.includes(normalizarTexto(exame))\n  );\n\n  const matchExames =\n    Boolean(matchPaciente) &&\n    examesFaltando.length === 0 &&\n    examesExtras.length === 0;\n\n  resultado.push({\n    json: {\n      posto,\n      data,\n\n      PACIENTE_INPUT1: pacienteInput1,\n      PACIENTE_INPUT2: pacienteInput2Encontrado,\n\n      matchPaciente,\n      palavrasIguaisPaciente: maiorQtdPalavrasIguais,\n\n      matchExames,\n\n      quantidadeExamesInput1: examesInput1.length,\n      quantidadeExamesInput2: examesInput2.length,\n\n      examesInput1,\n      examesInput2,\n\n      examesFaltandoNoInput2: examesFaltando,\n      examesExtrasNoInput2: examesExtras,\n\n      erro: !matchExames,\n\n      mensagem: matchExames\n        ? \"Paciente e exames estão exatamente iguais\"\n        : matchPaciente\n          ? \"Paciente encontrado, mas há divergência entre os exames\"\n          : \"Paciente não encontrado com pelo menos 3 palavras iguais na mesma sequência\"\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,448],"id":"abd177d4-035d-4530-bffa-5ca40732a02d","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,448],"id":"bde37f46-2120-4e78-ab25-48eac0279799","name":"Loop Over Items"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive3').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1168,496],"id":"bd560b75-a121-4c11-a368-f31805d66ba4","name":"move at&tic","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1152,288],"id":"ebb6ca48-e47f-4332-9847-8f032e8fa30f","name":"mover envio","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $now.setZone('America/Recife').toFormat('dd/LL/yyyy') }}","NOME PACIENTE ENVIO":"={{ $json.PACIENTE_INPUT1 }}","NOME PACIENTE AT&TIC":"={{ $json.PACIENTE_INPUT2 }}","EXAMES ENVIO":"={{ $json.examesInput1 }}","EXAMES AT&TIC":"={{ $json.examesInput2 }}","EXAMES FALTANDO NO AT&TIC":"={{ $json.examesFaltandoNoInput2 }}","EXAMES A MAIS NO AT&TIC":"={{ $json.examesExtrasNoInput2 }}","POSTO":"={{ $json.posto }}","ERRO NOME":"={{ $json.matchPaciente }}","ERRO EXAMES":"={{ $json.matchExames }}","MENSAGEM ENVIADA":"NÃO"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,448],"id":"9223427b-376b-4976-85c3-cafd519d1587","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-624,960],"id":"8b8708c3-c073-4ecb-b631-b7dd60a98c06","name":"Loop Over Items3"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[32,976],"id":"a8dd0540-efab-4087-a797-be01efa240bc"},{"parameters":{"documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"CORRIGIR","lookupValue":"CADASTRO PRECISA DE ATENÇÃO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1056,976],"id":"d052c3ec-33e7-4ca6-9c05-38e18bac6115","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=5581986587496","messageText":"=O paciente abaixo precisa de atenção porque existe divergência no cadastro:\n\n{{ $json['NOME PACIENTE ENVIO'] }}\n\nObservar:\n{{ $json.CADASTRO }}-{{ $json.CORRIGIR }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-384,976],"id":"a9292b17-7c9f-4a59-a1e1-984333ea10fb","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If1').item.json.row_number }}","MENSAGEM ENVIADA":"MENSAGEM ENVIADA"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-176,976],"id":"3d679a93-2fa6-435b-84ff-3f458751fabb","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1b5d49e8-fc16-43df-a219-13192929481e","leftValue":"={{ $json['MENSAGEM ENVIADA'] }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-880,976],"id":"520f51eb-d4c9-4072-98e7-6b03ea61b548","name":"If1"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"={{ $json.CADASTRO }}-{{ $json.CORRIGIR }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[304,928],"id":"e8fc3141-71d6-4c22-80dc-c082ef0c7823","name":"Enviar texto","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"ENVIO","type":"main","index":0},{"node":"AT&TIC","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text","type":"main","index":0}]]},"Analisar Gemini1":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}]]},"Extract text":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[]]},"Google Drive3":{"main":[[{"node":"Extract text1","type":"main","index":0}]]},"Extract text1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Analisar Gemini":{"main":[[{"node":"converter resposta para json","type":"main","index":0}]]},"Code":{"main":[[{"node":"Analisar Gemini","type":"main","index":0}]]},"converter resposta para json1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"converter resposta para json":{"main":[[{"node":"Merge","type":"main","index":1}]]},"AT&TIC":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"ENVIO":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"mover envio","type":"main","index":0},{"node":"move at&tic","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Enviar texto3","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w"},"staticData":null,"meta":null,"pinData":{},"versionId":"fd8876d1-400f-4baa-8703-202b4fa6eb4c","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-05-06T03:02:42.689Z","createdAt":"2026-05-06T03:02:42.689Z","role":"workflow:owner","workflowId":"hYf50OIEsaZ2ZGSTySwD2","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}