workflows/conferencia-at&tic-LMHF9RcGZ4L0rblV.json
{"updatedAt":"2026-05-27T20:04:26.161Z","createdAt":"2026-05-13T22:20:31.844Z","id":"LMHF9RcGZ4L0rblV","name":"conferencia At&tic","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 8-17 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-192,-752],"id":"e95ef940-5897-43a2-88ec-3cb049ec4c91","name":"Schedule Trigger"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[176,-752],"id":"15a22491-33c8-42d5-ac72-c8889c58bafc","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1ktinnW0TcQEiQvbv8GBqn4nyDgiXD_Wu' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[16,-752],"id":"8963e55b-41c8-4f12-b0b2-037116c037ea","name":"ENVIO","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"jsCode":"// ======================================================\n// EXTRATOR OCR - RECIBO DE PAGAMENTO AO MEDICO\n// ✅ Lê retorno do OCR/Mistral\n// ✅ Extrai pacientes da tabela markdown\n// ✅ Corrige tabela com coluna vazia entre Procedimentos e Convênio\n// ✅ Retorna no padrão para comparação com COMPUTADOR DO POSTO\n// ======================================================\n\nconst entrada = $input.first().json;\nconst input = Array.isArray(entrada) ? entrada[0] : entrada;\n\n// ======================================================\n// 1. PEGA NOME DO ARQUIVO\n// ======================================================\n\nlet nomeArquivo = \"\";\n\ntry {\n  nomeArquivo = String($(\"ENVIO\").first().json.name || \"\");\n} catch (e) {\n  nomeArquivo = String(input.name || input.fileName || \"\");\n}\n\n// ======================================================\n// 2. PEGA TEXTO OCR\n// ======================================================\n\nconst partesTexto = [];\n\nif (input.markdown) partesTexto.push(String(input.markdown));\nif (input.extractedText) partesTexto.push(String(input.extractedText));\nif (input.text) partesTexto.push(String(input.text));\nif (input.output) partesTexto.push(String(input.output));\nif (input.response) partesTexto.push(String(input.response));\n\nif (Array.isArray(input.pages)) {\n  for (const p of input.pages) {\n    if (p.markdown) partesTexto.push(String(p.markdown));\n    if (p.text) partesTexto.push(String(p.text));\n  }\n}\n\nconst textoOCR = partesTexto\n  .filter(Boolean)\n  .join(\"\\n\")\n  .replace(/\\\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\");\n\nif (!textoOCR.trim()) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Nenhum texto OCR encontrado.\",\n        nomeArquivo\n      }\n    }\n  ];\n}\n\n// ======================================================\n// 3. FUNÇÕES AUXILIARES\n// ======================================================\n\nfunction limpar(valor) {\n  return String(valor ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\t/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizar(valor) {\n  return limpar(valor)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .trim();\n}\n\nfunction converterValor(valor) {\n  let v = limpar(valor);\n\n  if (!v) return 0;\n\n  v = v\n    .replace(/R\\$/gi, \"\")\n    .replace(/[^\\d.,-]/g, \"\")\n    .trim();\n\n  if (!v) return 0;\n\n  if (/^\\d{1,3}(\\.\\d{3})*,\\d{2}$/.test(v)) {\n    v = v.replace(/\\./g, \"\").replace(\",\", \".\");\n  } else {\n    v = v.replace(\",\", \".\");\n  }\n\n  const numero = Number(v);\n  return Number.isFinite(numero) ? numero : 0;\n}\n\nfunction extrairPosto(nome, texto) {\n  const fonte = `${nome || \"\"}\\n${texto || \"\"}`;\n\n  let m = fonte.match(/\\bP\\s*0*(\\d{1,5})\\b/i);\n  if (m) return m[1];\n\n  m = fonte.match(/\\bPOSTO\\s*0*(\\d{1,5})\\b/i);\n  if (m) return m[1];\n\n  return \"\";\n}\n\nfunction extrairDataArquivoOuTexto(nome, texto) {\n  const fonte = `${nome || \"\"}\\n${texto || \"\"}`;\n\n  let m = fonte.match(/\\b(\\d{2})\\/(\\d{2})\\/(\\d{4})\\b/);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  m = fonte.match(/\\b(\\d{2})\\.(\\d{2})\\.(\\d{4})\\b/);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  m = fonte.match(/\\b(\\d{2})-(\\d{2})-(\\d{4})\\b/);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  return \"\";\n}\n\nfunction extrairMedico(texto) {\n  const m = texto.match(/M[eé]dico:\\s*([^\\n\\r]+)/i);\n  return m ? limpar(m[1]).toUpperCase() : \"\";\n}\n\nfunction extrairNumeroRecibo(texto) {\n  const m = texto.match(/Recibo\\s+nr\\.?\\s*([0-9]+)/i);\n  return m ? limpar(m[1]) : \"\";\n}\n\nfunction extrairDataCaixa(texto) {\n  const m = texto.match(/Data\\s+do\\s+Caixa:\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/i);\n  return m ? limpar(m[1]) : \"\";\n}\n\nfunction extrairDataPagamento(texto) {\n  const m = texto.match(/Data\\s+de\\s+Pagamento:\\s*(\\d{2}\\/\\d{2}\\/\\d{4})\\s+(\\d{2}:\\d{2})h?/i);\n\n  return {\n    dataPagamento: m ? limpar(m[1]) : \"\",\n    horaPagamento: m ? limpar(m[2]) : \"\"\n  };\n}\n\nfunction extrairFormaPagamento(texto) {\n  const m = texto.match(/Forma\\s+de\\s+Pagamento:\\s*([^\\n\\r]+)/i);\n  return m ? limpar(m[1]).toUpperCase() : \"\";\n}\n\nfunction separarProcedimentos(textoProcedimentos) {\n  const texto = limpar(textoProcedimentos);\n\n  if (!texto) return [];\n\n  const procedimentos = [];\n  let atual = \"\";\n  let nivelParenteses = 0;\n\n  for (let i = 0; i < texto.length; i++) {\n    const char = texto[i];\n\n    if (char === \"(\") {\n      nivelParenteses++;\n      atual += char;\n      continue;\n    }\n\n    if (char === \")\") {\n      nivelParenteses = Math.max(0, nivelParenteses - 1);\n      atual += char;\n      continue;\n    }\n\n    if (char === \",\" && nivelParenteses === 0) {\n      const proc = limpar(atual);\n      if (proc) procedimentos.push(proc.toUpperCase());\n      atual = \"\";\n      continue;\n    }\n\n    atual += char;\n  }\n\n  const ultimo = limpar(atual);\n  if (ultimo) procedimentos.push(ultimo.toUpperCase());\n\n  return procedimentos.filter(Boolean);\n}\n\nfunction ehLinhaSeparadora(cols) {\n  return cols.every(c => /^-+$/.test(limpar(c).replace(/\\s/g, \"\")));\n}\n\nfunction ehLinhaCabecalho(cols) {\n  const junta = normalizar(cols.join(\" \"));\n  return (\n    junta.includes(\"ATEND\") ||\n    junta.includes(\"PACIENTE\") ||\n    junta.includes(\"PROCEDIMENTOS\") ||\n    junta.includes(\"CONVENIO\") ||\n    junta.includes(\"VALOR MEDICO\")\n  );\n}\n\nfunction ehNomePaciente(valor) {\n  const texto = limpar(valor);\n  const n = normalizar(texto);\n\n  if (!texto || texto.length < 5) return false;\n  if (/\\d/.test(texto)) return false;\n\n  const bloqueados = [\n    \"PACIENTE\",\n    \"TOTAL\",\n    \"TAXAS\",\n    \"LANCAMENTO\",\n    \"ATEND\",\n    \"PROCEDIMENTOS\",\n    \"CONVENIO\",\n    \"VALOR MEDICO\",\n    \"QTD VOLTA\",\n    \"QTD ATEND\"\n  ];\n\n  return !bloqueados.some(p => n.includes(p));\n}\n\nfunction extrairDadosLinhaRecibo(cols) {\n  let c = cols.map(limpar);\n\n  if (c[0] === \"\") c.shift();\n  if (c[c.length - 1] === \"\") c.pop();\n\n  if (ehLinhaSeparadora(c)) return null;\n  if (ehLinhaCabecalho(c)) return null;\n\n  // Remove colunas vazias criadas pelo OCR/markdown\n  c = c.filter((valor, idx) => {\n    // mantém primeira coluna mesmo se vier estranha, mas remove vazios do meio\n    return limpar(valor) !== \"\";\n  });\n\n  if (c.length < 5) return null;\n\n  const atendimento = limpar(c[0]);\n  const paciente = limpar(c[1]);\n  const procedimentos = limpar(c[2]);\n\n  // Convênio e valor ficam nas duas últimas colunas\n  const convenio = limpar(c[c.length - 2]);\n  const valorTexto = limpar(c[c.length - 1]);\n\n  if (!/^\\d+$/.test(atendimento)) return null;\n  if (!ehNomePaciente(paciente)) return null;\n  if (!procedimentos) return null;\n  if (!convenio) return null;\n  if (!valorTexto) return null;\n\n  return {\n    atendimento,\n    paciente: paciente.toUpperCase(),\n    procedimentos,\n    convenio: convenio.toUpperCase(),\n    valorTexto,\n    valor: converterValor(valorTexto)\n  };\n}\n\n// ======================================================\n// 4. DADOS GERAIS\n// ======================================================\n\nconst medico = extrairMedico(textoOCR);\nconst numeroRecibo = extrairNumeroRecibo(textoOCR);\nconst dataCaixa = extrairDataCaixa(textoOCR);\nconst { dataPagamento, horaPagamento } = extrairDataPagamento(textoOCR);\nconst formaPagamento = extrairFormaPagamento(textoOCR);\n\nconst posto = extrairPosto(nomeArquivo, textoOCR);\nconst data = dataCaixa || dataPagamento || extrairDataArquivoOuTexto(nomeArquivo, textoOCR);\n\n// ======================================================\n// 5. EXTRAI PACIENTES DA TABELA\n// ======================================================\n\nconst linhas = textoOCR\n  .split(/\\n+/)\n  .map(l => limpar(l))\n  .filter(Boolean);\n\nconst pacientes = [];\n\nfor (const linha of linhas) {\n  if (!linha.includes(\"|\")) continue;\n\n  let cols = linha.split(\"|\").map(c => limpar(c));\n\n  const dados = extrairDadosLinhaRecibo(cols);\n  if (!dados) continue;\n\n  const exames = separarProcedimentos(dados.procedimentos);\n  if (exames.length === 0) continue;\n\n  pacientes.push({\n    atendimento: dados.atendimento,\n    PACIENTE: dados.paciente,\n    EXAMES: exames,\n    EXAMES_TEXTO: exames.join(\", \"),\n    QTD_EXAMES: exames.length,\n    CONVENIO: dados.convenio,\n    VALOR: dados.valor,\n    valorLinha: dados.valorTexto\n  });\n}\n\n// ======================================================\n// 6. SE NÃO ENCONTRAR PACIENTES\n// ======================================================\n\nif (pacientes.length === 0) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Nenhum paciente foi extraído da tabela do recibo.\",\n        medico,\n        numeroRecibo,\n        posto,\n        data,\n        dataCaixa,\n        dataPagamento,\n        horaPagamento,\n        formaPagamento,\n        nomeArquivo,\n        debug: {\n          totalLinhas: linhas.length,\n          linhasComPipe: linhas.filter(l => l.includes(\"|\")).length,\n          primeirasLinhasComPipe: linhas.filter(l => l.includes(\"|\")).slice(0, 15),\n          textoOCRInicio: textoOCR.slice(0, 1500)\n        }\n      }\n    }\n  ];\n}\n\n// ======================================================\n// 7. RETORNO FINAL NO PADRÃO DE COMPARAÇÃO\n// ======================================================\n\nreturn pacientes.map((p, index) => ({\n  json: {\n    sucesso: true,\n    categoria: \"RECIBO DE PAGAMENTO AO MEDICO\",\n\n    PACIENTE: p.PACIENTE,\n    EXAMES: p.EXAMES,\n    EXAMES_TEXTO: p.EXAMES_TEXTO,\n    QTD_EXAMES: p.QTD_EXAMES,\n    VALOR: p.VALOR,\n\n    posto,\n    data,\n\n    codIntegracao: \"\",\n    codAtend: p.atendimento,\n\n    medico,\n    numeroRecibo,\n    dataCaixa,\n    dataPagamento,\n    horaPagamento,\n    formaPagamento,\n    convenio: p.CONVENIO,\n    valorLinha: p.valorLinha,\n\n    _idx: index + 1,\n    _totalPacientes: pacientes.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,-1008],"id":"c79a858e-8ed2-4c56-a1de-3a75c5be4a7b","name":"Code in JavaScript4"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1872,-656],"id":"eb811661-c93d-4b14-9142-2c6a39442b29","name":"Merge2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[720,-1008],"id":"0fa142cc-3966-40ce-9981-a8d6edd28538","name":"Extract text2","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[608,-464],"id":"2848551b-d61e-4dce-b192-368f08a87612","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[832,-464],"id":"51673b99-a0bc-4a9b-a3c6-4e8299fdd5d8","name":"Extract text3","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1bEiEy1m0-zcYYefCuDCP-smS5DTOo3u9' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[432,-464],"id":"65377cba-bc66-49ed-889c-12bd3d50542a","name":"AT&TIC1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"jsCode":"// ======================================================\n// EXTRATOR OCR - RELATÓRIO DE MOTOQUEIROS / LABOVIDA\n// ✅ Retorna 1 item por paciente\n// ✅ Categoria fixa: (+)COMPUTADOR DO POSTO\n// ✅ Extrai: posto, data, codigo, paciente, exames\n// ✅ Funciona com tabela markdown com | e também com texto solto sem |\n// ✅ Corrige BHCG, AHCV e CTFT\n// ✅ VALOR sempre 0\n// ======================================================\n\nconst input = $input.first().json;\n\n// ======================================================\n// 1. PEGA NOME DO ARQUIVO\n// ======================================================\n\nlet nomeArquivo = \"\";\n\ntry {\n  nomeArquivo = String($(\"ENVIO\").first().json.name || \"\");\n} catch (e) {\n  nomeArquivo = String(input.name || input.fileName || \"\");\n}\n\n// ======================================================\n// 2. PEGA TEXTO OCR\n// ======================================================\n\nconst partesTexto = [];\n\nif (input.markdown) partesTexto.push(String(input.markdown));\nif (input.extractedText) partesTexto.push(String(input.extractedText));\nif (input.text) partesTexto.push(String(input.text));\n\nif (Array.isArray(input.pages)) {\n  for (const p of input.pages) {\n    if (p.markdown) partesTexto.push(String(p.markdown));\n    if (p.text) partesTexto.push(String(p.text));\n  }\n}\n\nlet textoOCR = partesTexto\n  .filter(Boolean)\n  .join(\"\\n\")\n  .replace(/\\\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\");\n\nif (!textoOCR.trim()) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Nenhum texto OCR encontrado.\",\n        nomeArquivo\n      }\n    }\n  ];\n}\n\n// ======================================================\n// 3. FUNÇÕES AUXILIARES\n// ======================================================\n\nfunction limpar(valor) {\n  return String(valor ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\t/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizar(valor) {\n  return limpar(valor)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .trim();\n}\n\nfunction extrairPosto(nomeArquivo, texto) {\n  const fonte = `${nomeArquivo || \"\"}\\n${texto || \"\"}`;\n\n  let m = fonte.match(/\\bP\\s*0*(\\d{1,5})\\b/i);\n  if (m) return m[1];\n\n  m = fonte.match(/\\bPOSTO\\s*0*(\\d{1,5})\\b/i);\n  if (m) return m[1];\n\n  return \"\";\n}\n\nfunction extrairData(nomeArquivo, texto) {\n  const fonte = `${nomeArquivo || \"\"}\\n${texto || \"\"}`;\n\n  let m = fonte.match(/\\b(\\d{2})\\.(\\d{2})\\.(\\d{4})\\b/);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  m = fonte.match(/\\b(\\d{2})\\/(\\d{2})\\/(\\d{4})\\b/);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  m = fonte.match(/\\b(\\d{2})-(\\d{2})-(\\d{4})\\b/);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  return \"\";\n}\n\nfunction ehDataBR(valor) {\n  return /^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(limpar(valor));\n}\n\nfunction ehCodigo(valor) {\n  return /^\\d{5,}$/.test(limpar(valor));\n}\n\nfunction removerColchetes(texto) {\n  return String(texto || \"\")\n    .replace(/\\[[^\\]]*]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction ehNomePaciente(valor) {\n  const texto = limpar(valor);\n  const n = normalizar(texto);\n\n  if (!texto) return false;\n  if (texto.length < 5) return false;\n  if (/\\d/.test(texto)) return false;\n\n  const bloqueados = [\n    \"LABOVIDA\",\n    \"RELATORIO\",\n    \"RELATÓRIO\",\n    \"MOTOQUEIROS\",\n    \"RESUMO\",\n    \"PACIENTES\",\n    \"PACIENTE\",\n    \"EXAME\",\n    \"EXAMES\",\n    \"USUARIO\",\n    \"USUÁRIO\",\n    \"DATA DE IMPRESSAO\",\n    \"DATA DE IMPRESSÃO\",\n    \"CODIGO\",\n    \"CÓDIGO\"\n  ];\n\n  return !bloqueados.some(b => n.includes(normalizar(b)));\n}\n\n// ======================================================\n// 4. SIGLAS DE EXAMES\n// ======================================================\n\nconst SIGLAS_EXAMES = [\n  \"25OHD\",\n  \"AUR\",\n  \"B12\",\n  \"CA\",\n  \"CRE\",\n  \"CTF\",\n  \"CTFT\",\n  \"GLIS\",\n  \"HB1AC\",\n  \"HBA1C\",\n  \"HP\",\n  \"IONO\",\n  \"SU\",\n  \"TRI\",\n  \"TSH\",\n  \"URE\",\n  \"COAGU\",\n  \"HEMO\",\n  \"TPAE\",\n  \"K\",\n  \"FOSFO\",\n  \"ALBUM\",\n  \"TTPA\",\n  \"NA\",\n  \"MG\",\n  \"PAPA\",\n  \"GLI\",\n  \"COLT\",\n  \"VDRL\",\n  \"T4L\",\n  \"TGO\",\n  \"TGP\",\n  \"HIV\",\n  \"HBSAG\",\n  \"BETA\",\n  \"HCG\",\n  \"BHCG\",\n  \"AHCV\",\n  \"ANTI-HCV\",\n  \"ANTI HCV\"\n];\n\nconst SET_SIGLAS = new Set(SIGLAS_EXAMES.map(s => normalizarExameBase(s)));\n\nfunction normalizarExameBase(exame) {\n  const n = normalizar(exame);\n\n  if (!n) return \"\";\n\n  if (n === \"HBA1C\") return \"HB1AC\";\n  if (n === \"GLI\") return \"GLIS\";\n  if (n === \"BETA\") return \"BHCG\";\n  if (n === \"HCG\") return \"BHCG\";\n  if (n === \"BETA HCG\") return \"BHCG\";\n  if (n === \"ANTI HCV\") return \"AHCV\";\n  if (n === \"ANTI-HCV\") return \"AHCV\";\n\n  return n;\n}\n\nfunction normalizarExame(exame) {\n  const n = normalizar(exame);\n\n  if (!n) return \"\";\n\n  if (n === \"HBA1C\") return \"HB1AC\";\n  if (n === \"GLI\") return \"GLIS\";\n  if (n === \"BETA\") return \"BHCG\";\n  if (n === \"HCG\") return \"BHCG\";\n  if (n === \"BETA HCG\") return \"BHCG\";\n  if (n === \"ANTI HCV\") return \"AHCV\";\n  if (n === \"ANTI-HCV\") return \"AHCV\";\n\n  return n;\n}\n\nfunction ehTokenExame(token) {\n  const t = normalizarExame(token);\n  return SET_SIGLAS.has(t);\n}\n\nfunction separarExames(textoExames) {\n  let texto = removerColchetes(textoExames);\n\n  if (!texto) return [];\n\n  texto = texto\n    .replace(/[;|]/g, \" \")\n    .replace(/,/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n  const tokens = texto\n    .split(/\\s+/)\n    .map(t => normalizarExame(t))\n    .filter(Boolean)\n    .filter(t => !/^\\d+([.,]\\d+)?$/.test(t));\n\n  const exames = [];\n\n  for (const token of tokens) {\n    if (ehTokenExame(token)) {\n      exames.push(token);\n    }\n  }\n\n  return [...new Set(exames)];\n}\n\nfunction linhaIgnorada(linha) {\n  const n = normalizar(linha);\n\n  if (!n) return true;\n  if (n.includes(\"---\")) return true;\n  if (n.includes(\"LABOVIDA\")) return true;\n  if (n.includes(\"RELATORIO\")) return true;\n  if (n.includes(\"MOTOQUEIROS\")) return true;\n  if (n.includes(\"RESUMO\")) return true;\n  if (n.includes(\"PACIENTES\")) return true;\n  if (n.includes(\"EXAME\")) return true;\n  if (n.includes(\"DATA DE IMPRESSAO\")) return true;\n  if (n.includes(\"USUARIO\")) return true;\n  if (n.includes(\"CODIGO\") && n.includes(\"PACIENTE\")) return true;\n\n  return false;\n}\n\nfunction encontrarInicioExames(tokens) {\n  for (let i = 0; i < tokens.length; i++) {\n    if (ehTokenExame(tokens[i])) return i;\n  }\n\n  return -1;\n}\n\n// ======================================================\n// 5. DADOS BASE\n// ======================================================\n\nconst posto = extrairPosto(nomeArquivo, textoOCR);\nconst dataPadrao = extrairData(nomeArquivo, textoOCR);\n\n// ======================================================\n// 6. PROCESSA LINHAS\n// ======================================================\n\nconst linhas = textoOCR\n  .split(/\\n+/)\n  .map(l => limpar(l))\n  .filter(Boolean);\n\nconst pacientes = [];\nconst chavesUsadas = new Set();\n\nfunction adicionarPaciente({ data, codigo, paciente, exames }) {\n  const pacienteLimpo = limpar(paciente).toUpperCase();\n  const codigoLimpo = limpar(codigo);\n  const dataLimpa = limpar(data || dataPadrao);\n  const examesLimpos = [...new Set((exames || []).map(normalizarExame).filter(Boolean))];\n\n  if (!codigoLimpo || !ehCodigo(codigoLimpo)) return;\n  if (!pacienteLimpo || !ehNomePaciente(pacienteLimpo)) return;\n  if (examesLimpos.length === 0) return;\n\n  const chave = `${codigoLimpo}|${pacienteLimpo}|${examesLimpos.join(\",\")}`;\n\n  if (chavesUsadas.has(chave)) return;\n  chavesUsadas.add(chave);\n\n  pacientes.push({\n    data: dataLimpa,\n    codigo: codigoLimpo,\n    PACIENTE: pacienteLimpo,\n    EXAMES: examesLimpos\n  });\n}\n\n// ======================================================\n// 6.1 PRIMEIRA TENTATIVA: LINHAS COM PIPE\n// ======================================================\n\nfor (const linha of linhas) {\n  if (!linha.includes(\"|\")) continue;\n  if (linhaIgnorada(linha)) continue;\n\n  let cols = linha.split(\"|\").map(c => limpar(c));\n\n  if (cols[0] === \"\") cols.shift();\n  if (cols[cols.length - 1] === \"\") cols.pop();\n\n  if (cols.length < 4) continue;\n\n  let dataLinha = \"\";\n  let codigo = \"\";\n  let paciente = \"\";\n  let examesBruto = \"\";\n\n  if (ehDataBR(cols[0]) && ehCodigo(cols[1])) {\n    dataLinha = cols[0];\n    codigo = cols[1];\n    paciente = cols[2];\n    examesBruto = cols.slice(3).join(\" \");\n  } else if (ehCodigo(cols[0])) {\n    dataLinha = dataPadrao;\n    codigo = cols[0];\n    paciente = cols[1];\n    examesBruto = cols.slice(2).join(\" \");\n  } else {\n    continue;\n  }\n\n  adicionarPaciente({\n    data: dataLinha,\n    codigo,\n    paciente,\n    exames: separarExames(examesBruto)\n  });\n}\n\n// ======================================================\n// 6.2 SEGUNDA TENTATIVA: TEXTO SOLTO SEM PIPE\n// ======================================================\n\nfor (const linhaOriginal of linhas) {\n  if (linhaIgnorada(linhaOriginal)) continue;\n\n  let linha = limpar(linhaOriginal)\n    .replace(/[|]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n  let m = linha.match(/^(\\d{2}\\/\\d{2}\\/\\d{4})\\s+(\\d{5,})\\s+(.+)$/);\n\n  let dataLinha = dataPadrao;\n  let codigo = \"\";\n  let restante = \"\";\n\n  if (m) {\n    dataLinha = m[1];\n    codigo = m[2];\n    restante = m[3];\n  } else {\n    m = linha.match(/^(\\d{5,})\\s+(.+)$/);\n\n    if (!m) continue;\n\n    codigo = m[1];\n    restante = m[2];\n  }\n\n  const tokens = restante.split(/\\s+/).map(t => limpar(t)).filter(Boolean);\n  const idxExame = encontrarInicioExames(tokens);\n\n  if (idxExame <= 0) continue;\n\n  const paciente = tokens.slice(0, idxExame).join(\" \");\n  const examesBruto = tokens.slice(idxExame).join(\" \");\n\n  adicionarPaciente({\n    data: dataLinha,\n    codigo,\n    paciente,\n    exames: separarExames(examesBruto)\n  });\n}\n\n// ======================================================\n// 7. RETORNO FINAL\n// ======================================================\n\nif (pacientes.length === 0) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Nenhum paciente foi extraído do OCR.\",\n        posto,\n        data: dataPadrao,\n        nomeArquivo,\n        debug: {\n          totalLinhas: linhas.length,\n          linhasComPipe: linhas.filter(l => l.includes(\"|\")).length,\n          primeirasLinhas: linhas.slice(0, 20),\n          textoOCRInicio: textoOCR.slice(0, 1500)\n        }\n      }\n    }\n  ];\n}\n\nreturn pacientes.map((p, index) => ({\n  json: {\n    sucesso: true,\n    categoria: \"(+)COMPUTADOR DO POSTO\",\n    PACIENTE: p.PACIENTE,\n    EXAMES: p.EXAMES,\n    EXAMES_TEXTO: p.EXAMES.join(\", \"),\n    QTD_EXAMES: p.EXAMES.length,\n    VALOR: 0,\n    posto,\n    data: p.data || dataPadrao,\n    codigo: p.codigo,\n    _idx: index + 1,\n    _totalPacientes: pacientes.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-576],"id":"bad87ac0-9eb5-49e5-b70b-b2ed3dcf6052","name":"Code in JavaScript6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2528,-672],"id":"f31467a9-2afa-4e8e-96e3-a0001bc52c63","name":"Loop Over Items1"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2848,-624],"id":"36611709-cf7f-402a-96e0-bad07e7f6d98","name":"move at&tic1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2784,-832],"id":"3c67c88a-c21f-4d09-add8-d11ea606e475","name":"mover envio1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=558197764951","messageText":"=Foi realizada a conferência do posto {{ $('Code in JavaScript1').first().json.posto }} no dia {{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2672,-448],"id":"6e3698d2-efa5-4225-95d4-2aebabc09e33","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}},"disabled":true},{"parameters":{"jsCode":"// ======================================================\n// COMPARA RECIBO x COMPUTADOR DO POSTO POR PACIENTE + EXAMES\n// ✅ Input1 = RECIBO DE PAGAMENTO AO MEDICO\n// ✅ Input2 = (+)COMPUTADOR DO POSTO / Code in JavaScript6\n// ✅ NÃO remove recibo quando codigo/codIntegracao é igual ao computador\n// ✅ Remove duplicados antes de comparar\n// ✅ Compara paciente + exames normalizados em siglas\n// ✅ Retorna PACIENTE_INPUT2 mesmo quando dá MATCH\n// ======================================================\n\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction limpar(valor) {\n  return String(valor ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction palavrasDoNome(nome) {\n  return normalizarTexto(nome)\n    .split(\" \")\n    .filter(Boolean);\n}\n\nfunction contarPalavrasIguais(nome1, nome2) {\n  const palavras1 = new Set(palavrasDoNome(nome1));\n  const palavras2 = new Set(palavrasDoNome(nome2));\n\n  let iguais = 0;\n\n  for (const palavra of palavras1) {\n    if (palavras2.has(palavra)) iguais++;\n  }\n\n  return iguais;\n}\n\nfunction tresPrimeirasPalavrasIguaisNaSequencia(nome1, nome2) {\n  const palavras1 = palavrasDoNome(nome1);\n  const palavras2 = palavrasDoNome(nome2);\n\n  if (palavras1.length < 3 || palavras2.length < 3) return false;\n\n  return palavras1.slice(0, 3).join(\" \") === palavras2.slice(0, 3).join(\" \");\n}\n\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) {\n    return valor\n      .map(v => limpar(v))\n      .filter(Boolean);\n  }\n\n  if (typeof valor === \"string\") {\n    return valor\n      .split(/,|;|\\n/)\n      .map(v => limpar(v))\n      .filter(Boolean);\n  }\n\n  return [limpar(valor)].filter(Boolean);\n}\n\n// ======================================================\n// NORMALIZA EXAMES PARA SIGLAS\n// ======================================================\n\nfunction normalizarExameParaSigla(exame) {\n  const original = limpar(exame);\n  const n = normalizarTexto(original);\n\n  if (!n) return \"\";\n\n  const siglasConhecidas = [\n    \"25OHD\",\n    \"AUR\",\n    \"B12\",\n    \"CA\",\n    \"CRE\",\n    \"CTF\",\n    \"CTFT\",\n    \"GLIS\",\n    \"HB1AC\",\n    \"HBA1C\",\n    \"HP\",\n    \"IONO\",\n    \"SU\",\n    \"TRI\",\n    \"TSH\",\n    \"URE\",\n    \"COAGU\",\n    \"HEMO\",\n    \"TPAE\",\n    \"TTPA\",\n    \"K\",\n    \"FOSFO\",\n    \"ALBUM\",\n    \"NA\",\n    \"MG\",\n    \"PAPA\",\n    \"AHCV\",\n    \"HBSAG\",\n    \"HIV\",\n    \"T4L\",\n    \"TGO\",\n    \"TGP\",\n    \"VDRL\",\n    \"BHCG\",\n    \"BETA\",\n    \"HCG\"\n  ];\n\n  if (n === \"HBA1C\") return \"HB1AC\";\n  if (n === \"GLI\") return \"GLIS\";\n  if (n === \"BETA HCG\") return \"BHCG\";\n  if (n === \"HCG\") return \"BHCG\";\n  if (n === \"BETA\") return \"BHCG\";\n\n  if (siglasConhecidas.includes(n)) {\n    return n;\n  }\n\n  if (\n    n.includes(\"URINALISE\") ||\n    n.includes(\"URIANALISE\") ||\n    n.includes(\"SUMARIO DE URINA\") ||\n    n === \"SU\"\n  ) {\n    return \"SU\";\n  }\n\n  if (\n    n.includes(\"BETA HCG\") ||\n    n.includes(\"TESTE DE GRAVIDEZ\") ||\n    n.includes(\"BHCG\")\n  ) {\n    return \"BHCG\";\n  }\n\n  if (\n    n.includes(\"COAGULOGRAMA\") ||\n    n.includes(\"TSTC\") ||\n    n.includes(\"PLAQ\") ||\n    n.includes(\"INR\")\n  ) {\n    return \"COAGU\";\n  }\n\n  if (\n    n.includes(\"GLICOSE\") ||\n    n === \"GLI\" ||\n    n === \"GLIS\"\n  ) {\n    return \"GLIS\";\n  }\n\n  if (n.includes(\"UREIA\") || n === \"URE\") {\n    return \"URE\";\n  }\n\n  if (n.includes(\"HEMOGRAMA\") || n === \"HEMO\") {\n    return \"HEMO\";\n  }\n\n  if (n.includes(\"CREATININA\") || n === \"CRE\") {\n    return \"CRE\";\n  }\n\n  if (\n    n.includes(\"TEMPO DE ATIVIDADE DE PROTROMBINA\") ||\n    n.includes(\"TPAE\")\n  ) {\n    return \"TPAE\";\n  }\n\n  if (n.includes(\"POTASSIO\") || n === \"K\") {\n    return \"K\";\n  }\n\n  if (n.includes(\"FOSFORO\") || n === \"FOSFO\") {\n    return \"FOSFO\";\n  }\n\n  if (n.includes(\"ALBUMINA\") || n === \"ALBUM\") {\n    return \"ALBUM\";\n  }\n\n  if (\n    n.includes(\"TEMPO DE TROMBOPLASTINA\") ||\n    n.includes(\"TTPA\") ||\n    n.includes(\"TTP\")\n  ) {\n    return \"TTPA\";\n  }\n\n  if (n.includes(\"SODIO\") || n === \"NA\") {\n    return \"NA\";\n  }\n\n  if (\n    n.includes(\"HEMOGLOBINA GLICADA\") ||\n    n.includes(\"HB1AC\") ||\n    n.includes(\"HBA1C\")\n  ) {\n    return \"HB1AC\";\n  }\n\n  if (n.includes(\"MAGNESIO\") || n === \"MG\") {\n    return \"MG\";\n  }\n\n  if (\n    n.includes(\"PAPANICOLAU\") ||\n    n.includes(\"CITOLOGIA\") ||\n    n === \"PAPA\"\n  ) {\n    return \"PAPA\";\n  }\n\n  if (\n    n.includes(\"ANTI HCV\") ||\n    n.includes(\"ANTI-HCV\") ||\n    n.includes(\"AHCV\")\n  ) {\n    return \"AHCV\";\n  }\n\n  if (\n    n.includes(\"HBSAG\") ||\n    n.includes(\"HEPATITE B\")\n  ) {\n    return \"HBSAG\";\n  }\n\n  if (n.includes(\"HIV\")) {\n    return \"HIV\";\n  }\n\n  if (\n    n.includes(\"T4 LIVRE\") ||\n    n.includes(\"T4L\")\n  ) {\n    return \"T4L\";\n  }\n\n  if (\n    n.includes(\"TRANSAMINASE OXALACETICA\") ||\n    n.includes(\"TGO\")\n  ) {\n    return \"TGO\";\n  }\n\n  if (\n    n.includes(\"TRANSAMINASE PIRUVICA\") ||\n    n.includes(\"TGP\")\n  ) {\n    return \"TGP\";\n  }\n\n  if (\n    n.includes(\"VDRL\") ||\n    n.includes(\"TESTE LUETICO\")\n  ) {\n    return \"VDRL\";\n  }\n\n  return n;\n}\n\nfunction normalizarListaExamesParaSiglas(exames) {\n  return garantirArray(exames)\n    .map(normalizarExameParaSigla)\n    .filter(Boolean);\n}\n\nfunction ordenarExames(exames) {\n  return [...new Set(exames)].sort((a, b) => a.localeCompare(b));\n}\n\nfunction compararExames(exames1, exames2) {\n  const examesInput1 = ordenarExames(normalizarListaExamesParaSiglas(exames1));\n  const examesInput2 = ordenarExames(normalizarListaExamesParaSiglas(exames2));\n\n  const setInput1 = new Set(examesInput1);\n  const setInput2 = new Set(examesInput2);\n\n  const examesFaltando = examesInput1.filter(exame => !setInput2.has(exame));\n  const examesExtras = examesInput2.filter(exame => !setInput1.has(exame));\n\n  const matchExames =\n    examesFaltando.length === 0 &&\n    examesExtras.length === 0 &&\n    examesInput1.length === examesInput2.length;\n\n  return {\n    examesInput1,\n    examesInput2,\n    examesFaltando,\n    examesExtras,\n    matchExames\n  };\n}\n\n// ======================================================\n// REMOVE DUPLICADOS\n// ======================================================\n\nfunction deduplicarItens(lista) {\n  const vistos = new Set();\n\n  return lista.filter(item => {\n    const categoria = normalizarTexto(item.categoria);\n    const paciente = normalizarTexto(item.PACIENTE);\n    const codigo = String(item.codigo || item.codIntegracao || item.codAtend || item.atendimento || \"\");\n    const exames = ordenarExames(normalizarListaExamesParaSiglas(item.EXAMES)).join(\"|\");\n\n    const chave = `${categoria}__${codigo}__${paciente}__${exames}`;\n\n    if (vistos.has(chave)) {\n      return false;\n    }\n\n    vistos.add(chave);\n    return true;\n  });\n}\n\nfunction ehComputadorDoPosto(item) {\n  const categoria = normalizarTexto(item.categoria);\n\n  return Boolean(\n    item.PACIENTE &&\n    Array.isArray(item.EXAMES) &&\n    categoria.includes(\"COMPUTADOR DO POSTO\")\n  );\n}\n\nfunction ehReciboMedico(item) {\n  const categoria = normalizarTexto(item.categoria);\n\n  return Boolean(\n    item.PACIENTE &&\n    Array.isArray(item.EXAMES) &&\n    categoria.includes(\"RECIBO DE PAGAMENTO AO MEDICO\")\n  );\n}\n\n// ======================================================\n// 1. PEGA DADOS DO INPUT ATUAL\n// ======================================================\n\nconst todos = $input.all().map(i => i.json);\n\n// ======================================================\n// 2. TENTA PEGAR INPUT2 DIRETO DO NÓ Code in JavaScript6\n//    Isso evita perder PACIENTE_INPUT2 no Merge\n// ======================================================\n\nlet input2Direto = [];\n\ntry {\n  input2Direto = $(\"Code in JavaScript6\").all().map(i => i.json);\n} catch (e) {\n  input2Direto = [];\n}\n\n// ======================================================\n// 3. SEPARA INPUT1 E INPUT2\n// ======================================================\n\nlet input2 = [];\n\nif (input2Direto.length > 0) {\n  input2 = input2Direto.filter(i =>\n    i.PACIENTE &&\n    Array.isArray(i.EXAMES) &&\n    normalizarTexto(i.categoria).includes(\"COMPUTADOR DO POSTO\")\n  );\n} else {\n  input2 = todos.filter(ehComputadorDoPosto);\n}\n\nlet input1 = todos.filter(ehReciboMedico);\n\n// Segurança: não deixa item do computador entrar como recibo.\n// IMPORTANTE: não remove pelo código, porque o mesmo código pode existir nos dois lados.\ninput1 = input1.filter(item1 => {\n  const cat1 = normalizarTexto(item1.categoria);\n  return !cat1.includes(\"COMPUTADOR DO POSTO\");\n});\n\n// Fallback: se não achou recibo pela categoria, pega tudo que não for computador\nif (input1.length === 0) {\n  input1 = todos.filter(item => {\n    if (!item.PACIENTE || !Array.isArray(item.EXAMES)) return false;\n\n    const catItem = normalizarTexto(item.categoria);\n\n    if (catItem.includes(\"COMPUTADOR DO POSTO\")) return false;\n\n    return true;\n  });\n}\n\n// ======================================================\n// 3.1 REMOVE DUPLICADOS ANTES DA COMPARAÇÃO\n// ======================================================\n\nconst totalInput1AntesDeduplicar = input1.length;\nconst totalInput2AntesDeduplicar = input2.length;\n\ninput1 = deduplicarItens(input1);\ninput2 = deduplicarItens(input2);\n\nconst totalInput1DepoisDeduplicar = input1.length;\nconst totalInput2DepoisDeduplicar = input2.length;\n\n// ======================================================\n// 4. DADOS GERAIS\n// ======================================================\n\nconst posto =\n  input2[0]?.posto ||\n  input1[0]?.posto ||\n  \"\";\n\nconst data =\n  input1[0]?.data ||\n  input2[0]?.data ||\n  \"\";\n\n// ======================================================\n// 5. COMPARA INPUT1 CONTRA INPUT2\n// ======================================================\n\nconst resultado = [];\nconst indicesInput2Usados = new Set();\n\nfor (const item1 of input1) {\n  const pacienteInput1 = item1.PACIENTE || \"\";\n  const examesInput1Original = garantirArray(item1.EXAMES);\n\n  let melhorMatch = null;\n  let melhorIndiceInput2 = -1;\n  let maiorQtdPalavrasIguais = 0;\n  let melhorComparacaoExames = null;\n\n  // ======================================================\n  // 5.1 Primeiro tenta paciente compatível + exames iguais\n  // ======================================================\n\n  for (let idx = 0; idx < input2.length; idx++) {\n    if (indicesInput2Usados.has(idx)) continue;\n\n    const item2 = input2[idx];\n    const pacienteInput2 = item2.PACIENTE || \"\";\n\n    const nomeCompletoIgual =\n      normalizarTexto(pacienteInput1) === normalizarTexto(pacienteInput2);\n\n    const match3Palavras =\n      tresPrimeirasPalavrasIguaisNaSequencia(pacienteInput1, pacienteInput2);\n\n    const matchPaciente = nomeCompletoIgual || match3Palavras;\n\n    if (!matchPaciente) continue;\n\n    const comparacaoExames = compararExames(item1.EXAMES, item2.EXAMES);\n\n    if (comparacaoExames.matchExames) {\n      melhorMatch = item2;\n      melhorIndiceInput2 = idx;\n      melhorComparacaoExames = comparacaoExames;\n      maiorQtdPalavrasIguais = contarPalavrasIguais(pacienteInput1, pacienteInput2);\n      break;\n    }\n  }\n\n  // ======================================================\n  // 5.2 Se não achou exames iguais, tenta achar só paciente\n  // ======================================================\n\n  if (!melhorMatch) {\n    for (let idx = 0; idx < input2.length; idx++) {\n      if (indicesInput2Usados.has(idx)) continue;\n\n      const item2 = input2[idx];\n      const pacienteInput2 = item2.PACIENTE || \"\";\n\n      const nomeCompletoIgual =\n        normalizarTexto(pacienteInput1) === normalizarTexto(pacienteInput2);\n\n      const match3Palavras =\n        tresPrimeirasPalavrasIguaisNaSequencia(pacienteInput1, pacienteInput2);\n\n      const matchPaciente = nomeCompletoIgual || match3Palavras;\n\n      if (!matchPaciente) continue;\n\n      const qtdPalavrasIguais = contarPalavrasIguais(pacienteInput1, pacienteInput2);\n\n      if (qtdPalavrasIguais > maiorQtdPalavrasIguais) {\n        melhorMatch = item2;\n        melhorIndiceInput2 = idx;\n        maiorQtdPalavrasIguais = qtdPalavrasIguais;\n        melhorComparacaoExames = compararExames(item1.EXAMES, item2.EXAMES);\n      }\n    }\n  }\n\n  const pacienteInput2Encontrado = melhorMatch?.PACIENTE || \"\";\n\n  const nomeCompletoIgual =\n    melhorMatch\n      ? normalizarTexto(pacienteInput1) === normalizarTexto(pacienteInput2Encontrado)\n      : false;\n\n  const match3Palavras =\n    melhorMatch\n      ? tresPrimeirasPalavrasIguaisNaSequencia(pacienteInput1, pacienteInput2Encontrado)\n      : false;\n\n  const matchPaciente = Boolean(\n    melhorMatch && (nomeCompletoIgual || match3Palavras)\n  );\n\n  if (!melhorComparacaoExames) {\n    melhorComparacaoExames = compararExames(item1.EXAMES, melhorMatch?.EXAMES || []);\n  }\n\n  const matchExames =\n    matchPaciente && melhorComparacaoExames.matchExames;\n\n  const matchCompleto =\n    matchPaciente && matchExames;\n\n  if (matchPaciente && melhorIndiceInput2 >= 0) {\n    indicesInput2Usados.add(melhorIndiceInput2);\n  }\n\n  resultado.push({\n    json: {\n      origemResultado: \"RECIBO_COMPARADO_COM_COMPUTADOR\",\n\n      tipoResultado: matchCompleto\n        ? \"MATCH_COMPLETO\"\n        : matchPaciente\n          ? \"PACIENTE_MATCH_EXAMES_DIVERGENTES\"\n          : \"RECIBO_SEM_MATCH_NO_COMPUTADOR\",\n\n      posto,\n      data,\n\n      PACIENTE_INPUT1: pacienteInput1,\n      PACIENTE_INPUT2: pacienteInput2Encontrado,\n\n      codigoInput1: item1.codigo || item1.codIntegracao || item1.codAtend || item1.atendimento || \"\",\n      codigoInput2: melhorMatch?.codigo || melhorMatch?.codIntegracao || melhorMatch?.codAtend || melhorMatch?.atendimento || \"\",\n\n      matchPaciente,\n      nomeCompletoIgual,\n      matchPor3Palavras: !nomeCompletoIgual && match3Palavras,\n\n      palavrasIguaisPaciente: maiorQtdPalavrasIguais,\n\n      primeiras3PalavrasInput1:\n        palavrasDoNome(pacienteInput1).slice(0, 3),\n\n      primeiras3PalavrasInput2:\n        pacienteInput2Encontrado\n          ? palavrasDoNome(pacienteInput2Encontrado).slice(0, 3)\n          : [],\n\n      matchExames,\n      matchCompleto,\n\n      quantidadeExamesInput1:\n        melhorComparacaoExames.examesInput1.length,\n\n      quantidadeExamesInput2:\n        melhorComparacaoExames.examesInput2.length,\n\n      examesInput1:\n        melhorComparacaoExames.examesInput1,\n\n      examesInput2:\n        melhorComparacaoExames.examesInput2,\n\n      examesFaltandoNoInput2:\n        matchPaciente\n          ? melhorComparacaoExames.examesFaltando\n          : melhorComparacaoExames.examesInput1,\n\n      examesExtrasNoInput2:\n        matchPaciente\n          ? melhorComparacaoExames.examesExtras\n          : [],\n\n      examesInput1Original,\n      examesInput2Original: garantirArray(melhorMatch?.EXAMES || []),\n\n      erro: !matchCompleto,\n\n      mensagem:\n        matchCompleto\n          ? \"Paciente e exames estão iguais\"\n          : matchPaciente\n            ? \"Paciente encontrado, mas há divergência entre os exames\"\n            : \"Paciente do recibo não encontrado no computador\",\n\n      debugDeduplicacao: {\n        totalInput1AntesDeduplicar,\n        totalInput1DepoisDeduplicar,\n        totalInput2AntesDeduplicar,\n        totalInput2DepoisDeduplicar\n      }\n    }\n  });\n}\n\n// ======================================================\n// 6. RETORNA INPUT2 QUE NÃO TEVE CORRESPONDÊNCIA NO INPUT1\n// ======================================================\n\nfor (let idx = 0; idx < input2.length; idx++) {\n  if (indicesInput2Usados.has(idx)) continue;\n\n  const item2 = input2[idx];\n\n  const pacienteInput2 = item2.PACIENTE || \"\";\n  const examesInput2 = normalizarListaExamesParaSiglas(item2.EXAMES);\n\n  resultado.push({\n    json: {\n      origemResultado: \"COMPUTADOR_SEM_MATCH_NO_RECIBO\",\n\n      tipoResultado: \"COMPUTADOR_SEM_MATCH_NO_RECIBO\",\n\n      posto: item2.posto || posto,\n      data: item2.data || data,\n\n      PACIENTE_INPUT1: \"\",\n      PACIENTE_INPUT2: pacienteInput2,\n\n      codigoInput1: \"\",\n      codigoInput2: item2.codigo || item2.codIntegracao || item2.codAtend || item2.atendimento || \"\",\n\n      matchPaciente: false,\n      nomeCompletoIgual: false,\n      matchPor3Palavras: false,\n      palavrasIguaisPaciente: 0,\n\n      primeiras3PalavrasInput1: [],\n      primeiras3PalavrasInput2:\n        palavrasDoNome(pacienteInput2).slice(0, 3),\n\n      matchExames: false,\n      matchCompleto: false,\n\n      quantidadeExamesInput1: 0,\n      quantidadeExamesInput2: examesInput2.length,\n\n      examesInput1: [],\n      examesInput2,\n\n      examesFaltandoNoInput2: [],\n      examesExtrasNoInput2: examesInput2,\n\n      erro: true,\n\n      mensagem:\n        \"Paciente existe no computador, mas não foi encontrado correspondente no recibo\",\n\n      debugDeduplicacao: {\n        totalInput1AntesDeduplicar,\n        totalInput1DepoisDeduplicar,\n        totalInput2AntesDeduplicar,\n        totalInput2DepoisDeduplicar\n      }\n    }\n  });\n}\n\n// ======================================================\n// 7. RETORNO FINAL COM DEBUG\n// ======================================================\n\nif (resultado.length === 0) {\n  return [\n    {\n      json: {\n        erro: true,\n        mensagem: \"Nenhum resultado encontrado na comparação.\",\n        totalInputAtual: todos.length,\n        totalInput1Recibo: input1.length,\n        totalInput2Computador: input2.length,\n        totalInput1AntesDeduplicar,\n        totalInput1DepoisDeduplicar,\n        totalInput2AntesDeduplicar,\n        totalInput2DepoisDeduplicar,\n        input2PegouDiretoDoNoCodeJavaScript6: input2Direto.length > 0,\n        posto,\n        data,\n        debugCategorias: todos.map(i => i.categoria || \"\"),\n        debugCampos: todos.map(i => ({\n          PACIENTE: i.PACIENTE || \"\",\n          categoria: i.categoria || \"\",\n          codigo: i.codigo || \"\",\n          codIntegracao: i.codIntegracao || \"\",\n          codAtend: i.codAtend || \"\",\n          atendimento: i.atendimento || \"\",\n          EXAMES: i.EXAMES || []\n        }))\n      }\n    }\n  ];\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,-656],"id":"69502daa-6109-4e57-a24a-61c45644a39d","name":"Code in JavaScript9"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.data }}","NOME PACIENTE ENVIO":"={{ $json.PACIENTE_INPUT1 }}","NOME PACIENTE AT&TIC":"={{ $json.PACIENTE_INPUT2 }}","EXAMES ENVIO":"={{ $json.examesInput1 }}","EXAMES AT&TIC":"={{ $json.examesInput2 }}","EXAMES FALTANDO NO AT&TIC":"={{ $json.examesFaltandoNoInput2 }}","EXAMES A MAIS NO AT&TIC":"={{ $json.examesExtrasNoInput2 }}","POSTO":"={{ $json.posto }}","ERRO NOME":"={{ $json.matchPaciente }}","ERRO EXAMES":"={{ $json.matchExames }}","MENSAGEM ENVIADA":"NÃO","CORRIGIDO":"AGUARDANDO","horário rodou":"={{ $now.setZone('America/Recife').toFormat('dd/LL/yyyy HH:mm:ss') }}","MENSAGEM MATCH":"={{ $json.mensagem }}","match":"={{ $json.data }}-{{ $json.posto }}"},"matchingColumns":["match"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORRIGIDO","displayName":"CORRIGIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"horário rodou","displayName":"horário rodou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MENSAGEM MATCH","displayName":"MENSAGEM MATCH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2272,-656],"id":"3b71a94f-03f6-4f8e-9170-67ed46c46a3e","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk","mode":"list","cachedResultName":"Tabela sigla-exame match","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"EXAMES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[848,-704],"id":"32b62aed-694c-49f8-bb33-846347747fc6","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const todos = $input.all();\n\nfunction normalizarTexto(txt) {\n  return String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^A-Z0-9]/g, \"\")\n    .trim();\n}\n\nfunction normalizarNome(txt) {\n  return String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^A-Z0-9\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst pacientes = todos.filter(item => item.json.PACIENTE);\n\nconst tabela = todos.filter(item =>\n  item.json.NOME_EXAME &&\n  item.json.SIGLA\n);\n\n// ======================================================\n// MAPAS SEPARADOS\n// 1. mapaSiglas: só aceita match exato\n// 2. mapaNomes: pode aceitar nome completo / nome sem parênteses\n// ======================================================\n\nconst mapaSiglas = new Map();\nconst mapaNomes = new Map();\n\nfor (const item of tabela) {\n  const sigla = String(item.json.NOME_EXAME || \"\")\n    .trim()\n    .toUpperCase();\n\n  const nomeCompleto = String(item.json.SIGLA || \"\")\n    .trim();\n\n  if (!sigla || !nomeCompleto) continue;\n\n  // SIGLA: somente match exato\n  mapaSiglas.set(\n    normalizarTexto(sigla),\n    sigla\n  );\n\n  // NOME COMPLETO: match exato pelo nome\n  mapaNomes.set(\n    normalizarNome(nomeCompleto),\n    sigla\n  );\n\n  // NOME ANTES DOS PARÊNTESES\n  const nomeAntesParenteses = nomeCompleto\n    .split(\"(\")[0]\n    .trim();\n\n  if (nomeAntesParenteses) {\n    mapaNomes.set(\n      normalizarNome(nomeAntesParenteses),\n      sigla\n    );\n  }\n}\n\nfunction converterExame(exame) {\n  const original = String(exame || \"\").trim();\n\n  if (!original) {\n    return {\n      encontrado: false,\n      original\n    };\n  }\n\n  const chaveSigla = normalizarTexto(original);\n  const chaveNome = normalizarNome(original);\n\n  // ======================================================\n  // 1. MATCH EXATO POR SIGLA\n  // Exemplo:\n  // GLI só vira GLI\n  // A1GLI só vira A1GLI\n  // Nunca GLI vira A1GLI\n  // ======================================================\n\n  if (mapaSiglas.has(chaveSigla)) {\n    return {\n      encontrado: true,\n      sigla: mapaSiglas.get(chaveSigla)\n    };\n  }\n\n  // ======================================================\n  // 2. REMOVE PARÊNTESES E TENTA MATCH EXATO\n  // ======================================================\n\n  const semParenteses = original\n    .replace(/\\([^)]*\\)/g, \"\")\n    .trim();\n\n  const chaveSemParentesesSigla = normalizarTexto(semParenteses);\n  const chaveSemParentesesNome = normalizarNome(semParenteses);\n\n  if (mapaSiglas.has(chaveSemParentesesSigla)) {\n    return {\n      encontrado: true,\n      sigla: mapaSiglas.get(chaveSemParentesesSigla)\n    };\n  }\n\n  if (mapaNomes.has(chaveNome)) {\n    return {\n      encontrado: true,\n      sigla: mapaNomes.get(chaveNome)\n    };\n  }\n\n  if (mapaNomes.has(chaveSemParentesesNome)) {\n    return {\n      encontrado: true,\n      sigla: mapaNomes.get(chaveSemParentesesNome)\n    };\n  }\n\n  // ======================================================\n  // 3. MATCH PARCIAL SEGURO\n  // Só aplica para nomes longos, nunca para siglas curtas.\n  // Evita erro tipo GLI virar A1GLI.\n  // ======================================================\n\n  if (chaveNome.length >= 8) {\n    for (const [nomeNormalizado, sigla] of mapaNomes.entries()) {\n      if (\n        nomeNormalizado.length >= 8 &&\n        (\n          chaveNome.includes(nomeNormalizado) ||\n          nomeNormalizado.includes(chaveNome)\n        )\n      ) {\n        return {\n          encontrado: true,\n          sigla\n        };\n      }\n    }\n  }\n\n  // ======================================================\n  // 4. NÃO ENCONTRADO\n  // Mantém o exame original\n  // ======================================================\n\n  return {\n    encontrado: false,\n    original\n  };\n}\n\nconst resultado = pacientes.map((item, index) => {\n  const json = item.json;\n\n  const examesOriginais = Array.isArray(json.EXAMES)\n    ? json.EXAMES\n    : String(json.EXAMES_TEXTO || \"\")\n        .split(\",\")\n        .map(e => e.trim())\n        .filter(Boolean);\n\n  const examesNormalizados = [];\n  const examesNaoEncontrados = [];\n\n  for (const exame of examesOriginais) {\n    const convertido = converterExame(exame);\n\n    if (convertido.encontrado) {\n      examesNormalizados.push(convertido.sigla);\n    } else {\n      examesNaoEncontrados.push(convertido.original);\n      examesNormalizados.push(\n        String(convertido.original || \"\").toUpperCase()\n      );\n    }\n  }\n\n  return {\n    json: {\n      ...json,\n\n      EXAMES: examesNormalizados,\n\n      EXAMES_TEXTO: examesNormalizados.join(\", \"),\n\n      EXAMES_NAO_ENCONTRADOS: examesNaoEncontrados,\n\n      QTD_EXAMES: examesNormalizados.length,\n\n      _idx: index + 1,\n\n      _totalPacientes: pacientes.length\n    }\n  };\n});\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,-752],"id":"2908438b-2bf6-4a59-a048-651ca96b3601","name":"Code in JavaScript2"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1200,-752],"id":"f944a940-f1bf-4251-8e57-9e2631458985","name":"Merge3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"919f0610-ac6d-4883-bb88-60bcd9187429","leftValue":"={{ $json.name }}","rightValue":"P76","operator":{"type":"string","operation":"notContains"}},{"id":"fb9d1a51-9c28-41f5-821b-d20c025495ba","leftValue":"={{ $json.name }}","rightValue":"P137","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[432,-1024],"id":"09d09f62-7821-41d9-a613-2a58c227eadb","name":"If2"},{"parameters":{"jsCode":"// ======================================================\n// EXTRATOR OCR - PROTOCOLO DE ENVIO AO LABORATÓRIO\n// ✅ Extrai pacientes da tabela markdown do OCR\n// ✅ Retorna 1 item por paciente\n// ✅ Remove valores entre colchetes dos exames\n// ✅ Posto vem do nome do arquivo ou do texto: P12 / P: 12\n// ✅ Data vem prioritariamente de: Data do Envio: DD/MM/AAAA\n// ======================================================\n\nconst input = $input.first().json;\n\n// ======================================================\n// 1. PEGA NOME DO ARQUIVO\n// ======================================================\n\nlet nomeArquivo = \"\";\n\ntry {\n  nomeArquivo = String($(\"ENVIO\").first().json.name || \"\");\n} catch (e) {\n  nomeArquivo = String(input.name || input.fileName || \"\");\n}\n\n// ======================================================\n// 2. PEGA TEXTO OCR\n// ======================================================\n\nconst textoOCR = String(\n  input.extractedText ||\n  input.text ||\n  input.markdown ||\n  input.conteudo ||\n  input.content ||\n  (Array.isArray(input.pages)\n    ? input.pages.map(p => p.markdown || p.text || \"\").join(\"\\n\")\n    : \"\") ||\n  \"\"\n);\n\nif (!textoOCR.trim()) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Nenhum texto OCR encontrado.\",\n        nomeArquivo\n      }\n    }\n  ];\n}\n\n// ======================================================\n// 3. FUNÇÕES AUXILIARES\n// ======================================================\n\nfunction limpar(valor) {\n  return String(valor ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizar(valor) {\n  return limpar(valor)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase();\n}\n\nfunction extrairPosto(nome, texto) {\n  const fonte = `${nome || \"\"}\\n${texto || \"\"}`;\n\n  // Nome do arquivo: P12, P 12, P012\n  let m = fonte.match(/\\bP\\s*0*(\\d{1,5})\\b/i);\n  if (m) return m[1];\n\n  // Texto: P: 12\n  m = fonte.match(/\\bP\\s*:\\s*0*(\\d{1,5})\\b/i);\n  if (m) return m[1];\n\n  // Texto: Posto 12\n  m = fonte.match(/\\bPOSTO\\s*0*(\\d{1,5})\\b/i);\n  if (m) return m[1];\n\n  return \"\";\n}\n\nfunction extrairData(nome, texto) {\n  const fonte = `${nome || \"\"}\\n${texto || \"\"}`;\n\n  // PRIORIDADE 1:\n  // Data do Envio: 25/05/2026\n  let m = fonte.match(/Data\\s+do\\s+Envio\\s*:\\s*(\\d{2})\\/(\\d{2})\\/(\\d{4})/i);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  // PRIORIDADE 2:\n  // Data do Envio: 25.05.2026\n  m = fonte.match(/Data\\s+do\\s+Envio\\s*:\\s*(\\d{2})\\.(\\d{2})\\.(\\d{4})/i);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  // PRIORIDADE 3:\n  // Data do Envio: 25-05-2026\n  m = fonte.match(/Data\\s+do\\s+Envio\\s*:\\s*(\\d{2})-(\\d{2})-(\\d{4})/i);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  // Fallback 1:\n  // Qualquer data DD/MM/AAAA\n  m = fonte.match(/\\b(\\d{2})\\/(\\d{2})\\/(\\d{4})\\b/);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  // Fallback 2:\n  // Qualquer data DD.MM.AAAA\n  m = fonte.match(/\\b(\\d{2})\\.(\\d{2})\\.(\\d{4})\\b/);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  // Fallback 3:\n  // Qualquer data DD-MM-AAAA\n  m = fonte.match(/\\b(\\d{2})-(\\d{2})-(\\d{4})\\b/);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  return \"\";\n}\n\nfunction removerValoresColchetes(texto) {\n  return String(texto || \"\")\n    .replace(/\\[[^\\]]*]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction separarExames(textoExames, posto) {\n  let texto = removerValoresColchetes(textoExames);\n\n  if (!texto) return [];\n\n  // Regra específica para P137\n  if (String(posto) === \"137\") {\n    texto = texto.replace(/\\bGLICOSE\\s+JEJUM\\b/gi, \"GLI\");\n  }\n\n  const exames = [];\n  let atual = \"\";\n  let nivelParenteses = 0;\n\n  for (let i = 0; i < texto.length; i++) {\n    const char = texto[i];\n\n    if (char === \"(\") {\n      nivelParenteses++;\n      atual += char;\n      continue;\n    }\n\n    if (char === \")\") {\n      nivelParenteses = Math.max(0, nivelParenteses - 1);\n      atual += char;\n      continue;\n    }\n\n    // Se tiver vírgula fora de parênteses, separa exame\n    if (char === \",\" && nivelParenteses === 0) {\n      const exame = limpar(atual);\n      if (exame) exames.push(exame);\n      atual = \"\";\n      continue;\n    }\n\n    atual += char;\n  }\n\n  const ultimo = limpar(atual);\n  if (ultimo) exames.push(ultimo);\n\n  return exames\n    .map(e => limpar(e))\n    .filter(e => e)\n    .filter(e => !/^\\d+([.,]\\d+)?$/.test(e));\n}\n\nfunction ehLinhaPaciente(cols) {\n  if (cols.length < 5) return false;\n\n  const codIntegracao = limpar(cols[0]);\n  const codAtend = limpar(cols[1]);\n  const paciente = limpar(cols[2]);\n  const exames = limpar(cols[3]);\n\n  if (!/^\\d{6,}$/.test(codIntegracao)) return false;\n  if (!/^\\d{4,}$/.test(codAtend)) return false;\n  if (!paciente || paciente.length < 5) return false;\n  if (/\\d/.test(paciente)) return false;\n  if (!exames) return false;\n\n  const nPaciente = normalizar(paciente);\n\n  const bloqueados = [\n    \"PACIENTE\",\n    \"COD INTEGRACAO\",\n    \"COD INTEGRAÇÃO\",\n    \"COD ATEND\",\n    \"EXAMES\",\n    \"VALOR\",\n    \"DESC CLI\",\n    \"DESC LAB\",\n    \"SALDO LAB\",\n    \"PROTOCOLO\",\n    \"LABORATORIO\",\n    \"LABORATÓRIO\"\n  ];\n\n  if (bloqueados.some(p => nPaciente.includes(normalizar(p)))) return false;\n\n  return true;\n}\n\n// ======================================================\n// 4. DADOS BASE\n// ======================================================\n\nconst posto = extrairPosto(nomeArquivo, textoOCR);\nconst data = extrairData(nomeArquivo, textoOCR);\n\n// ======================================================\n// 5. EXTRAI LINHAS DA TABELA\n// ======================================================\n\nconst linhas = textoOCR\n  .split(/\\r?\\n/)\n  .map(l => limpar(l))\n  .filter(Boolean);\n\nconst pacientes = [];\n\nfor (const linha of linhas) {\n  if (!linha.includes(\"|\")) continue;\n\n  let cols = linha.split(\"|\").map(c => limpar(c));\n\n  // Remove primeira coluna vazia se a linha começa com |\n  if (cols[0] === \"\") cols.shift();\n\n  // Remove última coluna vazia se a linha termina com |\n  if (cols[cols.length - 1] === \"\") cols.pop();\n\n  if (!ehLinhaPaciente(cols)) continue;\n\n  const codIntegracao = limpar(cols[0]);\n  const codAtend = limpar(cols[1]);\n  const paciente = normalizar(cols[2]);\n  const examesBruto = limpar(cols[3]);\n  const valorLinha = limpar(cols[4]);\n\n  const exames = separarExames(examesBruto, posto);\n\n  if (exames.length === 0) continue;\n\n  pacientes.push({\n    codIntegracao,\n    codAtend,\n    PACIENTE: paciente,\n    EXAMES: exames,\n    valorLinha\n  });\n}\n\n// ======================================================\n// 6. RETORNO FINAL\n// ======================================================\n\nif (pacientes.length === 0) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Nenhum paciente foi extraído do OCR.\",\n        posto,\n        data,\n        nomeArquivo,\n        debug: {\n          totalLinhas: linhas.length,\n          linhasComPipe: linhas.filter(l => l.includes(\"|\")).length,\n          primeirasLinhas: linhas.slice(0, 15),\n          primeirasLinhasComPipe: linhas.filter(l => l.includes(\"|\")).slice(0, 10)\n        }\n      }\n    }\n  ];\n}\n\nconst resultado = pacientes.map((p, index) => ({\n  json: {\n    sucesso: true,\n    categoria: \"RECIBO DE PAGAMENTO AO MEDICO\",\n    PACIENTE: p.PACIENTE,\n    EXAMES: p.EXAMES,\n    EXAMES_TEXTO: p.EXAMES.join(\", \"),\n    QTD_EXAMES: p.EXAMES.length,\n    VALOR: 0,\n    posto,\n    data,\n    codIntegracao: p.codIntegracao,\n    codAtend: p.codAtend,\n    valorLinha: p.valorLinha,\n    _idx: index + 1,\n    _totalPacientes: pacientes.length\n  }\n}));\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,-1216],"id":"787851a9-e553-4ab5-a0ee-2580a01965a5","name":"Code in JavaScript8"},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[736,-1216],"id":"b9f859b4-cca6-485d-a957-b1d28bb950d7","name":"Extract text4","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"jsCode":"// ======================================================\n// COMPARA RECIBO x COMPUTADOR DO POSTO POR PACIENTE + EXAMES\n// ✅ Usa o input atual do Merge\n// ✅ Input1 = RECIBO DE PAGAMENTO AO MÉDICO\n// ✅ Input2 = (+)COMPUTADOR DO POSTO\n// ✅ Normaliza exames para SIGLAS antes de comparar\n// ✅ Retorna examesInput1 e examesInput2 em formato de sigla\n// ======================================================\n\nfunction normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction limpar(valor) {\n  return String(valor ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction palavrasDoNome(nome) {\n  return normalizarTexto(nome)\n    .split(\" \")\n    .filter(Boolean);\n}\n\nfunction contarPalavrasIguais(nome1, nome2) {\n  const palavras1 = new Set(palavrasDoNome(nome1));\n  const palavras2 = new Set(palavrasDoNome(nome2));\n\n  let iguais = 0;\n\n  for (const palavra of palavras1) {\n    if (palavras2.has(palavra)) iguais++;\n  }\n\n  return iguais;\n}\n\nfunction tresPrimeirasPalavrasIguaisNaSequencia(nome1, nome2) {\n  const palavras1 = palavrasDoNome(nome1);\n  const palavras2 = palavrasDoNome(nome2);\n\n  if (palavras1.length < 3 || palavras2.length < 3) return false;\n\n  return palavras1.slice(0, 3).join(\" \") === palavras2.slice(0, 3).join(\" \");\n}\n\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) {\n    return valor\n      .map(v => limpar(v))\n      .filter(Boolean);\n  }\n\n  if (typeof valor === \"string\") {\n    return valor\n      .split(/,|;|\\n/)\n      .map(v => limpar(v))\n      .filter(Boolean);\n  }\n\n  return [limpar(valor)].filter(Boolean);\n}\n\n// ======================================================\n// MAPA DE EXAMES PARA SIGLAS\n// Ajuste ou acrescente novas regras aqui quando necessário\n// ======================================================\n\nfunction normalizarExameParaSigla(exame) {\n  const original = limpar(exame);\n  const n = normalizarTexto(original);\n\n  if (!n) return \"\";\n\n  // Se já vier como sigla conhecida, mantém\n  const siglasConhecidas = [\n    \"COAGU\",\n    \"GLIS\",\n    \"URE\",\n    \"HEMO\",\n    \"CRE\",\n    \"TPAE\",\n    \"K\",\n    \"FOSFO\",\n    \"ALBUM\",\n    \"TTPA\",\n    \"NA\",\n    \"HB1AC\",\n    \"MG\",\n    \"PAPA\"\n  ];\n\n  if (siglasConhecidas.includes(n)) {\n    return n;\n  }\n\n  // COAGULOGRAMA\n  if (\n    n.includes(\"COAGULOGRAMA\") ||\n    n.includes(\"TSTC\") ||\n    n.includes(\"PLAQ\") ||\n    n.includes(\"P L ACO\") ||\n    n.includes(\"INR\")\n  ) {\n    return \"COAGU\";\n  }\n\n  // GLICOSE\n  if (\n    n.includes(\"GLICOSE\") ||\n    n === \"GLI\" ||\n    n === \"GLIS\"\n  ) {\n    return \"GLIS\";\n  }\n\n  // UREIA\n  if (n.includes(\"UREIA\") || n === \"URE\") {\n    return \"URE\";\n  }\n\n  // HEMOGRAMA\n  if (n.includes(\"HEMOGRAMA\") || n === \"HEMO\") {\n    return \"HEMO\";\n  }\n\n  // CREATININA\n  if (n.includes(\"CREATININA\") || n === \"CRE\") {\n    return \"CRE\";\n  }\n\n  // TEMPO DE ATIVIDADE DE PROTROMBINA\n  if (\n    n.includes(\"TEMPO DE ATIVIDADE DE PROTROMBINA\") ||\n    n.includes(\"TPAE\")\n  ) {\n    return \"TPAE\";\n  }\n\n  // POTÁSSIO\n  if (n.includes(\"POTASSIO\") || n === \"K\") {\n    return \"K\";\n  }\n\n  // FÓSFORO\n  if (n.includes(\"FOSFORO\") || n === \"FOSFO\") {\n    return \"FOSFO\";\n  }\n\n  // ALBUMINA\n  if (n.includes(\"ALBUMINA\") || n === \"ALBUM\") {\n    return \"ALBUM\";\n  }\n\n  // TTPA\n  if (\n    n.includes(\"TEMPO DE TROMBOPLASTINA\") ||\n    n.includes(\"TTPA\") ||\n    n.includes(\"TTP\")\n  ) {\n    return \"TTPA\";\n  }\n\n  // SÓDIO\n  if (n.includes(\"SODIO\") || n === \"NA\") {\n    return \"NA\";\n  }\n\n  // HEMOGLOBINA GLICADA\n  if (\n    n.includes(\"HEMOGLOBINA GLICADA\") ||\n    n.includes(\"HB1AC\") ||\n    n.includes(\"HBA1C\")\n  ) {\n    return \"HB1AC\";\n  }\n\n  // MAGNÉSIO\n  if (n.includes(\"MAGNESIO\") || n === \"MG\") {\n    return \"MG\";\n  }\n\n  // PAPANICOLAU\n  if (\n    n.includes(\"PAPANICOLAU\") ||\n    n.includes(\"CITOLOGIA\") ||\n    n === \"PAPA\"\n  ) {\n    return \"PAPA\";\n  }\n\n  // Se não encontrar no mapa, retorna normalizado\n  return n;\n}\n\nfunction normalizarListaExamesParaSiglas(exames) {\n  return garantirArray(exames)\n    .map(normalizarExameParaSigla)\n    .filter(Boolean);\n}\n\nfunction ordenarExames(exames) {\n  return [...exames].sort((a, b) => a.localeCompare(b));\n}\n\nfunction compararExames(exames1, exames2) {\n  const examesInput1 = normalizarListaExamesParaSiglas(exames1);\n  const examesInput2 = normalizarListaExamesParaSiglas(exames2);\n\n  const examesInput1Ordenados = ordenarExames(examesInput1);\n  const examesInput2Ordenados = ordenarExames(examesInput2);\n\n  const setInput1 = new Set(examesInput1Ordenados);\n  const setInput2 = new Set(examesInput2Ordenados);\n\n  const examesFaltando = examesInput1Ordenados.filter(exame => !setInput2.has(exame));\n  const examesExtras = examesInput2Ordenados.filter(exame => !setInput1.has(exame));\n\n  const matchExames =\n    examesFaltando.length === 0 &&\n    examesExtras.length === 0 &&\n    examesInput1Ordenados.length === examesInput2Ordenados.length;\n\n  return {\n    examesInput1: examesInput1Ordenados,\n    examesInput2: examesInput2Ordenados,\n    examesFaltando,\n    examesExtras,\n    matchExames\n  };\n}\n\n// ======================================================\n// 1. PEGA TODOS OS DADOS DO INPUT ATUAL\n// ======================================================\n\nconst todos = $input.all().map(i => i.json);\n\n// ======================================================\n// 2. SEPARA INPUT1 E INPUT2 PELA CATEGORIA\n// ======================================================\n\nlet input1 = todos.filter(i =>\n  i.PACIENTE &&\n  Array.isArray(i.EXAMES) &&\n  normalizarTexto(i.categoria).includes(\"RECIBO DE PAGAMENTO AO MEDICO\")\n);\n\nlet input2 = todos.filter(i =>\n  i.PACIENTE &&\n  Array.isArray(i.EXAMES) &&\n  normalizarTexto(i.categoria).includes(\"COMPUTADOR DO POSTO\")\n);\n\n// Fallback caso as categorias venham diferentes\nif (input1.length === 0) {\n  input1 = todos.filter(i =>\n    i.PACIENTE &&\n    Array.isArray(i.EXAMES) &&\n    i.medico &&\n    i.numeroRecibo\n  );\n}\n\nif (input2.length === 0) {\n  input2 = todos.filter(i =>\n    i.PACIENTE &&\n    Array.isArray(i.EXAMES) &&\n    i.codigo\n  );\n}\n\n// ======================================================\n// 3. DADOS GERAIS\n// ======================================================\n\nconst posto =\n  input2[0]?.posto ||\n  input1[0]?.posto ||\n  \"\";\n\nconst data =\n  input1[0]?.data ||\n  input2[0]?.data ||\n  \"\";\n\n// ======================================================\n// 4. COMPARA INPUT1 CONTRA INPUT2\n// ======================================================\n\nconst resultado = [];\nconst indicesInput2Usados = new Set();\n\nfor (const item1 of input1) {\n  const pacienteInput1 = item1.PACIENTE || \"\";\n\n  const examesInput1Original = garantirArray(item1.EXAMES);\n\n  let melhorMatch = null;\n  let melhorIndiceInput2 = -1;\n  let maiorQtdPalavrasIguais = 0;\n  let melhorComparacaoExames = null;\n\n  // ======================================================\n  // 4.1 Primeiro tenta paciente compatível + exames iguais\n  // ======================================================\n\n  for (let idx = 0; idx < input2.length; idx++) {\n    if (indicesInput2Usados.has(idx)) continue;\n\n    const item2 = input2[idx];\n    const pacienteInput2 = item2.PACIENTE || \"\";\n\n    const nomeCompletoIgual =\n      normalizarTexto(pacienteInput1) === normalizarTexto(pacienteInput2);\n\n    const match3Palavras =\n      tresPrimeirasPalavrasIguaisNaSequencia(pacienteInput1, pacienteInput2);\n\n    const matchPaciente = nomeCompletoIgual || match3Palavras;\n\n    if (!matchPaciente) continue;\n\n    const comparacaoExames = compararExames(item1.EXAMES, item2.EXAMES);\n\n    if (comparacaoExames.matchExames) {\n      melhorMatch = item2;\n      melhorIndiceInput2 = idx;\n      melhorComparacaoExames = comparacaoExames;\n      maiorQtdPalavrasIguais = contarPalavrasIguais(pacienteInput1, pacienteInput2);\n      break;\n    }\n  }\n\n  // ======================================================\n  // 4.2 Se não achou match completo, tenta achar só paciente\n  // ======================================================\n\n  if (!melhorMatch) {\n    for (let idx = 0; idx < input2.length; idx++) {\n      if (indicesInput2Usados.has(idx)) continue;\n\n      const item2 = input2[idx];\n      const pacienteInput2 = item2.PACIENTE || \"\";\n\n      const nomeCompletoIgual =\n        normalizarTexto(pacienteInput1) === normalizarTexto(pacienteInput2);\n\n      const match3Palavras =\n        tresPrimeirasPalavrasIguaisNaSequencia(pacienteInput1, pacienteInput2);\n\n      const matchPaciente = nomeCompletoIgual || match3Palavras;\n\n      if (!matchPaciente) continue;\n\n      const qtdPalavrasIguais = contarPalavrasIguais(pacienteInput1, pacienteInput2);\n\n      if (qtdPalavrasIguais > maiorQtdPalavrasIguais) {\n        melhorMatch = item2;\n        melhorIndiceInput2 = idx;\n        maiorQtdPalavrasIguais = qtdPalavrasIguais;\n        melhorComparacaoExames = compararExames(item1.EXAMES, item2.EXAMES);\n      }\n    }\n  }\n\n  const pacienteInput2Encontrado = melhorMatch?.PACIENTE || \"\";\n\n  const nomeCompletoIgual =\n    melhorMatch\n      ? normalizarTexto(pacienteInput1) === normalizarTexto(pacienteInput2Encontrado)\n      : false;\n\n  const match3Palavras =\n    melhorMatch\n      ? tresPrimeirasPalavrasIguaisNaSequencia(pacienteInput1, pacienteInput2Encontrado)\n      : false;\n\n  const matchPaciente = Boolean(\n    melhorMatch && (nomeCompletoIgual || match3Palavras)\n  );\n\n  if (!melhorComparacaoExames) {\n    melhorComparacaoExames = compararExames(item1.EXAMES, melhorMatch?.EXAMES || []);\n  }\n\n  const matchExames =\n    matchPaciente && melhorComparacaoExames.matchExames;\n\n  const matchCompleto =\n    matchPaciente && matchExames;\n\n  if (matchPaciente && melhorIndiceInput2 >= 0) {\n    indicesInput2Usados.add(melhorIndiceInput2);\n  }\n\n  resultado.push({\n    json: {\n      origemResultado: \"RECIBO_COMPARADO_COM_COMPUTADOR\",\n\n      tipoResultado: matchCompleto\n        ? \"MATCH_COMPLETO\"\n        : matchPaciente\n          ? \"PACIENTE_MATCH_EXAMES_DIVERGENTES\"\n          : \"RECIBO_SEM_MATCH_NO_COMPUTADOR\",\n\n      posto,\n      data,\n\n      PACIENTE_INPUT1: pacienteInput1,\n      PACIENTE_INPUT2: pacienteInput2Encontrado,\n\n      matchPaciente,\n\n      nomeCompletoIgual,\n\n      matchPor3Palavras:\n        !nomeCompletoIgual && match3Palavras,\n\n      palavrasIguaisPaciente:\n        maiorQtdPalavrasIguais,\n\n      primeiras3PalavrasInput1:\n        palavrasDoNome(pacienteInput1).slice(0, 3),\n\n      primeiras3PalavrasInput2:\n        pacienteInput2Encontrado\n          ? palavrasDoNome(pacienteInput2Encontrado).slice(0, 3)\n          : [],\n\n      matchExames,\n\n      matchCompleto,\n\n      quantidadeExamesInput1:\n        melhorComparacaoExames.examesInput1.length,\n\n      quantidadeExamesInput2:\n        melhorComparacaoExames.examesInput2.length,\n\n      // Agora retorna em SIGLAS\n      examesInput1:\n        melhorComparacaoExames.examesInput1,\n\n      examesInput2:\n        melhorComparacaoExames.examesInput2,\n\n      examesFaltandoNoInput2:\n        matchPaciente\n          ? melhorComparacaoExames.examesFaltando\n          : melhorComparacaoExames.examesInput1,\n\n      examesExtrasNoInput2:\n        matchPaciente\n          ? melhorComparacaoExames.examesExtras\n          : [],\n\n      // Mantém o original só para debug, se precisar conferir\n      examesInput1Original,\n\n      erro:\n        !matchCompleto,\n\n      mensagem:\n        matchCompleto\n          ? \"Paciente e exames estão iguais\"\n          : matchPaciente\n            ? \"Paciente encontrado, mas há divergência entre os exames\"\n            : \"Paciente do recibo não encontrado no computador\"\n    }\n  });\n}\n\n// ======================================================\n// 5. RETORNA INPUT2 QUE NÃO TEVE CORRESPONDÊNCIA NO INPUT1\n// ======================================================\n\nfor (let idx = 0; idx < input2.length; idx++) {\n  if (indicesInput2Usados.has(idx)) continue;\n\n  const item2 = input2[idx];\n\n  const pacienteInput2 = item2.PACIENTE || \"\";\n  const examesInput2 = normalizarListaExamesParaSiglas(item2.EXAMES);\n\n  resultado.push({\n    json: {\n      origemResultado: \"COMPUTADOR_SEM_MATCH_NO_RECIBO\",\n\n      tipoResultado: \"COMPUTADOR_SEM_MATCH_NO_RECIBO\",\n\n      posto: item2.posto || posto,\n      data: item2.data || data,\n\n      PACIENTE_INPUT1: \"\",\n      PACIENTE_INPUT2: pacienteInput2,\n\n      matchPaciente: false,\n\n      nomeCompletoIgual: false,\n\n      matchPor3Palavras: false,\n\n      palavrasIguaisPaciente: 0,\n\n      primeiras3PalavrasInput1: [],\n\n      primeiras3PalavrasInput2:\n        palavrasDoNome(pacienteInput2).slice(0, 3),\n\n      matchExames: false,\n\n      matchCompleto: false,\n\n      quantidadeExamesInput1: 0,\n\n      quantidadeExamesInput2:\n        examesInput2.length,\n\n      examesInput1: [],\n\n      examesInput2,\n\n      examesFaltandoNoInput2: [],\n\n      examesExtrasNoInput2:\n        examesInput2,\n\n      erro: true,\n\n      mensagem:\n        \"Paciente existe no computador, mas não foi encontrado correspondente no recibo\"\n    }\n  });\n}\n\n// ======================================================\n// 6. RETORNO FINAL\n// ======================================================\n\nif (resultado.length === 0) {\n  return [\n    {\n      json: {\n        erro: true,\n        mensagem: \"Nenhum resultado encontrado na comparação.\",\n        totalInputAtual: todos.length,\n        totalInput1Recibo: input1.length,\n        totalInput2Computador: input2.length,\n        posto,\n        data,\n        debugCategorias: todos.map(i => i.categoria || \"\")\n      }\n    }\n  ];\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2064,-416],"id":"fbc7a6ff-f84e-4559-b38c-ddf31972b6d6","name":"Code in JavaScript"},{"parameters":{"jsCode":"// ======================================================\n// EXTRATOR OCR - RELATÓRIO DE MOTOQUEIROS / LABOVIDA\n// ✅ Retorna 1 item por paciente\n// ✅ Usa SOMENTE exames da tabela dinâmica NOME_EXAME\n// ✅ Sem examesFallback\n// ✅ PACIENTE tem prioridade\n// ✅ Captura vários pacientes mesmo quando o OCR vem em uma linha única\n// ======================================================\n\nconst todosItens = $input.all();\n\n// ======================================================\n// 0. LOCALIZA ITEM OCR\n// ======================================================\n\nconst itemOCR = todosItens.find(item => {\n  const j = item.json || {};\n  return (\n    j.extractedText ||\n    j.text ||\n    j.markdown ||\n    j.conteudo ||\n    j.content ||\n    Array.isArray(j.pages)\n  );\n});\n\nif (!itemOCR) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Nenhum item com texto OCR foi encontrado no input do Merge.\",\n        totalItensRecebidos: todosItens.length\n      }\n    }\n  ];\n}\n\nconst input = itemOCR.json;\n\n// ======================================================\n// 1. FUNÇÕES BÁSICAS\n// ======================================================\n\nfunction limpar(valor) {\n  return String(valor ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/[ \\t]+/g, \" \")\n    .trim();\n}\n\nfunction normalizar(valor) {\n  return limpar(valor)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase();\n}\n\n// ======================================================\n// 2. EXAMES CONHECIDOS - SOMENTE DO MERGE\n// Campo esperado: NOME_EXAME\n// ======================================================\n\nconst examesConhecidos = [\n  ...new Set(\n    todosItens\n      .map(item => item.json || {})\n      .map(j => j.NOME_EXAME)\n      .filter(v => v !== undefined && v !== null && String(v).trim() !== \"\")\n      .map(v => normalizar(v))\n  )\n];\n\nconst examesSet = new Set(examesConhecidos);\n\n// ======================================================\n// 3. NOME DO ARQUIVO\n// ======================================================\n\nlet nomeArquivo = \"\";\n\ntry {\n  nomeArquivo = String($(\"ENVIO\").first().json.name || \"\");\n} catch (e) {\n  nomeArquivo = String(input.name || input.fileName || \"\");\n}\n\n// ======================================================\n// 4. TEXTO OCR\n// ======================================================\n\nlet textoOCR = String(\n  input.extractedText ||\n  input.text ||\n  input.markdown ||\n  input.conteudo ||\n  input.content ||\n  (Array.isArray(input.pages)\n    ? input.pages.map(p => p.markdown || p.text || \"\").join(\"\\n\")\n    : \"\") ||\n  \"\"\n);\n\n// Corrige \\n literal\ntextoOCR = textoOCR.replace(/\\\\n/g, \"\\n\");\n\n// Garante quebra antes de todo novo paciente\ntextoOCR = textoOCR.replace(\n  /\\s+(?=\\d{2}\\/\\d{2}\\/\\d{4}\\s+\\d{4,}\\s+)/g,\n  \"\\n\"\n);\n\nif (!textoOCR.trim()) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Nenhum texto OCR encontrado.\",\n        nomeArquivo\n      }\n    }\n  ];\n}\n\n// ======================================================\n// 5. FUNÇÕES AUXILIARES\n// ======================================================\n\nfunction extrairPosto(nomeArquivo, texto) {\n  const fonte = `${nomeArquivo || \"\"}\\n${texto || \"\"}`;\n\n  let m = fonte.match(/\\bP\\s*0*(\\d{1,5})\\b/i);\n  if (m) return m[1];\n\n  m = fonte.match(/\\bP\\s*:\\s*0*(\\d{1,5})\\b/i);\n  if (m) return m[1];\n\n  m = fonte.match(/\\bPOSTO\\s*0*(\\d{1,5})\\b/i);\n  if (m) return m[1];\n\n  // Exemplo: 7626213 -> posto 76\n  m = fonte.match(/\\b(\\d{2,3})\\d{5,}\\b/);\n  if (m) return String(Number(m[1]));\n\n  return \"\";\n}\n\nfunction extrairData(nomeArquivo, texto) {\n  const fonte = `${nomeArquivo || \"\"}\\n${texto || \"\"}`;\n\n  let m = fonte.match(/Data\\s+do\\s+Envio\\s*:\\s*(\\d{2})\\/(\\d{2})\\/(\\d{4})/i);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  m = fonte.match(/\\b(\\d{2})\\.(\\d{2})\\.(\\d{4})\\b/);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  m = fonte.match(/\\b(\\d{2})\\/(\\d{2})\\/(\\d{4})\\b/);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  m = fonte.match(/\\b(\\d{2})-(\\d{2})-(\\d{4})\\b/);\n  if (m) return `${m[1]}/${m[2]}/${m[3]}`;\n\n  return \"\";\n}\n\nfunction removerColchetes(texto) {\n  return String(texto || \"\")\n    .replace(/\\[[^\\]]*]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction ehDataBR(valor) {\n  return /^\\d{2}\\/\\d{2}\\/\\d{4}$/.test(limpar(valor));\n}\n\nfunction ehCodigo(valor) {\n  return /^\\d{4,}$/.test(limpar(valor));\n}\n\nfunction ehNomePaciente(valor) {\n  const texto = limpar(valor);\n  const n = normalizar(texto);\n\n  if (!texto) return false;\n  if (texto.length < 5) return false;\n  if (/\\d/.test(texto)) return false;\n\n  const bloqueados = [\n    \"LABOVIDA\",\n    \"RELATORIO\",\n    \"RELATÓRIO\",\n    \"MOTOQUEIROS\",\n    \"RESUMO\",\n    \"PACIENTES\",\n    \"EXAME\",\n    \"EXAMES\",\n    \"USUARIO\",\n    \"USUÁRIO\",\n    \"DATA DE IMPRESSAO\",\n    \"DATA DE IMPRESSÃO\"\n  ];\n\n  return !bloqueados.some(b => n.includes(normalizar(b)));\n}\n\nfunction corrigirExameOCR(exame) {\n  const e = normalizar(exame);\n\n  // Se existe na tabela, mantém exatamente como veio.\n  if (examesSet.has(e)) return e;\n\n  const mapa = {\n    \"GLICOSE\": \"GLIS\"\n  };\n\n  const corrigido = mapa[e];\n\n  if (corrigido && examesSet.has(corrigido)) {\n    return corrigido;\n  }\n\n  return e;\n}\n\nfunction separarExames(textoExames, posto) {\n  let texto = removerColchetes(textoExames);\n\n  if (!texto) return [];\n\n  if (String(posto) === \"137\") {\n    texto = texto.replace(/\\bGLICOSE\\s+JEJUM\\b/gi, \"GLI\");\n  }\n\n  return texto\n    .split(/\\s+/)\n    .map(e => limpar(e))\n    .filter(e => e)\n    .map(e => corrigirExameOCR(e))\n    .filter(e => !/^\\d+([.,]\\d+)?$/.test(e))\n    .filter(e => examesSet.has(e));\n}\n\nfunction linhaIgnorada(linha) {\n  const n = normalizar(linha);\n\n  if (!n) return true;\n  if (n.includes(\"---\")) return true;\n  if (n === \"LABOVIDA\") return true;\n  if (n.includes(\"RELATORIO DE MOTOQUEIROS\")) return true;\n  if (n.includes(\"RESUMO\")) return true;\n  if (n.includes(\"PACIENTES\")) return true;\n  if (n.includes(\"EXAME(S)\")) return true;\n  if (n.includes(\"DATA DE IMPRESSAO\")) return true;\n  if (n.includes(\"USUARIO\")) return true;\n\n  return false;\n}\n\nfunction encontrarIndicePrimeiroExame(partes) {\n  for (let i = 0; i < partes.length; i++) {\n    const termo = corrigirExameOCR(partes[i]);\n\n    if (examesSet.has(termo)) {\n      return i;\n    }\n  }\n\n  return -1;\n}\n\n// ======================================================\n// 6. DADOS BASE\n// ======================================================\n\nconst posto = extrairPosto(nomeArquivo, textoOCR);\nconst dataPadrao = extrairData(nomeArquivo, textoOCR);\n\nconst pacientes = [];\nconst chavesIncluidas = new Set();\n\nfunction adicionarPaciente(dataLinha, codigo, paciente, examesBruto) {\n  dataLinha = limpar(dataLinha);\n  codigo = limpar(codigo);\n  paciente = limpar(paciente);\n  examesBruto = limpar(examesBruto);\n\n  if (!ehDataBR(dataLinha)) return;\n  if (!ehCodigo(codigo)) return;\n  if (!ehNomePaciente(paciente)) return;\n\n  const chave = `${dataLinha}|${codigo}|${normalizar(paciente)}`;\n  if (chavesIncluidas.has(chave)) return;\n\n  const exames = examesBruto\n    ? separarExames(examesBruto, posto)\n    : [];\n\n  pacientes.push({\n    data: dataLinha || dataPadrao,\n    codigo,\n    PACIENTE: normalizar(paciente),\n    EXAMES: exames,\n    EXAMES_BRUTO: examesBruto\n  });\n\n  chavesIncluidas.add(chave);\n}\n\n// ======================================================\n// 7. PROCESSA TABELAS COM PIPE\n// ======================================================\n\nconst linhas = textoOCR\n  .split(/\\r?\\n/)\n  .map(l => limpar(l))\n  .filter(Boolean);\n\nfor (const linha of linhas) {\n  if (linhaIgnorada(linha)) continue;\n  if (!linha.includes(\"|\")) continue;\n\n  let cols = linha.split(\"|\").map(c => limpar(c));\n\n  if (cols[0] === \"\") cols.shift();\n  if (cols[cols.length - 1] === \"\") cols.pop();\n\n  if (cols.length < 3) continue;\n\n  const dataLinha = limpar(cols[0]);\n  const codigo = limpar(cols[1]);\n  const paciente = limpar(cols[2]);\n  const examesBruto = limpar(cols.slice(3).join(\" \"));\n\n  adicionarPaciente(dataLinha, codigo, paciente, examesBruto);\n}\n\n// ======================================================\n// 8. PROCESSA REGISTROS SIMPLES COM REGEX GLOBAL\n// Captura cada bloco:\n// DATA CODIGO CONTEUDO até a próxima DATA CODIGO\n// ======================================================\n\nconst textoParaRegex = textoOCR\n  .replace(/\\|/g, \" \")\n  .replace(/\\r/g, \"\\n\");\n\nconst regexRegistro = /(\\d{2}\\/\\d{2}\\/\\d{4})\\s+(\\d{4,})\\s+([\\s\\S]*?)(?=\\s+\\d{2}\\/\\d{2}\\/\\d{4}\\s+\\d{4,}\\s+|\\s+Resumo:|\\s+Data de impressão:|\\s+Usuário:|$)/gi;\n\nlet match;\n\nwhile ((match = regexRegistro.exec(textoParaRegex)) !== null) {\n  const dataLinha = limpar(match[1]);\n  const codigo = limpar(match[2]);\n  let resto = limpar(match[3]);\n\n  if (!resto) continue;\n\n  resto = resto\n    .replace(/\\bResumo:.*$/i, \"\")\n    .replace(/\\bData de impressão:.*$/i, \"\")\n    .replace(/\\bUsuário:.*$/i, \"\")\n    .trim();\n\n  const partes = resto\n    .split(/\\s+/)\n    .map(p => limpar(p))\n    .filter(Boolean);\n\n  if (partes.length === 0) continue;\n\n  const indicePrimeiroExame = encontrarIndicePrimeiroExame(partes);\n\n  let paciente = \"\";\n  let examesBruto = \"\";\n\n  if (indicePrimeiroExame === -1) {\n    paciente = partes.join(\" \");\n    examesBruto = \"\";\n  } else {\n    paciente = partes.slice(0, indicePrimeiroExame).join(\" \");\n    examesBruto = partes.slice(indicePrimeiroExame).join(\" \");\n  }\n\n  adicionarPaciente(dataLinha, codigo, paciente, examesBruto);\n}\n\n// ======================================================\n// 9. RETORNO FINAL\n// ======================================================\n\nif (pacientes.length === 0) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Nenhum paciente foi extraído do OCR.\",\n        posto,\n        data: dataPadrao,\n        nomeArquivo,\n        debug: {\n          totalItensRecebidos: todosItens.length,\n          totalExamesConhecidos: examesSet.size,\n          temBHCG: examesSet.has(\"BHCG\"),\n          temCTFT: examesSet.has(\"CTFT\"),\n          temCTF: examesSet.has(\"CTF\"),\n          totalLinhas: linhas.length,\n          primeirasLinhas: linhas.slice(0, 30),\n          textoNormalizadoInicio: textoOCR.slice(0, 1000)\n        }\n      }\n    }\n  ];\n}\n\nreturn pacientes.map((p, index) => ({\n  json: {\n    sucesso: true,\n    categoria: \"(+)COMPUTADOR DO POSTO\",\n    PACIENTE: p.PACIENTE,\n    EXAMES: p.EXAMES,\n    EXAMES_TEXTO: p.EXAMES.join(\", \"),\n    QTD_EXAMES: p.EXAMES.length,\n    VALOR: 0,\n    posto,\n    data: p.data || dataPadrao,\n    codigo: p.codigo,\n    EXAMES_BRUTO: p.EXAMES_BRUTO,\n    _idx: index + 1,\n    _totalPacientes: pacientes.length,\n    _totalExamesConhecidos: examesSet.size\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,-400],"id":"ca565af9-b605-438e-9e8b-9e5cd4283a5b","name":"Code in JavaScript7"},{"parameters":{"jsCode":"// ======================================================\n// EXTRATOR OCR - RECIBO DE PAGAMENTO AO MÉDICO\n// ✅ Lê retorno do Mistral OCR\n// ✅ Extrai pacientes da tabela markdown\n// ✅ Retorna 1 item por paciente\n// ✅ Extrai atendimento, paciente, procedimentos, convênio e valor médico\n// ✅ Extrai médico, recibo, data do caixa, data de pagamento e forma de pagamento\n// ======================================================\n\n// ======================================================\n// 1. PEGA INPUT\n// ======================================================\n\nconst entrada = $input.first().json;\n\n// Caso o input venha como array, pega o primeiro item\nconst input = Array.isArray(entrada) ? entrada[0] : entrada;\n\n// ======================================================\n// 2. PEGA TEXTO OCR\n// ======================================================\n\nconst textoOCR = String(\n  input.extractedText ||\n  input.text ||\n  input.markdown ||\n  input.output ||\n  input.response ||\n  (\n    Array.isArray(input.pages)\n      ? input.pages.map(p => p.markdown || \"\").join(\"\\n\")\n      : \"\"\n  ) ||\n  \"\"\n);\n\nif (!textoOCR.trim()) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Nenhum texto OCR encontrado.\"\n      }\n    }\n  ];\n}\n\n// ======================================================\n// 3. FUNÇÕES AUXILIARES\n// ======================================================\n\nfunction limpar(valor) {\n  return String(valor ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction normalizar(valor) {\n  return limpar(valor)\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase();\n}\n\nfunction converterValor(valor) {\n  let v = limpar(valor);\n\n  if (!v) return 0;\n\n  v = v\n    .replace(/R\\$/gi, \"\")\n    .replace(/\\s+/g, \"\")\n    .trim();\n\n  // Caso venha no formato brasileiro: 202,60\n  if (/^\\d{1,3}(\\.\\d{3})*,\\d{2}$/.test(v)) {\n    v = v.replace(/\\./g, \"\").replace(\",\", \".\");\n  }\n\n  // Caso venha como 35.50, mantém\n  const numero = Number(v);\n\n  return Number.isFinite(numero) ? numero : 0;\n}\n\nfunction separarProcedimentos(textoProcedimentos) {\n  const texto = limpar(textoProcedimentos);\n\n  if (!texto) return [];\n\n  const procedimentos = [];\n  let atual = \"\";\n  let nivelParenteses = 0;\n\n  for (let i = 0; i < texto.length; i++) {\n    const char = texto[i];\n\n    if (char === \"(\") {\n      nivelParenteses++;\n      atual += char;\n      continue;\n    }\n\n    if (char === \")\") {\n      nivelParenteses = Math.max(0, nivelParenteses - 1);\n      atual += char;\n      continue;\n    }\n\n    // Se for vírgula fora de parênteses, separa o procedimento\n    if (char === \",\" && nivelParenteses === 0) {\n      const proc = limpar(atual);\n      if (proc) procedimentos.push(proc);\n      atual = \"\";\n      continue;\n    }\n\n    atual += char;\n  }\n\n  const ultimo = limpar(atual);\n  if (ultimo) procedimentos.push(ultimo);\n\n  return procedimentos\n    .map(p => limpar(p).toUpperCase())\n    .filter(Boolean);\n}\n\nfunction extrairMedico(texto) {\n  const m = texto.match(/M[eé]dico:\\s*([^\\n\\r]+)/i);\n  return m ? limpar(m[1]).toUpperCase() : \"\";\n}\n\nfunction extrairNumeroRecibo(texto) {\n  const m = texto.match(/Recibo\\s+nr\\.?\\s*([0-9]+)/i);\n  return m ? limpar(m[1]) : \"\";\n}\n\nfunction extrairDataCaixa(texto) {\n  const m = texto.match(/Data\\s+do\\s+Caixa:\\s*(\\d{2}\\/\\d{2}\\/\\d{4})/i);\n  return m ? limpar(m[1]) : \"\";\n}\n\nfunction extrairDataPagamento(texto) {\n  const m = texto.match(/Data\\s+de\\s+Pagamento:\\s*(\\d{2}\\/\\d{2}\\/\\d{4})\\s+(\\d{2}:\\d{2})h?/i);\n\n  return {\n    dataPagamento: m ? limpar(m[1]) : \"\",\n    horaPagamento: m ? limpar(m[2]) : \"\"\n  };\n}\n\nfunction extrairFormaPagamento(texto) {\n  const m = texto.match(/Forma\\s+de\\s+Pagamento:\\s*([^\\n\\r]+)/i);\n  return m ? limpar(m[1]).toUpperCase() : \"\";\n}\n\nfunction ehLinhaPaciente(cols) {\n  if (cols.length < 5) return false;\n\n  const atendimento = limpar(cols[0]);\n  const paciente = limpar(cols[1]);\n  const procedimentos = limpar(cols[2]);\n  const convenio = limpar(cols[3]);\n  const valor = limpar(cols[4]);\n\n  if (!/^\\d+$/.test(atendimento)) return false;\n  if (!paciente || paciente.length < 5) return false;\n  if (/\\d/.test(paciente)) return false;\n  if (!procedimentos) return false;\n  if (!convenio) return false;\n  if (!valor) return false;\n\n  const nPaciente = normalizar(paciente);\n\n  const bloqueados = [\n    \"PACIENTE\",\n    \"TOTAL\",\n    \"TAXAS\",\n    \"LANCAMENTO\",\n    \"ATEND\",\n    \"PROCEDIMENTOS\",\n    \"CONVENIO\",\n    \"VALOR MEDICO\",\n    \"QTD VOLTA\",\n    \"QTD ATEND\"\n  ];\n\n  if (bloqueados.some(p => nPaciente.includes(p))) return false;\n\n  return true;\n}\n\n// ======================================================\n// 4. EXTRAI DADOS GERAIS DO RECIBO\n// ======================================================\n\nconst medico = extrairMedico(textoOCR);\nconst numeroRecibo = extrairNumeroRecibo(textoOCR);\nconst dataCaixa = extrairDataCaixa(textoOCR);\nconst { dataPagamento, horaPagamento } = extrairDataPagamento(textoOCR);\nconst formaPagamento = extrairFormaPagamento(textoOCR);\n\n// Usa a data do caixa como data principal.\n// Se não encontrar, usa a data de pagamento.\nconst data = dataCaixa || dataPagamento;\n\n// ======================================================\n// 5. LÊ LINHAS DA TABELA\n// ======================================================\n\nconst linhas = textoOCR\n  .split(/\\r?\\n/)\n  .map(l => limpar(l))\n  .filter(Boolean);\n\nconst pacientes = [];\n\nfor (const linha of linhas) {\n  if (!linha.includes(\"|\")) continue;\n\n  let cols = linha.split(\"|\").map(c => limpar(c));\n\n  // Remove coluna vazia no início e no final quando a tabela começa/termina com |\n  if (cols[0] === \"\") cols.shift();\n  if (cols[cols.length - 1] === \"\") cols.pop();\n\n  // Ignora linha separadora markdown\n  if (cols.some(c => /^-+$/.test(c.replace(/\\s/g, \"\")))) continue;\n\n  if (!ehLinhaPaciente(cols)) continue;\n\n  const atendimento = limpar(cols[0]);\n  const paciente = limpar(cols[1]).toUpperCase();\n  const procedimentosBruto = limpar(cols[2]);\n  const convenio = limpar(cols[3]).toUpperCase();\n  const valorMedico = converterValor(cols[4]);\n\n  const exames = separarProcedimentos(procedimentosBruto);\n\n  pacientes.push({\n    atendimento,\n    PACIENTE: paciente,\n    EXAMES: exames,\n    EXAMES_TEXTO: exames.join(\", \"),\n    QTD_EXAMES: exames.length,\n    CONVENIO: convenio,\n    VALOR: valorMedico\n  });\n}\n\n// ======================================================\n// 6. SE NÃO ENCONTRAR PACIENTES\n// ======================================================\n\nif (pacientes.length === 0) {\n  return [\n    {\n      json: {\n        sucesso: false,\n        erro: true,\n        mensagem: \"Nenhum paciente foi extraído da tabela do recibo.\",\n        medico,\n        numeroRecibo,\n        data,\n        dataCaixa,\n        dataPagamento,\n        horaPagamento,\n        formaPagamento,\n        debug: {\n          totalLinhas: linhas.length,\n          linhasComPipe: linhas.filter(l => l.includes(\"|\")).length,\n          primeirasLinhasComPipe: linhas.filter(l => l.includes(\"|\")).slice(0, 10)\n        }\n      }\n    }\n  ];\n}\n\n// ======================================================\n// 7. RETORNO FINAL\n// ======================================================\n\nreturn pacientes.map((p, index) => ({\n  json: {\n    sucesso: true,\n    categoria: \"RECIBO DE PAGAMENTO AO MÉDICO\",\n\n    medico,\n    numeroRecibo,\n    data,\n    dataCaixa,\n    dataPagamento,\n    horaPagamento,\n    formaPagamento,\n\n    atendimento: p.atendimento,\n    PACIENTE: p.PACIENTE,\n    EXAMES: p.EXAMES,\n    EXAMES_TEXTO: p.EXAMES_TEXTO,\n    QTD_EXAMES: p.QTD_EXAMES,\n    CONVENIO: p.CONVENIO,\n    VALOR: p.VALOR,\n\n    _idx: index + 1,\n    _totalPacientes: pacientes.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,-992],"id":"cb6366b1-fcfc-456b-8c2e-7c086243da99","name":"Code in JavaScript5"},{"parameters":{"documentId":{"__rl":true,"value":"16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk","mode":"list","cachedResultName":"Tabela sigla-exame match","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"EXAMES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[400,80],"id":"b4854e7e-c133-4a8a-9fec-7c14e296a94a","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk","mode":"list","cachedResultName":"Tabela sigla-exame match","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"EXAMES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[864,-240],"id":"14a58122-3d81-475f-a901-ea3902c546a4","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1232,-432],"id":"b25137c6-11f9-45f8-967e-43be1d78876e","name":"Merge"}],"connections":{"Schedule Trigger":{"main":[[{"node":"ENVIO","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"AT&TIC1","type":"main","index":0},{"node":"If2","type":"main","index":0}]]},"ENVIO":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Code in JavaScript9","type":"main","index":0}]]},"Extract text2":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Extract text3","type":"main","index":0},{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"AT&TIC1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Extract text3":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript6":{"main":[[]]},"Loop Over Items1":{"main":[[],[{"node":"mover envio1","type":"main","index":0},{"node":"move at&tic1","type":"main","index":0},{"node":"Enviar texto1","type":"main","index":0}]]},"Code in JavaScript9":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[]]},"Get row(s) in sheet2":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Merge3":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Extract text4","type":"main","index":0}],[{"node":"Extract text2","type":"main","index":0},{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"Extract text4":{"main":[[{"node":"Code in JavaScript8","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Code in JavaScript8":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Code in JavaScript7":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Get row(s) in sheet3":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code in JavaScript7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e1e9cd1e-c2c4-40b9-8ad2-b823ea531460","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-05-13T22:20:31.848Z","createdAt":"2026-05-13T22:20:31.848Z","role":"workflow:owner","workflowId":"LMHF9RcGZ4L0rblV","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}