workflows/conferencia-at&tic-LMHF9RcGZ4L0rblV.json
{"updatedAt":"2026-05-19T02:59:38.439Z","createdAt":"2026-05-13T22:20:31.844Z","id":"LMHF9RcGZ4L0rblV","name":"conferencia At&tic","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[80,784],"id":"e95ef940-5897-43a2-88ec-3cb049ec4c91","name":"Schedule Trigger"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[608,400],"id":"15a22491-33c8-42d5-ac72-c8889c58bafc","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[832,400],"id":"3e736e72-57a3-4607-8056-94e0228b48c1","name":"Extract text","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"jsCode":"const raw =\n  $json.text ||\n  $json.output ||\n  $json.response ||\n  $json.content ||\n  \"\";\n\nlet texto = String(raw).trim();\n\n// =====================================\n// REMOVE BLOCO MARKDOWN\n// =====================================\ntexto = texto\n  .replace(/^```json\\s*/i, \"\")\n  .replace(/^```\\s*/i, \"\")\n  .replace(/\\s*```$/i, \"\")\n  .trim();\n\n// =====================================\n// REMOVE QUEBRAS E ESCAPES EXTRAS\n// =====================================\ntexto = texto\n  .replace(/\\r/g, \"\")\n  .replace(/\\n/g, \" \")\n  .replace(/\\t/g, \" \")\n  .trim();\n\n// =====================================\n// LOCALIZA ARRAY JSON\n// =====================================\nconst inicio = texto.indexOf(\"[\");\nconst fim = texto.lastIndexOf(\"]\");\n\nif (inicio === -1 || fim === -1) {\n  throw new Error(\n    \"A IA não retornou um ARRAY JSON válido.\"\n  );\n}\n\nlet jsonTexto = texto.slice(inicio, fim + 1);\n\n// =====================================\n// REMOVE ESCAPES DUPLOS\n// =====================================\nif (jsonTexto.includes('\\\\\"')) {\n  jsonTexto = jsonTexto\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\\\\\/g, \"\\\\\");\n}\n\n// =====================================\n// REMOVE ASPAS EXTERNAS\n// =====================================\nif (\n  jsonTexto.startsWith('\"[') &&\n  jsonTexto.endsWith(']\"')\n) {\n  jsonTexto = jsonTexto\n    .slice(1, -1);\n}\n\n// =====================================\n// CONVERTE JSON\n// =====================================\nlet dados;\n\ntry {\n  dados = JSON.parse(jsonTexto);\n} catch (e) {\n\n  // =====================================\n  // TENTA NOVAMENTE COM JSON.parse DUPLO\n  // =====================================\n  try {\n    dados = JSON.parse(\n      JSON.parse(JSON.stringify(jsonTexto))\n    );\n  } catch (e2) {\n    throw new Error(\n      \"Erro ao converter JSON da IA: \" +\n      e.message\n    );\n  }\n}\n\n// =====================================\n// GARANTE ARRAY\n// =====================================\nif (!Array.isArray(dados)) {\n  dados = [dados];\n}\n\n// =====================================\n// NORMALIZA CAMPOS\n// =====================================\nconst resultado = dados.map((item, index) => {\n\n  const exames =\n    Array.isArray(item.EXAMES)\n      ? item.EXAMES\n      : String(item.EXAMES || \"\")\n          .split(\",\")\n          .map(e => e.trim())\n          .filter(Boolean);\n\n  return {\n    json: {\n      sucesso: true,\n\n      categoria:\n        item.categoria ||\n        \"(+)COMPUTADOR DO POSTO\",\n\n      PACIENTE:\n        String(item.PACIENTE || \"\").trim(),\n\n      EXAMES: exames,\n\n      EXAMES_TEXTO:\n        exames.join(\", \"),\n\n      QTD_EXAMES:\n        exames.length,\n\n      VALOR:\n        Number(item.VALOR || 0),\n\n      posto:\n        String(\n          item.posto || \"\"\n        ).trim(),\n\n      data:\n        String(\n          item.data || \"\"\n        ).trim(),\n\n      _idx: index + 1,\n\n      _totalPacientes:\n        dados.length\n    }\n  };\n});\n\n// =====================================\n// REMOVE DUPLICADOS\n// =====================================\nconst vistos = new Set();\n\nconst unicos = [];\n\nfor (const item of resultado) {\n\n  const chave =\n    `${item.json.PACIENTE}|${item.json.EXAMES_TEXTO}|${item.json.data}`;\n\n  if (!vistos.has(chave)) {\n    vistos.add(chave);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,1008],"id":"4f198d2f-892d-485c-a2c4-3c4597ddf341","name":"Code1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[592,1024],"id":"3365f92b-4b3a-42b8-8ef9-b89a89a2f3b4","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[816,1024],"id":"c9dfeb9b-d611-4085-af19-222176ae5779","name":"Extract text1","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2144,752],"id":"e665fa53-75b3-4759-93ba-dbaafb1c6f22","name":"Merge"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1bEiEy1m0-zcYYefCuDCP-smS5DTOo3u9' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[416,1024],"id":"3cc15751-4c79-46e8-84c0-31e85bf79f56","name":"AT&TIC","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1ktinnW0TcQEiQvbv8GBqn4nyDgiXD_Wu' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[432,400],"id":"8963e55b-41c8-4f12-b0b2-037116c037ea","name":"ENVIO","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"jsCode":"function normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction palavrasDoNome(nome) {\n  return normalizarTexto(nome)\n    .split(\" \")\n    .filter(Boolean);\n}\n\nfunction contarPalavrasIguais(nome1, nome2) {\n  const palavras1 = new Set(palavrasDoNome(nome1));\n  const palavras2 = new Set(palavrasDoNome(nome2));\n\n  let iguais = 0;\n\n  for (const palavra of palavras1) {\n    if (palavras2.has(palavra)) {\n      iguais++;\n    }\n  }\n\n  return iguais;\n}\n\n// ======================================================\n// REGRA:\n// Só dá match se as 3 primeiras palavras forem iguais\n// e estiverem na mesma sequência.\n// ======================================================\nfunction tresPrimeirasPalavrasIguaisNaSequencia(nome1, nome2) {\n  const palavras1 = palavrasDoNome(nome1);\n  const palavras2 = palavrasDoNome(nome2);\n\n  if (palavras1.length < 3 || palavras2.length < 3) {\n    return false;\n  }\n\n  const tresPrimeiras1 = palavras1.slice(0, 3).join(\" \");\n  const tresPrimeiras2 = palavras2.slice(0, 3).join(\" \");\n\n  return tresPrimeiras1 === tresPrimeiras2;\n}\n\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) {\n    return valor;\n  }\n\n  if (typeof valor === \"string\") {\n    return valor\n      .split(/,|;|\\n/)\n      .map(v => v.trim())\n      .filter(Boolean);\n  }\n\n  return [valor];\n}\n\nfunction compararExames(exames1, exames2) {\n  const examesInput1 = garantirArray(exames1);\n  const examesInput2 = garantirArray(exames2);\n\n  const examesInput1Norm = examesInput1.map(normalizarTexto);\n  const examesInput2Norm = examesInput2.map(normalizarTexto);\n\n  const examesFaltando = examesInput1.filter(exame =>\n    !examesInput2Norm.includes(normalizarTexto(exame))\n  );\n\n  const examesExtras = examesInput2.filter(exame =>\n    !examesInput1Norm.includes(normalizarTexto(exame))\n  );\n\n  const matchExames =\n    examesFaltando.length === 0 &&\n    examesExtras.length === 0 &&\n    examesInput1.length === examesInput2.length;\n\n  return {\n    examesInput1,\n    examesInput2,\n    examesFaltando,\n    examesExtras,\n    matchExames\n  };\n}\n\n// ================================\n// LÊ TODOS OS ITENS DO MERGE\n// ================================\nconst todos = $input.all().map(i => i.json);\n\n// ================================\n// SEPARA INPUTS POR CATEGORIA\n// input1 = computador do posto\n// input2 = relatório de motoqueiros\n// ================================\nlet input1 = todos.filter(i =>\n  i.PACIENTE &&\n  Array.isArray(i.EXAMES) &&\n  normalizarTexto(i.categoria).includes(\"COMPUTADOR DO POSTO\")\n);\n\nlet input2 = todos.filter(i =>\n  i.PACIENTE &&\n  Array.isArray(i.EXAMES) &&\n  normalizarTexto(i.categoria).includes(\"RELATORIO DE MOTOQUEIROS\")\n);\n\n// ======================================================\n// FALLBACK DE SEGURANÇA\n// Só usa metade/metade se não conseguir separar por categoria\n// ======================================================\nif (input1.length === 0 || input2.length === 0) {\n  const metade = Math.ceil(todos.length / 2);\n\n  input1 = todos.slice(0, metade).filter(i =>\n    i.PACIENTE &&\n    Array.isArray(i.EXAMES)\n  );\n\n  input2 = todos.slice(metade).filter(i =>\n    i.PACIENTE &&\n    Array.isArray(i.EXAMES)\n  );\n}\n\n// ================================\n// DADOS GERAIS\n// ================================\nconst posto =\n  input1[0]?.posto ||\n  input2[0]?.posto ||\n  \"\";\n\nconst data =\n  input1[0]?.data ||\n  input2[0]?.data ||\n  \"\";\n\nconst resultado = [];\n\n// Guarda os índices do input2 que já foram usados\nconst indicesInput2Usados = new Set();\n\n// ================================\n// COMPARAÇÃO DO INPUT1 CONTRA INPUT2\n// ================================\nfor (const item1 of input1) {\n  const pacienteInput1 = item1.PACIENTE || \"\";\n  const examesInput1 = garantirArray(item1.EXAMES);\n\n  let melhorMatch = null;\n  let melhorIndiceInput2 = -1;\n  let maiorQtdPalavrasIguais = 0;\n  let melhorComparacaoExames = null;\n\n  // ======================================================\n  // 1) PRIMEIRA TENTATIVA:\n  // procura paciente compatível + exames iguais + input2 não usado\n  // ======================================================\n  for (let idx = 0; idx < input2.length; idx++) {\n    if (indicesInput2Usados.has(idx)) continue;\n\n    const item2 = input2[idx];\n    const pacienteInput2 = item2.PACIENTE || \"\";\n\n    const nome1Normalizado = normalizarTexto(pacienteInput1);\n    const nome2Normalizado = normalizarTexto(pacienteInput2);\n\n    const nomeCompletoIgual =\n      nome1Normalizado === nome2Normalizado;\n\n    const match3Palavras =\n      tresPrimeirasPalavrasIguaisNaSequencia(\n        pacienteInput1,\n        pacienteInput2\n      );\n\n    const matchPaciente = Boolean(\n      nomeCompletoIgual || match3Palavras\n    );\n\n    if (!matchPaciente) continue;\n\n    const comparacaoExames = compararExames(\n      examesInput1,\n      item2.EXAMES\n    );\n\n    if (comparacaoExames.matchExames) {\n      melhorMatch = item2;\n      melhorIndiceInput2 = idx;\n      maiorQtdPalavrasIguais = contarPalavrasIguais(\n        pacienteInput1,\n        pacienteInput2\n      );\n      melhorComparacaoExames = comparacaoExames;\n      break;\n    }\n  }\n\n  // ======================================================\n  // 2) SEGUNDA TENTATIVA:\n  // se não achou exames iguais, procura paciente compatível\n  // para retornar divergência de exames.\n  // ======================================================\n  if (!melhorMatch) {\n    for (let idx = 0; idx < input2.length; idx++) {\n      if (indicesInput2Usados.has(idx)) continue;\n\n      const item2 = input2[idx];\n      const pacienteInput2 = item2.PACIENTE || \"\";\n\n      const nome1Normalizado = normalizarTexto(pacienteInput1);\n      const nome2Normalizado = normalizarTexto(pacienteInput2);\n\n      const nomeCompletoIgual =\n        nome1Normalizado === nome2Normalizado;\n\n      const match3Palavras =\n        tresPrimeirasPalavrasIguaisNaSequencia(\n          pacienteInput1,\n          pacienteInput2\n        );\n\n      const matchPaciente = Boolean(\n        nomeCompletoIgual || match3Palavras\n      );\n\n      if (!matchPaciente) continue;\n\n      const qtdPalavrasIguais = contarPalavrasIguais(\n        pacienteInput1,\n        pacienteInput2\n      );\n\n      if (qtdPalavrasIguais > maiorQtdPalavrasIguais) {\n        maiorQtdPalavrasIguais = qtdPalavrasIguais;\n        melhorMatch = item2;\n        melhorIndiceInput2 = idx;\n        melhorComparacaoExames = compararExames(\n          examesInput1,\n          item2.EXAMES\n        );\n      }\n    }\n  }\n\n  // ================================\n  // VALIDAÇÃO FINAL DO NOME\n  // ================================\n  const nome1Normalizado = normalizarTexto(pacienteInput1);\n\n  const nome2Normalizado = melhorMatch\n    ? normalizarTexto(melhorMatch.PACIENTE || \"\")\n    : \"\";\n\n  const nomeCompletoIgual =\n    nome1Normalizado === nome2Normalizado;\n\n  const match3Palavras =\n    melhorMatch\n      ? tresPrimeirasPalavrasIguaisNaSequencia(\n          pacienteInput1,\n          melhorMatch.PACIENTE || \"\"\n        )\n      : false;\n\n  const matchPaciente = Boolean(\n    melhorMatch &&\n    (\n      nomeCompletoIgual ||\n      match3Palavras\n    )\n  );\n\n  const pacienteInput2Encontrado =\n    matchPaciente\n      ? melhorMatch.PACIENTE || \"\"\n      : \"\";\n\n  const examesInput2 =\n    matchPaciente\n      ? garantirArray(melhorMatch.EXAMES)\n      : [];\n\n  if (!melhorComparacaoExames) {\n    melhorComparacaoExames = compararExames(\n      examesInput1,\n      examesInput2\n    );\n  }\n\n  const examesFaltando = matchPaciente\n    ? melhorComparacaoExames.examesFaltando\n    : examesInput1;\n\n  const examesExtras = matchPaciente\n    ? melhorComparacaoExames.examesExtras\n    : [];\n\n  const matchExames =\n    matchPaciente &&\n    melhorComparacaoExames.matchExames;\n\n  // Marca esse input2 como usado somente se encontrou paciente\n  if (matchPaciente && melhorIndiceInput2 >= 0) {\n    indicesInput2Usados.add(melhorIndiceInput2);\n  }\n\n  resultado.push({\n    json: {\n      origemResultado: \"INPUT1_COMPARADO_COM_INPUT2\",\n\n      posto,\n      data,\n\n      PACIENTE_INPUT1: pacienteInput1,\n      PACIENTE_INPUT2: pacienteInput2Encontrado,\n\n      matchPaciente,\n\n      nomeCompletoIgual,\n\n      matchPor3Palavras:\n        !nomeCompletoIgual &&\n        match3Palavras,\n\n      palavrasIguaisPaciente:\n        maiorQtdPalavrasIguais,\n\n      primeiras3PalavrasInput1:\n        palavrasDoNome(pacienteInput1).slice(0, 3),\n\n      primeiras3PalavrasInput2:\n        pacienteInput2Encontrado\n          ? palavrasDoNome(pacienteInput2Encontrado).slice(0, 3)\n          : [],\n\n      matchExames,\n\n      quantidadeExamesInput1:\n        examesInput1.length,\n\n      quantidadeExamesInput2:\n        examesInput2.length,\n\n      examesInput1,\n      examesInput2,\n\n      examesFaltandoNoInput2:\n        examesFaltando,\n\n      examesExtrasNoInput2:\n        examesExtras,\n\n      erro: !matchExames,\n\n      mensagem:\n        matchExames\n          ? \"Paciente e exames estão exatamente iguais\"\n          : matchPaciente\n            ? \"Paciente encontrado pelas 3 primeiras palavras na sequência, mas há divergência entre os exames\"\n            : \"Paciente não encontrado no input2 com nome completo igual nem com as 3 primeiras palavras iguais na sequência\"\n    }\n  });\n}\n\n// ======================================================\n// NOVA PARTE:\n// RETORNA TAMBÉM OS PACIENTES DO INPUT2 QUE NÃO DERAM MATCH\n// ======================================================\nfor (let idx = 0; idx < input2.length; idx++) {\n  if (indicesInput2Usados.has(idx)) continue;\n\n  const item2 = input2[idx];\n\n  const pacienteInput2 = item2.PACIENTE || \"\";\n  const examesInput2 = garantirArray(item2.EXAMES);\n\n  resultado.push({\n    json: {\n      origemResultado: \"INPUT2_SEM_MATCH_NO_INPUT1\",\n\n      posto: item2.posto || posto,\n      data: item2.data || data,\n\n      PACIENTE_INPUT1: \"\",\n      PACIENTE_INPUT2: pacienteInput2,\n\n      matchPaciente: false,\n\n      nomeCompletoIgual: false,\n\n      matchPor3Palavras: false,\n\n      palavrasIguaisPaciente: 0,\n\n      primeiras3PalavrasInput1: [],\n\n      primeiras3PalavrasInput2:\n        palavrasDoNome(pacienteInput2).slice(0, 3),\n\n      matchExames: false,\n\n      quantidadeExamesInput1: 0,\n\n      quantidadeExamesInput2:\n        examesInput2.length,\n\n      examesInput1: [],\n\n      examesInput2,\n\n      examesFaltandoNoInput2: [],\n\n      examesExtrasNoInput2:\n        examesInput2,\n\n      erro: true,\n\n      mensagem:\n        \"Paciente existe no input2, mas não foi encontrado correspondente no input1\"\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,736],"id":"8d923d41-141f-4ae8-95bf-ba66d35da34c","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2816,688],"id":"776dbf10-dc61-4b8b-ae3b-9cf3b1377955","name":"Loop Over Items"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive3').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3152,736],"id":"bcc7e6e4-2b95-4ca1-8236-a2c5b6286784","name":"move at&tic","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3088,528],"id":"470d9d6b-5e01-450a-ad1a-32ce2b836c68","name":"mover envio","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.data }}","NOME PACIENTE ENVIO":"={{ $json.PACIENTE_INPUT1 }}","NOME PACIENTE AT&TIC":"={{ $json.PACIENTE_INPUT2 }}","EXAMES ENVIO":"={{ $json.examesInput1 }}","EXAMES AT&TIC":"={{ $json.examesInput2 }}","EXAMES FALTANDO NO AT&TIC":"={{ $json.examesFaltandoNoInput2 }}","EXAMES A MAIS NO AT&TIC":"={{ $json.examesExtrasNoInput2 }}","POSTO":"={{ $json.posto }}","ERRO NOME":"={{ $json.matchPaciente }}","ERRO EXAMES":"={{ $json.matchExames }}","MENSAGEM ENVIADA":"NÃO","CORRIGIDO":"AGUARDANDO","horário rodou":"={{ $now.setZone('America/Recife').toFormat('dd/LL/yyyy HH:mm:ss') }}"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORRIGIDO","displayName":"CORRIGIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"horário rodou","displayName":"horário rodou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2592,736],"id":"c76b541a-00b9-47bd-a297-44d791cfac7e","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[864,1360],"id":"629729eb-b948-4c24-bf55-5dc8bc7f84e4","name":"Loop Over Items3"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1520,1376],"id":"40bd31fc-7d8d-4b26-ae31-46f3857f2f5e"},{"parameters":{"documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"CORRIGIR","lookupValue":"CADASTRO PRECISA DE ATENÇÃO"},{"lookupColumn":"CORRIGIDO","lookupValue":"AGUARDANDO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,1376],"id":"ff5c40c2-185d-4148-b7df-9c95f3cc57e9","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=5581986587496","messageText":"=O paciente abaixo precisa de atenção porque existe divergência no cadastro:\n\n{{ $json['NOME PACIENTE ENVIO'] }}\n\nObservar:\n{{ $json.CADASTRO }}-{{ $json.CORRIGIR }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,1376],"id":"0c6cdad3-47af-4c62-bf6d-a34140a72989","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If1').item.json.row_number }}","MENSAGEM ENVIADA":"MENSAGEM ENVIADA"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CORRIGIDO","displayName":"CORRIGIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1312,1376],"id":"20bfb7fa-c9d9-4223-b51c-49cc273e23da","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1b5d49e8-fc16-43df-a219-13192929481e","leftValue":"={{ $json['MENSAGEM ENVIADA'] }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals"}},{"id":"372c819d-ef7b-48c3-a529-c1d97c9729ad","leftValue":"={{ $json.CORRIGIDO }}","rightValue":"AGUARDANDO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[608,1376],"id":"3c0447c3-8596-496c-bf46-5e83b00e594e","name":"If1"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=558197764951","messageText":"=Foi realizada a conferência do posto {{ $('Code in JavaScript1').first().json.posto }} no dia {{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2976,912],"id":"640e8cfe-5fb2-40b1-9e6e-a5c95ba4ac24","name":"Enviar texto","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[1104,592],"id":"6ea5aef9-5bbd-4edb-a6ae-cb1e59407c42","name":"Mistral Cloud Chat Model1","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"promptType":"define","text":"=Você é um extrator de OCR especializado em relatórios laboratoriais.\n\nRetorne SOMENTE um ARRAY JSON válido.\nA resposta deve começar com [ e terminar com ].\n\nNão use markdown.\nNão use ```json.\nNão explique nada.\nNão coloque o JSON dentro de string.\nNão retorne no campo text.\nNão escape aspas com barra invertida.\n\nFormato obrigatório:\n\n[\n  {\n    \"sucesso\": true,\n    \"categoria\": \"(+)COMPUTADOR DO POSTO\",\n    \"PACIENTE\": \"NOME DO PACIENTE\",\n    \"EXAMES\": [\"EXAME1\", \"EXAME2\"],\n    \"EXAMES_TEXTO\": \"EXAME1, EXAME2\",\n    \"QTD_EXAMES\": 2,\n    \"VALOR\": 0,\n    \"posto\": \"158\",\n    \"data\": \"11/05/2026\",\n    \"_idx\": 1,\n    \"_totalPacientes\": 2\n  }\n]\n\nREGRAS:\n- Extraia somente pacientes reais.\n- O posto deve ser extraído do nome do arquivo.\n- Exemplo: P158 deve retornar \"158\".\n- A data deve ser extraída do texto no formato DD/MM/AAAA.\n- Cada atendimento possui data, código, paciente e exames.\n- O nome do paciente vem depois do código numérico.\n- Os exames vêm depois do nome do paciente.\n- Ignore valores entre colchetes, como [4.32].\n- Os exames podem estar separados por vírgula ou espaço.\n- Porém, quando um exame tiver complemento entre parênteses, ele deve ser tratado como UM ÚNICO exame.\n- Nunca separe o conteúdo que está dentro de parênteses.\n- Exemplo:\n  IONOGRAMA (NA/K/CLORETO/RESERVA)\n  deve retornar:\n  [\"IONOGRAMA (NA/K/CLORETO/RESERVA)\"]\n- Não retornar:\n  [\"IONOGRAMA\", \"NA/K/CLORETO/RESERVA\"]\n- Quando dois ou mais exames vierem unidos pelo sinal de +, mantenha tudo como UM ÚNICO exame.\n- Nunca separe exames que estejam conectados por +.\n- Exemplo:\n  COLESTEROL TOTAL E FRACOES+TRIGLICERIDEOS\n  deve retornar:\n  [\"COLESTEROL TOTAL E FRACOES+TRIGLICERIDEOS\"]\n- Não retornar:\n  [\"COLESTEROL TOTAL E FRACOES\", \"TRIGLICERIDEOS\"]\n- EXAMES_TEXTO deve conter os exames separados por vírgula.\n- QTD_EXAMES deve ser a quantidade de exames.\n- VALOR deve ser 0.\n- _idx começa em 1.\n- _totalPacientes deve ser igual ao total de pacientes extraídos.\n- Se no NOME DO ARQUIVO tiver P137, e vier GLICOSE JEJUM coloque a sigla GLI\n\n\nNOME DO ARQUIVO:\n{{ $(\"ENVIO\").first().json.name }}\n\nTEXTO OCR:\n{{ $json.extractedText || $json.text || $json.markdown || $json.pages?.map(p => p.markdown).join(\"\\n\") }}","hasOutputParser":true,"messages":{"messageValues":[]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[1040,400],"id":"f0a3de30-116c-4386-96cb-b8a62fb1d9dc","name":"Basic LLM Chain1","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const raw = $json.text || $json.output || $json.response || \"\";\n\nlet texto = String(raw).trim();\n\ntexto = texto\n  .replace(/^```json/i, \"\")\n  .replace(/^```/i, \"\")\n  .replace(/```$/i, \"\")\n  .trim();\n\nconst inicio = texto.indexOf(\"[\");\nconst fim = texto.lastIndexOf(\"]\");\n\nif (inicio === -1 || fim === -1) {\n  throw new Error(\"A resposta da IA não contém um array JSON válido.\");\n}\n\nconst jsonLimpo = texto.slice(inicio, fim + 1);\n\nlet dados;\n\ntry {\n  dados = JSON.parse(jsonLimpo);\n} catch (error) {\n  throw new Error(\"Erro ao converter resposta da IA em JSON: \" + error.message);\n}\n\nreturn dados.map((item, index) => ({\n  json: {\n    ...item,\n    _idx: index + 1,\n    _totalPacientes: dados.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,400],"id":"d76c7d07-7683-4171-a16c-716962fb7c8a","name":"Code in JavaScript3"},{"parameters":{"promptType":"define","text":"=Você é um extrator avançado de OCR especializado em relatórios laboratoriais brasileiros.\n\nSua tarefa é ler o TEXTO OCR enviado e retornar APENAS um ARRAY JSON válido.\n\nA resposta:\n- deve começar com [\n- deve terminar com ]\n- NÃO pode conter markdown\n- NÃO pode conter ```json\n- NÃO pode conter explicações\n- NÃO pode retornar o JSON como string\n- NÃO pode escapar aspas com barra invertida\n\n==================================================\nOBJETIVO\n==================================================\n\nExtrair pacientes, exames, valores, data e posto do relatório.\n\n==================================================\nFORMATO OBRIGATÓRIO\n==================================================\n\n[\n  {\n    \"sucesso\": true,\n    \"categoria\": \"(+)COMPUTADOR DO POSTO\",\n    \"PACIENTE\": \"NOME COMPLETO\",\n    \"EXAMES\": [\"EXAME1\", \"EXAME2\"],\n    \"EXAMES_TEXTO\": \"EXAME1, EXAME2\",\n    \"QTD_EXAMES\": 2,\n    \"VALOR\": 0,\n    \"posto\": \"158\",\n    \"data\": \"11/05/2026\",\n    \"_idx\": 1,\n    \"_totalPacientes\": 2\n  }\n]\n\n==================================================\nREGRAS IMPORTANTES\n==================================================\n\n1. O nome do arquivo contém o posto.\nExemplo:\nRELATÓRIO AT&TIC P158 DIA 11.05.2026.pdf\n\nNesse caso:\n\"posto\": \"158\"\n\n==================================================\n\n2. A data deve ser extraída:\n- preferencialmente do nome do arquivo\n- senão do texto OCR\n\nFormato:\nDD/MM/AAAA\n\n==================================================\n\n3. Cada linha de atendimento possui:\n\nDATA CODIGO PACIENTE EXAMES\n\nExemplo:\n\n11/05/2026 158112218 EDUARDO HENRIQUE DA SILVA MELO AHBS CRE SU TGO TGP URE VDRL\n\nResultado:\nPACIENTE:\nEDUARDO HENRIQUE DA SILVA MELO\n\nEXAMES:\n[\"AHBS\",\"CRE\",\"SU\",\"TGO\",\"TGP\",\"URE\",\"VDRL\"]\n\n==================================================\n\n4. O código numérico NÃO faz parte do nome.\n\n==================================================\n\n5. Os exames:\n- ficam após o nome do paciente\n- são separados por espaço\n- devem virar array\n\n==================================================\n\n6. Ignore:\n- \"Resumo\"\n- \"Pacientes\"\n- \"Exame(s)\"\n- \"Usuário\"\n- \"Data de impressão\"\n- \"LABOVIDA\"\n\n==================================================\n\n7. Ignore conteúdos entre colchetes:\nExemplo:\nTGO [4.32]\n\nRetornar somente:\nTGO\n\n==================================================\n\n8. Para relatórios de motoqueiro:\n- VALOR = 0\n\n==================================================\n\n9. Não invente exames.\n10. Não invente pacientes.\n11. Não invente valores.\n\n==================================================\nINDEXAÇÃO\n==================================================\n\n- _idx começa em 1\n- _totalPacientes = total de pacientes extraídos\n\n==================================================\nNOME DO ARQUIVO\n==================================================\n\n{{ $(\"ENVIO\").first().json.name }}\n\n==================================================\nTEXTO OCR\n==================================================\n\n{{ $json.extractedText || $json.text || $json.markdown || $json.pages?.map(p => p.markdown).join(\"\\n\") }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[1024,1024],"id":"914c47ab-a7cf-424c-bd0d-e0467ca42cd9","name":"Basic LLM Chain","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[1024,1200],"id":"c5c2252b-dd6a-4049-8919-6a2cff8caa19","name":"Mistral Cloud Chat Model","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"documentId":{"__rl":true,"value":"16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk","mode":"list","cachedResultName":"Tabela sigla-exame match","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"EXAMES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1408,656],"id":"cc53725f-21db-4c4d-ad82-96898554f33d","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const todos = $input.all();\n\nfunction normalizarTexto(txt) {\n  return String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^A-Z0-9]/g, \"\")\n    .trim();\n}\n\nfunction normalizarNome(txt) {\n  return String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^A-Z0-9\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst pacientes = todos.filter(item => item.json.PACIENTE);\n\nconst tabela = todos.filter(item =>\n  item.json.NOME_EXAME &&\n  item.json.SIGLA\n);\n\n// ======================================================\n// MAPAS SEPARADOS\n// 1. mapaSiglas: só aceita match exato\n// 2. mapaNomes: pode aceitar nome completo / nome sem parênteses\n// ======================================================\n\nconst mapaSiglas = new Map();\nconst mapaNomes = new Map();\n\nfor (const item of tabela) {\n  const sigla = String(item.json.NOME_EXAME || \"\")\n    .trim()\n    .toUpperCase();\n\n  const nomeCompleto = String(item.json.SIGLA || \"\")\n    .trim();\n\n  if (!sigla || !nomeCompleto) continue;\n\n  // SIGLA: somente match exato\n  mapaSiglas.set(\n    normalizarTexto(sigla),\n    sigla\n  );\n\n  // NOME COMPLETO: match exato pelo nome\n  mapaNomes.set(\n    normalizarNome(nomeCompleto),\n    sigla\n  );\n\n  // NOME ANTES DOS PARÊNTESES\n  const nomeAntesParenteses = nomeCompleto\n    .split(\"(\")[0]\n    .trim();\n\n  if (nomeAntesParenteses) {\n    mapaNomes.set(\n      normalizarNome(nomeAntesParenteses),\n      sigla\n    );\n  }\n}\n\nfunction converterExame(exame) {\n  const original = String(exame || \"\").trim();\n\n  if (!original) {\n    return {\n      encontrado: false,\n      original\n    };\n  }\n\n  const chaveSigla = normalizarTexto(original);\n  const chaveNome = normalizarNome(original);\n\n  // ======================================================\n  // 1. MATCH EXATO POR SIGLA\n  // Exemplo:\n  // GLI só vira GLI\n  // A1GLI só vira A1GLI\n  // Nunca GLI vira A1GLI\n  // ======================================================\n\n  if (mapaSiglas.has(chaveSigla)) {\n    return {\n      encontrado: true,\n      sigla: mapaSiglas.get(chaveSigla)\n    };\n  }\n\n  // ======================================================\n  // 2. REMOVE PARÊNTESES E TENTA MATCH EXATO\n  // ======================================================\n\n  const semParenteses = original\n    .replace(/\\([^)]*\\)/g, \"\")\n    .trim();\n\n  const chaveSemParentesesSigla = normalizarTexto(semParenteses);\n  const chaveSemParentesesNome = normalizarNome(semParenteses);\n\n  if (mapaSiglas.has(chaveSemParentesesSigla)) {\n    return {\n      encontrado: true,\n      sigla: mapaSiglas.get(chaveSemParentesesSigla)\n    };\n  }\n\n  if (mapaNomes.has(chaveNome)) {\n    return {\n      encontrado: true,\n      sigla: mapaNomes.get(chaveNome)\n    };\n  }\n\n  if (mapaNomes.has(chaveSemParentesesNome)) {\n    return {\n      encontrado: true,\n      sigla: mapaNomes.get(chaveSemParentesesNome)\n    };\n  }\n\n  // ======================================================\n  // 3. MATCH PARCIAL SEGURO\n  // Só aplica para nomes longos, nunca para siglas curtas.\n  // Evita erro tipo GLI virar A1GLI.\n  // ======================================================\n\n  if (chaveNome.length >= 8) {\n    for (const [nomeNormalizado, sigla] of mapaNomes.entries()) {\n      if (\n        nomeNormalizado.length >= 8 &&\n        (\n          chaveNome.includes(nomeNormalizado) ||\n          nomeNormalizado.includes(chaveNome)\n        )\n      ) {\n        return {\n          encontrado: true,\n          sigla\n        };\n      }\n    }\n  }\n\n  // ======================================================\n  // 4. NÃO ENCONTRADO\n  // Mantém o exame original\n  // ======================================================\n\n  return {\n    encontrado: false,\n    original\n  };\n}\n\nconst resultado = pacientes.map((item, index) => {\n  const json = item.json;\n\n  const examesOriginais = Array.isArray(json.EXAMES)\n    ? json.EXAMES\n    : String(json.EXAMES_TEXTO || \"\")\n        .split(\",\")\n        .map(e => e.trim())\n        .filter(Boolean);\n\n  const examesNormalizados = [];\n  const examesNaoEncontrados = [];\n\n  for (const exame of examesOriginais) {\n    const convertido = converterExame(exame);\n\n    if (convertido.encontrado) {\n      examesNormalizados.push(convertido.sigla);\n    } else {\n      examesNaoEncontrados.push(convertido.original);\n      examesNormalizados.push(\n        String(convertido.original || \"\").toUpperCase()\n      );\n    }\n  }\n\n  return {\n    json: {\n      ...json,\n\n      EXAMES: examesNormalizados,\n\n      EXAMES_TEXTO: examesNormalizados.join(\", \"),\n\n      EXAMES_NAO_ENCONTRADOS: examesNaoEncontrados,\n\n      QTD_EXAMES: examesNormalizados.length,\n\n      _idx: index + 1,\n\n      _totalPacientes: pacientes.length\n    }\n  };\n});\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,496],"id":"ccdd70ed-cf07-464b-9c74-ff28e7c34ba6","name":"Code in JavaScript1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1632,496],"id":"83da5905-3d55-4a00-9bd3-54334b33f733","name":"Merge1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"ENVIO","type":"main","index":0},{"node":"Get row(s) in sheet1","type":"main","index":0},{"node":"AT&TIC","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text","type":"main","index":0}]]},"Extract text":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Extract text1","type":"main","index":0}]]},"Extract text1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"AT&TIC":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"ENVIO":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"mover envio","type":"main","index":0},{"node":"move at&tic","type":"main","index":0},{"node":"Enviar texto","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Enviar texto3","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Mistral Cloud Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"12d213ce-4cf2-451c-9904-23282b49c6da","activeVersionId":"145173e1-a9c8-4651-a0b4-842c6247e7f3","triggerCount":1,"shared":[{"updatedAt":"2026-05-13T22:20:31.848Z","createdAt":"2026-05-13T22:20:31.848Z","role":"workflow:owner","workflowId":"LMHF9RcGZ4L0rblV","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-19T00:34:38.000Z","createdAt":"2026-05-18T19:29:02.755Z","versionId":"145173e1-a9c8-4651-a0b4-842c6247e7f3","workflowId":"LMHF9RcGZ4L0rblV","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[80,784],"id":"e95ef940-5897-43a2-88ec-3cb049ec4c91","name":"Schedule Trigger"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[608,400],"id":"15a22491-33c8-42d5-ac72-c8889c58bafc","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[832,400],"id":"3e736e72-57a3-4607-8056-94e0228b48c1","name":"Extract text","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"jsCode":"const raw =\n  $json.text ||\n  $json.output ||\n  $json.response ||\n  $json.content ||\n  \"\";\n\nlet texto = String(raw).trim();\n\n// =====================================\n// REMOVE BLOCO MARKDOWN\n// =====================================\ntexto = texto\n  .replace(/^```json\\s*/i, \"\")\n  .replace(/^```\\s*/i, \"\")\n  .replace(/\\s*```$/i, \"\")\n  .trim();\n\n// =====================================\n// REMOVE QUEBRAS E ESCAPES EXTRAS\n// =====================================\ntexto = texto\n  .replace(/\\r/g, \"\")\n  .replace(/\\n/g, \" \")\n  .replace(/\\t/g, \" \")\n  .trim();\n\n// =====================================\n// LOCALIZA ARRAY JSON\n// =====================================\nconst inicio = texto.indexOf(\"[\");\nconst fim = texto.lastIndexOf(\"]\");\n\nif (inicio === -1 || fim === -1) {\n  throw new Error(\n    \"A IA não retornou um ARRAY JSON válido.\"\n  );\n}\n\nlet jsonTexto = texto.slice(inicio, fim + 1);\n\n// =====================================\n// REMOVE ESCAPES DUPLOS\n// =====================================\nif (jsonTexto.includes('\\\\\"')) {\n  jsonTexto = jsonTexto\n    .replace(/\\\\\"/g, '\"')\n    .replace(/\\\\\\\\/g, \"\\\\\");\n}\n\n// =====================================\n// REMOVE ASPAS EXTERNAS\n// =====================================\nif (\n  jsonTexto.startsWith('\"[') &&\n  jsonTexto.endsWith(']\"')\n) {\n  jsonTexto = jsonTexto\n    .slice(1, -1);\n}\n\n// =====================================\n// CONVERTE JSON\n// =====================================\nlet dados;\n\ntry {\n  dados = JSON.parse(jsonTexto);\n} catch (e) {\n\n  // =====================================\n  // TENTA NOVAMENTE COM JSON.parse DUPLO\n  // =====================================\n  try {\n    dados = JSON.parse(\n      JSON.parse(JSON.stringify(jsonTexto))\n    );\n  } catch (e2) {\n    throw new Error(\n      \"Erro ao converter JSON da IA: \" +\n      e.message\n    );\n  }\n}\n\n// =====================================\n// GARANTE ARRAY\n// =====================================\nif (!Array.isArray(dados)) {\n  dados = [dados];\n}\n\n// =====================================\n// NORMALIZA CAMPOS\n// =====================================\nconst resultado = dados.map((item, index) => {\n\n  const exames =\n    Array.isArray(item.EXAMES)\n      ? item.EXAMES\n      : String(item.EXAMES || \"\")\n          .split(\",\")\n          .map(e => e.trim())\n          .filter(Boolean);\n\n  return {\n    json: {\n      sucesso: true,\n\n      categoria:\n        item.categoria ||\n        \"(+)COMPUTADOR DO POSTO\",\n\n      PACIENTE:\n        String(item.PACIENTE || \"\").trim(),\n\n      EXAMES: exames,\n\n      EXAMES_TEXTO:\n        exames.join(\", \"),\n\n      QTD_EXAMES:\n        exames.length,\n\n      VALOR:\n        Number(item.VALOR || 0),\n\n      posto:\n        String(\n          item.posto || \"\"\n        ).trim(),\n\n      data:\n        String(\n          item.data || \"\"\n        ).trim(),\n\n      _idx: index + 1,\n\n      _totalPacientes:\n        dados.length\n    }\n  };\n});\n\n// =====================================\n// REMOVE DUPLICADOS\n// =====================================\nconst vistos = new Set();\n\nconst unicos = [];\n\nfor (const item of resultado) {\n\n  const chave =\n    `${item.json.PACIENTE}|${item.json.EXAMES_TEXTO}|${item.json.data}`;\n\n  if (!vistos.has(chave)) {\n    vistos.add(chave);\n    unicos.push(item);\n  }\n}\n\nreturn unicos;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,1008],"id":"4f198d2f-892d-485c-a2c4-3c4597ddf341","name":"Code1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[592,1024],"id":"3365f92b-4b3a-42b8-8ef9-b89a89a2f3b4","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[816,1024],"id":"c9dfeb9b-d611-4085-af19-222176ae5779","name":"Extract text1","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2144,752],"id":"e665fa53-75b3-4759-93ba-dbaafb1c6f22","name":"Merge"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1bEiEy1m0-zcYYefCuDCP-smS5DTOo3u9' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[416,1024],"id":"3cc15751-4c79-46e8-84c0-31e85bf79f56","name":"AT&TIC","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1ktinnW0TcQEiQvbv8GBqn4nyDgiXD_Wu' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[432,400],"id":"8963e55b-41c8-4f12-b0b2-037116c037ea","name":"ENVIO","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"jsCode":"function normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction palavrasDoNome(nome) {\n  return normalizarTexto(nome)\n    .split(\" \")\n    .filter(Boolean);\n}\n\nfunction contarPalavrasIguais(nome1, nome2) {\n  const palavras1 = new Set(palavrasDoNome(nome1));\n  const palavras2 = new Set(palavrasDoNome(nome2));\n\n  let iguais = 0;\n\n  for (const palavra of palavras1) {\n    if (palavras2.has(palavra)) {\n      iguais++;\n    }\n  }\n\n  return iguais;\n}\n\n// ======================================================\n// REGRA:\n// Só dá match se as 3 primeiras palavras forem iguais\n// e estiverem na mesma sequência.\n// ======================================================\nfunction tresPrimeirasPalavrasIguaisNaSequencia(nome1, nome2) {\n  const palavras1 = palavrasDoNome(nome1);\n  const palavras2 = palavrasDoNome(nome2);\n\n  if (palavras1.length < 3 || palavras2.length < 3) {\n    return false;\n  }\n\n  const tresPrimeiras1 = palavras1.slice(0, 3).join(\" \");\n  const tresPrimeiras2 = palavras2.slice(0, 3).join(\" \");\n\n  return tresPrimeiras1 === tresPrimeiras2;\n}\n\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) {\n    return valor;\n  }\n\n  if (typeof valor === \"string\") {\n    return valor\n      .split(/,|;|\\n/)\n      .map(v => v.trim())\n      .filter(Boolean);\n  }\n\n  return [valor];\n}\n\nfunction compararExames(exames1, exames2) {\n  const examesInput1 = garantirArray(exames1);\n  const examesInput2 = garantirArray(exames2);\n\n  const examesInput1Norm = examesInput1.map(normalizarTexto);\n  const examesInput2Norm = examesInput2.map(normalizarTexto);\n\n  const examesFaltando = examesInput1.filter(exame =>\n    !examesInput2Norm.includes(normalizarTexto(exame))\n  );\n\n  const examesExtras = examesInput2.filter(exame =>\n    !examesInput1Norm.includes(normalizarTexto(exame))\n  );\n\n  const matchExames =\n    examesFaltando.length === 0 &&\n    examesExtras.length === 0 &&\n    examesInput1.length === examesInput2.length;\n\n  return {\n    examesInput1,\n    examesInput2,\n    examesFaltando,\n    examesExtras,\n    matchExames\n  };\n}\n\n// ================================\n// LÊ TODOS OS ITENS DO MERGE\n// ================================\nconst todos = $input.all().map(i => i.json);\n\n// ================================\n// SEPARA INPUTS POR CATEGORIA\n// input1 = computador do posto\n// input2 = relatório de motoqueiros\n// ================================\nlet input1 = todos.filter(i =>\n  i.PACIENTE &&\n  Array.isArray(i.EXAMES) &&\n  normalizarTexto(i.categoria).includes(\"COMPUTADOR DO POSTO\")\n);\n\nlet input2 = todos.filter(i =>\n  i.PACIENTE &&\n  Array.isArray(i.EXAMES) &&\n  normalizarTexto(i.categoria).includes(\"RELATORIO DE MOTOQUEIROS\")\n);\n\n// ======================================================\n// FALLBACK DE SEGURANÇA\n// Só usa metade/metade se não conseguir separar por categoria\n// ======================================================\nif (input1.length === 0 || input2.length === 0) {\n  const metade = Math.ceil(todos.length / 2);\n\n  input1 = todos.slice(0, metade).filter(i =>\n    i.PACIENTE &&\n    Array.isArray(i.EXAMES)\n  );\n\n  input2 = todos.slice(metade).filter(i =>\n    i.PACIENTE &&\n    Array.isArray(i.EXAMES)\n  );\n}\n\n// ================================\n// DADOS GERAIS\n// ================================\nconst posto =\n  input1[0]?.posto ||\n  input2[0]?.posto ||\n  \"\";\n\nconst data =\n  input1[0]?.data ||\n  input2[0]?.data ||\n  \"\";\n\nconst resultado = [];\n\n// Guarda os índices do input2 que já foram usados\nconst indicesInput2Usados = new Set();\n\n// ================================\n// COMPARAÇÃO DO INPUT1 CONTRA INPUT2\n// ================================\nfor (const item1 of input1) {\n  const pacienteInput1 = item1.PACIENTE || \"\";\n  const examesInput1 = garantirArray(item1.EXAMES);\n\n  let melhorMatch = null;\n  let melhorIndiceInput2 = -1;\n  let maiorQtdPalavrasIguais = 0;\n  let melhorComparacaoExames = null;\n\n  // ======================================================\n  // 1) PRIMEIRA TENTATIVA:\n  // procura paciente compatível + exames iguais + input2 não usado\n  // ======================================================\n  for (let idx = 0; idx < input2.length; idx++) {\n    if (indicesInput2Usados.has(idx)) continue;\n\n    const item2 = input2[idx];\n    const pacienteInput2 = item2.PACIENTE || \"\";\n\n    const nome1Normalizado = normalizarTexto(pacienteInput1);\n    const nome2Normalizado = normalizarTexto(pacienteInput2);\n\n    const nomeCompletoIgual =\n      nome1Normalizado === nome2Normalizado;\n\n    const match3Palavras =\n      tresPrimeirasPalavrasIguaisNaSequencia(\n        pacienteInput1,\n        pacienteInput2\n      );\n\n    const matchPaciente = Boolean(\n      nomeCompletoIgual || match3Palavras\n    );\n\n    if (!matchPaciente) continue;\n\n    const comparacaoExames = compararExames(\n      examesInput1,\n      item2.EXAMES\n    );\n\n    if (comparacaoExames.matchExames) {\n      melhorMatch = item2;\n      melhorIndiceInput2 = idx;\n      maiorQtdPalavrasIguais = contarPalavrasIguais(\n        pacienteInput1,\n        pacienteInput2\n      );\n      melhorComparacaoExames = comparacaoExames;\n      break;\n    }\n  }\n\n  // ======================================================\n  // 2) SEGUNDA TENTATIVA:\n  // se não achou exames iguais, procura paciente compatível\n  // para retornar divergência de exames.\n  // ======================================================\n  if (!melhorMatch) {\n    for (let idx = 0; idx < input2.length; idx++) {\n      if (indicesInput2Usados.has(idx)) continue;\n\n      const item2 = input2[idx];\n      const pacienteInput2 = item2.PACIENTE || \"\";\n\n      const nome1Normalizado = normalizarTexto(pacienteInput1);\n      const nome2Normalizado = normalizarTexto(pacienteInput2);\n\n      const nomeCompletoIgual =\n        nome1Normalizado === nome2Normalizado;\n\n      const match3Palavras =\n        tresPrimeirasPalavrasIguaisNaSequencia(\n          pacienteInput1,\n          pacienteInput2\n        );\n\n      const matchPaciente = Boolean(\n        nomeCompletoIgual || match3Palavras\n      );\n\n      if (!matchPaciente) continue;\n\n      const qtdPalavrasIguais = contarPalavrasIguais(\n        pacienteInput1,\n        pacienteInput2\n      );\n\n      if (qtdPalavrasIguais > maiorQtdPalavrasIguais) {\n        maiorQtdPalavrasIguais = qtdPalavrasIguais;\n        melhorMatch = item2;\n        melhorIndiceInput2 = idx;\n        melhorComparacaoExames = compararExames(\n          examesInput1,\n          item2.EXAMES\n        );\n      }\n    }\n  }\n\n  // ================================\n  // VALIDAÇÃO FINAL DO NOME\n  // ================================\n  const nome1Normalizado = normalizarTexto(pacienteInput1);\n\n  const nome2Normalizado = melhorMatch\n    ? normalizarTexto(melhorMatch.PACIENTE || \"\")\n    : \"\";\n\n  const nomeCompletoIgual =\n    nome1Normalizado === nome2Normalizado;\n\n  const match3Palavras =\n    melhorMatch\n      ? tresPrimeirasPalavrasIguaisNaSequencia(\n          pacienteInput1,\n          melhorMatch.PACIENTE || \"\"\n        )\n      : false;\n\n  const matchPaciente = Boolean(\n    melhorMatch &&\n    (\n      nomeCompletoIgual ||\n      match3Palavras\n    )\n  );\n\n  const pacienteInput2Encontrado =\n    matchPaciente\n      ? melhorMatch.PACIENTE || \"\"\n      : \"\";\n\n  const examesInput2 =\n    matchPaciente\n      ? garantirArray(melhorMatch.EXAMES)\n      : [];\n\n  if (!melhorComparacaoExames) {\n    melhorComparacaoExames = compararExames(\n      examesInput1,\n      examesInput2\n    );\n  }\n\n  const examesFaltando = matchPaciente\n    ? melhorComparacaoExames.examesFaltando\n    : examesInput1;\n\n  const examesExtras = matchPaciente\n    ? melhorComparacaoExames.examesExtras\n    : [];\n\n  const matchExames =\n    matchPaciente &&\n    melhorComparacaoExames.matchExames;\n\n  // Marca esse input2 como usado somente se encontrou paciente\n  if (matchPaciente && melhorIndiceInput2 >= 0) {\n    indicesInput2Usados.add(melhorIndiceInput2);\n  }\n\n  resultado.push({\n    json: {\n      origemResultado: \"INPUT1_COMPARADO_COM_INPUT2\",\n\n      posto,\n      data,\n\n      PACIENTE_INPUT1: pacienteInput1,\n      PACIENTE_INPUT2: pacienteInput2Encontrado,\n\n      matchPaciente,\n\n      nomeCompletoIgual,\n\n      matchPor3Palavras:\n        !nomeCompletoIgual &&\n        match3Palavras,\n\n      palavrasIguaisPaciente:\n        maiorQtdPalavrasIguais,\n\n      primeiras3PalavrasInput1:\n        palavrasDoNome(pacienteInput1).slice(0, 3),\n\n      primeiras3PalavrasInput2:\n        pacienteInput2Encontrado\n          ? palavrasDoNome(pacienteInput2Encontrado).slice(0, 3)\n          : [],\n\n      matchExames,\n\n      quantidadeExamesInput1:\n        examesInput1.length,\n\n      quantidadeExamesInput2:\n        examesInput2.length,\n\n      examesInput1,\n      examesInput2,\n\n      examesFaltandoNoInput2:\n        examesFaltando,\n\n      examesExtrasNoInput2:\n        examesExtras,\n\n      erro: !matchExames,\n\n      mensagem:\n        matchExames\n          ? \"Paciente e exames estão exatamente iguais\"\n          : matchPaciente\n            ? \"Paciente encontrado pelas 3 primeiras palavras na sequência, mas há divergência entre os exames\"\n            : \"Paciente não encontrado no input2 com nome completo igual nem com as 3 primeiras palavras iguais na sequência\"\n    }\n  });\n}\n\n// ======================================================\n// NOVA PARTE:\n// RETORNA TAMBÉM OS PACIENTES DO INPUT2 QUE NÃO DERAM MATCH\n// ======================================================\nfor (let idx = 0; idx < input2.length; idx++) {\n  if (indicesInput2Usados.has(idx)) continue;\n\n  const item2 = input2[idx];\n\n  const pacienteInput2 = item2.PACIENTE || \"\";\n  const examesInput2 = garantirArray(item2.EXAMES);\n\n  resultado.push({\n    json: {\n      origemResultado: \"INPUT2_SEM_MATCH_NO_INPUT1\",\n\n      posto: item2.posto || posto,\n      data: item2.data || data,\n\n      PACIENTE_INPUT1: \"\",\n      PACIENTE_INPUT2: pacienteInput2,\n\n      matchPaciente: false,\n\n      nomeCompletoIgual: false,\n\n      matchPor3Palavras: false,\n\n      palavrasIguaisPaciente: 0,\n\n      primeiras3PalavrasInput1: [],\n\n      primeiras3PalavrasInput2:\n        palavrasDoNome(pacienteInput2).slice(0, 3),\n\n      matchExames: false,\n\n      quantidadeExamesInput1: 0,\n\n      quantidadeExamesInput2:\n        examesInput2.length,\n\n      examesInput1: [],\n\n      examesInput2,\n\n      examesFaltandoNoInput2: [],\n\n      examesExtrasNoInput2:\n        examesInput2,\n\n      erro: true,\n\n      mensagem:\n        \"Paciente existe no input2, mas não foi encontrado correspondente no input1\"\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,736],"id":"8d923d41-141f-4ae8-95bf-ba66d35da34c","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2816,688],"id":"776dbf10-dc61-4b8b-ae3b-9cf3b1377955","name":"Loop Over Items"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive3').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3104,736],"id":"bcc7e6e4-2b95-4ca1-8236-a2c5b6286784","name":"move at&tic","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3088,528],"id":"470d9d6b-5e01-450a-ad1a-32ce2b836c68","name":"mover envio","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.data }}","NOME PACIENTE ENVIO":"={{ $json.PACIENTE_INPUT1 }}","NOME PACIENTE AT&TIC":"={{ $json.PACIENTE_INPUT2 }}","EXAMES ENVIO":"={{ $json.examesInput1 }}","EXAMES AT&TIC":"={{ $json.examesInput2 }}","EXAMES FALTANDO NO AT&TIC":"={{ $json.examesFaltandoNoInput2 }}","EXAMES A MAIS NO AT&TIC":"={{ $json.examesExtrasNoInput2 }}","POSTO":"={{ $json.posto }}","ERRO NOME":"={{ $json.matchPaciente }}","ERRO EXAMES":"={{ $json.matchExames }}","MENSAGEM ENVIADA":"NÃO","CORRIGIDO":"AGUARDANDO","horário rodou":"={{ $now.setZone('America/Recife').toFormat('dd/LL/yyyy HH:mm:ss') }}"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORRIGIDO","displayName":"CORRIGIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"horário rodou","displayName":"horário rodou","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2592,736],"id":"c76b541a-00b9-47bd-a297-44d791cfac7e","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[864,1360],"id":"629729eb-b948-4c24-bf55-5dc8bc7f84e4","name":"Loop Over Items3"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1520,1376],"id":"40bd31fc-7d8d-4b26-ae31-46f3857f2f5e"},{"parameters":{"documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"CORRIGIR","lookupValue":"CADASTRO PRECISA DE ATENÇÃO"},{"lookupColumn":"CORRIGIDO","lookupValue":"AGUARDANDO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,1376],"id":"ff5c40c2-185d-4148-b7df-9c95f3cc57e9","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=5581986587496","messageText":"=O paciente abaixo precisa de atenção porque existe divergência no cadastro:\n\n{{ $json['NOME PACIENTE ENVIO'] }}\n\nObservar:\n{{ $json.CADASTRO }}-{{ $json.CORRIGIR }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,1376],"id":"0c6cdad3-47af-4c62-bf6d-a34140a72989","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If1').item.json.row_number }}","MENSAGEM ENVIADA":"MENSAGEM ENVIADA"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CORRIGIDO","displayName":"CORRIGIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1312,1376],"id":"20bfb7fa-c9d9-4223-b51c-49cc273e23da","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1b5d49e8-fc16-43df-a219-13192929481e","leftValue":"={{ $json['MENSAGEM ENVIADA'] }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals"}},{"id":"372c819d-ef7b-48c3-a529-c1d97c9729ad","leftValue":"={{ $json.CORRIGIDO }}","rightValue":"AGUARDANDO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[608,1376],"id":"3c0447c3-8596-496c-bf46-5e83b00e594e","name":"If1"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=558197764951","messageText":"=Foi realizada a conferência do posto {{ $('Code in JavaScript1').first().json.posto }} no dia {{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2976,912],"id":"640e8cfe-5fb2-40b1-9e6e-a5c95ba4ac24","name":"Enviar texto","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[1104,592],"id":"6ea5aef9-5bbd-4edb-a6ae-cb1e59407c42","name":"Mistral Cloud Chat Model1","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"promptType":"define","text":"=Você é um extrator de OCR especializado em relatórios laboratoriais.\n\nRetorne SOMENTE um ARRAY JSON válido.\nA resposta deve começar com [ e terminar com ].\n\nNão use markdown.\nNão use ```json.\nNão explique nada.\nNão coloque o JSON dentro de string.\nNão retorne no campo text.\nNão escape aspas com barra invertida.\n\nFormato obrigatório:\n\n[\n  {\n    \"sucesso\": true,\n    \"categoria\": \"(+)COMPUTADOR DO POSTO\",\n    \"PACIENTE\": \"NOME DO PACIENTE\",\n    \"EXAMES\": [\"EXAME1\", \"EXAME2\"],\n    \"EXAMES_TEXTO\": \"EXAME1, EXAME2\",\n    \"QTD_EXAMES\": 2,\n    \"VALOR\": 0,\n    \"posto\": \"158\",\n    \"data\": \"11/05/2026\",\n    \"_idx\": 1,\n    \"_totalPacientes\": 2\n  }\n]\n\nREGRAS:\n- Extraia somente pacientes reais.\n- O posto deve ser extraído do nome do arquivo.\n- Exemplo: P158 deve retornar \"158\".\n- A data deve ser extraída do texto no formato DD/MM/AAAA.\n- Cada atendimento possui data, código, paciente e exames.\n- O nome do paciente vem depois do código numérico.\n- Os exames vêm depois do nome do paciente.\n- Ignore valores entre colchetes, como [4.32].\n- Os exames podem estar separados por vírgula ou espaço.\n- Porém, quando um exame tiver complemento entre parênteses, ele deve ser tratado como UM ÚNICO exame.\n- Nunca separe o conteúdo que está dentro de parênteses.\n- Exemplo:\n  IONOGRAMA (NA/K/CLORETO/RESERVA)\n  deve retornar:\n  [\"IONOGRAMA (NA/K/CLORETO/RESERVA)\"]\n- Não retornar:\n  [\"IONOGRAMA\", \"NA/K/CLORETO/RESERVA\"]\n- Quando dois ou mais exames vierem unidos pelo sinal de +, mantenha tudo como UM ÚNICO exame.\n- Nunca separe exames que estejam conectados por +.\n- Exemplo:\n  COLESTEROL TOTAL E FRACOES+TRIGLICERIDEOS\n  deve retornar:\n  [\"COLESTEROL TOTAL E FRACOES+TRIGLICERIDEOS\"]\n- Não retornar:\n  [\"COLESTEROL TOTAL E FRACOES\", \"TRIGLICERIDEOS\"]\n- EXAMES_TEXTO deve conter os exames separados por vírgula.\n- QTD_EXAMES deve ser a quantidade de exames.\n- VALOR deve ser 0.\n- _idx começa em 1.\n- _totalPacientes deve ser igual ao total de pacientes extraídos.\n- Se no NOME DO ARQUIVO tiver P137, e vier GLICOSE JEJUM coloque a sigla GLI\n\n\nNOME DO ARQUIVO:\n{{ $(\"ENVIO\").first().json.name }}\n\nTEXTO OCR:\n{{ $json.extractedText || $json.text || $json.markdown || $json.pages?.map(p => p.markdown).join(\"\\n\") }}","hasOutputParser":true,"messages":{"messageValues":[]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[1040,400],"id":"f0a3de30-116c-4386-96cb-b8a62fb1d9dc","name":"Basic LLM Chain1","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const raw = $json.text || $json.output || $json.response || \"\";\n\nlet texto = String(raw).trim();\n\ntexto = texto\n  .replace(/^```json/i, \"\")\n  .replace(/^```/i, \"\")\n  .replace(/```$/i, \"\")\n  .trim();\n\nconst inicio = texto.indexOf(\"[\");\nconst fim = texto.lastIndexOf(\"]\");\n\nif (inicio === -1 || fim === -1) {\n  throw new Error(\"A resposta da IA não contém um array JSON válido.\");\n}\n\nconst jsonLimpo = texto.slice(inicio, fim + 1);\n\nlet dados;\n\ntry {\n  dados = JSON.parse(jsonLimpo);\n} catch (error) {\n  throw new Error(\"Erro ao converter resposta da IA em JSON: \" + error.message);\n}\n\nreturn dados.map((item, index) => ({\n  json: {\n    ...item,\n    _idx: index + 1,\n    _totalPacientes: dados.length\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,400],"id":"d76c7d07-7683-4171-a16c-716962fb7c8a","name":"Code in JavaScript3"},{"parameters":{"promptType":"define","text":"=Você é um extrator avançado de OCR especializado em relatórios laboratoriais brasileiros.\n\nSua tarefa é ler o TEXTO OCR enviado e retornar APENAS um ARRAY JSON válido.\n\nA resposta:\n- deve começar com [\n- deve terminar com ]\n- NÃO pode conter markdown\n- NÃO pode conter ```json\n- NÃO pode conter explicações\n- NÃO pode retornar o JSON como string\n- NÃO pode escapar aspas com barra invertida\n\n==================================================\nOBJETIVO\n==================================================\n\nExtrair pacientes, exames, valores, data e posto do relatório.\n\n==================================================\nFORMATO OBRIGATÓRIO\n==================================================\n\n[\n  {\n    \"sucesso\": true,\n    \"categoria\": \"(+)COMPUTADOR DO POSTO\",\n    \"PACIENTE\": \"NOME COMPLETO\",\n    \"EXAMES\": [\"EXAME1\", \"EXAME2\"],\n    \"EXAMES_TEXTO\": \"EXAME1, EXAME2\",\n    \"QTD_EXAMES\": 2,\n    \"VALOR\": 0,\n    \"posto\": \"158\",\n    \"data\": \"11/05/2026\",\n    \"_idx\": 1,\n    \"_totalPacientes\": 2\n  }\n]\n\n==================================================\nREGRAS IMPORTANTES\n==================================================\n\n1. O nome do arquivo contém o posto.\nExemplo:\nRELATÓRIO AT&TIC P158 DIA 11.05.2026.pdf\n\nNesse caso:\n\"posto\": \"158\"\n\n==================================================\n\n2. A data deve ser extraída:\n- preferencialmente do nome do arquivo\n- senão do texto OCR\n\nFormato:\nDD/MM/AAAA\n\n==================================================\n\n3. Cada linha de atendimento possui:\n\nDATA CODIGO PACIENTE EXAMES\n\nExemplo:\n\n11/05/2026 158112218 EDUARDO HENRIQUE DA SILVA MELO AHBS CRE SU TGO TGP URE VDRL\n\nResultado:\nPACIENTE:\nEDUARDO HENRIQUE DA SILVA MELO\n\nEXAMES:\n[\"AHBS\",\"CRE\",\"SU\",\"TGO\",\"TGP\",\"URE\",\"VDRL\"]\n\n==================================================\n\n4. O código numérico NÃO faz parte do nome.\n\n==================================================\n\n5. Os exames:\n- ficam após o nome do paciente\n- são separados por espaço\n- devem virar array\n\n==================================================\n\n6. Ignore:\n- \"Resumo\"\n- \"Pacientes\"\n- \"Exame(s)\"\n- \"Usuário\"\n- \"Data de impressão\"\n- \"LABOVIDA\"\n\n==================================================\n\n7. Ignore conteúdos entre colchetes:\nExemplo:\nTGO [4.32]\n\nRetornar somente:\nTGO\n\n==================================================\n\n8. Para relatórios de motoqueiro:\n- VALOR = 0\n\n==================================================\n\n9. Não invente exames.\n10. Não invente pacientes.\n11. Não invente valores.\n\n==================================================\nINDEXAÇÃO\n==================================================\n\n- _idx começa em 1\n- _totalPacientes = total de pacientes extraídos\n\n==================================================\nNOME DO ARQUIVO\n==================================================\n\n{{ $(\"ENVIO\").first().json.name }}\n\n==================================================\nTEXTO OCR\n==================================================\n\n{{ $json.extractedText || $json.text || $json.markdown || $json.pages?.map(p => p.markdown).join(\"\\n\") }}","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[1024,1024],"id":"914c47ab-a7cf-424c-bd0d-e0467ca42cd9","name":"Basic LLM Chain","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","typeVersion":1,"position":[1024,1200],"id":"c5c2252b-dd6a-4049-8919-6a2cff8caa19","name":"Mistral Cloud Chat Model","credentials":{"mistralCloudApi":{"id":"u8EADyJQwVEZiWJO","name":"Mistral Cloud account"}}},{"parameters":{"documentId":{"__rl":true,"value":"16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk","mode":"list","cachedResultName":"Tabela sigla-exame match","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"EXAMES","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16rvxMNFrtzPbbJdh-wPULitZcYa_bgOTNZAScAep6zk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1408,656],"id":"cc53725f-21db-4c4d-ad82-96898554f33d","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const todos = $input.all();\n\nfunction normalizarTexto(txt) {\n  return String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^A-Z0-9]/g, \"\")\n    .trim();\n}\n\nfunction normalizarNome(txt) {\n  return String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^A-Z0-9\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst pacientes = todos.filter(item => item.json.PACIENTE);\n\nconst tabela = todos.filter(item =>\n  item.json.NOME_EXAME &&\n  item.json.SIGLA\n);\n\n// ======================================================\n// MAPAS SEPARADOS\n// 1. mapaSiglas: só aceita match exato\n// 2. mapaNomes: pode aceitar nome completo / nome sem parênteses\n// ======================================================\n\nconst mapaSiglas = new Map();\nconst mapaNomes = new Map();\n\nfor (const item of tabela) {\n  const sigla = String(item.json.NOME_EXAME || \"\")\n    .trim()\n    .toUpperCase();\n\n  const nomeCompleto = String(item.json.SIGLA || \"\")\n    .trim();\n\n  if (!sigla || !nomeCompleto) continue;\n\n  // SIGLA: somente match exato\n  mapaSiglas.set(\n    normalizarTexto(sigla),\n    sigla\n  );\n\n  // NOME COMPLETO: match exato pelo nome\n  mapaNomes.set(\n    normalizarNome(nomeCompleto),\n    sigla\n  );\n\n  // NOME ANTES DOS PARÊNTESES\n  const nomeAntesParenteses = nomeCompleto\n    .split(\"(\")[0]\n    .trim();\n\n  if (nomeAntesParenteses) {\n    mapaNomes.set(\n      normalizarNome(nomeAntesParenteses),\n      sigla\n    );\n  }\n}\n\nfunction converterExame(exame) {\n  const original = String(exame || \"\").trim();\n\n  if (!original) {\n    return {\n      encontrado: false,\n      original\n    };\n  }\n\n  const chaveSigla = normalizarTexto(original);\n  const chaveNome = normalizarNome(original);\n\n  // ======================================================\n  // 1. MATCH EXATO POR SIGLA\n  // Exemplo:\n  // GLI só vira GLI\n  // A1GLI só vira A1GLI\n  // Nunca GLI vira A1GLI\n  // ======================================================\n\n  if (mapaSiglas.has(chaveSigla)) {\n    return {\n      encontrado: true,\n      sigla: mapaSiglas.get(chaveSigla)\n    };\n  }\n\n  // ======================================================\n  // 2. REMOVE PARÊNTESES E TENTA MATCH EXATO\n  // ======================================================\n\n  const semParenteses = original\n    .replace(/\\([^)]*\\)/g, \"\")\n    .trim();\n\n  const chaveSemParentesesSigla = normalizarTexto(semParenteses);\n  const chaveSemParentesesNome = normalizarNome(semParenteses);\n\n  if (mapaSiglas.has(chaveSemParentesesSigla)) {\n    return {\n      encontrado: true,\n      sigla: mapaSiglas.get(chaveSemParentesesSigla)\n    };\n  }\n\n  if (mapaNomes.has(chaveNome)) {\n    return {\n      encontrado: true,\n      sigla: mapaNomes.get(chaveNome)\n    };\n  }\n\n  if (mapaNomes.has(chaveSemParentesesNome)) {\n    return {\n      encontrado: true,\n      sigla: mapaNomes.get(chaveSemParentesesNome)\n    };\n  }\n\n  // ======================================================\n  // 3. MATCH PARCIAL SEGURO\n  // Só aplica para nomes longos, nunca para siglas curtas.\n  // Evita erro tipo GLI virar A1GLI.\n  // ======================================================\n\n  if (chaveNome.length >= 8) {\n    for (const [nomeNormalizado, sigla] of mapaNomes.entries()) {\n      if (\n        nomeNormalizado.length >= 8 &&\n        (\n          chaveNome.includes(nomeNormalizado) ||\n          nomeNormalizado.includes(chaveNome)\n        )\n      ) {\n        return {\n          encontrado: true,\n          sigla\n        };\n      }\n    }\n  }\n\n  // ======================================================\n  // 4. NÃO ENCONTRADO\n  // Mantém o exame original\n  // ======================================================\n\n  return {\n    encontrado: false,\n    original\n  };\n}\n\nconst resultado = pacientes.map((item, index) => {\n  const json = item.json;\n\n  const examesOriginais = Array.isArray(json.EXAMES)\n    ? json.EXAMES\n    : String(json.EXAMES_TEXTO || \"\")\n        .split(\",\")\n        .map(e => e.trim())\n        .filter(Boolean);\n\n  const examesNormalizados = [];\n  const examesNaoEncontrados = [];\n\n  for (const exame of examesOriginais) {\n    const convertido = converterExame(exame);\n\n    if (convertido.encontrado) {\n      examesNormalizados.push(convertido.sigla);\n    } else {\n      examesNaoEncontrados.push(convertido.original);\n      examesNormalizados.push(\n        String(convertido.original || \"\").toUpperCase()\n      );\n    }\n  }\n\n  return {\n    json: {\n      ...json,\n\n      EXAMES: examesNormalizados,\n\n      EXAMES_TEXTO: examesNormalizados.join(\", \"),\n\n      EXAMES_NAO_ENCONTRADOS: examesNaoEncontrados,\n\n      QTD_EXAMES: examesNormalizados.length,\n\n      _idx: index + 1,\n\n      _totalPacientes: pacientes.length\n    }\n  };\n});\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,496],"id":"ccdd70ed-cf07-464b-9c74-ff28e7c34ba6","name":"Code in JavaScript1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1632,496],"id":"83da5905-3d55-4a00-9bd3-54334b33f733","name":"Merge1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"ENVIO","type":"main","index":0},{"node":"Get row(s) in sheet1","type":"main","index":0},{"node":"AT&TIC","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text","type":"main","index":0}]]},"Extract text":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Extract text1","type":"main","index":0}]]},"Extract text1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"AT&TIC":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"ENVIO":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"mover envio","type":"main","index":0},{"node":"move at&tic","type":"main","index":0},{"node":"Enviar texto","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Enviar texto3","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Mistral Cloud Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version 145173e1","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}