workflows/conferencia-at&tic-fFJ53YHRS1WzXG9FpUinm.json
{"updatedAt":"2026-05-06T02:55:00.090Z","createdAt":"2026-04-29T15:44:03.619Z","id":"fFJ53YHRS1WzXG9FpUinm","name":"conferencia At&tic","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[1104,480],"id":"184d3e20-0d52-4b70-bd1d-5ea3681aa086","name":"Schedule Trigger"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1504,224],"id":"0b7b6833-83df-4b71-b91f-b4a931bcac59","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[1728,224],"id":"37eeb9fd-8024-41c9-a44c-7dde4258416c","name":"Extract text","credentials":{"mistralCloudApi":{"id":"cyqM5cxZOnbGXAsU","name":"Mistral Cloud account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyDkCLpRXezD5uFEJ7ERn9BMOIMSJEroOPk","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini1","type":"n8n-nodes-base.httpRequest","position":[2144,224],"id":"4a5d0869-6c87-4463-bf1b-bb3de27a499a","typeVersion":4.2,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// ----------------------------\n// DADOS DO ENVIO\n// ----------------------------\nconst nomeEnvio = $('ENVIO').first().json.name || \"\";\n\nlet posto = null;\nlet data = null;\n\n// FORMATO: RELATÓRIO ENVIO P76 DIA 04.05.2026.pdf\nconst match = nomeEnvio.match(/P(\\d+)\\s+DIA\\s+(\\d{2})[./-](\\d{2})[./-](\\d{4})/i);\n\nif (match) {\n  posto = match[1];\n  data = `${match[2]}/${match[3]}/${match[4]}`;\n}\n\n// ----------------------------\n// NORMALIZA RESPOSTA\n// ----------------------------\nresposta = String(resposta)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// ---------------------------------------------------\n// Função para extrair JSON array\n// ---------------------------------------------------\nfunction extrairJsonArray(texto) {\n  const start = texto.indexOf(\"[\");\n  const end = texto.lastIndexOf(\"]\");\n\n  if (start !== -1 && end !== -1 && end > start) {\n    return texto.substring(start, end + 1);\n  }\n\n  return null;\n}\n\nconst jsonBruto = extrairJsonArray(resposta);\n\nif (!jsonBruto) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ Nenhum array JSON encontrado na resposta\",\n      respostaBruta: resposta,\n      posto,\n      data\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(jsonBruto);\n\n  if (!Array.isArray(parsed)) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ O JSON retornado não é um array no formato esperado\",\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta,\n        posto,\n        data\n      }\n    }];\n  }\n\n  if (parsed.length === 0) {\n    return [{\n      json: {\n        sucesso: true,\n        mensagem: \"Nenhum paciente encontrado\",\n        pacientes: [],\n        _totalPacientes: 0,\n        posto,\n        data\n      }\n    }];\n  }\n\n  return parsed.map((paciente, idx) => {\n    const exames = Array.isArray(paciente.EXAMES)\n      ? paciente.EXAMES\n      : [];\n\n    let valor = paciente.VALOR ?? null;\n\n    if (typeof valor === \"string\") {\n      valor = valor\n        .replace(/[R$\\s]/g, \"\")\n        .replace(/\\./g, \"\")\n        .replace(\",\", \".\");\n\n      valor = valor === \"\" ? null : Number(valor);\n    }\n\n    return {\n      json: {\n        sucesso: true,\n        categoria: \"(+)COMPUTADOR DO POSTO\",\n\n        PACIENTE: paciente.PACIENTE ?? null,\n        EXAMES: exames,\n        EXAMES_TEXTO: exames.join(\", \"),\n        QTD_EXAMES: exames.length,\n        VALOR: valor,\n\n        posto,\n        data,\n\n        _idx: idx + 1,\n        _totalPacientes: parsed.length\n      }\n    };\n  });\n\n} catch (e) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ JSON encontrado, mas inválido\",\n      mensagem: e.message,\n      jsonExtraido: jsonBruto,\n      respostaBruta: resposta,\n      posto,\n      data\n    }\n  }];\n}"},"id":"ab91de45-38b9-4ac4-8037-1364f9085af1","name":"converter resposta para json1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,208]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt | Protocolo de Envio ao Laboratório\n// Entrada esperada: $input.first().json.extractedText\n// Saída: prompt pronto para enviar para a IA\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.extractedText || \"\";\n\n// -------------------------\n// 1) Normalização base\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\")\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \" \")\n  .replace(/\\t/g, \" \")\n  .replace(/[ ]{2,}/g, \" \")\n  .replace(/\\n[ ]+/g, \"\\n\")\n  .replace(/[ ]+\\n/g, \"\\n\")\n  .trim();\n\n// -------------------------\n// 2) Limpeza leve para OCR\n// -------------------------\nfunction normalizarOcr(s) {\n  let t = s;\n\n  t = t.replace(/Protocolo\\s+de\\s+Envio\\s+ao\\s+Laborat[oó]rio/gi, \"Protocolo de Envio ao Laboratório\");\n  t = t.replace(/Paciente/gi, \"Paciente\");\n  t = t.replace(/Exames/gi, \"Exames\");\n  t = t.replace(/Valor/gi, \"Valor\");\n\n  t = t.replace(/[ ]{2,}/g, \" \").trim();\n\n  return t;\n}\n\nconst conteudoLimpo = normalizarOcr(texto);\n\n// -------------------------\n// 3) Nome do arquivo, se existir\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  item?.json?.fileName ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// 4) Conteúdo final enviado ao modelo\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoLimpo}\"\"\"`;\n\n// =======================================================\n// 5) Prompt\n// =======================================================\nconst prompt = `\nVocê é um especialista em extração de dados de documentos textuais.\n\nSua tarefa é analisar o texto OCR fornecido abaixo, identificar a tabela de \"Protocolo de Envio ao Laboratório\" e extrair as informações de forma estruturada.\n\nRETORNE APENAS JSON VÁLIDO.\nNão use markdown.\nNão escreva explicações.\nNão escreva texto fora do JSON.\nNão invente pacientes.\nNão duplique pacientes.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\n[\n  {\n    \"PACIENTE\": \"NOME COMPLETO DO PACIENTE\",\n    \"EXAMES\": [\"CODIGO1\", \"CODIGO2\"],\n    \"VALOR\": 99.10\n  }\n]\n\nREGRAS DE EXTRAÇÃO:\n\n1) PACIENTE\n- Extraia o nome completo do paciente.\n- Preserve o nome em letras maiúsculas, se estiver assim no documento.\n- Não confunda nome de paciente com cabeçalho, laboratório, posto, data ou observações.\n\n2) EXAMES\n- Extraia todos os códigos de exames do paciente.\n- Os exames podem aparecer separados por vírgula.\n- Os códigos podem vir acompanhados de valores entre colchetes.\n- Ignore tudo que estiver entre colchetes.\n- Exemplo:\n  \"25OHD [20,00], B12 [15,00], TSH [10,00]\"\n  deve retornar:\n  [\"25OHD\", \"B12\", \"TSH\"]\n\n3) VALOR\n- Extraia o valor total do paciente na coluna \"Valor\".\n- Retorne como número decimal JSON.\n- Se o valor estiver no formato brasileiro, converta:\n  \"99,10\" -> 99.10\n  \"1.234,56\" -> 1234.56\n\n4) INCLUSÃO\n- Extraia todos os pacientes presentes na tabela.\n- Inclua pacientes mesmo que tenham apenas um exame.\n- Se não encontrar pacientes, retorne [].\n\n5) VALIDAÇÃO\n- A saída deve ser um array JSON válido.\n- Não coloque comentários.\n- Não coloque vírgula sobrando.\n- Não retorne objeto com chave \"dados\"; retorne diretamente o array.\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n`.trim();\n\n// =======================================================\n// 6) Retorno para o modelo\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: prompt,\n          },\n        ],\n      },\n    ],\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,224],"id":"7ab2dacf-ebb3-4b09-a251-0f31bb9922ef","name":"Code1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1504,624],"id":"9db143ef-434f-4dda-8b39-8bf48007bcdc","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[1728,624],"id":"c671d1bf-51c4-450a-b455-3c2ff2703dac","name":"Extract text1","credentials":{"mistralCloudApi":{"id":"cyqM5cxZOnbGXAsU","name":"Mistral Cloud account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyDkCLpRXezD5uFEJ7ERn9BMOIMSJEroOPk","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini","type":"n8n-nodes-base.httpRequest","position":[2144,624],"id":"c0f608e0-ebb0-4992-93e8-fdf2feec5ec4","typeVersion":4.2,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Normaliza\nresposta = String(resposta)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// ---------------------------------------------------\n// Função para extrair JSON array\n// ---------------------------------------------------\nfunction extrairJsonArray(texto) {\n  const start = texto.indexOf(\"[\");\n  const end = texto.lastIndexOf(\"]\");\n\n  if (start !== -1 && end !== -1 && end > start) {\n    return texto.substring(start, end + 1);\n  }\n\n  return null;\n}\n\nconst jsonBruto = extrairJsonArray(resposta);\n\nif (!jsonBruto) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ Nenhum array JSON encontrado na resposta\",\n      respostaBruta: resposta\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(jsonBruto);\n\n  if (!Array.isArray(parsed)) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ O JSON retornado não é um array no formato esperado\",\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta\n      }\n    }];\n  }\n\n  if (parsed.length === 0) {\n    return [{\n      json: {\n        sucesso: true,\n        mensagem: \"Nenhum paciente encontrado\",\n        pacientes: [],\n        _totalPacientes: 0\n      }\n    }];\n  }\n\n  return parsed.map((paciente, idx) => {\n    const exames = Array.isArray(paciente.EXAMES)\n      ? paciente.EXAMES\n      : [];\n\n    let valor = paciente.VALOR ?? null;\n\n    if (typeof valor === \"string\") {\n      valor = valor\n        .replace(/[R$\\s]/g, \"\")\n        .replace(/\\./g, \"\")\n        .replace(\",\", \".\");\n\n      valor = valor === \"\" ? null : Number(valor);\n    }\n\n    return {\n      json: {\n        sucesso: true,\n        categoria: \"(+)COMPUTADOR DO POSTO\",\n\n        PACIENTE: paciente.PACIENTE ?? null,\n        EXAMES: exames,\n        EXAMES_TEXTO: exames.join(\", \"),\n        QTD_EXAMES: exames.length,\n        VALOR: valor,\n\n        _idx: idx + 1,\n        _totalPacientes: parsed.length\n      }\n    };\n  });\n\n} catch (e) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ JSON encontrado, mas inválido\",\n      mensagem: e.message,\n      jsonExtraido: jsonBruto,\n      respostaBruta: resposta\n    }\n  }];\n}"},"id":"b1d48b4a-ca27-4d4b-9bed-6d4700302d72","name":"converter resposta para json","type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,624]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt | Relatório de Motoqueiros / Exames\n// Entrada esperada: $input.first().json.extractedText\n// Saída: prompt pronto para enviar para a IA\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.extractedText || \"\";\n\n// -------------------------\n// 1) Normalização base\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\")\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \" \")\n  .replace(/\\t/g, \" \")\n  .replace(/[ ]{2,}/g, \" \")\n  .replace(/\\n[ ]+/g, \"\\n\")\n  .replace(/[ ]+\\n/g, \"\\n\")\n  .trim();\n\n// -------------------------\n// 2) Limpeza leve para OCR\n// -------------------------\nfunction normalizarOcr(s) {\n  return String(s || \"\")\n    .replace(/Relat[oó]rio\\s+de\\s+Motoqueiros/gi, \"Relatório de Motoqueiros\")\n    .replace(/Paciente/gi, \"Paciente\")\n    .replace(/Exames?/gi, \"Exame\")\n    .replace(/[ ]{2,}/g, \" \")\n    .trim();\n}\n\nconst conteudoLimpo = normalizarOcr(texto);\n\n// -------------------------\n// 3) Nome do arquivo, se existir\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  item?.json?.fileName ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// 4) Conteúdo final enviado ao modelo\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoLimpo}\"\"\"`;\n\n// =======================================================\n// 5) Prompt\n// =======================================================\nconst prompt = `\nVocê é um especialista em extração de dados de documentos textuais.\n\nSua tarefa é analisar o texto OCR fornecido abaixo e extrair os dados da tabela de exames.\n\nRETORNE APENAS JSON VÁLIDO.\nNão use markdown.\nNão escreva explicações.\nNão escreva texto fora do JSON.\nNão invente pacientes.\nNão duplique pacientes.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\n[\n  {\n    \"PACIENTE\": \"NOME COMPLETO DO PACIENTE\",\n    \"EXAMES\": [\"EXAME1\", \"EXAME2\"],\n    \"VALOR\": null\n  }\n]\n\nREGRAS DE EXTRAÇÃO:\n\n1) PACIENTE\n- Extraia o nome completo do paciente.\n- O nome geralmente está na coluna anterior aos exames.\n- Ignore cabeçalhos como LABOVIDA, Relatório, datas, códigos numéricos e linhas de separação.\n\n2) EXAMES\n- Os exames aparecem imediatamente após o nome do paciente na mesma linha da tabela.\n- A linha geralmente segue este padrão:\n  | DATA | CODIGO | PACIENTE | EXAMES |\n- Tudo que estiver na coluna após o PACIENTE deve ser tratado como lista de exames.\n- Se houver mais de um exame separado por espaço, retorne cada exame separado no array.\n- Exemplo:\n  | 04/05/2026 | 3568082 | MURILO HENRIQUE GONÇALVES ASFORA | TESTO TTL |\n  Resultado:\n  \"EXAMES\": [\"TESTO\", \"TTL\"]\n- Exemplo:\n  | 04/05/2026 | 3568070 | ALINE CARLA SOUZA COSTA DE LIRA | HEMO TGO TGP TRI TTPA |\n  Resultado:\n  \"EXAMES\": [\"HEMO\", \"TGO\", \"TGP\", \"TRI\", \"TTPA\"]\n- Se o exame for composto por várias palavras, mantenha como um único exame somente quando for claramente um nome composto de exame.\n  Exemplo:\n  \"PARASITOLOGICO DE FEZES\" deve virar:\n  [\"PARASITOLOGICO DE FEZES\"]\n- Não junte exames diferentes.\n- Não transforme nem interprete os códigos.\n- Não invente exames.\n\n3) VALOR\n- Se não existir valor no texto, retorne null.\n- Não invente valores.\n\n4) INCLUSÃO\n- Extraia todos os pacientes encontrados.\n- Se não encontrar pacientes, retorne [].\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n`.trim();\n\n// =======================================================\n// 6) Retorno para o modelo\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: prompt\n          }\n        ]\n      }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,624],"id":"6d2ace18-dbc4-4e47-8c03-35e95665ac1d","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2640,448],"id":"edd903cf-735d-4399-833b-0fce25ac0ad1","name":"Merge"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1bEiEy1m0-zcYYefCuDCP-smS5DTOo3u9' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,624],"id":"df71d253-f949-49d5-b276-865c442038ee","name":"AT&TIC","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1ktinnW0TcQEiQvbv8GBqn4nyDgiXD_Wu' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,224],"id":"806389e8-bd0d-42f5-b89a-768a3f3d53e3","name":"ENVIO","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"jsCode":"function normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction palavrasDoNome(nome) {\n  return normalizarTexto(nome)\n    .split(\" \")\n    .filter(p => p.length >= 2);\n}\n\nfunction contarPalavrasIguais(nome1, nome2) {\n  const palavras1 = new Set(palavrasDoNome(nome1));\n  const palavras2 = new Set(palavrasDoNome(nome2));\n\n  let iguais = 0;\n\n  for (const palavra of palavras1) {\n    if (palavras2.has(palavra)) iguais++;\n  }\n\n  return iguais;\n}\n\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) return valor;\n\n  if (typeof valor === \"string\") {\n    return valor\n      .split(/,|;|\\n/)\n      .map(v => v.trim())\n      .filter(v => v);\n  }\n\n  return [valor];\n}\n\n// 🔥 dados globais\nconst posto = $input.first().json.posto || \"\";\nconst data = $input.first().json.data || \"\";\n\n// 🔥 inputs\nconst input1 = $items(\"converter resposta para json1\").map(item => item.json);\nconst input2 = $items(\"converter resposta para json\").map(item => item.json);\n\nconst resultado = [];\n\nfor (const item1 of input1) {\n  const pacienteInput1 = item1.PACIENTE || \"\";\n  const examesInput1 = garantirArray(item1.EXAMES);\n\n  let melhorMatch = null;\n  let maiorQtdPalavrasIguais = 0;\n\n  for (const item2 of input2) {\n    const pacienteInput2 = item2.PACIENTE || \"\";\n\n    const qtdPalavrasIguais = contarPalavrasIguais(\n      pacienteInput1,\n      pacienteInput2\n    );\n\n    if (qtdPalavrasIguais > maiorQtdPalavrasIguais) {\n      maiorQtdPalavrasIguais = qtdPalavrasIguais;\n      melhorMatch = item2;\n    }\n  }\n\n  // 🔥 CORREÇÃO AQUI\n  const matchPaciente = Boolean(melhorMatch && maiorQtdPalavrasIguais >= 3);\n\n  const pacienteInput2Encontrado = matchPaciente\n    ? melhorMatch.PACIENTE || \"\"\n    : \"\";\n\n  const examesInput2 = matchPaciente\n    ? garantirArray(melhorMatch.EXAMES)\n    : [];\n\n  const examesInput1Norm = examesInput1.map(normalizarTexto);\n  const examesInput2Norm = examesInput2.map(normalizarTexto);\n\n  const examesFaltando = examesInput1.filter(exame => {\n    return !examesInput2Norm.includes(normalizarTexto(exame));\n  });\n\n  const examesExtras = examesInput2.filter(exame => {\n    return !examesInput1Norm.includes(normalizarTexto(exame));\n  });\n\n  // 🔥 CORREÇÃO AQUI\n  const matchExames =\n    Boolean(matchPaciente) &&\n    examesFaltando.length === 0 &&\n    examesExtras.length === 0;\n\n  resultado.push({\n    json: {\n      posto,\n      data,\n\n      PACIENTE_INPUT1: pacienteInput1,\n      PACIENTE_INPUT2: pacienteInput2Encontrado,\n\n      matchPaciente,\n      palavrasIguaisPaciente: maiorQtdPalavrasIguais,\n\n      matchExames,\n\n      quantidadeExamesInput1: examesInput1.length,\n      quantidadeExamesInput2: examesInput2.length,\n\n      examesInput1,\n      examesInput2,\n\n      examesFaltandoNoInput2: examesFaltando,\n      examesExtrasNoInput2: examesExtras,\n\n      erro: !matchExames,\n\n      mensagem: matchExames\n        ? \"Paciente e exames estão exatamente iguais\"\n        : matchPaciente\n          ? \"Paciente encontrado, mas há divergência entre os exames\"\n          : \"Paciente não encontrado com pelo menos 3 palavras iguais\"\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,448],"id":"42c2768a-a0de-46d1-a5e7-107adcde63ab","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3280,448],"id":"87f37c0b-f534-4600-a5dc-f7116e7fe5fd","name":"Loop Over Items"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive3').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3568,496],"id":"2e24845a-cf23-43f0-b22e-ef7b224dd13a","name":"move at&tic","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3552,288],"id":"ac4f63d0-1e0c-4fef-8a6e-1c3b72706c18","name":"mover envio","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $now.setZone('America/Recife').toFormat('dd/LL/yyyy') }}","NOME PACIENTE ENVIO":"={{ $json.PACIENTE_INPUT1 }}","NOME PACIENTE AT&TIC":"={{ $json.PACIENTE_INPUT2 }}","EXAMES ENVIO":"={{ $json.examesInput1 }}","EXAMES AT&TIC":"={{ $json.examesInput2 }}","EXAMES FALTANDO NO AT&TIC":"={{ $json.examesFaltandoNoInput2 }}","EXAMES A MAIS NO AT&TIC":"={{ $json.examesExtrasNoInput2 }}","POSTO":"={{ $json.posto }}","ERRO NOME":"={{ $json.matchPaciente }}","ERRO EXAMES":"={{ $json.matchExames }}","MENSAGEM ENVIADA":"NÃO"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3072,448],"id":"b9be02aa-a6f2-46e8-b205-07ccdf4a85cc","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1776,960],"id":"099bffe2-f0e4-4521-90a3-7086312bc734","name":"Loop Over Items3"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2432,976],"id":"350e1cd0-05bf-4787-b094-8365ff6b57b8"},{"parameters":{"documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"CORRIGIR","lookupValue":"CADASTRO PRECISA DE ATENÇÃO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1344,976],"id":"7e355ab1-357a-43ce-8aba-dea26846fada","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=5581986587496","messageText":"=O paciente abaixo precisa de atenção porque existe divergência no cadastro:\n\n{{ $json['NOME PACIENTE ENVIO'] }}\n\nObservar:\n{{ $json.CADASTRO }}-{{ $json.CORRIGIR }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2016,976],"id":"f8719592-ae09-4dcb-b66e-a8a7f78e7be3","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If1').item.json.row_number }}","MENSAGEM ENVIADA":"MENSAGEM ENVIADA"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2224,976],"id":"4d5ade58-cef9-4305-9001-3d32d4597801","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1b5d49e8-fc16-43df-a219-13192929481e","leftValue":"={{ $json['MENSAGEM ENVIADA'] }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1520,976],"id":"3d747c70-6bbf-4ea1-8b91-08b53975ff17","name":"If1"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"={{ $json.CADASTRO }}-{{ $json.CORRIGIR }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2704,928],"id":"23f73e96-5564-4b88-8ec4-f48434ed6363","name":"Enviar texto","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"ENVIO","type":"main","index":0},{"node":"AT&TIC","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text","type":"main","index":0}]]},"Analisar Gemini1":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}],[]]},"Extract text":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Analisar Gemini1","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Extract text1","type":"main","index":0}]]},"Extract text1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Analisar Gemini":{"main":[[{"node":"converter resposta para json","type":"main","index":0}],[]]},"Code":{"main":[[{"node":"Analisar Gemini","type":"main","index":0}]]},"converter resposta para json1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"converter resposta para json":{"main":[[{"node":"Merge","type":"main","index":1}]]},"AT&TIC":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"ENVIO":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"mover envio","type":"main","index":0},{"node":"move at&tic","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Enviar texto3","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[]]},"Update row in sheet":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"89972901-2b9b-450c-b04c-a5e92e1c36e8","activeVersionId":"89972901-2b9b-450c-b04c-a5e92e1c36e8","triggerCount":1,"shared":[{"updatedAt":"2026-04-29T15:44:03.619Z","createdAt":"2026-04-29T15:44:03.619Z","role":"workflow:owner","workflowId":"fFJ53YHRS1WzXG9FpUinm","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":{"updatedAt":"2026-05-05T00:59:29.817Z","createdAt":"2026-05-05T00:59:26.497Z","versionId":"89972901-2b9b-450c-b04c-a5e92e1c36e8","workflowId":"fFJ53YHRS1WzXG9FpUinm","nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[1104,480],"id":"184d3e20-0d52-4b70-bd1d-5ea3681aa086","name":"Schedule Trigger"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1504,224],"id":"0b7b6833-83df-4b71-b91f-b4a931bcac59","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[1728,224],"id":"37eeb9fd-8024-41c9-a44c-7dde4258416c","name":"Extract text","credentials":{"mistralCloudApi":{"id":"cyqM5cxZOnbGXAsU","name":"Mistral Cloud account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyDkCLpRXezD5uFEJ7ERn9BMOIMSJEroOPk","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini1","type":"n8n-nodes-base.httpRequest","position":[2144,224],"id":"4a5d0869-6c87-4463-bf1b-bb3de27a499a","typeVersion":4.2,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// ----------------------------\n// DADOS DO ENVIO\n// ----------------------------\nconst nomeEnvio = $('ENVIO').first().json.name || \"\";\n\nlet posto = null;\nlet data = null;\n\n// FORMATO: RELATÓRIO ENVIO P76 DIA 04.05.2026.pdf\nconst match = nomeEnvio.match(/P(\\d+)\\s+DIA\\s+(\\d{2})[./-](\\d{2})[./-](\\d{4})/i);\n\nif (match) {\n  posto = match[1];\n  data = `${match[2]}/${match[3]}/${match[4]}`;\n}\n\n// ----------------------------\n// NORMALIZA RESPOSTA\n// ----------------------------\nresposta = String(resposta)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// ---------------------------------------------------\n// Função para extrair JSON array\n// ---------------------------------------------------\nfunction extrairJsonArray(texto) {\n  const start = texto.indexOf(\"[\");\n  const end = texto.lastIndexOf(\"]\");\n\n  if (start !== -1 && end !== -1 && end > start) {\n    return texto.substring(start, end + 1);\n  }\n\n  return null;\n}\n\nconst jsonBruto = extrairJsonArray(resposta);\n\nif (!jsonBruto) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ Nenhum array JSON encontrado na resposta\",\n      respostaBruta: resposta,\n      posto,\n      data\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(jsonBruto);\n\n  if (!Array.isArray(parsed)) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ O JSON retornado não é um array no formato esperado\",\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta,\n        posto,\n        data\n      }\n    }];\n  }\n\n  if (parsed.length === 0) {\n    return [{\n      json: {\n        sucesso: true,\n        mensagem: \"Nenhum paciente encontrado\",\n        pacientes: [],\n        _totalPacientes: 0,\n        posto,\n        data\n      }\n    }];\n  }\n\n  return parsed.map((paciente, idx) => {\n    const exames = Array.isArray(paciente.EXAMES)\n      ? paciente.EXAMES\n      : [];\n\n    let valor = paciente.VALOR ?? null;\n\n    if (typeof valor === \"string\") {\n      valor = valor\n        .replace(/[R$\\s]/g, \"\")\n        .replace(/\\./g, \"\")\n        .replace(\",\", \".\");\n\n      valor = valor === \"\" ? null : Number(valor);\n    }\n\n    return {\n      json: {\n        sucesso: true,\n        categoria: \"(+)COMPUTADOR DO POSTO\",\n\n        PACIENTE: paciente.PACIENTE ?? null,\n        EXAMES: exames,\n        EXAMES_TEXTO: exames.join(\", \"),\n        QTD_EXAMES: exames.length,\n        VALOR: valor,\n\n        posto,\n        data,\n\n        _idx: idx + 1,\n        _totalPacientes: parsed.length\n      }\n    };\n  });\n\n} catch (e) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ JSON encontrado, mas inválido\",\n      mensagem: e.message,\n      jsonExtraido: jsonBruto,\n      respostaBruta: resposta,\n      posto,\n      data\n    }\n  }];\n}"},"id":"ab91de45-38b9-4ac4-8037-1364f9085af1","name":"converter resposta para json1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,208]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt | Protocolo de Envio ao Laboratório\n// Entrada esperada: $input.first().json.extractedText\n// Saída: prompt pronto para enviar para a IA\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.extractedText || \"\";\n\n// -------------------------\n// 1) Normalização base\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\")\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \" \")\n  .replace(/\\t/g, \" \")\n  .replace(/[ ]{2,}/g, \" \")\n  .replace(/\\n[ ]+/g, \"\\n\")\n  .replace(/[ ]+\\n/g, \"\\n\")\n  .trim();\n\n// -------------------------\n// 2) Limpeza leve para OCR\n// -------------------------\nfunction normalizarOcr(s) {\n  let t = s;\n\n  t = t.replace(/Protocolo\\s+de\\s+Envio\\s+ao\\s+Laborat[oó]rio/gi, \"Protocolo de Envio ao Laboratório\");\n  t = t.replace(/Paciente/gi, \"Paciente\");\n  t = t.replace(/Exames/gi, \"Exames\");\n  t = t.replace(/Valor/gi, \"Valor\");\n\n  t = t.replace(/[ ]{2,}/g, \" \").trim();\n\n  return t;\n}\n\nconst conteudoLimpo = normalizarOcr(texto);\n\n// -------------------------\n// 3) Nome do arquivo, se existir\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  item?.json?.fileName ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// 4) Conteúdo final enviado ao modelo\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoLimpo}\"\"\"`;\n\n// =======================================================\n// 5) Prompt\n// =======================================================\nconst prompt = `\nVocê é um especialista em extração de dados de documentos textuais.\n\nSua tarefa é analisar o texto OCR fornecido abaixo, identificar a tabela de \"Protocolo de Envio ao Laboratório\" e extrair as informações de forma estruturada.\n\nRETORNE APENAS JSON VÁLIDO.\nNão use markdown.\nNão escreva explicações.\nNão escreva texto fora do JSON.\nNão invente pacientes.\nNão duplique pacientes.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\n[\n  {\n    \"PACIENTE\": \"NOME COMPLETO DO PACIENTE\",\n    \"EXAMES\": [\"CODIGO1\", \"CODIGO2\"],\n    \"VALOR\": 99.10\n  }\n]\n\nREGRAS DE EXTRAÇÃO:\n\n1) PACIENTE\n- Extraia o nome completo do paciente.\n- Preserve o nome em letras maiúsculas, se estiver assim no documento.\n- Não confunda nome de paciente com cabeçalho, laboratório, posto, data ou observações.\n\n2) EXAMES\n- Extraia todos os códigos de exames do paciente.\n- Os exames podem aparecer separados por vírgula.\n- Os códigos podem vir acompanhados de valores entre colchetes.\n- Ignore tudo que estiver entre colchetes.\n- Exemplo:\n  \"25OHD [20,00], B12 [15,00], TSH [10,00]\"\n  deve retornar:\n  [\"25OHD\", \"B12\", \"TSH\"]\n\n3) VALOR\n- Extraia o valor total do paciente na coluna \"Valor\".\n- Retorne como número decimal JSON.\n- Se o valor estiver no formato brasileiro, converta:\n  \"99,10\" -> 99.10\n  \"1.234,56\" -> 1234.56\n\n4) INCLUSÃO\n- Extraia todos os pacientes presentes na tabela.\n- Inclua pacientes mesmo que tenham apenas um exame.\n- Se não encontrar pacientes, retorne [].\n\n5) VALIDAÇÃO\n- A saída deve ser um array JSON válido.\n- Não coloque comentários.\n- Não coloque vírgula sobrando.\n- Não retorne objeto com chave \"dados\"; retorne diretamente o array.\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n`.trim();\n\n// =======================================================\n// 6) Retorno para o modelo\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: prompt,\n          },\n        ],\n      },\n    ],\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,224],"id":"7ab2dacf-ebb3-4b09-a251-0f31bb9922ef","name":"Code1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1504,624],"id":"9db143ef-434f-4dda-8b39-8bf48007bcdc","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[1728,624],"id":"c671d1bf-51c4-450a-b455-3c2ff2703dac","name":"Extract text1","credentials":{"mistralCloudApi":{"id":"cyqM5cxZOnbGXAsU","name":"Mistral Cloud account"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyDkCLpRXezD5uFEJ7ERn9BMOIMSJEroOPk","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"name":"Analisar Gemini","type":"n8n-nodes-base.httpRequest","position":[2144,624],"id":"c0f608e0-ebb0-4992-93e8-fdf2feec5ec4","typeVersion":4.2,"retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Captura a resposta bruta da Gemini\nlet resposta = $input.first().json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Normaliza\nresposta = String(resposta)\n  .trim()\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// ---------------------------------------------------\n// Função para extrair JSON array\n// ---------------------------------------------------\nfunction extrairJsonArray(texto) {\n  const start = texto.indexOf(\"[\");\n  const end = texto.lastIndexOf(\"]\");\n\n  if (start !== -1 && end !== -1 && end > start) {\n    return texto.substring(start, end + 1);\n  }\n\n  return null;\n}\n\nconst jsonBruto = extrairJsonArray(resposta);\n\nif (!jsonBruto) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ Nenhum array JSON encontrado na resposta\",\n      respostaBruta: resposta\n    }\n  }];\n}\n\ntry {\n  const parsed = JSON.parse(jsonBruto);\n\n  if (!Array.isArray(parsed)) {\n    return [{\n      json: {\n        sucesso: false,\n        erro: \"❌ O JSON retornado não é um array no formato esperado\",\n        jsonExtraido: jsonBruto,\n        respostaBruta: resposta\n      }\n    }];\n  }\n\n  if (parsed.length === 0) {\n    return [{\n      json: {\n        sucesso: true,\n        mensagem: \"Nenhum paciente encontrado\",\n        pacientes: [],\n        _totalPacientes: 0\n      }\n    }];\n  }\n\n  return parsed.map((paciente, idx) => {\n    const exames = Array.isArray(paciente.EXAMES)\n      ? paciente.EXAMES\n      : [];\n\n    let valor = paciente.VALOR ?? null;\n\n    if (typeof valor === \"string\") {\n      valor = valor\n        .replace(/[R$\\s]/g, \"\")\n        .replace(/\\./g, \"\")\n        .replace(\",\", \".\");\n\n      valor = valor === \"\" ? null : Number(valor);\n    }\n\n    return {\n      json: {\n        sucesso: true,\n        categoria: \"(+)COMPUTADOR DO POSTO\",\n\n        PACIENTE: paciente.PACIENTE ?? null,\n        EXAMES: exames,\n        EXAMES_TEXTO: exames.join(\", \"),\n        QTD_EXAMES: exames.length,\n        VALOR: valor,\n\n        _idx: idx + 1,\n        _totalPacientes: parsed.length\n      }\n    };\n  });\n\n} catch (e) {\n  return [{\n    json: {\n      sucesso: false,\n      erro: \"❌ JSON encontrado, mas inválido\",\n      mensagem: e.message,\n      jsonExtraido: jsonBruto,\n      respostaBruta: resposta\n    }\n  }];\n}"},"id":"b1d48b4a-ca27-4d4b-9bed-6d4700302d72","name":"converter resposta para json","type":"n8n-nodes-base.code","typeVersion":2,"position":[2384,624]},{"parameters":{"jsCode":"// =======================================================\n// OCR -> Prompt | Relatório de Motoqueiros / Exames\n// Entrada esperada: $input.first().json.extractedText\n// Saída: prompt pronto para enviar para a IA\n// =======================================================\n\nconst item = $input.first();\nconst conteudoBruto = item?.json?.extractedText || \"\";\n\n// -------------------------\n// 1) Normalização base\n// -------------------------\nlet texto = String(conteudoBruto)\n  .replace(/\\r\\n/g, \"\\n\")\n  .replace(/\\r/g, \"\\n\")\n  .replace(/\"/g, \"'\")\n  .replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \" \")\n  .replace(/\\t/g, \" \")\n  .replace(/[ ]{2,}/g, \" \")\n  .replace(/\\n[ ]+/g, \"\\n\")\n  .replace(/[ ]+\\n/g, \"\\n\")\n  .trim();\n\n// -------------------------\n// 2) Limpeza leve para OCR\n// -------------------------\nfunction normalizarOcr(s) {\n  return String(s || \"\")\n    .replace(/Relat[oó]rio\\s+de\\s+Motoqueiros/gi, \"Relatório de Motoqueiros\")\n    .replace(/Paciente/gi, \"Paciente\")\n    .replace(/Exames?/gi, \"Exame\")\n    .replace(/[ ]{2,}/g, \" \")\n    .trim();\n}\n\nconst conteudoLimpo = normalizarOcr(texto);\n\n// -------------------------\n// 3) Nome do arquivo, se existir\n// -------------------------\nconst nomeArquivo =\n  item?.json?.arquivo ||\n  item?.json?.nome ||\n  item?.json?.fileName ||\n  \"sem_nome.pdf\";\n\n// -------------------------\n// 4) Conteúdo final enviado ao modelo\n// -------------------------\nconst conteudoFinal = `🗂️ Documento: ${nomeArquivo}\\n\"\"\"${conteudoLimpo}\"\"\"`;\n\n// =======================================================\n// 5) Prompt\n// =======================================================\nconst prompt = `\nVocê é um especialista em extração de dados de documentos textuais.\n\nSua tarefa é analisar o texto OCR fornecido abaixo e extrair os dados da tabela de exames.\n\nRETORNE APENAS JSON VÁLIDO.\nNão use markdown.\nNão escreva explicações.\nNão escreva texto fora do JSON.\nNão invente pacientes.\nNão duplique pacientes.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\n[\n  {\n    \"PACIENTE\": \"NOME COMPLETO DO PACIENTE\",\n    \"EXAMES\": [\"EXAME1\", \"EXAME2\"],\n    \"VALOR\": null\n  }\n]\n\nREGRAS DE EXTRAÇÃO:\n\n1) PACIENTE\n- Extraia o nome completo do paciente.\n- O nome geralmente está na coluna anterior aos exames.\n- Ignore cabeçalhos como LABOVIDA, Relatório, datas, códigos numéricos e linhas de separação.\n\n2) EXAMES\n- Os exames aparecem imediatamente após o nome do paciente na mesma linha da tabela.\n- A linha geralmente segue este padrão:\n  | DATA | CODIGO | PACIENTE | EXAMES |\n- Tudo que estiver na coluna após o PACIENTE deve ser tratado como lista de exames.\n- Se houver mais de um exame separado por espaço, retorne cada exame separado no array.\n- Exemplo:\n  | 04/05/2026 | 3568082 | MURILO HENRIQUE GONÇALVES ASFORA | TESTO TTL |\n  Resultado:\n  \"EXAMES\": [\"TESTO\", \"TTL\"]\n- Exemplo:\n  | 04/05/2026 | 3568070 | ALINE CARLA SOUZA COSTA DE LIRA | HEMO TGO TGP TRI TTPA |\n  Resultado:\n  \"EXAMES\": [\"HEMO\", \"TGO\", \"TGP\", \"TRI\", \"TTPA\"]\n- Se o exame for composto por várias palavras, mantenha como um único exame somente quando for claramente um nome composto de exame.\n  Exemplo:\n  \"PARASITOLOGICO DE FEZES\" deve virar:\n  [\"PARASITOLOGICO DE FEZES\"]\n- Não junte exames diferentes.\n- Não transforme nem interprete os códigos.\n- Não invente exames.\n\n3) VALOR\n- Se não existir valor no texto, retorne null.\n- Não invente valores.\n\n4) INCLUSÃO\n- Extraia todos os pacientes encontrados.\n- Se não encontrar pacientes, retorne [].\n\nAGORA EXTRAIA DO TEXTO ABAIXO:\n\n${conteudoFinal}\n`.trim();\n\n// =======================================================\n// 6) Retorno para o modelo\n// =======================================================\nreturn {\n  json: {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text: prompt\n          }\n        ]\n      }\n    ]\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,624],"id":"6d2ace18-dbc4-4e47-8c03-35e95665ac1d","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2640,448],"id":"edd903cf-735d-4399-833b-0fce25ac0ad1","name":"Merge"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1bEiEy1m0-zcYYefCuDCP-smS5DTOo3u9' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,624],"id":"df71d253-f949-49d5-b276-865c442038ee","name":"AT&TIC","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1ktinnW0TcQEiQvbv8GBqn4nyDgiXD_Wu' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,224],"id":"806389e8-bd0d-42f5-b89a-768a3f3d53e3","name":"ENVIO","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"jsCode":"function normalizarTexto(valor) {\n  return String(valor || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/[^\\w\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction palavrasDoNome(nome) {\n  return normalizarTexto(nome)\n    .split(\" \")\n    .filter(p => p.length >= 2);\n}\n\nfunction contarPalavrasIguais(nome1, nome2) {\n  const palavras1 = new Set(palavrasDoNome(nome1));\n  const palavras2 = new Set(palavrasDoNome(nome2));\n\n  let iguais = 0;\n\n  for (const palavra of palavras1) {\n    if (palavras2.has(palavra)) iguais++;\n  }\n\n  return iguais;\n}\n\nfunction garantirArray(valor) {\n  if (!valor) return [];\n\n  if (Array.isArray(valor)) return valor;\n\n  if (typeof valor === \"string\") {\n    return valor\n      .split(/,|;|\\n/)\n      .map(v => v.trim())\n      .filter(v => v);\n  }\n\n  return [valor];\n}\n\n// 🔥 dados globais\nconst posto = $input.first().json.posto || \"\";\nconst data = $input.first().json.data || \"\";\n\n// 🔥 inputs\nconst input1 = $items(\"converter resposta para json1\").map(item => item.json);\nconst input2 = $items(\"converter resposta para json\").map(item => item.json);\n\nconst resultado = [];\n\nfor (const item1 of input1) {\n  const pacienteInput1 = item1.PACIENTE || \"\";\n  const examesInput1 = garantirArray(item1.EXAMES);\n\n  let melhorMatch = null;\n  let maiorQtdPalavrasIguais = 0;\n\n  for (const item2 of input2) {\n    const pacienteInput2 = item2.PACIENTE || \"\";\n\n    const qtdPalavrasIguais = contarPalavrasIguais(\n      pacienteInput1,\n      pacienteInput2\n    );\n\n    if (qtdPalavrasIguais > maiorQtdPalavrasIguais) {\n      maiorQtdPalavrasIguais = qtdPalavrasIguais;\n      melhorMatch = item2;\n    }\n  }\n\n  // 🔥 CORREÇÃO AQUI\n  const matchPaciente = Boolean(melhorMatch && maiorQtdPalavrasIguais >= 3);\n\n  const pacienteInput2Encontrado = matchPaciente\n    ? melhorMatch.PACIENTE || \"\"\n    : \"\";\n\n  const examesInput2 = matchPaciente\n    ? garantirArray(melhorMatch.EXAMES)\n    : [];\n\n  const examesInput1Norm = examesInput1.map(normalizarTexto);\n  const examesInput2Norm = examesInput2.map(normalizarTexto);\n\n  const examesFaltando = examesInput1.filter(exame => {\n    return !examesInput2Norm.includes(normalizarTexto(exame));\n  });\n\n  const examesExtras = examesInput2.filter(exame => {\n    return !examesInput1Norm.includes(normalizarTexto(exame));\n  });\n\n  // 🔥 CORREÇÃO AQUI\n  const matchExames =\n    Boolean(matchPaciente) &&\n    examesFaltando.length === 0 &&\n    examesExtras.length === 0;\n\n  resultado.push({\n    json: {\n      posto,\n      data,\n\n      PACIENTE_INPUT1: pacienteInput1,\n      PACIENTE_INPUT2: pacienteInput2Encontrado,\n\n      matchPaciente,\n      palavrasIguaisPaciente: maiorQtdPalavrasIguais,\n\n      matchExames,\n\n      quantidadeExamesInput1: examesInput1.length,\n      quantidadeExamesInput2: examesInput2.length,\n\n      examesInput1,\n      examesInput2,\n\n      examesFaltandoNoInput2: examesFaltando,\n      examesExtrasNoInput2: examesExtras,\n\n      erro: !matchExames,\n\n      mensagem: matchExames\n        ? \"Paciente e exames estão exatamente iguais\"\n        : matchPaciente\n          ? \"Paciente encontrado, mas há divergência entre os exames\"\n          : \"Paciente não encontrado com pelo menos 3 palavras iguais\"\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2832,448],"id":"42c2768a-a0de-46d1-a5e7-107adcde63ab","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3280,448],"id":"87f37c0b-f534-4600-a5dc-f7116e7fe5fd","name":"Loop Over Items"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive3').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3568,496],"id":"2e24845a-cf23-43f0-b22e-ef7b224dd13a","name":"move at&tic","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').first().json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3552,288],"id":"ac4f63d0-1e0c-4fef-8a6e-1c3b72706c18","name":"mover envio","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $now.setZone('America/Recife').toFormat('dd/LL/yyyy') }}","NOME PACIENTE ENVIO":"={{ $json.PACIENTE_INPUT1 }}","NOME PACIENTE AT&TIC":"={{ $json.PACIENTE_INPUT2 }}","EXAMES ENVIO":"={{ $json.examesInput1 }}","EXAMES AT&TIC":"={{ $json.examesInput2 }}","EXAMES FALTANDO NO AT&TIC":"={{ $json.examesFaltandoNoInput2 }}","EXAMES A MAIS NO AT&TIC":"={{ $json.examesExtrasNoInput2 }}","POSTO":"={{ $json.posto }}","ERRO NOME":"={{ $json.matchPaciente }}","ERRO EXAMES":"={{ $json.matchExames }}","MENSAGEM ENVIADA":"NÃO"},"matchingColumns":[],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3072,448],"id":"b9be02aa-a6f2-46e8-b205-07ccdf4a85cc","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1776,960],"id":"099bffe2-f0e4-4521-90a3-7086312bc734","name":"Loop Over Items3"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2432,976],"id":"350e1cd0-05bf-4787-b094-8365ff6b57b8"},{"parameters":{"documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"CORRIGIR","lookupValue":"CADASTRO PRECISA DE ATENÇÃO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1344,976],"id":"7e355ab1-357a-43ce-8aba-dea26846fada","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=5581986587496","messageText":"=O paciente abaixo precisa de atenção porque existe divergência no cadastro:\n\n{{ $json['NOME PACIENTE ENVIO'] }}\n\nObservar:\n{{ $json.CADASTRO }}-{{ $json.CORRIGIR }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2016,976],"id":"f8719592-ae09-4dcb-b66e-a8a7f78e7be3","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk","mode":"list","cachedResultName":"Conferência Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1baspFcesUt1Ny050D34KVTvnJIbP2nZoPtCeXwfKrmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('If1').item.json.row_number }}","MENSAGEM ENVIADA":"MENSAGEM ENVIADA"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE ENVIO","displayName":"NOME PACIENTE ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOME PACIENTE AT&TIC","displayName":"NOME PACIENTE AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES ENVIO","displayName":"EXAMES ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES AT&TIC","displayName":"EXAMES AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES FALTANDO NO AT&TIC","displayName":"EXAMES FALTANDO NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EXAMES A MAIS NO AT&TIC","displayName":"EXAMES A MAIS NO AT&TIC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO NOME","displayName":"ERRO NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ERRO EXAMES","displayName":"ERRO EXAMES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CADASTRO","displayName":"CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CORRIGIR","displayName":"CORRIGIR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MENSAGEM ENVIADA","displayName":"MENSAGEM ENVIADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2224,976],"id":"4d5ade58-cef9-4305-9001-3d32d4597801","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1b5d49e8-fc16-43df-a219-13192929481e","leftValue":"={{ $json['MENSAGEM ENVIADA'] }}","rightValue":"NÃO","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1520,976],"id":"3d747c70-6bbf-4ea1-8b91-08b53975ff17","name":"If1"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"={{ $json.CADASTRO }}-{{ $json.CORRIGIR }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2704,928],"id":"23f73e96-5564-4b88-8ec4-f48434ed6363","name":"Enviar texto","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"ENVIO","type":"main","index":0},{"node":"AT&TIC","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract text","type":"main","index":0}]]},"Analisar Gemini1":{"main":[[{"node":"converter resposta para json1","type":"main","index":0}],[]]},"Extract text":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Analisar Gemini1","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Extract text1","type":"main","index":0}]]},"Extract text1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Analisar Gemini":{"main":[[{"node":"converter resposta para json","type":"main","index":0}],[]]},"Code":{"main":[[{"node":"Analisar Gemini","type":"main","index":0}]]},"converter resposta para json1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"converter resposta para json":{"main":[[{"node":"Merge","type":"main","index":1}]]},"AT&TIC":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"ENVIO":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"mover envio","type":"main","index":0},{"node":"move at&tic","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Enviar texto3","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[]]},"Update row in sheet":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"authors":"Mickeliny ckely_sena@hotmail.com","name":"Version 89972901","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}