workflows/evolutionteste-49GOknwP41cmxjwOC-xyG.json
{"updatedAt":"2026-05-06T03:12:07.787Z","createdAt":"2026-02-09T00:15:53.769Z","id":"49GOknwP41cmxjwOC-xyG","name":"evolutionTeste","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ressarcimento","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"2ea06af4-3c84-4ef6-8f70-021097ae34fc","name":"Webhook","webhookId":"323d8f11-57f8-46d0-9399-8441285c2134"},{"parameters":{"resource":"messages-api","instanceName":"={{ $json.instancia }}","remoteJid":"={{ $json.Telefone }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[432,0],"id":"f9229a0d-68d1-4366-84e9-d9c01961ef13","name":"Enviar texto","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"052c262a-81b1-4c14-bd61-a9ec26cf9146","name":"nome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"b7450549-e35a-417e-ac26-9874da5afc74","name":"Telefone","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"4a79fe9c-a271-4f0c-98f9-0e90d0200d47","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"1e5155a2-a86b-4c63-a147-e37672d3738d","name":"instancia","value":"={{ $json.body.instance }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,0],"id":"879a7f26-64c5-440d-a968-bd08e0a327fd","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"052c262a-81b1-4c14-bd61-a9ec26cf9146","name":"nome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"b7450549-e35a-417e-ac26-9874da5afc74","name":"Telefone","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"4a79fe9c-a271-4f0c-98f9-0e90d0200d47","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"1e5155a2-a86b-4c63-a147-e37672d3738d","name":"instancia","value":"={{ $json.body.instance }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-208],"id":"fb71492b-f63a-4c2b-ba7a-2ebf0d9c5a9a","name":"LABOVIDA TESTE EVO","disabled":true},{"parameters":{"httpMethod":"POST","path":"labovida","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-208],"id":"49861fa4-f3ec-4e24-aa19-9c1cf75d2e61","name":"Webhook1","webhookId":"323d8f11-57f8-46d0-9399-8441285c2134","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"LABOVIDA TESTE EVO":{"main":[[]]},"Webhook1":{"main":[[{"node":"LABOVIDA TESTE EVO","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"LABOVIDA TESTE EVO":[{"json":{"nome":"Ckely","Telefone":"120363406086322772@g.us","mensagem":"Labovida teste","instancia":"labovida"},"pairedItem":{"item":0}}],"Webhook1":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"axios/1.10.0","content-length":"1149","accept-encoding":"gzip, compress, deflate, br","host":"n8n:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"labovida","data":{"key":{"remoteJid":"120363406086322772@g.us","fromMe":false,"id":"3A14CB59C25E87330E45","participant":"142468964212855@lid","participantPn":"558185383331@s.whatsapp.net"},"pushName":"Ckely","status":"DELIVERY_ACK","message":{"conversation":"Labovida teste","senderKeyDistributionMessage":{"groupId":"120363406086322772@g.us","axolotlSenderKeyDistributionMessage":"MwjD5MDzAhAGGiBSfErTkC8mpae2fB+Ez92yCxQfPk3KtbBJbtQgOpRqRyIhBW4njkh4dQ/PIQBFq23M2o3bF8gZA8UkaxGfH+looxhb"},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"hDKzTqFifv3cFA==","senderTimestamp":"1762818135","recipientKeyHash":"bzFTOex+6S8RtA==","recipientTimestamp":"1770595848"},"deviceListMetadataVersion":2,"messageSecret":"uqwr7hQnoGAm8T5ACZJ/WA1z6cneIUerXy/UEFAVhNo="}},"messageType":"conversation","messageTimestamp":1770599208,"instanceId":"b460eed8-fac4-4ac2-9dce-193d4fd9b97a","source":"ios"},"destination":"http://n8n:5678/webhook-test/labovida","date_time":"2026-02-08T22:06:49.240Z","sender":"558195383331@s.whatsapp.net","server_url":"http://localhost:8080","apikey":"031B4B41EEFF-4109-A5F2-163D986DA568"},"webhookUrl":"http://localhost:5678/webhook-test/labovida","executionMode":"test"}}]},"versionId":"edf28888-98e2-4fc1-9342-58add57e3d48","activeVersionId":"edf28888-98e2-4fc1-9342-58add57e3d48","triggerCount":1,"shared":[{"updatedAt":"2026-02-09T00:15:53.769Z","createdAt":"2026-02-09T00:15:53.769Z","role":"workflow:owner","workflowId":"49GOknwP41cmxjwOC-xyG","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":{"updatedAt":"2026-02-13T14:54:17.357Z","createdAt":"2026-02-12T14:24:19.452Z","versionId":"edf28888-98e2-4fc1-9342-58add57e3d48","workflowId":"49GOknwP41cmxjwOC-xyG","nodes":[{"parameters":{"httpMethod":"POST","path":"ressarcimento","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"2ea06af4-3c84-4ef6-8f70-021097ae34fc","name":"Webhook","webhookId":"323d8f11-57f8-46d0-9399-8441285c2134"},{"parameters":{"resource":"messages-api","instanceName":"={{ $json.instancia }}","remoteJid":"={{ $json.Telefone }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[432,0],"id":"f9229a0d-68d1-4366-84e9-d9c01961ef13","name":"Enviar texto","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"052c262a-81b1-4c14-bd61-a9ec26cf9146","name":"nome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"b7450549-e35a-417e-ac26-9874da5afc74","name":"Telefone","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"4a79fe9c-a271-4f0c-98f9-0e90d0200d47","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"1e5155a2-a86b-4c63-a147-e37672d3738d","name":"instancia","value":"={{ $json.body.instance }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,0],"id":"879a7f26-64c5-440d-a968-bd08e0a327fd","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"052c262a-81b1-4c14-bd61-a9ec26cf9146","name":"nome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"b7450549-e35a-417e-ac26-9874da5afc74","name":"Telefone","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"4a79fe9c-a271-4f0c-98f9-0e90d0200d47","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"1e5155a2-a86b-4c63-a147-e37672d3738d","name":"instancia","value":"={{ $json.body.instance }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,-208],"id":"fb71492b-f63a-4c2b-ba7a-2ebf0d9c5a9a","name":"LABOVIDA TESTE EVO","disabled":true},{"parameters":{"httpMethod":"POST","path":"labovida","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-208],"id":"49861fa4-f3ec-4e24-aa19-9c1cf75d2e61","name":"Webhook1","webhookId":"323d8f11-57f8-46d0-9399-8441285c2134","disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"LABOVIDA TESTE EVO":{"main":[[]]},"Webhook1":{"main":[[{"node":"LABOVIDA TESTE EVO","type":"main","index":0}]]}},"authors":"Mickeliny ckely_sena@hotmail.com","name":"Version edf28888","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}