workflows/financeiro_mot-Iv4Nln1NuRYvCZ2A.json
{"updatedAt":"2026-07-01T17:27:51.101Z","createdAt":"2026-05-08T04:33:18.834Z","id":"Iv4Nln1NuRYvCZ2A","name":"financeiro_mot","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c6ceab8c-0d6d-4726-bdd2-3e6f5f185e8e","leftValue":"={{ String($json.DATA).split(' ')[0] }}","rightValue":"={{ $('Edit Fields').first().json.DATA }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-720,112],"id":"891e025a-c853-4535-b0cf-8c436939ba42","name":"If"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-208,304],"id":"fd102e47-24f6-4f4b-9e28-9f7d121ed1e8","name":"Merge"},{"parameters":{"documentId":{"__rl":true,"value":"150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U","mode":"list","cachedResultName":"APP MOTOQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-928,112],"id":"4a72fbb4-90b9-4647-b79a-49e44d0f6020","name":"app mot","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const mapaMotoqueiros = {\n  1: \"KENNEDY\",\n  2: \"FRANCISCO\",\n  3: \"JEOVA\",\n  4: \"RICARDO\",\n  5: \"SANDRO\",\n  6: \"OUTROS\",\n  7: \"CKELY\",\n  8: \"PRISCILA\"\n};\n\nreturn $input.all().map(item => {\n  // 🔹 extrai apenas a data (remove hora)\n  const dataOriginal = item.json.DATA || \"\";\n  const data = String(dataOriginal).split(' ')[0];\n\n  // 🔹 traduz motoqueiro\n  const codigo = item.json.MOTOQUEIROS;\n  const nomeMotoqueiro = mapaMotoqueiros[codigo] || \"NÃO IDENTIFICADO\";\n\n  return {\n    json: {\n      ...item.json,\n      DATA: data, // substitui pela data sem hora\n      MOTOQUEIROS: nomeMotoqueiro\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,96],"id":"911b09d4-2348-4102-970c-c7cbc206c20c","name":"Code in JavaScript"},{"parameters":{"jsCode":"const itens = $input.all();\n\nconst normalizar = (txt) =>\n  String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n// Separa a tabela de conversão APP -> PLANILHA\nconst relMot = itens.filter(item =>\n  item.json.APP !== undefined &&\n  item.json.PLANILHA !== undefined\n);\n\n// Separa os dados principais\nconst dados = itens.filter(item =>\n  !(item.json.APP !== undefined && item.json.PLANILHA !== undefined)\n);\n\n// Monta mapa de substituição\nconst mapa = {};\n\nfor (const item of relMot) {\n  const app = normalizar(item.json.APP);\n  const planilha = item.json.PLANILHA;\n\n  if (app && planilha) {\n    mapa[app] = planilha;\n  }\n}\n\n// Troca os NOMES DAS CHAVES dos dados principais\nreturn dados.map(item => {\n  const novoJson = {};\n\n  for (const [chave, valor] of Object.entries(item.json)) {\n    const chaveNormalizada = normalizar(chave);\n\n    const novaChave = mapa[chaveNormalizada] || chave;\n\n    novoJson[novaChave] = valor;\n  }\n\n  return {\n    json: novoJson\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"81f04797-56b8-43dc-bb1f-874d0779d236","name":"Code in JavaScript1"},{"parameters":{"jsCode":"const input1 = $input.all(0); // dados principais já convertidos\nconst input2 = $input.all(1); // mapeamento APP -> PLANILHA\n\nconst normalizar = (txt) =>\n  String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n\nconst getData = (data) => String(data || \"\").split(\" \")[0];\nconst getMotoqueiro = (m) => String(m || \"\").trim();\n\nconst toNumber = (v) => {\n  if (v === \"\" || v === null || v === undefined) return \"\";\n  const n = Number(String(v).replace(\",\", \".\"));\n  return isNaN(n) ? \"\" : n;\n};\n\n// monta chaves a partir do input2\nconst chaves = input2\n  .map(item => item.json.PLANILHA)\n  .filter(Boolean);\n\n// soma por DATA + MOTOQUEIRO\nconst somaPorGrupo = {};\n\nfor (const item of input1) {\n  const json = item.json;\n\n  const data = getData(json.DATA);\n  const moto = getMotoqueiro(json.MOTOQUEIROS);\n  const chaveGrupo = `${data}|${moto}`;\n\n  const valorDinheiro = toNumber(json[\"(-)ENTREGUE DINHEIRO DO POSTO\"]);\n  const valor = valorDinheiro === \"\" ? 0 : Math.abs(valorDinheiro);\n\n  somaPorGrupo[chaveGrupo] = (somaPorGrupo[chaveGrupo] || 0) + valor;\n}\n\nconst resultado = [];\n\nfor (const item of input1) {\n  const json = item.json;\n\n  const data = getData(json.DATA);\n  const moto = getMotoqueiro(json.MOTOQUEIROS);\n\n  const base = {\n    row_number: json.row_number,\n    DATA: data,\n    ID: json.ID,\n    MOTOQUEIROS: moto,\n    AREA: json.AREA,\n    POSTO: json.POSTO,\n    AREA_POSTO_ESCOLHIDO: json.AREA_POSTO_ESCOLHIDO\n  };\n\n  for (const chave of chaves) {\n    let valor = toNumber(json[chave]);\n\n    if (valor !== \"\") {\n      if (normalizar(chave).includes(\"(-)\")) {\n        valor = -Math.abs(valor);\n      } else {\n        valor = Math.abs(valor);\n      }\n    }\n\n    resultado.push({\n      json: {\n        ...base,\n        item: chave,\n        valor\n      }\n    });\n  }\n\n  const chaveGrupo = `${data}|${moto}`;\n  const soma = somaPorGrupo[chaveGrupo] || 0;\n\n  resultado.push({\n    json: {\n      ...base,\n      item: \"(+)ENTREGUE INFORMATIVO\",\n      valor: soma\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,288],"id":"7c2dc0e8-4c2c-4815-8a7c-68aa9c1e464f","name":"Code in JavaScript2"},{"parameters":{"documentId":{"__rl":true,"value":"1yrT9_lai0Nbgym41h0OJBLF1GUh64dzWbCBGzuI4dXk","mode":"list","cachedResultName":"JUN/26-DEZ/26 RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yrT9_lai0Nbgym41h0OJBLF1GUh64dzWbCBGzuI4dXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yrT9_lai0Nbgym41h0OJBLF1GUh64dzWbCBGzuI4dXk/edit#gid=406301794"},"filtersUI":{"values":[{"lookupColumn":"DATA","lookupValue":"={{ $json.DATA }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-864,752],"id":"a0824160-a3e6-4450-9b59-2b485c22d5f7","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const itens = $input.all();\n\nreturn itens.filter(item => \n  item.json.item === \"(-)ENTREGUE DINHEIRO DO POSTO\" ||\n  item.json.item === \"(-)COMBUSTÍVEL DE\" ||\n  item.json.item === \"(-)ALUGUEL DE MOTO DE\" ||\n  item.json.item === \"(-)PEDÁGIO DE\"\n);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,160],"id":"ebd2aaba-28c3-43a1-a179-71e5230de4e6","name":"Code in JavaScript3"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[640,640],"id":"25c0dbcf-7132-4550-b4a6-5939f5745ca4","name":"Merge1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1497257426,"mode":"list","cachedResultName":"ENTREGUE DINHEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=1497257426"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.DATA }}","DESCRIÇÃO":"={{ $json.item }}","VALOR":"={{ $json.valor }}","POSTO":"={{ $json.POSTO }}","MOTOQUEIRO":"={{ $json.MOTOQUEIROS }}","ÁREA":"={{ $json.AREA }}","match":"={{ $json.DATA }}-{{ $json.MOTOQUEIROS }}-{{ $json.POSTO }}-{{ $json.item }}"},"matchingColumns":["DATA"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MOTOQUEIRO","displayName":"MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DESCRIÇÃO","displayName":"DESCRIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor real","displayName":"valor real","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REPASSE DINHEIRO MOTOQUEIRO DATA:","displayName":"REPASSE DINHEIRO MOTOQUEIRO DATA:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[624,176],"id":"656c4877-908c-4342-bdbd-9e524c6ef031","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}},"disabled":true},{"parameters":{"jsCode":"const todos = $input.all();\n\nconst input1 = todos.filter(i =>\n  i.json.item !== undefined\n);\n\nconst input2 = todos.filter(i =>\n  i.json.CATEGORIA !== undefined\n);\n\nconst categoriasSemPosto = [\n  \"(+)ENTREGUE INFORMATIVO\",\n  \"(-)ALUGUEL DE MOTO DE\",\n  \"(-)COMBUSTÍVEL DE\",\n  \"(-)PEDÁGIO DE\"\n];\n\nconst normalizar = (txt) =>\n  String(txt ?? \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n\nconst dataSemHora = (data) =>\n  String(data ?? \"\").split(\" \")[0].trim();\n\nconst montarChaveInput1 = (json) => {\n  const item = normalizar(json.item);\n\n  if (categoriasSemPosto.map(normalizar).includes(item)) {\n    return [\n      dataSemHora(json.DATA),\n      normalizar(json.MOTOQUEIROS),\n      item\n    ].join(\"|\");\n  }\n\n  return [\n    dataSemHora(json.DATA),\n    normalizar(json.MOTOQUEIROS),\n    normalizar(json.POSTO),\n    item\n  ].join(\"|\");\n};\n\nconst montarChaveInput2 = (json) => {\n  const categoria = normalizar(json.CATEGORIA);\n\n  if (categoriasSemPosto.map(normalizar).includes(categoria)) {\n    return [\n      dataSemHora(json.DATA),\n      normalizar(json[\"MOTOQ.\"]),\n      categoria\n    ].join(\"|\");\n  }\n\n  return [\n    dataSemHora(json.DATA),\n    normalizar(json[\"MOTOQ.\"]),\n    normalizar(json.POSTO),\n    categoria\n  ].join(\"|\");\n};\n\nconst mapaInput2 = {};\n\nfor (const item of input2) {\n  const chave = montarChaveInput2(item.json);\n\n  if (!mapaInput2[chave]) {\n    mapaInput2[chave] = item.json.row_number;\n  }\n}\n\nconst resultado = [];\n\nfor (const item of input1) {\n  const chave = montarChaveInput1(item.json);\n  const rowNumberInput2 = mapaInput2[chave];\n\n  if (rowNumberInput2 !== undefined) {\n    resultado.push({\n      json: {\n        ...item.json,\n        chave_match: chave,\n        row_number_input2: rowNumberInput2\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,848],"id":"a306b957-e292-4b8e-97f8-e3003a10b144","name":"Code in JavaScript4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ccfb04ad-30e2-4ec2-a87e-6cd4788b88db","leftValue":"={{\n  (\n    $json.VALOR === null ||\n    $json.VALOR === undefined ||\n    String($json.VALOR).trim() === \"\" ||\n    Number(String($json.VALOR).replace(\",\", \".\")) === 0\n  )\n  &&\n  [\n    \"(+)MOVIMENTO DIA DO POSTOS\",\n    \"(-)ENTREGUE DINHEIRO DO POSTO\",\n    \"(-)ENTREGUE PIX DO POSTO\",\n    \"(-)ENTREGUE MAQUINETA CARTÃO DO POSTO\",\n    \"(+)RECEB. ATRASADO DO POSTO\",\n    \"(+)CRÉDITO DO POSTO\",\n    \"(-)DESCONTO DO POSTO\",\n    \"(-)COMBUSTÍVEL DE\",\n    \"(-)COLETORA DO POSTO\",\n    \"(-)ALUGUEL DE MOTO DE\",\n    \"(-)PEDÁGIO DE\",\n    \"(+)ENTREGUE INFORMATIVO\",\n    \"(+)OUTRAS ENTRADAS DO POSTO\"\n  ].includes($json.CATEGORIA)\n}}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[256,768],"id":"251f086e-f5f0-45cc-b793-0346f639e4bd","name":"If1"},{"parameters":{"jsCode":"const itens = $input.all();\n\nreturn itens.filter(item => {\n  let valor = item.json.valor;\n\n  // trata null/undefined\n  if (valor === null || valor === undefined) return false;\n\n  // converte para string\n  valor = String(valor).trim();\n\n  // vazio\n  if (valor === \"\") return false;\n\n  // normaliza número (troca vírgula por ponto)\n  const numero = Number(valor.replace(\",\", \".\"));\n\n  // remove zero (0, 0.00, 0,00 etc.)\n  if (!isNaN(numero) && numero === 0) return false;\n\n  return true;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,432],"id":"dbd10e1a-a4ad-4952-a605-264f1563f568","name":"Code in JavaScript5"},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1810329278,"mode":"list","cachedResultName":"mapear","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=1810329278"},"filtersUI":{"values":[{"lookupColumn":"ok","lookupValue":"ok"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-864,320],"id":"601aad0a-0171-49d8-9972-6780502800bf","name":"match","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const todos = $input.all();\n\n// separa pelo formato dos dados\nconst input1 = todos.filter(i => i.json.item !== undefined);\nconst input2 = todos.filter(i => i.json.CATEGORIA !== undefined);\n\nconst normalizar = (txt) =>\n  String(txt ?? \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n// categorias que NÃO usam POSTO no match\nconst categoriasSemPosto = [\n  \"(+)ENTREGUE INFORMATIVO\",\n  \"(-)ALUGUEL DE MOTO DE\",\n  \"(-)COMBUSTÍVEL DE\",\n  \"(-)PEDÁGIO DE\"\n].map(normalizar);\n\nconst dataSemHora = (data) =>\n  String(data ?? \"\").split(\" \")[0].trim();\n\nconst montarChaveInput1 = (json) => {\n  const item = normalizar(json.item);\n\n  if (categoriasSemPosto.includes(item)) {\n    return [\n      dataSemHora(json.DATA),\n      normalizar(json.MOTOQUEIROS),\n      item\n    ].join(\"|\");\n  }\n\n  return [\n    dataSemHora(json.DATA),\n    normalizar(json.MOTOQUEIROS),\n    normalizar(json.POSTO),\n    item\n  ].join(\"|\");\n};\n\nconst montarChaveInput2 = (json) => {\n  const categoria = normalizar(json.CATEGORIA);\n\n  if (categoriasSemPosto.includes(categoria)) {\n    return [\n      dataSemHora(json.DATA),\n      normalizar(json[\"MOTOQ.\"]),\n      categoria\n    ].join(\"|\");\n  }\n\n  return [\n    dataSemHora(json.DATA),\n    normalizar(json[\"MOTOQ.\"]),\n    normalizar(json.POSTO),\n    categoria\n  ].join(\"|\");\n};\n\nconst mapaInput2 = new Set();\n\nfor (const item of input2) {\n  mapaInput2.add(montarChaveInput2(item.json));\n}\n\n// retorna SOMENTE input1 que NÃO deram match\nreturn input1\n  .filter(item => {\n    const chave = montarChaveInput1(item.json);\n    return !mapaInput2.has(chave);\n  })\n  .map(item => ({\n    json: {\n      ...item.json,\n      chave_nao_encontrada: montarChaveInput1(item.json)\n    }\n  }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,656],"id":"958a1fdf-314c-4f40-a80c-975e76274f81","name":"Code in JavaScript6"},{"parameters":{"jsCode":"const itens = $input.all();\n\nconst mapa = new Map();\n\nitens.forEach(item => {\n  const chave = item.json.chave_match;\n\n  // guarda apenas o primeiro item de cada chave\n  if (chave && !mapa.has(chave)) {\n    mapa.set(chave, item.json);\n  }\n});\n\nreturn Array.from(mapa.values()).map(json => ({\n  json\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,400],"id":"b7543626-c386-48e0-8d3b-969a0263bc1a","name":"Code in JavaScript7"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1779498822,"mode":"list","cachedResultName":"ITENS NÃO MAPEADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=1779498822"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}","LINHA":"={{ $json.row_number }}","DATA":"={{ $json.DATA }}","MOTOQUEIROS":"={{ $json.MOTOQUEIROS }}","AREA":"={{ $json.AREA }}","POSTO":"={{ $json.POSTO }}","CATEGORIA":"={{ $json.item }}","VALOR":"={{ $json.valor }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LINHA","displayName":"LINHA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MOTOQUEIROS","displayName":"MOTOQUEIROS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AREA","displayName":"AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1216,656],"id":"3bca3e0d-de18-4533-9af1-96d51a097e0d","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"0c9125b8-fff3-4389-9f57-b4260c65d2e6","name":"DATA","value":"={{ $now.setZone('America/Recife').toFormat('dd/LL/yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,368],"id":"206a58a4-a818-440e-9307-cd222173f088","name":"Edit Fields"},{"parameters":{"jsCode":"const itens = $input.all();\n\nconst mapa = new Map();\n\nitens.forEach(item => {\n  const chave = item.json.chave_match;\n\n  // guarda apenas o primeiro item de cada chave\n  if (chave && !mapa.has(chave)) {\n    mapa.set(chave, item.json);\n  }\n});\n\nreturn Array.from(mapa.values()).map(json => ({\n  json\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,1040],"id":"0537e52b-be1d-45ed-9dd4-248b2394a2cb","name":"Code in JavaScript9"},{"parameters":{"assignments":{"assignments":[{"id":"0c9125b8-fff3-4389-9f57-b4260c65d2e6","name":"DATA","value":"={{ $now.setZone('America/Recife').toFormat('dd/LL/yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,576],"id":"fd1a39da-0810-4257-a939-bbd9327e07f3","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 8-17 * * 1-6"}]}},"id":"a012fddc-709c-429e-b03c-ded1cca25e24","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1456,368]},{"parameters":{"jsCode":"const todos = $input.all();\n\nconst input1 = todos.filter(i => i.json.item !== undefined);\nconst input2 = todos.filter(i => i.json.CATEGORIA !== undefined);\n\nreturn [{\n  json: {\n    total_input1: input1.length,\n    total_input2: input2.length,\n\n    exemplo_input1: {\n      DATA: input1[0]?.json.DATA,\n      MOTOQUEIROS: input1[0]?.json.MOTOQUEIROS,\n      POSTO: input1[0]?.json.POSTO,\n      item: input1[0]?.json.item,\n    },\n\n    exemplo_input2: {\n      DATA: input2[0]?.json.DATA,\n      MOTOQ: input2[0]?.json[\"MOTOQ.\"],\n      POSTO: input2[0]?.json.POSTO,\n      CATEGORIA: input2[0]?.json.CATEGORIA,\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,992],"id":"a8daf4ca-75bc-44f4-9afe-b2ad5652386d","name":"Code in JavaScript8"},{"parameters":{"jsCode":"const todos = $input.all();\n\nconst input1 = todos.filter(i => i.json.item !== undefined);\nconst input2 = todos.filter(i => i.json.CATEGORIA !== undefined);\n\nconst categoriasSemPosto = [\n  \"(+)ENTREGUE INFORMATIVO\",\n  \"(-)ALUGUEL DE MOTO DE\",\n  \"(-)COMBUSTÍVEL DE\",\n  \"(-)PEDÁGIO DE\"\n];\n\nconst normalizar = (txt) =>\n  String(txt ?? \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n\nconst dataSemHora = (data) =>\n  String(data ?? \"\").split(\" \")[0].trim();\n\nconst ehCategoriaSemPosto = (categoria) =>\n  categoriasSemPosto.map(normalizar).includes(normalizar(categoria));\n\nconst montarChaveInput1 = (j) => {\n  if (ehCategoriaSemPosto(j.item)) {\n    return [\n      dataSemHora(j.DATA),\n      normalizar(j.MOTOQUEIROS),\n      normalizar(j.item),\n    ].join(\"|\");\n  }\n\n  return [\n    dataSemHora(j.DATA),\n    normalizar(j.MOTOQUEIROS),\n    normalizar(j.POSTO),\n    normalizar(j.item),\n  ].join(\"|\");\n};\n\nconst montarChaveInput2 = (j) => {\n  if (ehCategoriaSemPosto(j.CATEGORIA)) {\n    return [\n      dataSemHora(j.DATA),\n      normalizar(j[\"MOTOQ.\"]),\n      normalizar(j.CATEGORIA),\n    ].join(\"|\");\n  }\n\n  return [\n    dataSemHora(j.DATA),\n    normalizar(j[\"MOTOQ.\"]),\n    normalizar(j.POSTO),\n    normalizar(j.CATEGORIA),\n  ].join(\"|\");\n};\n\nconst mapaInput2 = new Map();\n\nfor (const item of input2) {\n  const chave = montarChaveInput2(item.json);\n\n  if (!mapaInput2.has(chave)) {\n    mapaInput2.set(chave, item.json.row_number);\n  }\n}\n\nconst resultado = [];\n\nfor (const item of input1) {\n  const chave = montarChaveInput1(item.json);\n  const rowNumberInput2 = mapaInput2.get(chave);\n\n  if (rowNumberInput2 !== undefined) {\n    resultado.push({\n      json: {\n        ...item.json,\n        chave_match: chave,\n        row_number_input2: rowNumberInput2\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,432],"id":"b7978c9f-7390-43d9-88c4-a44bac7e559e","name":"Code in JavaScript10"},{"parameters":{"jsCode":"const mapaCategorias = {\n  \"ALUGUEL MOTO\": \"(-)ALUGUEL DE MOTO DE\",\n  \"COMBUSTÍVEL\": \"(-)COMBUSTÍVEL DE\",\n  \"CRÉDITO POSTO\": \"(+)CRÉDITO DO POSTO\",\n  \"DESCONTO CRÉDITO POSTO\": \"(-)DESCONTO DO POSTO\",\n  \"MOVIMENTO ENVIO\": \"(+)MOVIMENTO DIA DO POSTOS\",\n  \"OUTRAS ENTRADAS\": \"(+)OUTRAS ENTRADAS DO POSTO\",\n  \"PEDÁGIO\": \"(-)PEDÁGIO DE\",\n  \"PGTO CARTÃO\": \"(-)ENTREGUE MAQUINETA CARTÃO DO POSTO\",\n  \"PGTO COLETORA\": \"(-)COLETORA DO POSTO\",\n  \"PGTO DINHEIRO\": \"(-)ENTREGUE DINHEIRO DO POSTO\",\n  \"PGTO PIX\": \"(-)ENTREGUE PIX DO POSTO\",\n  \"RECEBIMENTO ATRASADO\": \"(+)RECEB. ATRASADO DO POSTO\"\n};\n\nfunction normalizar(txt) {\n  return String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .trim();\n}\n\nreturn $input.all().map(item => {\n  const app = item.json.APP || item.json.app || item.json.categoria || item.json.item || \"\";\n  const chave = normalizar(app);\n\n  const mapaNormalizado = Object.fromEntries(\n    Object.entries(mapaCategorias).map(([k, v]) => [normalizar(k), v])\n  );\n\n  return {\n    json: {\n      ...item.json,\n      categoria_app: app,\n      categoria_planilha: mapaNormalizado[chave] || \"\"\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,1360],"id":"67213531-742c-49b6-b683-742d919e67ee","name":"Code in JavaScript11"},{"parameters":{"jsCode":"const itens = $input.all();\n\nconst normalizar = (txt) =>\n  String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n// Separa a tabela de conversão APP -> PLANILHA\nconst relMot = itens.filter(item =>\n  item.json.APP !== undefined &&\n  item.json.PLANILHA !== undefined\n);\n\n// Separa os dados principais\nconst dados = itens.filter(item =>\n  !(item.json.APP !== undefined && item.json.PLANILHA !== undefined)\n);\n\n// Monta mapa de substituição\nconst mapa = {};\n\nfor (const item of relMot) {\n  const app = normalizar(item.json.APP);\n  const planilha = item.json.PLANILHA;\n\n  if (app && planilha) {\n    mapa[app] = planilha;\n  }\n}\n\n// Troca os NOMES DAS CHAVES dos dados principais\nreturn dados.map(item => {\n  const novoJson = {};\n\n  for (const [chave, valor] of Object.entries(item.json)) {\n    const chaveNormalizada = normalizar(chave);\n\n    const novaChave = mapa[chaveNormalizada] || chave;\n\n    novoJson[novaChave] = valor;\n  }\n\n  return {\n    json: novoJson\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,304],"id":"79491580-1357-4fc0-9423-64c19cecd8dd","name":"Code in JavaScript12"},{"parameters":{"jsCode":"const itens = $input.all();\n\nconst getData = (data) => String(data || \"\").split(\" \")[0];\nconst getMotoqueiro = (m) => String(m || \"\").trim();\n\nconst chaves = [\n  \"(+)MOVIMENTO DIA DO POSTOS\",\n  \"(-)ENTREGUE DINHEIRO DO POSTO\",\n  \"(-)ENTREGUE PIX DO POSTO\",\n  \"(-)ENTREGUE MAQUINETA CARTÃO DO POSTO\",\n  \"(+)RECEB. ATRASADO DO POSTO\",\n  \"(+)CRÉDITO DO POSTO\",\n  \"(-)DESCONTO DO POSTO\",\n  \"(-)COMBUSTÍVEL DE\",\n  \"(-)COLETORA DO POSTO\",\n  \"(-)ALUGUEL DE MOTO DE\",\n  \"(-)PEDÁGIO DE\",\n  \"(+)OUTRAS ENTRADAS DO POSTO\"\n];\n\n// soma por DATA + MOTOQUEIRO\nconst somaPorGrupo = {};\n\nfor (const item of itens) {\n  const json = item.json;\n\n  const data = getData(json.DATA);\n  const moto = getMotoqueiro(json.MOTOQUEIROS);\n\n  const chaveGrupo = `${data}|${moto}`;\n  const valor = Number(json[\"(-)ENTREGUE DINHEIRO DO POSTO\"] || 0);\n\n  somaPorGrupo[chaveGrupo] = (somaPorGrupo[chaveGrupo] || 0) + valor;\n}\n\nconst resultado = [];\n\nfor (const item of itens) {\n  const json = item.json;\n\n  const data = getData(json.DATA);\n  const moto = getMotoqueiro(json.MOTOQUEIROS);\n\n  const base = {\n    row_number: json.row_number,\n    DATA: data,\n    ID: json.ID,\n    MOTOQUEIROS: moto,\n    AREA: json.AREA,\n    POSTO: json.POSTO,\n    AREA_POSTO_ESCOLHIDO: json.AREA_POSTO_ESCOLHIDO\n  };\n\n  for (const chave of chaves) {\n    let valor = json[chave] ?? \"\";\n\n    // 🔥 aplica regra de negativo\n    if (valor !== \"\" && !isNaN(valor)) {\n      valor = Number(valor);\n\n      if (chave.includes(\"(-)\")) {\n        valor = -Math.abs(valor);\n      } else {\n        valor = Math.abs(valor);\n      }\n    }\n\n    resultado.push({\n      json: {\n        ...base,\n        item: chave,\n        valor: valor\n      }\n    });\n  }\n\n  // (+)ENTREGUE INFORMATIVO (mantém positivo)\n  const chaveGrupo = `${data}|${moto}`;\n  const soma = somaPorGrupo[chaveGrupo] || 0;\n\n  resultado.push({\n    json: {\n      ...base,\n      item: \"(+)ENTREGUE INFORMATIVO\",\n      valor: soma\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,16],"id":"98221a5c-89c4-48a6-b1f3-cfa3eb14b56f","name":"Code in JavaScript13"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yrT9_lai0Nbgym41h0OJBLF1GUh64dzWbCBGzuI4dXk","mode":"list","cachedResultName":"JUN/26-DEZ/26 RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yrT9_lai0Nbgym41h0OJBLF1GUh64dzWbCBGzuI4dXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yrT9_lai0Nbgym41h0OJBLF1GUh64dzWbCBGzuI4dXk/edit#gid=406301794"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number_input2 }}","VALOR":"={{ $json.valor }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MOTOQ.","displayName":"MOTOQ.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORÁRIO","displayName":"HORÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"KM","displayName":"KM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO RECEBIMENTO","displayName":"DESCRIÇÃO DO RECEBIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"C/D","displayName":"C/D","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ","displayName":"SEQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VERIFICAR CAPA/MOV","displayName":"VERIFICAR CAPA/MOV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESP.","displayName":"RESP.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ASÁB","displayName":"ASÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ SÁB","displayName":"SEQ SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REGRAS DE PGTO","displayName":"REGRAS DE PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BLOQ","displayName":"BLOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FATUR.","displayName":"FATUR.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5% DO FAT","displayName":"5% DO FAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROG.","displayName":"PROG.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA CONF. PIX/CART","displayName":"DATA CONF. PIX/CART","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PGTO","displayName":"DATA PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"COMISSÃO","displayName":"COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESUMO","displayName":"RESUMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"INFO OK","displayName":"INFO OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1376,400],"id":"f3d01f41-d008-4ca0-99ca-ddefe31f9b70","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const itens = $input.all();\n\nconst mapa = new Map();\n\nitens.forEach(item => {\n  const chave = item.json.chave_input1; // ✅ corrigido\n\n  if (chave && !mapa.has(chave)) {\n    mapa.set(chave, item.json);\n  }\n});\n\nreturn Array.from(mapa.values()).map(json => ({\n  json\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,832],"id":"f1ecca10-d79d-48fa-acdd-b2c94de94d0b","name":"Code in JavaScript14"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U","mode":"list","cachedResultName":"APP MOTOQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"JÁ NA PLANILHA REL MOT":"SIM","row_number":"={{ $('Code in JavaScript13').first().json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOTOQUEIROS","displayName":"MOTOQUEIROS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AREA","displayName":"AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AREA_POSTO_ESCOLHIDO","displayName":"AREA_POSTO_ESCOLHIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REQUISIÇÃO","displayName":"REQUISIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO SECO","displayName":"TUBO SECO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO HEMOGRAMA","displayName":"TUBO HEMOGRAMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO GLICOSE","displayName":"TUBO GLICOSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO TPAE","displayName":"TUBO TPAE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SWAB","displayName":"SWAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UROCULTURA","displayName":"UROCULTURA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CITOLOGIA","displayName":"CITOLOGIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SUMÁRIO","displayName":"SUMÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FEZES","displayName":"FEZES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 5ML","displayName":"SERINGA 5ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 10ML","displayName":"SERINGA 10ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AGULHA A VÁCUO","displayName":"AGULHA A VÁCUO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TOTAL_PGTO_AREA","displayName":"TOTAL_PGTO_AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOVIMENTO ENVIO","displayName":"MOVIMENTO ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO DINHEIRO","displayName":"PGTO DINHEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO PIX","displayName":"PGTO PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO CARTÃO","displayName":"PGTO CARTÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIMENTO ATRASADO","displayName":"RECEBIMENTO ATRASADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CRÉDITO POSTO","displayName":"CRÉDITO POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCONTO CRÉDITO POSTO","displayName":"DESCONTO CRÉDITO POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REPETIÇÃO","displayName":"REPETIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"COMBUSTÍVEL","displayName":"COMBUSTÍVEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO COLETORA","displayName":"PGTO COLETORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ALUGUEL MOTO","displayName":"ALUGUEL MOTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PEDÁGIO","displayName":"PEDÁGIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DINHEIRO ENTREGUE MOTOQUEIRO","displayName":"DINHEIRO ENTREGUE MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OUTRAS ENTRADAS","displayName":"OUTRAS ENTRADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DÉBITO RESTANTE","displayName":"DÉBITO RESTANTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DÉBITO MOTOQUEIRO","displayName":"DÉBITO MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Pagamento","displayName":"Status Pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"KM ATUAL","displayName":"KM ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO","displayName":"FOTO_RELATORIO_ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO1","displayName":"FOTO_RELATORIO_ENVIO1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO2","displayName":"FOTO_RELATORIO_ENVIO2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_CADERNO","displayName":"FOTO_CADERNO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_INSUMOS_ENTREGUES","displayName":"FOTO_INSUMOS_ENTREGUES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTES_DIVERSOS","displayName":"FOTO_COMPROVANTES_DIVERSOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_DEPOSITO","displayName":"FOTO_DEPOSITO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMBUSTÍVEL","displayName":"FOTO_COMBUSTÍVEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTE PIX","displayName":"FOTO_COMPROVANTE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTE CARTÃO","displayName":"FOTO_COMPROVANTE CARTÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_POSTO_FECHADO","displayName":"FOTO_POSTO_FECHADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"KM RODADO","displayName":"KM RODADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÃO","displayName":"OBSERVAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME_VALIDADOR_DIGITADO","displayName":"NOME_VALIDADOR_DIGITADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SENHA_DIGITADA","displayName":"SENHA_DIGITADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALIDADO","displayName":"VALIDADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA_VALIDACAO","displayName":"DATA_VALIDACAO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"JÁ NA PLANILHA REL MOT","displayName":"JÁ NA PLANILHA REL MOT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1584,400],"id":"2f2d3f21-f2ba-4ce5-b831-5ad726337342","name":"app mot1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"app mot":{"main":[[{"node":"If","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Code in JavaScript13","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0},{"node":"Code in JavaScript6","type":"main","index":0},{"node":"Code in JavaScript8","type":"main","index":0},{"node":"Code in JavaScript10","type":"main","index":0}]]},"If1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code in JavaScript5":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"match":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code in JavaScript6":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Code in JavaScript7":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"app mot","type":"main","index":0},{"node":"match","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code in JavaScript12":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript13":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript10":{"main":[[{"node":"Code in JavaScript7","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"app mot1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Code in JavaScript9":[{"json":{"row_number":376,"DATA":"28/03/2026","ID":"POSTO_158-28-03-2026-32167a2d","MOTOQUEIROS":"SANDRO","AREA":6,"POSTO":158,"AREA_POSTO_ESCOLHIDO":86,"item":"(+)CRÉDITO DO POSTO","valor":0.6,"chave_match":"28/03/2026|SANDRO|158|(+)CREDITO DO POSTO","row_number_input2":43568}},{"json":{"row_number":379,"DATA":"28/03/2026","ID":"POSTO_197-28-03-2026-fff8563e","MOTOQUEIROS":"FRANCISCO","AREA":7,"POSTO":197,"AREA_POSTO_ESCOLHIDO":91,"item":"(+)RECEB. ATRASADO DO POSTO","valor":718.15,"chave_match":"28/03/2026|FRANCISCO|197|(+)RECEB. ATRASADO DO POSTO","row_number_input2":44247}}],"match":[{"json":{"row_number":2,"APP":"ALUGUEL MOTO ","PLANILHA":"(-)ALUGUEL DE MOTO DE","ok":"ok"},"pairedItem":{"item":0}},{"json":{"row_number":3,"APP":"COMBUSTÍVEL ","PLANILHA":"(-)COMBUSTÍVEL DE","ok":"ok"},"pairedItem":{"item":0}},{"json":{"row_number":4,"APP":"CRÉDITO POSTO ","PLANILHA":"(+)CRÉDITO DO POSTO","ok":"ok"},"pairedItem":{"item":0}},{"json":{"row_number":5,"APP":"DESCONTO CRÉDITO POSTO ","PLANILHA":"(-)DESCONTO DO POSTO","ok":"ok"},"pairedItem":{"item":0}},{"json":{"row_number":6,"APP":"MOVIMENTO ENVIO","PLANILHA":"(+)MOVIMENTO DIA DO POSTOS","ok":"ok"},"pairedItem":{"item":0}},{"json":{"row_number":7,"APP":"OUTRAS ENTRADAS ","PLANILHA":"(+)OUTRAS ENTRADAS DO POSTO","ok":"ok"},"pairedItem":{"item":0}},{"json":{"row_number":8,"APP":"PEDÁGIO ","PLANILHA":"(-)PEDÁGIO DE","ok":"ok"},"pairedItem":{"item":0}},{"json":{"row_number":9,"APP":"PGTO CARTÃO ","PLANILHA":"(-)ENTREGUE MAQUINETA CARTÃO DO POSTO","ok":"ok"},"pairedItem":{"item":0}},{"json":{"row_number":10,"APP":"PGTO COLETORA ","PLANILHA":"(-)COLETORA DO POSTO","ok":"ok"},"pairedItem":{"item":0}},{"json":{"row_number":11,"APP":"PGTO DINHEIRO","PLANILHA":"(-)ENTREGUE DINHEIRO DO POSTO","ok":"ok"},"pairedItem":{"item":0}},{"json":{"row_number":12,"APP":"PGTO PIX ","PLANILHA":"(-)ENTREGUE PIX DO POSTO","ok":"ok"},"pairedItem":{"item":0}},{"json":{"row_number":13,"APP":"RECEBIMENTO ATRASADO ","PLANILHA":"(+)RECEB. ATRASADO DO POSTO","ok":"ok"},"pairedItem":{"item":0}}]},"versionId":"036ed4f8-0121-4724-81c9-479d31095e22","activeVersionId":"036ed4f8-0121-4724-81c9-479d31095e22","triggerCount":1,"shared":[{"updatedAt":"2026-05-08T04:33:18.837Z","createdAt":"2026-05-08T04:33:18.837Z","role":"workflow:owner","workflowId":"Iv4Nln1NuRYvCZ2A","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-07-02T15:14:15.000Z","createdAt":"2026-07-01T17:27:51.103Z","versionId":"036ed4f8-0121-4724-81c9-479d31095e22","workflowId":"Iv4Nln1NuRYvCZ2A","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c6ceab8c-0d6d-4726-bdd2-3e6f5f185e8e","leftValue":"={{ String($json.DATA).split(' ')[0] }}","rightValue":"={{ $('Edit Fields').first().json.DATA }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-720,112],"id":"891e025a-c853-4535-b0cf-8c436939ba42","name":"If"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-208,304],"id":"fd102e47-24f6-4f4b-9e28-9f7d121ed1e8","name":"Merge"},{"parameters":{"documentId":{"__rl":true,"value":"150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U","mode":"list","cachedResultName":"APP MOTOQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-928,112],"id":"4a72fbb4-90b9-4647-b79a-49e44d0f6020","name":"app mot","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const mapaMotoqueiros = {\n  1: \"KENNEDY\",\n  2: \"FRANCISCO\",\n  3: \"JEOVA\",\n  4: \"RICARDO\",\n  5: \"SANDRO\",\n  6: \"OUTROS\",\n  7: \"CKELY\",\n  8: \"PRISCILA\"\n};\n\nreturn $input.all().map(item => {\n  // 🔹 extrai apenas a data (remove hora)\n  const dataOriginal = item.json.DATA || \"\";\n  const data = String(dataOriginal).split(' ')[0];\n\n  // 🔹 traduz motoqueiro\n  const codigo = item.json.MOTOQUEIROS;\n  const nomeMotoqueiro = mapaMotoqueiros[codigo] || \"NÃO IDENTIFICADO\";\n\n  return {\n    json: {\n      ...item.json,\n      DATA: data, // substitui pela data sem hora\n      MOTOQUEIROS: nomeMotoqueiro\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,96],"id":"911b09d4-2348-4102-970c-c7cbc206c20c","name":"Code in JavaScript"},{"parameters":{"jsCode":"const itens = $input.all();\n\nconst normalizar = (txt) =>\n  String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n// Separa a tabela de conversão APP -> PLANILHA\nconst relMot = itens.filter(item =>\n  item.json.APP !== undefined &&\n  item.json.PLANILHA !== undefined\n);\n\n// Separa os dados principais\nconst dados = itens.filter(item =>\n  !(item.json.APP !== undefined && item.json.PLANILHA !== undefined)\n);\n\n// Monta mapa de substituição\nconst mapa = {};\n\nfor (const item of relMot) {\n  const app = normalizar(item.json.APP);\n  const planilha = item.json.PLANILHA;\n\n  if (app && planilha) {\n    mapa[app] = planilha;\n  }\n}\n\n// Troca os NOMES DAS CHAVES dos dados principais\nreturn dados.map(item => {\n  const novoJson = {};\n\n  for (const [chave, valor] of Object.entries(item.json)) {\n    const chaveNormalizada = normalizar(chave);\n\n    const novaChave = mapa[chaveNormalizada] || chave;\n\n    novoJson[novaChave] = valor;\n  }\n\n  return {\n    json: novoJson\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"81f04797-56b8-43dc-bb1f-874d0779d236","name":"Code in JavaScript1"},{"parameters":{"jsCode":"const input1 = $input.all(0); // dados principais já convertidos\nconst input2 = $input.all(1); // mapeamento APP -> PLANILHA\n\nconst normalizar = (txt) =>\n  String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n\nconst getData = (data) => String(data || \"\").split(\" \")[0];\nconst getMotoqueiro = (m) => String(m || \"\").trim();\n\nconst toNumber = (v) => {\n  if (v === \"\" || v === null || v === undefined) return \"\";\n  const n = Number(String(v).replace(\",\", \".\"));\n  return isNaN(n) ? \"\" : n;\n};\n\n// monta chaves a partir do input2\nconst chaves = input2\n  .map(item => item.json.PLANILHA)\n  .filter(Boolean);\n\n// soma por DATA + MOTOQUEIRO\nconst somaPorGrupo = {};\n\nfor (const item of input1) {\n  const json = item.json;\n\n  const data = getData(json.DATA);\n  const moto = getMotoqueiro(json.MOTOQUEIROS);\n  const chaveGrupo = `${data}|${moto}`;\n\n  const valorDinheiro = toNumber(json[\"(-)ENTREGUE DINHEIRO DO POSTO\"]);\n  const valor = valorDinheiro === \"\" ? 0 : Math.abs(valorDinheiro);\n\n  somaPorGrupo[chaveGrupo] = (somaPorGrupo[chaveGrupo] || 0) + valor;\n}\n\nconst resultado = [];\n\nfor (const item of input1) {\n  const json = item.json;\n\n  const data = getData(json.DATA);\n  const moto = getMotoqueiro(json.MOTOQUEIROS);\n\n  const base = {\n    row_number: json.row_number,\n    DATA: data,\n    ID: json.ID,\n    MOTOQUEIROS: moto,\n    AREA: json.AREA,\n    POSTO: json.POSTO,\n    AREA_POSTO_ESCOLHIDO: json.AREA_POSTO_ESCOLHIDO\n  };\n\n  for (const chave of chaves) {\n    let valor = toNumber(json[chave]);\n\n    if (valor !== \"\") {\n      if (normalizar(chave).includes(\"(-)\")) {\n        valor = -Math.abs(valor);\n      } else {\n        valor = Math.abs(valor);\n      }\n    }\n\n    resultado.push({\n      json: {\n        ...base,\n        item: chave,\n        valor\n      }\n    });\n  }\n\n  const chaveGrupo = `${data}|${moto}`;\n  const soma = somaPorGrupo[chaveGrupo] || 0;\n\n  resultado.push({\n    json: {\n      ...base,\n      item: \"(+)ENTREGUE INFORMATIVO\",\n      valor: soma\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,288],"id":"7c2dc0e8-4c2c-4815-8a7c-68aa9c1e464f","name":"Code in JavaScript2"},{"parameters":{"documentId":{"__rl":true,"value":"1yrT9_lai0Nbgym41h0OJBLF1GUh64dzWbCBGzuI4dXk","mode":"list","cachedResultName":"JUN/26-DEZ/26 RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yrT9_lai0Nbgym41h0OJBLF1GUh64dzWbCBGzuI4dXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yrT9_lai0Nbgym41h0OJBLF1GUh64dzWbCBGzuI4dXk/edit#gid=406301794"},"filtersUI":{"values":[{"lookupColumn":"DATA","lookupValue":"={{ $json.DATA }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-864,752],"id":"a0824160-a3e6-4450-9b59-2b485c22d5f7","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const itens = $input.all();\n\nreturn itens.filter(item => \n  item.json.item === \"(-)ENTREGUE DINHEIRO DO POSTO\" ||\n  item.json.item === \"(-)COMBUSTÍVEL DE\" ||\n  item.json.item === \"(-)ALUGUEL DE MOTO DE\" ||\n  item.json.item === \"(-)PEDÁGIO DE\"\n);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,160],"id":"ebd2aaba-28c3-43a1-a179-71e5230de4e6","name":"Code in JavaScript3"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[640,640],"id":"25c0dbcf-7132-4550-b4a6-5939f5745ca4","name":"Merge1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1497257426,"mode":"list","cachedResultName":"ENTREGUE DINHEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=1497257426"},"columns":{"mappingMode":"defineBelow","value":{"DATA":"={{ $json.DATA }}","DESCRIÇÃO":"={{ $json.item }}","VALOR":"={{ $json.valor }}","POSTO":"={{ $json.POSTO }}","MOTOQUEIRO":"={{ $json.MOTOQUEIROS }}","ÁREA":"={{ $json.AREA }}","match":"={{ $json.DATA }}-{{ $json.MOTOQUEIROS }}-{{ $json.POSTO }}-{{ $json.item }}"},"matchingColumns":["DATA"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MOTOQUEIRO","displayName":"MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DESCRIÇÃO","displayName":"DESCRIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor real","displayName":"valor real","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REPASSE DINHEIRO MOTOQUEIRO DATA:","displayName":"REPASSE DINHEIRO MOTOQUEIRO DATA:","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[624,176],"id":"656c4877-908c-4342-bdbd-9e524c6ef031","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}},"disabled":true},{"parameters":{"jsCode":"const todos = $input.all();\n\nconst input1 = todos.filter(i =>\n  i.json.item !== undefined\n);\n\nconst input2 = todos.filter(i =>\n  i.json.CATEGORIA !== undefined\n);\n\nconst categoriasSemPosto = [\n  \"(+)ENTREGUE INFORMATIVO\",\n  \"(-)ALUGUEL DE MOTO DE\",\n  \"(-)COMBUSTÍVEL DE\",\n  \"(-)PEDÁGIO DE\"\n];\n\nconst normalizar = (txt) =>\n  String(txt ?? \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n\nconst dataSemHora = (data) =>\n  String(data ?? \"\").split(\" \")[0].trim();\n\nconst montarChaveInput1 = (json) => {\n  const item = normalizar(json.item);\n\n  if (categoriasSemPosto.map(normalizar).includes(item)) {\n    return [\n      dataSemHora(json.DATA),\n      normalizar(json.MOTOQUEIROS),\n      item\n    ].join(\"|\");\n  }\n\n  return [\n    dataSemHora(json.DATA),\n    normalizar(json.MOTOQUEIROS),\n    normalizar(json.POSTO),\n    item\n  ].join(\"|\");\n};\n\nconst montarChaveInput2 = (json) => {\n  const categoria = normalizar(json.CATEGORIA);\n\n  if (categoriasSemPosto.map(normalizar).includes(categoria)) {\n    return [\n      dataSemHora(json.DATA),\n      normalizar(json[\"MOTOQ.\"]),\n      categoria\n    ].join(\"|\");\n  }\n\n  return [\n    dataSemHora(json.DATA),\n    normalizar(json[\"MOTOQ.\"]),\n    normalizar(json.POSTO),\n    categoria\n  ].join(\"|\");\n};\n\nconst mapaInput2 = {};\n\nfor (const item of input2) {\n  const chave = montarChaveInput2(item.json);\n\n  if (!mapaInput2[chave]) {\n    mapaInput2[chave] = item.json.row_number;\n  }\n}\n\nconst resultado = [];\n\nfor (const item of input1) {\n  const chave = montarChaveInput1(item.json);\n  const rowNumberInput2 = mapaInput2[chave];\n\n  if (rowNumberInput2 !== undefined) {\n    resultado.push({\n      json: {\n        ...item.json,\n        chave_match: chave,\n        row_number_input2: rowNumberInput2\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,848],"id":"a306b957-e292-4b8e-97f8-e3003a10b144","name":"Code in JavaScript4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ccfb04ad-30e2-4ec2-a87e-6cd4788b88db","leftValue":"={{\n  (\n    $json.VALOR === null ||\n    $json.VALOR === undefined ||\n    String($json.VALOR).trim() === \"\" ||\n    Number(String($json.VALOR).replace(\",\", \".\")) === 0\n  )\n  &&\n  [\n    \"(+)MOVIMENTO DIA DO POSTOS\",\n    \"(-)ENTREGUE DINHEIRO DO POSTO\",\n    \"(-)ENTREGUE PIX DO POSTO\",\n    \"(-)ENTREGUE MAQUINETA CARTÃO DO POSTO\",\n    \"(+)RECEB. ATRASADO DO POSTO\",\n    \"(+)CRÉDITO DO POSTO\",\n    \"(-)DESCONTO DO POSTO\",\n    \"(-)COMBUSTÍVEL DE\",\n    \"(-)COLETORA DO POSTO\",\n    \"(-)ALUGUEL DE MOTO DE\",\n    \"(-)PEDÁGIO DE\",\n    \"(+)ENTREGUE INFORMATIVO\",\n    \"(+)OUTRAS ENTRADAS DO POSTO\"\n  ].includes($json.CATEGORIA)\n}}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[256,768],"id":"251f086e-f5f0-45cc-b793-0346f639e4bd","name":"If1"},{"parameters":{"jsCode":"const itens = $input.all();\n\nreturn itens.filter(item => {\n  let valor = item.json.valor;\n\n  // trata null/undefined\n  if (valor === null || valor === undefined) return false;\n\n  // converte para string\n  valor = String(valor).trim();\n\n  // vazio\n  if (valor === \"\") return false;\n\n  // normaliza número (troca vírgula por ponto)\n  const numero = Number(valor.replace(\",\", \".\"));\n\n  // remove zero (0, 0.00, 0,00 etc.)\n  if (!isNaN(numero) && numero === 0) return false;\n\n  return true;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,432],"id":"dbd10e1a-a4ad-4952-a605-264f1563f568","name":"Code in JavaScript5"},{"parameters":{"documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1810329278,"mode":"list","cachedResultName":"mapear","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=1810329278"},"filtersUI":{"values":[{"lookupColumn":"ok","lookupValue":"ok"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-864,320],"id":"601aad0a-0171-49d8-9972-6780502800bf","name":"match","retryOnFail":true,"credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const todos = $input.all();\n\n// separa pelo formato dos dados\nconst input1 = todos.filter(i => i.json.item !== undefined);\nconst input2 = todos.filter(i => i.json.CATEGORIA !== undefined);\n\nconst normalizar = (txt) =>\n  String(txt ?? \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n// categorias que NÃO usam POSTO no match\nconst categoriasSemPosto = [\n  \"(+)ENTREGUE INFORMATIVO\",\n  \"(-)ALUGUEL DE MOTO DE\",\n  \"(-)COMBUSTÍVEL DE\",\n  \"(-)PEDÁGIO DE\"\n].map(normalizar);\n\nconst dataSemHora = (data) =>\n  String(data ?? \"\").split(\" \")[0].trim();\n\nconst montarChaveInput1 = (json) => {\n  const item = normalizar(json.item);\n\n  if (categoriasSemPosto.includes(item)) {\n    return [\n      dataSemHora(json.DATA),\n      normalizar(json.MOTOQUEIROS),\n      item\n    ].join(\"|\");\n  }\n\n  return [\n    dataSemHora(json.DATA),\n    normalizar(json.MOTOQUEIROS),\n    normalizar(json.POSTO),\n    item\n  ].join(\"|\");\n};\n\nconst montarChaveInput2 = (json) => {\n  const categoria = normalizar(json.CATEGORIA);\n\n  if (categoriasSemPosto.includes(categoria)) {\n    return [\n      dataSemHora(json.DATA),\n      normalizar(json[\"MOTOQ.\"]),\n      categoria\n    ].join(\"|\");\n  }\n\n  return [\n    dataSemHora(json.DATA),\n    normalizar(json[\"MOTOQ.\"]),\n    normalizar(json.POSTO),\n    categoria\n  ].join(\"|\");\n};\n\nconst mapaInput2 = new Set();\n\nfor (const item of input2) {\n  mapaInput2.add(montarChaveInput2(item.json));\n}\n\n// retorna SOMENTE input1 que NÃO deram match\nreturn input1\n  .filter(item => {\n    const chave = montarChaveInput1(item.json);\n    return !mapaInput2.has(chave);\n  })\n  .map(item => ({\n    json: {\n      ...item.json,\n      chave_nao_encontrada: montarChaveInput1(item.json)\n    }\n  }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,656],"id":"958a1fdf-314c-4f40-a80c-975e76274f81","name":"Code in JavaScript6"},{"parameters":{"jsCode":"const itens = $input.all();\n\nconst mapa = new Map();\n\nitens.forEach(item => {\n  const chave = item.json.chave_match;\n\n  // guarda apenas o primeiro item de cada chave\n  if (chave && !mapa.has(chave)) {\n    mapa.set(chave, item.json);\n  }\n});\n\nreturn Array.from(mapa.values()).map(json => ({\n  json\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,400],"id":"b7543626-c386-48e0-8d3b-969a0263bc1a","name":"Code in JavaScript7"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k","mode":"list","cachedResultName":"RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1779498822,"mode":"list","cachedResultName":"ITENS NÃO MAPEADOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10wbpSwFHNljBHQuQtK7SixuSURE26noXByIiTCriK5k/edit#gid=1779498822"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}","LINHA":"={{ $json.row_number }}","DATA":"={{ $json.DATA }}","MOTOQUEIROS":"={{ $json.MOTOQUEIROS }}","AREA":"={{ $json.AREA }}","POSTO":"={{ $json.POSTO }}","CATEGORIA":"={{ $json.item }}","VALOR":"={{ $json.valor }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LINHA","displayName":"LINHA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MOTOQUEIROS","displayName":"MOTOQUEIROS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"AREA","displayName":"AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1216,656],"id":"3bca3e0d-de18-4533-9af1-96d51a097e0d","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"0c9125b8-fff3-4389-9f57-b4260c65d2e6","name":"DATA","value":"={{ $now.setZone('America/Recife').toFormat('dd/LL/yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,368],"id":"206a58a4-a818-440e-9307-cd222173f088","name":"Edit Fields"},{"parameters":{"jsCode":"const itens = $input.all();\n\nconst mapa = new Map();\n\nitens.forEach(item => {\n  const chave = item.json.chave_match;\n\n  // guarda apenas o primeiro item de cada chave\n  if (chave && !mapa.has(chave)) {\n    mapa.set(chave, item.json);\n  }\n});\n\nreturn Array.from(mapa.values()).map(json => ({\n  json\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,1040],"id":"0537e52b-be1d-45ed-9dd4-248b2394a2cb","name":"Code in JavaScript9"},{"parameters":{"assignments":{"assignments":[{"id":"0c9125b8-fff3-4389-9f57-b4260c65d2e6","name":"DATA","value":"={{ $now.setZone('America/Recife').toFormat('dd/LL/yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,576],"id":"fd1a39da-0810-4257-a939-bbd9327e07f3","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 8-17 * * 1-6"}]}},"id":"a012fddc-709c-429e-b03c-ded1cca25e24","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1456,368]},{"parameters":{"jsCode":"const todos = $input.all();\n\nconst input1 = todos.filter(i => i.json.item !== undefined);\nconst input2 = todos.filter(i => i.json.CATEGORIA !== undefined);\n\nreturn [{\n  json: {\n    total_input1: input1.length,\n    total_input2: input2.length,\n\n    exemplo_input1: {\n      DATA: input1[0]?.json.DATA,\n      MOTOQUEIROS: input1[0]?.json.MOTOQUEIROS,\n      POSTO: input1[0]?.json.POSTO,\n      item: input1[0]?.json.item,\n    },\n\n    exemplo_input2: {\n      DATA: input2[0]?.json.DATA,\n      MOTOQ: input2[0]?.json[\"MOTOQ.\"],\n      POSTO: input2[0]?.json.POSTO,\n      CATEGORIA: input2[0]?.json.CATEGORIA,\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,992],"id":"a8daf4ca-75bc-44f4-9afe-b2ad5652386d","name":"Code in JavaScript8"},{"parameters":{"jsCode":"const todos = $input.all();\n\nconst input1 = todos.filter(i => i.json.item !== undefined);\nconst input2 = todos.filter(i => i.json.CATEGORIA !== undefined);\n\nconst categoriasSemPosto = [\n  \"(+)ENTREGUE INFORMATIVO\",\n  \"(-)ALUGUEL DE MOTO DE\",\n  \"(-)COMBUSTÍVEL DE\",\n  \"(-)PEDÁGIO DE\"\n];\n\nconst normalizar = (txt) =>\n  String(txt ?? \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n\nconst dataSemHora = (data) =>\n  String(data ?? \"\").split(\" \")[0].trim();\n\nconst ehCategoriaSemPosto = (categoria) =>\n  categoriasSemPosto.map(normalizar).includes(normalizar(categoria));\n\nconst montarChaveInput1 = (j) => {\n  if (ehCategoriaSemPosto(j.item)) {\n    return [\n      dataSemHora(j.DATA),\n      normalizar(j.MOTOQUEIROS),\n      normalizar(j.item),\n    ].join(\"|\");\n  }\n\n  return [\n    dataSemHora(j.DATA),\n    normalizar(j.MOTOQUEIROS),\n    normalizar(j.POSTO),\n    normalizar(j.item),\n  ].join(\"|\");\n};\n\nconst montarChaveInput2 = (j) => {\n  if (ehCategoriaSemPosto(j.CATEGORIA)) {\n    return [\n      dataSemHora(j.DATA),\n      normalizar(j[\"MOTOQ.\"]),\n      normalizar(j.CATEGORIA),\n    ].join(\"|\");\n  }\n\n  return [\n    dataSemHora(j.DATA),\n    normalizar(j[\"MOTOQ.\"]),\n    normalizar(j.POSTO),\n    normalizar(j.CATEGORIA),\n  ].join(\"|\");\n};\n\nconst mapaInput2 = new Map();\n\nfor (const item of input2) {\n  const chave = montarChaveInput2(item.json);\n\n  if (!mapaInput2.has(chave)) {\n    mapaInput2.set(chave, item.json.row_number);\n  }\n}\n\nconst resultado = [];\n\nfor (const item of input1) {\n  const chave = montarChaveInput1(item.json);\n  const rowNumberInput2 = mapaInput2.get(chave);\n\n  if (rowNumberInput2 !== undefined) {\n    resultado.push({\n      json: {\n        ...item.json,\n        chave_match: chave,\n        row_number_input2: rowNumberInput2\n      }\n    });\n  }\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[832,432],"id":"b7978c9f-7390-43d9-88c4-a44bac7e559e","name":"Code in JavaScript10"},{"parameters":{"jsCode":"const mapaCategorias = {\n  \"ALUGUEL MOTO\": \"(-)ALUGUEL DE MOTO DE\",\n  \"COMBUSTÍVEL\": \"(-)COMBUSTÍVEL DE\",\n  \"CRÉDITO POSTO\": \"(+)CRÉDITO DO POSTO\",\n  \"DESCONTO CRÉDITO POSTO\": \"(-)DESCONTO DO POSTO\",\n  \"MOVIMENTO ENVIO\": \"(+)MOVIMENTO DIA DO POSTOS\",\n  \"OUTRAS ENTRADAS\": \"(+)OUTRAS ENTRADAS DO POSTO\",\n  \"PEDÁGIO\": \"(-)PEDÁGIO DE\",\n  \"PGTO CARTÃO\": \"(-)ENTREGUE MAQUINETA CARTÃO DO POSTO\",\n  \"PGTO COLETORA\": \"(-)COLETORA DO POSTO\",\n  \"PGTO DINHEIRO\": \"(-)ENTREGUE DINHEIRO DO POSTO\",\n  \"PGTO PIX\": \"(-)ENTREGUE PIX DO POSTO\",\n  \"RECEBIMENTO ATRASADO\": \"(+)RECEB. ATRASADO DO POSTO\"\n};\n\nfunction normalizar(txt) {\n  return String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .trim();\n}\n\nreturn $input.all().map(item => {\n  const app = item.json.APP || item.json.app || item.json.categoria || item.json.item || \"\";\n  const chave = normalizar(app);\n\n  const mapaNormalizado = Object.fromEntries(\n    Object.entries(mapaCategorias).map(([k, v]) => [normalizar(k), v])\n  );\n\n  return {\n    json: {\n      ...item.json,\n      categoria_app: app,\n      categoria_planilha: mapaNormalizado[chave] || \"\"\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,1360],"id":"67213531-742c-49b6-b683-742d919e67ee","name":"Code in JavaScript11"},{"parameters":{"jsCode":"const itens = $input.all();\n\nconst normalizar = (txt) =>\n  String(txt || \"\")\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toUpperCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n// Separa a tabela de conversão APP -> PLANILHA\nconst relMot = itens.filter(item =>\n  item.json.APP !== undefined &&\n  item.json.PLANILHA !== undefined\n);\n\n// Separa os dados principais\nconst dados = itens.filter(item =>\n  !(item.json.APP !== undefined && item.json.PLANILHA !== undefined)\n);\n\n// Monta mapa de substituição\nconst mapa = {};\n\nfor (const item of relMot) {\n  const app = normalizar(item.json.APP);\n  const planilha = item.json.PLANILHA;\n\n  if (app && planilha) {\n    mapa[app] = planilha;\n  }\n}\n\n// Troca os NOMES DAS CHAVES dos dados principais\nreturn dados.map(item => {\n  const novoJson = {};\n\n  for (const [chave, valor] of Object.entries(item.json)) {\n    const chaveNormalizada = normalizar(chave);\n\n    const novaChave = mapa[chaveNormalizada] || chave;\n\n    novoJson[novaChave] = valor;\n  }\n\n  return {\n    json: novoJson\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,304],"id":"79491580-1357-4fc0-9423-64c19cecd8dd","name":"Code in JavaScript12"},{"parameters":{"jsCode":"const itens = $input.all();\n\nconst getData = (data) => String(data || \"\").split(\" \")[0];\nconst getMotoqueiro = (m) => String(m || \"\").trim();\n\nconst chaves = [\n  \"(+)MOVIMENTO DIA DO POSTOS\",\n  \"(-)ENTREGUE DINHEIRO DO POSTO\",\n  \"(-)ENTREGUE PIX DO POSTO\",\n  \"(-)ENTREGUE MAQUINETA CARTÃO DO POSTO\",\n  \"(+)RECEB. ATRASADO DO POSTO\",\n  \"(+)CRÉDITO DO POSTO\",\n  \"(-)DESCONTO DO POSTO\",\n  \"(-)COMBUSTÍVEL DE\",\n  \"(-)COLETORA DO POSTO\",\n  \"(-)ALUGUEL DE MOTO DE\",\n  \"(-)PEDÁGIO DE\",\n  \"(+)OUTRAS ENTRADAS DO POSTO\"\n];\n\n// soma por DATA + MOTOQUEIRO\nconst somaPorGrupo = {};\n\nfor (const item of itens) {\n  const json = item.json;\n\n  const data = getData(json.DATA);\n  const moto = getMotoqueiro(json.MOTOQUEIROS);\n\n  const chaveGrupo = `${data}|${moto}`;\n  const valor = Number(json[\"(-)ENTREGUE DINHEIRO DO POSTO\"] || 0);\n\n  somaPorGrupo[chaveGrupo] = (somaPorGrupo[chaveGrupo] || 0) + valor;\n}\n\nconst resultado = [];\n\nfor (const item of itens) {\n  const json = item.json;\n\n  const data = getData(json.DATA);\n  const moto = getMotoqueiro(json.MOTOQUEIROS);\n\n  const base = {\n    row_number: json.row_number,\n    DATA: data,\n    ID: json.ID,\n    MOTOQUEIROS: moto,\n    AREA: json.AREA,\n    POSTO: json.POSTO,\n    AREA_POSTO_ESCOLHIDO: json.AREA_POSTO_ESCOLHIDO\n  };\n\n  for (const chave of chaves) {\n    let valor = json[chave] ?? \"\";\n\n    // 🔥 aplica regra de negativo\n    if (valor !== \"\" && !isNaN(valor)) {\n      valor = Number(valor);\n\n      if (chave.includes(\"(-)\")) {\n        valor = -Math.abs(valor);\n      } else {\n        valor = Math.abs(valor);\n      }\n    }\n\n    resultado.push({\n      json: {\n        ...base,\n        item: chave,\n        valor: valor\n      }\n    });\n  }\n\n  // (+)ENTREGUE INFORMATIVO (mantém positivo)\n  const chaveGrupo = `${data}|${moto}`;\n  const soma = somaPorGrupo[chaveGrupo] || 0;\n\n  resultado.push({\n    json: {\n      ...base,\n      item: \"(+)ENTREGUE INFORMATIVO\",\n      valor: soma\n    }\n  });\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,16],"id":"98221a5c-89c4-48a6-b1f3-cfa3eb14b56f","name":"Code in JavaScript13"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yrT9_lai0Nbgym41h0OJBLF1GUh64dzWbCBGzuI4dXk","mode":"list","cachedResultName":"JUN/26-DEZ/26 RELATÓRIO MOTOQUEIRO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yrT9_lai0Nbgym41h0OJBLF1GUh64dzWbCBGzuI4dXk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":406301794,"mode":"list","cachedResultName":"REL. MOTOQ.","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yrT9_lai0Nbgym41h0OJBLF1GUh64dzWbCBGzuI4dXk/edit#gid=406301794"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number_input2 }}","VALOR":"={{ $json.valor }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MOTOQ.","displayName":"MOTOQ.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"HORÁRIO","displayName":"HORÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"KM","displayName":"KM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CATEGORIA","displayName":"CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO RECEBIMENTO","displayName":"DESCRIÇÃO DO RECEBIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"C/D","displayName":"C/D","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ","displayName":"SEQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VERIFICAR CAPA/MOV","displayName":"VERIFICAR CAPA/MOV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESP.","displayName":"RESP.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ASÁB","displayName":"ASÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEQ SÁB","displayName":"SEQ SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REGRAS DE PGTO","displayName":"REGRAS DE PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BLOQ","displayName":"BLOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"FATUR.","displayName":"FATUR.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"5% DO FAT","displayName":"5% DO FAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROG.","displayName":"PROG.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA CONF. PIX/CART","displayName":"DATA CONF. PIX/CART","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PGTO","displayName":"DATA PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"COMISSÃO","displayName":"COMISSÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESUMO","displayName":"RESUMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"INFO OK","displayName":"INFO OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1376,400],"id":"f3d01f41-d008-4ca0-99ca-ddefe31f9b70","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const itens = $input.all();\n\nconst mapa = new Map();\n\nitens.forEach(item => {\n  const chave = item.json.chave_input1; // ✅ corrigido\n\n  if (chave && !mapa.has(chave)) {\n    mapa.set(chave, item.json);\n  }\n});\n\nreturn Array.from(mapa.values()).map(json => ({\n  json\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,832],"id":"f1ecca10-d79d-48fa-acdd-b2c94de94d0b","name":"Code in JavaScript14"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U","mode":"list","cachedResultName":"APP MOTOQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"JÁ NA PLANILHA REL MOT":"SIM","row_number":"={{ $('Code in JavaScript13').first().json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOTOQUEIROS","displayName":"MOTOQUEIROS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AREA","displayName":"AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AREA_POSTO_ESCOLHIDO","displayName":"AREA_POSTO_ESCOLHIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REQUISIÇÃO","displayName":"REQUISIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO SECO","displayName":"TUBO SECO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO HEMOGRAMA","displayName":"TUBO HEMOGRAMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO GLICOSE","displayName":"TUBO GLICOSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO TPAE","displayName":"TUBO TPAE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SWAB","displayName":"SWAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UROCULTURA","displayName":"UROCULTURA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CITOLOGIA","displayName":"CITOLOGIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SUMÁRIO","displayName":"SUMÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FEZES","displayName":"FEZES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 5ML","displayName":"SERINGA 5ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 10ML","displayName":"SERINGA 10ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AGULHA A VÁCUO","displayName":"AGULHA A VÁCUO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TOTAL_PGTO_AREA","displayName":"TOTAL_PGTO_AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOVIMENTO ENVIO","displayName":"MOVIMENTO ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO DINHEIRO","displayName":"PGTO DINHEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO PIX","displayName":"PGTO PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO CARTÃO","displayName":"PGTO CARTÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIMENTO ATRASADO","displayName":"RECEBIMENTO ATRASADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CRÉDITO POSTO","displayName":"CRÉDITO POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCONTO CRÉDITO POSTO","displayName":"DESCONTO CRÉDITO POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REPETIÇÃO","displayName":"REPETIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"COMBUSTÍVEL","displayName":"COMBUSTÍVEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO COLETORA","displayName":"PGTO COLETORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ALUGUEL MOTO","displayName":"ALUGUEL MOTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PEDÁGIO","displayName":"PEDÁGIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DINHEIRO ENTREGUE MOTOQUEIRO","displayName":"DINHEIRO ENTREGUE MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OUTRAS ENTRADAS","displayName":"OUTRAS ENTRADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DÉBITO RESTANTE","displayName":"DÉBITO RESTANTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DÉBITO MOTOQUEIRO","displayName":"DÉBITO MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Pagamento","displayName":"Status Pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"KM ATUAL","displayName":"KM ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO","displayName":"FOTO_RELATORIO_ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO1","displayName":"FOTO_RELATORIO_ENVIO1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO2","displayName":"FOTO_RELATORIO_ENVIO2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_CADERNO","displayName":"FOTO_CADERNO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_INSUMOS_ENTREGUES","displayName":"FOTO_INSUMOS_ENTREGUES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTES_DIVERSOS","displayName":"FOTO_COMPROVANTES_DIVERSOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_DEPOSITO","displayName":"FOTO_DEPOSITO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMBUSTÍVEL","displayName":"FOTO_COMBUSTÍVEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTE PIX","displayName":"FOTO_COMPROVANTE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTE CARTÃO","displayName":"FOTO_COMPROVANTE CARTÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_POSTO_FECHADO","displayName":"FOTO_POSTO_FECHADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"KM RODADO","displayName":"KM RODADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÃO","displayName":"OBSERVAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME_VALIDADOR_DIGITADO","displayName":"NOME_VALIDADOR_DIGITADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SENHA_DIGITADA","displayName":"SENHA_DIGITADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALIDADO","displayName":"VALIDADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA_VALIDACAO","displayName":"DATA_VALIDACAO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"JÁ NA PLANILHA REL MOT","displayName":"JÁ NA PLANILHA REL MOT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1584,400],"id":"2f2d3f21-f2ba-4ce5-b831-5ad726337342","name":"app mot1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"app mot":{"main":[[{"node":"If","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Code in JavaScript13","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0},{"node":"Code in JavaScript6","type":"main","index":0},{"node":"Code in JavaScript8","type":"main","index":0},{"node":"Code in JavaScript10","type":"main","index":0}]]},"If1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code in JavaScript5":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"match":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code in JavaScript6":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Code in JavaScript7":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"app mot","type":"main","index":0},{"node":"match","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code in JavaScript12":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript13":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript10":{"main":[[{"node":"Code in JavaScript7","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"app mot1","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version 036ed4f8","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}