workflows/forçando_n8n-DNfhGJisQ_GKZt5rNnl3J.json
{"updatedAt":"2026-05-06T03:11:52.301Z","createdAt":"2026-04-15T03:07:06.763Z","id":"DNfhGJisQ_GKZt5rNnl3J","name":"forçando_n8n","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"4e1e7d9e-4743-4aa3-84e0-0200fa4c8035","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  ee.\"workflowId\",\n  we.name AS workflow_name,\n  COUNT(*)::int AS total_execucoes_travadas,\n  MIN(ee.\"startedAt\") AS execucao_mais_antiga,\n  MAX(ROUND(EXTRACT(EPOCH FROM (NOW() - ee.\"startedAt\")) / 60)) AS maior_tempo_min\nFROM execution_entity ee\nLEFT JOIN workflow_entity we\n  ON we.id = ee.\"workflowId\"\nWHERE ee.finished = false\n  AND ee.\"startedAt\" IS NOT NULL\n  AND ee.\"deletedAt\" IS NULL\n  AND NOW() - ee.\"startedAt\" > interval '30 minutes'\nGROUP BY ee.\"workflowId\", we.name\nORDER BY total_execucoes_travadas DESC, maior_tempo_min DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,0],"id":"6e4dacfd-e32a-47b3-9542-fe5f4ce5b040","name":"Execute a SQL query","credentials":{"postgres":{"id":"YzmpL276L3tJdXjF","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"69034e58-deb4-4220-9979-c0f934668c7a","leftValue":"=={{ $items(\"Execute a SQL query\").length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[384,0],"id":"2fc5ac94-1e0c-4b8f-89ac-444a23dc2806","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"=={{\n(() => {\n  const items = $items(\"Execute a SQL query\");\n\n  if (!items.length) {\n    return \"✅ Nenhum workflow com execução travada.\";\n  }\n\n  const totalFluxos = items.length;\n\n  const linhas = items.map((item, index) => {\n    const j = item.json;\n    return `${index + 1}. ${j.workflow_name || 'Sem nome'}\\n📌 ${j.total_execucoes_travadas} travada(s)\\n⏱️ até ${j.maior_tempo_min} min`;\n  }).join('\\n\\n');\n\n  return `⚠️ Alerta n8n\n\nExistem ${totalFluxos} workflow(s) com execuções travadas há mais de 30 minutos.\n\nResumo:\n${linhas}`;\n})()\n}}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[640,-16],"id":"50cd556e-5b90-4b7b-ad7a-72ed07b12a67","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}},"onError":"continueRegularOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1ae04a84-ab84-41aa-9565-d31ada224685","activeVersionId":"1ae04a84-ab84-41aa-9565-d31ada224685","triggerCount":1,"shared":[{"updatedAt":"2026-04-15T03:07:06.763Z","createdAt":"2026-04-15T03:07:06.763Z","role":"workflow:owner","workflowId":"DNfhGJisQ_GKZt5rNnl3J","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":{"updatedAt":"2026-04-15T11:43:54.513Z","createdAt":"2026-04-15T11:43:43.902Z","versionId":"1ae04a84-ab84-41aa-9565-d31ada224685","workflowId":"DNfhGJisQ_GKZt5rNnl3J","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"4e1e7d9e-4743-4aa3-84e0-0200fa4c8035","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  ee.\"workflowId\",\n  we.name AS workflow_name,\n  COUNT(*)::int AS total_execucoes_travadas,\n  MIN(ee.\"startedAt\") AS execucao_mais_antiga,\n  MAX(ROUND(EXTRACT(EPOCH FROM (NOW() - ee.\"startedAt\")) / 60)) AS maior_tempo_min\nFROM execution_entity ee\nLEFT JOIN workflow_entity we\n  ON we.id = ee.\"workflowId\"\nWHERE ee.finished = false\n  AND ee.\"startedAt\" IS NOT NULL\n  AND ee.\"deletedAt\" IS NULL\n  AND NOW() - ee.\"startedAt\" > interval '30 minutes'\nGROUP BY ee.\"workflowId\", we.name\nORDER BY total_execucoes_travadas DESC, maior_tempo_min DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[176,0],"id":"6e4dacfd-e32a-47b3-9542-fe5f4ce5b040","name":"Execute a SQL query","credentials":{"postgres":{"id":"YzmpL276L3tJdXjF","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"69034e58-deb4-4220-9979-c0f934668c7a","leftValue":"=={{ $items(\"Execute a SQL query\").length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[384,0],"id":"2fc5ac94-1e0c-4b8f-89ac-444a23dc2806","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"=={{\n(() => {\n  const items = $items(\"Execute a SQL query\");\n\n  if (!items.length) {\n    return \"✅ Nenhum workflow com execução travada.\";\n  }\n\n  const totalFluxos = items.length;\n\n  const linhas = items.map((item, index) => {\n    const j = item.json;\n    return `${index + 1}. ${j.workflow_name || 'Sem nome'}\\n📌 ${j.total_execucoes_travadas} travada(s)\\n⏱️ até ${j.maior_tempo_min} min`;\n  }).join('\\n\\n');\n\n  return `⚠️ Alerta n8n\n\nExistem ${totalFluxos} workflow(s) com execuções travadas há mais de 30 minutos.\n\nResumo:\n${linhas}`;\n})()\n}}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[640,-16],"id":"50cd556e-5b90-4b7b-ad7a-72ed07b12a67","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}},"onError":"continueRegularOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]}},"authors":"Mickeliny ckely_sena@hotmail.com","name":"Version 1ae04a84","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}