workflows/github_fluxo-ISOdFm4R5xMAXO4VsrSbM.json
{"updatedAt":"2026-05-06T03:32:42.162Z","createdAt":"2026-05-06T02:23:22.157Z","id":"ISOdFm4R5xMAXO4VsrSbM","name":"github_fluxo","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"d7f39bde-abf5-4bb9-9204-48ea0ce0db04","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-128,672]},{"parameters":{"content":"## Acionar\nVocê pode alterá-lo para [gatilho \"Agendar\"](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) para fazer backups regularmente.","height":380,"width":182},"id":"3eb30da4-c249-4732-a65d-0a90797dec06","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1232,496]},{"parameters":{"content":"## Definir e formatar data/hora\nEsses nós são responsáveis ​​por definir a data e hora atuais no formato `dd/MM/yyyy Hh:mm`. Data e hora são usadas para compor mensagens de commit no GitLab, por exemplo: `backup-12/07/2023 14:18`.","height":379,"width":585},"id":"afa25f33-73dd-4abf-b00b-9c36f2e72b96","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-992,496]},{"parameters":{"content":"## Recupere os workflows\nObtenha todos os fluxos de trabalho da sua instância n8n. Lembre-se de que **suas credenciais precisam apontar para a instância da qual você deseja fazer backup.**","height":379,"width":424},"id":"9d3573ef-8776-492b-aa27-f54212d3ae74","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,512]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"},{"name":"GRUPO","value":"ckelysena"},{"name":"PROJETO","value":"backup-n8n"},{"name":"BRANCH","value":"main"},{"name":"PASTA_BACKUP","value":"workflows/"}]},"options":{}},"id":"fd30fa45-bfee-4f1e-8ac3-e463f642f2c1","name":"Setar a data do Commit","type":"n8n-nodes-base.set","typeVersion":2,"position":[-560,672]},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"id":"ce8f9584-c81b-4066-b2ca-7142d1aa3edd","name":"Sete a data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-960,672]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd/MM/yyyy HH:mm","options":{"timezone":true}},"id":"7868ef40-6437-4594-ad18-12956b90a1ca","name":"Data formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-768,672]},{"parameters":{"filters":{"tags":"fluxo_ok"},"requestOptions":{}},"id":"cf47d48d-fdb0-448b-8614-c9acacb9b471","name":"Recupere os workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-336,672],"credentials":{"n8nApi":{"id":"YbToTr3NTJbrZFNr","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[64,672],"id":"04359e4b-05f6-4ce6-a1e4-71981f66ae4d","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1472,848],"id":"f5ba03de-2076-4bca-9c20-d529fbd7dabf"},{"parameters":{"content":"## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.","height":796,"width":1616},"id":"3f18d305-d9b3-46f6-98a8-c2080419b6ce","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[64,336]},{"parameters":{"assignments":{"assignments":[{"id":"31db09ad-455b-42bd-90b1-71c4533b6026","name":"ARQUIVO","value":"={{ $binary.data.fileName }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,688],"id":"7f96b284-5f39-4420-b9b3-742814e45c48","name":"ARQUIVO"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e4dd24f9-2bd2-4972-a222-becfcb95e2a1","leftValue":"={{ $json.error }}","rightValue":"could not be found","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,864],"id":"f1089b8c-15b6-49e7-8c39-c465c104f427","name":"If","executeOnce":false},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[864,656],"id":"2b6e2b3a-8adc-4dca-9847-d1d63c49caaf","name":"MERGE_CRIAR"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[976,848],"id":"f198bbe7-573b-4179-a80b-d205e7da6f96","name":"MERGE_ATUALIZAR"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1184,672],"id":"8088aa80-ec56-4b7a-8d9a-eb3c6f6eb01b","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"ckelysena","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"https://github.com/ckelysena/backup-n8n"},"filePath":"={{ $('Setar a data do Commit').first().json.PASTA_BACKUP }}{{ $binary.data.fileName }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[448,832],"id":"0a4c95a0-af04-4564-9b29-d82c3a9d2b6c","name":"Get a file","webhookId":"6bae1858-ad20-4b95-82f9-9e4c0aef9a41","alwaysOutputData":true,"credentials":{"githubApi":{"id":"aL3tiaGMg6RbvHe1","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"ckelysena","mode":"list","cachedResultName":"ckelysena","cachedResultUrl":"https://github.com/ckelysena"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"https://github.com/ckelysena/backup-n8n"},"filePath":"={{ $('Setar a data do Commit').first().json.PASTA_BACKUP }}{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=update-{{ $('Setar a data do Commit').first().json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1200,864],"id":"e1d0b06c-04ad-49f7-88ab-04598b68790c","name":"atualizar","webhookId":"ebf49be0-6798-4566-b91d-f5a393672ed9","credentials":{"githubApi":{"id":"6SGl8cpGNLDN9tZt","name":"GitHubAPI"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"ckelysena","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"https://github.com/ckelysena/backup-n8n"},"filePath":"={{ $('Setar a data do Commit').first().json.PASTA_BACKUP }}{{ $('ARQUIVO').first().json.ARQUIVO }}","fileContent":"={{ JSON.stringify($json, null, 2) }}","commitMessage":"backup-{{ $('Setar a data do Commit').first().json.commitDate }}","additionalParameters":{"branch":{"branch":"={{ $('Setar a data do Commit').first().json.BRANCH }}"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1136,640],"id":"ae81ceba-b379-4c0c-bb40-431149633881","name":"criar","webhookId":"d7129e27-51ce-4cb1-92d7-ed225b8efc2f","credentials":{"githubApi":{"id":"aL3tiaGMg6RbvHe1","name":"GitHub account"}}}],"connections":{"Move JSON to binary":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Setar a data do Commit":{"main":[[{"node":"Recupere os workflows [N8N]","type":"main","index":0}]]},"Sete a data":{"main":[[{"node":"Data formatada","type":"main","index":0}]]},"Data formatada":{"main":[[{"node":"Setar a data do Commit","type":"main","index":0}]]},"Recupere os workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"ARQUIVO","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ARQUIVO":{"main":[[{"node":"MERGE_CRIAR","type":"main","index":0},{"node":"MERGE_ATUALIZAR","type":"main","index":1},{"node":"Get a file","type":"main","index":0}]]},"If":{"main":[[{"node":"MERGE_CRIAR","type":"main","index":1}],[{"node":"MERGE_ATUALIZAR","type":"main","index":0}]]},"MERGE_CRIAR":{"main":[[{"node":"criar","type":"main","index":0}]]},"MERGE_ATUALIZAR":{"main":[[{"node":"atualizar","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Sete a data","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]},"atualizar":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"criar":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f1b131a6-368b-4415-bc69-989abf479a38","activeVersionId":"f1b131a6-368b-4415-bc69-989abf479a38","triggerCount":1,"shared":[{"updatedAt":"2026-05-06T02:23:22.157Z","createdAt":"2026-05-06T02:23:22.157Z","role":"workflow:owner","workflowId":"ISOdFm4R5xMAXO4VsrSbM","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":{"updatedAt":"2026-05-06T03:34:23.958Z","createdAt":"2026-05-06T03:32:42.165Z","versionId":"f1b131a6-368b-4415-bc69-989abf479a38","workflowId":"ISOdFm4R5xMAXO4VsrSbM","nodes":[{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"d7f39bde-abf5-4bb9-9204-48ea0ce0db04","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-128,672]},{"parameters":{"content":"## Acionar\nVocê pode alterá-lo para [gatilho \"Agendar\"](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) para fazer backups regularmente.","height":380,"width":182},"id":"3eb30da4-c249-4732-a65d-0a90797dec06","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1232,496]},{"parameters":{"content":"## Definir e formatar data/hora\nEsses nós são responsáveis ​​por definir a data e hora atuais no formato `dd/MM/yyyy Hh:mm`. Data e hora são usadas para compor mensagens de commit no GitLab, por exemplo: `backup-12/07/2023 14:18`.","height":379,"width":585},"id":"afa25f33-73dd-4abf-b00b-9c36f2e72b96","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-992,496]},{"parameters":{"content":"## Recupere os workflows\nObtenha todos os fluxos de trabalho da sua instância n8n. Lembre-se de que **suas credenciais precisam apontar para a instância da qual você deseja fazer backup.**","height":379,"width":424},"id":"9d3573ef-8776-492b-aa27-f54212d3ae74","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,512]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"},{"name":"GRUPO","value":"ckelysena"},{"name":"PROJETO","value":"backup-n8n"},{"name":"BRANCH","value":"main"},{"name":"PASTA_BACKUP","value":"workflows/"}]},"options":{}},"id":"fd30fa45-bfee-4f1e-8ac3-e463f642f2c1","name":"Setar a data do Commit","type":"n8n-nodes-base.set","typeVersion":2,"position":[-560,672]},{"parameters":{"options":{"timezone":"America/Sao_Paulo"}},"id":"ce8f9584-c81b-4066-b2ca-7142d1aa3edd","name":"Sete a data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-960,672]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd/MM/yyyy HH:mm","options":{"timezone":true}},"id":"7868ef40-6437-4594-ad18-12956b90a1ca","name":"Data formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-768,672]},{"parameters":{"filters":{"tags":"fluxo_ok"},"requestOptions":{}},"id":"cf47d48d-fdb0-448b-8614-c9acacb9b471","name":"Recupere os workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-336,672],"credentials":{"n8nApi":{"id":"YbToTr3NTJbrZFNr","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[64,672],"id":"04359e4b-05f6-4ce6-a1e4-71981f66ae4d","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1472,848],"id":"f5ba03de-2076-4bca-9c20-d529fbd7dabf"},{"parameters":{"content":"## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.","height":796,"width":1616},"id":"3f18d305-d9b3-46f6-98a8-c2080419b6ce","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[64,336]},{"parameters":{"assignments":{"assignments":[{"id":"31db09ad-455b-42bd-90b1-71c4533b6026","name":"ARQUIVO","value":"={{ $binary.data.fileName }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,688],"id":"7f96b284-5f39-4420-b9b3-742814e45c48","name":"ARQUIVO"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e4dd24f9-2bd2-4972-a222-becfcb95e2a1","leftValue":"={{ $json.error }}","rightValue":"could not be found","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,864],"id":"f1089b8c-15b6-49e7-8c39-c465c104f427","name":"If","executeOnce":false},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[864,656],"id":"2b6e2b3a-8adc-4dca-9847-d1d63c49caaf","name":"MERGE_CRIAR"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[976,848],"id":"f198bbe7-573b-4179-a80b-d205e7da6f96","name":"MERGE_ATUALIZAR"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1184,672],"id":"8088aa80-ec56-4b7a-8d9a-eb3c6f6eb01b","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"ckelysena","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"https://github.com/ckelysena/backup-n8n"},"filePath":"={{ $('Setar a data do Commit').first().json.PASTA_BACKUP }}{{ $binary.data.fileName }}","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[448,832],"id":"0a4c95a0-af04-4564-9b29-d82c3a9d2b6c","name":"Get a file","webhookId":"6bae1858-ad20-4b95-82f9-9e4c0aef9a41","alwaysOutputData":true,"credentials":{"githubApi":{"id":"aL3tiaGMg6RbvHe1","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"ckelysena","mode":"list","cachedResultName":"ckelysena","cachedResultUrl":"https://github.com/ckelysena"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"https://github.com/ckelysena/backup-n8n"},"filePath":"={{ $('Setar a data do Commit').first().json.PASTA_BACKUP }}{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=update-{{ $('Setar a data do Commit').first().json.commitDate }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1200,864],"id":"e1d0b06c-04ad-49f7-88ab-04598b68790c","name":"atualizar","webhookId":"ebf49be0-6798-4566-b91d-f5a393672ed9","credentials":{"githubApi":{"id":"6SGl8cpGNLDN9tZt","name":"GitHubAPI"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"ckelysena","mode":"name"},"repository":{"__rl":true,"value":"backup-n8n","mode":"list","cachedResultName":"backup-n8n","cachedResultUrl":"https://github.com/ckelysena/backup-n8n"},"filePath":"={{ $('Setar a data do Commit').first().json.PASTA_BACKUP }}{{ $('ARQUIVO').first().json.ARQUIVO }}","fileContent":"={{ JSON.stringify($json, null, 2) }}","commitMessage":"backup-{{ $('Setar a data do Commit').first().json.commitDate }}","additionalParameters":{"branch":{"branch":"={{ $('Setar a data do Commit').first().json.BRANCH }}"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1136,640],"id":"ae81ceba-b379-4c0c-bb40-431149633881","name":"criar","webhookId":"d7129e27-51ce-4cb1-92d7-ed225b8efc2f","credentials":{"githubApi":{"id":"aL3tiaGMg6RbvHe1","name":"GitHub account"}}}],"connections":{"Move JSON to binary":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Setar a data do Commit":{"main":[[{"node":"Recupere os workflows [N8N]","type":"main","index":0}]]},"Sete a data":{"main":[[{"node":"Data formatada","type":"main","index":0}]]},"Data formatada":{"main":[[{"node":"Setar a data do Commit","type":"main","index":0}]]},"Recupere os workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"ARQUIVO","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"ARQUIVO":{"main":[[{"node":"MERGE_CRIAR","type":"main","index":0},{"node":"MERGE_ATUALIZAR","type":"main","index":1},{"node":"Get a file","type":"main","index":0}]]},"If":{"main":[[{"node":"MERGE_CRIAR","type":"main","index":1}],[{"node":"MERGE_ATUALIZAR","type":"main","index":0}]]},"MERGE_CRIAR":{"main":[[{"node":"criar","type":"main","index":0}]]},"MERGE_ATUALIZAR":{"main":[[{"node":"atualizar","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Sete a data","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]},"atualizar":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"criar":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"authors":"Mickeliny ckely_sena@hotmail.com","name":"Version f1b131a6","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}