workflows/insumos-ZVofZYLFacKgmQj9.json
{"updatedAt":"2026-05-12T12:24:46.425Z","createdAt":"2026-05-12T00:36:07.095Z","id":"ZVofZYLFacKgmQj9","name":"INSUMOS","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-416,128],"id":"b578f6e0-a175-4393-8e06-c791cb7a37ef","name":"Schedule Trigger"},{"parameters":{"batchSize":100,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[256,112],"id":"ccbd8b20-717e-43d7-a6a9-f2c1b367b180","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[896,128],"id":"2578ac71-d563-4917-815e-055d955f7e69"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U","mode":"list","cachedResultName":"Formulário Insumos Labovida","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":845515152,"mode":"list","cachedResultName":"PEDIDOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit#gid=845515152"},"columns":{"mappingMode":"defineBelow","value":{"ATUALIZADO":"OK","row_number":"={{ $('Loop Over Items').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ITEM","displayName":"ITEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QUANTIDADE","displayName":"QUANTIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ATUALIZADO","displayName":"ATUALIZADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,128],"id":"8e7d2881-b385-4e3f-bd98-a057695f3c49","name":"PEGA PEDIDO1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U","mode":"list","cachedResultName":"Formulário Insumos Labovida","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":845515152,"mode":"list","cachedResultName":"PEDIDOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit#gid=845515152"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-208,128],"id":"ee716573-3988-47a3-9f58-dcceeedca85e","name":"PEGA form insumos","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0","mode":"list","cachedResultName":"ALMOXARIFADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":45569182,"mode":"list","cachedResultName":"INSUMOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit#gid=45569182"},"columns":{"mappingMode":"defineBelow","value":{"DATA COMPLETA":"={{ $json['DATA/HORA'] }}","SOLICITANTE":"={{ $json.EMAIL }}","POSTOS":"={{ $json.POSTO }}","INSUMOS":"={{ $json.ITEM }}","QT":"={{ $json.QUANTIDADE }}"},"matchingColumns":["DATA COMPLETA"],"schema":[{"id":"DATA COMPLETA","displayName":"DATA COMPLETA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SOLICITANTE","displayName":"SOLICITANTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTOS","displayName":"POSTOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"INSUMOS","displayName":"INSUMOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT","displayName":"QT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LIBERADO","displayName":"LIBERADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA LIBERADA","displayName":"DATA LIBERADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR A PAGAR","displayName":"VALOR A PAGAR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ÁREA","displayName":"NOME ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOTOQUEIRO","displayName":"MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VENDA/DOADO","displayName":"VENDA/DOADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ROTINA","displayName":"ROTINA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chave match form","displayName":"chave match form","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ITEM CORR","displayName":"ITEM CORR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linhas que se repete","displayName":"linhas que se repete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ÁREA SÁBADO","displayName":"NOME ÁREA SÁBADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[496,128],"id":"c3886d1a-5222-43d3-ad7c-f593da59767c","name":"adic almox","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"781bac85-e9f9-497e-8b5b-3fc4716985b6","leftValue":"={{ $json.ATUALIZADO }}","rightValue":"OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[0,128],"id":"3921abfc-87f9-45dc-ab49-e5d38930f1e9","name":"If"}],"connections":{"Schedule Trigger":{"main":[[{"node":"PEGA form insumos","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"adic almox","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"PEGA PEDIDO1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"PEGA form insumos":{"main":[[{"node":"If","type":"main","index":0}]]},"adic almox":{"main":[[{"node":"PEGA PEDIDO1","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveDataErrorExecution":"all"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"744be149-a36d-40d7-838d-662e4f0e7546","activeVersionId":"744be149-a36d-40d7-838d-662e4f0e7546","triggerCount":1,"shared":[{"updatedAt":"2026-05-12T00:36:07.098Z","createdAt":"2026-05-12T00:36:07.098Z","role":"workflow:owner","workflowId":"ZVofZYLFacKgmQj9","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-12T00:36:21.000Z","createdAt":"2026-05-12T00:36:18.493Z","versionId":"744be149-a36d-40d7-838d-662e4f0e7546","workflowId":"ZVofZYLFacKgmQj9","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-416,128],"id":"b578f6e0-a175-4393-8e06-c791cb7a37ef","name":"Schedule Trigger"},{"parameters":{"batchSize":100,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[256,112],"id":"ccbd8b20-717e-43d7-a6a9-f2c1b367b180","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[896,128],"id":"2578ac71-d563-4917-815e-055d955f7e69"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U","mode":"list","cachedResultName":"Formulário Insumos Labovida","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":845515152,"mode":"list","cachedResultName":"PEDIDOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit#gid=845515152"},"columns":{"mappingMode":"defineBelow","value":{"ATUALIZADO":"OK","row_number":"={{ $('Loop Over Items').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ITEM","displayName":"ITEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QUANTIDADE","displayName":"QUANTIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ATUALIZADO","displayName":"ATUALIZADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[704,128],"id":"8e7d2881-b385-4e3f-bd98-a057695f3c49","name":"PEGA PEDIDO1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U","mode":"list","cachedResultName":"Formulário Insumos Labovida","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":845515152,"mode":"list","cachedResultName":"PEDIDOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit#gid=845515152"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-208,128],"id":"ee716573-3988-47a3-9f58-dcceeedca85e","name":"PEGA form insumos","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0","mode":"list","cachedResultName":"ALMOXARIFADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":45569182,"mode":"list","cachedResultName":"INSUMOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit#gid=45569182"},"columns":{"mappingMode":"defineBelow","value":{"DATA COMPLETA":"={{ $json['DATA/HORA'] }}","SOLICITANTE":"={{ $json.EMAIL }}","POSTOS":"={{ $json.POSTO }}","INSUMOS":"={{ $json.ITEM }}","QT":"={{ $json.QUANTIDADE }}"},"matchingColumns":["DATA COMPLETA"],"schema":[{"id":"DATA COMPLETA","displayName":"DATA COMPLETA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SOLICITANTE","displayName":"SOLICITANTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTOS","displayName":"POSTOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"INSUMOS","displayName":"INSUMOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT","displayName":"QT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LIBERADO","displayName":"LIBERADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA LIBERADA","displayName":"DATA LIBERADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR A PAGAR","displayName":"VALOR A PAGAR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ÁREA","displayName":"NOME ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOTOQUEIRO","displayName":"MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VENDA/DOADO","displayName":"VENDA/DOADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ROTINA","displayName":"ROTINA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chave match form","displayName":"chave match form","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ITEM CORR","displayName":"ITEM CORR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linhas que se repete","displayName":"linhas que se repete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ÁREA SÁBADO","displayName":"NOME ÁREA SÁBADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[496,128],"id":"c3886d1a-5222-43d3-ad7c-f593da59767c","name":"adic almox","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"781bac85-e9f9-497e-8b5b-3fc4716985b6","leftValue":"={{ $json.ATUALIZADO }}","rightValue":"OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[0,128],"id":"3921abfc-87f9-45dc-ab49-e5d38930f1e9","name":"If"}],"connections":{"Schedule Trigger":{"main":[[{"node":"PEGA form insumos","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"adic almox","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"PEGA PEDIDO1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"PEGA form insumos":{"main":[[{"node":"If","type":"main","index":0}]]},"adic almox":{"main":[[{"node":"PEGA PEDIDO1","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version 744be149","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}