workflows/insumos-Bq-eTnnP3t_kUALqGluTJ.json
{"updatedAt":"2026-05-06T03:06:27.307Z","createdAt":"2026-03-08T21:35:31.548Z","id":"Bq-eTnnP3t_kUALqGluTJ","name":"INSUMOS","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-128,-176],"id":"834251aa-7058-44cc-99bd-172c9414e546","name":"Schedule Trigger"},{"parameters":{"batchSize":100,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,-192],"id":"b724cb0e-fa55-4c5c-ac3d-65fc99d9e795","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1184,-176],"id":"4986dabd-6ddc-4524-b6f7-e9dc7c74ff4c"},{"parameters":{"jsCode":"const items = $input.all();\n\n// filtra apenas os que NÃO estão com ATUALIZADO = OK\nconst filtrados = items.filter(item => {\n  const status = (item.json[\"ATUALIZADO\"] || \"\").toString().trim().toUpperCase();\n  return status !== \"OK\";\n});\n\nreturn filtrados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-496],"id":"db138664-5190-477e-9acb-22d5d3ed915c","name":"Code in JavaScript"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U","mode":"list","cachedResultName":"Formulário Insumos Labovida","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":845515152,"mode":"list","cachedResultName":"PEDIDOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit#gid=845515152"},"columns":{"mappingMode":"defineBelow","value":{"ATUALIZADO":"OK","row_number":"={{ $('Loop Over Items').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ITEM","displayName":"ITEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QUANTIDADE","displayName":"QUANTIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ATUALIZADO","displayName":"ATUALIZADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[992,-176],"id":"6e36e6c1-bc66-4a8b-b1c5-07ca3e1f859d","name":"PEGA PEDIDO1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U","mode":"list","cachedResultName":"Formulário Insumos Labovida","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":845515152,"mode":"list","cachedResultName":"PEDIDOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit#gid=845515152"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[80,-176],"id":"8ff30ee5-ef5d-4aad-8b42-ec6a29a02cf5","name":"PEGA form insumos","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0","mode":"list","cachedResultName":"ALMOXARIFADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":45569182,"mode":"list","cachedResultName":"INSUMOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit#gid=45569182"},"columns":{"mappingMode":"defineBelow","value":{"DATA COMPLETA":"={{ $json['DATA/HORA'] }}","SOLICITANTE":"={{ $json.EMAIL }}","POSTOS":"={{ $json.POSTO }}","INSUMOS":"={{ $json.ITEM }}","QT":"={{ $json.QUANTIDADE }}"},"matchingColumns":["DATA COMPLETA"],"schema":[{"id":"DATA COMPLETA","displayName":"DATA COMPLETA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SOLICITANTE","displayName":"SOLICITANTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTOS","displayName":"POSTOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"INSUMOS","displayName":"INSUMOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT","displayName":"QT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LIBERADO","displayName":"LIBERADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA LIBERADA","displayName":"DATA LIBERADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR A PAGAR","displayName":"VALOR A PAGAR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ÁREA","displayName":"NOME ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOTOQUEIRO","displayName":"MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VENDA/DOADO","displayName":"VENDA/DOADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ROTINA","displayName":"ROTINA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chave match form","displayName":"chave match form","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ITEM CORR","displayName":"ITEM CORR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linhas que se repete","displayName":"linhas que se repete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ÁREA SÁBADO","displayName":"NOME ÁREA SÁBADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[784,-176],"id":"2e666b71-e9ce-43f1-8b42-e2d9a13cd6f1","name":"adic almox","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"781bac85-e9f9-497e-8b5b-3fc4716985b6","leftValue":"={{ $json.ATUALIZADO }}","rightValue":"OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[288,-176],"id":"a5baa15a-f8e0-4500-9acc-71e94daa38c4","name":"If"}],"connections":{"Schedule Trigger":{"main":[[{"node":"PEGA form insumos","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"adic almox","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"PEGA PEDIDO1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"PEGA form insumos":{"main":[[{"node":"If","type":"main","index":0}]]},"adic almox":{"main":[[{"node":"PEGA PEDIDO1","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"774b8188-897e-4b62-a49e-c203511400c7","activeVersionId":"774b8188-897e-4b62-a49e-c203511400c7","triggerCount":1,"shared":[{"updatedAt":"2026-03-08T21:35:31.548Z","createdAt":"2026-03-08T21:35:31.548Z","role":"workflow:owner","workflowId":"Bq-eTnnP3t_kUALqGluTJ","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":{"updatedAt":"2026-05-05T17:38:34.384Z","createdAt":"2026-05-05T17:38:26.732Z","versionId":"774b8188-897e-4b62-a49e-c203511400c7","workflowId":"Bq-eTnnP3t_kUALqGluTJ","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-128,-176],"id":"834251aa-7058-44cc-99bd-172c9414e546","name":"Schedule Trigger"},{"parameters":{"batchSize":100,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,-192],"id":"b724cb0e-fa55-4c5c-ac3d-65fc99d9e795","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1184,-176],"id":"4986dabd-6ddc-4524-b6f7-e9dc7c74ff4c"},{"parameters":{"jsCode":"const items = $input.all();\n\n// filtra apenas os que NÃO estão com ATUALIZADO = OK\nconst filtrados = items.filter(item => {\n  const status = (item.json[\"ATUALIZADO\"] || \"\").toString().trim().toUpperCase();\n  return status !== \"OK\";\n});\n\nreturn filtrados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-496],"id":"db138664-5190-477e-9acb-22d5d3ed915c","name":"Code in JavaScript"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U","mode":"list","cachedResultName":"Formulário Insumos Labovida","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":845515152,"mode":"list","cachedResultName":"PEDIDOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit#gid=845515152"},"columns":{"mappingMode":"defineBelow","value":{"ATUALIZADO":"OK","row_number":"={{ $('Loop Over Items').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ITEM","displayName":"ITEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QUANTIDADE","displayName":"QUANTIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ATUALIZADO","displayName":"ATUALIZADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[992,-176],"id":"6e36e6c1-bc66-4a8b-b1c5-07ca3e1f859d","name":"PEGA PEDIDO1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U","mode":"list","cachedResultName":"Formulário Insumos Labovida","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":845515152,"mode":"list","cachedResultName":"PEDIDOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I7UOezJedZfcUy8J72zVv616ce48xom6iRmofmsrM9U/edit#gid=845515152"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[80,-176],"id":"8ff30ee5-ef5d-4aad-8b42-ec6a29a02cf5","name":"PEGA form insumos","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0","mode":"list","cachedResultName":"ALMOXARIFADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":45569182,"mode":"list","cachedResultName":"INSUMOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit#gid=45569182"},"columns":{"mappingMode":"defineBelow","value":{"DATA COMPLETA":"={{ $json['DATA/HORA'] }}","SOLICITANTE":"={{ $json.EMAIL }}","POSTOS":"={{ $json.POSTO }}","INSUMOS":"={{ $json.ITEM }}","QT":"={{ $json.QUANTIDADE }}"},"matchingColumns":["DATA COMPLETA"],"schema":[{"id":"DATA COMPLETA","displayName":"DATA COMPLETA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SOLICITANTE","displayName":"SOLICITANTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTOS","displayName":"POSTOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"INSUMOS","displayName":"INSUMOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT","displayName":"QT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LIBERADO","displayName":"LIBERADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA LIBERADA","displayName":"DATA LIBERADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR A PAGAR","displayName":"VALOR A PAGAR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ÁREA","displayName":"NOME ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOTOQUEIRO","displayName":"MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LOCAL","displayName":"LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VENDA/DOADO","displayName":"VENDA/DOADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ROTINA","displayName":"ROTINA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chave match form","displayName":"chave match form","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ITEM CORR","displayName":"ITEM CORR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linhas que se repete","displayName":"linhas que se repete","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ÁREA SÁBADO","displayName":"NOME ÁREA SÁBADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[784,-176],"id":"2e666b71-e9ce-43f1-8b42-e2d9a13cd6f1","name":"adic almox","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"781bac85-e9f9-497e-8b5b-3fc4716985b6","leftValue":"={{ $json.ATUALIZADO }}","rightValue":"OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[288,-176],"id":"a5baa15a-f8e0-4500-9acc-71e94daa38c4","name":"If"}],"connections":{"Schedule Trigger":{"main":[[{"node":"PEGA form insumos","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"adic almox","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"PEGA PEDIDO1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"PEGA form insumos":{"main":[[{"node":"If","type":"main","index":0}]]},"adic almox":{"main":[[{"node":"PEGA PEDIDO1","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"authors":"Mickeliny ckely_sena@hotmail.com","name":"Version 774b8188","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}