workflows/notificações-de-erro-–-produção-srwywxoMLUS-8v6W8Ft5w.json
{"updatedAt":"2026-05-06T03:11:37.017Z","createdAt":"2026-02-10T18:15:35.519Z","id":"srwywxoMLUS-8v6W8Ft5w","name":"Notificações de Erro – Produção","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"ac0b11f9-e718-41c3-8b96-e32283ce6da4","name":"Error Trigger"},{"parameters":{"jsCode":"const ev = $json;\n\n// Em várias versões do n8n, o erro/nó vem em lugares diferentes:\nconst exec = ev.execution ?? {};\nconst err  = exec.error ?? ev.error ?? {};\n\n// tenta achar o nó em múltiplos caminhos comuns\nconst nodeName =\n  err?.node?.name ??\n  err?.node?.type ??\n  ev?.node?.name ??\n  ev?.lastNodeExecuted ??\n  \"N/D\";\n\n// timestamp também varia; tenta vários e cai no agora\nconst rawTs =\n  ev.timestamp ??\n  ev.time ??\n  exec.startedAt ??\n  exec.stoppedAt ??\n  new Date().toISOString();\n\nconst when = isNaN(new Date(rawTs).getTime())\n  ? \"N/D\"\n  : new Date(rawTs).toLocaleString(\"pt-BR\");\n\nconst workflowName =\n  ev.workflow?.name ??\n  exec.workflowName ??\n  ev.workflowName ??\n  \"N/D\";\n\nconst executionId =\n  exec.id ??\n  ev.executionId ??\n  \"N/D\";\n\nconst message =\n  err.message ??\n  err.description ??\n  err.name ??\n  \"Sem mensagem de erro\";\n\nreturn [\n  {\n    json: {\n      mensagem:\n`🚨 *ERRO EM PRODUÇÃO*\n📌 Workflow: ${workflowName}\n🧩 Node: ${nodeName}\n🕒 Data: ${when}\n\n❌ Erro:\n${message}\n\n🆔 Execução:\n${executionId}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"efdec165-6255-4fae-9d20-7ece9764ba8c","name":"Code in JavaScript"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"={{ $json.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[416,0],"id":"f6158d3c-cae7-4660-9d5c-3645258ab630","name":"Enviar texto","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}}},{"parameters":{"jsCode":"const e = $json;\n\nreturn [\n  {\n    json: {\n      mensagem:\n`🚨 *ERRO EM PRODUÇÃO*\n📌 Workflow: ${e.workflow?.name}\n🧩 Node: ${e.node?.name}\n🕒 Data: ${new Date(e.timestamp).toLocaleString(\"pt-BR\")}\n\n❌ Erro:\n${e.error?.message}\n\n🆔 Execução:\n${e.execution?.id}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,192],"id":"390b2955-9925-4542-a075-0ac559f1d9c9","name":"Code in JavaScript1","disabled":true}],"connections":{"Error Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"7f50d932-36dd-4771-bc01-ec16c63037da","activeVersionId":"7f50d932-36dd-4771-bc01-ec16c63037da","triggerCount":0,"shared":[{"updatedAt":"2026-02-10T18:15:35.519Z","createdAt":"2026-02-10T18:15:35.519Z","role":"workflow:owner","workflowId":"srwywxoMLUS-8v6W8Ft5w","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":{"updatedAt":"2026-04-15T10:58:12.260Z","createdAt":"2026-02-12T16:11:25.377Z","versionId":"7f50d932-36dd-4771-bc01-ec16c63037da","workflowId":"srwywxoMLUS-8v6W8Ft5w","nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"ac0b11f9-e718-41c3-8b96-e32283ce6da4","name":"Error Trigger"},{"parameters":{"jsCode":"const ev = $json;\n\n// Em várias versões do n8n, o erro/nó vem em lugares diferentes:\nconst exec = ev.execution ?? {};\nconst err  = exec.error ?? ev.error ?? {};\n\n// tenta achar o nó em múltiplos caminhos comuns\nconst nodeName =\n  err?.node?.name ??\n  err?.node?.type ??\n  ev?.node?.name ??\n  ev?.lastNodeExecuted ??\n  \"N/D\";\n\n// timestamp também varia; tenta vários e cai no agora\nconst rawTs =\n  ev.timestamp ??\n  ev.time ??\n  exec.startedAt ??\n  exec.stoppedAt ??\n  new Date().toISOString();\n\nconst when = isNaN(new Date(rawTs).getTime())\n  ? \"N/D\"\n  : new Date(rawTs).toLocaleString(\"pt-BR\");\n\nconst workflowName =\n  ev.workflow?.name ??\n  exec.workflowName ??\n  ev.workflowName ??\n  \"N/D\";\n\nconst executionId =\n  exec.id ??\n  ev.executionId ??\n  \"N/D\";\n\nconst message =\n  err.message ??\n  err.description ??\n  err.name ??\n  \"Sem mensagem de erro\";\n\nreturn [\n  {\n    json: {\n      mensagem:\n`🚨 *ERRO EM PRODUÇÃO*\n📌 Workflow: ${workflowName}\n🧩 Node: ${nodeName}\n🕒 Data: ${when}\n\n❌ Erro:\n${message}\n\n🆔 Execução:\n${executionId}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"efdec165-6255-4fae-9d20-7ece9764ba8c","name":"Code in JavaScript"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"={{ $json.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[416,0],"id":"f6158d3c-cae7-4660-9d5c-3645258ab630","name":"Enviar texto","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}}},{"parameters":{"jsCode":"const e = $json;\n\nreturn [\n  {\n    json: {\n      mensagem:\n`🚨 *ERRO EM PRODUÇÃO*\n📌 Workflow: ${e.workflow?.name}\n🧩 Node: ${e.node?.name}\n🕒 Data: ${new Date(e.timestamp).toLocaleString(\"pt-BR\")}\n\n❌ Erro:\n${e.error?.message}\n\n🆔 Execução:\n${e.execution?.id}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,192],"id":"390b2955-9925-4542-a075-0ac559f1d9c9","name":"Code in JavaScript1","disabled":true}],"connections":{"Error Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"authors":"Mickeliny ckely_sena@hotmail.com","name":"Version 7f50d932","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}