workflows/notificações-de-erro-–-produção-1jxaj9raKLgo2JA5.json
{"updatedAt":"2026-07-08T16:22:25.923Z","createdAt":"2026-05-10T23:07:58.578Z","id":"1jxaj9raKLgo2JA5","name":"Notificações de Erro – Produção","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const e = $json;\n\nreturn [\n  {\n    json: {\n      mensagem:\n`🚨 *ERRO EM PRODUÇÃO*\n📌 Workflow: ${e.workflow?.name}\n🧩 Node: ${e.node?.name}\n🕒 Data: ${new Date(e.timestamp).toLocaleString(\"pt-BR\")}\n\n❌ Erro:\n${e.error?.message}\n\n🆔 Execução:\n${e.execution?.id}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,208],"id":"a5a31233-48cf-4091-b65e-50eb270f4389","name":"Code in JavaScript1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"52cc06fc-c47e-4cf8-b7d2-3796ddf70f13","name":"API_KEY","value":"031B4B41EEFF-4109-A5F2-163D986DA568","type":"string"},{"id":"cba847f9-1c74-4b27-90e1-5d495fe5426d","name":"INSTANCE","value":"labovida","type":"string"},{"id":"25dc224b-d209-4581-9674-a05e8edce131","name":"URL","value":"http://n8n:5678/webhook/labovida","type":"string"},{"id":"ee06ff32-d112-4059-8b98-d21ef2393167","name":"ID_GRUPO","value":"120363406086322772@g.us","type":"string"},{"id":"7051070e-1c6b-4116-a3bf-5864ebf626aa","name":"RPA REASSARCIMETO","value":"=🚨🚨ALERTA!!🚨🚨\nFALHA NO FLUXO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,208],"id":"c2d9d49a-42bf-4623-ac8d-73823bf4bb74","name":"VARIAVEIS"},{"parameters":{"method":"POST","url":"=http://n8n:5678/webhook/labovida/message/sendText/{{ $json.INSTANCE }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.ID_GRUPO }}"},{"name":"text","value":"={{ $json['RPA REASSARCIMETO'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,208],"id":"d90e3acb-70df-45d7-97ae-027191529101","name":"EVOLUTION_API"},{"parameters":{"jsCode":"const ev = $json;\n\n// Em várias versões do n8n, o erro/nó vem em lugares diferentes:\nconst exec = ev.execution ?? {};\nconst err  = exec.error ?? ev.error ?? {};\n\n// tenta achar o nó em múltiplos caminhos comuns\nconst nodeName =\n  err?.node?.name ??\n  err?.node?.type ??\n  ev?.node?.name ??\n  ev?.lastNodeExecuted ??\n  \"N/D\";\n\n// timestamp também varia; tenta vários e cai no agora\nconst rawTs =\n  ev.timestamp ??\n  ev.time ??\n  exec.startedAt ??\n  exec.stoppedAt ??\n  new Date().toISOString();\n\nconst when = isNaN(new Date(rawTs).getTime())\n  ? \"N/D\"\n  : new Date(rawTs).toLocaleString(\"pt-BR\");\n\nconst workflowName =\n  ev.workflow?.name ??\n  exec.workflowName ??\n  ev.workflowName ??\n  \"N/D\";\n\nconst executionId =\n  exec.id ??\n  ev.executionId ??\n  \"N/D\";\n\nconst message =\n  err.message ??\n  err.description ??\n  err.name ??\n  \"Sem mensagem de erro\";\n\nreturn [\n  {\n    json: {\n      mensagem:\n`🚨 *ERRO EM PRODUÇÃO*\n📌 Workflow: ${workflowName}\n🧩 Node: ${nodeName}\n🕒 Data: ${when}\n\n❌ Erro:\n${message}\n\n🆔 Execução:\n${executionId}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,512],"id":"68e4edb9-7817-4125-923e-43d9d64ed099","name":"Code in JavaScript2"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=5581995383331","messageText":"=teste","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[496,400],"id":"9a6b5d0f-55aa-4ee8-9e55-416029a144dd","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[80,512],"id":"5fe2a72e-dc37-4494-a110-8349523ac6ae","name":"Error Trigger"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"={{ $json.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[496,544],"id":"ecd4e52b-bfdb-44b2-ad16-f8415b8293ac","name":"Enviar texto","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}}}],"connections":{"VARIAVEIS":{"main":[[{"node":"EVOLUTION_API","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"da4d68d7-3657-4d38-9043-0a73f34b3d88","activeVersionId":"da4d68d7-3657-4d38-9043-0a73f34b3d88","triggerCount":0,"shared":[{"updatedAt":"2026-05-10T23:07:58.581Z","createdAt":"2026-05-10T23:07:58.581Z","role":"workflow:owner","workflowId":"1jxaj9raKLgo2JA5","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-07-08T16:22:31.000Z","createdAt":"2026-07-08T16:22:25.441Z","versionId":"da4d68d7-3657-4d38-9043-0a73f34b3d88","workflowId":"1jxaj9raKLgo2JA5","nodes":[{"parameters":{"jsCode":"const e = $json;\n\nreturn [\n  {\n    json: {\n      mensagem:\n`🚨 *ERRO EM PRODUÇÃO*\n📌 Workflow: ${e.workflow?.name}\n🧩 Node: ${e.node?.name}\n🕒 Data: ${new Date(e.timestamp).toLocaleString(\"pt-BR\")}\n\n❌ Erro:\n${e.error?.message}\n\n🆔 Execução:\n${e.execution?.id}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,208],"id":"a5a31233-48cf-4091-b65e-50eb270f4389","name":"Code in JavaScript1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"52cc06fc-c47e-4cf8-b7d2-3796ddf70f13","name":"API_KEY","value":"031B4B41EEFF-4109-A5F2-163D986DA568","type":"string"},{"id":"cba847f9-1c74-4b27-90e1-5d495fe5426d","name":"INSTANCE","value":"labovida","type":"string"},{"id":"25dc224b-d209-4581-9674-a05e8edce131","name":"URL","value":"http://n8n:5678/webhook/labovida","type":"string"},{"id":"ee06ff32-d112-4059-8b98-d21ef2393167","name":"ID_GRUPO","value":"120363406086322772@g.us","type":"string"},{"id":"7051070e-1c6b-4116-a3bf-5864ebf626aa","name":"RPA REASSARCIMETO","value":"=🚨🚨ALERTA!!🚨🚨\nFALHA NO FLUXO","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,208],"id":"c2d9d49a-42bf-4623-ac8d-73823bf4bb74","name":"VARIAVEIS"},{"parameters":{"method":"POST","url":"=http://n8n:5678/webhook/labovida/message/sendText/{{ $json.INSTANCE }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $json.ID_GRUPO }}"},{"name":"text","value":"={{ $json['RPA REASSARCIMETO'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,208],"id":"d90e3acb-70df-45d7-97ae-027191529101","name":"EVOLUTION_API"},{"parameters":{"jsCode":"const ev = $json;\n\n// Em várias versões do n8n, o erro/nó vem em lugares diferentes:\nconst exec = ev.execution ?? {};\nconst err  = exec.error ?? ev.error ?? {};\n\n// tenta achar o nó em múltiplos caminhos comuns\nconst nodeName =\n  err?.node?.name ??\n  err?.node?.type ??\n  ev?.node?.name ??\n  ev?.lastNodeExecuted ??\n  \"N/D\";\n\n// timestamp também varia; tenta vários e cai no agora\nconst rawTs =\n  ev.timestamp ??\n  ev.time ??\n  exec.startedAt ??\n  exec.stoppedAt ??\n  new Date().toISOString();\n\nconst when = isNaN(new Date(rawTs).getTime())\n  ? \"N/D\"\n  : new Date(rawTs).toLocaleString(\"pt-BR\");\n\nconst workflowName =\n  ev.workflow?.name ??\n  exec.workflowName ??\n  ev.workflowName ??\n  \"N/D\";\n\nconst executionId =\n  exec.id ??\n  ev.executionId ??\n  \"N/D\";\n\nconst message =\n  err.message ??\n  err.description ??\n  err.name ??\n  \"Sem mensagem de erro\";\n\nreturn [\n  {\n    json: {\n      mensagem:\n`🚨 *ERRO EM PRODUÇÃO*\n📌 Workflow: ${workflowName}\n🧩 Node: ${nodeName}\n🕒 Data: ${when}\n\n❌ Erro:\n${message}\n\n🆔 Execução:\n${executionId}`\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,512],"id":"68e4edb9-7817-4125-923e-43d9d64ed099","name":"Code in JavaScript2"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=5581995383331","messageText":"=teste","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[496,400],"id":"9a6b5d0f-55aa-4ee8-9e55-416029a144dd","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}}},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[80,512],"id":"5fe2a72e-dc37-4494-a110-8349523ac6ae","name":"Error Trigger"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"={{ $json.mensagem }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[496,544],"id":"ecd4e52b-bfdb-44b2-ad16-f8415b8293ac","name":"Enviar texto","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}}}],"connections":{"VARIAVEIS":{"main":[[{"node":"EVOLUTION_API","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version da4d68d7","description":"","autosaved":false},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}