workflows/recepcaosolicitacaopendencia-X7L-gS0aNPFz9vMERup3y.json
{"updatedAt":"2026-05-06T03:09:06.885Z","createdAt":"2026-04-15T10:45:06.674Z","id":"X7L-gS0aNPFz9vMERup3y","name":"RecepcaoSolicitacaoPendencia","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-64,368],"id":"fc9b1466-243f-4b1b-89cd-d16713ba8fc2","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b81802-1656-4e8b-b85d-80b128e37cc6","leftValue":"={{ $json['PROCURAR MATERIAL?'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['ENCONTRADO POR'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"b85b5594-7c99-497b-9eb4-44d5354a9103","leftValue":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"4dbc5b12-add7-4efa-8288-0f371746436f","leftValue":"={{ $json['Observações (Detalhes sobre a pendência)'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,368],"id":"591d9122-f49c-4a1c-a0d9-f1cae2898a05","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }} - {{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[336,352],"id":"32c2d774-f570-4efc-9dc6-544c315f7498","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"sendTo":"vivianelabovida@gmail.com, thayssalabovida@gmail.com, ricardolabovida@gmail.com, dulcelabovida@gmail.com, aggneslabovida@gmail.com, emileidelabovida@gmail.com, fatimaalabovida@gmail.com, jenniferlabovida@gmail.com","subject":"=Pendências de Material REG  {{ $json['Registro do Paciente'] }}","message":"=<p>\nSolicito que procure o Registro\n<b>{{ $json['Registro do Paciente'] }}</b>\ndo Dia\n<b> {{ $json['Data do Cadastro'] }}   </b>\ndo Posto\n<b> {{ $json['Número do Posto'] }} </b>.\n</p>\n\n<p>\nAssim que encontrar o material, preencher a planilha com o nome da pessoa que encontrou e entregar ao Setor Técnico.\n</p>\n\n<p>\nCaso não encontre o material, colocar na coluna Observações (Detalhes sobre a pendência):\n<b>MATERIAL NÃO ENCONTRADO</b>.\n</p>\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1216,368],"id":"41be2c23-cb28-46f0-a56e-541fb3525094","name":"Gmail","webhookId":"c36b4a3c-00de-4891-b004-bff4d32e00e5","credentials":{"gmailOAuth2":{"id":"ig56gggZAM3Lpmug","name":"Gmail account"}},"disabled":true},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-544,384],"id":"84f61c7b-bb5d-4d15-bfdd-3f0929ca1c59","name":"Schedule Trigger1"},{"parameters":{"content":"# RECEPÇÃO\n## VERIFICAR SE FOI SOLICITADO *PROCURAR MATERIAL* E AINDA NÃO FOI ENCONTRADO PELA TRIAGEM.\n## PREENCHE A COLUNA *DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA*\n## MANDA MENSAGEM PARA TRIAGEM, CASO A TRIAGEM NÃO TENHA COLOCADO A DATA DE ENCONTRADA.","height":628,"width":2800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-128,-48],"id":"bc85f773-76b5-497c-a225-a51e307c3b82","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[800,352],"id":"5e5e86d0-b21f-46c1-ab03-47407c548374","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1552,368],"id":"69f6765d-4065-4a77-9746-a87209172efe"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","lookupValue":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1040,368],"id":"88d5f075-3362-45ff-938e-9999b31425c7","name":"Google Sheets9","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"=O Setor da Recepção enviou o registro {{ $('Google Sheets9').item.json['Registro do Paciente'] }} para que a triagem procure\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1360,368],"id":"a1ecdcaf-69d6-4d40-aa0a-12122914530a","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"content":"#### GATILHO A CADA 1 MINUTO DAS 7 AS 23 DE SEGUNDA A SÁBADO","height":244,"width":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-624,288],"id":"8a449413-ab3f-488f-a5ef-5f906df1e244","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9c1e15b2-1b94-4d1a-bda0-1f8fd125dbc7","leftValue":"={{ $('If').item.json['Observações (Detalhes sobre a pendência)'] }}","rightValue":"[tT][eEéÉ][cC][nN][iI][cC][oO]","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[528,336],"id":"255da953-1ecf-4588-991c-dc319db182fd","name":"If1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","Data do Cadastro":"={{ $('If').item.json['Data do Cadastro'] }}","ÁREA":"={{ $('If').item.json['ÁREA'] }}","Registro do Paciente":"={{ $('If').item.json['Registro do Paciente'] }}","Número do Posto":"={{ $('If').item.json['Número do Posto'] }}","Nome Completo do Paciente":"={{ $('If').item.json['Nome Completo do Paciente'] }}","SIGLA":"={{ $('If').item.json.SIGLA }}","DESCRIÇÃO DO EXAME":"={{ $('If').item.json['DESCRIÇÃO DO EXAME'] }}","LINHAS QUE SE REPETEM ":"={{ $('If').item.json['LINHAS QUE SE REPETEM '] }}","STATUS DA AMOSTRA":"={{ $('If').item.json['STATUS DA AMOSTRA'] }}","SISTEMA":"={{ $('If').item.json.SISTEMA }}","DATA RESULTADO":"=","PROCURAR MATERIAL?":"={{ $('If').item.json['PROCURAR MATERIAL?'] }}","Observações (Detalhes sobre a pendência)":"={{ $('If').item.json['Observações (Detalhes sobre a pendência)'] }}","DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","ENCONTRADO POR":"=NÃO PASSOU PELA TRIAGEM","DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA":"={{ $('If').item.json['DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA'] }}","OBSERVAÇÕES ÁREA TRIAGEM":"=NÃO PASSOU PELA TRIAGEM"},"matchingColumns":[],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[928,192],"id":"f6e3bbcc-5418-4e90-87da-8e76b0e0444a","name":"Preenche planilha técnico1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1840,160],"id":"24827427-db28-4e04-ad60-9b0791cc1015","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2512,176],"id":"2f6d13a0-629d-455d-ba05-2a21163a14cc"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"=O Setor Técnico avaliou o registro {{ $json['Registro do Paciente'] }}\n\nO Dr(a) {{ $json['REALIZADO POR '] }} informa que:\n\n{{ $json['OBSERVAÇÕES ÁREA TÉCNICA'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2080,176],"id":"af73699f-c507-4430-b4cc-cc1d705c4699","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}},"disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $('Loop Over Items').item.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","CONTROLE ENVIO MENSAGEM":"=ENVIADO"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2304,176],"id":"30d1fb52-3950-4b86-8a4e-7d839d439546","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1120,192],"id":"019d439a-8bb6-4e82-82be-bed45b67354e","name":"RETORNA PLANILHA TÉCNICO3","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"de1b19fe-0a6c-4bdd-bde2-19022cc0bcd2","leftValue":"={{ $json['CONTROLE ENVIO MENSAGEM'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1552,176],"id":"a0d60639-4c35-4904-979f-0212b5a33487","name":"JÁ FOI ENVIADO A MENSAGEM?3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8db36758-05df-48c6-926c-14b09a805028","leftValue":"={{ $json['DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1296,192],"id":"bfb6b9c8-e790-44ef-a361-b33bf9ce0b08","name":"If3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,176],"id":"b7b6ccf4-d49b-4e76-b312-cb6681f82818","name":"Loop Over Items3"}],"connections":{"Google Sheets3":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"If1","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Google Sheets9","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Sheets9":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Preenche planilha técnico1":{"main":[[{"node":"RETORNA PLANILHA TÉCNICO3","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Enviar texto3","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"RETORNA PLANILHA TÉCNICO3":{"main":[[{"node":"If3","type":"main","index":0}]]},"JÁ FOI ENVIADO A MENSAGEM?3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If3":{"main":[[{"node":"JÁ FOI ENVIADO A MENSAGEM?3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Preenche planilha técnico1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w"},"staticData":null,"meta":null,"pinData":{"Schedule Trigger1":[{"json":{"timestamp":"2026-04-02T11:32:20.034-03:00","Readable date":"April 2nd 2026, 11:32:20 am","Readable time":"11:32:20 am","Day of week":"Thursday","Year":"2026","Month":"April","Day of month":"02","Hour":"11","Minute":"32","Second":"20","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"88d21abd-25ab-4ce5-aa92-bf40558ada4e","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-15T10:45:06.674Z","createdAt":"2026-04-15T10:45:06.674Z","role":"workflow:owner","workflowId":"X7L-gS0aNPFz9vMERup3y","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}