workflows/recepcaosolicitacaopendencia-3E4fbftnVbgbFlvj.json
{"updatedAt":"2026-05-15T03:06:56.837Z","createdAt":"2026-05-11T23:33:43.014Z","id":"3E4fbftnVbgbFlvj","name":"RecepcaoSolicitacaoPendencia","active":true,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[64,416],"id":"b9c2f0f0-d140-47e1-8d19-6adc3bf84d6b","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b81802-1656-4e8b-b85d-80b128e37cc6","leftValue":"={{ $json['PROCURAR MATERIAL?'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['ENCONTRADO POR'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"b85b5594-7c99-497b-9eb4-44d5354a9103","leftValue":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"4dbc5b12-add7-4efa-8288-0f371746436f","leftValue":"={{ $json['Observações (Detalhes sobre a pendência)'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,416],"id":"66fcbc11-be0a-435a-bc1d-86bc32569002","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }} - {{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[464,400],"id":"59791006-d18f-485b-97f5-9fac0f88d046","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"sendTo":"vivianelabovida@gmail.com, thayssalabovida@gmail.com, ricardolabovida@gmail.com, dulcelabovida@gmail.com, aggneslabovida@gmail.com, emileidelabovida@gmail.com, fatimaalabovida@gmail.com, jenniferlabovida@gmail.com","subject":"=Pendências de Material REG  {{ $json['Registro do Paciente'] }}","message":"=<p>\nSolicito que procure o Registro\n<b>{{ $json['Registro do Paciente'] }}</b>\ndo Dia\n<b> {{ $json['Data do Cadastro'] }}   </b>\ndo Posto\n<b> {{ $json['Número do Posto'] }} </b>.\n</p>\n\n<p>\nAssim que encontrar o material, preencher a planilha com o nome da pessoa que encontrou e entregar ao Setor Técnico.\n</p>\n\n<p>\nCaso não encontre o material, colocar na coluna Observações (Detalhes sobre a pendência):\n<b>MATERIAL NÃO ENCONTRADO</b>.\n</p>\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1344,416],"id":"9eb1cfa8-f487-48d9-81f7-fa0ee305bb44","name":"Gmail","webhookId":"c36b4a3c-00de-4891-b004-bff4d32e00e5","disabled":true},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-416,432],"id":"66fbbd72-08c2-46d0-a67b-cfb9ce7a3a7a","name":"Schedule Trigger1"},{"parameters":{"content":"# RECEPÇÃO\n## VERIFICAR SE FOI SOLICITADO *PROCURAR MATERIAL* E AINDA NÃO FOI ENCONTRADO PELA TRIAGEM.\n## PREENCHE A COLUNA *DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA*\n## MANDA MENSAGEM PARA TRIAGEM, CASO A TRIAGEM NÃO TENHA COLOCADO A DATA DE ENCONTRADA.","height":628,"width":2800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"c0f24929-d564-4992-87d3-e3bd02ab5098","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[928,400],"id":"fc3ce81c-ea0b-482f-9209-82f69d88eaf9","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1680,416],"id":"901adcd4-ce18-4c50-9281-428b6daf9070"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","lookupValue":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1168,416],"id":"efee3347-9e1c-4054-a2f7-96f85c20c879","name":"Google Sheets9","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"=O Setor da Recepção enviou o registro {{ $('Google Sheets9').item.json['Registro do Paciente'] }} para que a triagem procure\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1488,416],"id":"2dcdd639-25fc-4524-889a-6441d116ae42","name":"Enviar texto2","disabled":true,"onError":"continueRegularOutput"},{"parameters":{"content":"#### GATILHO A CADA 1 MINUTO DAS 7 AS 23 DE SEGUNDA A SÁBADO","height":244,"width":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-496,336],"id":"d91d3667-7bfa-4c4e-aadd-0fad0edc272f","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9c1e15b2-1b94-4d1a-bda0-1f8fd125dbc7","leftValue":"={{ $('If').item.json['Observações (Detalhes sobre a pendência)'] }}","rightValue":"[tT][eEéÉ][cC][nN][iI][cC][oO]","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[656,384],"id":"adb730f5-1894-4967-a560-ba089dc411d5","name":"If1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","Data do Cadastro":"={{ $('If').item.json['Data do Cadastro'] }}","ÁREA":"={{ $('If').item.json['ÁREA'] }}","Registro do Paciente":"={{ $('If').item.json['Registro do Paciente'] }}","Número do Posto":"={{ $('If').item.json['Número do Posto'] }}","Nome Completo do Paciente":"={{ $('If').item.json['Nome Completo do Paciente'] }}","SIGLA":"={{ $('If').item.json.SIGLA }}","DESCRIÇÃO DO EXAME":"={{ $('If').item.json['DESCRIÇÃO DO EXAME'] }}","LINHAS QUE SE REPETEM ":"={{ $('If').item.json['LINHAS QUE SE REPETEM '] }}","STATUS DA AMOSTRA":"={{ $('If').item.json['STATUS DA AMOSTRA'] }}","SISTEMA":"={{ $('If').item.json.SISTEMA }}","DATA RESULTADO":"=","PROCURAR MATERIAL?":"={{ $('If').item.json['PROCURAR MATERIAL?'] }}","Observações (Detalhes sobre a pendência)":"={{ $('If').item.json['Observações (Detalhes sobre a pendência)'] }}","DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","ENCONTRADO POR":"=NÃO PASSOU PELA TRIAGEM","DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA":"={{ $('If').item.json['DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA'] }}","OBSERVAÇÕES ÁREA TRIAGEM":"=NÃO PASSOU PELA TRIAGEM"},"matchingColumns":[],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1056,240],"id":"5f8abb21-0442-4e5c-88b1-df102b5ea02a","name":"Preenche planilha técnico1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1968,208],"id":"81168aff-6a85-4734-b5a1-4f3e285cbba4","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2640,224],"id":"f4aa0af8-7564-444c-a24e-4f98cc1b9a78"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"=O Setor Técnico avaliou o registro {{ $json['Registro do Paciente'] }}\n\nO Dr(a) {{ $json['REALIZADO POR '] }} informa que:\n\n{{ $json['OBSERVAÇÕES ÁREA TÉCNICA'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2208,224],"id":"6cd1f06e-3682-4ee3-a430-cd33782573c5","name":"Enviar texto3","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $('Loop Over Items').item.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","CONTROLE ENVIO MENSAGEM":"=ENVIADO"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2432,224],"id":"fac8b73e-b9cd-4b3a-bc2e-c1ba5dd295a2","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1248,240],"id":"0ee7bb5d-2e14-4478-9d13-b5c749cb076d","name":"RETORNA PLANILHA TÉCNICO3","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"de1b19fe-0a6c-4bdd-bde2-19022cc0bcd2","leftValue":"={{ $json['CONTROLE ENVIO MENSAGEM'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1680,224],"id":"1860ae88-3007-42ef-9914-ad7e307a579d","name":"JÁ FOI ENVIADO A MENSAGEM?3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8db36758-05df-48c6-926c-14b09a805028","leftValue":"={{ $json['DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1424,240],"id":"b334df70-a300-4e3f-96af-0c149cd7856e","name":"If3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[832,224],"id":"f1a07d48-6bdc-4150-a547-5b7a066d4473","name":"Loop Over Items3"}],"connections":{"Google Sheets3":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"If1","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Google Sheets9","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Sheets9":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Preenche planilha técnico1":{"main":[[{"node":"RETORNA PLANILHA TÉCNICO3","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Enviar texto3","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"RETORNA PLANILHA TÉCNICO3":{"main":[[{"node":"If3","type":"main","index":0}]]},"JÁ FOI ENVIADO A MENSAGEM?3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If3":{"main":[[{"node":"JÁ FOI ENVIADO A MENSAGEM?3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Preenche planilha técnico1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"f63029b5-d707-461f-9fc4-d7028244a643","activeVersionId":"f63029b5-d707-461f-9fc4-d7028244a643","triggerCount":1,"shared":[{"updatedAt":"2026-05-11T23:33:43.017Z","createdAt":"2026-05-11T23:33:43.017Z","role":"workflow:owner","workflowId":"3E4fbftnVbgbFlvj","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-11T23:34:32.000Z","createdAt":"2026-05-11T23:34:26.905Z","versionId":"f63029b5-d707-461f-9fc4-d7028244a643","workflowId":"3E4fbftnVbgbFlvj","nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[64,416],"id":"b9c2f0f0-d140-47e1-8d19-6adc3bf84d6b","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b81802-1656-4e8b-b85d-80b128e37cc6","leftValue":"={{ $json['PROCURAR MATERIAL?'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['ENCONTRADO POR'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"b85b5594-7c99-497b-9eb4-44d5354a9103","leftValue":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"4dbc5b12-add7-4efa-8288-0f371746436f","leftValue":"={{ $json['Observações (Detalhes sobre a pendência)'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,416],"id":"66fcbc11-be0a-435a-bc1d-86bc32569002","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }} - {{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[464,400],"id":"59791006-d18f-485b-97f5-9fac0f88d046","name":"Google Sheets4","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"sendTo":"vivianelabovida@gmail.com, thayssalabovida@gmail.com, ricardolabovida@gmail.com, dulcelabovida@gmail.com, aggneslabovida@gmail.com, emileidelabovida@gmail.com, fatimaalabovida@gmail.com, jenniferlabovida@gmail.com","subject":"=Pendências de Material REG  {{ $json['Registro do Paciente'] }}","message":"=<p>\nSolicito que procure o Registro\n<b>{{ $json['Registro do Paciente'] }}</b>\ndo Dia\n<b> {{ $json['Data do Cadastro'] }}   </b>\ndo Posto\n<b> {{ $json['Número do Posto'] }} </b>.\n</p>\n\n<p>\nAssim que encontrar o material, preencher a planilha com o nome da pessoa que encontrou e entregar ao Setor Técnico.\n</p>\n\n<p>\nCaso não encontre o material, colocar na coluna Observações (Detalhes sobre a pendência):\n<b>MATERIAL NÃO ENCONTRADO</b>.\n</p>\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1344,416],"id":"9eb1cfa8-f487-48d9-81f7-fa0ee305bb44","name":"Gmail","webhookId":"c36b4a3c-00de-4891-b004-bff4d32e00e5","disabled":true},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-416,432],"id":"66fbbd72-08c2-46d0-a67b-cfb9ce7a3a7a","name":"Schedule Trigger1"},{"parameters":{"content":"# RECEPÇÃO\n## VERIFICAR SE FOI SOLICITADO *PROCURAR MATERIAL* E AINDA NÃO FOI ENCONTRADO PELA TRIAGEM.\n## PREENCHE A COLUNA *DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA*\n## MANDA MENSAGEM PARA TRIAGEM, CASO A TRIAGEM NÃO TENHA COLOCADO A DATA DE ENCONTRADA.","height":628,"width":2800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"c0f24929-d564-4992-87d3-e3bd02ab5098","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[928,400],"id":"fc3ce81c-ea0b-482f-9209-82f69d88eaf9","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1680,416],"id":"901adcd4-ce18-4c50-9281-428b6daf9070"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","lookupValue":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1168,416],"id":"efee3347-9e1c-4054-a2f7-96f85c20c879","name":"Google Sheets9","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"=O Setor da Recepção enviou o registro {{ $('Google Sheets9').item.json['Registro do Paciente'] }} para que a triagem procure\n","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1488,416],"id":"2dcdd639-25fc-4524-889a-6441d116ae42","name":"Enviar texto2","disabled":true,"onError":"continueRegularOutput"},{"parameters":{"content":"#### GATILHO A CADA 1 MINUTO DAS 7 AS 23 DE SEGUNDA A SÁBADO","height":244,"width":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-496,336],"id":"d91d3667-7bfa-4c4e-aadd-0fad0edc272f","name":"Sticky Note4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9c1e15b2-1b94-4d1a-bda0-1f8fd125dbc7","leftValue":"={{ $('If').item.json['Observações (Detalhes sobre a pendência)'] }}","rightValue":"[tT][eEéÉ][cC][nN][iI][cC][oO]","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[656,384],"id":"adb730f5-1894-4967-a560-ba089dc411d5","name":"If1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","Data do Cadastro":"={{ $('If').item.json['Data do Cadastro'] }}","ÁREA":"={{ $('If').item.json['ÁREA'] }}","Registro do Paciente":"={{ $('If').item.json['Registro do Paciente'] }}","Número do Posto":"={{ $('If').item.json['Número do Posto'] }}","Nome Completo do Paciente":"={{ $('If').item.json['Nome Completo do Paciente'] }}","SIGLA":"={{ $('If').item.json.SIGLA }}","DESCRIÇÃO DO EXAME":"={{ $('If').item.json['DESCRIÇÃO DO EXAME'] }}","LINHAS QUE SE REPETEM ":"={{ $('If').item.json['LINHAS QUE SE REPETEM '] }}","STATUS DA AMOSTRA":"={{ $('If').item.json['STATUS DA AMOSTRA'] }}","SISTEMA":"={{ $('If').item.json.SISTEMA }}","DATA RESULTADO":"=","PROCURAR MATERIAL?":"={{ $('If').item.json['PROCURAR MATERIAL?'] }}","Observações (Detalhes sobre a pendência)":"={{ $('If').item.json['Observações (Detalhes sobre a pendência)'] }}","DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","ENCONTRADO POR":"=NÃO PASSOU PELA TRIAGEM","DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA":"={{ $('If').item.json['DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA'] }}","OBSERVAÇÕES ÁREA TRIAGEM":"=NÃO PASSOU PELA TRIAGEM"},"matchingColumns":[],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1056,240],"id":"5f8abb21-0442-4e5c-88b1-df102b5ea02a","name":"Preenche planilha técnico1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1968,208],"id":"81168aff-6a85-4734-b5a1-4f3e285cbba4","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[2640,224],"id":"f4aa0af8-7564-444c-a24e-4f98cc1b9a78"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"=O Setor Técnico avaliou o registro {{ $json['Registro do Paciente'] }}\n\nO Dr(a) {{ $json['REALIZADO POR '] }} informa que:\n\n{{ $json['OBSERVAÇÕES ÁREA TÉCNICA'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2208,224],"id":"6cd1f06e-3682-4ee3-a430-cd33782573c5","name":"Enviar texto3","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $('Loop Over Items').item.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","CONTROLE ENVIO MENSAGEM":"=ENVIADO"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2432,224],"id":"fac8b73e-b9cd-4b3a-bc2e-c1ba5dd295a2","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1248,240],"id":"0ee7bb5d-2e14-4478-9d13-b5c749cb076d","name":"RETORNA PLANILHA TÉCNICO3","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"de1b19fe-0a6c-4bdd-bde2-19022cc0bcd2","leftValue":"={{ $json['CONTROLE ENVIO MENSAGEM'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1680,224],"id":"1860ae88-3007-42ef-9914-ad7e307a579d","name":"JÁ FOI ENVIADO A MENSAGEM?3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8db36758-05df-48c6-926c-14b09a805028","leftValue":"={{ $json['DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1424,240],"id":"b334df70-a300-4e3f-96af-0c149cd7856e","name":"If3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[832,224],"id":"f1a07d48-6bdc-4150-a547-5b7a066d4473","name":"Loop Over Items3"}],"connections":{"Google Sheets3":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"If1","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Google Sheets9","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Sheets9":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Enviar texto2":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Preenche planilha técnico1":{"main":[[{"node":"RETORNA PLANILHA TÉCNICO3","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Enviar texto3","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar texto3":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"RETORNA PLANILHA TÉCNICO3":{"main":[[{"node":"If3","type":"main","index":0}]]},"JÁ FOI ENVIADO A MENSAGEM?3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If3":{"main":[[{"node":"JÁ FOI ENVIADO A MENSAGEM?3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Preenche planilha técnico1","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version f63029b5","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}