workflows/redevenda-CFn5DOJe90AE9FYi.json
{"updatedAt":"2026-05-15T03:05:14.642Z","createdAt":"2026-05-15T02:59:53.225Z","id":"CFn5DOJe90AE9FYi","name":"redeVenda","active":true,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Google Drive1').item.json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.sheetId }}","mode":"id"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A2:AQ"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[848,0],"id":"44e45b03-285c-4b53-b883-a07c7c7bcc35","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $input.first().json.id }}?fields=sheets.properties(sheetId,title)","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,0],"id":"547a52b5-57ba-4427-b60b-223dbad9f93d","name":"HTTP Request1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const sheets = $input.first().json.sheets || [];\n\nconst alvo = sheets.find(s =>\n  String(s.properties?.title || '').toLowerCase() === 'vendas'\n);\n\nif (!alvo) {\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      sheetId: alvo.properties.sheetId\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,0],"id":"43c60e5b-7942-401b-9760-799b84682a83","name":"Code1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots","mode":"list","cachedResultName":"REDE GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"VENDA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"data da venda":"={{ $json['data da venda'] }}","hora da venda":"={{ $json['hora da venda'] }}","status da venda":"={{ $json['status da venda'] }}","valor da venda original":"={{ $json['valor da venda original'] }}","valor da venda atualizado":"={{ $json['valor da venda atualizado'] }}","modalidade":"={{ $json.modalidade }}","tipo":"={{ $json.tipo }}","pré-autorizado":"={{ $json['pré-autorizado'] }}","número de parcelas":"={{ $json['número de parcelas'] }}","bandeira":"={{ $json.bandeira }}","taxa MDR":"={{ $json['taxa MDR'] }}","valor MDR":"={{ $json['valor MDR'] }}","taxa de recebimento automático":"={{ $json['taxa de recebimento automático'] }}","valor taxa de recebimento automático":"={{ $json['valor taxa de recebimento automático'] }}","taxas descontadas (MDR+recebimento automático)":"={{ $json['taxas descontadas (MDR+recebimento automático)'] }}","valor total das taxas descontadas (MDR+recebimento automático)":"={{ $json['valor total das taxas descontadas (MDR+recebimento automático)'] }}","valor líquido":"={{ $json['valor líquido'] }}","NSU/CV":"={{ $json['NSU/CV'] }}","Prazo de recebimento":"={{ $json['Prazo de recebimento'] }}","resumo de vendas/número do lote":"={{ $json['resumo de vendas/número do lote'] }}","número da autorização (Auto)":"={{ $json['número da autorização (Auto)'] }}","número do estabelecimento":"={{ $json['número do estabelecimento'] }}","nome do estabelecimento":"={{ $json['nome do estabelecimento'] }}","CNPJ":"={{ $json.CNPJ }}","número do cartão":"={{ $json['número do cartão'] }}","id carteira digital":"={{ $json['id carteira digital'] }}","meio de pagamento":"={{ $json['meio de pagamento'] }}","tipo de maquininha":"={{ $json['tipo de maquininha'] }}","código da maquininha":"={{ $json['código da maquininha'] }}","TID":"={{ $json.TID }}","número do pedido":"={{ $json['número do pedido'] }}","taxa de embarque":"={{ $json['taxa de embarque'] }}","cancelada pelo estabelecimento":"={{ $json['cancelada pelo estabelecimento'] }}","data do cancelamento":"={{ $json['data do cancelamento'] }}","valor cancelado":"={{ $json['valor cancelado'] }}","em disputa de chargeback":"={{ $json['em disputa de chargeback'] }}","data que entrou em disputa de chargeback":"={{ $json['data que entrou em disputa de chargeback'] }}","resolução do chargeback":"={{ $json['resolução do chargeback'] }}","data da resolução do chargeback":"={{ $json['data da resolução do chargeback'] }}","nacionalidade do cartão":"={{ $json['nacionalidade do cartão'] }}","moeda estrangeira (DCC)":"={{ $json['moeda estrangeira (DCC)'] }}","cartão pré-pago":"={{ $json['cartão pré-pago'] }}","ID Transação":"={{ $json['ID Transação'] }}","EMPRESA":"={{ $json.empresa }}","cnpj":"={{ $json.cnpj }}"},"matchingColumns":[],"schema":[{"id":"data da venda","displayName":"data da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora da venda","displayName":"hora da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status da venda","displayName":"status da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor da venda original","displayName":"valor da venda original","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor da venda atualizado","displayName":"valor da venda atualizado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"modalidade","displayName":"modalidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pré-autorizado","displayName":"pré-autorizado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"número de parcelas","displayName":"número de parcelas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bandeira","displayName":"bandeira","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"taxa MDR","displayName":"taxa MDR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor MDR","displayName":"valor MDR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"taxa de recebimento automático","displayName":"taxa de recebimento automático","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor taxa de recebimento automático","displayName":"valor taxa de recebimento automático","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"taxas descontadas (MDR+recebimento automático)","displayName":"taxas descontadas (MDR+recebimento automático)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor total das taxas descontadas (MDR+recebimento automático)","displayName":"valor total das taxas descontadas (MDR+recebimento automático)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor líquido","displayName":"valor líquido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NSU/CV","displayName":"NSU/CV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prazo de recebimento","displayName":"Prazo de recebimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"resumo de vendas/número do lote","displayName":"resumo de vendas/número do lote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"número da autorização (Auto)","displayName":"número da autorização (Auto)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"número do estabelecimento","displayName":"número do estabelecimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome do estabelecimento","displayName":"nome do estabelecimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"número do cartão","displayName":"número do cartão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id carteira digital","displayName":"id carteira digital","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"meio de pagamento","displayName":"meio de pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo de maquininha","displayName":"tipo de maquininha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"código da maquininha","displayName":"código da maquininha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TID","displayName":"TID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"número do pedido","displayName":"número do pedido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"taxa de embarque","displayName":"taxa de embarque","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cancelada pelo estabelecimento","displayName":"cancelada pelo estabelecimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data do cancelamento","displayName":"data do cancelamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor cancelado","displayName":"valor cancelado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"em disputa de chargeback","displayName":"em disputa de chargeback","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data que entrou em disputa de chargeback","displayName":"data que entrou em disputa de chargeback","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"resolução do chargeback","displayName":"resolução do chargeback","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data da resolução do chargeback","displayName":"data da resolução do chargeback","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nacionalidade do cartão","displayName":"nacionalidade do cartão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"moeda estrangeira (DCC)","displayName":"moeda estrangeira (DCC)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cartão pré-pago","displayName":"cartão pré-pago","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID Transação","displayName":"ID Transação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PAGO OU PENDENTE","displayName":"PAGO OU PENDENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PAGAMENTO","displayName":"DATA PAGAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR PAGO","displayName":"VALOR PAGO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIFERENÇA VALOR RECEBIDO","displayName":"DIFERENÇA VALOR RECEBIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BANDEIRA PARCELA","displayName":"BANDEIRA PARCELA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"taxa contratada","displayName":"taxa contratada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"diferença TAXA","displayName":"diferença TAXA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR LÍQUIDO CONTRATADO","displayName":"VALOR LÍQUIDO CONTRATADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DIFERENCA VALOR LÍQUIDO","displayName":"DIFERENCA VALOR LÍQUIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DIFERENÇA SIM OU NÀO","displayName":"DIFERENÇA SIM OU NÀO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VENDA IDENTIF NO LOCAL","displayName":"VENDA IDENTIF NO LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LOCAL ONDE ESTA A MAQUINETA","displayName":"LOCAL ONDE ESTA A MAQUINETA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIFERENÇA ENTRE OS VALORES DAS VENDAS","displayName":"DIFERENÇA ENTRE OS VALORES DAS VENDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOTA FISCAL","displayName":"NOTA FISCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Coluna1","displayName":"Coluna1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":".","displayName":".","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1280,0],"id":"0fa6f5f0-e4cc-4258-a52e-10c8af53f822","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst mapa = {\n  \"43560103000119\": \"LABSENA FILIAL\",\n  \"8934800000191\": \"MM\",\n  \"43560103000208\": \"LABSENA\",\n  \"43564901000119\": \"SENA\",\n};\n\nreturn items.map((item) => {\n  const cnpj = String(item.json?.[\"CNPJ\"] ?? \"\").trim();\n  const empresa = mapa[cnpj] || null;\n\n  return {\n    ...item, // mantém tudo (json + binary + pairedItem)\n    json: {\n      ...item.json,          // ✅ mantém TODAS as variáveis do input\n      empresa: empresa,      // adiciona a empresa\n      cnpj: cnpj,  // opcional: campo padronizado (pode remover se não quiser)\n    },\n  };\n});\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,0],"id":"ee8cf58f-77b0-4996-a500-75f2b9f60ae0","name":"Code2"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,0],"id":"9b6adc1e-644b-45e5-a822-0224637152aa","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"5ad44679-1b9b-499d-b8f2-24a87a7883ba","name":"Schedule Trigger"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'1rDcBbfXN-VPEOAZcmTyilZTwLLEXRzX1' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"6c0dd250-49fa-4c2c-b130-0f79d43d28bc","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}}],"connections":{"Google Sheets":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","timezone":"America/Sao_Paulo","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a1411a8-6dca-426e-aac7-14b74fcb8e6f","activeVersionId":"4a1411a8-6dca-426e-aac7-14b74fcb8e6f","triggerCount":1,"shared":[{"updatedAt":"2026-05-15T02:59:53.228Z","createdAt":"2026-05-15T02:59:53.228Z","role":"workflow:owner","workflowId":"CFn5DOJe90AE9FYi","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-29T11:58:11.000Z","createdAt":"2026-05-15T03:00:44.080Z","versionId":"4a1411a8-6dca-426e-aac7-14b74fcb8e6f","workflowId":"CFn5DOJe90AE9FYi","nodes":[{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Google Drive1').item.json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.sheetId }}","mode":"id"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A2:AQ"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[848,0],"id":"44e45b03-285c-4b53-b883-a07c7c7bcc35","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $input.first().json.id }}?fields=sheets.properties(sheetId,title)","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,0],"id":"547a52b5-57ba-4427-b60b-223dbad9f93d","name":"HTTP Request1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const sheets = $input.first().json.sheets || [];\n\nconst alvo = sheets.find(s =>\n  String(s.properties?.title || '').toLowerCase() === 'vendas'\n);\n\nif (!alvo) {\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      sheetId: alvo.properties.sheetId\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,0],"id":"43c60e5b-7942-401b-9760-799b84682a83","name":"Code1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots","mode":"list","cachedResultName":"REDE GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"VENDA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"data da venda":"={{ $json['data da venda'] }}","hora da venda":"={{ $json['hora da venda'] }}","status da venda":"={{ $json['status da venda'] }}","valor da venda original":"={{ $json['valor da venda original'] }}","valor da venda atualizado":"={{ $json['valor da venda atualizado'] }}","modalidade":"={{ $json.modalidade }}","tipo":"={{ $json.tipo }}","pré-autorizado":"={{ $json['pré-autorizado'] }}","número de parcelas":"={{ $json['número de parcelas'] }}","bandeira":"={{ $json.bandeira }}","taxa MDR":"={{ $json['taxa MDR'] }}","valor MDR":"={{ $json['valor MDR'] }}","taxa de recebimento automático":"={{ $json['taxa de recebimento automático'] }}","valor taxa de recebimento automático":"={{ $json['valor taxa de recebimento automático'] }}","taxas descontadas (MDR+recebimento automático)":"={{ $json['taxas descontadas (MDR+recebimento automático)'] }}","valor total das taxas descontadas (MDR+recebimento automático)":"={{ $json['valor total das taxas descontadas (MDR+recebimento automático)'] }}","valor líquido":"={{ $json['valor líquido'] }}","NSU/CV":"={{ $json['NSU/CV'] }}","Prazo de recebimento":"={{ $json['Prazo de recebimento'] }}","resumo de vendas/número do lote":"={{ $json['resumo de vendas/número do lote'] }}","número da autorização (Auto)":"={{ $json['número da autorização (Auto)'] }}","número do estabelecimento":"={{ $json['número do estabelecimento'] }}","nome do estabelecimento":"={{ $json['nome do estabelecimento'] }}","CNPJ":"={{ $json.CNPJ }}","número do cartão":"={{ $json['número do cartão'] }}","id carteira digital":"={{ $json['id carteira digital'] }}","meio de pagamento":"={{ $json['meio de pagamento'] }}","tipo de maquininha":"={{ $json['tipo de maquininha'] }}","código da maquininha":"={{ $json['código da maquininha'] }}","TID":"={{ $json.TID }}","número do pedido":"={{ $json['número do pedido'] }}","taxa de embarque":"={{ $json['taxa de embarque'] }}","cancelada pelo estabelecimento":"={{ $json['cancelada pelo estabelecimento'] }}","data do cancelamento":"={{ $json['data do cancelamento'] }}","valor cancelado":"={{ $json['valor cancelado'] }}","em disputa de chargeback":"={{ $json['em disputa de chargeback'] }}","data que entrou em disputa de chargeback":"={{ $json['data que entrou em disputa de chargeback'] }}","resolução do chargeback":"={{ $json['resolução do chargeback'] }}","data da resolução do chargeback":"={{ $json['data da resolução do chargeback'] }}","nacionalidade do cartão":"={{ $json['nacionalidade do cartão'] }}","moeda estrangeira (DCC)":"={{ $json['moeda estrangeira (DCC)'] }}","cartão pré-pago":"={{ $json['cartão pré-pago'] }}","ID Transação":"={{ $json['ID Transação'] }}","EMPRESA":"={{ $json.empresa }}","cnpj":"={{ $json.cnpj }}"},"matchingColumns":[],"schema":[{"id":"data da venda","displayName":"data da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hora da venda","displayName":"hora da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status da venda","displayName":"status da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor da venda original","displayName":"valor da venda original","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor da venda atualizado","displayName":"valor da venda atualizado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"modalidade","displayName":"modalidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo","displayName":"tipo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pré-autorizado","displayName":"pré-autorizado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"número de parcelas","displayName":"número de parcelas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"bandeira","displayName":"bandeira","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"taxa MDR","displayName":"taxa MDR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor MDR","displayName":"valor MDR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"taxa de recebimento automático","displayName":"taxa de recebimento automático","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor taxa de recebimento automático","displayName":"valor taxa de recebimento automático","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"taxas descontadas (MDR+recebimento automático)","displayName":"taxas descontadas (MDR+recebimento automático)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor total das taxas descontadas (MDR+recebimento automático)","displayName":"valor total das taxas descontadas (MDR+recebimento automático)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor líquido","displayName":"valor líquido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NSU/CV","displayName":"NSU/CV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prazo de recebimento","displayName":"Prazo de recebimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"resumo de vendas/número do lote","displayName":"resumo de vendas/número do lote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"número da autorização (Auto)","displayName":"número da autorização (Auto)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"número do estabelecimento","displayName":"número do estabelecimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome do estabelecimento","displayName":"nome do estabelecimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CNPJ","displayName":"CNPJ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"número do cartão","displayName":"número do cartão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id carteira digital","displayName":"id carteira digital","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"meio de pagamento","displayName":"meio de pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tipo de maquininha","displayName":"tipo de maquininha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"código da maquininha","displayName":"código da maquininha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TID","displayName":"TID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"número do pedido","displayName":"número do pedido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"taxa de embarque","displayName":"taxa de embarque","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cancelada pelo estabelecimento","displayName":"cancelada pelo estabelecimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data do cancelamento","displayName":"data do cancelamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"valor cancelado","displayName":"valor cancelado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"em disputa de chargeback","displayName":"em disputa de chargeback","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data que entrou em disputa de chargeback","displayName":"data que entrou em disputa de chargeback","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"resolução do chargeback","displayName":"resolução do chargeback","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data da resolução do chargeback","displayName":"data da resolução do chargeback","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nacionalidade do cartão","displayName":"nacionalidade do cartão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"moeda estrangeira (DCC)","displayName":"moeda estrangeira (DCC)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cartão pré-pago","displayName":"cartão pré-pago","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID Transação","displayName":"ID Transação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMPRESA","displayName":"EMPRESA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PAGO OU PENDENTE","displayName":"PAGO OU PENDENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA PAGAMENTO","displayName":"DATA PAGAMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR PAGO","displayName":"VALOR PAGO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIFERENÇA VALOR RECEBIDO","displayName":"DIFERENÇA VALOR RECEBIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"BANDEIRA PARCELA","displayName":"BANDEIRA PARCELA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"taxa contratada","displayName":"taxa contratada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"diferença TAXA","displayName":"diferença TAXA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VALOR LÍQUIDO CONTRATADO","displayName":"VALOR LÍQUIDO CONTRATADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DIFERENCA VALOR LÍQUIDO","displayName":"DIFERENCA VALOR LÍQUIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DIFERENÇA SIM OU NÀO","displayName":"DIFERENÇA SIM OU NÀO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"VENDA IDENTIF NO LOCAL","displayName":"VENDA IDENTIF NO LOCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LOCAL ONDE ESTA A MAQUINETA","displayName":"LOCAL ONDE ESTA A MAQUINETA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DIFERENÇA ENTRE OS VALORES DAS VENDAS","displayName":"DIFERENÇA ENTRE OS VALORES DAS VENDAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"NOTA FISCAL","displayName":"NOTA FISCAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Coluna1","displayName":"Coluna1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":".","displayName":".","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1280,0],"id":"0fa6f5f0-e4cc-4258-a52e-10c8af53f822","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst mapa = {\n  \"43560103000119\": \"LABSENA FILIAL\",\n  \"8934800000191\": \"MM\",\n  \"43560103000208\": \"LABSENA\",\n  \"43564901000119\": \"SENA\",\n};\n\nreturn items.map((item) => {\n  const cnpj = String(item.json?.[\"CNPJ\"] ?? \"\").trim();\n  const empresa = mapa[cnpj] || null;\n\n  return {\n    ...item, // mantém tudo (json + binary + pairedItem)\n    json: {\n      ...item.json,          // ✅ mantém TODAS as variáveis do input\n      empresa: empresa,      // adiciona a empresa\n      cnpj: cnpj,  // opcional: campo padronizado (pode remover se não quiser)\n    },\n  };\n});\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,0],"id":"ee8cf58f-77b0-4996-a500-75f2b9f60ae0","name":"Code2"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive1').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,0],"id":"9b6adc1e-644b-45e5-a822-0224637152aa","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"5ad44679-1b9b-499d-b8f2-24a87a7883ba","name":"Schedule Trigger"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'1rDcBbfXN-VPEOAZcmTyilZTwLLEXRzX1' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"6c0dd250-49fa-4c2c-b130-0f79d43d28bc","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}}],"connections":{"Google Sheets":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version 4a1411a8","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}