workflows/rederecebimento-UF987JGCh75F_ahwdaKJ3.json
{"updatedAt":"2026-05-06T03:05:57.127Z","createdAt":"2026-02-09T01:35:56.116Z","id":"UF987JGCh75F_ahwdaKJ3","name":"redeRecebimento","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'1GSZCI9R0pQxkdeqV1eF996NLGnF2QMAg' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"id":"da30a226-afeb-4d04-870c-6fea5c33112e","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"fTBEwxNiLRq0G0ay","name":"Google Drive account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $node[\"Google Drive\"].json[\"id\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.sheetId }}","mode":"id"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A2:AD"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[848,0],"id":"bbee6477-2a6b-49a7-acac-702cbebaa371","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $input.first().json.id }}?fields=sheets.properties(sheetId,title)","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,0],"id":"1d7020c9-fe10-47d3-85cd-cb87e247e9ee","name":"HTTP Request1","credentials":{"googleSheetsOAuth2Api":{"id":"XCMhsbdgFY4gb8k1","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const sheets = $input.first().json.sheets || [];\n\nconst alvo = sheets.find(s =>\n  String(s.properties?.title || '').toLowerCase() === 'pagamentos'\n);\n\nif (!alvo) {\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      sheetId: alvo.properties.sheetId\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,0],"id":"22ab0cf2-8f6d-4592-8d1f-162dda431986","name":"Code1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots","mode":"list","cachedResultName":"REDE GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":343132965,"mode":"list","cachedResultName":"RECEBIMENTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit#gid=343132965"},"columns":{"mappingMode":"defineBelow","value":{"data do recebimento":"={{ $json[\"data do recebimento\"] }}","data original da venda":"={{ $json[\"data original da venda\"] }}","data original de vencimento":"={{ $json[\"data original de vencimento\"] }}","valor bruto da parcela original":"={{ $json[\"valor bruto da parcela original\"] }}","valor bruto da parcela atualizada":"={{ $json[\"valor bruto da parcela atualizada\"] }}","taxa MDR":"={{ $json[\"taxa MDR\"] }}","valor MDR descontado":"={{ $json[\"valor MDR descontado\"] }}","valor líquido da parcela":"={{ $json[\"valor líquido da parcela\"] }}","negociada":"={{ $json.negociada }}","%":"={{ $json[\"%\"] }}","NSU/CV":"={{ $json[\"NSU/CV\"] }}","TID":"={{ $json.TID }}","número do pedido":"={{ $json[\"número do pedido\"] }}","número da autorização":"={{ $json[\"número da autorização\"] }}","resumo de vendas/número do lote":"={{ $json[\"resumo de vendas/número do lote\"] }}","nome do estabelecimento":"={{ $json[\"nome do estabelecimento\"] }}","estabelecimento":"={{ $json.estabelecimento }}","número do cartão":"={{ $json[\"número do cartão\"] }}","indicador de transação tokenizada":"={{ $json[\"indicador de transação tokenizada\"] }}","código IATA":"={{ $json[\"código IATA\"] }}","modalidade":"={{ $json.modalidade }}","bandeira":"={{ $json.bandeira }}","número de parcelas":"={{ $json[\"número de parcelas\"] }}","parcela":"={{ $json.parcela }}","banco":"={{ $json.banco }}","agência":"={{ $json[\"agência\"] }}","conta-corrente":"={{ $json[\"conta-corrente\"] }}","cancelamento/contestação":"={{ $json[\"cancelamento/contestação\"] }}","data do cancelamento":"={{ $json[\"data do cancelamento\"] }}","status":"={{ $json.status }}","empresa":"={{ $json.empresa }}","contaCorrente":"={{ $json.contaCorrente }}"},"matchingColumns":["EMPRESA"],"schema":[{"id":"data do recebimento","displayName":"data do recebimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data original da venda","displayName":"data original da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data original de vencimento","displayName":"data original de vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor bruto da parcela original","displayName":"valor bruto da parcela original","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor bruto da parcela atualizada","displayName":"valor bruto da parcela atualizada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"taxa MDR","displayName":"taxa MDR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor MDR descontado","displayName":"valor MDR descontado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor líquido da parcela","displayName":"valor líquido da parcela","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"negociada","displayName":"negociada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"%","displayName":"%","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NSU/CV","displayName":"NSU/CV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TID","displayName":"TID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"número do pedido","displayName":"número do pedido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"número da autorização","displayName":"número da autorização","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"resumo de vendas/número do lote","displayName":"resumo de vendas/número do lote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome do estabelecimento","displayName":"nome do estabelecimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"estabelecimento","displayName":"estabelecimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"número do cartão","displayName":"número do cartão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"indicador de transação tokenizada","displayName":"indicador de transação tokenizada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"código IATA","displayName":"código IATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"modalidade","displayName":"modalidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bandeira","displayName":"bandeira","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"número de parcelas","displayName":"número de parcelas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"parcela","displayName":"parcela","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"banco","displayName":"banco","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"agência","displayName":"agência","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"conta-corrente","displayName":"conta-corrente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cancelamento/contestação","displayName":"cancelamento/contestação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data do cancelamento","displayName":"data do cancelamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"empresa","displayName":"empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contaCorrente","displayName":"contaCorrente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1248,0],"id":"73f5fafb-b89a-41cd-89cd-c32cd823285b","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst mapa = {\n  \"661130\": \"LABSENA FILIAL\",\n  \"630693\": \"MM\",\n  \"994754\": \"LABSENA\",\n  \"986877\": \"SENA\",\n};\n\nreturn items.map((item) => {\n  const conta = String(item.json?.[\"conta-corrente\"] ?? \"\").trim();\n  const empresa = mapa[conta] || null;\n\n  return {\n    ...item, // mantém tudo (json + binary + pairedItem)\n    json: {\n      ...item.json,          // ✅ mantém TODAS as variáveis do input\n      empresa: empresa,      // adiciona a empresa\n      contaCorrente: conta,  // opcional: campo padronizado (pode remover se não quiser)\n    },\n  };\n});\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,0],"id":"d3b660df-8152-4de1-b2f0-5c654311015b","name":"Code2"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,0],"id":"0d52da41-42e9-41e0-952a-753612355bc5","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"fTBEwxNiLRq0G0ay","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-32,0],"id":"b7a7c2c2-7029-4b0a-aed2-0a2a580be944","name":"Schedule Trigger"}],"connections":{"Google Drive":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2026-03-17T10:58:34.712-03:00","Readable date":"March 17th 2026, 10:58:34 am","Readable time":"10:58:34 am","Day of week":"Tuesday","Year":"2026","Month":"March","Day of month":"17","Hour":"10","Minute":"58","Second":"34","Timezone":"America/Sao_Paulo (UTC-03:00)"},"pairedItem":{"item":0}}]},"versionId":"016cf94e-65ce-4825-8a08-69797dd0a39a","activeVersionId":"016cf94e-65ce-4825-8a08-69797dd0a39a","triggerCount":1,"shared":[{"updatedAt":"2026-02-09T01:35:56.116Z","createdAt":"2026-02-09T01:35:56.116Z","role":"workflow:owner","workflowId":"UF987JGCh75F_ahwdaKJ3","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":{"updatedAt":"2026-03-28T14:51:08.625Z","createdAt":"2026-03-28T14:51:02.075Z","versionId":"016cf94e-65ce-4825-8a08-69797dd0a39a","workflowId":"UF987JGCh75F_ahwdaKJ3","nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"'1GSZCI9R0pQxkdeqV1eF996NLGnF2QMAg' in parents and mimeType = 'application/vnd.google-apps.spreadsheet' and trashed = false","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"id":"da30a226-afeb-4d04-870c-6fea5c33112e","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"fTBEwxNiLRq0G0ay","name":"Google Drive account"}}},{"parameters":{"documentId":{"__rl":true,"value":"={{ $node[\"Google Drive\"].json[\"id\"] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.sheetId }}","mode":"id"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A2:AD"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[848,0],"id":"bbee6477-2a6b-49a7-acac-702cbebaa371","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $input.first().json.id }}?fields=sheets.properties(sheetId,title)","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,0],"id":"1d7020c9-fe10-47d3-85cd-cb87e247e9ee","name":"HTTP Request1","credentials":{"googleSheetsOAuth2Api":{"id":"XCMhsbdgFY4gb8k1","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const sheets = $input.first().json.sheets || [];\n\nconst alvo = sheets.find(s =>\n  String(s.properties?.title || '').toLowerCase() === 'pagamentos'\n);\n\nif (!alvo) {\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      sheetId: alvo.properties.sheetId\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,0],"id":"22ab0cf2-8f6d-4592-8d1f-162dda431986","name":"Code1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots","mode":"list","cachedResultName":"REDE GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":343132965,"mode":"list","cachedResultName":"RECEBIMENTO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u1AEWXB1AERiNY53cJFazXtpUSJHCR_AIQbFqjGhots/edit#gid=343132965"},"columns":{"mappingMode":"defineBelow","value":{"data do recebimento":"={{ $json[\"data do recebimento\"] }}","data original da venda":"={{ $json[\"data original da venda\"] }}","data original de vencimento":"={{ $json[\"data original de vencimento\"] }}","valor bruto da parcela original":"={{ $json[\"valor bruto da parcela original\"] }}","valor bruto da parcela atualizada":"={{ $json[\"valor bruto da parcela atualizada\"] }}","taxa MDR":"={{ $json[\"taxa MDR\"] }}","valor MDR descontado":"={{ $json[\"valor MDR descontado\"] }}","valor líquido da parcela":"={{ $json[\"valor líquido da parcela\"] }}","negociada":"={{ $json.negociada }}","%":"={{ $json[\"%\"] }}","NSU/CV":"={{ $json[\"NSU/CV\"] }}","TID":"={{ $json.TID }}","número do pedido":"={{ $json[\"número do pedido\"] }}","número da autorização":"={{ $json[\"número da autorização\"] }}","resumo de vendas/número do lote":"={{ $json[\"resumo de vendas/número do lote\"] }}","nome do estabelecimento":"={{ $json[\"nome do estabelecimento\"] }}","estabelecimento":"={{ $json.estabelecimento }}","número do cartão":"={{ $json[\"número do cartão\"] }}","indicador de transação tokenizada":"={{ $json[\"indicador de transação tokenizada\"] }}","código IATA":"={{ $json[\"código IATA\"] }}","modalidade":"={{ $json.modalidade }}","bandeira":"={{ $json.bandeira }}","número de parcelas":"={{ $json[\"número de parcelas\"] }}","parcela":"={{ $json.parcela }}","banco":"={{ $json.banco }}","agência":"={{ $json[\"agência\"] }}","conta-corrente":"={{ $json[\"conta-corrente\"] }}","cancelamento/contestação":"={{ $json[\"cancelamento/contestação\"] }}","data do cancelamento":"={{ $json[\"data do cancelamento\"] }}","status":"={{ $json.status }}","empresa":"={{ $json.empresa }}","contaCorrente":"={{ $json.contaCorrente }}"},"matchingColumns":["EMPRESA"],"schema":[{"id":"data do recebimento","displayName":"data do recebimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data original da venda","displayName":"data original da venda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data original de vencimento","displayName":"data original de vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor bruto da parcela original","displayName":"valor bruto da parcela original","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor bruto da parcela atualizada","displayName":"valor bruto da parcela atualizada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"taxa MDR","displayName":"taxa MDR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor MDR descontado","displayName":"valor MDR descontado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valor líquido da parcela","displayName":"valor líquido da parcela","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"negociada","displayName":"negociada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"%","displayName":"%","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NSU/CV","displayName":"NSU/CV","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TID","displayName":"TID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"número do pedido","displayName":"número do pedido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"número da autorização","displayName":"número da autorização","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"resumo de vendas/número do lote","displayName":"resumo de vendas/número do lote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome do estabelecimento","displayName":"nome do estabelecimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"estabelecimento","displayName":"estabelecimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"número do cartão","displayName":"número do cartão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"indicador de transação tokenizada","displayName":"indicador de transação tokenizada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"código IATA","displayName":"código IATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"modalidade","displayName":"modalidade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"bandeira","displayName":"bandeira","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"número de parcelas","displayName":"número de parcelas","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"parcela","displayName":"parcela","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"banco","displayName":"banco","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"agência","displayName":"agência","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"conta-corrente","displayName":"conta-corrente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cancelamento/contestação","displayName":"cancelamento/contestação","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data do cancelamento","displayName":"data do cancelamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"empresa","displayName":"empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contaCorrente","displayName":"contaCorrente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1248,0],"id":"73f5fafb-b89a-41cd-89cd-c32cd823285b","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nconst mapa = {\n  \"661130\": \"LABSENA FILIAL\",\n  \"630693\": \"MM\",\n  \"994754\": \"LABSENA\",\n  \"986877\": \"SENA\",\n};\n\nreturn items.map((item) => {\n  const conta = String(item.json?.[\"conta-corrente\"] ?? \"\").trim();\n  const empresa = mapa[conta] || null;\n\n  return {\n    ...item, // mantém tudo (json + binary + pairedItem)\n    json: {\n      ...item.json,          // ✅ mantém TODAS as variáveis do input\n      empresa: empresa,      // adiciona a empresa\n      contaCorrente: conta,  // opcional: campo padronizado (pode remover se não quiser)\n    },\n  };\n});\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,0],"id":"d3b660df-8152-4de1-b2f0-5c654311015b","name":"Code2"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Google Drive').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1440,0],"id":"0d52da41-42e9-41e0-952a-753612355bc5","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"fTBEwxNiLRq0G0ay","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-32,0],"id":"b7a7c2c2-7029-4b0a-aed2-0a2a580be944","name":"Schedule Trigger"}],"connections":{"Google Drive":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]}},"authors":"Mickeliny ckely_sena@hotmail.com","name":"Version 016cf94e","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}