workflows/solicitaçãoalteração-ndhZxu6Iad3XO852rHj12.json
{"updatedAt":"2026-05-06T03:06:55.998Z","createdAt":"2026-04-13T16:05:54.948Z","id":"ndhZxu6Iad3XO852rHj12","name":"solicitaçãoAlteração","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"589cc72f-b475-4c33-9e8a-3c3daf2e58d3","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E","mode":"list","cachedResultName":"Formulário Alterações(respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":967224090,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit#gid=967224090"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"aa547ceb-f9cf-4478-8db7-5a895686d0e9","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0","mode":"list","cachedResultName":"Solicitação de Alterações de Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Carimbo de data/hora":"={{ $json['Carimbo de data/hora'] }}","Endereço de e-mail":"={{ $json['Endereço de e-mail'] }}","Nome do Solicitante":"={{ $json['Nome do Solicitante'] }}","Posto":"={{ $json.Posto }}","Qual Sistema do Posto":"={{ $json['Qual Sistema do Posto'] }}","Data do Cadastro Original do Registro":"={{ $json['Data do Cadastro Original do Registro'] }}","Número do Registro":"={{ $json['Número do Registro'] }}","SIGLA A SER INCLUIDA":"={{ $json['SIGLA A SER INCLUIDA'] }}","SIGLA A SER EXCLUIDA":"={{ $json['SIGLA A SER EXCLUIDA'] }}","Motivo da Solicitação de Inclusão/Exclusão":"={{ $json['Motivo da Solicitação de Inclusão/Exclusão'] }}","NOME ATUAL":"={{ $json['NOME ATUAL'] }}","NOME NOVO":"={{ $json['NOME NOVO'] }}","Motivo da Solicitação da Alteração":"={{ $json['Motivo da Solicitação da Alteração'] }}","Sigla do Exame":"={{ $json['Sigla do Exame'] }}","Nome do Exame":"={{ $json['Nome do Exame'] }}","Em qual tabela lançar [TABELA]":"={{ $json['Em qual tabela lançar [TABELA]'] }}","VALOR TABELA CLIENTE":"={{ $json['VALOR TABELA CLIENTE'] }}","VALOR TABELA REPASSE":"={{ $json['VALOR TABELA REPASSE'] }}","DATA CORREÇÃO":"="},"matchingColumns":["Carimbo de data/hora"],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Solicitante","displayName":"Nome do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistema do Posto","displayName":"Qual Sistema do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro","displayName":"Número do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER INCLUIDA","displayName":"SIGLA A SER INCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER EXCLUIDA","displayName":"SIGLA A SER EXCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação de Inclusão/Exclusão","displayName":"Motivo da Solicitação de Inclusão/Exclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME ATUAL","displayName":"NOME ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME NOVO","displayName":"NOME NOVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação da Alteração","displayName":"Motivo da Solicitação da Alteração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sigla do Exame","displayName":"Sigla do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Exame","displayName":"Nome do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Em qual tabela lançar [TABELA]","displayName":"Em qual tabela lançar [TABELA]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA CLIENTE","displayName":"VALOR TABELA CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA REPASSE","displayName":"VALOR TABELA REPASSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CORREÇÃO","displayName":"DATA CORREÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OK","displayName":"OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,-16],"id":"1fcc6109-74e5-4402-9f70-d7ca31e8d8a6","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"019077dd-0331-402a-9137-097de08bd173","leftValue":"={{ $json.OK }}","rightValue":"OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,0],"id":"529b2c0b-f589-458c-bee2-f90a5f8c25ed","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E","mode":"list","cachedResultName":"Formulário Alterações(respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":967224090,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit#gid=967224090"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet').item.json.row_number }}","OK":"OK"},"matchingColumns":["row_number"],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Solicitante","displayName":"Nome do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistema do Posto","displayName":"Qual Sistema do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro","displayName":"Número do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER INCLUIDA","displayName":"SIGLA A SER INCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER EXCLUIDA","displayName":"SIGLA A SER EXCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação de Inclusão/Exclusão","displayName":"Motivo da Solicitação de Inclusão/Exclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME ATUAL","displayName":"NOME ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME NOVO","displayName":"NOME NOVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação da Alteração","displayName":"Motivo da Solicitação da Alteração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sigla do Exame","displayName":"Sigla do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Exame","displayName":"Nome do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Em qual tabela lançar [TABELA]","displayName":"Em qual tabela lançar [TABELA]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA CLIENTE","displayName":"VALOR TABELA CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA REPASSE","displayName":"VALOR TABELA REPASSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OK","displayName":"OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,-16],"id":"7eefefb3-1b30-488e-824a-1d443fb525c3","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e6ec180-c610-47f2-b118-3d8eb542bdb0","activeVersionId":"8e6ec180-c610-47f2-b118-3d8eb542bdb0","triggerCount":1,"shared":[{"updatedAt":"2026-04-13T16:05:54.948Z","createdAt":"2026-04-13T16:05:54.948Z","role":"workflow:owner","workflowId":"ndhZxu6Iad3XO852rHj12","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":{"updatedAt":"2026-05-05T14:34:18.080Z","createdAt":"2026-05-05T14:34:14.775Z","versionId":"8e6ec180-c610-47f2-b118-3d8eb542bdb0","workflowId":"ndhZxu6Iad3XO852rHj12","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"589cc72f-b475-4c33-9e8a-3c3daf2e58d3","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E","mode":"list","cachedResultName":"Formulário Alterações(respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":967224090,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit#gid=967224090"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[208,0],"id":"aa547ceb-f9cf-4478-8db7-5a895686d0e9","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0","mode":"list","cachedResultName":"Solicitação de Alterações de Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Carimbo de data/hora":"={{ $json['Carimbo de data/hora'] }}","Endereço de e-mail":"={{ $json['Endereço de e-mail'] }}","Nome do Solicitante":"={{ $json['Nome do Solicitante'] }}","Posto":"={{ $json.Posto }}","Qual Sistema do Posto":"={{ $json['Qual Sistema do Posto'] }}","Data do Cadastro Original do Registro":"={{ $json['Data do Cadastro Original do Registro'] }}","Número do Registro":"={{ $json['Número do Registro'] }}","SIGLA A SER INCLUIDA":"={{ $json['SIGLA A SER INCLUIDA'] }}","SIGLA A SER EXCLUIDA":"={{ $json['SIGLA A SER EXCLUIDA'] }}","Motivo da Solicitação de Inclusão/Exclusão":"={{ $json['Motivo da Solicitação de Inclusão/Exclusão'] }}","NOME ATUAL":"={{ $json['NOME ATUAL'] }}","NOME NOVO":"={{ $json['NOME NOVO'] }}","Motivo da Solicitação da Alteração":"={{ $json['Motivo da Solicitação da Alteração'] }}","Sigla do Exame":"={{ $json['Sigla do Exame'] }}","Nome do Exame":"={{ $json['Nome do Exame'] }}","Em qual tabela lançar [TABELA]":"={{ $json['Em qual tabela lançar [TABELA]'] }}","VALOR TABELA CLIENTE":"={{ $json['VALOR TABELA CLIENTE'] }}","VALOR TABELA REPASSE":"={{ $json['VALOR TABELA REPASSE'] }}","DATA CORREÇÃO":"="},"matchingColumns":["Carimbo de data/hora"],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Solicitante","displayName":"Nome do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistema do Posto","displayName":"Qual Sistema do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro","displayName":"Número do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER INCLUIDA","displayName":"SIGLA A SER INCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER EXCLUIDA","displayName":"SIGLA A SER EXCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação de Inclusão/Exclusão","displayName":"Motivo da Solicitação de Inclusão/Exclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME ATUAL","displayName":"NOME ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME NOVO","displayName":"NOME NOVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação da Alteração","displayName":"Motivo da Solicitação da Alteração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sigla do Exame","displayName":"Sigla do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Exame","displayName":"Nome do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Em qual tabela lançar [TABELA]","displayName":"Em qual tabela lançar [TABELA]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA CLIENTE","displayName":"VALOR TABELA CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA REPASSE","displayName":"VALOR TABELA REPASSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CORREÇÃO","displayName":"DATA CORREÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OK","displayName":"OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[656,-16],"id":"1fcc6109-74e5-4402-9f70-d7ca31e8d8a6","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"019077dd-0331-402a-9137-097de08bd173","leftValue":"={{ $json.OK }}","rightValue":"OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,0],"id":"529b2c0b-f589-458c-bee2-f90a5f8c25ed","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E","mode":"list","cachedResultName":"Formulário Alterações(respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":967224090,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit#gid=967224090"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet').item.json.row_number }}","OK":"OK"},"matchingColumns":["row_number"],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Solicitante","displayName":"Nome do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistema do Posto","displayName":"Qual Sistema do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro","displayName":"Número do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER INCLUIDA","displayName":"SIGLA A SER INCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER EXCLUIDA","displayName":"SIGLA A SER EXCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação de Inclusão/Exclusão","displayName":"Motivo da Solicitação de Inclusão/Exclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME ATUAL","displayName":"NOME ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME NOVO","displayName":"NOME NOVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação da Alteração","displayName":"Motivo da Solicitação da Alteração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sigla do Exame","displayName":"Sigla do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Exame","displayName":"Nome do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Em qual tabela lançar [TABELA]","displayName":"Em qual tabela lançar [TABELA]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA CLIENTE","displayName":"VALOR TABELA CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA REPASSE","displayName":"VALOR TABELA REPASSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OK","displayName":"OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,-16],"id":"7eefefb3-1b30-488e-824a-1d443fb525c3","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"authors":"Mickeliny ckely_sena@hotmail.com","name":"Version 8e6ec180","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}