workflows/solicitaçãoalteração-G4o9s3T47vV61OMV.json
{"updatedAt":"2026-05-15T03:07:35.216Z","createdAt":"2026-05-11T22:36:55.828Z","id":"G4o9s3T47vV61OMV","name":"solicitaçãoAlteração","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-656,16],"id":"3d88057f-5cef-4f0e-b414-1f110ec0dccc","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E","mode":"list","cachedResultName":"Formulário Alterações(respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":967224090,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit#gid=967224090"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-448,16],"id":"fbadf21f-d5b1-48a3-a5e3-d464ddce6d09","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0","mode":"list","cachedResultName":"Solicitação de Alterações de Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Carimbo de data/hora":"={{ $json['Carimbo de data/hora'] }}","Endereço de e-mail":"={{ $json['Endereço de e-mail'] }}","Nome do Solicitante":"={{ $json['Nome do Solicitante'] }}","Posto":"={{ $json.Posto }}","Qual Sistema do Posto":"={{ $json['Qual Sistema do Posto'] }}","Data do Cadastro Original do Registro":"={{ $json['Data do Cadastro Original do Registro'] }}","Número do Registro":"={{ $json['Número do Registro'] }}","SIGLA A SER INCLUIDA":"={{ $json['SIGLA A SER INCLUIDA'] }}","SIGLA A SER EXCLUIDA":"={{ $json['SIGLA A SER EXCLUIDA'] }}","Motivo da Solicitação de Inclusão/Exclusão":"={{ $json['Motivo da Solicitação de Inclusão/Exclusão'] }}","NOME ATUAL":"={{ $json['NOME ATUAL'] }}","NOME NOVO":"={{ $json['NOME NOVO'] }}","Motivo da Solicitação da Alteração":"={{ $json['Motivo da Solicitação da Alteração'] }}","Sigla do Exame":"={{ $json['Sigla do Exame'] }}","Nome do Exame":"={{ $json['Nome do Exame'] }}","Em qual tabela lançar [TABELA]":"={{ $json['Em qual tabela lançar [TABELA]'] }}","VALOR TABELA CLIENTE":"={{ $json['VALOR TABELA CLIENTE'] }}","VALOR TABELA REPASSE":"={{ $json['VALOR TABELA REPASSE'] }}","DATA CORREÇÃO":"="},"matchingColumns":["Carimbo de data/hora"],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Solicitante","displayName":"Nome do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistema do Posto","displayName":"Qual Sistema do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro","displayName":"Número do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER INCLUIDA","displayName":"SIGLA A SER INCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER EXCLUIDA","displayName":"SIGLA A SER EXCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação de Inclusão/Exclusão","displayName":"Motivo da Solicitação de Inclusão/Exclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME ATUAL","displayName":"NOME ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME NOVO","displayName":"NOME NOVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação da Alteração","displayName":"Motivo da Solicitação da Alteração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sigla do Exame","displayName":"Sigla do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Exame","displayName":"Nome do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Em qual tabela lançar [TABELA]","displayName":"Em qual tabela lançar [TABELA]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA CLIENTE","displayName":"VALOR TABELA CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA REPASSE","displayName":"VALOR TABELA REPASSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CORREÇÃO","displayName":"DATA CORREÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OK","displayName":"OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"id":"675ac119-8940-49bd-b7e7-c5f16b54cf14","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"019077dd-0331-402a-9137-097de08bd173","leftValue":"={{ $json.OK }}","rightValue":"OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-240,16],"id":"06a9effc-60e8-4e59-906c-313aa8a9c5dd","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E","mode":"list","cachedResultName":"Formulário Alterações(respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":967224090,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit#gid=967224090"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet').item.json.row_number }}","OK":"OK"},"matchingColumns":["row_number"],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Solicitante","displayName":"Nome do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistema do Posto","displayName":"Qual Sistema do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro","displayName":"Número do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER INCLUIDA","displayName":"SIGLA A SER INCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER EXCLUIDA","displayName":"SIGLA A SER EXCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação de Inclusão/Exclusão","displayName":"Motivo da Solicitação de Inclusão/Exclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME ATUAL","displayName":"NOME ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME NOVO","displayName":"NOME NOVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação da Alteração","displayName":"Motivo da Solicitação da Alteração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sigla do Exame","displayName":"Sigla do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Exame","displayName":"Nome do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Em qual tabela lançar [TABELA]","displayName":"Em qual tabela lançar [TABELA]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA CLIENTE","displayName":"VALOR TABELA CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA REPASSE","displayName":"VALOR TABELA REPASSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OK","displayName":"OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,0],"id":"8bae05d0-2280-4ba4-aae8-b90e9f9ac8e5","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a583ea5-08dc-4c72-b930-21ff6ad1c7c7","activeVersionId":"4a583ea5-08dc-4c72-b930-21ff6ad1c7c7","triggerCount":1,"shared":[{"updatedAt":"2026-05-11T22:36:55.831Z","createdAt":"2026-05-11T22:36:55.831Z","role":"workflow:owner","workflowId":"G4o9s3T47vV61OMV","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-11T22:37:21.000Z","createdAt":"2026-05-11T22:37:18.801Z","versionId":"4a583ea5-08dc-4c72-b930-21ff6ad1c7c7","workflowId":"G4o9s3T47vV61OMV","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-656,16],"id":"3d88057f-5cef-4f0e-b414-1f110ec0dccc","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E","mode":"list","cachedResultName":"Formulário Alterações(respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":967224090,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit#gid=967224090"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-448,16],"id":"fbadf21f-d5b1-48a3-a5e3-d464ddce6d09","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0","mode":"list","cachedResultName":"Solicitação de Alterações de Cadastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I772L3Kq_lC2CfKmv3gqDIAnBrWJ7ASbLnenRZ27RG0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Carimbo de data/hora":"={{ $json['Carimbo de data/hora'] }}","Endereço de e-mail":"={{ $json['Endereço de e-mail'] }}","Nome do Solicitante":"={{ $json['Nome do Solicitante'] }}","Posto":"={{ $json.Posto }}","Qual Sistema do Posto":"={{ $json['Qual Sistema do Posto'] }}","Data do Cadastro Original do Registro":"={{ $json['Data do Cadastro Original do Registro'] }}","Número do Registro":"={{ $json['Número do Registro'] }}","SIGLA A SER INCLUIDA":"={{ $json['SIGLA A SER INCLUIDA'] }}","SIGLA A SER EXCLUIDA":"={{ $json['SIGLA A SER EXCLUIDA'] }}","Motivo da Solicitação de Inclusão/Exclusão":"={{ $json['Motivo da Solicitação de Inclusão/Exclusão'] }}","NOME ATUAL":"={{ $json['NOME ATUAL'] }}","NOME NOVO":"={{ $json['NOME NOVO'] }}","Motivo da Solicitação da Alteração":"={{ $json['Motivo da Solicitação da Alteração'] }}","Sigla do Exame":"={{ $json['Sigla do Exame'] }}","Nome do Exame":"={{ $json['Nome do Exame'] }}","Em qual tabela lançar [TABELA]":"={{ $json['Em qual tabela lançar [TABELA]'] }}","VALOR TABELA CLIENTE":"={{ $json['VALOR TABELA CLIENTE'] }}","VALOR TABELA REPASSE":"={{ $json['VALOR TABELA REPASSE'] }}","DATA CORREÇÃO":"="},"matchingColumns":["Carimbo de data/hora"],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Solicitante","displayName":"Nome do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistema do Posto","displayName":"Qual Sistema do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro","displayName":"Número do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER INCLUIDA","displayName":"SIGLA A SER INCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER EXCLUIDA","displayName":"SIGLA A SER EXCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação de Inclusão/Exclusão","displayName":"Motivo da Solicitação de Inclusão/Exclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME ATUAL","displayName":"NOME ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME NOVO","displayName":"NOME NOVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação da Alteração","displayName":"Motivo da Solicitação da Alteração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sigla do Exame","displayName":"Sigla do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Exame","displayName":"Nome do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Em qual tabela lançar [TABELA]","displayName":"Em qual tabela lançar [TABELA]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA CLIENTE","displayName":"VALOR TABELA CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA REPASSE","displayName":"VALOR TABELA REPASSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA CORREÇÃO","displayName":"DATA CORREÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OK","displayName":"OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,0],"id":"675ac119-8940-49bd-b7e7-c5f16b54cf14","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"019077dd-0331-402a-9137-097de08bd173","leftValue":"={{ $json.OK }}","rightValue":"OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-240,16],"id":"06a9effc-60e8-4e59-906c-313aa8a9c5dd","name":"If"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E","mode":"list","cachedResultName":"Formulário Alterações(respostas)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":967224090,"mode":"list","cachedResultName":"Respostas ao formulário 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AmqRhfluPczlcMBb0SqsHY6MStAL9uaUrhdhBSMsh7E/edit#gid=967224090"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet').item.json.row_number }}","OK":"OK"},"matchingColumns":["row_number"],"schema":[{"id":"Carimbo de data/hora","displayName":"Carimbo de data/hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Endereço de e-mail","displayName":"Endereço de e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Solicitante","displayName":"Nome do Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Posto","displayName":"Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qual Sistema do Posto","displayName":"Qual Sistema do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro Original do Registro","displayName":"Data do Cadastro Original do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Registro","displayName":"Número do Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER INCLUIDA","displayName":"SIGLA A SER INCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA A SER EXCLUIDA","displayName":"SIGLA A SER EXCLUIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação de Inclusão/Exclusão","displayName":"Motivo da Solicitação de Inclusão/Exclusão","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME ATUAL","displayName":"NOME ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME NOVO","displayName":"NOME NOVO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motivo da Solicitação da Alteração","displayName":"Motivo da Solicitação da Alteração","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sigla do Exame","displayName":"Sigla do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome do Exame","displayName":"Nome do Exame","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Em qual tabela lançar [TABELA]","displayName":"Em qual tabela lançar [TABELA]","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA CLIENTE","displayName":"VALOR TABELA CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALOR TABELA REPASSE","displayName":"VALOR TABELA REPASSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OK","displayName":"OK","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,0],"id":"8bae05d0-2280-4ba4-aae8-b90e9f9ac8e5","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version 4a583ea5","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}