workflows/tecnicosolicitacaopendencia-vypu87GZKmrphOkN.json
{"updatedAt":"2026-05-23T20:17:50.392Z","createdAt":"2026-05-12T00:04:38.803Z","id":"vypu87GZKmrphOkN","name":"TecnicoSolicitacaoPendencia","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/10 8-17 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-512,576],"id":"ff7e3e55-a5b1-43c2-bf9c-e0a377bdf0f5","name":"Schedule Trigger1"},{"parameters":{"content":"# TÉCNICO\n## PREENCHE NA ABA SETOR TRIAGEM APENAS OS QUE FOR PARA PROCURAR\n## VERIFICAR SE A TRIAGEM COLOCOU O NOME QUE ENCONTROU O MATERIAL\n## PREENCHE OS CAMPOS *ENCONTRADO POR*, *OBSERVAÇÕES TRIAGEM* E *DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA* NA PLANILHA GERAL E A COLUNA  *DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA* DAABA TRIAGEM\n## ENVIAR MENSAGEM PARA O SETOR TÉCNICO\n## REPETIÇÃO NÃO VAI PARA PLANILHA D TÉCNICO","height":1104,"width":1596},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"cb9f475c-0557-4c99-9b38-462dde3a3aa5","name":"Sticky Note5"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[816,912],"id":"8b117cfc-d30b-4f7a-b043-4e6508b152ab","name":"Loop Over Items4"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me4","typeVersion":1,"position":[1424,928],"id":"a8deb33c-c384-46b8-9c50-e79aaf356d2c"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json[\"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA\"] }}","RECEBIDO POR ":"={{ $json['RECEBIDO POR '] }}","REALIZADO POR ":"={{ $json['REALIZADO POR '] }}","OBSERVAÇÕES ÁREA TÉCNICA":"={{ $json['OBSERVAÇÕES ÁREA TÉCNICA'] }}"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ALTERAÇÕES DE CADASTRO","displayName":"ALTERAÇÕES DE CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[768,704],"id":"c6d5f70c-ae98-42a3-b751-b8e7f17a907f","name":"PREENCHE PLANILHA GERAL1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"// =======================================================\n// COMPARAÇÃO:\n// A: TRIAGEM ENCONTROU\n// B: RETORNA PLANILHA TÉCNICO\n// Chave igual nos dois nós:\n// 'DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA'\n// Retorna apenas o que NÃO deu match\n// =======================================================\n\n// Normalizador seguro (evita erro por espaço, caixa, etc.)\nconst norm = (v) =>\n  String(v ?? \"\")\n    .trim()\n    .toLowerCase()\n    .replace(/\\s+/g, \" \");\n\n// Nome da chave\nconst KEY = 'DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA';\n\n// Itens dos nós\nconst triagemEncontrou = $items('TRIAGEM ENCONTROU');\nconst retornaTecnico = $items('RETORNA PLANILHA TÉCNICO');\n\n// Cria um Set com todas as datas do nó B\nconst datasTecnico = new Set(\n  retornaTecnico\n    .map(i => norm(i.json?.[KEY]))\n    .filter(v => v !== \"\")\n);\n\n// Filtra o nó A: só o que NÃO está no nó B\nconst resultado = triagemEncontrou.filter(i => {\n  const dataA = norm(i.json?.[KEY]);\n  return dataA !== \"\" && !datasTecnico.has(dataA);\n});\n\n// Retorno padrão n8n\nreturn resultado.map(i => ({ json: i.json }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,512],"id":"4ef1e94f-c637-45a5-9dae-37893862cbe3","name":"Code in JavaScript1"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[112,528],"id":"3c6e0676-d0e5-4b35-9001-60963711c14a","name":"RETORNA PLANILHA TÉCNICO","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[720,512],"id":"2935f8ca-ad0c-411c-a06e-44f6165371cc","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['REALIZADO POR '] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,736],"id":"0b60fa6d-c568-4e90-8c35-c07d83cd1f36","name":"TÉCNICO RESPONDEU1"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"=O Setor Técnico avaliou o registro {{ $json['Registro do Paciente'] }}\n\nO Dr(a) {{ $json['REALIZADO POR '] }} informa que:\n\n{{ $json['OBSERVAÇÕES ÁREA TÉCNICA'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1056,928],"id":"30868407-2137-4da4-8f2d-d6e2b6f999e6","name":"Enviar texto","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $('Loop Over Items4').item.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","CONTROLE ENVIO MENSAGEM":"=ENVIADO"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1232,928],"id":"e2cb575b-669b-4cf7-ac6f-451379403aee","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['ENCONTRADO POR'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"378ea38f-01ff-4628-99e2-c025ac5055f7","leftValue":"={{ $json['RECEBIDO POR '] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"789e6a80-d382-4220-9ed1-3b9bad182c4f","leftValue":"={{ $json['OBSERVAÇÕES ÁREA TÉCNICA'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"942d44e9-6133-44ed-9707-fc04bbf606e3","leftValue":"={{ $json['REALIZADO POR '] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,352],"id":"feec545a-4842-4587-8f10-45867c43b006","name":"TRIAGEM ENCONTROU"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[80,736],"id":"214bea88-225a-4c2c-94eb-b8d079d08dfc","name":"RETORNA PLANILHA TÉCNICO1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json[\"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA\"] }}","DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1200,704],"id":"c71e02c1-c075-4bdb-834d-78284f6cc5cd","name":"PREENCHE PLANILHA TÉCNICO DATA1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[96,944],"id":"30807953-7d13-48ad-bac2-b23119eee1ad","name":"RETORNA PLANILHA TÉCNICO2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"de1b19fe-0a6c-4bdd-bde2-19022cc0bcd2","leftValue":"={{ $json['CONTROLE ENVIO MENSAGEM'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[512,928],"id":"2c5c87ca-0de3-4e32-b960-02ab93084e0b","name":"JÁ FOI ENVIADO A MENSAGEM?2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8db36758-05df-48c6-926c-14b09a805028","leftValue":"={{ $json['DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[288,944],"id":"04e6d3e1-3634-4914-b41b-415de1b2a3c3","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1a46f2ca-9944-4428-b098-347d0b204979","leftValue":"={{ $('RETORNA PLANILHA TÉCNICO1').item.json['DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[512,720],"id":"13b3afaf-45ec-4a9d-a18b-4427c565615b","name":"DATA TÉCNICO PREENCHIDA"},{"parameters":{"jsCode":"// =======================================================\n// FILTRO:\n// NÃO retorna a linha se OBSERVAÇÕES ÁREA TRIAGEM\n// contiver qualquer variação de:\n// REPETIR / REPETICAO / REPETIÇÃO\n// =======================================================\n\nconst itens = $input.all();\n\n// Normalizador robusto\nconst norm = (v) =>\n  String(v ?? \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\"); // remove acentos\n\n// Regex para REPETIR / REPETICAO / REPETIÇÃO\nconst regexRepeticao = /\\brepetir\\b|\\brepeticao\\b/;\n\nconst resultado = itens.filter(item => {\n  const obs = norm(item.json?.['OBSERVAÇÕES ÁREA TRIAGEM']);\n  return !regexRepeticao.test(obs);\n});\n\n// Retorno padrão n8n\nreturn resultado.map(i => ({ json: i.json }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,352],"id":"a8c693d6-85d1-45ce-8cb8-fe15b5b62915","name":"Code in JavaScript"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[112,352],"id":"01886da0-6e7b-4a8a-a97d-5d63118e0e4a","name":"RETORNA PLANILHA TRIAGEM3","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","RECEBIDO POR ":"={{ $('DATA TÉCNICO PREENCHIDA').item.json['RECEBIDO POR '] }}","REALIZADO POR ":"={{ $('DATA TÉCNICO PREENCHIDA').item.json['REALIZADO POR '] }}","DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}","OBSERVAÇÕES ÁREA TÉCNICA":"={{ $('DATA TÉCNICO PREENCHIDA').item.json['OBSERVAÇÕES ÁREA TÉCNICA'] }}"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[976,704],"id":"9c629eae-eaff-47a3-bf27-c984743d9cef","name":"PREENCHE PLANILHA TRIAGEM","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"content":"#### GATILHO A CADA 1 MINUTO DAS 7 AS 23 DE SEGUNDA A SÁBADO","height":244,"width":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-592,480],"id":"c432b900-662f-4a92-9964-52bbc13ca90c","name":"Sticky Note4"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $json['DATA QUE COLOCOU RELATÓRIO NO DRIVE'] }}","Data do Cadastro":"={{ $json['Data do Cadastro'] }}","ÁREA":"={{ $json['ÁREA'] }}","Registro do Paciente":"={{ $json['Registro do Paciente'] }}","Número do Posto":"={{ $json['Número do Posto'] }}","Nome Completo do Paciente":"={{ $json['Nome Completo do Paciente'] }}","SIGLA":"={{ $json.SIGLA }}","DESCRIÇÃO DO EXAME":"={{ $json['DESCRIÇÃO DO EXAME'] }}","LINHAS QUE SE REPETEM ":"={{ $json['LINHAS QUE SE REPETEM '] }}","STATUS DA AMOSTRA":"={{ $json['STATUS DA AMOSTRA'] }}","SISTEMA":"={{ $json.SISTEMA }}","DATA RESULTADO":"={{ $json['DATA RESULTADO'] }}","PROCURAR MATERIAL?":"={{ $json['PROCURAR MATERIAL?'] }}","Observações (Detalhes sobre a pendência)":"={{ $json['Observações (Detalhes sobre a pendência)'] }}","DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","ENCONTRADO POR":"={{ $json['ENCONTRADO POR'] }}","DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA":"={{ $json['DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA'] }}","OBSERVAÇÕES ÁREA TRIAGEM":"={{ $json['OBSERVAÇÕES ÁREA TRIAGEM'] }}"},"matchingColumns":[],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1072,512],"id":"09346891-e15d-49e4-9e50-02f686d19344","name":"Preenche planilha técnico","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"Schedule Trigger1":{"main":[[{"node":"RETORNA PLANILHA TRIAGEM3","type":"main","index":0},{"node":"RETORNA PLANILHA TÉCNICO","type":"main","index":0},{"node":"RETORNA PLANILHA TÉCNICO1","type":"main","index":0},{"node":"RETORNA PLANILHA TÉCNICO2","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Enviar texto","type":"main","index":0}]]},"Replace Me4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"PREENCHE PLANILHA GERAL1":{"main":[[{"node":"PREENCHE PLANILHA TRIAGEM","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Preenche planilha técnico","type":"main","index":0}]]},"RETORNA PLANILHA TÉCNICO":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"TÉCNICO RESPONDEU1":{"main":[[{"node":"DATA TÉCNICO PREENCHIDA","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Replace Me4","type":"main","index":0}]]},"TRIAGEM ENCONTROU":{"main":[[{"node":"Merge","type":"main","index":0}]]},"RETORNA PLANILHA TÉCNICO1":{"main":[[{"node":"TÉCNICO RESPONDEU1","type":"main","index":0}]]},"RETORNA PLANILHA TÉCNICO2":{"main":[[{"node":"If2","type":"main","index":0}]]},"JÁ FOI ENVIADO A MENSAGEM?2":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"If2":{"main":[[{"node":"JÁ FOI ENVIADO A MENSAGEM?2","type":"main","index":0}]]},"DATA TÉCNICO PREENCHIDA":{"main":[[{"node":"PREENCHE PLANILHA GERAL1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"TRIAGEM ENCONTROU","type":"main","index":0}]]},"RETORNA PLANILHA TRIAGEM3":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"PREENCHE PLANILHA TRIAGEM":{"main":[[{"node":"PREENCHE PLANILHA TÉCNICO DATA1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b5f335e7-b029-4ad4-a87b-026ffe6bd805","activeVersionId":"b5f335e7-b029-4ad4-a87b-026ffe6bd805","triggerCount":1,"shared":[{"updatedAt":"2026-05-12T00:04:38.806Z","createdAt":"2026-05-12T00:04:38.806Z","role":"workflow:owner","workflowId":"vypu87GZKmrphOkN","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-23T20:17:53.000Z","createdAt":"2026-05-23T20:17:50.392Z","versionId":"b5f335e7-b029-4ad4-a87b-026ffe6bd805","workflowId":"vypu87GZKmrphOkN","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/10 8-17 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-512,576],"id":"ff7e3e55-a5b1-43c2-bf9c-e0a377bdf0f5","name":"Schedule Trigger1"},{"parameters":{"content":"# TÉCNICO\n## PREENCHE NA ABA SETOR TRIAGEM APENAS OS QUE FOR PARA PROCURAR\n## VERIFICAR SE A TRIAGEM COLOCOU O NOME QUE ENCONTROU O MATERIAL\n## PREENCHE OS CAMPOS *ENCONTRADO POR*, *OBSERVAÇÕES TRIAGEM* E *DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA* NA PLANILHA GERAL E A COLUNA  *DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA* DAABA TRIAGEM\n## ENVIAR MENSAGEM PARA O SETOR TÉCNICO\n## REPETIÇÃO NÃO VAI PARA PLANILHA D TÉCNICO","height":1104,"width":1596},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"cb9f475c-0557-4c99-9b38-462dde3a3aa5","name":"Sticky Note5"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[816,912],"id":"8b117cfc-d30b-4f7a-b043-4e6508b152ab","name":"Loop Over Items4"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me4","typeVersion":1,"position":[1424,928],"id":"a8deb33c-c384-46b8-9c50-e79aaf356d2c"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json[\"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA\"] }}","RECEBIDO POR ":"={{ $json['RECEBIDO POR '] }}","REALIZADO POR ":"={{ $json['REALIZADO POR '] }}","OBSERVAÇÕES ÁREA TÉCNICA":"={{ $json['OBSERVAÇÕES ÁREA TÉCNICA'] }}"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ALTERAÇÕES DE CADASTRO","displayName":"ALTERAÇÕES DE CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[768,704],"id":"c6d5f70c-ae98-42a3-b751-b8e7f17a907f","name":"PREENCHE PLANILHA GERAL1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"// =======================================================\n// COMPARAÇÃO:\n// A: TRIAGEM ENCONTROU\n// B: RETORNA PLANILHA TÉCNICO\n// Chave igual nos dois nós:\n// 'DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA'\n// Retorna apenas o que NÃO deu match\n// =======================================================\n\n// Normalizador seguro (evita erro por espaço, caixa, etc.)\nconst norm = (v) =>\n  String(v ?? \"\")\n    .trim()\n    .toLowerCase()\n    .replace(/\\s+/g, \" \");\n\n// Nome da chave\nconst KEY = 'DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA';\n\n// Itens dos nós\nconst triagemEncontrou = $items('TRIAGEM ENCONTROU');\nconst retornaTecnico = $items('RETORNA PLANILHA TÉCNICO');\n\n// Cria um Set com todas as datas do nó B\nconst datasTecnico = new Set(\n  retornaTecnico\n    .map(i => norm(i.json?.[KEY]))\n    .filter(v => v !== \"\")\n);\n\n// Filtra o nó A: só o que NÃO está no nó B\nconst resultado = triagemEncontrou.filter(i => {\n  const dataA = norm(i.json?.[KEY]);\n  return dataA !== \"\" && !datasTecnico.has(dataA);\n});\n\n// Retorno padrão n8n\nreturn resultado.map(i => ({ json: i.json }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,512],"id":"4ef1e94f-c637-45a5-9dae-37893862cbe3","name":"Code in JavaScript1"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[112,528],"id":"3c6e0676-d0e5-4b35-9001-60963711c14a","name":"RETORNA PLANILHA TÉCNICO","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[720,512],"id":"2935f8ca-ad0c-411c-a06e-44f6165371cc","name":"Merge"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['REALIZADO POR '] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[272,736],"id":"0b60fa6d-c568-4e90-8c35-c07d83cd1f36","name":"TÉCNICO RESPONDEU1"},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"=O Setor Técnico avaliou o registro {{ $json['Registro do Paciente'] }}\n\nO Dr(a) {{ $json['REALIZADO POR '] }} informa que:\n\n{{ $json['OBSERVAÇÕES ÁREA TÉCNICA'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1056,928],"id":"30868407-2137-4da4-8f2d-d6e2b6f999e6","name":"Enviar texto","credentials":{"evolutionApi":{"id":"qfPYE0oEXplbBttN","name":"Evolution account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $('Loop Over Items4').item.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","CONTROLE ENVIO MENSAGEM":"=ENVIADO"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1232,928],"id":"e2cb575b-669b-4cf7-ac6f-451379403aee","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['ENCONTRADO POR'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"378ea38f-01ff-4628-99e2-c025ac5055f7","leftValue":"={{ $json['RECEBIDO POR '] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"789e6a80-d382-4220-9ed1-3b9bad182c4f","leftValue":"={{ $json['OBSERVAÇÕES ÁREA TÉCNICA'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"942d44e9-6133-44ed-9707-fc04bbf606e3","leftValue":"={{ $json['REALIZADO POR '] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,352],"id":"feec545a-4842-4587-8f10-45867c43b006","name":"TRIAGEM ENCONTROU"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[80,736],"id":"214bea88-225a-4c2c-94eb-b8d079d08dfc","name":"RETORNA PLANILHA TÉCNICO1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json[\"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA\"] }}","DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1200,704],"id":"c71e02c1-c075-4bdb-834d-78284f6cc5cd","name":"PREENCHE PLANILHA TÉCNICO DATA1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[96,944],"id":"30807953-7d13-48ad-bac2-b23119eee1ad","name":"RETORNA PLANILHA TÉCNICO2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"de1b19fe-0a6c-4bdd-bde2-19022cc0bcd2","leftValue":"={{ $json['CONTROLE ENVIO MENSAGEM'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[512,928],"id":"2c5c87ca-0de3-4e32-b960-02ab93084e0b","name":"JÁ FOI ENVIADO A MENSAGEM?2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8db36758-05df-48c6-926c-14b09a805028","leftValue":"={{ $json['DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[288,944],"id":"04e6d3e1-3634-4914-b41b-415de1b2a3c3","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1a46f2ca-9944-4428-b098-347d0b204979","leftValue":"={{ $('RETORNA PLANILHA TÉCNICO1').item.json['DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[512,720],"id":"13b3afaf-45ec-4a9d-a18b-4427c565615b","name":"DATA TÉCNICO PREENCHIDA"},{"parameters":{"jsCode":"// =======================================================\n// FILTRO:\n// NÃO retorna a linha se OBSERVAÇÕES ÁREA TRIAGEM\n// contiver qualquer variação de:\n// REPETIR / REPETICAO / REPETIÇÃO\n// =======================================================\n\nconst itens = $input.all();\n\n// Normalizador robusto\nconst norm = (v) =>\n  String(v ?? \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\"); // remove acentos\n\n// Regex para REPETIR / REPETICAO / REPETIÇÃO\nconst regexRepeticao = /\\brepetir\\b|\\brepeticao\\b/;\n\nconst resultado = itens.filter(item => {\n  const obs = norm(item.json?.['OBSERVAÇÕES ÁREA TRIAGEM']);\n  return !regexRepeticao.test(obs);\n});\n\n// Retorno padrão n8n\nreturn resultado.map(i => ({ json: i.json }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,352],"id":"a8c693d6-85d1-45ce-8cb8-fe15b5b62915","name":"Code in JavaScript"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[112,352],"id":"01886da0-6e7b-4a8a-a97d-5d63118e0e4a","name":"RETORNA PLANILHA TRIAGEM3","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","RECEBIDO POR ":"={{ $('DATA TÉCNICO PREENCHIDA').item.json['RECEBIDO POR '] }}","REALIZADO POR ":"={{ $('DATA TÉCNICO PREENCHIDA').item.json['REALIZADO POR '] }}","DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}","OBSERVAÇÕES ÁREA TÉCNICA":"={{ $('DATA TÉCNICO PREENCHIDA').item.json['OBSERVAÇÕES ÁREA TÉCNICA'] }}"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[976,704],"id":"9c629eae-eaff-47a3-bf27-c984743d9cef","name":"PREENCHE PLANILHA TRIAGEM","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"content":"#### GATILHO A CADA 1 MINUTO DAS 7 AS 23 DE SEGUNDA A SÁBADO","height":244,"width":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-592,480],"id":"c432b900-662f-4a92-9964-52bbc13ca90c","name":"Sticky Note4"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":941106453,"mode":"list","cachedResultName":"SETOR TÉCNICO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=941106453"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $json['DATA QUE COLOCOU RELATÓRIO NO DRIVE'] }}","Data do Cadastro":"={{ $json['Data do Cadastro'] }}","ÁREA":"={{ $json['ÁREA'] }}","Registro do Paciente":"={{ $json['Registro do Paciente'] }}","Número do Posto":"={{ $json['Número do Posto'] }}","Nome Completo do Paciente":"={{ $json['Nome Completo do Paciente'] }}","SIGLA":"={{ $json.SIGLA }}","DESCRIÇÃO DO EXAME":"={{ $json['DESCRIÇÃO DO EXAME'] }}","LINHAS QUE SE REPETEM ":"={{ $json['LINHAS QUE SE REPETEM '] }}","STATUS DA AMOSTRA":"={{ $json['STATUS DA AMOSTRA'] }}","SISTEMA":"={{ $json.SISTEMA }}","DATA RESULTADO":"={{ $json['DATA RESULTADO'] }}","PROCURAR MATERIAL?":"={{ $json['PROCURAR MATERIAL?'] }}","Observações (Detalhes sobre a pendência)":"={{ $json['Observações (Detalhes sobre a pendência)'] }}","DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","ENCONTRADO POR":"={{ $json['ENCONTRADO POR'] }}","DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA":"={{ $json['DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA'] }}","OBSERVAÇÕES ÁREA TRIAGEM":"={{ $json['OBSERVAÇÕES ÁREA TRIAGEM'] }}"},"matchingColumns":[],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1072,512],"id":"09346891-e15d-49e4-9e50-02f686d19344","name":"Preenche planilha técnico","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"Schedule Trigger1":{"main":[[{"node":"RETORNA PLANILHA TRIAGEM3","type":"main","index":0},{"node":"RETORNA PLANILHA TÉCNICO","type":"main","index":0},{"node":"RETORNA PLANILHA TÉCNICO1","type":"main","index":0},{"node":"RETORNA PLANILHA TÉCNICO2","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Enviar texto","type":"main","index":0}]]},"Replace Me4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"PREENCHE PLANILHA GERAL1":{"main":[[{"node":"PREENCHE PLANILHA TRIAGEM","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Preenche planilha técnico","type":"main","index":0}]]},"RETORNA PLANILHA TÉCNICO":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"TÉCNICO RESPONDEU1":{"main":[[{"node":"DATA TÉCNICO PREENCHIDA","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Replace Me4","type":"main","index":0}]]},"TRIAGEM ENCONTROU":{"main":[[{"node":"Merge","type":"main","index":0}]]},"RETORNA PLANILHA TÉCNICO1":{"main":[[{"node":"TÉCNICO RESPONDEU1","type":"main","index":0}]]},"RETORNA PLANILHA TÉCNICO2":{"main":[[{"node":"If2","type":"main","index":0}]]},"JÁ FOI ENVIADO A MENSAGEM?2":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"If2":{"main":[[{"node":"JÁ FOI ENVIADO A MENSAGEM?2","type":"main","index":0}]]},"DATA TÉCNICO PREENCHIDA":{"main":[[{"node":"PREENCHE PLANILHA GERAL1","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"TRIAGEM ENCONTROU","type":"main","index":0}]]},"RETORNA PLANILHA TRIAGEM3":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"PREENCHE PLANILHA TRIAGEM":{"main":[[{"node":"PREENCHE PLANILHA TÉCNICO DATA1","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version b5f335e7","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}