workflows/triagemsolicitacaopendencia-AuSFq8i9Fsouhhet.json
{"updatedAt":"2026-05-06T03:09:16.142Z","createdAt":"2026-04-15T10:38:58.557Z","id":"AuSFq8i9Fsouhhet","name":"TriagemSolicitacaoPendencia","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[112,2176],"id":"125de1a2-e6b4-4387-b589-fe92238181ca","name":"Schedule Trigger1"},{"parameters":{"sendTo":"vivianelabovida@gmail.com, thayssalabovida@gmail.com, jenniferlabovida@gmail.com, jorgeelabovida@gmail.com, tonysena1904@gmail.com","subject":"=Resposta do Setor Triagem - Pendências de Material REG  {{ $json['Registro do Paciente'] }}","message":"=<p>\nSolicito que Realize o Exame \n<b> {{ $json['DESCRIÇÃO DO EXAME'] }} </b>\ndo Registro\n<b> {{ $json['Registro do Paciente'] }} </b>\ndo Dia\n<b> {{ $json['Data do Cadastro'] }}</b>\ndo Posto\n<b> {{ $json['Número do Posto'] }}  </b>.\n</p>\n\nObservações da Triagem: {{ $json['OBSERVAÇÕES ÁREA TRIAGEM'] }}\n<p>\nAssim que realizar o exame, preencher a planilha com a data do dia que realizar o exame.\n</p>\n\n<p>\nCaso não consiga realizar o exame, colocar na coluna OBSERVAÇÕES ÁREA TÉCNICA porque não pode ser realizado e qual a orientação para a Recepcionista:\n\n</p>\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1680,2432],"id":"427f45cb-74ed-4dad-9a7e-c3b49e6a2f3e","name":"Gmail1","webhookId":"e9a2abdf-4be7-42f8-99d3-50b1acb05693","credentials":{"gmailOAuth2":{"id":"ig56gggZAM3Lpmug","name":"Gmail account"}},"disabled":true},{"parameters":{"content":"# TRIAGEM\n## PREENCHE NA ABA SETOR TRIAGEM APENAS OS QUE FOR PARA PROCURAR\n## VERIFICAR SE A TRIAGEM COLOCOU O NOME QUE ENCONTROU O MATERIAL\n## PREENCHE OS CAMPOS *ENCONTRADO POR*, *OBSERVAÇÕES TRIAGEM* E *DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA* NA PLANILHA GERAL E A COLUNA  *DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA* DAABA TRIAGEM\n## ENVIAR MENSAGEM PARA O SETOR TÉCNICO","height":1136,"width":1724},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[752,1536],"id":"37ec34e5-6854-4132-be3b-f855296ab3dc","name":"Sticky Note3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1440,2416],"id":"cf4d5bc6-4288-4187-bb78-9ccd2b3a725a","name":"Loop Over Items2"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me2","typeVersion":1,"position":[2368,2432],"id":"7af2068c-e614-452c-8994-3edb46d9e60a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b81802-1656-4e8b-b85d-80b128e37cc6","leftValue":"={{ $json['PROCURAR MATERIAL?'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['ENCONTRADO POR'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"71160f94-b4be-4719-b23f-b6e44122e3af","leftValue":"={{ $json['OBSERVAÇÕES ÁREA TRIAGEM'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1072,1824],"id":"f7e48295-aaf4-4f08-bad3-8b41e688a8cf","name":"PROCURAR MATERIAL"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $json['DATA QUE COLOCOU RELATÓRIO NO DRIVE'] }}","Data do Cadastro":"={{ $json['Data do Cadastro'] }}","ÁREA":"={{ $json['ÁREA'] }}","Registro do Paciente":"={{ $json['Registro do Paciente'] }}","Número do Posto":"={{ $json['Número do Posto'] }}","Nome Completo do Paciente":"={{ $json['Nome Completo do Paciente'] }}","SIGLA":"={{ $json.SIGLA }}","DESCRIÇÃO DO EXAME":"={{ $json['DESCRIÇÃO DO EXAME'] }}","LINHAS QUE SE REPETEM ":"={{ $json['LINHAS QUE SE REPETEM '] }}","STATUS DA AMOSTRA":"={{ $json['STATUS DA AMOSTRA'] }}","SISTEMA":"={{ $json.SISTEMA }}","DATA RESULTADO":"={{ $json['DATA RESULTADO'] }}","PROCURAR MATERIAL?":"={{ $json['PROCURAR MATERIAL?'] }}","Observações (Detalhes sobre a pendência)":"={{ $json['Observações (Detalhes sobre a pendência)'] }}","DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}"},"matchingColumns":[],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1952,1968],"id":"5e9210e5-1059-4e28-b838-0e9621e9f8fe","name":"Preenche planilha triagem","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b81802-1656-4e8b-b85d-80b128e37cc6","leftValue":"={{ $json['ENCONTRADO POR'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['REALIZADO POR '] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1008,2208],"id":"24d6e129-60ae-47d1-82ff-947b423b6a14","name":"TRIAGEM RESPONDEU"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json[\"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA\"] }}","ENCONTRADO POR":"={{ $json[\"ENCONTRADO POR\"] }}","OBSERVAÇÕES ÁREA TRIAGEM":"={{ $json[\"OBSERVAÇÕES ÁREA TRIAGEM\"] }}"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1472,2176],"id":"087a4219-fb80-4a40-9c9e-893ac4ef22d8","name":"PREENCHE PLANILHA GERAL","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[848,1984],"id":"2aab81d2-b724-45f7-bbae-15a7b568d71b","name":"RETORNA PLANILHA TRIAGEM","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"=labovida","remoteJid":"=120363406086322772@g.us","messageText":"=O Setor da Triagem informa que o registro : {{ $('Loop Over Items2').item.json['Registro do Paciente'] }}\n\n{{ $('Loop Over Items2').item.json['OBSERVAÇÕES ÁREA TRIAGEM'] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2032,2432],"id":"5766a938-457e-468d-bfb8-8c74dc052fbf","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"GH0L8bT6lYy6qqd0","name":"Evolution account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[848,1824],"id":"75f57f29-07ab-4a6d-8adc-2b4200bbcda8","name":"LER PLANILHA GERAL","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1328,1952],"id":"2d9ec571-0822-44bd-b55d-3ee12023fd23","name":"Merge1"},{"parameters":{"jsCode":"// =======================================================\n// COMPARAÇÃO:\n// - Fonte A: PROCURAR MATERIAL\n// - Fonte B: RETORNA PLANILHA TRIAGEM\n// Retorna o que está em A e NÃO está em B\n// Chave de comparação:\n// 'DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'\n// =======================================================\n\n// Normalizador seguro\nconst norm = (v) => String(v ?? \"\").trim();\n\n// 🔹 Itens do nó PROCURAR MATERIAL\nconst procurarMaterial = $items(\"PROCURAR MATERIAL\");\n\n// 🔹 Itens do nó RETORNA PLANILHA TRIAGEM (entrada padrão)\nconst triagem = $items(\"RETORNA PLANILHA TRIAGEM\");\n\n// 🔹 Cria um Set com todas as datas da TRIAGEM\nconst datasTriagem = new Set(\n  triagem\n    .map(i =>\n      norm(i.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'])\n    )\n    .filter(v => v !== \"\")\n);\n\n// 🔹 Filtra PROCURAR MATERIAL:\n// só retorna o que NÃO existe na TRIAGEM\nconst resultado = procurarMaterial.filter(i => {\n  const dataProcurar = norm(\n    i.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA']\n  );\n\n  return dataProcurar && !datasTriagem.has(dataProcurar);\n});\n\n// 🔹 Retorno no padrão do n8n\nreturn resultado.map(i => ({ json: i.json }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,1952],"id":"961e4cff-beb0-4390-958a-dd0455a9d7ab","name":"Code in JavaScript2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $('JÁ FOI ENVIADO A MENSAGEM?').item.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","CONTROLE ENVIO MENSAGEM":"=ENVIADO"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2208,2432],"id":"475ebf02-b70a-41be-b3f0-16599188ba15","name":"Update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"de1b19fe-0a6c-4bdd-bde2-19022cc0bcd2","leftValue":"={{ $json['CONTROLE ENVIO MENSAGEM'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1216,2432],"id":"d5128b91-3991-41a8-8d25-231df7d29e51","name":"JÁ FOI ENVIADO A MENSAGEM?"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[816,2448],"id":"2ddcb12a-03a0-44fc-afc1-b4c09a1b7f82","name":"RETORNA PLANILHA TRIAGEM1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[816,2208],"id":"fe102b8a-b7c6-409a-a6dc-5e5c34fa0ca3","name":"RETORNA PLANILHA TRIAGEM2","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json[\"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA\"] }}","DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1648,2176],"id":"a1fd447f-2c89-4300-a0ef-07da837feaeb","name":"PREENCHE PLANILHA TRIAGEM DATA","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8db36758-05df-48c6-926c-14b09a805028","leftValue":"={{ $json['DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[992,2448],"id":"7a8c202f-2ca6-4cd9-9800-4c12b80a9364","name":"DATA TRIAGEM PREENCHIDA"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1a46f2ca-9944-4428-b098-347d0b204979","leftValue":"={{ $json['DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1232,2192],"id":"6d2adfc7-0706-4dd8-ab81-8e13e81bc792","name":"DATA TRIAGEM PREENCHIDA1"},{"parameters":{"content":"#### GATILHO A CADA 1 MINUTO DAS 7 AS 23 DE SEGUNDA A SÁBADO","height":244,"width":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,2080],"id":"91a3f454-9f2b-40e0-a141-9a129321c32c","name":"Sticky Note4"},{"parameters":{"jsCode":"return items.map(item => {\n  item.json.destinatario = String(item.json.destinatario || \"120363406086322772@g.us\");\n  item.json.mensagem = String(item.json.mensagem || \"Teste\");\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,2432],"id":"d2dac93f-3223-4d21-b78d-79a8ef5327ac","name":"Code in JavaScript5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b01e9d28-102f-462e-8a18-9cbe22ba54f8","leftValue":"={{ $json['Observações (Detalhes sobre a pendência)'] }}","rightValue":"[tT][eEéÉ][cC][nN][iI][cC][oO]","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1728,1952],"id":"73f4a8d8-d8fb-4105-9d69-61346c6683f5","name":"If4"}],"connections":{"Loop Over Items2":{"main":[[],[{"node":"Gmail1","type":"main","index":0}]]},"Replace Me2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Gmail1":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"LER PLANILHA GERAL","type":"main","index":0},{"node":"RETORNA PLANILHA TRIAGEM","type":"main","index":0},{"node":"RETORNA PLANILHA TRIAGEM2","type":"main","index":0},{"node":"RETORNA PLANILHA TRIAGEM1","type":"main","index":0}]]},"PROCURAR MATERIAL":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Preenche planilha triagem":{"main":[[]]},"TRIAGEM RESPONDEU":{"main":[[{"node":"DATA TRIAGEM PREENCHIDA1","type":"main","index":0}]]},"PREENCHE PLANILHA GERAL":{"main":[[{"node":"PREENCHE PLANILHA TRIAGEM DATA","type":"main","index":0}]]},"RETORNA PLANILHA TRIAGEM":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Enviar texto1":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}]]},"LER PLANILHA GERAL":{"main":[[{"node":"PROCURAR MATERIAL","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"If4","type":"main","index":0}]]},"Update row in sheet2":{"main":[[{"node":"Replace Me2","type":"main","index":0}]]},"JÁ FOI ENVIADO A MENSAGEM?":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}],[]]},"RETORNA PLANILHA TRIAGEM1":{"main":[[{"node":"DATA TRIAGEM PREENCHIDA","type":"main","index":0}]]},"RETORNA PLANILHA TRIAGEM2":{"main":[[{"node":"TRIAGEM RESPONDEU","type":"main","index":0}]]},"DATA TRIAGEM PREENCHIDA":{"main":[[{"node":"JÁ FOI ENVIADO A MENSAGEM?","type":"main","index":0}]]},"DATA TRIAGEM PREENCHIDA1":{"main":[[{"node":"PREENCHE PLANILHA GERAL","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"If4":{"main":[[],[{"node":"Preenche planilha triagem","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w","callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"all","saveExecutionProgress":true},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a47a1c85-2b27-4b5e-8aec-da92b5d15e0a","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-15T10:38:58.557Z","createdAt":"2026-04-15T10:38:58.557Z","role":"workflow:owner","workflowId":"AuSFq8i9Fsouhhet","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}