workflows/triagemsolicitacaopendencia-iG8o6rTPZm0RsOa9.json
{"updatedAt":"2026-07-23T22:24:53.895Z","createdAt":"2026-05-11T23:59:41.209Z","id":"iG8o6rTPZm0RsOa9","name":"TriagemSolicitacaoPendencia","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/7 8-17 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,640],"id":"870de073-e10f-405a-a24e-f85b408e7133","name":"Schedule Trigger1"},{"parameters":{"content":"# TRIAGEM\n## PREENCHE NA ABA SETOR TRIAGEM APENAS OS QUE FOR PARA PROCURAR\n## VERIFICAR SE A TRIAGEM COLOCOU O NOME QUE ENCONTROU O MATERIAL\n## PREENCHE OS CAMPOS *ENCONTRADO POR*, *OBSERVAÇÕES TRIAGEM* E *DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA* NA PLANILHA GERAL E A COLUNA  *DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA* DAABA TRIAGEM\n## ENVIAR MENSAGEM PARA O SETOR TÉCNICO","height":1136,"width":1676},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"442a8c08-53e9-404f-88b7-9125c7fa3f71","name":"Sticky Note3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[688,880],"id":"a60cd621-94c3-48db-9028-e55722c7393e","name":"Loop Over Items2"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me2","typeVersion":1,"position":[1456,896],"id":"1640676f-eeaa-47de-a481-9904ff442fda"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b81802-1656-4e8b-b85d-80b128e37cc6","leftValue":"={{ $json['PROCURAR MATERIAL?'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['ENCONTRADO POR'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"71160f94-b4be-4719-b23f-b6e44122e3af","leftValue":"={{ $json['OBSERVAÇÕES ÁREA TRIAGEM'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,288],"id":"61df1a22-7812-486d-abf7-04441a969470","name":"PROCURAR MATERIAL"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $json['DATA QUE COLOCOU RELATÓRIO NO DRIVE'] }}","Data do Cadastro":"={{ $json['Data do Cadastro'] }}","ÁREA":"={{ $json['ÁREA'] }}","Registro do Paciente":"={{ $json['Registro do Paciente'] }}","Número do Posto":"={{ $json['Número do Posto'] }}","Nome Completo do Paciente":"={{ $json['Nome Completo do Paciente'] }}","SIGLA":"={{ $json.SIGLA }}","DESCRIÇÃO DO EXAME":"={{ $json['DESCRIÇÃO DO EXAME'] }}","LINHAS QUE SE REPETEM ":"={{ $json['LINHAS QUE SE REPETEM '] }}","STATUS DA AMOSTRA":"={{ $json['STATUS DA AMOSTRA'] }}","SISTEMA":"={{ $json.SISTEMA }}","DATA RESULTADO":"={{ $json['DATA RESULTADO'] }}","PROCURAR MATERIAL?":"={{ $json['PROCURAR MATERIAL?'] }}","Observações (Detalhes sobre a pendência)":"={{ $json['Observações (Detalhes sobre a pendência)'] }}","DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}"},"matchingColumns":[],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1200,432],"id":"c3425e4e-77a5-48f4-ab96-ba5159ee6517","name":"Preenche planilha triagem","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b81802-1656-4e8b-b85d-80b128e37cc6","leftValue":"={{ $json['ENCONTRADO POR'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['REALIZADO POR '] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,672],"id":"7530679b-cb7a-4652-b0cd-b4349b001f77","name":"TRIAGEM RESPONDEU"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json[\"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA\"] }}","ENCONTRADO POR":"={{ $json[\"ENCONTRADO POR\"] }}","OBSERVAÇÕES ÁREA TRIAGEM":"={{ $json[\"OBSERVAÇÕES ÁREA TRIAGEM\"] }}"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[720,640],"id":"94ab7f9b-ca7e-4b87-93db-95681f64feb0","name":"PREENCHE PLANILHA GERAL","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,448],"id":"65db5883-0d9c-460d-b585-983abe2c4980","name":"RETORNA PLANILHA TRIAGEM","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[96,288],"id":"9351ad11-a6bc-4322-8528-e2aa872f237f","name":"LER PLANILHA GERAL","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,416],"id":"c2747285-695d-415d-9cc0-ee2930d0eb4c","name":"Merge1"},{"parameters":{"jsCode":"// =======================================================\n// COMPARAÇÃO:\n// - Fonte A: PROCURAR MATERIAL\n// - Fonte B: RETORNA PLANILHA TRIAGEM\n// Retorna o que está em A e NÃO está em B\n// Chave de comparação:\n// 'DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'\n// =======================================================\n\n// Normalizador seguro\nconst norm = (v) => String(v ?? \"\").trim();\n\n// 🔹 Itens do nó PROCURAR MATERIAL\nconst procurarMaterial = $items(\"PROCURAR MATERIAL\");\n\n// 🔹 Itens do nó RETORNA PLANILHA TRIAGEM (entrada padrão)\nconst triagem = $items(\"RETORNA PLANILHA TRIAGEM\");\n\n// 🔹 Cria um Set com todas as datas da TRIAGEM\nconst datasTriagem = new Set(\n  triagem\n    .map(i =>\n      norm(i.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'])\n    )\n    .filter(v => v !== \"\")\n);\n\n// 🔹 Filtra PROCURAR MATERIAL:\n// só retorna o que NÃO existe na TRIAGEM\nconst resultado = procurarMaterial.filter(i => {\n  const dataProcurar = norm(\n    i.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA']\n  );\n\n  return dataProcurar && !datasTriagem.has(dataProcurar);\n});\n\n// 🔹 Retorno no padrão do n8n\nreturn resultado.map(i => ({ json: i.json }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,416],"id":"c85f9947-237d-49bc-8021-78df4c3291d3","name":"Code in JavaScript2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $('JÁ FOI ENVIADO A MENSAGEM?').item.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","CONTROLE ENVIO MENSAGEM":"=ENVIADO"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1296,896],"id":"97116781-4148-43ff-a9d0-da42e5ee1f5a","name":"Update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"de1b19fe-0a6c-4bdd-bde2-19022cc0bcd2","leftValue":"={{ $json['CONTROLE ENVIO MENSAGEM'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[464,896],"id":"42981c9d-2c6a-4f05-beed-4d565018b15a","name":"JÁ FOI ENVIADO A MENSAGEM?"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[64,912],"id":"39daadce-fce9-4328-8e4a-af281c97253d","name":"RETORNA PLANILHA TRIAGEM1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[64,672],"id":"df640339-59d6-4280-9918-9841fccdf1bf","name":"RETORNA PLANILHA TRIAGEM2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json[\"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA\"] }}","DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[896,640],"id":"c00c802c-a700-435a-9541-c8a8879ef071","name":"PREENCHE PLANILHA TRIAGEM DATA","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8db36758-05df-48c6-926c-14b09a805028","leftValue":"={{ $json['DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[240,912],"id":"1ebb65c5-6577-4af6-9bfd-24b55428c4ad","name":"DATA TRIAGEM PREENCHIDA"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1a46f2ca-9944-4428-b098-347d0b204979","leftValue":"={{ $json['DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[480,656],"id":"66464b57-a43e-42f3-8e13-71921c327587","name":"DATA TRIAGEM PREENCHIDA1"},{"parameters":{"content":"#### GATILHO A CADA 1 MINUTO DAS 7 AS 23 DE SEGUNDA A SÁBADO","height":244,"width":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,544],"id":"26f8489e-8899-4b4f-88e8-77ca2f2bf74a","name":"Sticky Note4"},{"parameters":{"jsCode":"return items.map(item => {\n  item.json.destinatario = String(item.json.destinatario || \"120363406086322772@g.us\");\n  item.json.mensagem = String(item.json.mensagem || \"Teste\");\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,896],"id":"299de6f9-53fb-412d-82b7-d464e75291f3","name":"Code in JavaScript5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b01e9d28-102f-462e-8a18-9cbe22ba54f8","leftValue":"={{ $json['Observações (Detalhes sobre a pendência)'] }}","rightValue":"[tT][eEéÉ][cC][nN][iI][cC][oO]","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[976,416],"id":"43cf5b14-662f-4b50-817f-64ce6d836847","name":"If4"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1104,896],"id":"d9b17aa6-47a5-4ca6-8a3a-bad0b3613adc","name":"Wait","webhookId":"7ef40706-986d-4922-bb3e-648d23376d47"}],"connections":{"Loop Over Items2":{"main":[[],[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Replace Me2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"LER PLANILHA GERAL","type":"main","index":0},{"node":"RETORNA PLANILHA TRIAGEM","type":"main","index":0},{"node":"RETORNA PLANILHA TRIAGEM2","type":"main","index":0},{"node":"RETORNA PLANILHA TRIAGEM1","type":"main","index":0}]]},"PROCURAR MATERIAL":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"TRIAGEM RESPONDEU":{"main":[[{"node":"DATA TRIAGEM PREENCHIDA1","type":"main","index":0}]]},"PREENCHE PLANILHA GERAL":{"main":[[{"node":"PREENCHE PLANILHA TRIAGEM DATA","type":"main","index":0}]]},"RETORNA PLANILHA TRIAGEM":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"LER PLANILHA GERAL":{"main":[[{"node":"PROCURAR MATERIAL","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"If4","type":"main","index":0}]]},"Update row in sheet2":{"main":[[{"node":"Replace Me2","type":"main","index":0}]]},"JÁ FOI ENVIADO A MENSAGEM?":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"RETORNA PLANILHA TRIAGEM1":{"main":[[{"node":"DATA TRIAGEM PREENCHIDA","type":"main","index":0}]]},"RETORNA PLANILHA TRIAGEM2":{"main":[[{"node":"TRIAGEM RESPONDEU","type":"main","index":0}]]},"DATA TRIAGEM PREENCHIDA":{"main":[[{"node":"JÁ FOI ENVIADO A MENSAGEM?","type":"main","index":0}]]},"DATA TRIAGEM PREENCHIDA1":{"main":[[{"node":"PREENCHE PLANILHA GERAL","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If4":{"main":[[],[{"node":"Preenche planilha triagem","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cadb153f-613d-4549-9d21-8f3352ddfea5","activeVersionId":"cadb153f-613d-4549-9d21-8f3352ddfea5","triggerCount":1,"shared":[{"updatedAt":"2026-05-11T23:59:41.212Z","createdAt":"2026-05-11T23:59:41.212Z","role":"workflow:owner","workflowId":"iG8o6rTPZm0RsOa9","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-07-23T22:24:56.000Z","createdAt":"2026-07-23T22:24:53.897Z","versionId":"cadb153f-613d-4549-9d21-8f3352ddfea5","workflowId":"iG8o6rTPZm0RsOa9","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/7 8-17 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,640],"id":"870de073-e10f-405a-a24e-f85b408e7133","name":"Schedule Trigger1"},{"parameters":{"content":"# TRIAGEM\n## PREENCHE NA ABA SETOR TRIAGEM APENAS OS QUE FOR PARA PROCURAR\n## VERIFICAR SE A TRIAGEM COLOCOU O NOME QUE ENCONTROU O MATERIAL\n## PREENCHE OS CAMPOS *ENCONTRADO POR*, *OBSERVAÇÕES TRIAGEM* E *DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA* NA PLANILHA GERAL E A COLUNA  *DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA* DAABA TRIAGEM\n## ENVIAR MENSAGEM PARA O SETOR TÉCNICO","height":1136,"width":1676},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"442a8c08-53e9-404f-88b7-9125c7fa3f71","name":"Sticky Note3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[688,880],"id":"a60cd621-94c3-48db-9028-e55722c7393e","name":"Loop Over Items2"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me2","typeVersion":1,"position":[1456,896],"id":"1640676f-eeaa-47de-a481-9904ff442fda"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b81802-1656-4e8b-b85d-80b128e37cc6","leftValue":"={{ $json['PROCURAR MATERIAL?'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['ENCONTRADO POR'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}},{"id":"71160f94-b4be-4719-b23f-b6e44122e3af","leftValue":"={{ $json['OBSERVAÇÕES ÁREA TRIAGEM'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,288],"id":"61df1a22-7812-486d-abf7-04441a969470","name":"PROCURAR MATERIAL"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $json['DATA QUE COLOCOU RELATÓRIO NO DRIVE'] }}","Data do Cadastro":"={{ $json['Data do Cadastro'] }}","ÁREA":"={{ $json['ÁREA'] }}","Registro do Paciente":"={{ $json['Registro do Paciente'] }}","Número do Posto":"={{ $json['Número do Posto'] }}","Nome Completo do Paciente":"={{ $json['Nome Completo do Paciente'] }}","SIGLA":"={{ $json.SIGLA }}","DESCRIÇÃO DO EXAME":"={{ $json['DESCRIÇÃO DO EXAME'] }}","LINHAS QUE SE REPETEM ":"={{ $json['LINHAS QUE SE REPETEM '] }}","STATUS DA AMOSTRA":"={{ $json['STATUS DA AMOSTRA'] }}","SISTEMA":"={{ $json.SISTEMA }}","DATA RESULTADO":"={{ $json['DATA RESULTADO'] }}","PROCURAR MATERIAL?":"={{ $json['PROCURAR MATERIAL?'] }}","Observações (Detalhes sobre a pendência)":"={{ $json['Observações (Detalhes sobre a pendência)'] }}","DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}"},"matchingColumns":[],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1200,432],"id":"c3425e4e-77a5-48f4-ab96-ba5159ee6517","name":"Preenche planilha triagem","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7b81802-1656-4e8b-b85d-80b128e37cc6","leftValue":"={{ $json['ENCONTRADO POR'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"472922cd-f5ee-430f-9b5c-815c2df4de52","leftValue":"={{ $json['REALIZADO POR '] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[256,672],"id":"7530679b-cb7a-4652-b0cd-b4349b001f77","name":"TRIAGEM RESPONDEU"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json[\"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA\"] }}","ENCONTRADO POR":"={{ $json[\"ENCONTRADO POR\"] }}","OBSERVAÇÕES ÁREA TRIAGEM":"={{ $json[\"OBSERVAÇÕES ÁREA TRIAGEM\"] }}"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[720,640],"id":"94ab7f9b-ca7e-4b87-93db-95681f64feb0","name":"PREENCHE PLANILHA GERAL","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,448],"id":"65db5883-0d9c-460d-b585-983abe2c4980","name":"RETORNA PLANILHA TRIAGEM","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[96,288],"id":"9351ad11-a6bc-4322-8528-e2aa872f237f","name":"LER PLANILHA GERAL","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,416],"id":"c2747285-695d-415d-9cc0-ee2930d0eb4c","name":"Merge1"},{"parameters":{"jsCode":"// =======================================================\n// COMPARAÇÃO:\n// - Fonte A: PROCURAR MATERIAL\n// - Fonte B: RETORNA PLANILHA TRIAGEM\n// Retorna o que está em A e NÃO está em B\n// Chave de comparação:\n// 'DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'\n// =======================================================\n\n// Normalizador seguro\nconst norm = (v) => String(v ?? \"\").trim();\n\n// 🔹 Itens do nó PROCURAR MATERIAL\nconst procurarMaterial = $items(\"PROCURAR MATERIAL\");\n\n// 🔹 Itens do nó RETORNA PLANILHA TRIAGEM (entrada padrão)\nconst triagem = $items(\"RETORNA PLANILHA TRIAGEM\");\n\n// 🔹 Cria um Set com todas as datas da TRIAGEM\nconst datasTriagem = new Set(\n  triagem\n    .map(i =>\n      norm(i.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'])\n    )\n    .filter(v => v !== \"\")\n);\n\n// 🔹 Filtra PROCURAR MATERIAL:\n// só retorna o que NÃO existe na TRIAGEM\nconst resultado = procurarMaterial.filter(i => {\n  const dataProcurar = norm(\n    i.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA']\n  );\n\n  return dataProcurar && !datasTriagem.has(dataProcurar);\n});\n\n// 🔹 Retorno no padrão do n8n\nreturn resultado.map(i => ({ json: i.json }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,416],"id":"c85f9947-237d-49bc-8021-78df4c3291d3","name":"Code in JavaScript2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $('JÁ FOI ENVIADO A MENSAGEM?').item.json['DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA'] }}","CONTROLE ENVIO MENSAGEM":"=ENVIADO"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1296,896],"id":"97116781-4148-43ff-a9d0-da42e5ee1f5a","name":"Update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"de1b19fe-0a6c-4bdd-bde2-19022cc0bcd2","leftValue":"={{ $json['CONTROLE ENVIO MENSAGEM'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[464,896],"id":"42981c9d-2c6a-4f05-beed-4d565018b15a","name":"JÁ FOI ENVIADO A MENSAGEM?"},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[64,912],"id":"39daadce-fce9-4328-8e4a-af281c97253d","name":"RETORNA PLANILHA TRIAGEM1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[64,672],"id":"df640339-59d6-4280-9918-9841fccdf1bf","name":"RETORNA PLANILHA TRIAGEM2","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":328383880,"mode":"list","cachedResultName":"SETOR TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=328383880"},"columns":{"mappingMode":"defineBelow","value":{"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA":"={{ $json[\"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA\"] }}","DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA":"={{ $now.toFormat('dd/LL/yyyy HH:mm:ss') }}"},"matchingColumns":["DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO","displayName":"DATA RESULTADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","displayName":"DATA QUE A COLUNA DATA TÉCNICO FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"CONTROLE ENVIO MENSAGEM","displayName":"CONTROLE ENVIO MENSAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[896,640],"id":"c00c802c-a700-435a-9541-c8a8879ef071","name":"PREENCHE PLANILHA TRIAGEM DATA","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8db36758-05df-48c6-926c-14b09a805028","leftValue":"={{ $json['DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[240,912],"id":"1ebb65c5-6577-4af6-9bfd-24b55428c4ad","name":"DATA TRIAGEM PREENCHIDA"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1a46f2ca-9944-4428-b098-347d0b204979","leftValue":"={{ $json['DATA QUE A COLUNA DATA TRIAGEM FOI PREENCHIDA'] }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[480,656],"id":"66464b57-a43e-42f3-8e13-71921c327587","name":"DATA TRIAGEM PREENCHIDA1"},{"parameters":{"content":"#### GATILHO A CADA 1 MINUTO DAS 7 AS 23 DE SEGUNDA A SÁBADO","height":244,"width":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,544],"id":"26f8489e-8899-4b4f-88e8-77ca2f2bf74a","name":"Sticky Note4"},{"parameters":{"jsCode":"return items.map(item => {\n  item.json.destinatario = String(item.json.destinatario || \"120363406086322772@g.us\");\n  item.json.mensagem = String(item.json.mensagem || \"Teste\");\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,896],"id":"299de6f9-53fb-412d-82b7-d464e75291f3","name":"Code in JavaScript5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b01e9d28-102f-462e-8a18-9cbe22ba54f8","leftValue":"={{ $json['Observações (Detalhes sobre a pendência)'] }}","rightValue":"[tT][eEéÉ][cC][nN][iI][cC][oO]","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[976,416],"id":"43cf5b14-662f-4b50-817f-64ce6d836847","name":"If4"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1104,896],"id":"d9b17aa6-47a5-4ca6-8a3a-bad0b3613adc","name":"Wait","webhookId":"7ef40706-986d-4922-bb3e-648d23376d47"}],"connections":{"Loop Over Items2":{"main":[[],[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Replace Me2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"LER PLANILHA GERAL","type":"main","index":0},{"node":"RETORNA PLANILHA TRIAGEM","type":"main","index":0},{"node":"RETORNA PLANILHA TRIAGEM2","type":"main","index":0},{"node":"RETORNA PLANILHA TRIAGEM1","type":"main","index":0}]]},"PROCURAR MATERIAL":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"TRIAGEM RESPONDEU":{"main":[[{"node":"DATA TRIAGEM PREENCHIDA1","type":"main","index":0}]]},"PREENCHE PLANILHA GERAL":{"main":[[{"node":"PREENCHE PLANILHA TRIAGEM DATA","type":"main","index":0}]]},"RETORNA PLANILHA TRIAGEM":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"LER PLANILHA GERAL":{"main":[[{"node":"PROCURAR MATERIAL","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"If4","type":"main","index":0}]]},"Update row in sheet2":{"main":[[{"node":"Replace Me2","type":"main","index":0}]]},"JÁ FOI ENVIADO A MENSAGEM?":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"RETORNA PLANILHA TRIAGEM1":{"main":[[{"node":"DATA TRIAGEM PREENCHIDA","type":"main","index":0}]]},"RETORNA PLANILHA TRIAGEM2":{"main":[[{"node":"TRIAGEM RESPONDEU","type":"main","index":0}]]},"DATA TRIAGEM PREENCHIDA":{"main":[[{"node":"JÁ FOI ENVIADO A MENSAGEM?","type":"main","index":0}]]},"DATA TRIAGEM PREENCHIDA1":{"main":[[{"node":"PREENCHE PLANILHA GERAL","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Wait","type":"main","index":0}]]},"If4":{"main":[[],[{"node":"Preenche planilha triagem","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Update row in sheet2","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version cadb153f","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}