workflows/tubos-OeZtKoh_su6xb0Giq9EIL.json
{"updatedAt":"2026-05-06T19:38:16.055Z","createdAt":"2026-03-22T03:33:33.906Z","id":"OeZtKoh_su6xb0Giq9EIL","name":"TUBOS","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return $input.all().map(item => {\n  \n  const data = item.json;\n\n  const mapaMotoqueiros = {\n    1: \"AMANDA\",\n    2: \"FRANCISCO\",\n    3: \"JEOVA\",\n    4: \"RICARDO\",\n    5: \"SANDRO\",\n    6: \"OUTROS\",\n    7: \"CKELY\",\n    8: \"PRISCILA\"\n  };\n\n  const idMotoqueiro = Number(data.MOTOQUEIROS);\n  const nomeMotoqueiro = mapaMotoqueiros[idMotoqueiro] || \"\";\n\n  return {\n    json: {\n      ...data,\n      nomeMotoqueiro\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,0],"id":"aa2205e3-e20b-4a5b-b509-ecb7d04590ff","name":"Code in JavaScript"},{"parameters":{"batchSize":100,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,0],"id":"4d77e051-fe35-48a0-b21b-8882b246eb63","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1648,16],"id":"eca155d0-15a2-4b7e-826c-db1a51969a7d"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-176,16],"id":"e7bf5666-9585-4222-9068-75db6fe6c3a0","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U","mode":"list","cachedResultName":"APP MOTOQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[32,16],"id":"9b4ba16f-2478-4de9-9981-a97d1f4e0894","name":"app mot","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0","mode":"list","cachedResultName":"ALMOXARIFADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":616716640,"mode":"list","cachedResultName":"TUBOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit#gid=616716640"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Loop Over Items').item.json.ID }}","DATA COMPLETA":"={{ $('Loop Over Items').item.json.DATA }}","MOTOQ":"={{ $('Loop Over Items').item.json.nomeMotoqueiro }}","POSTOS":"={{ $('Loop Over Items').item.json.POSTO }}","SWAB":"={{ $('Loop Over Items').item.json.SWAB }}","FEZES":"={{ $('Loop Over Items').item.json.FEZES }}","SERINGA 5ML":"={{ $('Loop Over Items').item.json['SERINGA 5ML'] }}","SERINGA 10ML":"={{ $('Loop Over Items').item.json['SERINGA 10ML'] }}","AGULHA A VÁCUO":"={{ $('Loop Over Items').item.json['AGULHA A VÁCUO'] }}","REQUISIÇÃO":"={{ $('Loop Over Items').item.json['REQUISIÇÃO'] }}","TUBO SECO":"={{ $('Loop Over Items').item.json['TUBO SECO'] }}","TUBO HEMOGRAMA":"={{ $('Loop Over Items').item.json['TUBO HEMOGRAMA'] }}","TUBO GLICOSE":"={{ $('Loop Over Items').item.json['TUBO GLICOSE'] }}","TUBO TPAE":"={{ $('Loop Over Items').item.json['TUBO TPAE'] }}","UROCULTURA":"={{ $('Loop Over Items').item.json.UROCULTURA }}","CITOLOGIA":"={{ $('Loop Over Items').item.json.CITOLOGIA }}","SUMÁRIO":"={{ $('Loop Over Items').item.json['SUMÁRIO'] }}"},"matchingColumns":["ID"],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA COMPLETA","displayName":"DATA COMPLETA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOTOQ","displayName":"MOTOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTOS","displayName":"POSTOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"área semana","displayName":"área semana","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REQUISIÇÃO","displayName":"REQUISIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TUBO SECO","displayName":"TUBO SECO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TUBO HEMOGRAMA","displayName":"TUBO HEMOGRAMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TUBO GLICOSE","displayName":"TUBO GLICOSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TUBO TPAE","displayName":"TUBO TPAE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SWAB","displayName":"SWAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UROCULTURA","displayName":"UROCULTURA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CITOLOGIA","displayName":"CITOLOGIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SUMÁRIO","displayName":"SUMÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FEZES","displayName":"FEZES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 5ML","displayName":"SERINGA 5ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 10ML","displayName":"SERINGA 10ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AGULHA A VÁCUO","displayName":"AGULHA A VÁCUO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"área geral","displayName":"área geral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome área semana","displayName":"nome área semana","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÁREA SÁB","displayName":"ÁREA SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome área sabado","displayName":"nome área sabado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID_AREA","displayName":"ID_AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID_POSTO","displayName":"ID_POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[912,16],"id":"270844bf-7a38-4ae7-83d5-f5067811a8ea","name":"preenche almox","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1amBBB2MP22_TYdxGVLu0TZgqv2Ku610QpvyK7EiOK4E","mode":"list","cachedResultName":"RELATÓRIO TRIAGEM","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1amBBB2MP22_TYdxGVLu0TZgqv2Ku610QpvyK7EiOK4E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1amBBB2MP22_TYdxGVLu0TZgqv2Ku610QpvyK7EiOK4E/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}","REQ":"={{ $json['REQUISIÇÃO'] }}","SECO":"={{ $json['TUBO SECO'] }}","HEMO":"={{ $json['TUBO HEMOGRAMA'] }}","GLI":"={{ $json['TUBO GLICOSE'] }}","TPAE":"={{ $json['TUBO TPAE'] }}","SWAB":"={{ $json.SWAB }}","UROC":"={{ $json.UROCULTURA }}","CITOL":"={{ $json.CITOLOGIA }}","FEZES":"={{ $json.FEZES }}","SUM":"={{ $json['SUMÁRIO'] }}","SER 5ML":"={{ $json['SERINGA 5ML'] }}","SER 10ML":"={{ $json['SERINGA 10ML'] }}","AG A VÁCUO":"={{ $json['AGULHA A VÁCUO'] }}","MOTOQUEIRO":"={{ $json.MOTOQ }}","DATA/HORA":"={{ $json['DATA COMPLETA'] }}","PT":"={{ $json.POSTOS }}","ÁREA SEM":"={{ $json[\"ÁREA SEM\"] }}"},"matchingColumns":["ID"],"schema":[{"id":"CONFERIDO POR","displayName":"CONFERIDO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PT","displayName":"PT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REQ","displayName":"REQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SECO","displayName":"SECO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HEMO","displayName":"HEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GLI","displayName":"GLI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TPAE","displayName":"TPAE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SWAB","displayName":"SWAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UROC","displayName":"UROC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CITOL","displayName":"CITOL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SUM","displayName":"SUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FEZES","displayName":"FEZES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SER 5ML","displayName":"SER 5ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SER 10ML","displayName":"SER 10ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AG A VÁCUO","displayName":"AG A VÁCUO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA SEM","displayName":"ÁREA SEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME ÁREA SEMANA","displayName":"NOME ÁREA SEMANA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÁREA SÁB","displayName":"ÁREA SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ÁREA SÁBADO","displayName":"NOME ÁREA SÁBADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MOTOQUEIRO","displayName":"MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA/HORA","displayName":"DATA/HORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR","displayName":"RECEBIDO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-REQ","displayName":"T-REQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-SECO","displayName":"T-SECO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-HEMO","displayName":"T-HEMO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-GLI","displayName":"T-GLI","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-TPAE","displayName":"T-TPAE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-SWAB","displayName":"T-SWAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-UROC","displayName":"T-UROC","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-CITOL","displayName":"T-CITOL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-SUM","displayName":"T-SUM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-FEZES","displayName":"T-FEZES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-SER 5ML","displayName":"T-SER 5ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-SER 10ML","displayName":"T-SER 10ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"T-AG VÁCUO","displayName":"T-AG VÁCUO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME ÁREA GERAL","displayName":"NOME ÁREA GERAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID_AREA","displayName":"ID_AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID_POSTO","displayName":"ID_POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1184,16],"id":"f8f206cb-51eb-43a4-9128-b717da005f26","name":"preenche triagem","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U","mode":"list","cachedResultName":"APP MOTOQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('app mot').item.json.ID }}","DATA_VALIDACAO":"OK","row_number":0},"matchingColumns":["ID"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MOTOQUEIROS","displayName":"MOTOQUEIROS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AREA","displayName":"AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AREA_POSTO_ESCOLHIDO","displayName":"AREA_POSTO_ESCOLHIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REQUISIÇÃO","displayName":"REQUISIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO SECO","displayName":"TUBO SECO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO HEMOGRAMA","displayName":"TUBO HEMOGRAMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO GLICOSE","displayName":"TUBO GLICOSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO TPAE","displayName":"TUBO TPAE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SWAB","displayName":"SWAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UROCULTURA","displayName":"UROCULTURA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CITOLOGIA","displayName":"CITOLOGIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SUMÁRIO","displayName":"SUMÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FEZES","displayName":"FEZES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 5ML","displayName":"SERINGA 5ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 10ML","displayName":"SERINGA 10ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AGULHA A VÁCUO","displayName":"AGULHA A VÁCUO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TOTAL_PGTO_AREA","displayName":"TOTAL_PGTO_AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOVIMENTO ENVIO","displayName":"MOVIMENTO ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO DINHEIRO","displayName":"PGTO DINHEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO PIX","displayName":"PGTO PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO CARTÃO","displayName":"PGTO CARTÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIMENTO ATRASADO","displayName":"RECEBIMENTO ATRASADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CRÉDITO POSTO","displayName":"CRÉDITO POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCONTO CRÉDITO POSTO","displayName":"DESCONTO CRÉDITO POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REPETIÇÃO","displayName":"REPETIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"COMBUSTÍVEL","displayName":"COMBUSTÍVEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO COLETORA","displayName":"PGTO COLETORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ALUGUEL MOTO","displayName":"ALUGUEL MOTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PEDÁGIO","displayName":"PEDÁGIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DINHEIRO ENTREGUE MOTOQUEIRO","displayName":"DINHEIRO ENTREGUE MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OUTRAS ENTRADAS","displayName":"OUTRAS ENTRADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DÉBITO RESTANTE","displayName":"DÉBITO RESTANTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DÉBITO MOTOQUEIRO","displayName":"DÉBITO MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Pagamento","displayName":"Status Pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"KM ATUAL","displayName":"KM ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO","displayName":"FOTO_RELATORIO_ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO1","displayName":"FOTO_RELATORIO_ENVIO1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO2","displayName":"FOTO_RELATORIO_ENVIO2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_CADERNO","displayName":"FOTO_CADERNO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_INSUMOS_ENTREGUES","displayName":"FOTO_INSUMOS_ENTREGUES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTES_DIVERSOS","displayName":"FOTO_COMPROVANTES_DIVERSOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_DEPOSITO","displayName":"FOTO_DEPOSITO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMBUSTÍVEL","displayName":"FOTO_COMBUSTÍVEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTE PIX","displayName":"FOTO_COMPROVANTE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTE CARTÃO","displayName":"FOTO_COMPROVANTE CARTÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_POSTO_FECHADO","displayName":"FOTO_POSTO_FECHADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"KM RODADO","displayName":"KM RODADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÃO","displayName":"OBSERVAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME_VALIDADOR_DIGITADO","displayName":"NOME_VALIDADOR_DIGITADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SENHA_DIGITADA","displayName":"SENHA_DIGITADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALIDADO","displayName":"VALIDADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA_VALIDACAO","displayName":"DATA_VALIDACAO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"JÁ NA PLANILHA REL MOT","displayName":"JÁ NA PLANILHA REL MOT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1408,16],"id":"06d9c228-321c-47d5-b8b0-e8e851f8b3d2","name":"app mot1","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"75b107eb-0e1a-4a22-aa01-9197b45fcafd","leftValue":"={{$json.DATA_VALIDACAO}}","rightValue":"OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[240,16],"id":"1c3fb605-cefa-4cfe-b6e1-74ab3b412e5c","name":"If"}],"connections":{"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"preenche almox","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"app mot","type":"main","index":0}]]},"app mot":{"main":[[{"node":"If","type":"main","index":0}]]},"preenche almox":{"main":[[{"node":"preenche triagem","type":"main","index":0}]]},"preenche triagem":{"main":[[{"node":"app mot1","type":"main","index":0}]]},"app mot1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9fa90a96-4268-4af7-a43c-e6b3e79c5119","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-03-22T03:33:33.906Z","createdAt":"2026-03-22T03:33:33.906Z","role":"workflow:owner","workflowId":"OeZtKoh_su6xb0Giq9EIL","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}