workflows/tubos-h5p5uproFMVhp4Ed.json
{"updatedAt":"2026-07-01T01:32:24.095Z","createdAt":"2026-05-12T00:22:35.967Z","id":"h5p5uproFMVhp4Ed","name":"TUBOS","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return $input.all().map(item => {\n  \n  const data = item.json;\n\n  const mapaMotoqueiros = {\n    1: \"KENNEDY\",\n    2: \"FRANCISCO\",\n    3: \"JEOVA\",\n    4: \"RICARDO\",\n    5: \"SANDRO\",\n    6: \"OUTROS\",\n    7: \"CKELY\",\n    8: \"PRISCILA\"\n  };\n\n  const idMotoqueiro = Number(data.MOTOQUEIROS);\n  const nomeMotoqueiro = mapaMotoqueiros[idMotoqueiro] || \"\";\n\n  return {\n    json: {\n      ...data,\n      nomeMotoqueiro\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"da126796-f8df-4f12-a323-ea62bdb7f4e5","name":"Code in JavaScript"},{"parameters":{"batchSize":100,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[176,0],"id":"2b76de20-9839-47e7-bc2e-28bd7d8af5fd","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[880,16],"id":"3e6b9e31-ae88-4a51-882d-8f8bbaed069b"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 7-18 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-640,16],"id":"f80487c6-4f8e-42a5-9b1e-803478a28a42","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U","mode":"list","cachedResultName":"APP MOTOQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-432,16],"id":"c52c32fd-7767-497a-8b4c-a35db3ab0c28","name":"app mot","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0","mode":"list","cachedResultName":"ALMOXARIFADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":616716640,"mode":"list","cachedResultName":"TUBOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit#gid=616716640"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Loop Over Items').item.json.ID }}","DATA COMPLETA":"={{ $('Loop Over Items').item.json.DATA }}","MOTOQ":"={{ $('Loop Over Items').item.json.nomeMotoqueiro }}","POSTOS":"={{ $('Loop Over Items').item.json.POSTO }}","SWAB":"={{ $('Loop Over Items').item.json.SWAB }}","FEZES":"={{ $('Loop Over Items').item.json.FEZES }}","SERINGA 5ML":"={{ $('Loop Over Items').item.json['SERINGA 5ML'] }}","SERINGA 10ML":"={{ $('Loop Over Items').item.json['SERINGA 10ML'] }}","AGULHA A VÁCUO":"={{ $('Loop Over Items').item.json['AGULHA A VÁCUO'] }}","REQUISIÇÃO":"={{ $('Loop Over Items').item.json['REQUISIÇÃO'] }}","TUBO SECO":"={{ $('Loop Over Items').item.json['TUBO SECO'] }}","TUBO HEMOGRAMA":"={{ $('Loop Over Items').item.json['TUBO HEMOGRAMA'] }}","TUBO GLICOSE":"={{ $('Loop Over Items').item.json['TUBO GLICOSE'] }}","TUBO TPAE":"={{ $('Loop Over Items').item.json['TUBO TPAE'] }}","UROCULTURA":"={{ $('Loop Over Items').item.json.UROCULTURA }}","CITOLOGIA":"={{ $('Loop Over Items').item.json.CITOLOGIA }}","SUMÁRIO":"={{ $('Loop Over Items').item.json['SUMÁRIO'] }}"},"matchingColumns":["ID"],"schema":[{"id":"CONFERIDO POR","displayName":"CONFERIDO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA COMPLETA","displayName":"DATA COMPLETA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOTOQ","displayName":"MOTOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTOS","displayName":"POSTOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"área semana","displayName":"área semana","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REQUISIÇÃO","displayName":"REQUISIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TUBO SECO","displayName":"TUBO SECO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TUBO HEMOGRAMA","displayName":"TUBO HEMOGRAMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TUBO GLICOSE","displayName":"TUBO GLICOSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TUBO TPAE","displayName":"TUBO TPAE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SWAB","displayName":"SWAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UROCULTURA","displayName":"UROCULTURA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CITOLOGIA","displayName":"CITOLOGIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SUMÁRIO","displayName":"SUMÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FEZES","displayName":"FEZES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 5ML","displayName":"SERINGA 5ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 10ML","displayName":"SERINGA 10ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AGULHA A VÁCUO","displayName":"AGULHA A VÁCUO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"área geral","displayName":"área geral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome área semana","displayName":"nome área semana","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÁREA SÁB","displayName":"ÁREA SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome área sabado","displayName":"nome área sabado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID_AREA","displayName":"ID_AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID_POSTO","displayName":"ID_POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ORDEM","displayName":"ORDEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID_ÁREA","displayName":"ID_ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME_ÁREA","displayName":"NOME_ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,16],"id":"95e38b1f-0d0e-4f27-9f87-351275c494cd","name":"preenche almox","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U","mode":"list","cachedResultName":"APP MOTOQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('app mot').item.json.ID }}","DATA_VALIDACAO":"OK","row_number":0},"matchingColumns":["ID"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MOTOQUEIROS","displayName":"MOTOQUEIROS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AREA","displayName":"AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AREA_POSTO_ESCOLHIDO","displayName":"AREA_POSTO_ESCOLHIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REQUISIÇÃO","displayName":"REQUISIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO SECO","displayName":"TUBO SECO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO HEMOGRAMA","displayName":"TUBO HEMOGRAMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO GLICOSE","displayName":"TUBO GLICOSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO TPAE","displayName":"TUBO TPAE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SWAB","displayName":"SWAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UROCULTURA","displayName":"UROCULTURA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CITOLOGIA","displayName":"CITOLOGIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SUMÁRIO","displayName":"SUMÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FEZES","displayName":"FEZES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 5ML","displayName":"SERINGA 5ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 10ML","displayName":"SERINGA 10ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AGULHA A VÁCUO","displayName":"AGULHA A VÁCUO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TOTAL_PGTO_AREA","displayName":"TOTAL_PGTO_AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOVIMENTO ENVIO","displayName":"MOVIMENTO ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO DINHEIRO","displayName":"PGTO DINHEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO PIX","displayName":"PGTO PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO CARTÃO","displayName":"PGTO CARTÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIMENTO ATRASADO","displayName":"RECEBIMENTO ATRASADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CRÉDITO POSTO","displayName":"CRÉDITO POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCONTO CRÉDITO POSTO","displayName":"DESCONTO CRÉDITO POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REPETIÇÃO","displayName":"REPETIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"COMBUSTÍVEL","displayName":"COMBUSTÍVEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO COLETORA","displayName":"PGTO COLETORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ALUGUEL MOTO","displayName":"ALUGUEL MOTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PEDÁGIO","displayName":"PEDÁGIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DINHEIRO ENTREGUE MOTOQUEIRO","displayName":"DINHEIRO ENTREGUE MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OUTRAS ENTRADAS","displayName":"OUTRAS ENTRADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DÉBITO RESTANTE","displayName":"DÉBITO RESTANTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DÉBITO MOTOQUEIRO","displayName":"DÉBITO MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Pagamento","displayName":"Status Pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"KM ATUAL","displayName":"KM ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO","displayName":"FOTO_RELATORIO_ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO1","displayName":"FOTO_RELATORIO_ENVIO1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO2","displayName":"FOTO_RELATORIO_ENVIO2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_CADERNO","displayName":"FOTO_CADERNO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_INSUMOS_ENTREGUES","displayName":"FOTO_INSUMOS_ENTREGUES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTES_DIVERSOS","displayName":"FOTO_COMPROVANTES_DIVERSOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_DEPOSITO","displayName":"FOTO_DEPOSITO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMBUSTÍVEL","displayName":"FOTO_COMBUSTÍVEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTE PIX","displayName":"FOTO_COMPROVANTE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTE CARTÃO","displayName":"FOTO_COMPROVANTE CARTÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_POSTO_FECHADO","displayName":"FOTO_POSTO_FECHADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"KM RODADO","displayName":"KM RODADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÃO","displayName":"OBSERVAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME_VALIDADOR_DIGITADO","displayName":"NOME_VALIDADOR_DIGITADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SENHA_DIGITADA","displayName":"SENHA_DIGITADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALIDADO","displayName":"VALIDADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA_VALIDACAO","displayName":"DATA_VALIDACAO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"JÁ NA PLANILHA REL MOT","displayName":"JÁ NA PLANILHA REL MOT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[688,16],"id":"a386d464-7f0b-4dd2-acc5-ed933c057449","name":"app mot1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"75b107eb-0e1a-4a22-aa01-9197b45fcafd","leftValue":"={{$json.DATA_VALIDACAO}}","rightValue":"OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,16],"id":"e2adce9e-bd00-4c00-936d-254da32336ee","name":"If"}],"connections":{"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"preenche almox","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"app mot","type":"main","index":0}]]},"app mot":{"main":[[{"node":"If","type":"main","index":0}]]},"preenche almox":{"main":[[{"node":"app mot1","type":"main","index":0}]]},"app mot1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"456f8a50-ff66-4514-99a5-33247bc9c092","activeVersionId":"456f8a50-ff66-4514-99a5-33247bc9c092","triggerCount":1,"shared":[{"updatedAt":"2026-05-12T00:22:35.970Z","createdAt":"2026-05-12T00:22:35.970Z","role":"workflow:owner","workflowId":"h5p5uproFMVhp4Ed","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-07-01T01:32:26.000Z","createdAt":"2026-07-01T01:32:24.097Z","versionId":"456f8a50-ff66-4514-99a5-33247bc9c092","workflowId":"h5p5uproFMVhp4Ed","nodes":[{"parameters":{"jsCode":"return $input.all().map(item => {\n  \n  const data = item.json;\n\n  const mapaMotoqueiros = {\n    1: \"KENNEDY\",\n    2: \"FRANCISCO\",\n    3: \"JEOVA\",\n    4: \"RICARDO\",\n    5: \"SANDRO\",\n    6: \"OUTROS\",\n    7: \"CKELY\",\n    8: \"PRISCILA\"\n  };\n\n  const idMotoqueiro = Number(data.MOTOQUEIROS);\n  const nomeMotoqueiro = mapaMotoqueiros[idMotoqueiro] || \"\";\n\n  return {\n    json: {\n      ...data,\n      nomeMotoqueiro\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"da126796-f8df-4f12-a323-ea62bdb7f4e5","name":"Code in JavaScript"},{"parameters":{"batchSize":100,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[176,0],"id":"2b76de20-9839-47e7-bc2e-28bd7d8af5fd","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[880,16],"id":"3e6b9e31-ae88-4a51-882d-8f8bbaed069b"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 7-18 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-640,16],"id":"f80487c6-4f8e-42a5-9b1e-803478a28a42","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U","mode":"list","cachedResultName":"APP MOTOQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-432,16],"id":"c52c32fd-7767-497a-8b4c-a35db3ab0c28","name":"app mot","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0","mode":"list","cachedResultName":"ALMOXARIFADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":616716640,"mode":"list","cachedResultName":"TUBOS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YpZLVg6TdtJikOuPZQ_h_SOSK7G93vZ3fj0VqoyBzb0/edit#gid=616716640"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('Loop Over Items').item.json.ID }}","DATA COMPLETA":"={{ $('Loop Over Items').item.json.DATA }}","MOTOQ":"={{ $('Loop Over Items').item.json.nomeMotoqueiro }}","POSTOS":"={{ $('Loop Over Items').item.json.POSTO }}","SWAB":"={{ $('Loop Over Items').item.json.SWAB }}","FEZES":"={{ $('Loop Over Items').item.json.FEZES }}","SERINGA 5ML":"={{ $('Loop Over Items').item.json['SERINGA 5ML'] }}","SERINGA 10ML":"={{ $('Loop Over Items').item.json['SERINGA 10ML'] }}","AGULHA A VÁCUO":"={{ $('Loop Over Items').item.json['AGULHA A VÁCUO'] }}","REQUISIÇÃO":"={{ $('Loop Over Items').item.json['REQUISIÇÃO'] }}","TUBO SECO":"={{ $('Loop Over Items').item.json['TUBO SECO'] }}","TUBO HEMOGRAMA":"={{ $('Loop Over Items').item.json['TUBO HEMOGRAMA'] }}","TUBO GLICOSE":"={{ $('Loop Over Items').item.json['TUBO GLICOSE'] }}","TUBO TPAE":"={{ $('Loop Over Items').item.json['TUBO TPAE'] }}","UROCULTURA":"={{ $('Loop Over Items').item.json.UROCULTURA }}","CITOLOGIA":"={{ $('Loop Over Items').item.json.CITOLOGIA }}","SUMÁRIO":"={{ $('Loop Over Items').item.json['SUMÁRIO'] }}"},"matchingColumns":["ID"],"schema":[{"id":"CONFERIDO POR","displayName":"CONFERIDO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA COMPLETA","displayName":"DATA COMPLETA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOTOQ","displayName":"MOTOQ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTOS","displayName":"POSTOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"área semana","displayName":"área semana","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"REQUISIÇÃO","displayName":"REQUISIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TUBO SECO","displayName":"TUBO SECO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TUBO HEMOGRAMA","displayName":"TUBO HEMOGRAMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TUBO GLICOSE","displayName":"TUBO GLICOSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TUBO TPAE","displayName":"TUBO TPAE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SWAB","displayName":"SWAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UROCULTURA","displayName":"UROCULTURA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CITOLOGIA","displayName":"CITOLOGIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SUMÁRIO","displayName":"SUMÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FEZES","displayName":"FEZES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 5ML","displayName":"SERINGA 5ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 10ML","displayName":"SERINGA 10ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AGULHA A VÁCUO","displayName":"AGULHA A VÁCUO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"área geral","displayName":"área geral","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nome área semana","displayName":"nome área semana","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ÁREA SÁB","displayName":"ÁREA SÁB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nome área sabado","displayName":"nome área sabado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MÊS","displayName":"MÊS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID_AREA","displayName":"ID_AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID_POSTO","displayName":"ID_POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ORDEM","displayName":"ORDEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ID_ÁREA","displayName":"ID_ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME_ÁREA","displayName":"NOME_ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"NOME","displayName":"NOME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,16],"id":"95e38b1f-0d0e-4f27-9f87-351275c494cd","name":"preenche almox","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U","mode":"list","cachedResultName":"APP MOTOQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/150ltZcoZW44OQ2XveUTPS85o70n8xK0owV7-O_y1K9U/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $('app mot').item.json.ID }}","DATA_VALIDACAO":"OK","row_number":0},"matchingColumns":["ID"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"MOTOQUEIROS","displayName":"MOTOQUEIROS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AREA","displayName":"AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"POSTO","displayName":"POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AREA_POSTO_ESCOLHIDO","displayName":"AREA_POSTO_ESCOLHIDO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REQUISIÇÃO","displayName":"REQUISIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO SECO","displayName":"TUBO SECO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO HEMOGRAMA","displayName":"TUBO HEMOGRAMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO GLICOSE","displayName":"TUBO GLICOSE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TUBO TPAE","displayName":"TUBO TPAE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SWAB","displayName":"SWAB","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UROCULTURA","displayName":"UROCULTURA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CITOLOGIA","displayName":"CITOLOGIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SUMÁRIO","displayName":"SUMÁRIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FEZES","displayName":"FEZES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 5ML","displayName":"SERINGA 5ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SERINGA 10ML","displayName":"SERINGA 10ML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"AGULHA A VÁCUO","displayName":"AGULHA A VÁCUO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TOTAL_PGTO_AREA","displayName":"TOTAL_PGTO_AREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"MOVIMENTO ENVIO","displayName":"MOVIMENTO ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO DINHEIRO","displayName":"PGTO DINHEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO PIX","displayName":"PGTO PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO CARTÃO","displayName":"PGTO CARTÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIMENTO ATRASADO","displayName":"RECEBIMENTO ATRASADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CRÉDITO POSTO","displayName":"CRÉDITO POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCONTO CRÉDITO POSTO","displayName":"DESCONTO CRÉDITO POSTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REPETIÇÃO","displayName":"REPETIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"COMBUSTÍVEL","displayName":"COMBUSTÍVEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PGTO COLETORA","displayName":"PGTO COLETORA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ALUGUEL MOTO","displayName":"ALUGUEL MOTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PEDÁGIO","displayName":"PEDÁGIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DINHEIRO ENTREGUE MOTOQUEIRO","displayName":"DINHEIRO ENTREGUE MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OUTRAS ENTRADAS","displayName":"OUTRAS ENTRADAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DÉBITO RESTANTE","displayName":"DÉBITO RESTANTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DÉBITO MOTOQUEIRO","displayName":"DÉBITO MOTOQUEIRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status Pagamento","displayName":"Status Pagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"KM ATUAL","displayName":"KM ATUAL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO","displayName":"FOTO_RELATORIO_ENVIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO1","displayName":"FOTO_RELATORIO_ENVIO1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_RELATORIO_ENVIO2","displayName":"FOTO_RELATORIO_ENVIO2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_CADERNO","displayName":"FOTO_CADERNO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_INSUMOS_ENTREGUES","displayName":"FOTO_INSUMOS_ENTREGUES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTES_DIVERSOS","displayName":"FOTO_COMPROVANTES_DIVERSOS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_DEPOSITO","displayName":"FOTO_DEPOSITO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMBUSTÍVEL","displayName":"FOTO_COMBUSTÍVEL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTE PIX","displayName":"FOTO_COMPROVANTE PIX","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_COMPROVANTE CARTÃO","displayName":"FOTO_COMPROVANTE CARTÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FOTO_POSTO_FECHADO","displayName":"FOTO_POSTO_FECHADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"KM RODADO","displayName":"KM RODADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÃO","displayName":"OBSERVAÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME_VALIDADOR_DIGITADO","displayName":"NOME_VALIDADOR_DIGITADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SENHA_DIGITADA","displayName":"SENHA_DIGITADA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VALIDADO","displayName":"VALIDADO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA_VALIDACAO","displayName":"DATA_VALIDACAO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"JÁ NA PLANILHA REL MOT","displayName":"JÁ NA PLANILHA REL MOT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[688,16],"id":"a386d464-7f0b-4dd2-acc5-ed933c057449","name":"app mot1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"75b107eb-0e1a-4a22-aa01-9197b45fcafd","leftValue":"={{$json.DATA_VALIDACAO}}","rightValue":"OK","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-224,16],"id":"e2adce9e-bd00-4c00-936d-254da32336ee","name":"If"}],"connections":{"Code in JavaScript":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"preenche almox","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"app mot","type":"main","index":0}]]},"app mot":{"main":[[{"node":"If","type":"main","index":0}]]},"preenche almox":{"main":[[{"node":"app mot1","type":"main","index":0}]]},"app mot1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"If":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version 456f8a50","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}