workflows/worklab_relacaopendencias-sX0h7v2c61NQewn6.json
{"updatedAt":"2026-05-15T03:06:09.292Z","createdAt":"2026-05-12T00:08:56.049Z","id":"sX0h7v2c61NQewn6","name":"worklab_RelacaoPendencias","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1Xe2aH2eGMixOeVj6_Vg7RRTGcmRm6Rvi' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,192],"id":"cb975060-bc6e-4854-b877-8c48f4b19731","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,192],"id":"3bf6138b-613d-426e-b21b-5973b496597c","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1328,208],"id":"4165d7f7-5d3d-414e-b93c-41326d070f1c"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Relatório Detalhado por Linha","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[736,208],"id":"ba3749ac-9841-47a6-8c6b-87eac4e1792f","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"// ===============================\n// Filtra linhas válidas do Sheets\n// + trata data do campo \"Relatório Paciente por Convênio Detalhado\"\n// + limpa nome do arquivo\n// + adiciona sistema fixo\n// ===============================\n\nconst linhas = $input.all();\n\n// -------------------------------\n// Descobre o índice atual do SplitInBatches (Loop Over Items)\n// -------------------------------\nconst loopCtx = $node[\"Loop Over Items\"]?.context || {};\nconst batchIndex = loopCtx.currentRunIndex ?? loopCtx.currentBatchIndex ?? loopCtx.itemIndex ?? 0;\n\n// -------------------------------\n// Pega o item correspondente do Google Drive2 pelo índice do loop\n// -------------------------------\nconst driveItems = $items(\"Google Drive2\") || [];\nconst driveItem = driveItems[batchIndex] || driveItems[0] || null;\n\nconst nomeArquivoRaw =\n  driveItem?.json?.name ||\n  $json?.name || // fallback se o item atual tiver name\n  null;\n\n// -------------------------------\n// Limpeza robusta do nome do arquivo\n// -------------------------------\nconst nomeArquivo = nomeArquivoRaw\n  ? String(nomeArquivoRaw)\n      .replace(/\\.[^.]+$/, \"\")        // remove extensão\n      .replace(/\\d+/g, \"\")            // remove números\n      .replace(/[._\\-\\/]/g, \" \")      // remove pontuação comum\n      .replace(/\\s+/g, \" \")           // normaliza espaços\n      .trim()\n  : null;\n\n// Normalizador básico\nconst norm = v => String(v || \"\").trim().toLowerCase();\n\n// Extrai data no formato DD/MM/AAAA\nfunction extrairData(valor) {\n  if (!valor) return null;\n  const texto = String(valor).trim();\n  const match = texto.match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n  return match ? match[1] : null;\n}\n\nconst resultado = linhas\n  .filter(item => {\n    const c2 = norm(item.json.col_2);\n    if (!c2) return false;\n    if (c2 === \"código\" || c2 === \"codigo\") return false;\n    return true;\n  })\n  .map(item => {\n    const dataRelatorio = extrairData(\n      item.json[\"Relatório Paciente por Convênio Detalhado\"]\n    );\n\n    return {\n      json: {\n        ...item.json,\n        dataRelatorio,\n        nomeArquivo,\n        sistema: \"WORKLAB\",\n      },\n    };\n  });\n\nreturn resultado;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,208],"id":"d4cf530e-4cc9-4624-88b3-5625413a689f","name":"Code3"},{"parameters":{"content":"# FLUXO WORKLAB\n## PEGAR ARQUIVO NA PASTA E PREENCHE PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n## AMOSTRA TRIADA / EXAME INTEGRADO / MAPA IMPRESSO / SEM RESULTADO","height":428,"width":1544},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"441c84d9-44c5-418d-8ee7-35b88442b5da","name":"Sticky Note"},{"parameters":{"jsCode":"// Cada execução do loop traz 1 item\n// O item atual já está em $json\n\nreturn [\n  {\n    json: {\n      id: $json.id,\n      name: $json.name\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,208],"id":"f153f385-2da2-4bd8-a6e1-82e53d5d5c51","name":"Code4"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-416,464],"id":"b8960152-a940-48b2-9e70-3904a181430f","name":"Schedule Trigger2"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1Xe2aH2eGMixOeVj6_Vg7RRTGcmRm6Rvi' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[32,672],"id":"bc38cace-9ad4-4db2-aa7a-824b9747de9d","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,688],"id":"2da92a12-3604-4907-bb0c-c9aa3b7af8a9","name":"Google Drive5","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[272,672],"id":"14c02c32-d894-45fc-b8ac-45a3d0b78615","name":"Loop Over Items5"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me5","typeVersion":1,"position":[720,688],"id":"12f43cc7-512f-4432-9f73-d626118f69b8"},{"parameters":{"content":"# APAGAR ARQUIVOS\n## PEGAR ARQUIVO NA PASTA E TRANSFERE PARA PASTA BACKUP","height":364,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,512],"id":"4352eb8d-1c06-428f-9a45-26b58dc684a7","name":"Sticky Note2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"match":"={{ $json.col_2 }}|{{ $json.col_5 }}","DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $json['Relatório Paciente por Convênio Detalhado'] }}","Data do Cadastro":"={{ $json.dataRelatorio }}","Registro do Paciente":"={{ $json.col_2 }}","Número do Posto":"={{ $json.col_4 }}","Nome Completo do Paciente":"={{ $json.col_3 }}","SIGLA":"={{ $json.col_5 }}","SISTEMA":"={{ $json.sistema }}","STATUS DA AMOSTRA":"={{ $json.nomeArquivo }}"},"matchingColumns":["match"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ALTERAÇÕES DE CADASTRO","displayName":"ALTERAÇÕES DE CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,208],"id":"52fdfc7b-42d2-415e-9a63-5083a67ee498","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"Google Drive2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code4","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Google Drive4","type":"main","index":0},{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive4":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Google Drive5":{"main":[[{"node":"Replace Me5","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"Google Drive5","type":"main","index":0}]]},"Replace Me5":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a730a85e-068f-4a66-9af9-e4e3fed08288","activeVersionId":"a730a85e-068f-4a66-9af9-e4e3fed08288","triggerCount":1,"shared":[{"updatedAt":"2026-05-12T00:08:56.052Z","createdAt":"2026-05-12T00:08:56.052Z","role":"workflow:owner","workflowId":"sX0h7v2c61NQewn6","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-12T00:09:18.000Z","createdAt":"2026-05-12T00:09:07.843Z","versionId":"a730a85e-068f-4a66-9af9-e4e3fed08288","workflowId":"sX0h7v2c61NQewn6","nodes":[{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1Xe2aH2eGMixOeVj6_Vg7RRTGcmRm6Rvi' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,192],"id":"cb975060-bc6e-4854-b877-8c48f4b19731","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[288,192],"id":"3bf6138b-613d-426e-b21b-5973b496597c","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1328,208],"id":"4165d7f7-5d3d-414e-b93c-41326d070f1c"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Relatório Detalhado por Linha","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[736,208],"id":"ba3749ac-9841-47a6-8c6b-87eac4e1792f","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"// ===============================\n// Filtra linhas válidas do Sheets\n// + trata data do campo \"Relatório Paciente por Convênio Detalhado\"\n// + limpa nome do arquivo\n// + adiciona sistema fixo\n// ===============================\n\nconst linhas = $input.all();\n\n// -------------------------------\n// Descobre o índice atual do SplitInBatches (Loop Over Items)\n// -------------------------------\nconst loopCtx = $node[\"Loop Over Items\"]?.context || {};\nconst batchIndex = loopCtx.currentRunIndex ?? loopCtx.currentBatchIndex ?? loopCtx.itemIndex ?? 0;\n\n// -------------------------------\n// Pega o item correspondente do Google Drive2 pelo índice do loop\n// -------------------------------\nconst driveItems = $items(\"Google Drive2\") || [];\nconst driveItem = driveItems[batchIndex] || driveItems[0] || null;\n\nconst nomeArquivoRaw =\n  driveItem?.json?.name ||\n  $json?.name || // fallback se o item atual tiver name\n  null;\n\n// -------------------------------\n// Limpeza robusta do nome do arquivo\n// -------------------------------\nconst nomeArquivo = nomeArquivoRaw\n  ? String(nomeArquivoRaw)\n      .replace(/\\.[^.]+$/, \"\")        // remove extensão\n      .replace(/\\d+/g, \"\")            // remove números\n      .replace(/[._\\-\\/]/g, \" \")      // remove pontuação comum\n      .replace(/\\s+/g, \" \")           // normaliza espaços\n      .trim()\n  : null;\n\n// Normalizador básico\nconst norm = v => String(v || \"\").trim().toLowerCase();\n\n// Extrai data no formato DD/MM/AAAA\nfunction extrairData(valor) {\n  if (!valor) return null;\n  const texto = String(valor).trim();\n  const match = texto.match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n  return match ? match[1] : null;\n}\n\nconst resultado = linhas\n  .filter(item => {\n    const c2 = norm(item.json.col_2);\n    if (!c2) return false;\n    if (c2 === \"código\" || c2 === \"codigo\") return false;\n    return true;\n  })\n  .map(item => {\n    const dataRelatorio = extrairData(\n      item.json[\"Relatório Paciente por Convênio Detalhado\"]\n    );\n\n    return {\n      json: {\n        ...item.json,\n        dataRelatorio,\n        nomeArquivo,\n        sistema: \"WORKLAB\",\n      },\n    };\n  });\n\nreturn resultado;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,208],"id":"d4cf530e-4cc9-4624-88b3-5625413a689f","name":"Code3"},{"parameters":{"content":"# FLUXO WORKLAB\n## PEGAR ARQUIVO NA PASTA E PREENCHE PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n## AMOSTRA TRIADA / EXAME INTEGRADO / MAPA IMPRESSO / SEM RESULTADO","height":428,"width":1544},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"441c84d9-44c5-418d-8ee7-35b88442b5da","name":"Sticky Note"},{"parameters":{"jsCode":"// Cada execução do loop traz 1 item\n// O item atual já está em $json\n\nreturn [\n  {\n    json: {\n      id: $json.id,\n      name: $json.name\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,208],"id":"f153f385-2da2-4bd8-a6e1-82e53d5d5c51","name":"Code4"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-416,464],"id":"b8960152-a940-48b2-9e70-3904a181430f","name":"Schedule Trigger2"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1Xe2aH2eGMixOeVj6_Vg7RRTGcmRm6Rvi' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[32,672],"id":"bc38cace-9ad4-4db2-aa7a-824b9747de9d","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,688],"id":"2da92a12-3604-4907-bb0c-c9aa3b7af8a9","name":"Google Drive5","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[272,672],"id":"14c02c32-d894-45fc-b8ac-45a3d0b78615","name":"Loop Over Items5"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me5","typeVersion":1,"position":[720,688],"id":"12f43cc7-512f-4432-9f73-d626118f69b8"},{"parameters":{"content":"# APAGAR ARQUIVOS\n## PEGAR ARQUIVO NA PASTA E TRANSFERE PARA PASTA BACKUP","height":364,"width":1400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,512],"id":"4352eb8d-1c06-428f-9a45-26b58dc684a7","name":"Sticky Note2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"match":"={{ $json.col_2 }}|{{ $json.col_5 }}","DATA QUE COLOCOU RELATÓRIO NO DRIVE":"={{ $json['Relatório Paciente por Convênio Detalhado'] }}","Data do Cadastro":"={{ $json.dataRelatorio }}","Registro do Paciente":"={{ $json.col_2 }}","Número do Posto":"={{ $json.col_4 }}","Nome Completo do Paciente":"={{ $json.col_3 }}","SIGLA":"={{ $json.col_5 }}","SISTEMA":"={{ $json.sistema }}","STATUS DA AMOSTRA":"={{ $json.nomeArquivo }}"},"matchingColumns":["match"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ALTERAÇÕES DE CADASTRO","displayName":"ALTERAÇÕES DE CADASTRO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1120,208],"id":"52fdfc7b-42d2-415e-9a63-5083a67ee498","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}}],"connections":{"Google Drive2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code4","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Google Drive4","type":"main","index":0},{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive4":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Google Drive5":{"main":[[{"node":"Replace Me5","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"Google Drive5","type":"main","index":0}]]},"Replace Me5":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Replace Me","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version a730a85e","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}