workflows/worklab_baixaresultados-CQ2FmJuthMEJSlRvwzd49.json
{"updatedAt":"2026-05-06T03:07:55.095Z","createdAt":"2026-04-15T11:39:15.172Z","id":"CQ2FmJuthMEJSlRvwzd49","name":"worklab_baixaResultados","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# FLUXO WORKLAB RESULTADOS\n## PEGAR ARQUIVO NA PASTA E PREENCHE PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n## RESULTADO DIGITADO / RESULTADO IMPRESSO / RESULTADO CONFERIDO / IMPRESSO VIA INTERNET / AMOSTRA NÃO COLHIDA / NOVA COLETA","height":796,"width":2792},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-16,48],"id":"65148508-a97a-416b-8a8c-fade7879c2d9","name":"Sticky Note6"},{"parameters":{"jsCode":"// ======================================================\n// MATCH (Input2 Sheets7) vs (Input1 Sheets5) por 3 chaves\n// Data / Código / Exames  X  Data do Cadastro / Registro do Paciente / SIGLA\n// ✅ Retorna 1 item por match\n// ✅ Retorna todas as variáveis do Input1 e do Input2\n// ✅ Não depende de Loop Over Items3\n// ✅ Se não houver match, retorna 1 item de controle\n// ======================================================\n\nconst norm = (v) =>\n  String(v ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toLowerCase();\n\nfunction extrairDataBR(valor) {\n  if (!valor) return \"\";\n  const m = String(valor).match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n  return m ? m[1] : String(valor).trim();\n}\n\nfunction makeKeyFromInput1(row) {\n  const data = norm(extrairDataBR(row[\"Data\"]));\n  const codigo = norm(row[\"Código\"]);\n  const exame = norm(row[\"Exame\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nfunction makeKeyFromInput2(row) {\n  const data = norm(extrairDataBR(row[\"Data do Cadastro\"]));\n  const codigo = norm(row[\"Registro do Paciente\"]);\n  const exame = norm(row[\"SIGLA\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nconst input1 = $input.all(0); // Sheets5\nconst input2 = $input.all(1); // Sheets7\n\nconst index = new Map();\n\n// indexa o input1\nfor (const it of input1) {\n  const row1 = it.json || {};\n  const key1 = makeKeyFromInput1(row1);\n\n  if (!key1 || key1 === \"♦♦\") continue;\n\n  if (!index.has(key1)) {\n    index.set(key1, []);\n  }\n\n  index.get(key1).push(row1);\n}\n\nconst out = [];\n\n// procura itens do input2 no input1\nfor (const it of input2) {\n  const row2 = it.json || {};\n  const key2 = makeKeyFromInput2(row2);\n\n  if (!key2 || key2 === \"♦♦\") continue;\n\n  const encontrados = index.get(key2);\n  if (!encontrados || encontrados.length === 0) continue;\n\n  for (const row1 of encontrados) {\n    out.push({\n      json: {\n        teveMatch: true,\n        chaveMatch: key2,\n\n        // campos do input1\n        ...row1,\n\n        // campos do input2 com prefixo\n        ...Object.fromEntries(\n          Object.entries(row2).map(([k, v]) => [`input2_${k}`, v])\n        ),\n\n        // objetos completos\n        input1: { ...row1 },\n        input2: { ...row2 },\n      }\n    });\n  }\n}\n\n// se não houver match, retorna item de controle\nif (out.length === 0) {\n  return [\n    {\n      json: {\n        teveMatch: false,\n        totalMatches: 0,\n        repetir: true\n      }\n    }\n  ];\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,448],"id":"4416a5bf-e964-4bfb-bbe9-4af5d7f90042","name":"Code in JavaScript4"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1392,448],"id":"d6015532-869e-4946-944c-f32364116499","name":"Merge2"},{"parameters":{"documentId":{"__rl":true,"value":"=1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[704,464],"id":"83cb3afc-839b-43fd-9752-b443cfd16ac3","name":"Google Sheets7","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"jsCode":"// Cada execução do loop traz 1 item\n// O item atual já está em $json\n\nreturn [\n  {\n    json: {\n      id: $json.id,\n      name: $json.name\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,304],"id":"b87ea547-9739-4267-896a-31e960ab2411","name":"Code6"},{"parameters":{"jsCode":"const linhas = $input.all();\n\n// ---------- util ----------\nfunction extrairData(valor) {\n  if (!valor) return null;\n  const texto = String(valor).trim();\n  const match = texto.match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n  return match ? match[1] : null;\n}\n\nfunction removerZeroEsquerda(valor) {\n  const texto = String(valor ?? \"\").trim();\n  if (!texto) return texto;\n  const semZeroEsquerda = texto.replace(/^0+/, \"\");\n  return semZeroEsquerda || \"0\";\n}\n\n// ---------- nomeArquivo ----------\nconst loopCtx = $node[\"Loop Over Items3\"]?.context || {};\nconst batchIndex =\n  loopCtx.currentRunIndex ??\n  loopCtx.currentBatchIndex ??\n  loopCtx.itemIndex ??\n  0;\n\nconst driveItems = $items(\"Google Drive6\") || [];\nconst driveItem = driveItems[batchIndex] || driveItems[0] || null;\n\nconst nomeArquivoRaw = driveItem?.json?.name || $json?.name || null;\n\nconst nomeArquivo = nomeArquivoRaw\n  ? String(nomeArquivoRaw)\n      .replace(/\\.[^.]+$/, \"\")\n      .replace(/\\d+/g, \"\")\n      .replace(/[._\\-\\/]/g, \" \")\n      .replace(/\\s+/g, \" \")\n      .trim()\n  : null;\n\n// ---------- retorno padrão quando não houver itens ----------\nfunction retornoSemItens(motivo) {\n  return [\n    {\n      json: {\n        semItens: true,\n        motivo,\n        nomeArquivo,\n        sistema: \"WORKLAB\",\n        totalLinhasEntrada: linhas.length,\n      },\n    },\n  ];\n}\n\n// se não veio nada no input\nif (!linhas.length) {\n  return retornoSemItens(\"Nenhum item recebido no input.\");\n}\n\n// ======================================\n// 1) Cabeçalho = linha real 6 da planilha\n// ======================================\nconst headerItem = linhas.find(item => Number(item.json?.row_number) === 6);\n\nif (!headerItem?.json) {\n  return retornoSemItens(\"Cabeçalho da linha 6 não encontrado.\");\n}\n\nconst headerObj = headerItem.json;\n\n// ======================================\n// 2) Montar mapa de renomeação\n// ======================================\nconst headerMap = {};\n\nfor (const [k, v] of Object.entries(headerObj)) {\n  const nomeCabecalho = String(v ?? \"\").replace(/\\s+/g, \" \").trim();\n\n  if (!nomeCabecalho) continue;\n\n  // mapeia colunas técnicas col_X\n  if (/^col_\\d+$/i.test(k)) {\n    headerMap[k] = nomeCabecalho;\n  }\n\n  // mapeia também a primeira coluna longa\n  if (k === \"Relatório Paciente por Convênio Detalhado\") {\n    headerMap[k] = nomeCabecalho; // vira \"Data\"\n  }\n}\n\n// ======================================\n// 3) Renomear colunas usando o headerMap\n// ======================================\nfunction renameColsToHeaders(obj) {\n  const out = {};\n\n  for (const [k, v] of Object.entries(obj || {})) {\n    if (headerMap[k]) {\n      out[headerMap[k]] = v;\n    } else {\n      out[k] = v;\n    }\n  }\n\n  return out;\n}\n\n// ======================================\n// 4) Dados = linhas após a linha 6\n// ======================================\nconst dados = linhas.filter(item => Number(item.json?.row_number) > 6);\n\nfunction isEmptyRow(obj) {\n  return !Object.values(obj || {}).some(v => String(v ?? \"\").trim() !== \"\");\n}\n\nif (!dados.length) {\n  return retornoSemItens(\"Não existem linhas de dados após o cabeçalho.\");\n}\n\n// ======================================\n// 5) Resultado final\n// ======================================\nconst resultado = dados\n  .filter(item => !isEmptyRow(item.json))\n  .map(item => {\n    const renamed = renameColsToHeaders(item.json);\n\n    // remove zero à esquerda em Código\n    if (renamed[\"Código\"] !== undefined && renamed[\"Código\"] !== null) {\n      renamed[\"Código\"] = removerZeroEsquerda(renamed[\"Código\"]);\n    }\n\n    // remove zero à esquerda em Convênio Sigla\n    if (renamed[\"Convênio Sigla\"] !== undefined && renamed[\"Convênio Sigla\"] !== null) {\n      renamed[\"Convênio Sigla\"] = removerZeroEsquerda(renamed[\"Convênio Sigla\"]);\n    }\n\n    const dataFormatada = extrairData(renamed[\"Data\"]) || null;\n    const dataRelatorio = dataFormatada;\n\n    return {\n      json: {\n        ...renamed,\n        Data: dataFormatada,\n        dataRelatorio,\n        nomeArquivo,\n        sistema: \"WORKLAB\",\n      },\n    };\n  })\n  .filter(item => String(item.json?.Data ?? \"\").trim() !== \"\");\n\n// se após os filtros não sobrar nada\nif (!resultado.length) {\n  return retornoSemItens(\"Nenhuma linha válida encontrada após filtrar Data vazia.\");\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,304],"id":"ff2140a9-d54e-4607-bf96-11132b71fb3c","name":"Code5"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Relatório Detalhado por Linha","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[944,304],"id":"4521fd04-81ba-47a0-adcf-8d4ccceeb00f","name":"Google Sheets5","credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[496,288],"id":"5c0dd9a7-c53d-4e54-8eab-5cce6c496033","name":"Loop Over Items3"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1hsiZauwhW1_DygQrdmEpETfKDRd9x3n4' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[288,288],"id":"36899099-ced7-4aea-8ff4-1e8eccd6d767","name":"Google Drive6","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-496,416],"id":"4b4f29fb-51c3-425b-be87-b4a51d009a96","name":"Schedule Trigger1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"RESULTADO NO SISTEMA":"={{ $json.nomeArquivo }} / {{ $json['input2_DATA QUE COLOCOU RELATÓRIO NO DRIVE'] }}","row_number":"={{ $json.input2_row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1872,448],"id":"5cc2697f-d052-4f82-ab42-6e04d18cc95c","name":"Google Sheets2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"2V2jdD9tsRVb25gc","name":"Google Sheets account 2"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[768,720],"id":"fc74a194-b278-4650-824c-70df6936765b","name":"Google Drive10","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[2160,448],"id":"bbea34b4-0439-4131-be7c-8e0ffb97c708"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1hsiZauwhW1_DygQrdmEpETfKDRd9x3n4' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[288,704],"id":"06b7e5af-e48b-4207-82ea-e8bc0d0bfa59","name":"Google Drive7","credentials":{"googleDriveOAuth2Api":{"id":"IVAINfxtAV6VtZEi","name":"labovida"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[512,704],"id":"332eab75-e3f1-4f56-a06f-87d91ce31448","name":"Loop Over Items1"}],"connections":{"Code in JavaScript4":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Google Sheets7":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Code6":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Code6","type":"main","index":0},{"node":"Google Sheets7","type":"main","index":0}]]},"Google Drive6":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Drive6","type":"main","index":0},{"node":"Google Drive7","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Google Drive7":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Google Drive10","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"srwywxoMLUS-8v6W8Ft5w","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"a7f15024-8efb-4aad-a2fc-63d5ca6ea270","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-04-15T11:39:15.172Z","createdAt":"2026-04-15T11:39:15.172Z","role":"workflow:owner","workflowId":"CQ2FmJuthMEJSlRvwzd49","projectId":"WGvpYEj3IIzUPhIZ"}],"activeVersion":null,"tags":[{"updatedAt":"2026-05-06T02:54:58.704Z","createdAt":"2026-05-06T02:54:58.704Z","id":"ygL2uYM5HCb5J8No","name":"fluxo_ok"}]}