workflows/worklab_baixaresultados-gjFzo1z7jfAGQocB.json
{"updatedAt":"2026-05-23T20:18:05.510Z","createdAt":"2026-05-12T00:07:06.461Z","id":"gjFzo1z7jfAGQocB","name":"worklab_baixaResultados","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"# FLUXO WORKLAB RESULTADOS\n## PEGAR ARQUIVO NA PASTA E PREENCHE PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n## RESULTADO DIGITADO / RESULTADO IMPRESSO / RESULTADO CONFERIDO / IMPRESSO VIA INTERNET / AMOSTRA NÃO COLHIDA / NOVA COLETA","height":796,"width":2792},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"958854f1-ccf0-4428-80ed-a7d9e104b809","name":"Sticky Note6"},{"parameters":{"jsCode":"// ======================================================\n// MATCH (Input2 Sheets7) vs (Input1 Sheets5) por 3 chaves\n// Data / Código / Exames  X  Data do Cadastro / Registro do Paciente / SIGLA\n// ✅ Retorna 1 item por match\n// ✅ Retorna todas as variáveis do Input1 e do Input2\n// ✅ Não depende de Loop Over Items3\n// ✅ Se não houver match, retorna 1 item de controle\n// ======================================================\n\nconst norm = (v) =>\n  String(v ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toLowerCase();\n\nfunction extrairDataBR(valor) {\n  if (!valor) return \"\";\n  const m = String(valor).match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n  return m ? m[1] : String(valor).trim();\n}\n\nfunction makeKeyFromInput1(row) {\n  const data = norm(extrairDataBR(row[\"Data\"]));\n  const codigo = norm(row[\"Código\"]);\n  const exame = norm(row[\"Exame\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nfunction makeKeyFromInput2(row) {\n  const data = norm(extrairDataBR(row[\"Data do Cadastro\"]));\n  const codigo = norm(row[\"Registro do Paciente\"]);\n  const exame = norm(row[\"SIGLA\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nconst input1 = $input.all(0); // Sheets5\nconst input2 = $input.all(1); // Sheets7\n\nconst index = new Map();\n\n// indexa o input1\nfor (const it of input1) {\n  const row1 = it.json || {};\n  const key1 = makeKeyFromInput1(row1);\n\n  if (!key1 || key1 === \"♦♦\") continue;\n\n  if (!index.has(key1)) {\n    index.set(key1, []);\n  }\n\n  index.get(key1).push(row1);\n}\n\nconst out = [];\n\n// procura itens do input2 no input1\nfor (const it of input2) {\n  const row2 = it.json || {};\n  const key2 = makeKeyFromInput2(row2);\n\n  if (!key2 || key2 === \"♦♦\") continue;\n\n  const encontrados = index.get(key2);\n  if (!encontrados || encontrados.length === 0) continue;\n\n  for (const row1 of encontrados) {\n    out.push({\n      json: {\n        teveMatch: true,\n        chaveMatch: key2,\n\n        // campos do input1\n        ...row1,\n\n        // campos do input2 com prefixo\n        ...Object.fromEntries(\n          Object.entries(row2).map(([k, v]) => [`input2_${k}`, v])\n        ),\n\n        // objetos completos\n        input1: { ...row1 },\n        input2: { ...row2 },\n      }\n    });\n  }\n}\n\n// se não houver match, retorna item de controle\nif (out.length === 0) {\n  return [\n    {\n      json: {\n        teveMatch: false,\n        totalMatches: 0,\n        repetir: true\n      }\n    }\n  ];\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,400],"id":"ad738c08-8e9d-4637-8d37-4b18267715bf","name":"Code in JavaScript4"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1408,400],"id":"dee01bef-29c8-4db7-978f-e82707929126","name":"Merge2"},{"parameters":{"documentId":{"__rl":true,"value":"=1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[720,416],"id":"8549471e-3509-4384-95bf-5ad9d051ebc1","name":"Google Sheets7","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"// Cada execução do loop traz 1 item\n// O item atual já está em $json\n\nreturn [\n  {\n    json: {\n      id: $json.id,\n      name: $json.name\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,256],"id":"c79c5ec4-2ecf-42bc-a2d5-da674454b9a0","name":"Code6"},{"parameters":{"jsCode":"const linhas = $input.all();\n\n// ---------- util ----------\nfunction extrairData(valor) {\n  if (!valor) return null;\n  const texto = String(valor).trim();\n  const match = texto.match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n  return match ? match[1] : null;\n}\n\nfunction removerZeroEsquerda(valor) {\n  const texto = String(valor ?? \"\").trim();\n  if (!texto) return texto;\n  const semZeroEsquerda = texto.replace(/^0+/, \"\");\n  return semZeroEsquerda || \"0\";\n}\n\n// ---------- nomeArquivo ----------\nconst loopCtx = $node[\"Loop Over Items3\"]?.context || {};\nconst batchIndex =\n  loopCtx.currentRunIndex ??\n  loopCtx.currentBatchIndex ??\n  loopCtx.itemIndex ??\n  0;\n\nconst driveItems = $items(\"Google Drive6\") || [];\nconst driveItem = driveItems[batchIndex] || driveItems[0] || null;\n\nconst nomeArquivoRaw = driveItem?.json?.name || $json?.name || null;\n\nconst nomeArquivo = nomeArquivoRaw\n  ? String(nomeArquivoRaw)\n      .replace(/\\.[^.]+$/, \"\")\n      .replace(/\\d+/g, \"\")\n      .replace(/[._\\-\\/]/g, \" \")\n      .replace(/\\s+/g, \" \")\n      .trim()\n  : null;\n\n// ---------- retorno padrão quando não houver itens ----------\nfunction retornoSemItens(motivo) {\n  return [\n    {\n      json: {\n        semItens: true,\n        motivo,\n        nomeArquivo,\n        sistema: \"WORKLAB\",\n        totalLinhasEntrada: linhas.length,\n      },\n    },\n  ];\n}\n\n// se não veio nada no input\nif (!linhas.length) {\n  return retornoSemItens(\"Nenhum item recebido no input.\");\n}\n\n// ======================================\n// 1) Cabeçalho = linha real 6 da planilha\n// ======================================\nconst headerItem = linhas.find(item => Number(item.json?.row_number) === 6);\n\nif (!headerItem?.json) {\n  return retornoSemItens(\"Cabeçalho da linha 6 não encontrado.\");\n}\n\nconst headerObj = headerItem.json;\n\n// ======================================\n// 2) Montar mapa de renomeação\n// ======================================\nconst headerMap = {};\n\nfor (const [k, v] of Object.entries(headerObj)) {\n  const nomeCabecalho = String(v ?? \"\").replace(/\\s+/g, \" \").trim();\n\n  if (!nomeCabecalho) continue;\n\n  // mapeia colunas técnicas col_X\n  if (/^col_\\d+$/i.test(k)) {\n    headerMap[k] = nomeCabecalho;\n  }\n\n  // mapeia também a primeira coluna longa\n  if (k === \"Relatório Paciente por Convênio Detalhado\") {\n    headerMap[k] = nomeCabecalho; // vira \"Data\"\n  }\n}\n\n// ======================================\n// 3) Renomear colunas usando o headerMap\n// ======================================\nfunction renameColsToHeaders(obj) {\n  const out = {};\n\n  for (const [k, v] of Object.entries(obj || {})) {\n    if (headerMap[k]) {\n      out[headerMap[k]] = v;\n    } else {\n      out[k] = v;\n    }\n  }\n\n  return out;\n}\n\n// ======================================\n// 4) Dados = linhas após a linha 6\n// ======================================\nconst dados = linhas.filter(item => Number(item.json?.row_number) > 6);\n\nfunction isEmptyRow(obj) {\n  return !Object.values(obj || {}).some(v => String(v ?? \"\").trim() !== \"\");\n}\n\nif (!dados.length) {\n  return retornoSemItens(\"Não existem linhas de dados após o cabeçalho.\");\n}\n\n// ======================================\n// 5) Resultado final\n// ======================================\nconst resultado = dados\n  .filter(item => !isEmptyRow(item.json))\n  .map(item => {\n    const renamed = renameColsToHeaders(item.json);\n\n    // remove zero à esquerda em Código\n    if (renamed[\"Código\"] !== undefined && renamed[\"Código\"] !== null) {\n      renamed[\"Código\"] = removerZeroEsquerda(renamed[\"Código\"]);\n    }\n\n    // remove zero à esquerda em Convênio Sigla\n    if (renamed[\"Convênio Sigla\"] !== undefined && renamed[\"Convênio Sigla\"] !== null) {\n      renamed[\"Convênio Sigla\"] = removerZeroEsquerda(renamed[\"Convênio Sigla\"]);\n    }\n\n    const dataFormatada = extrairData(renamed[\"Data\"]) || null;\n    const dataRelatorio = dataFormatada;\n\n    return {\n      json: {\n        ...renamed,\n        Data: dataFormatada,\n        dataRelatorio,\n        nomeArquivo,\n        sistema: \"WORKLAB\",\n      },\n    };\n  })\n  .filter(item => String(item.json?.Data ?? \"\").trim() !== \"\");\n\n// se após os filtros não sobrar nada\nif (!resultado.length) {\n  return retornoSemItens(\"Nenhuma linha válida encontrada após filtrar Data vazia.\");\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,256],"id":"723f02f0-0fd7-48f3-bb54-ac31aa7e3d17","name":"Code5"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Relatório Detalhado por Linha","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[960,256],"id":"c6c8ff78-c46d-444f-b2b6-877955abd864","name":"Google Sheets5","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[512,240],"id":"b1f3b9ff-6128-4e77-ace0-bfc9c3e4d480","name":"Loop Over Items3"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1hsiZauwhW1_DygQrdmEpETfKDRd9x3n4' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[304,240],"id":"80a5c316-589b-4cb1-a4c6-5a6c0995033c","name":"Google Drive6","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/7 8-17 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,368],"id":"bfc15476-4a20-4b5c-a274-cf2ae731052a","name":"Schedule Trigger1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"RESULTADO NO SISTEMA":"={{ $json.nomeArquivo }} / {{ $json['input2_DATA QUE COLOCOU RELATÓRIO NO DRIVE'] }}","row_number":"={{ $json.input2_row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1888,400],"id":"d58abb99-2bc0-47f9-a979-958ed89ac1ce","name":"Google Sheets2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[784,672],"id":"43eb9637-bd37-4da3-8b95-716f1dbf9d5c","name":"Google Drive10","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[2176,400],"id":"c9f5c1cf-2a5a-484f-a67b-e5fd345a9f7f"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1hsiZauwhW1_DygQrdmEpETfKDRd9x3n4' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[304,656],"id":"6eaf8cfe-5975-4bb7-8f10-10f2ebe8fb11","name":"Google Drive7","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[528,656],"id":"8c59a79f-ae13-48ba-aad3-9e1b4a8f7278","name":"Loop Over Items1"}],"connections":{"Code in JavaScript4":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Google Sheets7":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Code6":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Code6","type":"main","index":0},{"node":"Google Sheets7","type":"main","index":0}]]},"Google Drive6":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Drive6","type":"main","index":0},{"node":"Google Drive7","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Google Drive7":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Google Drive10","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","errorWorkflow":"1jxaj9raKLgo2JA5","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"04449684-3e52-4d49-b61a-fd0bb92f767d","activeVersionId":"04449684-3e52-4d49-b61a-fd0bb92f767d","triggerCount":1,"shared":[{"updatedAt":"2026-05-12T00:07:06.464Z","createdAt":"2026-05-12T00:07:06.464Z","role":"workflow:owner","workflowId":"gjFzo1z7jfAGQocB","projectId":"Jyy47ZlZaFawo1Ju"}],"activeVersion":{"updatedAt":"2026-05-23T20:18:07.000Z","createdAt":"2026-05-23T20:18:05.510Z","versionId":"04449684-3e52-4d49-b61a-fd0bb92f767d","workflowId":"gjFzo1z7jfAGQocB","nodes":[{"parameters":{"content":"# FLUXO WORKLAB RESULTADOS\n## PEGAR ARQUIVO NA PASTA E PREENCHE PLANILHA E DEPOIS APAGA O ARQUIVO DA PASTA\n## RESULTADO DIGITADO / RESULTADO IMPRESSO / RESULTADO CONFERIDO / IMPRESSO VIA INTERNET / AMOSTRA NÃO COLHIDA / NOVA COLETA","height":796,"width":2792},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"958854f1-ccf0-4428-80ed-a7d9e104b809","name":"Sticky Note6"},{"parameters":{"jsCode":"// ======================================================\n// MATCH (Input2 Sheets7) vs (Input1 Sheets5) por 3 chaves\n// Data / Código / Exames  X  Data do Cadastro / Registro do Paciente / SIGLA\n// ✅ Retorna 1 item por match\n// ✅ Retorna todas as variáveis do Input1 e do Input2\n// ✅ Não depende de Loop Over Items3\n// ✅ Se não houver match, retorna 1 item de controle\n// ======================================================\n\nconst norm = (v) =>\n  String(v ?? \"\")\n    .replace(/\\u00A0/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim()\n    .toLowerCase();\n\nfunction extrairDataBR(valor) {\n  if (!valor) return \"\";\n  const m = String(valor).match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n  return m ? m[1] : String(valor).trim();\n}\n\nfunction makeKeyFromInput1(row) {\n  const data = norm(extrairDataBR(row[\"Data\"]));\n  const codigo = norm(row[\"Código\"]);\n  const exame = norm(row[\"Exame\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nfunction makeKeyFromInput2(row) {\n  const data = norm(extrairDataBR(row[\"Data do Cadastro\"]));\n  const codigo = norm(row[\"Registro do Paciente\"]);\n  const exame = norm(row[\"SIGLA\"]);\n  return `${data}♦${codigo}♦${exame}`;\n}\n\nconst input1 = $input.all(0); // Sheets5\nconst input2 = $input.all(1); // Sheets7\n\nconst index = new Map();\n\n// indexa o input1\nfor (const it of input1) {\n  const row1 = it.json || {};\n  const key1 = makeKeyFromInput1(row1);\n\n  if (!key1 || key1 === \"♦♦\") continue;\n\n  if (!index.has(key1)) {\n    index.set(key1, []);\n  }\n\n  index.get(key1).push(row1);\n}\n\nconst out = [];\n\n// procura itens do input2 no input1\nfor (const it of input2) {\n  const row2 = it.json || {};\n  const key2 = makeKeyFromInput2(row2);\n\n  if (!key2 || key2 === \"♦♦\") continue;\n\n  const encontrados = index.get(key2);\n  if (!encontrados || encontrados.length === 0) continue;\n\n  for (const row1 of encontrados) {\n    out.push({\n      json: {\n        teveMatch: true,\n        chaveMatch: key2,\n\n        // campos do input1\n        ...row1,\n\n        // campos do input2 com prefixo\n        ...Object.fromEntries(\n          Object.entries(row2).map(([k, v]) => [`input2_${k}`, v])\n        ),\n\n        // objetos completos\n        input1: { ...row1 },\n        input2: { ...row2 },\n      }\n    });\n  }\n}\n\n// se não houver match, retorna item de controle\nif (out.length === 0) {\n  return [\n    {\n      json: {\n        teveMatch: false,\n        totalMatches: 0,\n        repetir: true\n      }\n    }\n  ];\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1648,400],"id":"ad738c08-8e9d-4637-8d37-4b18267715bf","name":"Code in JavaScript4"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1408,400],"id":"dee01bef-29c8-4db7-978f-e82707929126","name":"Merge2"},{"parameters":{"documentId":{"__rl":true,"value":"=1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[720,416],"id":"8549471e-3509-4384-95bf-5ad9d051ebc1","name":"Google Sheets7","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"jsCode":"// Cada execução do loop traz 1 item\n// O item atual já está em $json\n\nreturn [\n  {\n    json: {\n      id: $json.id,\n      name: $json.name\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,256],"id":"c79c5ec4-2ecf-42bc-a2d5-da674454b9a0","name":"Code6"},{"parameters":{"jsCode":"const linhas = $input.all();\n\n// ---------- util ----------\nfunction extrairData(valor) {\n  if (!valor) return null;\n  const texto = String(valor).trim();\n  const match = texto.match(/\\b(\\d{2}\\/\\d{2}\\/\\d{4})\\b/);\n  return match ? match[1] : null;\n}\n\nfunction removerZeroEsquerda(valor) {\n  const texto = String(valor ?? \"\").trim();\n  if (!texto) return texto;\n  const semZeroEsquerda = texto.replace(/^0+/, \"\");\n  return semZeroEsquerda || \"0\";\n}\n\n// ---------- nomeArquivo ----------\nconst loopCtx = $node[\"Loop Over Items3\"]?.context || {};\nconst batchIndex =\n  loopCtx.currentRunIndex ??\n  loopCtx.currentBatchIndex ??\n  loopCtx.itemIndex ??\n  0;\n\nconst driveItems = $items(\"Google Drive6\") || [];\nconst driveItem = driveItems[batchIndex] || driveItems[0] || null;\n\nconst nomeArquivoRaw = driveItem?.json?.name || $json?.name || null;\n\nconst nomeArquivo = nomeArquivoRaw\n  ? String(nomeArquivoRaw)\n      .replace(/\\.[^.]+$/, \"\")\n      .replace(/\\d+/g, \"\")\n      .replace(/[._\\-\\/]/g, \" \")\n      .replace(/\\s+/g, \" \")\n      .trim()\n  : null;\n\n// ---------- retorno padrão quando não houver itens ----------\nfunction retornoSemItens(motivo) {\n  return [\n    {\n      json: {\n        semItens: true,\n        motivo,\n        nomeArquivo,\n        sistema: \"WORKLAB\",\n        totalLinhasEntrada: linhas.length,\n      },\n    },\n  ];\n}\n\n// se não veio nada no input\nif (!linhas.length) {\n  return retornoSemItens(\"Nenhum item recebido no input.\");\n}\n\n// ======================================\n// 1) Cabeçalho = linha real 6 da planilha\n// ======================================\nconst headerItem = linhas.find(item => Number(item.json?.row_number) === 6);\n\nif (!headerItem?.json) {\n  return retornoSemItens(\"Cabeçalho da linha 6 não encontrado.\");\n}\n\nconst headerObj = headerItem.json;\n\n// ======================================\n// 2) Montar mapa de renomeação\n// ======================================\nconst headerMap = {};\n\nfor (const [k, v] of Object.entries(headerObj)) {\n  const nomeCabecalho = String(v ?? \"\").replace(/\\s+/g, \" \").trim();\n\n  if (!nomeCabecalho) continue;\n\n  // mapeia colunas técnicas col_X\n  if (/^col_\\d+$/i.test(k)) {\n    headerMap[k] = nomeCabecalho;\n  }\n\n  // mapeia também a primeira coluna longa\n  if (k === \"Relatório Paciente por Convênio Detalhado\") {\n    headerMap[k] = nomeCabecalho; // vira \"Data\"\n  }\n}\n\n// ======================================\n// 3) Renomear colunas usando o headerMap\n// ======================================\nfunction renameColsToHeaders(obj) {\n  const out = {};\n\n  for (const [k, v] of Object.entries(obj || {})) {\n    if (headerMap[k]) {\n      out[headerMap[k]] = v;\n    } else {\n      out[k] = v;\n    }\n  }\n\n  return out;\n}\n\n// ======================================\n// 4) Dados = linhas após a linha 6\n// ======================================\nconst dados = linhas.filter(item => Number(item.json?.row_number) > 6);\n\nfunction isEmptyRow(obj) {\n  return !Object.values(obj || {}).some(v => String(v ?? \"\").trim() !== \"\");\n}\n\nif (!dados.length) {\n  return retornoSemItens(\"Não existem linhas de dados após o cabeçalho.\");\n}\n\n// ======================================\n// 5) Resultado final\n// ======================================\nconst resultado = dados\n  .filter(item => !isEmptyRow(item.json))\n  .map(item => {\n    const renamed = renameColsToHeaders(item.json);\n\n    // remove zero à esquerda em Código\n    if (renamed[\"Código\"] !== undefined && renamed[\"Código\"] !== null) {\n      renamed[\"Código\"] = removerZeroEsquerda(renamed[\"Código\"]);\n    }\n\n    // remove zero à esquerda em Convênio Sigla\n    if (renamed[\"Convênio Sigla\"] !== undefined && renamed[\"Convênio Sigla\"] !== null) {\n      renamed[\"Convênio Sigla\"] = removerZeroEsquerda(renamed[\"Convênio Sigla\"]);\n    }\n\n    const dataFormatada = extrairData(renamed[\"Data\"]) || null;\n    const dataRelatorio = dataFormatada;\n\n    return {\n      json: {\n        ...renamed,\n        Data: dataFormatada,\n        dataRelatorio,\n        nomeArquivo,\n        sistema: \"WORKLAB\",\n      },\n    };\n  })\n  .filter(item => String(item.json?.Data ?? \"\").trim() !== \"\");\n\n// se após os filtros não sobrar nada\nif (!resultado.length) {\n  return retornoSemItens(\"Nenhuma linha válida encontrada após filtrar Data vazia.\");\n}\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,256],"id":"723f02f0-0fd7-48f3-bb54-ac31aa7e3d17","name":"Code5"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"Relatório Detalhado por Linha","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[960,256],"id":"c6c8ff78-c46d-444f-b2b6-877955abd864","name":"Google Sheets5","credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[512,240],"id":"b1f3b9ff-6128-4e77-ace0-bfc9c3e4d480","name":"Loop Over Items3"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1hsiZauwhW1_DygQrdmEpETfKDRd9x3n4' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[304,240],"id":"80a5c316-589b-4cb1-a4c6-5a6c0995033c","name":"Google Drive6","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/7 8-17 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,368],"id":"bfc15476-4a20-4b5c-a274-cf2ae731052a","name":"Schedule Trigger1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ","mode":"list","cachedResultName":"Pendência Material","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"PENDÊNCIA GERAL","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1292l-UB5dr6ZBJuAic5jgX945nUcaabqCcVn9b7nYDQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"RESULTADO NO SISTEMA":"={{ $json.nomeArquivo }} / {{ $json['input2_DATA QUE COLOCOU RELATÓRIO NO DRIVE'] }}","row_number":"={{ $json.input2_row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","displayName":"DATA QUE COLOCOU RELATÓRIO NO DRIVE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Data do Cadastro","displayName":"Data do Cadastro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ÁREA","displayName":"ÁREA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Registro do Paciente","displayName":"Registro do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Número do Posto","displayName":"Número do Posto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nome Completo do Paciente","displayName":"Nome Completo do Paciente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SIGLA","displayName":"SIGLA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DESCRIÇÃO DO EXAME","displayName":"DESCRIÇÃO DO EXAME","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LINHAS QUE SE REPETEM ","displayName":"LINHAS QUE SE REPETEM ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS DA AMOSTRA","displayName":"STATUS DA AMOSTRA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SISTEMA","displayName":"SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"APOIO","displayName":"APOIO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA RESULTADO PREVISTA","displayName":"DATA RESULTADO PREVISTA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RESULTADO NO SISTEMA","displayName":"RESULTADO NO SISTEMA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"PROCURAR MATERIAL?","displayName":"PROCURAR MATERIAL?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Observações (Detalhes sobre a pendência)","displayName":"Observações (Detalhes sobre a pendência)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","displayName":"DATA QUE A COLUNA PROCURAR MATERIAL FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ENCONTRADO POR","displayName":"ENCONTRADO POR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA ENCONTRADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TRIAGEM","displayName":"OBSERVAÇÕES ÁREA TRIAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"RECEBIDO POR ","displayName":"RECEBIDO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"REALIZADO POR ","displayName":"REALIZADO POR ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","displayName":"DATA QUE A COLUNA REALIZADO POR FOI PREENCHIDA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"OBSERVAÇÕES ÁREA TÉCNICA","displayName":"OBSERVAÇÕES ÁREA TÉCNICA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PRAZO RESULTADO EM DIAS","displayName":"PRAZO RESULTADO EM DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"STATUS","displayName":"STATUS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"QT DIAS","displayName":"QT DIAS","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"match","displayName":"match","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1888,400],"id":"d58abb99-2bc0-47f9-a979-958ed89ac1ce","name":"Google Sheets2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"BGENKi9QeeTQWjMb","name":"financeiro"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH","mode":"list","cachedResultName":"backup","cachedResultUrl":"https://drive.google.com/drive/folders/16DrvOJm7WS2cDd3mM2_93U1KvAXRp5RH"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[784,672],"id":"43eb9637-bd37-4da3-8b95-716f1dbf9d5c","name":"Google Drive10","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[2176,400],"id":"c9f5c1cf-2a5a-484f-a67b-e5fd345a9f7f"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"='1hsiZauwhW1_DygQrdmEpETfKDRd9x3n4' in parents","filter":{"folderId":{"mode":"list","value":"root","cachedResultName":"/ (Root folder)"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[304,656],"id":"6eaf8cfe-5975-4bb7-8f10-10f2ebe8fb11","name":"Google Drive7","credentials":{"googleDriveOAuth2Api":{"id":"h6wKyFQvncDjFyaT","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[528,656],"id":"8c59a79f-ae13-48ba-aad3-9e1b4a8f7278","name":"Loop Over Items1"}],"connections":{"Code in JavaScript4":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Google Sheets7":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Code6":{"main":[[{"node":"Google Sheets5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Code6","type":"main","index":0},{"node":"Google Sheets7","type":"main","index":0}]]},"Google Drive6":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Drive6","type":"main","index":0},{"node":"Google Drive7","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Replace Me1","type":"main","index":0}]]},"Google Drive7":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Google Drive10","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]}},"authors":"Mickeliny de Sena","name":"Version 04449684","description":"","autosaved":true},"tags":[{"updatedAt":"2026-05-12T01:30:57.016Z","createdAt":"2026-05-12T01:30:57.016Z","id":"YSW6uffFWQDJyeuS","name":"fluxo_git"}]}